<?php
/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_Mpsplitorder
* @author    Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/
?>


<div class="cc-success-message">
  <div class="checkout-success">
      <i class="ccicon ccicon-check-flat"></i>
      <h2 class="page-subtitle"><?php echo __('Thanks for your purchase!') ?></h2>
      <p><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
      <?php if ($block->getOrderId()) { ?>
          <?php if(count($block->getOrderArray()) > 1) { ?>
              <p><?php echo __('Your orders # are:') ?> </p>
              <?php
              $flag = false;
              foreach ($block->getOrderArray() as $key => $orderValue) {
                  if($flag) {
                      echo ",";
                  }
                 $flag = true;
                  if ($block->getCanViewOrder()) { ?>
                      <a href="<?php echo $block->escapeHtml($orderValue['view_order_id']) ?>"><?php echo $block->escapeHtml($orderValue['order_id']) ?> </a>
                  <?php } else { ?>
                       <?php echo $block->escapeHtml($orderValue['order_id']) ?>
                  <?php  }?>
              <?php }
          } else {
            
            $orderId = $block->getOrderId();
            $om = \Magento\Framework\App\ObjectManager::getInstance();
            $_order = $om->create('Magento\Sales\Model\Order')->loadByIncrementId($orderId);

              if ($block->getCanViewOrder()) { ?>
                   <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($orderId))) ?></p>
              <?php } else { ?>
                      <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($orderId)) ?></p>
          <?php }?>
            <?php if ($_order->getOrdenDeCompra()) :?>
                <p><?= __('To continue the process in MercadoPublico: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $_order->getUrlOrdenDeCompra(), $_order->getOrdenDeCompra())) ?></p>
            <?php endif;?>
          <?php } ?>
  <?php } ?>

      <?php echo $block->getAdditionalInfoHtml() ?>

      <div class="actions-toolbar">
          <div class="primary">
              <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
          </div>
      </div>
  </div>
  <?php $block->removeData(); ?>
</div>
