<?php
/**
 * @var $block \Formax\Warranty\Block\Adminhtml\CustomerEdit\Tab\View
 */
?>
<?php $_items = $block->getWarranties(); ?>
<?php $totalItems = $_items !== null && is_array($_items) ? count($_items) : 0; ?>
<div class="fieldset-wrapper">
    <div class="fieldset-wrapper-title">
        <span class="title"><?= __('Current Warranties') ?></span>
    </div>
    <div id="warrantyGrid" data-grid-id="warrantyGrid">
        <div class="admin__data-grid-header admin__data-grid-toolbar">
            <div class="admin__data-grid-header-row">
                <div class="admin__control-support-text">
                    <span id="warrantyGrid-total-count" data-ui-id="customer-warranty-grid-total-count">
                        <?= $totalItems . ' ' . __('records found') ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
            <?php if ($totalItems === 0) :?>
                <table class="data-grid" id="warrantyGrid_table">
                    <thead>
                        <tr>
                            <th class="data-grid-th  no-link col-number"><span><?= __('Warranty Type') ?></span></th>
                            <th class="data-grid-th  no-link col-amount"><span><?= __('Amount') ?></span></th>
                            <th class="data-grid-th  no-link col-bank"><span><?= __('Bank') ?></span></th>
                            <th class="data-grid-th  no-link col-expiration-date"><span><?= __('Expiration Date') ?></span></th>
                            <th class="data-grid-th  last no-link col-status"><span><?= __('Status') ?></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="data-grid-tr-no-data" data-role="row">
                            <td class="empty-text" colspan="6"><?= __("We couldn't find any records.") ?></td>
                        </tr>
                    </tbody>
                </table>
            <?php else :?>
                <table class="data-grid" id="warrantyGrid_table">
                    <thead>
                        <tr>
                            <th class="data-grid-th  no-link col-number"><span><?= __('Warranty Type') ?></span></th>
                            <th class="data-grid-th  no-link col-amount"><span><?= __('Amount') ?></span></th>
                            <th class="data-grid-th  no-link col-bank"><span><?= __('Bank') ?></span></th>
                            <th class="data-grid-th  no-link col-expiration-date"><span><?= __('Expiration Date') ?></span></th>
                            <th class="data-grid-th  last no-link col-status"><span><?= __('Status') ?></span></th>
                        </tr>
                    </thead>
                    <?php $i = 0 ?>
                    <tbody class="<?php /* @escapeNotVerified */ echo($i % 2) ? 'even' : 'odd' ?>">
                        <?php foreach ($_items as $_item):$i++ ?>
                            <tr class="option-row">
                                <td>
                                    <span><?= $_item->getType() ?></span>
                                </td>
                                <td>
                                    <span><?= '$' . number_format($_item->getAmount(), 0, ',', '.') ?></span>
                                </td>
                                <td>
                                    <span><?= $_item->getBank() ?></span>
                                </td>
                                <td>
                                    <span><?= $_item->getExpirationDate() ?></span>
                                </td>
                                <td>
                                    <span><?= $_item->getStatus() ?></span>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
</div>