<?php
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');

$isPartner= $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
$allow_pro_type=$_helper->getAllowedProductType();
$isSellerGroup = $_helper->isSellerGroupModuleInstalled();
?>
<nav data-mage-init='{"Webkul_Marketplace/js/sellerNavigation": {}}' class="wk-mp-menu wk-mp-main">
    <ul id="wk-mp-nav">
        <?php
        if($isPartner && $block->shouldRenderButton())
        { ?>
            <?php if($isSellerGroup || !$isSellerGroup) { ?>
                <li class="wk-mp-item-customer level-0 <?php echo strpos($magentoCurrentUrl,'regionalconditionexpansion/seller/regionalForm')? "current active":"";?>" id="wk-mp-menu-dashboard" >
                    <a href="<?php echo $block->getUrl('regionalconditionexpansion/seller/regionalForm', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'regionalconditionexpansion/seller/regionalForm')? "active":"";?>">
                        <span><?php echo "Ampliar Cobertura" ?></span>
                    </a>
                </li>
                <?php
            } ?>

        <?php } ?>
    </ul>
</nav>