<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$helper = $this->helper('Webkul\MpVendorAttributeManager\Helper\Data');
$mpHelper = $this->helper('Webkul\Marketplace\Helper\Data');
$regionHelper = $this->helper('Formax\AssignProduct\Helper\MpAssignProduct');
$isSeller = $mpHelper->isSeller();
$mediaUrl = $mpHelper->getMediaUrl();
$customer = $block->loadCustomer($mpHelper->getCustomerId());
$vendorAttributes = $block->getAttributeCollection($isSeller);
if($helper->getConfigData('group_display') && $customer->getIsVendorGroup()){
    $vendorAttributes = $block->getAttributeCollectionByGroup($customer->getIsVendorGroup(),$isSeller);
}
$avoidAttributes = [
  'dccp_stamp_',
  'wkv_dccp_id'
];
$nonEditables = [
  'dccp_state_details',
  'dccp_rut',
  'dccp_business_name',
  'dccp_id',
  'dccp_date_of_entry'
];
$yesNoOnlyBetter = [
  'wkv_dccp_apc',
  'wkv_dccp_mda'
];
$phoneFields = [
    'wkv_dccp_phone'
];
$withPercentField = [
    'wkv_dccp_gb_discount'
];
$isEmailInput = [
    'wkv_dccp_email'
];
$DisplayInEdit = [
    'wkv_dccp_rut',
    'wkv_dccp_business_name',
    'wkv_dccp_lega_rep_name',
    'wkv_replegal_mail',
    'wkv_replegal_phone',
    'wkv_dccp_name',
    'wkv_dccp_email',
    'wkv_dccp_phone',
    'wkv_rut_encargado_tecnico',
    'wkv_pe_mz_norte',
    'wkv_pe_mz_centro',
    'wkv_pe_mz_sur',
    'wkv_pe_mz_austral',
    'wkv_dccp_commune',
    'wkv_region_origen',
    'wkv_dccp_email_notify',
];

if ($isSeller && $vendorAttributes) :
?>
<div class="wkeditprofile">
    <form action="<?php echo $block->getActionUrl(); ?>" enctype="multipart/form-data" method="post" data-role="form-profile-validate" data-mage-init='{"validation":{}, "customValidation":{}}' id="formVendorAttributesMarketplace">
        <?php echo $block->getBlockHtml('formkey');?>
        <?php echo $block->getBlockHtml('seller.formkey')?>

        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset custom-fieldset">
                <div class="wk-mp-page-title page-title">
                    <button class="button wk-mp-btn" title="<?php echo __('Save Attributes') ?>" type="submit" id="save-btn">
                        <span><span><?php echo __('Save Attributes') ?></span></span>
                    </button>
                    <legend class="legend"><span><?php echo $block->getConfigData('profile_label') ?></span></legend>
                </div>

                <div class="field profile seller-profile-stamps first-left-tooltip">
                    <label for="Sellos" class="label">
                        <span><?= __('Stamps') ?></span>
                    </label>
                    <div class="stamp-control">
                      <?php
                        if($stampsBlock = $block->getChildBlock('cc.stamps.block')):
                          $stampsBlock->setSellerId($customer->getId());
                          echo $block->getChildHtml('cc.stamps.block',false);
                        endif;
                      ?>
                    </div>
                </div>

                <?php
                foreach ($vendorAttributes as $vendorAttribute) {
                  $attributeCode = $vendorAttribute->getAttributeCode();
                  foreach($DisplayInEdit as $codesAttributes){
                    if ($attributeCode === $codesAttributes){

                  $nextAttr = false;
                  foreach($avoidAttributes as $avoidAttr){
                    if(($avoidAttr === $attributeCode) || (strpos($attributeCode, $avoidAttr)!==false)){
                      $nextAttr = true;
                    }
                  }
                  if($nextAttr)
                    continue;

                    $isRequired = $block->checkIfRequired($vendorAttribute->getId());
                    
                    $isPhoneField = false;
                    foreach($phoneFields as $phoneField){
                        if(strpos($attributeCode, $phoneField) !== false){
                            $isPhoneField = true;
                        }
                    }

                    $validateEmail = false;
                    foreach($isEmailInput as $emailInput){
                        if(strpos($attributeCode, $emailInput) !== false){
                            $validateEmail = true;
                        }
                    }

                    $isWithPercent = false;
                    foreach($withPercentField as $percentField){
                        if(strpos($attributeCode, $percentField) !== false){
                            $isWithPercent = true;
                        }
                    }
                ?>
                    <div class="field profile <?php echo $isRequired ? 'required' : '' ?>">
                        <label for="<?php echo $vendorAttribute->getFrontendLabel(); ?>" class="label">
                            <span><?php echo $vendorAttribute->getFrontendLabel(); ?></span>
                        </label>
                        <div class="control 
                            <?= $isPhoneField ? 'phone-control' : '' ?>
                            <?= $isWithPercent ? 'percent-control' : '' ?>
                            ">
                            <?php
                            $onlyTextAttr = false;
                            $cssClass = '';
                            foreach($nonEditables as $nonEditable){
                              if(($nonEditable === $attributeCode) || (strpos($attributeCode, $nonEditable)!==false)){
                                $onlyTextAttr = true;
                                $cssClass = 'disabled';
                              }
                            }

                            switch ($vendorAttribute->getFrontendInput()) {
                                case "text" :
                                    if($isPhoneField):
                            ?>
                                <input type="text" class="phone-prefix" value="+56" disabled="disabled" readonly>
                            <?php endif; ?>
                                <input 
                                
                                <?php if($isWithPercent): ?>
                                type="number"
                                <?php else: ?>
                                type="text"
                                <?php endif; ?>
                                
                                <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>"
                                                    id="<?php echo $attributeCode; ?>"
        <?php echo $isRequired ? 'data-validate="{required:true '. ($validateEmail ? ', validateEmail: true' : '') . ' }"' : '' ?>
                                                  <?php endif; ?>
                                    <?= $isPhoneField ? 'maxlength="10" ' : '' ?>
                                    value="<?php echo $customer->getData($attributeCode); ?>"
                                    class="input-text
                                    <?php echo $isPhoneField || $isWithPercent ? 'onlynumbers-input' : '' ?>
                                    <?php echo $isPhoneField ? 'phoneCL' : '' ?>
                                    <?php echo $isWithPercent ? 'onlybetter-numbers' : '' ?>
                                    <?php echo $cssClass ?> <?= $vendorAttribute->getFrontendClass(); ?>"
                                    autocomplete="off" <?php echo $cssClass ?>
                                    <?php echo $isWithPercent ? 'data-original="'.$customer->getData($attributeCode).'"' : '' ?>/>
                            <?php
                                    if($isWithPercent):
                                        ?>
                                        <input type="text" class="percent-suffix" value="%" disabled="disabled" readonly>
                                        <?php
                                    endif;
                                break;
                                case "textarea" :
                            ?>
                                <textarea <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>"
                                            id="<?php echo $attributeCode; ?>"
                                            <?php echo $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                          <?php endif; ?>
                                            class="input-text <?php echo $cssClass ?> <?php echo $vendorAttribute->getFrontendClass(); ?>" <?php echo $cssClass ?>><?php echo $customer->getData($attributeCode); ?></textarea>
                            <?php
                                break;
                                case "date" :
                                $attributeValue = $customer->getData($attributeCode);
                                $dateValue = $block->convertDateFormat($attributeValue);

                            ?>
                                <input type="text" <?php if(!$onlyTextAttr): ?>name="<?php echo $attributeCode; ?>"
                                                    id="<?php echo $attributeCode; ?>"
                                                    <?php echo $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                                  <?php endif; ?>
                                                    value="<?php echo $dateValue; ?>"
                                                    class="dob_type <?php echo $cssClass ?> <?php echo $vendorAttribute->getFrontendClass(); ?>"

                                                    autocomplete="off" <?php echo $cssClass ?>>
                            <?php
                                break;
                                case "boolean" :
                                    $value = $customer->getData($attributeCode);
                                    if(in_array($attributeCode, $yesNoOnlyBetter) && $value==1){
                                      $onlyTextAttr = true;
                                      $cssClass = 'disabled';
                                    }
                            ?>
                                <input type="checkbox" <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>"
                                                       id="<?php echo $attributeCode; ?>"
                                                       onchange="this.value = this.checked ? 1 : 0;"
                                                       <?php echo $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                                     <?php endif; ?>
                                                       class="input-text <?php echo $cssClass ?> <?php echo $vendorAttribute->getFrontendClass(); ?>"
                                                       value="<?php echo $customer->getData($attributeCode); ?>"
                                                       <?php echo $customer->getData($attributeCode) ? 'checked' : '' ; ?> <?php echo $cssClass ?>/>
                            <?php
                                break;
                                case "multiselect" :
                                    $options = $vendorAttribute->getSource()->getAllOptions();
                                    $selectedoptions = $customer->getData($attributeCode);
                            ?>
                                <select <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>[]"
                                          id="<?php echo $attributeCode; ?>"
                                          <?php echo $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                        <?php endif; ?>
                                        class="input-select <?php echo $cssClass ?> <?php echo $vendorAttribute->getFrontendClass(); ?>"
                                        multiple="multiple" <?php echo $cssClass ?>>
                                        <?php
                                            foreach ($options as $option) {
                                                $selected = in_array($option['value'],$selectedoptions) ? "selected" : ""; ?>
                                        ?>
                                            <option  value="<?php echo $option['value'] ?>" <?php echo $selected; ?>>
                                                <?php echo $option['label'] ?>
                                            </option>
                                        <?php } ?>
                                </select>
                            <?php
                                break;
                                case "select" :
                                    $options = $vendorAttribute->getSource()->getAllOptions();
                                    $selectedOption = $customer->getData($attributeCode);
                                    if ($attributeCode == 'wkv_region_origen') {
                                        $options = $regionHelper->formatRegions($options);
                                    }
                            ?>
                                <select <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>"
                                        id="<?php echo $attributeCode; ?>"
                                      <?php endif; ?>
                                        class="input-select <?php echo $cssClass ?> <?php echo $vendorAttribute->getFrontendClass(); ?>" <?php echo $cssClass ?>>
                                        <?php
                                            foreach ($options as $option) {
                                                $selected = ($option['value'] == $selectedOption) ? "selected" : ""; ?>
                                            <option  value="<?php echo $option['value'] ?>" <?php echo $selected; ?>> <?php echo $option['label'] ?></option>
                                        <?php } ?>
                                </select>
                            <?php
                                break;
                                case "image" :
                                    $imageValue = $customer->getData($attributeCode);
                                    if (isset($imageValue) && $imageValue != 1) {
                                        $imageUrl = $mediaUrl."vendorfiles/image".$imageValue;
                                    }
                            ?>
                                <?php if (isset($imageValue) && $imageValue != 1) { ?>
                                    <a href="<?php echo $imageUrl; ?>" onclick="imagePreview('customfields_your_image_image'); return false;">
                                        <img src="<?php echo $imageUrl; ?>" id="customfields_your_image_image"
                                                title="<?php echo __("Preview Image"); ?>"
                                                height="22" width="22" class="small-image-preview v-middle">
                                    </a>
                                <?php } ?>
                                <input type="file" name="<?php echo $attributeCode; ?>"
                                                    id="<?php echo $attributeCode; ?>"
                                                    data-allowed="<?php echo $helper->getConfigData('allowede_image_extension'); ?>"
                                                    class="custom_file <?php  echo $attributeCode; ?>"
                                                    <?php echo $isRequired && !isset($imageValue) ? 'data-validate="{required:true}"' : '' ?>
                                                    data-value="<?php echo $imageValue; ?>" />
                                <?php if (!$isRequired && isset($imageValue) && $imageValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox" name="<?php echo $attributeCode; ?>['delete']" value="" onchange="this.value = this.checked ? 1 : 0;" class="checkbox">
                                        <label for="customfields_your_image_delete"><?php echo __('Delete Image') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?php echo $attributeCode; ?>']"
                                        value="<?php echo $imageValue; ?>" />
                                <?php } ?>
                                <br/>
                                <span class="note">
                                    <?php echo __("Allowed Extension's : "); ?>
                                    <span><?php echo $helper->getConfigData('allowede_image_extension') ?></span>
                                </span>
                            <?php
                                break;
                                case "file" :
                                    $fileValue = $customer->getData($attributeCode);
                                    if (isset($fileValue) && $fileValue != 1) {
                                        $fileUrl = $mediaUrl."vendorfiles/file".$fileValue;
                                    }
                            ?>
                                <?php if (isset($fileValue) && $fileValue != 1) { ?>
                                    <a href="<?php echo $fileUrl; ?>">
                                        <img alt="Download" title="Download"
                                            src="<?php echo $block->getViewFileUrl('Webkul_MpVendorAttributeManager::images/download.gif'); ?>"
                                            class="v-middle wk_download_link" style="float: left;width: 22px;">
                                        <?php echo __('Download'); ?>
                                    </a>
                                <?php } ?>
                                <input type="file" name="<?php echo $attributeCode; ?>"
                                                    id="<?php echo $attributeCode; ?>"
                                                    data-allowed="<?php echo $helper->getConfigData('allowede_file_extension') ?>"
                                                    class="custom_file <?php  echo $attributeCode; ?> "
                                                    <?php echo $isRequired && !isset($fileValue) ? 'data-validate="{required:true}"' : '' ?>
                                                    data-value="<?php echo $fileValue; ?>" />
                                <?php if (!$isRequired && isset($fileValue) && $fileValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox" name="<?php echo $attributeCode; ?>['delete']" value="" onchange="this.value = this.checked ? 1 : 0;" class="checkbox">
                                        <label for="customfields_your_image_delete"><?php echo __('Delete File') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?php echo $attributeCode; ?>']"
                                        value="<?php echo $fileValue; ?>" />
                                <?php } ?>
                                <br/>
                                <span class="note">
                                    <?php echo __("Allowed Extension's : "); ?>
                                    <span><?php echo $helper->getConfigData('allowede_file_extension') ?></span>
                                </span>
                            <?php
                                break;
                                default :
                            ?>
                                <input type="text" <?php if(!$onlyTextAttr): ?> name="<?php echo $attributeCode; ?>"
                                            id="<?php echo $attributeCode; ?>"
                                            <?php endif; ?>
                                            data-type= "<?php echo $vendorAttribute->getFrontendType(); ?>"
                                            value=""
                                            class="input-text <?php echo $cssClass ?>" autocomplete="off" <?php echo $cssClass ?>>
                            <?php
                            }
                            ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php } ?>
                <?php } ?>
                <div class="field profile" style="margin-top:30px;">
                    <button class="button wk-mp-btn" title="<?php echo __('Save Attributes') ?>" type="submit" id="save-btn">
                        <span><span><?php echo __('Save Attributes') ?></span></span>
                    </button>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<?php endif; ?>
<?php
    $optionData = [
        'dateField'     => '.dob_type',
        'dateFormat'     => 'M/d/Y',
        'imageField'    => '.custom_file',
    ];
    $serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($optionData);
?>
<script type="text/x-magento-init">
{
    "*": {
        "editProfile": <?php /* @noEscape */ echo $serializedData; ?>
    }
}
</script>
