<?php
/**
 * SearchSuggestion search template.
 * Webkul Software
 * @category Webkul
 * @package Webkul_SearchSuggestion
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
$url=$this->getUrl();
$storeHelper = $this->helper('Formax\AgreementInfo\Helper\Store');
$agreementName = $storeHelper->getWebsiteName();
if ($agreementName == \Cleverit\ComputadoresRenewal\Constants::WEBSITE_NAME) {
    $agreementName = 'Computadores Website';
} else if($agreementName == \Intellicore\ComputadoresRenewal2\Constants::WEBSITE_NAME) {
    $agreementName = \Intellicore\ComputadoresRenewal2\Constants::WEBSITE_NAME;
}
$searchLength = $storeHelper->getSearchLength();
$data = json_encode(["url" => $url, "searchlength" => $searchLength]);
?>
<div class="block block-search">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get" autocomplete="off">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </label>
                <div class="control">
                    <input id="search"
                    data-mage-init='{"quickSearch":{
                        "formSelector":"#search_mini_form",
                        "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                        "destinationSelector":"#search_autocomplete"}
                    }'
                    placeholder="<?= /* @escapeNotVerified */ __('Busca productos en %1', $agreementName) ?>"
                    type="text" name="q" autocomplete="off" />
                    <div id="search_autocomplete" class="search-autocomplete">
                        <div class="wk_ss_list" ><ul class="wk_ss_showlist" ></ul></div>
                    </div>
                    <?php echo $block->getChildHtml() ?>
                </div>
            </div>
            <div id="wk_ss_loader">
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?php echo $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
{
    "body": {
        "Webkul_SearchSuggestion/js/searchsuggestion": <?php echo $data ?>
    }
}
</script>
