<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helperRegional = $this->helper('Formax\RegionalCondition\Helper\Data');
$macrozonesHelper = $this->helper('Summa\MacrozoneFactors\Helper\Data');
$partner=$block->getProfileDetail();
$customerBlock = $this->getLayout()->createBlock('Summa\CustomerData\Block\CustomerData');

if ($partner['shop_url']) {
    if ($helper->getActiveColorPicker()) { ?>
        <style>
            .page-main{
                background-image:none;
                background-color:<?php echo $block->escapeHtml($partner['background_width']);?>;
            }
        </style>
    <?php } ?>
    <div class="wk_mp_design">
        <?php echo $block->getChildHtml("marketplace_seller_top_block")?>
        <div class="wk-mp-collection-container">
            <div class="wk-mp-profile-block" id="stamps-block">
                <div class="wk-mp-aboutus-title">
                    <?php echo __('Stamps') ?>
                </div>
                <div class="wk-mp-aboutus-data seller-profile-stamps">
                    <?php
                    if($stampsBlock = $block->getChildBlock('cc.stamps.block')):
                        $stampsBlock->setSellerId($partner->getSellerId());
                        echo $block->getChildHtml('cc.stamps.block');
                    endif;
                    ?>
                </div>
            </div>
            <div class="wk-mp-profile-block wk-mp-custom-regional" id="commercial-conditions">
                <div class="wk-mp-aboutus-title">
                    <?php echo __("Commercial Conditions")?>
                </div>
                <div class="wk-mp-aboutus-data">
                    <?php echo $block->getChildHtml("marketplace_commercial_conditions")?>
                </div>
            </div>

            <div class="wk-mp-custom-regional">
                <?php
                $matrix = $helperRegional->getMatrixbySeller($partner->getSellerId());
                $weight = $helperRegional->getWeight();
                $regional = $helperRegional->getRegionalConditionFormated($partner->getSellerId());
                $macrozones = $macrozonesHelper->getMacrozoneFactorsBySeller($partner->getSellerId());

                if ($regional || $matrix || $macrozones):
                    ?>
                    <div class="wk-mp-profile-block" id="about-us">
                        <div class="wk-mp-aboutus-title">
                            <?php echo __("Regional Conditions")?>
                        </div>

                        <div class="wk-mp-aboutus-data">
                            <?php if($macrozones): ?>
                                <div class="box-regional-matrix">
                                    <table>
                                        <tr style="width: 100%">
                                            <td class="table-title">
                                                &nbsp;
                                               <table>
                                                   <tr>
                                                       <td>
                                                           Macrozona
                                                       </td>
                                                   </tr>
                                               </table>
                                            </td>
                                            <td class="table-title">
                                                Peso Kg / Zona Urbana
                                                <table>
                                                    <tr>
                                                        <td class='table-data'>0-100</td>
                                                        <td class='table-data'>100-300</td>
                                                        <td class='table-data'>300-5000</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="table-title">
                                                Peso Kg / Zona Rural
                                                <table>
                                                    <tr>
                                                        <td class='table-data'>0-100</td>
                                                        <td class='table-data'>100-300</td>
                                                        <td class='table-data'>300-5000</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <?php foreach ($macrozones as $macrozone => $data): ?>
                                            <tr>
                                                <td class="table-title">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <?php echo $macrozone ?>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <?php foreach ($data as $factor): ?>
                                                                <?php
                                                                    if($factor['weight_range'] == '0-100')
                                                                    {
                                                                        $value = !empty($factor['urban_factor']) ? $factor['urban_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }

                                                                    if($factor['weight_range'] == '100-300')
                                                                    {
                                                                        $value = !empty($factor['urban_factor']) ? $factor['urban_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }

                                                                    if($factor['weight_range'] == '300-5000')
                                                                    {
                                                                        $value = !empty($factor['urban_factor']) ? $factor['urban_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }
                                                                ?>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <?php foreach ($data as $factor): ?>
                                                                <?php
                                                                    if($factor['weight_range'] == '0-100')
                                                                    {
                                                                        $value = !empty($factor['rural_factor']) ? $factor['rural_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }

                                                                    if($factor['weight_range'] == '100-300')
                                                                    {
                                                                        $value = !empty($factor['rural_factor']) ? $factor['rural_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }

                                                                    if($factor['weight_range'] == '300-5000')
                                                                    {
                                                                        $value = !empty($factor['rural_factor']) ? $factor['rural_factor'] : "N/A";
                                                                        echo "<td class='table-data'>$" . $value . "</td>";
                                                                    }
                                                                ?>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    </table>
                                </div>
                            <?php endif; ?>
                            <?php if ($matrix): ?>
                                <div class="box-regional-matrix">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <?php foreach ($matrix as $title => $info): ?>
                                                <th><?= $title; ?></th>
                                            <?php endforeach; ?>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($weight as $w) :?>
                                            <tr>
                                                <td><?= $w->getDimensionLabel(); ?></td>
                                                <?php foreach ($matrix as $title => $info) :?>
                                                    <?php if (isset($info[$w->getDimensionLabel()])) :?>
                                                        <td><?= $info[$w->getDimensionLabel()] ?></td>
                                                    <?php else :?>
                                                        <td></td>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            <?php endif; ?>

                            <?php if ($regional): ?>
                                <div class="box-regional-info" id="box-content-regional">
                                    <?php foreach ($regional as $region): ?>
                                        <div class="item">
                                            <div data-role="collapsible">
                                                <div class="title" data-role="trigger">
                                                    <span><?= $region['region_name']; ?></span>
                                                </div>
                                            </div>
                                            <div class="content" data-role="content">
                                                <table class="admin__table-secondary order-information-table">
                                                    <tbody>
                                                    <tr>
                                                        <th><?= __('Contact Name') ?></th>
                                                        <td><?= $customerBlock->shouldDisplayData() ? $region['contact_name'] : 'Información oculta'; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Contact Phone') ?></th>
                                                        <td><?= $customerBlock->shouldDisplayData() ? $region['contact_phone'] : 'Información oculta'; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Contact Email') ?></th>
                                                        <td><?= $customerBlock->shouldDisplayData() ? $region['contact_email'] : 'Información oculta'; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Maximum Amount Order') ?></th>
                                                        <td><?= $region['maximum_amount']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Maximum Products Qty to Deliver') ?></th>
                                                        <td><?= $region['maximum_qty']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Storepickup') ?></th>
                                                        <td><?= $region['enable_storepickup']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Delivery Time Store Pickup') ?></th>
                                                        <td><?= $region['days_storepickup']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Maximum Delivery Time Store Pickup') ?></th>
                                                        <td><?= $region['maximum_delivery']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Emergency Store Pickup') ?></th>
                                                        <td><?= $region['enable_emergency_storepickup']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Delivery Time Emergency Store Pickup') ?></th>
                                                        <td><?= $region['days_emergency_storepickup']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Maximum Delivery Time Emergency Store Pickup') ?></th>
                                                        <td><?= $region['maximum_emergency_delivery']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th><?= __('Shop Address Takeout') ?></th>
                                                        <td><?= $customerBlock->shouldDisplayData() ? $region['shop_address_takeout'] : 'Información oculta'; ?></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php }  ?>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $("#box-content-regional").accordion();
    });
</script>
