<?php
/** @var \Cleverit\ChatBot\Block\ChatBot $block */
$isEnabled = $block->isModuleEnabled();
$appId = $block->getAppId();
$accessToken = $block->getAccessToken();
$isPartner= $block->isSeller();
$isLoggedIn = $block->isLoggedIn();
$delayTimeout = $block->getDelayTimeout();

?>
<?php if ($isPartner && $isEnabled && $isLoggedIn): ?>
    <!-- You have to put this piece of JavaScript code into your web page
    Note: Use <!DOCTYPE html> on the page where snippet located for better rendering
    -->
    <link type="text/css" rel="stylesheet" href="https://newgo.brightpattern.com/clientweb/chat-client-v4/css/form.css">
    <script type="text/javascript">
        SERVICE_PATTERN_CHAT_CONFIG = {
            "appId": "<?= $appId ?>",
            "apiUrl": "https://newgo.brightpattern.com/clientweb/api/v1",
            "tenantUrl": "newgo.brightpattern.com",
            "chatPath": "https://www.newgo.cl",
            "parameters": {
                "token": "<?= $accessToken ?>"
            }
        };
        
        setTimeout(function() {
            try {
                requirejs(['jquery', 'domReady!'], function ($) {
                    $.getScript('https://www.newgo.cl/chat/js/init.js')
                        .done(function() {
                            console.log("Chatbot Load was performed.");
                        })
                        .fail(function(jqxhr, settings, exception) {
                            console.error("Chatbot Load was unsuccessful. " + exception);
                        });
                });
            } catch (e) {
                console.error(e);
            }
        }, <?= $delayTimeout ?>);
    </script>
<?php endif; ?>
