<?php
/**
 * @var $block \Formax\Penalty\Block\Adminhtml\CustomerEdit\Tab\View
 */
?>
<?php $_data = $block->getCurrentSellerAndAgreement(); ?>
<?php if ($_data) :?>
    <?php $_items = $block->getPenalties(); ?>
    <?php $totalItems = $_items !== null ? count($_items) : 0; ?>

    <?php if ($_items) :?>
        <div class="pp-buttons-container" style="float:right;">
            <button id="fx-penalty-button" onclick="return false;">
                <span>
                    <span>
                        <span><?= $block->escapeHtml(__('Clear Form')) ?></span>
                    </span>
                </span>
            </button>
        </div>
        <div class="fieldset-wrapper customer-information">
            <div class="fieldset-wrapper-title">
                <span class="title"><?= $block->escapeHtml(__('Personal Information')) ?></span>
            </div>
            <table class="admin__table-secondary">
                <tbody>
                <?php if ($_data->getAgreementName()) :?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Agreement:')) ?></th>
                        <td><?= $block->escapeHtml($_data->getAgreementName()) ?>
                    </tr>
                <?php endif; ?>
                <?php if ($_data->getSellerName()) :?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Seller:')) ?></th>
                        <td><?= $block->escapeHtml($_data->getSellerName()) ?>
                    </tr>
                <?php endif; ?>
            </table>
        </div>

        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <span class="title"><?= __('Penalties') ?></span>
            </div>
            <div id="penaltyGrid" data-grid-id="penaltyGrid">
                <?php
                if (!$totalItems) :
                ?>
                <div class="admin__data-grid-header admin__data-grid-toolbar">
                    <div class="admin__data-grid-header-row">
                        <div class="admin__control-support-text">
                            <span id="penaltyGrid-total-count" data-ui-id="customer-penalty-grid-total-count">
                                <?= $totalItems . ' ' . __('No penalties was found.') ?>
                            </span>
                        </div>
                    </div>
                </div>
                <?php
                endif;
                ?>
                <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
                    <?php if ($totalItems === 0) :?>
                        <table class="data-grid" id="penaltyGrid_table">
                            <thead>
                                <tr>
                                    <th class="col-sel"></th>
                                    <th class="col-penalty-id"></th>
                                    <th class="col-seller-id"></th>
                                    <th class="col-agreement-id"></th>
                                    <th class="col-penalty-type-id"></th>
                                    <th class="col-days"></th>
                                    <th class="col-holidays"></th>
                                    <th class="col-file"></th>
                                    <th class="col-ext-file"></th>
                                    <th class="col-id"></th>
                                    <th class="data-grid-th no-link col-code"><span><?= __('Code') ?></span></th>
                                    <th class="data-grid-th no-link col-type"><span><?= __('Type') ?></span></th>
                                    <th class="data-grid-th no-link col-number"><span><?= __('Resolution Number') ?></span></th>
                                    <th class="data-grid-th no-link col-description"><span><?= __('Description') ?></span></th>
                                    <th class="data-grid-th no-link col-created-date"><span><?= __('Created Date') ?></span></th>
                                    <th class="data-grid-th no-link col-start-date"><span><?= __('Start Date') ?></span></th>
                                    <th class="data-grid-th no-link col-end-date"><span><?= __('End Date') ?></span></th>
                                    <th class="data-grid-th last no-link col-status"><span><?= __('Status') ?></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="data-grid-tr-no-data" data-role="row">
                                    <td class="empty-text" colspan="18"><?= __("This seller doesn't have penalties.") ?></td>
                                </tr>
                            </tbody>
                        </table>
                    <?php else :?>
                        <table class="data-grid" id="penaltyGrid_table">
                            <thead>
                                <tr>
                                    <th class="col-sel"></th>
                                    <th class="col-penalty-id"></th>
                                    <th class="col-seller-id"></th>
                                    <th class="col-agreement-id"></th>
                                    <th class="col-penalty-type-id"></th>
                                    <th class="col-days"></th>
                                    <th class="col-holidays"></th>
                                    <th class="col-file"></th>
                                    <th class="col-ext-file"></th>
                                    <th class="col-id"></th>
                                    <th class="data-grid-th no-link col-code"><span><?= __('Code') ?></span></th>
                                    <th class="data-grid-th no-link col-type"><span><?= __('Type') ?></span></th>
                                    <th class="data-grid-th no-link col-number"><span><?= __('Resolution Number') ?></span></th>
                                    <th class="data-grid-th no-link col-description"><span><?= __('Description') ?></span></th>
                                    <th class="data-grid-th no-link col-created-date"><span><?= __('Created Date') ?></span></th>
                                    <th class="data-grid-th no-link col-start-date"><span><?= __('Start Date') ?></span></th>
                                    <th class="data-grid-th no-link col-end-date"><span><?= __('End Date') ?></span></th>
                                    <th class="data-grid-th last no-link col-status"><span><?= __('Status') ?></span></th>
                                </tr>
                            </thead>
                            <?php $i = 0 ?>
                            <tbody class="<?php /* @escapeNotVerified */ echo($i % 2) ? 'even' : 'odd' ?>">
                                <?php foreach ($_items as $_item):$i++ ?>
                                    <?php if ($_item->getStatus() == 1) :?>
                                        <?php $createdDate = $_item->getCreatedAt() && $_item->getCreatedAt() != '0000-00-00 00:00:00'
                                            ? new \DateTime($_item->getCreatedAt()) : '' ?>
                                    <?php else :?>
                                        <?php $createdDate = $_item->getUpdatedAt() && $_item->getUpdatedAt() != '0000-00-00 00:00:00'
                                            ? new \DateTime($_item->getUpdatedAt()) : '' ?>
                                    <?php endif; ?>
                                    <?php $startDate = $_item->getStartDate() ? new \DateTime($_item->getStartDate()) : '' ?>
                                    <?php $endDate = $_item->getEndDate() ? new \DateTime($_item->getEndDate()) : '' ?>
                                    <tr class="option-row">
                                        <td>
                                            <?php if ($_item->getStatus() == 1) :?>
                                                <span><input class="radio-penalty" type="radio" name="select_penalty" value="<?= $_item->getEntityId() ?>"></span>
                                            <?php endif; ?>
                                        </td>
                                        <td class="col-seller-id">
                                            <span class="seller_id"><?= $_item->getDccpSellerId() ?></span>
                                        </td>
                                        <td class="col-penalty-id">
                                            <span class="penalty_id"><?= $_item->getPenaltyId() ?></span>
                                        </td>
                                        <td class="col-agreement-id">
                                            <span class="agreement_id"><?= $_item->getAgreementId() ?></span>
                                        </td>
                                        <td class="col-penalty-type-id">
                                            <span class="penalty_type_id"><?= $_item->getPenaltyTypeId() ?></span>
                                        </td>
                                        <td class="col-days">
                                            <span class="penalty_days"><?= $_item->getPenaltyDays() ?></span>
                                        </td>
                                        <td class="col-holidays">
                                            <span class="include_holidays"><?= $_item->getIncludeHolidays() ?></span>
                                        </td>
                                        <td class="col-file">
                                            <span class="file"><?= $_item->getFile() ?></span>
                                        </td>
                                        <td class="col-ext-file">
                                            <span class="ext-file"><?= $block->getExtFile($_item->getFile()) ?></span>
                                        </td>
                                        <td class="col-id">
                                            <span class="entity_id"><?= $_item->getEntityId() ?></span>
                                        </td>
                                        <td>
                                            <span class="penalty_code"><?= $_item->getPenaltyCode() ?></span>
                                        </td>
                                        <td>
                                            <span class="penalty_type"><?= $_item->getPenaltyType() ?></span>
                                        </td>
                                        <td>
                                            <span class="resolution_number"><?= $_item->getResolutionNumber() ?></span>
                                        </td>
                                        <td>
                                            <span class="description"><?= $_item->getDescription() ?></span>
                                        </td>
                                        <td>
                                            <span class="created_date"><?= $createdDate ? $createdDate->format('Y-m-d') : '';  ?></span>
                                        </td>
                                        <td>
                                            <span class="start_date"><?= $startDate ? $startDate->format('Y-m-d') : '';  ?></span>
                                        </td>
                                        <td>
                                            <span class="end_date"><?= $endDate ? $endDate->format('Y-m-d') : ''; ?></span>
                                        </td>
                                        <td>
                                            <span class="status"><?= $_item->getStatus() == 1 ? __('Enabled') : __('Deleted'); ?></span>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <script>
    require([
        "jquery"
    ], function ($) {
        $(document).ready(function() {
            var TEMPORY_SUSPENSION = "<?php echo Formax\Penalty\Model\Config\Source\PenaltyType::TEMPORY_SUSPENSION; ?>";
            $("input[type='file']").attr("form", "customer_form");
            $("#formax_penalties_penalty_type_id").on("change", function () {
                if ($(this).val() == TEMPORY_SUSPENSION) {
                    $(".field-start_date").show();
                    $(".field-penalty_days").show();
                    $(".field-include_holidays").show();
                    $("#formax_penalties_start_date").val("");
                    $("#formax_penalties_penalty_days").val("");
                } else {
                    $(".field-start_date").hide();
                    $(".field-penalty_days").hide();
                    $(".field-include_holidays").hide();
                    $("#formax_penalties_start_date").val("1960-01-01");
                    $("#formax_penalties_penalty_days").val("1");
                }

                $("#formax_penalties_include_holidays0").prop("checked", true);
                $("#formax_penalties_include_holidays1").prop("checked", false);
            });

            $(".radio-penalty").on("click", function () {
                var tr = $(this).closest(".option-row");
                var status = (tr.find("td span.status").text() == 'Enabled' ||  tr.find("td span.status").text() == 'Habilitado') ? 1 : 2;

                if (status === 1) {
                    var entityId = tr.find("td span.entity_id").text();
                    var penaltyId = tr.find("td span.penalty_id").text();
                    var sellerId = tr.find("td span.seller_id").text();
                    var agreementId = tr.find("td span.agreement_id").text();
                    var penaltyCode = tr.find("td span.penalty_code").text();
                    var penaltyTypeId = tr.find("td span.penalty_type_id").text();
                    var resolutionNumber = tr.find("td span.resolution_number").text();
                    var description = tr.find("td span.description").text();
                    var startDate = tr.find("td span.start_date").text();
                    var penaltyDays = tr.find("td span.penalty_days").text();
                    var includeHolidays = tr.find("td span.include_holidays").text();
                    var file = tr.find("td span.file").text();
                    var extFile = tr.find("td span.ext-file").text();
                    var baseUrl = "<?= $block->getUrlFile() ?>";
                    var cssClass = "";

                    if ($.trim(extFile) == "doc" || $.trim(extFile) == "docx") {
                        cssClass = "doc";
                    } else if ($.trim(extFile) == "pdf") {
                        cssClass = "pdf";
                    } else {
                        cssClass = "file";
                    }

                    $("#formax_penalties_id").val($.trim(entityId));
                    $("#formax_penalties_penalty_id").val($.trim(penaltyId));
                    $("#formax_penalties_dccp_seller_id").val($.trim(sellerId));
                    $("#formax_penalties_agreement_id").val($.trim(agreementId));
                    $("#formax_penalties_penalty_code").val($.trim(penaltyCode));
                    $("#formax_penalties_penalty_type_id").val($.trim(penaltyTypeId));
                    $("#formax_penalties_resolution_number").val($.trim(resolutionNumber));
                    $("#formax_penalties_description").val($.trim(description));
                    $("#formax_penalties_start_date").val($.trim(startDate));
                    $("#formax_penalties_penalty_days").val($.trim(penaltyDays));
                    $("#formax_penalties_status").val(status);

                    if (file) {
                        $(".file-chilecompra").attr("href", baseUrl + file);
                        $(".file-chilecompra").removeClass("file pdf doc");
                        $(".file-chilecompra").addClass(cssClass);
                        $(".file-chilecompra").html(file);
                        $(".manage-files").show();
                    } else {
                        $(".manage-files").hide();
                    }

                    if (includeHolidays == "1") {
                        $("#formax_penalties_include_holidays0").prop("checked", false);
                        $("#formax_penalties_include_holidays1").prop("checked", true);
                    } else {
                        $("#formax_penalties_include_holidays0").prop("checked", true);
                        $("#formax_penalties_include_holidays1").prop("checked", false);
                    }

                    if (penaltyTypeId == TEMPORY_SUSPENSION) {
                        $(".field-start_date").show();
                        $(".field-penalty_days").show();
                        $(".field-include_holidays").show();
                    } else {
                        $(".field-start_date").hide();
                        $(".field-penalty_days").hide();
                        $(".field-include_holidays").hide();
                        $("#formax_penalties_start_date").val("1960-01-01");
                        $("#formax_penalties_penalty_days").val("1");
                    }
                }
            });

            $("#fx-penalty-button").on("click", function () {
                $("#formax_penalties_id").val("");
                $("#formax_penalties_penalty_id").val("");
                $("#formax_penalties_dccp_seller_id").val("<?= $_data->getDccpSellerId() ?>");
                $("#formax_penalties_agreement_id").val("<?= $_data->getAgreementId() ?>");
                $("#formax_penalties_penalty_code").val("");
                $("#formax_penalties_penalty_type_id").val("");
                $("#formax_penalties_resolution_number").val("");
                $("#formax_penalties_description").val("");
                $("#formax_penalties_start_date").val("1960-01-01");
                $("#formax_penalties_penalty_days").val("1");
                $("#formax_penalties_include_holidays0").prop("checked", true);
                $("#formax_penalties_include_holidays1").prop("checked", false);
                $(".field-start_date").hide();
                $(".field-penalty_days").hide();
                $(".field-include_holidays").hide();
                $("#penaltyGrid_table tbody tr .radio-penalty").each(function() {
                    $(this).prop("checked", false);
                });

                $(".file-chilecompra").attr("href", "javascript:;");
                $(".file-chilecompra").removeClass("file pdf doc");
                $(".file-chilecompra").addClass("file");
                $(".file-chilecompra").html("No File");
                $(".manage-files").hide();
            });
        });
    });
    </script>
<?php else: ?>
    <div class="message info empty">
        <span>
            <?= /*@noEscape*/ __('Los atributos "Razón social, ID Usuario(MP) e ID Convenio activo(MP)" no deben estar vacíos para este proveedor.'); ?>
        </span>
    </div>
<?php endif; ?>
