<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="product-item-details">
    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            <div class="details-qty">
                <small class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></small>
                <small class="value" data-bind="text: $parent.qty"></small>
            </div>

            <div class="product-item-name">
                <strong class="label"><!-- ko i18n: 'Flete' --><!-- /ko --></strong>
                <strong class="value" data-bind="html: getFreight($parent)"></strong>
            </div>

        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>


</div>
<!-- ko foreach: getRegion('item_message') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
