<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
	$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
	$helperOffer = $this->helper("Formax\Offer\Helper\Data");
	$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
	$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
	$imagehelper = $this->helper('Magento\Catalog\Helper\Image');
	$assignId = $helper->getProductId();

	$assignData = $helper->getAssignDataByAssignId($assignId);
	$product = $helper->getProductByAssignId($assignId);
	$productId = $product->getId();
	$imageType = 'category_page_list';
	$conditionOptions = array('1' => 'New', '2' => 'Used');
	$productImage = $imagehelper->init($product, $imageType)
								->constrainOnly(FALSE)
								->keepAspectRatio(TRUE)
								->keepFrame(FALSE)
								->resize(300)
								->getUrl();

	$image = $assignData->getImage();
	$img = $assignData->getImage();
	$flag = 1;
	if ($image == "") {
		$flag = 0;
		$image = "noimage.jpg";
	}
	$image = $helper->getImageUrl($image);
	$defaultImage = $helper->getImageUrl("noimage.jpg");
	$productType = $product->getTypeId();
	$percentDescription = $product->getData('voucher_product_type') == Formax\VoucherBuyFlow\Helper\Data::BONIFICATION
        ? __('Bonification') : __('Discount');
	$basePriceArray = $helperOffer->getBasePrice($assignId, $productType);

	if ($productType == "configurable") {
		$attriburtes = [];
		$options = [];
		$_attributes = $product->getTypeInstance(true)
								->getConfigurableAttributesAsArray($product);
		foreach ($_attributes as $_attribute) {
			$attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
			foreach ($_attribute['options'] as $option) {
				$options[$_attribute['attribute_code']][$option['value']] = $option['label'];
			}
		}
	}
	if ($productType == "configurable") {
		$isConfig = 1;
		$price = $helper->currencyFormat($product->getFinalPrice());
    } else {
		$isConfig = 0;
		$price = number_format($product->getFinalPrice(), 1, ',', '.');
    }
	$imagesCollection = $helper->getImagesCollection($assignId);
	$baseImageUrl = $helper->getBaseImageUrl($assignId);
?>
<?php
	$addImageLabel = __("Add Image");
    $baseImageLabel = __("Base Image");
    $deleteImageLabel = __("Delete Showcase");
    $blockHtml = '<div class="wk-showcase-block">';
    $blockHtml .= '<div title= "'.$deleteImageLabel.'" class="wk-delete-item">x</div>';
    $blockHtml .= '<div class="wk-default-block">'.$addImageLabel.'</div>';
    $blockHtml .= '<input type="file" name="showcase[]" accept="image/*" class="wk-showcase-img wk-no-display">';
	$blockHtml .= '<div class="wk-base-image-block"><input name="wk_base[]" type="checkbox" class="wk-base-image-input" value="0"><div class="wk-base-image-label">'.$baseImageLabel.'</div></div>';
    $blockHtml .= '</div>';
    $count = 0;
?>
<?php if ($isPartner == 1): ?>
	<fieldset class="fieldset wk-ap-fieldset">
		<div class="wk-ap-product-view">
			<div class="wk-ap-product-img"><img src="<?php echo $productImage; ?>" /></div>
			<div class="wk-ap-product-description">
				<div class="wk-ap-main-product-name"><a href="<?php echo $product->getProductUrl();?>"><?php echo $product->getName(); ?></a></div>
				<div class="wk-ap-main-product-price" style="display:none;"><?php echo $price; ?></div>
				<div class="wk-ap-main-product-description"><?php echo $product->getDescription(); ?></div>
			</div>
		</div>
	</fieldset>
	<form method="post" action="<?php echo $this->getUrl('mpassignproduct/product/save'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
		<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
		<input type="hidden" name="product_id" value="<?php echo $productId; ?>">
		<input type="hidden" name="assign_id" value="<?php echo $assignId; ?>">
		<input type="hidden" name="product_condition" value="1">
		<input type="hidden" name="del" value="0" id="del">
		<fieldset class="fieldset">
			<?php echo $this->getFormKeyBlockHtml(); ?>
			<legend class="legend">
				<span><?php echo __("Assign Product"); ?></span>
			</legend>
			<?php if ($productType != "configurable"): ?>
				<div class="field required">
					<label for="price" class="label">
						<span><?php echo __('%1 percent', $percentDescription); echo ' (%)'?></span>
					</label>
					<div class="control">
						<input value="<?php echo number_format($basePriceArray[0], 1, ',', '.'); ?>" type="text" data-validate="{required:true}" class="input-text required-entry validate-zero-or-greater" title="<?php echo __('Price'); ?>" name="price" id="price" aria-required="true">
					</div>
				</div>
				<div class="field required">
					<label for="qty" class="label">
						<span><?php echo __("In Stock"); ?></span>
					</label>
					<div class="control">
						<?php $assignQty = $assignData->getQty() ?>
						<?php
							$msg = '';
							if($assignData->getDisDispersion() == '1'){
								$assignQty = 1;
								$msg = '<small>Bloqueado por dispersión</small>';
							}
						?>
						<label>
							<input type="radio" data-validate="{required:true}" name="qty" class="required-entry" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999" <?php echo $assignQty > 0 ? 'checked' : '' ?>>
							<span><?php echo __('Yes') ?></span>
						</label>
						<label>
							<input type="radio" data-validate="{required:true}" name="qty" class="required-entry" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?>>
							<span><?php echo __('No') ?></span>
						</label>
						<div><?= $msg ?></div>
					</div>
				</div>
			<?php endif; ?>
			<div class="field dccp-tooltip">
				<label for="description" class="label" data-tooltip="Código interno de tu empresa">
					<span><?php echo __("Product Code"); ?> <small>(opcional)</small></span>
				</label>
				<div class="control">
					<input type="text" class="input-text" title="<?php echo __('Product Code'); ?>" name="description" id="description" aria-required="true" value="<?php echo $block->escapeHtml($helper->getDescription($assignData->getId())); ?>">
				</div>
			</div>
			<?php if ($block->showUploadFileField($productId) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document Backup Price'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file" title="<?php echo __('Upload Document Backup Price'); ?>" name="document_<?= $productId ?>" id="document_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
			<?php endif; ?>
			<?php $linkFile = $helper->getAssingProductFile($productId, $assignData->getSellerId()) ?>
			<?php if ($linkFile) :?>
				<div class="field">
					<div class="control">
						<div class="clearfix">
							<a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document Backup Price') ?>"><?= __('View Document Backup Price') ?></a>
						</div>
					</div>
				</div>
			<?php endif; ?>

			<?php if ($block->showUploadFileField($productId, true) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document Chemical Product Cleanness'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file" title="<?php echo __('Upload Document Chemical Product Cleanness'); ?>" name="doc_aseo_<?= $productId ?>" id="doc_aseo_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
			<?php endif; ?>
			<?php $linkFile = $helper->getAseoProductFile($productId, $assignData->getSellerId()) ?>
			<?php if ($linkFile) :?>
				<div class="field">
					<div class="control">
						<div class="clearfix">
							<a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document Chemical Product Cleanness') ?>"><?= __('View Document Chemical Product Cleanness') ?></a>
						</div>
					</div>
				</div>
			<?php endif; ?>

			<?php if ($productType == "configurable"): ?>
				<div class="field required">
					<label for="qty" class="label">
						<span><?php echo __('Associated Products'); ?></span>
					</label>
					<div class="control">
						<table class="data table wk-associated-table">
							<thead>
								<tr>
									<th class="col check-hide"><input type="checkbox" class="wk-mass-associate"></th>
									<th class="col"><?php echo __("Product Name"); ?></th>
									<th class="col"><?php echo __("In Stock"); ?></th>
									<?php foreach ($attriburtes as $code => $label): ?>
										<th class="col"><?php echo $label; ?></th>
									<?php endforeach; ?>
									<th class="col"><?php echo __("Price");echo ' ('.$symbol.')'; ?></th>
								</tr>
							</thead>
							<?php
								$productTypeInstance = $product->getTypeInstance();
								$usedProducts = $productTypeInstance->getUsedProducts($product);
								foreach ($usedProducts  as $childProduct) {
									$childProduct->getName();
									foreach ($attriburtes as $code => $label) {
										$val = $childProduct[$code];
										$options[$code][$val];
									}
								}
								$associatesData = $helper->getAssociatesData($assignId);
							?>
							<tbody>
								<?php foreach ($usedProducts  as $childProduct): ?>
									<?php
										$childId = $childProduct->getId();
									?>
									<tr>
										<td class="col check-hide">
											<?php if (array_key_exists($childId, $associatesData)): ?>
												<input class="wk-associate-chkbox" checked name="products[<?php echo $childId; ?>][id]" type="checkbox" value="1">
												<input name="products[<?php echo $childId; ?>][associate_id]" type="hidden" value="<?php echo $associatesData[$childId]['id']; ?>">
											<?php else: ?>
												<input class="wk-associate-chkbox" name="products[<?php echo $childId; ?>][id]" type="checkbox" value="1">
											<?php endif; ?>
										</td>
										<td class="col"><?php echo $childProduct->getName(); ?></td>
										<td class="col">
											<?php if (array_key_exists($childId, $associatesData)): ?>
												<?php $assignQty = $associatesData[$childId]['qty'] ?>
												<?php 
													$msg = '';
													if($associatesData[$childId]['dis_dispersion'] == '1'){
														$assignQty = 1;
														$msg = '<small>Bloqueado por dispersión</small>';
													}
												?>
												<label>
													<input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999" <?php echo $assignQty > 0 ? 'checked' : '' ?>>
													<span><?php echo __('Yes') ?></span>
												</label>
												<label>
													<input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?>>
													<span><?php echo __('No') ?></span>
												</label>
												<div><?= $msg ?></div>
											<?php else: ?>
												<label>
													<input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999">
													<span><?php echo __('Yes') ?></span>
												</label>
												<label>
													<input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0" checked>
													<span><?php echo __('No') ?></span>
												</label>
											<?php endif; ?>
										</td>
										<?php foreach ($attriburtes as $code => $label): ?>
											<?php $val = $childProduct[$code]; ?>
											<td class="col"><?php echo $options[$code][$val]; ?></td>
										<?php endforeach; ?>
										<td class="col">
											<?php if (array_key_exists($childId, $basePriceArray)): ?>
												<input class="wk-associate-price required-entry validate-zero-or-greater" name="products[<?php echo $childId; ?>][price]" type="text" value="<?php echo $basePriceArray[$childId]['price']; ?>">
											<?php else: ?>
												<input class="wk-associate-price validate-zero-or-greater" name="products[<?php echo $childId; ?>][price]" type="text">
											<?php endif; ?>
										</td>
									</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			<?php endif; ?>
			<div class="field required">
				<div class="control">
					<button class="button wk-product-save-btn" type="submit">
						<span><span><?php echo __("Save Product"); ?></span></span>
					</button>
				</div>
			</div>
		</fieldset>
	</form>
<?php else: ?>
	<h2 class="wk-mp-error-msg">
		<?php echo __("To Become Seller Please Contact to Admin."); ?>
	</h2>
<?php endif; ?>
<?php
	$data = [];
	$data["defaultImage"] = $defaultImage;
	$data["is_new"] = 0;
	$data["msg"] = __("Please select associated product.");
	$data["isConfig"] = $isConfig;
	$data["count"] = $count;
	$data["blockHtml"] = $blockHtml;
	$data = json_encode($data);
?>
<script type="text/x-magento-init">
	{
		"body": {
			"Webkul_MpAssignProduct/js/item": <?php echo $data ?>
		}
	}
</script>

<script>
require([
	'jquery'
], function($) {
	$(document).on("focus", "input.validate-zero-or-greater", function() {
		formatInput($(this));
	});
	$("#wk_mpassignproduct_form").submit(function(event) {
		// Remove values format before submit
		$("input.validate-zero-or-greater").each(function() {
			cleanFormatInput($(this));
		});

		if ($(this).valid()) {
			$(".wk-product-save-btn").prop('disabled', true);
			$(this).unbind().submit();
		}

		return false;
	});
		
	function formatInput(element) {
		var val = $.trim(element.val());
		var numb = val.replace('.', ',');
		element.val(numb === '' ? element.val() : numb);

		return element;
	}

	function cleanFormatInput(element) {
		var val = $.trim(element.val());
		var numb = val.replace(',', '.');
		element.val(numb === '' ? element.val() : numb);

		return element;
	}
});
</script>
