<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\RequisitionList\Block\Requisition\Item\Options */
?>
<?php $options = $block->getOptionList(); ?>
<?php if ($options): ?>
    <div class="product-item-details">
    <?php foreach ($options as $option): ?>
        <dl class="item-options">
            <dt><?= $block->escapeHtml($option['label']) ?>:</dt>
            <dd><?php if (is_array($option['value'])): ?>
                    <?= /* @noEscape */ nl2br(implode("\n", $option['value'])) ?>
                <?php elseif (isset($option['option_type']) && $option['option_type'] == 'file'): ?>
                    <?php $viewModel = $block->getData('downloadableViewModel'); ?>
                    <?php $viewModel->setItem($block->getItem()) ?>
                    <?= /* @noEscape */ $viewModel->getOptionValueForFile($option) ?>
                <?php else: ?>
                    <?= /* @noEscape */ $option['value'] ?>
                <?php endif; ?>
            </dd>
        </dl>
    <?php endforeach; ?>
    </div>
<?php endif ?>
