.fieldset{
    margin: 0;
}
.fieldset .legend{
    margin-bottom:  10px;
}
.column .wk_mp_rfq{
    padding:20px;
    background: #ffffff;
}
.wk_mp_rfq .page-title .steps-title{
    color: #8d9db0;
    font-weight: 500;
    margin: 0;
}
.wk_mp_rfq .page-title .quote-title{
    color: #2e384d;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.wk_mp_rfq .page-title .description{
    color: #4F5769;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.requestedforquote_general_step .antecedentes_generales,
.requestedforquote_general_step .servicios_entregables,
.requestedforquote_general_step .first_buttons,
.requestedforquote_evaluation_step .final_buttons,
.requestforquote_quote_conversation .antecedentes_generales,
.requestforquote_quote_conversation .duracion,
.requestforquote_quote_conversation .teamwork_fields,
.requestforquote_quote_conversation .final_buttons{
    display: flex;
    flex-wrap: wrap;
}
.requestedforquote_general_step .antecedentes_generales .legend,
.requestedforquote_general_step .descripcion_requerimientos .legend,
.requestedforquote_general_step .servicios_entregables .legend{
    border-bottom: none;
    font-size: 2.2rem;
    padding: 0;
    margin: 20px 0;
}
.requestedforquote_general_step .antecedentes_generales .field .label span,
.requestedforquote_general_step .descripcion_requerimientos .field .label span,
.requestedforquote_general_step .servicios_entregables .field .label span,
.requestedforquote_evaluation_step .upload_evaluation_file .field .label span,
.requestedforquote_evaluation_step .match_criteria .field.match_criterias .label span{
    color: #8d9db0;
    letter-spacing: 1.5px;
    font-size: 13px;
    font-weight: 600;
}
.antecedentes_generales .field{
    flex: 50%;
    margin-bottom: 10px;
}
.antecedentes_generales .field:nth-of-type(5),
.antecedentes_generales .field:nth-of-type(6),
.antecedentes_generales .field:nth-of-type(7),
.antecedentes_generales .field:nth-of-type(8),
.antecedentes_generales .field:nth-of-type(10)
{
    flex: 30%;
}
.antecedentes_generales .field:nth-of-type(9){
    flex: 70%;
}
.antecedentes_generales .field:nth-of-type(4),
.antecedentes_generales .field:nth-of-type(5),
.antecedentes_generales .field:nth-of-type(6),
.antecedentes_generales .field:nth-of-type(7),
.antecedentes_generales .field:nth-of-type(9){
  display: flex;
  flex-wrap: wrap;
}
.antecedentes_generales .field:nth-of-type(4) .label,
.antecedentes_generales .field:nth-of-type(5) .label,
.antecedentes_generales .field:nth-of-type(6) .label,
.antecedentes_generales .field:nth-of-type(7) .label,
.antecedentes_generales .field:nth-of-type(9) .label{
  flex: 100%;
}
.antecedentes_generales .field:nth-of-type(4) .control,
.antecedentes_generales .field:nth-of-type(5) .control,
.antecedentes_generales .field:nth-of-type(6) .control,
.antecedentes_generales .field:nth-of-type(7) .control,
.antecedentes_generales .field:nth-of-type(9) .control{
  margin-right: 10px;
  height: 55px;
}
.antecedentes_generales .field:nth-of-type(4) span,
.antecedentes_generales .field:nth-of-type(5) span,
.antecedentes_generales .field:nth-of-type(6) span,
.antecedentes_generales .field:nth-of-type(7) span,
.antecedentes_generales .field:nth-of-type(9) span{
  padding: 10px 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #8d9db0;
}
.fieldset .field .note{
  color: #8d9db0;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.fieldset .field .note.note-publication_term,
.fieldset .field .note.note-evaluation_start,
.fieldset .field .note.note-evaluation_term,
.fieldset .field .note.note-make_question_term,
.fieldset .field .note.note-amount.currency  {
  color: #8d9db0;
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  order: 4;
  font-style: italic;
  letter-spacing: 0;
  padding: 5px 10px;
  max-width: 100%;
  max-width: 235px;
}
.fieldset .field .comment.comment-publication_term,
.fieldset .field .comment.comment-evaluation_term,
.fieldset .field .comment.comment-make_question_term{
  width: calc(100% - 90px);
}
.requestedforquote_general_step .field{
  padding-right: 20px;
  box-sizing: border-box;
}
.publication_term .control .input-text.publication_term,
.publication_term .control .input-text.evaluation_start,
.evaluation_term .control .input-text.evaluation_term,
.make_question_term .control .input-text.make_question_term,
.compliance_guarantee .control .input-text.compliance_guarantee,
.execution_services_term_number .control .input-text.execution_services_term_number{
  max-width: 80px;
}
.fieldset.antecedentes_generales .field.evaluation_start > div > button {
    position: relative;
    top: -40px;
    left: 210px;
}
.ui-datepicker {
    min-width: 260px;
}
.execution_services_term_text .control .select.execution_services_term_text,
.duracion_text .control .select.duracion_text{
  max-width: 250px;
}
.email .control .input-text.email,
.offer_price .control .input-text.offer_price{
  max-width: 400px;
}
.beneficiary .control .input-text.beneficiary{
  max-width: 600px;
}
.servicios_entregables .field{
  flex: 50%;
}
.servicios_entregables .field:nth-of-type(1){
  flex: 100%;
}
.servicios_entregables .field:nth-of-type(2){
  flex: 10%;
}
.servicios_entregables .field:nth-of-type(2) .label{
  width: 300%;
}
.servicios_entregables .field:nth-of-type(3){
  display: flex;
  align-items: flex-end;
  flex: 90%;
}
.servicios_entregables .field:nth-of-type(4),
.servicios_entregables .field:nth-of-type(5){
  flex: 100%;
}
.amount .control .input-text.amount{
  max-width: 300px;
}
.custom-attributes .control input{
  background: #ffffff;
}
.control select{
  background: #ffffff url('../images/select-bg.svg') no-repeat 100% 45%;
  color: #8798AD;
}
.servicios_entregables .deliverable_services thead{
  color: #8d9db0;
  letter-spacing: 1.5px;
}
.servicios_entregables .deliverable_services tbody tr td,
.servicios_entregables .deliverable_services thead tr th{
  border-top: none;
  padding: 5px 10px 0 0;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
}
.span1-deliverable_services{
  display: block;
  width: 25px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  border-radius: 16px;
  font-weight: 700;
  color: #ffffff;
  background: #0064FF;
}
.table_evaluation_criteria tbody tr td{
  border-top: none;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
  padding: 10px 10px 10px 0;
}
.table_evaluation_criteria thead tr th{
  color: #8d9db0;
  letter-spacing: 1.5px;
  vertical-align: middle;
  padding: 10px 10px 10px 0;
  text-transform: uppercase;
  font-size: 13px;
}
.requestedforquote_general_step .descripcion_requerimientos,
.requestedforquote_general_step .servicios_entregables,
.requestedforquote_general_step .first_buttons{
  margin-top: 20px;
}
.requestedforquote_general_step .descripcion_requerimientos .field{
  margin-bottom: 30px ;
}
.execution_services_term_text .control,
.beneficiary .control{
  width: 100%;
}
.first_buttons .button_next .div-button_next .action.primary{
  min-width: 250px;
}
.div-button_next .action.primary:hover,
.div-button_publish .action.primary:hover{
  background: #0064FF;
  color: #ffffff;
}
.div-button_next a,
.div-button_publish a{
  text-decoration: none;
}
.requestedforquote_evaluation_step .final_buttons .button_draft_final,
.requestedforquote_general_step .first_buttons .button_draft{
  padding: 0 30px;
}
.first_buttons .button_draft .draft,
.final_buttons .button_draft_final .draft{
  background: #8697ac;
  border: 1px solid #8697ac;
  color: #ffffff;
}

.requestedforquote_evaluation_step .legend{
  border-bottom: none;
  font-size: 2.2rem;
  padding: 0;
  margin: 20px 0;
}
.requestedforquote_evaluation_step .requerimientos_tecnicos .field .label span,
.requestedforquote_evaluation_step .proceso_evaluacion .field.evaluation_modality_label{
    color: #8d9db0;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    font-size: 13px;
}
.requestedforquote_evaluation_step .technical_evaluation .field .label span,
.requestedforquote_evaluation_step .match_criteria .field .label span{
    color: #152935;
    font-weight: 400;
    margin-bottom: 5px;
}
.requestedforquote_evaluation_step .evaluation_criteria .evaluation_criteria_label .label span{
    font-weight: 400;
    font-size: 1.5rem;
}
.requestedforquote_evaluation_step > div{
    margin-top: 20px;
}
.inputfile {
    display: none
}
.inputfile + label {
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.inputfile-quote + label {
    background-color: #fff;
    padding: 0;
}
.inputfile-quote + label span,
.inputfile-quote + label strong {
    padding: 0.625rem 2.25rem;
}
.inputfile-quote + label span {
    width: 200px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    min-height: 20px;
    border: 1px solid #E0E7FF;
    margin: 0 20px 10px 0;
}
.inputfile-quote + label strong {
    height: 100%;
    color: #0064FF;
    background-color: #f6f9fe;
    display: inline-block;
    border: 1px solid #0064FF;
    border-radius: 30px;
}
.wk_mp_rfq select{
  height: 40px;
}
.control textarea{
  background: #ffffff;
}
.requestforquote_quote_conversation .antecedentes_generales .field:nth-of-type(1),
.requestforquote_quote_conversation .antecedentes_generales .field:nth-of-type(2){
    flex: 100%;
}
.quote_name .control .input-text.quote_name,
.quote_detalis .control .input-text.quote_detalis{
  max-width: 500px;
}
.requestforquote_quote_conversation .fieldset .legend{
  padding: 15px 0 !important;
}
.requestforquote_quote_conversation .fieldset .field{
  padding: 10px 0;
}
.requestforquote_quote_conversation .antecedentes_generales .field .label span,
.requestforquote_quote_conversation .teamwork_fields .field .label span,
.requestforquote_quote_conversation .offer_price .label span,
.requestforquote_quote_conversation .file .label span,
.table_requirement tr td .label span,
.teamwork thead tr th{
    color: #8d9db0;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
}
.requerimientos .requerimientos_label .label,
.duracion .duracion_label .label,
.teamwork .requerimientos_label .label,
.offer .offer_label .label,
.files .files_label .label,
.offer_files .files_label .label{
  color: #152935;
}
.requerimientos .table_requirement tbody tr td{
  width: 50%;

}
.requerimientos .table_requirement thead tr th{
  display: none;
}
.requerimientos .table_requirement tbody tr td p{
  word-break: break-all;
}
.requerimientos .table_requirement thead tr th{
  border-top: none;
  padding: 10px;
  color: #8d9db0;
  letter-spacing: 1.5px;
}
.requerimientos .table_requirement tbody tr td{
  border-top: none;
  padding: 20px 10px;
  border-bottom: 1px solid #cccccc;
}
.requerimientos .table_requirement tbody tr td .label{
  padding: 10px 0;
  color: #4f5e68;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: 600;
}
.requestforquote_quote_conversation .duracion .field:nth-of-type(2){
    flex: 20%
}
.requestforquote_quote_conversation .duracion .field:nth-of-type(3){
    flex: 80%;
}
.requestforquote_quote_conversation .duracion .duracion_number,
.requestforquote_quote_conversation .duracion .duracion_text{
    padding-top: 0 ;
}
.requestforquote_quote_conversation .duracion .duracion_label{
    padding-bottom: 0;
}
.requestforquote_quote_conversation .teamwork_fields .field:nth-of-type(1){
    flex: 40%;
}
.requestforquote_quote_conversation .teamwork_fields .field:nth-of-type(2),
.requestforquote_quote_conversation .teamwork_fields .field:nth-of-type(3){
    flex: 30%;
}
.requestforquote_quote_conversation .final_buttons .div-button_publish .action.primary,
.requestforquote_quote_conversation .final_buttons .div-button_draft_final .action.draft{
  width: 100%;
  max-width: 250px;
}
.wk_mp_design.wk_mp_rfq_main_container,
.container-info-title {
  display: flex;
  flex-wrap: wrap;
}
.container-info-title{
  margin: 20px 0;
}
.container-info-title .page-title{
  flex: 70%
}
.container-info-title .quote_info{
  flex: 30%;
  padding: 15px;
  border: 1px solid #eff2fe;
  box-sizing: border-box;
  font-size: 15px;
  border-left: 2px solid #207cfa;
}
.wk_mp_design.wk_mp_rfq_main_container .wk_mp_rfq_reponse_box{
  flex: 100%
}
.requestforquote_quote_conversation .fieldset .field .label{
  text-transform: none;
}
.custom-attributes input::placeholder{
  color: #8798AD;
}
.technical_evaluation .score{
  display: flex;
}
.technical_evaluation .score .label{
  margin-right: 15px;
  padding: 10px 0;
}
.technical_evaluation .score .control{
  width: 100%;
}
.technical_evaluation .score .input-text.score{
  max-width: 100px;
}

.requestforquote_quote_conversation .fieldset .field.pending-files-area,
.uploaded-files-area {
    padding: 10px 0 25px;
}

.offer_files .offer_document .control {
    margin-bottom: 20px;
}
.pending-files-area.single-file > span {
    display: inline-block;
    vertical-align: middle;
}
.pending-files-area.single-file .pending-files {
    padding-top: 10px;
}
.pending-files-area h4,
.uploaded-files-area h4 {
    margin: 0 0 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.pending-files-area h4 .name,
.uploaded-files-area h4 .name {
    padding-top: 5px;
}
.pending-files-area h4 > span,
.uploaded-files-area h4 > span {
    display: inline-block;
    vertical-align: middle;
}
.pending-files-area .file-item {
    padding: 0 0 10px;
}
.requestforquote_quote_conversation .fieldset td .field.engagement_scope {
    padding-bottom: 10px;
}
span.file_box a {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

@media (max-width: 1120px){
   .requestforquote_quote_conversation .teamwork_fields{
    flex-direction: column;
  }
}
@media (max-width: 767px){
  .requestedforquote_general_step .antecedentes_generales{
     flex-direction: column;
  }
  .evaluation_criteria,
  .requerimientos{
    overflow-x: auto;
  }
}
@media (max-width: 375px){
  .requestforquote_quote_conversation .inputfile-quote + label span{
    width: 120px;
  }
}
@media (max-width: 1163px){
  .servicios_entregables .field:nth-of-type(2) .label{
    width: 100%;
  }
}
.evaluate-requestforquote-reject .fieldset_justification {
    margin-bottom: 20px;
}
.evaluate-requestforquote-reject .quote-title,
.evaluate-requestforquote-reject .description-title {
    margin-bottom: 20px;
}
.evaluate-requestforquote-reject .justification label,
.evaluate-requestforquote-reject .rejected_report_documents label {
    text-transform: uppercase;
    color: #B7B7B7;
    font-size: 1.2rem;
    background-color: #f2f2fa;
}
.evaluate-requestforquote-reject .justification textarea {
    background-color: #fff;
    max-width: 85%;
}
.evaluate-requestforquote-reject .fieldset_files .checkbox,
.evaluate-requestforquote-reject .fieldset_files .checkbox:disabled {
    top: -2px;
    position: relative !important;
    left: 10px;
    background-color: #F2F2FA !important;
}
.evaluate-requestforquote-reject .note-rejected_report_documents {
    position: relative;
    top: 5px;
}
.evaluate-requestforquote-reject .wk_mp_rfq {
    background-color: #F2F2FA;
}