<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
use Linets\Offer\Helper\Data;
use Linets\OrderManagement\ViewModel\OrderHistory;
use Magento\Sales\Block\Order\History;

/** @var History $block
 * @var Data $sellerOfferHelper
 */

/** @var $viewModel OrderHistory */

$viewModel = $block->getViewModel();
$sellerOfferHelper = $this->helper("Linets\Offer\Helper\Data");
?>
<div class="actions">
    <?php  $_order = $block->getOrder();
    $sellerId = $viewModel->getSellerIdFromOrder($_order->getEntityId());
    $sellerStatus = $sellerOfferHelper->getSellerStatus($sellerId);
    ?>
    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
        <?php if ($sellerStatus == '70') : ?>
            <a href="#" data-post='<?php /* @escapeNotVerified */ echo
            $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                ->getPostData($block->getReorderUrl($_order))
            ?>' class="action order">
                <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
            </a>
        <?php endif ?>
    <?php endif ?>
    <a class="action print"
       href="<?= /* @escapeNotVerified */ $block->getPrintUrl($_order) ?>"
       onclick="this.target='_blank';">
        <span><?= /* @escapeNotVerified */ __('Print Order') ?></span>
    </a>
    <?= $block->getChildHtml() ?>
</div>
