.button-sellers-profile-link{
  @media all and (max-width: 767px){
    text-align: center;
  }
  .action-sellers {
    margin: 60px 0 0;
    background: none!important;
    color: #0064FF!important;
    text-transform: none!important;
    font-size: 13px!important;
    @media all and (min-width: 768px){
      position: absolute;
      right: 80px;
      top: -75px;
      margin-right: 40px;
    }
  }
}


.wk_mp_design {
  position: relative;
}
.column.main{
    & :not(.wk-mp-banner) {
        & ~ .button-sellers-profile-link {
            position: relative;
            @media all and (max-width: 768px){
                top: -30px;
            }
            .action-sellers {
                @media all and (min-width: 990px){
                    position: absolute;
                    margin: -11px 10% 0 0;
                }
            }
        }
    }
    .wk-mp-banner{
      & ~ .button-sellers-profile-link{
        position: relative;
        .action-sellers {
          @media all and (min-width: 1100px) {
            position: absolute;
            right: 6.5%;
            margin: -55px 260px 0;
          }
        }
      }
    }
}
