.aseo2022.mpassignproduct-product-view.page-layout-seller-2columns-left {
    .field {
        width: 48%;
    }

    a.action-secondary.wk-ap-btn {
        border-radius: 20px;
        box-shadow: none;
        span {
            color: #0064FF;
            text-shadow: none;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            letter-spacing: 0.75px;
            font-weight: 600;
        }
    }
}
