<div class="dccp-agreement-data">
    <?php $agreement = $block->getAgreementData() ?>
    <?php if ($agreement) :?>
        <h2><?php echo __('Marco Agreement') . ' ' . $agreement->getAgreementName() ?></h2>
        <div class="agreement-info-links">
          <a target="_blank" href="<?php echo $agreement->getAggrementBidSheet() ?>">
            <?php echo $agreement->getAggrementNumberBidding() ?>
          </a>
          <a href="#">
            <?php echo $agreement->getAggrementValidity() ?>
          </a>
        </div>
    <?php endif; ?>
</div>
