<?php $quotes = $block->getSellersFromQuote(); ?>
<?php $sellerCount = $quotes ? $quotes->getSize() : 0; ?>
<?php $product = $block->getProduct($quotes); ?>
<?php $quoteRequest = $block->getQuote(); ?>
<?php $cmSofwareHelper = $block->getCmSoftwareHelper(); ?>
<?php $quoteStatusConstants = $this->helper('Formax\QuotesSupplier\Helper\Data');?>

<div class="wk_mp_design">
    <?php if((int)$quoteRequest->getStatus() != $quoteStatusConstants::PUBLISHED):?>
    <div class="col-subtitle">
        <?php if ($product): ?>
            <div class="quote_info">
                <span class="quote_infolabel"><?= __("ID Cotización:");?></span><span class="quote_infodata"> <?= $block->escapeHtml($block->getQuotedId()) ?></span><br>
                <span class="quote_infodata"><?= $cmSofwareHelper->getCategoryName($product) ?></span><br>
                <span class="quote_infolabel"><?= __("ID Ficha producto:");?></span><span class="quote_infodata"> <?= $block->escapeHtml($product->getSku()) ?></span>
            </div>
        <?php endif; ?>
    </div>
    <?php if ($sellerCount): ?>
        <form action="<?= $block->escapeUrl($block->getDownloadAllUrl()) ?>" method="POST">
            <div class="table-wrapper">
                <table class="data-table table table-evaluation-requestforquoted">
                    <thead>
                        <tr>
                            <th scope="col" class="col select-seller"><span>&nbsp;</span></th>
                            <th scope="col" class="col business-name"><span><?= /*@noEscape*/ __('Name Quote') ?></span></th>
                            <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Business Name') ?></span></th>
                            <th scope="col" class="col rut"><span><?= /*@noEscape*/ __('RUT') ?></span></th>
                            <th scope="col" class="col download"><span>&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" name="bulkaction" value="true" />
                        <?php foreach ($quotes as $quote): ?>
                            <input type="hidden" name="quote_id[]" value="<?= $quote->getQuoteId() ?>" />
                            <?php $sellerId = $block->escapeHtml($quote->getSellerId()); ?>
                            <?php $idAttr = 'seller-table-' . $sellerId; ?>
                            <?php $zipName = 'ofertas_tecnicas_' . $quote->getQuoteId() . '_' . $quote->getEntityId() . '.zip'; ?>
                            <tr>
                                <td data-th="Action" class="col select-seller">
                                    <input id="<?= $idAttr ?>" type="checkbox" class="seller-check" name="seller_id[]" value="<?= $sellerId ?>">
                                </td>
                                <td data-th="<?= __('Business Name') ?>" class="seller-name">
                                    <span>
                                        <?= $block->escapeHtml($quote->getQuoteName()) ?>
                                    </span>
                                </td>
                                <td data-th="<?= __('Seller Name') ?>" class="seller-name">
                                    <a href="<?= $block->escapeUrl($block->getUrlSellerProfile($quote->getShopUrl())) ?>"
                                        target="_blank" title="<?= $block->escapeHtml($quote->getSellerName()) ?>">
                                        <span>
                                            <?= $block->escapeHtml($quote->getSellerName()) ?>
                                        </span>
                                    </a>
                                </td>
                                <td data-th="<?= __('RUT') ?>" class="rut">
                                    <span>
                                        <?= $block->escapeHtml($quote->getRut()) ?>
                                    </span>
                                </td>
                                <td data-th="Action" class="col download">
                                    <span class="nobr label wk_action">
                                        <a class="download-<?= $quote->getId() ?> action view"
                                           title="<?= /*@noEscape*/ __('Download offer') ?>">
                                            <span><?= /*@noEscape*/  __('Download offer') ?></span>
                                        </a>
                                        <script type="text/javascript">
                                            require([
                                                'jquery'
                                            ], function ($) {
                                                $('.download-' + <?= $quote->getId() ?>).click(function(e) {
                                                    e.preventDefault();
                                                    $('body').loader('show');
                                                    fetch(
                                                        '<?= $block->getDownloadUrl($quote) ?>',
                                                        {
                                                            method: 'GET'
                                                        }
                                                    ).then(
                                                        response => response.blob()
                                                    ).then(
                                                        response => {
                                                            const blob = new Blob([response], {type: 'application/zip'});
                                                            const downloadUrl = URL.createObjectURL(blob);
                                                            const a = document.createElement("a");
                                                            a.href = downloadUrl;
                                                            a.download = "<?= $zipName ?>";
                                                            document.body.appendChild(a);
                                                            a.style.display = "none";
                                                            a.click();
                                                            document.body.removeChild(a);
                                                            $('body').loader('hide');
                                                        }
                                                    );
                                                });
                                            });
	                                    </script>
                                    </span>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <?php if ($block->getPagerHtml()): ?>
                    <div class="toolbar bottom">
                        <div class="pager">
                            <p class="toolbar-amount">
                                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
                            </p>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
            <div class="button-top">
                <div class="button-download-all">
                    <button class="action secundary download-all" title="<?= __('Download All') ?>" type="submit">
                        <span><?= __('Download All Offers') ?></span>
                    </button>
                </div>
            </div>
        </form>
    <?php else : ?>
        <div class="message info empty">
            <span>
                <?= /*@noEscape*/ __('No provider replied.'); ?>
            </span>
        </div>
    <?php endif ?>

    <?php else:?>
    <div class="col-subtitle">
        <div class="quote_info">
            <span class="quote_infodata">
                <?= __("Las ofertas aún no están visibles, porque la cotización se encuentra en proceso de publicación")?>
            </span>
        </div>
    </div>
    <?php endif;?>
</div>
