.tooltip {
    position: relative;
    display: inline-block;
    text-transform: none;
    background: #0064FF;
    padding: 3px 7px 15px;
    color: #FFF;
    line-height: 15px;
    height: 15px;
    width: 18px;
    border-radius: 50%;
    letter-spacing: 1.13px;
    font-size: 15px;
    font-weight: bold;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-weight: bold;
    padding: 5px;
    margin-left: -105px;
    opacity: 0;
    transition: opacity 0.3s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.th-subtitle {
    display: block;
    text-transform: lowercase;
    font-weight: normal;
}
.wk-table-product-list .wk-ap-delivery-days>span .ccicon-msg-check{
    margin-right: 5px;
    color: #3aaf35;
    font-weight: normal;
    font-size: 14px;
}

span.internal-title{
    font-weight: 300;
    font-size: 22px;
    padding: 3.0rem;
    display: inline-block;
}

@media screen and (min-width: 768px){
    .wk-ap-product-list {
        padding-top: 40px;
    }
}

.wk-table-product-list .wk-ap-price .wk-ap-product-price.combustibles::first-letter{
    letter-spacing:0px;
}
.qty-container.combustibles, .cart-qty-container-combustibles{
    display: none;
}

.wk-table-product-list .wk-ap-price.combustibles.conteiner{
    margin: auto;
    position: relative;
    display: inline-block;
}

.wk-table-product-list .wk-ap-price.combustibles.conteiner .wrapper {
    margin: 2px auto;
}
* {
    box-sizing: border-box;
}
.wk-table-product-list .wk-ap-price.combustibles.conteiner .wrapper .inputgroup {
    position:relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.wk-table-product-list .wk-ap-price.combustibles.conteiner .wk-ap-qty {
    border-radius: 8px;
    width:100px;
    float:none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.wk-table-product-list .wk-ap-price.combustibles.conteiner .inputgroup .simbol-imput {
    position: absolute;
    top: 4px;
    left: 8px;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
}


.wk-table-product-list .wk-ap-price.combustibles.conteiner .wk-ap-seller-rut{
    color:#69707F;
    font-size:14px;
}


.cart-summary #cart-totals table .totals.tax{
    display: none;
}

#co-payment-form .payment-option.opc-payment-additional.tax-code{
    display: none;
}


.minicart-items-wrapper .product-item-details .cc-minicart-details.details-price{
    display: none;
}

.higerutm-modal .modal-header .action-close{
    display: none;
}
