<?php
/** @var Formax\EvaluateRequestforquote\Block\Account\Customer\Reject $block */
$quoteId = $block->getQuoteId();
?>
<?php if ($quoteId): ?>
    <div class="wk_mp_rfq control">
        <div class="page-title">
            <h1 class="quote-title"><?= /*@noEscape*/ __('Form to Delete Quote ID %1', $quoteId)?></h1>
            <p class="description-title"><?= __('Complete the following form to delete your quote:') ?></p>
        </div>
        <div>
            <?= $this->getLayout()
                ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
                ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
                ->setEntity('requestforquote_quote_delete')
                ->setLoadField([
                    'column' => 'quote_id',
                    'param' => 'quote_id',
                    'model_object' => 'Formax\EvaluateRequestforquote\Model\DeletedQuoteInfo'
                ])
                ->setUrlAction('evaluate/requestforquote/deleteaction/quote_id/' . $quoteId)
                ->toHtml();
            ?>
        </div>
    </div>
    <script>
        //<![CDATA[
        require(['jquery'], function($){
            $(document).ready(function(){
                $('.field.__files__deleted_report_documents').each(function() {
                    $(this).insertAfter($(this).parent().find('.note.note-deleted_report_documents'));
                });
            })
        });
        //]]>
    </script>
<?php endif; ?>
