<div class="wk_mp_design">
    <div class="col-title">
        <?= $block->getChildHtml('title') ?>
        <?= $block->getChildHtml('box.info') ?>
    </div>
    <div class="col-subtitle">
        <?= $block->getChildHtml('subtitle') ?>
        <?= $block->getChildHtml('box.seller.amount') ?>
    </div>
    <?= $block->getChildHtml('seller.table') ?>
</div>
