<?php $quoteId = $block->getQuotedId(); ?>
<div class="wk_mp_design">
    <div class="col-title">
        <?= $block->getChildHtml('title') ?>
        <?= $block->getChildHtml('box.info') ?>
    </div>
    <div class="col-subtitle">
        <?= $block->getChildHtml('subtitle') ?>
        <?= $block->getChildHtml('box.seller.amount') ?>
    </div>
    <?= $block->getChildHtml('selected.seller.table') ?>
    <div class="title-table-seller-selected" style="display:none;">
        <div class="fieldset ">
            <label class="legend">
                <span class="span_fieldset_files "><?= /*@noEscape*/ __("Selected Offer") ?></span>
            </label>
            <div class="table-seller-selected"></div>
        </div>
    </div>
    <div>
        <?= $this->getLayout()
            ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
            ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
            ->setEntity('dccp_economic_evaluation')
            ->setUrlAction('evaluate/requestforquote/awardseller/quote_id/' . $quoteId)
            ->toHtml(); ?>
    </div>
</div>
