<?php $quoteId = $block->getQuotedId(); ?>
<div class="wk_mp_design">
    <div class="col-title">
        <?= $block->getChildHtml('title') ?>
        <?= $block->getChildHtml('box.info') ?>
    </div>
    <div class="col-subtitle">
        <?= $block->getChildHtml('subtitle') ?>
    </div>
    <form id="form-search-sellers" method="post" action="<?= $block->getSearchFormUrl() ?>">
        <?= $block->getBlockHtml('formkey') ?>
        <input id="quote-id-search-sellers" type="hidden" name="quote-id-search-sellers" value="<?= $quoteId ?>">
        <div class="field search">
            <label class="label" for="search" data-role="minisearch-label">
                <span><?= __('Supplier search engine') ?></span>
            </label>
            <div class="control">
                <input
                    id="search-sellers"
                    type="text" name="q"
                    autocomplete="off"
                    aria-haspopup="false"
                    value="<?= $block->escapeHtml($block->getQParam()) ?>">
            </div>
        </div>
    </form>
    <?= $block->getChildHtml('seller.table') ?>
    <div class="title-table-seller-selected" style="display:none;">
        <div class="fieldset ">
            <label class="legend">
                <span class="span_fieldset_files "><?= /*@noEscape*/ __("Selected Sellers") ?></span>
            </label>
            <div class="table-seller-selected"></div>
        </div>
    </div>
    <div>
        <?= $this->getLayout()
            ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
            ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
            ->setEntity('dccp_technical_evaluation')
            ->setUrlAction('evaluate/requestforquote/savestep2/quote_id/' . $quoteId)
            ->toHtml(); ?>
    </div>
</div>
