<?php
$id = $block->getParams();
if(isset($id) && is_numeric($id) && $id>0){
    $data = $block->getValueAddToCart();
    //print_r($data);
    $seller = $block->getSeller($data['seller_id']);
    //print_r( $seller->getData() );
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($data['product_id']);
$helperOffer = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$currentWebsite = $helperOffer->getWebsite() == "convenio_software" ? "software" : $helperOffer->getWebsite();


?>
<div class="best_offer_software" >
    <h1 class="title_best_offer">¡Felicitaciones por escoger la mejor oferta!</h1>
    <div class="content_best_offer">
      <p>Has adjudicado el servicio de <strong><?= $product->getName()?></strong> con el ID <strong><?= $product->getSku()?></strong></p>
      <p>al proveedor <strong><?php echo $seller->getData('firstname'); ?></strong> con la cotización <strong><?php echo $data['quote_id']; ?></strong></p>
    </div>
    <div class="content_best_offer">
      <p>A continuación se iniciará <strong> el proceso de generación</strong></p>
      <p><strong>de Orden de Compra.</strong></p>
    </div>
    <button class="button submit-quotes generate_offer btn-go-checkout" title="Save" type="button">
        <span><span><span>Ir a generar Orden de Compra</span></span></span>
    </button>
</div>
<script>
	require([
        'jquery',
        'Magento_Customer/js/customer-data'
	], function($,customerData){
        var base_url = window.location.origin;
        $(".btn-go-checkout").click(function(){
            $.ajax({
                url: base_url+"/<?= $currentWebsite ?>/requestforquote/customer/addtocart/",
                dataType: 'json',
                showLoader: true,
                data: {
                    'quoteInfoId': <?php echo $id; ?>,
                    'sellerId': <?php echo $data['seller_id']; ?>,
                    'quantity': 1,
                    'productId': <?php echo $data['product_id']; ?>,
                    'price': <?php echo $data['amount']; ?>
                },
                type: 'POST',
                success: function (data) {
                    if (data.success == true) {
                        var sections = ['cart'];
                        customerData.invalidate(sections);
                        // alert({
                        //     content: data.message
                        // });
                        window.location.href = data.Url;
                    }
                    if (data.error == true) {
                        // alert({
                        //     content: data.message
                        // });
                    }
                },
                error: function (data) {
                }
            });
        });

	});
</script>
