/*
Theme: ChileCompra
Magento: 2.3
Version: 1.0
*/
@font-face{
    src:url(../fonts/Roboto-Light.ttf) format('truetype');
    font-family:Roboto;
    font-weight:100;
}
@font-face{
    src:url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-family:Roboto;
    font-weight:400;
}
@font-face{
    src:url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-family:Roboto;
    font-weight:500;
}
@font-face{
    src:url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-family:Roboto;
    font-weight:700;
}
body{
    font-family:'Roboto', sans-serif;
    color:#2E384D;
}
h2, .form-sharing-info .admin__legend span, .admin__page-section-title strong, .admin__page-section-title .title{
    color:#2E384D;
}
a{
    color:#8798AD;
}
a:hover{
    color:#718092;
}
/*GENERAL*/
.action-tertiary, .downloadable-form .action-add, .field-vat-number .action-default,
.order-billing-method-summary .action-default, .order-shipping-method-summary .action-default,
.order-shipping-method-info .action-default{
    color:#0064FF;
}
.action-tertiary:active, .action-tertiary:hover, .action-tertiary:focus, .downloadable-form .action-add:active,
.downloadable-form .action-add:hover, .downloadable-form .action-add:focus, .field-vat-number .action-default:active,
.field-vat-number .action-default:hover, .field-vat-number .action-default:focus, .order-billing-method-summary .action-default:active,
.order-billing-method-summary .action-default:hover, .order-billing-method-summary .action-default:focus,
.order-shipping-method-summary .action-default:active, .order-shipping-method-summary .action-default:hover,
.order-shipping-method-summary .action-default:focus, .order-shipping-method-info .action-default:active,
.order-shipping-method-info .action-default:hover, .order-shipping-method-info .action-default:focus{
    color:#2944A6;
}
.abs-action-pattern, .abs-action-default, .abs-action-primary, .abs-action-secondary, .abs-action-tertiary, .abs-action-quaternary, .action-default, button, .action-primary,
.action-secondary, .action-tertiary, .action-quaternary, .action-advanced-reports, .mass-select-wrap select + label, .action-basic, button, button.primary, button.secondary, button.tertiary,
.ui-dialog .action-close, .ui-dialog .ui-button, .ui-dialog .action-primary, .attribute-popup-actions .action-default.reset, .attribute-popup-actions .page-actions-buttons > button.action-default.primary,
.modal-popup .modal-footer .action-primary, .modal-popup .modal-footer .action-secondary, .page-actions > button, .page-actions .page-actions-buttons > button, .page-actions .page-actions-buttons > .action,
.page-actions > button.action-primary, .page-actions .page-actions-buttons > button.action-primary, .page-actions .page-actions-buttons > .action.action-primary, .page-actions > button.primary,
.page-actions .page-actions-buttons > button.primary, .page-actions .page-actions-buttons > .action.primary, .page-actions > button.action-secondary,
.page-actions .page-actions-buttons > button.action-secondary, .page-actions .page-actions-buttons > .action.action-secondary, .steps-wizard .select-attributes-actions .action-default,
.downloadable-form .action-add, .rma-items .col-actions .action-item-details, .rma-items .col-actions .action-item-split-line, .rma-items-block .col-actions a, .field-vat-number .action-default,
.order-billing-method-summary .action-default, .order-shipping-method-summary .action-default, .order-shipping-method-info .action-default, .block-footer .action-add, .block-footer .action-add,
.popup-window .magento_buttons .ok_button, .popup-window .magento_buttons .cancel_button, .fade .actions .primary, .fade .actions .cancel, .block-footer .action-add, .block-footer .action-add.primary,
.block-footer .action-add.secondary, .block-footer .action-add.tertiary, .attribute-popup-actions .page-actions-buttons > .block-footer .action-add.action-default.primary,
.page-actions > .block-footer .action-add, .page-actions .page-actions-buttons > .block-footer .action-add, .page-actions > .block-footer .action-add.action-primary, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary,
.page-actions > .block-footer .action-add.primary, .page-actions .page-actions-buttons > .block-footer .action-add.primary, .page-actions > .block-footer .action-add.action-secondary,
.page-actions .page-actions-buttons > .block-footer .action-add.action-secondary{
    border-radius:5px;
}
.abs-action-secondary:hover, .abs-action-secondary:active, .abs-action-secondary:focus, .action-basic:hover, .action-basic:active, .action-basic:focus, button.secondary:hover,
button.secondary:active, button.secondary:focus, .ui-dialog .ui-button:hover, .ui-dialog .ui-button:active, .ui-dialog .ui-button:focus, .ui-dialog .action-primary:hover,
.ui-dialog .action-primary:active, .ui-dialog .action-primary:focus, .attribute-popup-actions .page-actions-buttons > button.action-default.primary:hover, .attribute-popup-actions .page-actions-buttons > button.action-default.primary:active,
.attribute-popup-actions .page-actions-buttons > button.action-default.primary:focus, .modal-popup .modal-footer .action-primary:hover, .modal-popup .modal-footer .action-primary:active,
.modal-popup .modal-footer .action-primary:focus, .page-actions > button.action-secondary:hover, .page-actions > button.action-secondary:active, .page-actions > button.action-secondary:focus,
.page-actions .page-actions-buttons > button.action-secondary:hover, .page-actions .page-actions-buttons > button.action-secondary:active, .page-actions .page-actions-buttons > button.action-secondary:focus,
.page-actions .page-actions-buttons > .action.action-secondary:hover, .page-actions .page-actions-buttons > .action.action-secondary:active, .page-actions .page-actions-buttons > .action.action-secondary:focus,
.steps-wizard .select-attributes-actions .action-default:hover, .steps-wizard .select-attributes-actions .action-default:active, .steps-wizard .select-attributes-actions .action-default:focus,
.popup-window .magento_buttons .ok_button:hover, .popup-window .magento_buttons .ok_button:active, .popup-window .magento_buttons .ok_button:focus, .fade .actions .primary:hover, .fade .actions .primary:active,
.fade .actions .primary:focus, .block-footer .action-add.secondary:hover, .block-footer .action-add.secondary:active, .block-footer .action-add.secondary:focus, .attribute-popup-actions .page-actions-buttons > .block-footer .action-add.action-default.primary:hover,
.attribute-popup-actions .page-actions-buttons > .block-footer .action-add.action-default.primary:active, .attribute-popup-actions .page-actions-buttons > .block-footer .action-add.action-default.primary:focus,
.page-actions > .block-footer .action-add.action-secondary:hover, .page-actions > .block-footer .action-add.action-secondary:active, .page-actions > .block-footer .action-add.action-secondary:focus,
.page-actions .page-actions-buttons > .block-footer .action-add.action-secondary:hover, .page-actions .page-actions-buttons > .block-footer .action-add.action-secondary:active,
.page-actions .page-actions-buttons > .block-footer .action-add.action-secondary:focus{
    box-shadow:none;
}
.admin__control-text, .admin__control-select, .admin__control-multiselect, .admin__control-file-label:before, .admin__control-textarea,
.admin__control-addon [class*='admin__control-'][class] ~ [class*='admin__addon-']:last-child:before, .selectmenu,
[class*='adminhtml-giftwrapping-'] .field-base_price .admin__control-addon [class*='admin__control-'][class] ~ .addafter:last-child:before, .ui-datepicker .ui-datepicker-title select,
.admin__scope-old input[type=text], .admin__scope-old input[type=password], .admin__scope-old input[type=datetime], .admin__scope-old input[type=datetime-local], .admin__scope-old input[type=date],
.admin__scope-old input[type=month], .admin__scope-old input[type=time], .admin__scope-old input[type=week], .admin__scope-old input[type=number], .admin__scope-old input[type=range],
.admin__scope-old input[type=email], .admin__scope-old input[type=url], .admin__scope-old input[type=search], .admin__scope-old input.search, .admin__scope-old input[type=tel],
.admin__scope-old input[type=color], .admin__scope-old textarea, .admin__scope-old select{
    border-radius:5px;
    border:1px solid #c3c3c3;
}
.admin__control-text:hover, .admin__control-select:hover, .admin__control-multiselect:hover, .admin__control-textarea:hover,
.admin__control-addon [class*='admin__control-'][class]:hover ~ [class*='admin__addon-']:last-child:before, .selectmenu:hover,
.selectmenu:hover .selectmenu-toggle:before, [class*='adminhtml-giftwrapping-'] .field-base_price .admin__control-addon [class*='admin__control-'][class]:hover ~ .addafter:last-child:before,
.ui-datepicker .ui-datepicker-title select:hover{
    border:1px solid #c3c3c3;
    -webkit-box-shadow:0 5px 11px 0 rgba(46,91,255,0.14);
            box-shadow:0 5px 11px 0 rgba(46,91,255,0.14);
}
.admin__control-text:focus, .admin__control-select:focus, .admin__control-multiselect:focus, .admin__control-file:active + .admin__control-file-label:before,
.admin__control-file:focus + .admin__control-file-label:before, .admin__control-textarea:focus, .admin__control-addon [class*='admin__control-'][class]:focus ~ [class*='admin__addon-']:last-child:before,
.selectmenu._focus, .selectmenu._focus .selectmenu-toggle:before, [class*='adminhtml-giftwrapping-'] .field-base_price .admin__control-addon [class*='admin__control-'][class]:focus ~ .addafter:last-child:before,
.ui-datepicker .ui-datepicker-title select:focus{
    -webkit-box-shadow:0 5px 11px 0 rgba(46,91,255,0.14);
            box-shadow:0 5px 11px 0 rgba(46,91,255,0.14);
    border:1px solid #0064FF;
}
.admin__scope-old input[disabled], .admin__scope-old select[disabled], .admin__scope-old textarea[disabled],
.admin__scope-old input[readonly], .admin__scope-old select[readonly],
.admin__scope-old textarea[readonly]{
    border-radius:5px;
}
.action-secondary:hover, .action-secondary:active, .action-secondary:focus{
    box-shadow:none;
}
.menu-wrapper .logo{
    height:86px;
}
.menu-wrapper .logo .logo-img{
    height:auto;
    width:50px;
}
.page-actions .page-actions-buttons > button.action-secondary{
    border-radius:5px;
}
.page-actions .page-actions-buttons > button.action-secondary:hover{
    box-shadow:none;
}
.action-primary, button.primary,
.page-actions > button.primary,
.page-actions .page-actions-buttons > button.primary{
    border-radius:5px;
    background:#0064FF;
    border-color:#0064FF;
    font-family:'Roboto',sans-serif;
    text-shadow:none;
}
.actions-split.active, .actions-split._active, .actions-split:hover{
    box-shadow:none;
}
.actions-split button.primary:not(.action-toggle){
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.actions-split button.primary.action-toggle{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    transition:none;
}
.action-primary:hover,
.action-primary:active,
.action-primary:focus,
button.primary:hover,
button.primary:active,
button.primary:focus,
.page-actions > button.primary:hover,
.page-actions > button.primary:active,
.page-actions > button.primary:focus,
.page-actions .page-actions-buttons > button.primary:hover,
.page-actions .page-actions-buttons > button.primary:focus,
.page-actions .page-actions-buttons > button.primary:active{
    background:#fff;
    color:#0064FF;
    border-color:#0064FF;
    box-shadow:none;
}
.action-primary:active,
button.primary:active,
.page-actions > button.primary:active,
.page-actions .page-actions-buttons > button.primary:active{
    background:#F5F7FF;
}
.actions-split.active .action-toggle.action-primary, .actions-split._active .action-toggle.action-primary, .actions-split.active .action-toggle.primary, .actions-split._active .action-toggle.primary{
    background:#F5F7FF;
    border-color:#0064FF;
}
.actions-split .action-toggle:after{
    transition:none;
}
.actions-split .action-toggle:hover:after{
    border-color:#0064FF transparent transparent transparent;
    transition:none;
}
.actions-split .action-toggle.action-primary:focus:after, .actions-split .action-toggle.primary:focus:after{
    border-color:#0064FF transparent transparent transparent;
}
.action-advanced-reports{
    border-radius:5px;
    text-shadow:none;
}
.abs-action-l, .ui-dialog .ui-button, .ui-dialog .action-primary, .attribute-popup-actions .page-actions-buttons > button.action-default.primary, .modal-popup .modal-footer .action-primary,
.modal-popup .modal-footer .action-secondary, .action-advanced-reports, .page-actions button, .page-actions .page-actions-buttons > button,
.page-actions .page-actions-buttons > .action, .page-actions > button.action-primary, .page-actions .page-actions-buttons > button.action-primary,
.page-actions .page-actions-buttons > .action.action-primary, .page-actions > button.primary, .page-actions .page-actions-buttons > button.primary, .page-actions .page-actions-buttons > .action.primary,
.page-actions > button.action-secondary, .page-actions .page-actions-buttons > button.action-secondary, .page-actions .page-actions-buttons > .action.action-secondary,
.page-layout-admin-login .action-primary, .admin__field-complex-attributes [class^='action-'], .steps-wizard .select-attributes-actions .action-default, .order-totals-actions .action-default,
.staging-preview-item-content-wrapper > .actions-toolbar .action-primary, .popup-window .magento_buttons .ok_button, .fade .actions .primary, .attribute-popup-actions .page-actions-buttons > .block-footer .action-add.action-default.primary,
.page-actions .block-footer .action-add, .page-actions .page-actions-buttons > .block-footer .action-add, .page-actions > .block-footer .action-add.action-primary,
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary, .page-actions > .block-footer .action-add.primary, .page-actions .page-actions-buttons > .block-footer .action-add.primary,
.page-actions > .block-footer .action-add.action-secondary, .page-actions .page-actions-buttons > .block-footer .action-add.action-secondary{
    font-size:14px;
    letter-spacing:0.75px;
}
.page-title, .page-main-actions .page-actions._fixed .page-actions-inner:before{
    color:#0064FF;
    font-weight:300;
    font-size:33px;
}
.page-main-actions:not(._hidden), .page-actions._fixed{
    border:1px solid #e3e3e3;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(105, 112, 127, 0.1);
}
.page-main-actions .page-actions._fixed{
    border-radius:0;
    border-left:0;
    border-right:0;
    padding-left:25px;
    padding-right:25px;
}
.sticky-header{
  z-index:501;
}
/*MENU*/
.menu-wrapper{
    box-shadow: 2px 2px 10px 0 rgba(72,107,255,0.22);
}
.menu-wrapper:before{
    background:#0064FF;
    border:1px solid rgba(46,91,255,0.08);
}
.admin__menu .level-0 > .submenu{
    box-shadow: 2px 2px 10px 0 rgba(72,107,255,0.22);
}
.admin__menu .level-0 > a{
    color:#fff;
}
.admin__menu .level-0:hover > a{
    background:#0056da;
}
.admin__menu .level-0._active > a{
    background:#2944A6;
}
.admin__menu .level-0 > .submenu{
    background:#2944A6;
}
.admin__menu [class*='level-']:not(.level-0) a:hover{
    background:#213786;
}
.admin__menu .submenu .parent .submenu-group-title{
    color:#fff;
}
.admin__menu .action-close::before{
    color:#fff;
}
.admin__menu .action-close:hover::before{
    color:#f1f1f1;
}
.abs-menu-separator, .admin__menu .level-0:first-child > a:after, .admin__menu .item-partners > a:after{
    background-color:#f1f1f1;
    border-radius:50%;
}
/*MESSAGES*/
.modal-popup.modal-system-messages .modal-inner-wrap{
    background:#f2f7ff;
    border-radius:10px;
    box-shadow:0 5px 15px 0 rgba(105, 112, 127, 0.7);
    border:1px solid rgba(0, 100, 255, 0.2);
}
.modal-popup .action-close, .modal-slide .action-close{
    top:20px;
    right:20px;
    color:#0064FF;
}
.modal-popup .modal-title{
    color:#0064FF;
    font-size:22px;
    margin-bottom:10px;
}
.message, .order-errors .admin__fieldset-wrapper .title{
    background:#f2f7ff;
}
.message:before, .order-errors .admin__fieldset-wrapper .title:before{
    color:#0064FF;
}
.message-system-inner{
    background:#f2f7ff;
    border-color:rgba(0, 100, 255, 0.2);
}
.message-system:not(._active) .message-system-inner{
    border-radius:0 0 5px 5px;
}
.message-system-collapsible{
    background:#f2f7ff;
    border-radius:0 0 5px 5px;
}
.message-system-list,
.message-system-collapsible,
.message-system-list li + li{
    border-color:rgba(0, 100, 255, 0.2);
}
/*UI*/
.admin__actions-switch-checkbox:checked + .admin__actions-switch-label:after{
    background:#0064FF;
}
/*DASHBOARD*/
.action-advanced-reports{
    background:#e3e3e3;
    color:#2E384D;
    border-color:#d0d0d0;
}
.action-advanced-reports:hover{
    background:#d0d0d0;
    color:#2E384D;
    box-shadow:none;
    border-color:#b7b7b7;
}
.adminhtml-dashboard-index .page-content .page-columns .main-col{
    display:flex;
    flex-direction:column;
}
.dccp-agreement-data{
    order:-1;
    margin-bottom:20px;
}
.dccp-agreement-data>h2{
    font-weight:bold;
    font-size:22px;
    margin-bottom:10px;
}
.dccp-agreement-data .agreement-info-links a{
    margin:0 18px 18px 0;
    text-decoration:underline;
    display:inline-block;
}
.dashboard-item-title, .dashboard-advanced-reports-title{
    font-weight:bold;
    color:#0064FF;
}
.dashboard-sales-value,
.dashboard-item-primary:first-child .dashboard-sales-value{
    color:#2E384D;
    font-weight:500;
}
.dashboard-container .empty-text{
    font-size:14px;
    line-height:16px;
}
.dashboard-totals-item:first-child .price{
    color:#0064FF;
}
/*TABLES*/
.data-grid-filters-action-wrap .action-default._active:after{
    background-color:#0064FF;
}
.data-grid-filters-action-wrap .action-default{
    border-radius:0;
}
.admin__table-primary th{
    font-size:14px;
    font-weight:bold;
}
.data-grid th{
    background:#69707F;
    padding:25px 20px;
    font-weight:normal;
    font-size:14px;
}
.data-grid .data-grid-th{
    padding:25px 20px;
}
.data-grid .data-grid-th._sortable:focus,
.data-grid .data-grid-th._sortable:hover{
    background:#5c626f;
}
.data-grid tr td,
.admin__data-grid-wrap-static .data-grid tr:nth-child(even) td{
    background:#F4F4F4;
}
.data-grid tr._odd-row td,
.admin__data-grid-wrap-static .data-grid tr:nth-child(odd) td{
    background:#fff;
}
input[type='checkbox'].admin__control-checkbox, input[type='radio'].admin__control-checkbox{
    width:25px;
    height:25px;
}
.admin__control-radio + label:before, .admin__control-checkbox + label:before, .mass-select-wrap select + label:before{
    width:25px;
    height:25px;
    border-radius:5px;
    border:1px solid #979797;
}
.admin__control-checkbox:checked + label:before, .mass-select-wrap select._checked + label:before,
.admin__control-checkbox:not(:checked)._indeterminate + label:before,
.admin__control-checkbox:not(:checked):indeterminate + label:before{
    line-height:24px;
    font-size:14px;
}
.mass-select-wrap select + label{
    width:25px;
    height:25px;
}
.admin__data-grid-toolbar .admin__data-grid-header-row .action-select-multiselect{
    width:25px;
    height:25px;
}
.action-multicheck-wrap{
    width:45px;
}
.action-multicheck-wrap .action-multicheck-toggle{
    height:25px;
    margin-left:2px;
    border-radius:5px;
}
.mass-select-wrap{
    margin-top:40px;
    margin-left:25px;
}
/*TABS*/
.fieldset-wrapper-title{
    margin-bottom:20px;
}
.admin__page-nav:not(.config-nav-block){
    background:#F4F4F4;
    border-color:none;
    border-radius:7px;
}
.admin__page-nav-title._collapsible,
.admin__page-nav._collapsed._show ._collapsible{
    background:#69707F;
    color:#fff;
    border-color:#5c626f;
}
.admin__page-nav-title._collapsible:hover,
.admin__page-nav._collapsed._show ._collapsible{
    background:#5c626f;
}
.admin__page-nav._collapsed:first-child ._collapsible{
    border-radius:7px 7px 0 0;
}
.admin__page-nav._collapsed:last-child{
    border-radius:0 0 7px 7px;
    border-bottom:1px solid #e3e3e3;
}
.admin__page-nav._collapsed:last-child:not(._show) ._collapsible{
    border-radius:0 0 7px 7px;
}
.admin__page-nav._collapsed:last-child .admin__page-nav-title{
    border-bottom:0;
}
.admin__page-nav, .order-sidebar{
    border-radius:7px;
}
.admin__page-nav-item._active, .admin__page-nav-item.ui-state-active{
    border-color:#0064FF;
    border-radius:5px;
}
.dashboard-store-stats .tabs-horiz{
    overflow:initial;
}
.tabs-horiz .ui-state-default{
    border-bottom:0;
}
.tabs-horiz .ui-tabs-anchor{
    padding:10px 15px;
    background:#E3E3E3;
}
.tabs-horiz .ui-state-active{
    border-top-color:#0064FF;
}
.tabs-horiz .ui-state-active .ui-tabs-anchor{
    border-top:3px solid #0064FF;
    padding:7px 15px 10px;
    background:#fff;
    border-bottom:0;
}
.dashboard-container .ui-tabs-panel{
    border-color:#C7C7C7;
}
.admin__collapsible-block-wrapper.fieldset-wrapper,
.section-config{
    border:1px solid #e3e3e3;
    border-radius:5px;
    padding:0 20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px 0 rgba(105, 112, 127, 0.1);
}
.admin__collapsible-block-wrapper .admin__collapsible-title,
.section-config > .admin__collapsible-block > a, .accordion > dt a, .accordion .admin__collapsible-block > a{
    color:#2E384D;
}
/*GRID*/
.grid-severity-critical, .grid-severity-major, .grid-severity-notice, .grid-severity-minor{
    border-radius:5px;
}
/*LOADING*/
.popup-loading{
    border-color:#0064FF;
    color:#0064FF;
}
.store-switcher .dropdown .dropdown-menu{
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(105, 112, 127, 0.1);
    border:1px solid #c7c7c7
}
/*FOOTER*/
.page-footer{
    padding:20px 30px 15px;
}
.footer-legal{
    display:inline-block;
    padding:0;
    width:100%;
}
.page-footer a{
    color:#8798AD;
}
.page-footer a:hover{
    color:#6d7b8c;
}
.copyright .link-copyright:before{
    color:#0064FF;
}
.copyright .link-copyright:hover:before{
    color:#0064FF;
    opacity:0.6;
}
#row_cron_job_schedules_update_quote_status_schedule .note code,
#row_summa_temporary_update_cron_schedule .note code {
    white-space: pre;
}
