<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?= /* @escapeNotVerified */ __('Sort By') ?></label>
    <div class="select-container-icon">
      <select id="sorter" data-role="sorter" class="sorter-options">
          <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
              <option value="<?= /* @escapeNotVerified */ $_key ?>"
                  <?php if ($block->isOrderCurrent($_key)): ?>
                      selected="selected"
                  <?php endif; ?>
                  >
                  <?php if ($_key == 'price'): ?>
                      <a title="<?= /* @escapeNotVerified */ __('Price from lowest to highest') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
                          <span><?= /* @escapeNotVerified */ __('Price from lowest to highest') ?></span>
                      </a>
                  <?php else: ?>
                    <?= $block->escapeHtml(__($_order)) ?>
                  <?php endif; ?>
              </option>
          <?php endforeach; ?>
      </select>
    </div>
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><?= /* @escapeNotVerified */ __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><?= /* @escapeNotVerified */ __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>
</div>
