<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_WkTax
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<div class="block tax active" id="block-tax">
    <div data-role="title" class="title">
        <strong id="block-tax-heading" role="heading" aria-level="0">
            <?= $block->escapeHtml(__('Tax Rules')) ?>
        </strong>
    </div>
    <div data-role="content" class="content" aria-labelledby="block-tax-heading">
        <form id="apply-tax-form" class="form tax add" action="<?= $this->getUrl("wktax/checkout/apply") ?>" method="post" data-mage-init='{"validation":{}}'>
            <div class="fieldset">
                <?php foreach ($block->getRules() as $key => $ruleData): ?>
                  <div class="field">
                      <div class="control">
                          <input class="input-text wk_tax_rules" type="radio" id="rule-code-<?php echo $key ?>" name="rule_code"
                                 data-validate="{'required-entry':true}" value="<?php echo $key ?>" <?php if($ruleData['is_default']){ echo "checked";} ?> is_comment_allow="<?php echo $ruleData['allow_comment'] ?>" />
                           <label class="label" for="rule-code-<?php echo $key ?>">
                               <span><?= $block->escapeHtml(__($ruleData['text'])) ?></span>
                           </label>
                      </div>
                  </div>
                  <?php if($ruleData['allow_comment']) {?>
                    <div class="field wk_order_comment" style="display:none">
                        <div class="control">
                            <input class="input-text" type="text" id="rule-text-<?php echo $key ?>" name="tax_comment"
                                   data-validate="{'required-entry':true}" value="<?php echo $block->getOrderComment(); ?>" placeholder="<?= $block->escapeHtml(__("Add Order Note")) ?>" />
                        </div>
                    </div>
                  <?php } ?>
                <?php endforeach; ?>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action applytax primary" type="submit" value="<?= $block->escapeHtml(__('Apply Tax Rule')) ?>">
                            <span><?= __('Apply Tax Rule') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    require([
        "jquery",
        'jquery/ui',
        'jquery/validate',
        'mage/translate'
    ], function ($){
        let selectedValue = $("input[name='rule_code']:checked").attr('is_comment_allow');
        if(selectedValue == 1) {
          $(".wk_order_comment").css({"display":"block"});
        }
        $('.wk_tax_rules').on('change',function(){
            let isAllow = $("input[name='rule_code']:checked").attr('is_comment_allow');
            if(isAllow == 1){
                $(".wk_order_comment").css({"display":"block"});
            } else {
                $(".wk_order_comment").css({"display":"none"});
            }
        });

    });
</script>
