<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$i = 0;
$ajaxData = [];
$helper= $block->getHelperObj();
$_helper = $block->getCatalogOpHelper();
$imageHelper = $block->getCatalogImgHelper();
$mpHelper = $block->getMpHelper();
$currencyHelper = $block->getPriceHelper();
$marginLeftCssForQtyAndPrice = 'margin-left: -5%';
if ($mpHelper->getIsSeparatePanel()) {
    $marginLeftCssForQtyAndPrice = 'margin-left: -4%';
}
$request = $block->getRequestObj();
$id = $request->getParam('id');
$sellerQuote = $block->getQuoteInfoById($id);
$ajaxData['seller_id'] = $sellerQuote['seller_id'];
$ajaxData['quote_id'] = $sellerQuote['quote_id'];
$quoteConversation = $block->getQuoteConversation();
$quoteConversationData = array_reverse($quoteConversation->getData());
$quoteId = $sellerQuote['quote_id'];
$hideResponseAreaForClosedQuote = "";
$quote = $block->getQuoteById($quoteId);

$approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']);
if ($quote['product_id']) {
    $product = $block->getProductDetails($quote['product_id']);
    if (isset($product['name'])) {
        $mediaGalleryImages = $product->getMediaGalleryImages();
        $productImage = $product->getImage();
    } else {
        $mediaGalleryImages = [];
        $productImage = '';
    }
} else {
    $mediaGalleryImages = [];
    $productImage = '';
}
$price = 0;
$productId = $sellerQuote['product_id'];
$qty =  $quote['bulk_order_qty'];
$quotedatedelivery =  $quote['quotedatedelivery'];
$quoteaddress =  $quote['quoteaddress'];
$quotecomments =  $quote['quotecomments'];
$quotedatereceive =  $quote['quotedatereceive'];
$quotenotif =  $quote['quotenotif'];
if (isset($approvedRfqInfo['entity_id'])) {
    $price = $approvedRfqInfo['quote_price'];
    $qty = $approvedRfqInfo['bulk_quote_qty'];
}
$currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
$currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
$ajaxData['quantity'] = $qty;
$ajaxData['price'] = $price;
$ajaxData['productId'] = $quote['product_id'];
$ajaxData['tax_class_id'] = $quote['tax_class_id'];
$subject =  $quote['subject'];
$description =  html_entity_decode($quote['description']);
$attributeDescription =  $quote['attribute_description'];
$sampleImages =  [];
if ($quote['sample_images']) {
    $sampleImages =  explode(',', $quote['sample_images']);
}
$sellerName =  $block->getSellerName();
$customerName =  $block->getCustomerNameById($quote['customer_id']);
$sellerLogo = $block->getSellerLogoBySellerId();
?>
<div class="wk_mp_design wk_mp_rfq_main_container" style="width:99%;">
    <div class="page-title">
        <h1 style="word-wrap: break-word;">
            <?= /*@noEscape*/ __('Requested Quote For: %1', $subject) ?>
            <br>
            <?php $status = __("Approved By Customer"); ?>
            <?php if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
                <a href="#wk_mp_rfq_approved_box" class="wk_mp_rfq_span wk_mp_rfq_customer" style="color: inherit!important;text-decoration: none;"><?= /*@noEscape*/ __("Approved By Customer") ?></a>
                <?php if ($sellerQuote['product_created'] == 1) { ?>
                    <?php $status = __('Product Created'); ?>
                    <?php if ($sellerQuote['product_created'] == 1 && $sellerQuote['order_created']) { ?>
                        <?php $status = __('Product has been purchased by the customer'); ?>
                    <?php } else { ?>
                        <?php $status = __('Product has been created'); ?>
                    <?php } ?>
                <?php } else { ?>
                    <br><button id="wk_mp_rfq_create_product"><?= /*@noEscape*/ __("Create Product") ?></button>
                <?php } ?>
            <?php elseif ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==4) : ?>
                <?php $hideResponseAreaForClosedQuote = 'style="display:none;"'; ?>
                <a href="#wk_mp_rfq_approved_box" class="wk_mp_rfq_span wk_mp_rfq_customer" style="color: inherit!important;text-decoration: none;"><?= /*@noEscape*/ __("Closed") ?></a>
            <?php endif ?>
        </h1>
    </div>
    <?php if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
        <?php $approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']) ?>
        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <div>
                <strong><?= /*@noEscape*/ __("Status: ") ?></strong><?= $block->escapeHtml($status); ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved At: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['created_at']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Quoted Bulk Quantity: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['bulk_quote_qty']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Per Unit Price: ") ?></strong><?= $block->escapeHtml($currencyHelper->currency($approvedRfqInfo['quote_price'], true, false)) ?>
            </div>
        </div>
    <?php endif ?>
    <div class="wk_mp_rfq_communication_box" style="padding: 20px 3px;">
        <div>
            <strong><?= /*@noEscape*/ __("Created At: ") ?></strong><?= $block->escapeHtml($quote['created_at']) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Customer Name: ") ?></strong><?= $block->escapeHtml($customerName) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Requested Bulk Quantity: ") ?></strong><?= $block->escapeHtml($qty) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Fecha de entrega: ") ?></strong><?= $block->escapeHtml($quotedatedelivery) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Dirección de entrega: ") ?></strong><?= $block->escapeHtml($quoteaddress) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Observaciones: ") ?></strong><?= $block->escapeHtml($quotecomments) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Recibir cotizaciones hasta: ") ?></strong><?= $block->escapeHtml($quotedatereceive) ?>
        </div><br>
        <!--<div>
            <strong><?= /*@noEscape*/ __("Notificaciones: ") ?></strong><?= $block->escapeHtml($quotenotif) ?>
        </div><br>-->
        <div class="wk_mp_rfq_textarea_container" style="word-break:break-word;"><strong><?= /*@noEscape*/ __("Description: ") ?></strong><?= /*@noEscape*/ $description ?></div><br>
        <?php if (!($attributeDescription == null || $attributeDescription == "")) { ?>
            <div class="wk_mp_rfq_textarea_container"><h2><?= /*@noEscape*/ __("Quote Details: ") ?></h2><?= /*@noEscape*/ $attributeDescription ?></div>
        <?php } ?>
        <?php if (count($mediaGalleryImages) || $productImage || count($sampleImages)) { ?>
            <div class="wk_mp_rfq_image_wrapper">
                <div><strong><?= /*@noEscape*/ __("Sample Images: ") ?></strong></div>
                <?php
                $i = 0;
                if (count($mediaGalleryImages)) {
                    foreach ($mediaGalleryImages as $image) {
                        ?>
                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                            <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($image->getFile())->resize(200, 130)->getUrl()); ?>">
                        </div>
                        <?php
                        $i++;
                    }
                } elseif ($productImage) {
                    ?>
                    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                        <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($productImage)->resize(200, 130)->getUrl()); ?>">
                    </div>
                    <?php
                    $i++;
                }
                if (count($sampleImages)) {
                    foreach ($sampleImages as $sampleImage) {
                        $ext = pathinfo($sampleImage, PATHINFO_EXTENSION);
                        if (strpos($ext, 'pdf') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'doc') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                </a>
                            </div>
                            <?php
                        } else {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>">
                                </a>
                            </div>
                            <?php
                        }
                        $i++;
                    }
                } ?>
            </div>
        <?php } ?>
    </div>
    <?php if ($quoteConversation->getSize()) : ?>
        <?php foreach ($quoteConversationData as $key => $value) { ?>
            <div class="wk_mp_rfq_communication_box" style="padding: 20px 3px;">
                <div style="width: 100%;text-align: right;">
                    <?= $block->escapeHtml($helper->getDateTimeAccordingTimeZone($value['created_at'])) ?>
                </div>
                <div class="wk_mp_rfq_reponse_left">
                    <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                        <img class="border" src="<?= $block->escapeUrl($block->getUrl('pub/media/avatar/').$sellerLogo) ?>" style="width: 100%;">
                    <?php else : ?>
                        <img class="border" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/user.png')); ?>" style="width: 100%;">
                    <?php endif ?>
                </div>
                <div class="wk_mp_rfq_reponse_right">
                    <div class="wk_mp_rfq_reponse_user_container">
                        <a href="#">
                            <strong>
                                <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                                    <?= $block->escapeHtml($sellerName) ?>
                                <?php else : ?>
                                    <?= $block->escapeHtml($customerName) ?>
                                <?php endif ?>
                            </strong>
                        </a>
                        <span>
                            <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_CUSTOMER) : ?>
                                <span class="wk_mp_rfq_span wk_mp_rfq_customer">
                                    <?= /*@noEscape*/ __('Customer') ?>
                                </span>
                            <?php endif ?>
                        </span>
                    </div>
                    <div style="width:98%;" class="wk_mp_rfq_description_container <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?> <?= $block->escapeHtml('wk_mp_rfq_description_container_seller') ?> <?php else : ?><?= $block->escapeHtml('wk_mp_rfq_customer') ?><?php endif ?>">
                        <div class="wk_mp_rfq_description">
                            <?php if ($value['bulk_quote_qty']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Bulk Quoted Quantity") ?> : </strong><?= $block->escapeHtml($value['bulk_quote_qty']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ((int)$value['quote_price']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Per Unit Price") ?> : </strong><?= $block->escapeHtml($currencyHelper->currency($value['quote_price'], true, false)) ?>
                                </div>
                            <?php endif; ?>
                            <?= $block->escapeHtml($value['response']) ?>
                        </div>
                    </div>
                    <?php
                    $responseSampleImages =  [];
                    if ($value['sample_images']) {
                        $responseSampleImages =  explode(',', $value['sample_images']);
                    }
                    if (count($responseSampleImages)) { ?>
                        <div class="wk_mp_rfq_image_wrapper">
                            <div><strong><?= /*@noEscape*/ __("Sample Images") ?> :</strong></div>
                            <?php
                            $i = 0;
                            if (count($responseSampleImages)) {
                                foreach ($responseSampleImages as $responseSampleImage) {
                                    $ext = pathinfo($responseSampleImage, PATHINFO_EXTENSION);
                                    if (strpos($ext, 'pdf') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'doc') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } else {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    }
                                    $i++;
                                }
                            } ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <?php
        } ?>
        <?= /*@noEscape*/ $block->getPagerHtml(); ?>
    <?php endif ?>
    <div class="wk_mp_rfq_reponse_box" <?= $block->escapeHtml($hideResponseAreaForClosedQuote); ?>>
        <div class="wk_mp_rfq_reponse_left">
            <img class="border" src="<?= $block->escapeUrl($block->getUrl('pub/media/avatar/').$sellerLogo) ?>" style="width: 100%;">
        </div>
        <div class="wk_mp_rfq_reponse_right">
            <div>
                <a href="#">
                    <strong><?= $block->escapeHtml($sellerName) ?></strong>
                </a>
            </div>
            <form action="<?= $block->escapeUrl($block->getUrl('requestforquote/quote/sendmessagetocustomer')) ?>" enctype="multipart/form-data" method="post" id="form-rfq-new" data-mage-init='{"validation":{}}' style="margin-top:2%">
                <input type="hidden" name="seller_quote_id" value="<?= $block->escapeHtml($id) ?>">
                <?php if ($quote['approved_seller_quote_id'] == 0) : ?>
                    <ul class="form-list" style="list-style-type: none;<?= $block->escapeHtml($marginLeftCssForQtyAndPrice) ?>;">
                        <li>
                            <label for="bulk_quote_qty"><?= /*@noEscape*/ __('Bulk Quoted Quantity') ?>:</label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" name="bulk_quote_qty" id="bulk_quote_qty" data-validate="{required:true,'integer':true,'validate-greater-than-zero':true}">
                            </div>
                        </li>
                        <li>
                            <label for="quote_price"><?= /*@noEscape*/ __('Per Unit Price') ?> (<?= $symbol ?>):</label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-zero-or-greater" name="quote_price" id="quote_price" data-validate="{required:true,'validate-greater-than-zero':true}">
                            </div>
                        </li>
                    </ul>
                <?php endif; ?>
                <div class="wk_mp_rfq_container" style="width:99%;">
                    <div contenteditable="true" class="wk_mp_rfq_textarea_container" data-text="<?= /*@noEscape*/ __("Write your response here including all necessary details.") ?>"></div>
                    <textarea name="response" class="wk_mp_rfq_textarea required-entry" data-validate="{required:true}"></textarea>
                </div>
                <div class="wk_mp_rfq_image_wrapper">
                    <label for="sample_images" class="wk_mp_rfq_image_label">
                        <span class="wk_mp_rfq_image_span_icon">+</span>
                        <span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>
                    </label>
                    <input type="file" id="sample_images" style="display: none;" multiple>
                </div>
                <button class="button" type="submit" id="wk_mp_rfq_submit_btn">
                    <span>
                        <span>
                            <?= /*@noEscape*/ __("Send Message") ?>
                        </span>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
            }
        }
    </script>
<script id="requestForQuoteImageTemplate" type="text/x-magento-template">
    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<%- data.index %>">
        <img class="wk_mp_rfq_image" src="<%- data.imageUrl %>">
        <input type="hidden" name="sample_images[]" value="<%- data.imageName %>">
        <div class="actions">
            <button type="button" class="wk_mp_rfq_image_delete" title="<?= /*@noEscape*/ __("Delete file") ?>">
                <span><?= /*@noEscape*/ __("Delete file") ?></span>
            </button>
          </div>
    </div>
</script>
<script type="text/javascript">
    require([
        'jquery',
        'mage/template',
        'Magento_Ui/js/modal/alert',
        'mage/validation',
        'mage/calendar',
    ], function ($wk_jq,template,alert) {

        $wk_jq.validator.addMethod(
        'integer', function (value, element) {
        return this.optional(element) || /^-?\d+$/.test(value);
        }, $wk_jq.mage.__('A positive non-decimal number please'));

        var i = <?= $block->escapeHtml($i) ?>;
        $wk_jq(document).ready(function(){
            $wk_jq('.wk_req_admin_defined_attribute_span_text').css('display','block');
            $wk_jq('.wk_req_admin_defined_attribute_input').css('display','none');
        });
        $wk_jq(document).on('change', '#sample_images', function () {
            var thisthis = $wk_jq(this);
            var countlength = 0;
            var length = thisthis.prop("files").length;
            $wk_jq.each(thisthis.prop("files"), function (index, value) {
                thisthis.parent().find('.wk_mp_rfq_image_label').html('<div style="position:relative;top:23px;" class="cp-spinner cp-round"></div>');
                var file_data = thisthis.prop("files")[index];
                var form_data = new FormData();
                form_data.append("sample_images", file_data);
                $wk_jq.ajax({
                    url: "<?= $block->escapeUrl($block->getUrl('requestforquote/index/sampleupload'));?>",
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    success: function (content) {
                        if(content.type){
                            var templatee = "";
                            var ImageTemplate = template('#requestForQuoteImageTemplate');
                                templatee += ImageTemplate({
                                data: {
                                    index:i,
                                    imageUrl:content.fileurl,
                                    imageName:content.filename

                                }
                            });
                            $wk_jq(templatee).insertBefore(".wk_mp_rfq_image_label");
                            thisthis.val('');
                            i = i+1;
                            countlength = countlength+1;
                            if (countlength == length) {
                                thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            }
                        }else{
                            thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            thisthis.val('');
                            alert({
                                content: content.errormsg
                            });
                        }
                    },
                    error: function (content) {
                        thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                        thisthis.val('');
                        alert({
                            content: content.errormsg
                        });
                    }
                });
            });
        });
        $wk_jq('#wk_mp_rfq_create_product').on('click',function(e){
            e.preventDefault();
            $wk_jq.ajax({
                url: "<?= $block->escapeUrl($block->getUrl('requestforquote/seller/createnewproduct'));?>",
                dataType: 'json',
                showLoader: true,
                data: {
                    quoteInfoId:<?= $block->escapeHtml($id); ?>,
                    sellerId:<?= $block->escapeHtml($ajaxData['seller_id']); ?>,
                    quoteId:<?= $block->escapeHtml($ajaxData['quote_id']); ?>,
                    quantity:<?= $block->escapeHtml($ajaxData['quantity']); ?>,
                    price:<?= $block->escapeHtml($ajaxData['price']); ?>,
                    productId:<?= $block->escapeHtml($ajaxData['productId']); ?>,
                    taxClassId:<?= $block->escapeHtml($ajaxData['tax_class_id']); ?>
                },
                type: 'POST',
                success: function (content) {
                    if (content.success == true) {
                        alert({
                            content: content.message,
                                    actions: {
                                        always: function(){location.reload(true);}
                                    }
                        });
                        // window.location.href = data.Url;
                    }
                    if (content.error == true) {
                        alert({
                            content: content.message
                        });
                    }
                },
                error: function (content) {
                }
            });
        });
        $wk_jq(document).on('click', '.wk_mp_rfq_image_delete', function () {
            $wk_jq(this).parents('.wk_mp_rfq_image_box').remove();
        })

        $wk_jq(document).on('keyup', '.wk_mp_rfq_textarea_container', function() {
            $wk_jq('.wk_mp_rfq_textarea').html($wk_jq(this).html());
        });
    });
</script>
