<?php $fieldsSaved = $block->getRegionalConditionbySeller(); ?>
<?php $totalFieldsSaved = isset($fieldsSaved['region_id']) && is_array($fieldsSaved['region_id']) ? count($fieldsSaved['region_id']) : 0; ?>
<?php $totalFields = (int)$block->getPostValue('field_count') > 0
    ? (int)$block->getPostValue('field_count') : ($totalFieldsSaved > 0 ? $totalFieldsSaved : 1); ?>
<?php $regions = $block->getRegions(); ?>
<?php $yesNo = $block->getYesNo(); ?>
<?php $regionIdPostValue = 0 ?>

<div class="regional-condition">
    <div class="container">
        <form id="form-regional-condition" method="post" class="form" action="<?= $block->getPostUrl() ?>" data-mage-init='{"validation":{}, "customValidation":{}}'>
            <input type="hidden" name="seller_id" id="seller_id" value="<?= $block->getSellerId() ?>" />
            <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>" />
            <input type="hidden" name="field_count" id="field_count" value="<?= (int)$totalFields ?>" >
            <input type="hidden" name="website_id" id="website_id" value="<?= $block->getWebsiteId() ?>">
            <div class="container-form-matriz">
                <div class="content-to-clone active">
                    <div class="overlay-avoidclick"></div>
                    <div class="container-regional-condition-form">
                        <div class="container-regional-condition-fields">
                            <div class="field region-field">
                                <label class="label region-label" for="region"><span><?= __('Region') ?></span></label>
                                <div class="control">
                                    <select name="region" id="region" class="region_id select required">
                                        <?php
                                        foreach ($block->getNonAssignedRegions() as $region)
                                        {
                                            echo "<option value='" . $region['value'] . "'>" . $region['title'] . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                                <div class="regional-rows-box">
                                    <div class="regional-rows first-row">
                                        <div class="field required">
                                            <label class="label" for="contact_name?>"><span><?= __('Contact Name') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_name" id="contact_name" class="contact-name text validate-letter-latin-whitespace required" maxlenght="255"
                                                       title="<?= $block->escapeHtml(__('Contact Name')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="contact_phone_"><span><?= __('Contact Phone') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_phone" id="contact_phone" class="contact-phone text phoneCL required" maxlenght="15"
                                                       title="<?= $block->escapeHtml(__('Contact Phone')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="contact_email"><span><?= __('Contact Email') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_email" id="contact_email" class="contact-email text required email" maxlenght="150"
                                                       title="<?= $block->escapeHtml(__('Contact Email')) ?>"
                                                       value="" />
                                            </div>
                                        </div>

                                        <div class="field required">
                                            <label class="label" for="time_maximum_emergency_delivery"><span><?= __('Maximum delivery time in emergency') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="time_maximum_emergency_delivery" id="maximum_delivery" class="time-maximum-emergency-delivery text validate-digits format-number required" maxlenght="5"
                                                       title="<?= $block->escapeHtml(__('Maximum delivery time in emergency')) ?>"
                                                       value=""
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="maximum_amount"><span><?= __('Maximum Amount Order') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="maximum_amount" id="maximum_amount" class="maximum-amount text number-unlimited format-price-unlimited required" maxlenght="12"
                                                       title="<?= $block->escapeHtml(__('Maximum Amount Order')) ?>"
                                                       value="" />
                                            </div>
                                        </div>

                                        <div class="field required">
                                            <label class="label" for="maximum_delivery"><span><?= __('Maximum Delivery Time Store Pickup') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="maximum_delivery" id="maximum_delivery" class="maximum-delivery text number-unlimited format-number required validate-number-range number-range-0-3" maxlenght="1"
                                                       title="<?= $block->escapeHtml(__('Maximum Delivery Time Store Pickup')) ?>"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="regional-rows second-row">
                                            <div class="field">
                                                <label class="label" for="excluded_comunes"><span>Comunas excluidas</span>
                                                </label>
                                                <div class="control">
                                                    <textarea name="excluded_comunes" id="excluded_comunes" class="text"> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container form-actions control">
                            <button type="submit" class="submit action primary">
                                <span><?= __('Save') ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



