.content-to-clone.accordeon-box .overlay-avoidclick{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:1;
  cursor:pointer;
}
.content-to-clone.accordeon-box.active .overlay-avoidclick{
  display:none;
}
.container-regional-condition-matriz table th,
.container-regional-condition-matriz table tr>td:first-child{
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
  color:#8798AD;
  vertical-align:middle;
}
.container-regional-condition-matriz,
.content-to-clone{
  background:#fffF;
  border-radius:5px;
  border:1px solid #d2deff;
  padding:20px;
  margin-bottom:25px;
  position:relative;
}
.content-to-clone .container-btn{
  text-align:right;
}
.content-to-clone .container-btn .action{
  margin:20px 0 0;
  border-radius:25px;
  text-transform:uppercase;
}
.content-to-clone .label.region-label{
  display:none;
}
.content-to-clone .field.region-field select{
  background-color:#fff;
  border:none;
  padding:0 25px 0 0;
  font-size:18px;
  color:#2E384D;
  width:auto;
}
.content-to-clone .field.region-field select:focus{
  box-shadow:none;
}
.regional-rows{
  display:flex;
  margin:15px -15px;
}
.regional-rows .field{
  flex:1;
  padding:0 15px;
  display:flex;
  flex-direction:column;
}
.regional-rows .field .label{
  margin-top:auto;
  margin-bottom:5px;
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
  color:#8798AD;
}
.regional-condition .form-actions{
  text-align:right;
}
.regional-condition .form-actions .action{
  border-radius:25px;
  text-transform:uppercase;
}
.regional-condition .form-actions .action.primary{
  margin-left:20px;
}
.regional-condition .regional-rows .field .food-benefit-administration,
.regional-condition .regional-rows .field .benefit-card {
  pointer-events: none;
}