<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<li class="cc-header-link acc">
  <?php if($block->customerLoggedIn()): ?>
    <span class="cc-customer-name" tabindex="0"
      data-bind="scope: 'customer'">
        Hola!, 
        <span class="user-firstname" data-bind="text: customer().firstname"></span>
        <span class="user-lastname" data-bind="text: customer().lastname"></span>
    </span>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>
    <?php if($block->getChildHtml()):?>
    <div class="cc-customer-menu" data-target="dropdown">
        <?= $block->getChildHtml() ?>
    </div>
    <?php endif; ?>
  <?php else: ?>
    <a href="<?= $this->getUrl('customer/account/login') ?>">Iniciar Sesión</a>
  <?php endif; ?>
</li>
