<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAttributeMapping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\MpAttributeMapping\Block\Product\Create */
$associatedAttributeCollection="";
$attributeIdArray=[];
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$mappingHelper = $this->helper('Webkul\MpAttributeMapping\Helper\Data');
$isPartner = $helper->isSeller();
if ($isPartner == 1) {
    $attributeSetId = $this->getRequest()->getParam('set');
    $sessionCategoryId=$mappingHelper->getSessionCategoryVal();
    $sessionMappingId =$mappingHelper->getSessionMappingVal();
    $categoryId=$sessionCategoryId;
    $mappingId=$sessionMappingId;
    if(!empty($mappingId)){
        $categoryId= $mappingHelper->getCategoryFromMapping($mappingId);
     }
     $redirectPath=$block->getUrl('marketplace/account/dashboard', ['_secure' => $this->getRequest()->isSecure()]);
     $mappingHelper->validateAttributeSet($attributeSetId,$mappingId,$redirectPath);
     $attributeIds = $block->getMappedAttributes($mappingId);
    foreach ($attributeIds as $attributeId) {
        array_push($attributeIdArray,$attributeId->getAttributeId());
    }
    $associatedAttributeCollection=$block->getAttributesInfo($attributeIdArray);
    if (!empty($associatedAttributeCollection) && $associatedAttributeCollection->getSize()>0) { 
        ?> 
     
        <?php
        foreach ($associatedAttributeCollection as $attributeId) {
            if($attributeId->getFrontendInput()  == 'media_image'){
                continue;
            }
            $attributeCode = $attributeId->getAttributeCode();
            $defaultvalues = $attributeId->getDefaultValue();
            if ($attributeId->getIsUserDefined() == 1) {
                $isRequired = '';
                if ($attributeId->getIsRequired()) {
                    $isRequired = 'required-entry';
                } ?>
               
              <div class="field <?php if ($attributeId->getIsRequired()) { echo 'required'; } ?>">
                <label class="label" for="<?php echo $attributeId->getAttributeCode();?>">
                     <?php echo $attributeId->getFrontendLabel(); ?>
                </label>
                <div class="control">
                    <?php if ($attributeId->getFrontendInput() == 'text') { ?>
                            <input class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text" type="text" name="<?php echo "product[$attributeCode]";?>" value="<?php echo $defaultvalues; ?>"/>
                    <?php } ?>
                <?php if ($attributeId->getFrontendInput() == 'date') { ?>
                        <input  class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text wk-mapping-date datetype" type="text" name="<?php echo "product[$attributeCode]";?>" value="<?php $defaultvalues; ?>" />
                 <?php } ?>
                <?php if($attributeId->getFrontendInput() == 'price'){ ?>
                    <input class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text" type="number" name="<?php echo "product[$attributeCode]";?>" value="<?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($defaultvalues, false, false); ?>" />
                <?php } ?>

                <?php if ($attributeId->getFrontendInput() == 'textarea') { ?>
                        <textarea class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text" rows="5" cols="75" id="textar" name="<?php echo "product[$attributeCode]";?>" /><?php echo $defaultvalues; ?></textarea>
                <?php } ?>
                <?php if ($attributeId->getFrontendInput() == 'select' || $attributeId->getFrontendInput() == 'multiselect' || $attributeId->getFrontendInput() == 'boolean') {
                           
                           $fix = "";
                            $multiselect = "";
                            if ($attributeId->getFrontendInput() == 'multiselect') {
                                $fix = "[]";
                                $multiselect = "multiple='multiple'";
                            } ?>
                            <select class="<?php if($attributeId->getIsRequired()) {echo 'required-entry'; } ?> input-text" name="<?php echo "product[$attributeCode]".$fix;?>" <?php echo $multiselect;?>>
                            <?php
                             $attributeOptions = $attributeId->getSource()->getAllOptions();
                              if(count($attributeOptions)>0){
                                foreach ($attributeOptions as $each) {
                                    $values = explode(',', $defaultvalues);
                                    $selected = "";
                                    if (in_array($each["value"], $values)) {
                                        $selected = "selected='selected'";
                                    } ?>
                                    <option <?php echo $selected; ?> value="<?php echo $each["value"]; ?>">
                                        <?php echo $each["label"]; ?>
                                    </option>
                                <?php
                                }
                             }else{ ?>
                             <option value="">No Option Available</option>
                             <?php } ?>
                            </select>
                    <?php } ?>
              </div>
              </div>
            <?php
            }
        }
      
        ?>
    <?php
    }
} ?>
      <input type="hidden" name="set" value='<?php echo $attributeSetId; ?>'/>
     <input type="hidden" name="mapping_id" value='<?php echo $mappingId; ?>'/>
    <?php
			$optionData = [
			'dateTypeSelector'		=> '.datetype'
		];
		$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($optionData);
	?>

  <script type="text/x-magento-init">
    {
        "*": {
            "WkMappingJs": <?php /* @noEscape */ echo $serializedData; ?>
        }

    }
</script>