<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAttributeMapping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */


/** @var $block \Webkul\MpAttributeMapping\Block\Product\Create */
$associatedAttributeCollection=[];
$attributeIdArray=[];
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$mappingHelper = $this->helper('Webkul\MpAttributeMapping\Helper\Data');
$sessionMappingId =$mappingHelper->getSessionMappingVal();
$isPartner = $helper->isSeller();
if ($isPartner == 1) {
        $productId=$this->getRequest()->getParam('id');
        $product = $block->getProductCollection($productId);
        if ($this->getRequest()->getParam('set')) {
            $attributeSetId = $this->getRequest()->getParam('set');
        } else {
            $attributeSetId = $product['attribute_set_id'];
        }
    $productType = $product->getTypeId();
    $mappingId=$block->getEditProductMappingId($productId);
    $attributeIds = $block->getMappedAttributes($mappingId);
    foreach ($attributeIds as $attributeId) {
        array_push($attributeIdArray,$attributeId->getAttributeId());
    }
    $associatedAttributeCollection=$block->getAttributesInfo($attributeIdArray);
    if (!empty($associatedAttributeCollection)) {
         ?>
        <?php  foreach ($associatedAttributeCollection as $attributeId) {
                if($attributeId->getFrontendInput()  == 'media_image'){
                    continue;
                }
                $attributeCode = $attributeId->getAttributeCode();
                $defaultvalues = $attributeId->getDefaultValue();
                if ($attributeId->getIsUserDefined()  == 1) {
                    $isRequired = '';
                    if ($attributeId->getIsRequired()) {
                        $isRequired = 'required-entry';
                    } 
        ?>
             <div class="field <?php if ($attributeId->getIsRequired()) { echo 'required'; } ?>">
                <label class="label" for="<?php echo $attributeId->getAttributeCode()?>">
                    <?php echo $attributeId->getFrontendLabel() ; ?>
                </label>
            
             <div class="control">
                <?php if ($attributeId->getFrontendInput() == 'text') {  ?>
                     <?php  $attributeCodeValue = $product[$attributeCode] == '' ? $defaultvalues : $product[$attributeCode]; ?>
                     <input class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text" type="text" name="<?php echo "product[$attributeCode]";?>" value="<?php echo $attributeCodeValue ?>"  />
                <?php } ?>
                <?php if ($attributeId->getFrontendInput() == 'price') {  
						$product[$attributeCode] = $product[$attributeCode] == '' ? $defaultvalues:$product[$attributeCode];
						?>
						<input class="<?php if($attributeId->getIsRequired()) {echo 'required-entry'; } ?> input-text <?php echo $attributeId->getFrontendClass(); ?>" type="number" name="<?php echo "product[$attributeCode]";?>" value="<?php
							echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($product[$attributeCode], false, false);
						  ?>" />
                <?php } ?>
                <?php if ($attributeId->getFrontendInput() == 'textarea') { ?>
                     <textarea class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text" rows="5" id="textar" name="<?php echo "product[$attributeCode]";?>" > <?php echo $product[$attributeCode]==''?$defaultvalues:$product[$attributeCode]; ?> </textarea>
                <?php } ?>
                <?php if ($attributeId->getFrontendInput() == 'date') { 
                              $product[$attributeCode] = $product[$attributeCode] == '' ? $defaultvalues:$product[$attributeCode];
                               $setDate = '';
                            ?>
                        <input id="<?php echo $attributeCode; ?>" class="<?php echo $isRequired.' '.$attributeId->getFrontendClass(); ?> input-text wk-mapping-date datetype" type="text" name="<?php echo "product[$attributeCode]";?>" value="<?php echo $block->formatDate($product[$attributeCode]); ?>" />
                 <?php  } ?>
                 <?php if ($attributeId->getFrontendInput() == 'select' || $attributeId->getFrontendInput()=='multiselect' || $attributeId->getFrontendInput()=='boolean'){ 
						$fix="";
                        $multiselect="";
						if ($attributeId->getFrontendInput()=='multiselect') {
							$fix = "[]";	
							$multiselect = "multiple='multiple'";
						} ?>
					 <select class="<?php if($attributeId->getIsRequired()) {echo 'required-entry'; } ?> input-text" name="<?php echo "product[$attributeCode]".$fix;?>" <?php echo $multiselect;?>>
                        <?php
                        $attributeOptions = $attributeId->getSource()->getAllOptions();
                        foreach ($attributeOptions as $each) {
                        $values = explode(',', $product[$attributeCode]);
                        if ($values[0] === 0) {
                        $values = explode(',',$defaultvalues);
                        }
                        $selected = "";
                        if (in_array($each["value"], $values)) {
                        $selected = "selected='selected'";
                        } ?>
                        <option <?php echo $selected; ?> value="<?php echo $each["value"]; ?>">
                        <?php echo $each["label"]; ?>
                        </option>
                        <?php
                        } ?>
                        </select>

					<?php } ?>
                </div>
            </div>
        <?php } 
        }?>
    <?php }?>
    <?php }?>  
    <input type="hidden" name="set" value="<?php echo $attributeSetId;?>"/> 
    <?php
			$optionData = [
			'dateTypeSelector'		=> '.datetype'
		];
		$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($optionData);
	?>

  <script type="text/x-magento-init">
    {
        "*": {
            "WkMappingJs": <?php /* @noEscape */ echo $serializedData; ?>
        }

    }
</script>