/*
Theme: ChileCompra MArkeplace
Magento: 2.3
Version: 1.0
*/

@font-face {
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-family: Roboto;
    font-weight: 100;
}

@font-face {
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-family: Roboto;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-family: Roboto;
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E384D;
    background-color: rgba(46, 91, 255, 0.07);
}


input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
textarea {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(224, 231, 255, 0.2);
    border-radius: 4px;
    border: 1px solid #E0E7FF;
    height: 40px;
    padding: 0 20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
textarea:not([disabled]):focus {
    -webkit-box-shadow: 0 6px 11px 0 rgba(72, 107, 255, 0.21);
    box-shadow: 0 6px 11px 0 rgba(72, 107, 255, 0.21);
    border: 1px solid #B3C3FC;
    background-color: #FFFFFF;
}

textarea {
    padding: 15px 20px;
    height: auto;
}

button, button:not(.primary) {
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #8798AD;
    border-radius: 4px;
    vertical-align: top;
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:disabled,
input[type="checkbox"]:checked:disabled {
    background: #8798AD;
    border-color: #8798AD;
}

input[type="checkbox"]:checked {
    background: #0064FF;
    border-color: #0064FF;
}

input[type="checkbox"]:checked::before {
    content: '\e91a';
    font-family: 'chilecompra';
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 3px;
    left: 1px;
}

select {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(224, 231, 255, 0.2);
    border-radius: 4px;
    border: 1px solid #E0E7FF;
    height: 40px;
    padding: 0 20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 99%;
}

.account .legend {
    border-bottom: none;
}


body a, .alink,
body a:visited,
body .alink:visited {
    color: #2E5BFF;
}

body a:hover,
body .alink:hover {
    color: #8798AD;
}

/*
.wk-mp-page-main {
    padding: 0;
}
*/

body.marketplace-account-dashboard .wk-mp-page-header-hgroup > .page-title-wrapper > h1 > span {
    display: none;
}

/* MENU */
body .wk-mp-menu-wrapper {
    box-shadow: 2px 2px 10px 0 rgba(72, 107, 255, 0.22);
}

body .wk-mp-menu-wrapper:before {
    background: #0064FF;
    background-color: #2E384D;
}

#wk-mp-nav .level-0 > .wk-mp-submenu {
    box-shadow: 2px 2px 10px 0 rgba(72, 107, 255, 0.22);
}

#wk-mp-nav .level-0 > a {
    color: #fff;
    font-size: 1rem;
    letter-spacing: .025em;
}

#wk-mp-nav .level-0:hover > a {
    background: #424F69;
}

#wk-mp-nav .level-0.active > a {
    background: #424F69;
}

#wk-mp-nav .level-0 > .wk-mp-submenu {
    background: #69707F;
}

#wk-mp-nav [class*='level-']:not(.level-0) a:hover {
    background: #445066;
}

#wk-mp-nav .wk-mp-submenu .parent .wk-mp-submenu-group-title {
    color: #A1A5AE;
}

#wk-mp-nav .action-close::before {
    color: #fff;
    font-size: 1.7rem;
}

#wk-mp-nav .action-close:hover::before {
    color: #f1f1f1;
}

#wk-mp-nav .level-0:first-child > a:after,
#wk-mp-nav .item-partners > a:after {
    background-color: #f1f1f1;
    border-radius: 50%;
}

/* HEADER */
body .wk-mp-logo-img-wrapper {
    background-color: #2E384D;
    height: 60px;
    overflow: initial;
}

body .wk-mp-logo-img-wrapper .wk-mp-logo-img {
    height: auto;
    width: 50px;
}

body .wk-mp-page-header {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
}

body .wk-mp-page-header-hgroup > .page-title-wrapper > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem !important;
    color: #69707F;
}

body .wk-mp-home > a {
    padding: 2.0rem 0;
}

body .wk-mp-home > a:after {
    display: inline-block;
    width: 24px;
    height: 23px;
    content: "";
    background: url(../images/ico_market_home.svg) no-repeat;
    font-size: 0px !important;
}

body .wk-mp-notification .wk-mp__action-dropdown {
    padding: 2.0rem 2.5rem;
}

body .wk-mp-notification .wk-mp-notification-icon:after {
    display: inline-block;
    width: 22px;
    height: 24px;
    content: "";
    background: url(../images/ico_market_notification.svg) no-repeat;
    font-size: 0px !important;
}

body .wk-mp-seller-header-logo-wrapper {
    width: 3rem;
    height: 3rem;
    top: 1.8rem;
    border-radius: 2.6rem;
    border: 1px solid #92A2B5;
}

body .wk-mp-seller-header-logo {
    width: 3rem;
    height: 3rem;
}

body span.wk-mp-user-account-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #0064FF;
    text-transform: capitalize;
}

body .wk-mp-user .wk-mp__action-dropdown:after {
    color: #486BFF;
    font-size: 1.5rem;
}

/* TABLE OTHER */
.wk-mp-dashboard-border {
    background: #ffffff;
}

.wk-mp-dashboard-lifetimesale-container {
    background: #F4F6FC;
}

.wk-mp-dashboard-lifetimesale-title {
    color: #0064FF;
    text-transform: uppercase;
}

.wk-mp-dashboard-lifetimesale-value {
    color: #0064FF;
}

/* TABLE DASHBOARD REPORT */
.wk-mp-dashboard-report-block {
    background: #ffffff;
}

.wk-mp-dashboard-report-block .wk-mp-dashboard-border {
    border: none;
}

.wk-mp-dashboard-report-block .wk-dashboard-total-left-bottom {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #0064FF;
    background: #F4F6FC;
    text-transform: uppercase;
}

.wk-mp-dashboard-report-block .wk-dashboard-sales-font {
    padding: 1.3rem 0;
    background: #ffffff;
}

.wk-mp-dashboard-report-block .wk-dashboard-sales-font .price {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
    color: #D63649;
}

.wk-mp-dashboard-report-block .wk-mp-float-left {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
    width: calc(100% - 20%);
}

.wk-mp-dashboard-report-block .wk-mp-float-right {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
    width: 20%;
}

.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right {
    height: 175px;
}

.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right small {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
}

.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right small strong {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
}

.wk-mp-dashboard-report-block .wk-dashboard-products-top {
    border-bottom: 1px solid #DFE3E6;
}

.wk-mp-dashboard-report-block .wk-dashboard-products-top.wk-dashboard-sales-value small {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: #D63649;
}

.wk-mp-dashboard-total-progress-bar small {
    padding: 0 0 8px 0;
}

.wk-mp-dashboard-total-progress-bar small:after {
    top: 99%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #DFE3E6;

}

/* TABLE */
.wk-ui-component-container table.data-grid,
table.data-grid {
    border-collapse: separate;
    border-spacing: 0 9px;
}

.wk-ui-component-container table.data-grid th,
table.data-grid th {
    background: transparent;
    border-color: transparent;
}

.wk-ui-component-container table.data-grid th span,
table.data-grid th span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #69707F;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}

.wk-ui-component-container table.data-grid th:first-child,
table.data-grid th:first-child {
    border-left-color: transparent;
}

.wk-ui-component-container table.data-grid .data-grid-th._sortable:focus,
.wk-ui-component-container table.data-grid .data-grid-th._sortable:hover,
table.data-grid .data-grid-th._sortable:focus,
table.data-grid .data-grid-th._sortable:hover {
    background: transparent;
}

.wk-ui-component-container table.data-grid tbody tr,
table.data-grid tbody tr {
    margin-bottom: 9px;
}

.wk-ui-component-container table.data-grid tbody tr td,
table.data-grid tbody tr td {
    background: #ffffff;
    border: none;
}

.wk-ui-component-container .data-grid tbody tr._odd-row td,
.data-grid tbody tr._odd-row td {
    background: #ffffff;
}

.wk-ui-component-container table.data-grid tbody tr td:first-child,
table.data-grid tbody tr td:first-child {
    border-left-style: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.wk-ui-component-container table.data-grid tbody tr td:last-child,
table.data-grid tbody tr td:last-child {
    border-right-style: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content,
table.data-grid tbody tr td .data-grid-cell-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #2E384D;
}

.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"],
table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"] {
    font-size: 0px;
}

.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"]:after,
table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"]:after {
    font-size: 14px;
    content: "Ver Documento";
}

/* BUTTONS */
.wk-ui-component-container .admin__data-grid-actions-wrap,
.admin__data-grid-actions-wrap {
    margin-top: 0;
}

.admin__action-dropdown-wrap .admin__action-dropdown,
.data-grid-actions-wrap .admin__action-dropdown {
    min-width: 176px;
    font-size: 15px;
    border-radius: 20px;
    line-height: normal;
    vertical-align: middle;
    height: 40px;
    padding: 0 5rem 0 2rem;
    border: 1px solid #2E5BFF !important;
    background-color: rgba(46, 91, 255, 0.05);
}

.admin__action-dropdown .admin__action-dropdown-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0064FF;
}

.admin__action-dropdown:before {
    color: #486BFF;
}

.wk-ui-component-container .admin__action-dropdown:after,
.admin__action-dropdown:after {
    font-family: "Admin Icons";
    content: "\e628";
    color: #486BFF;
    font-size: 1.5rem;
    border: none;
    width: initial;
    margin-top: -0.8rem !important;
}

.admin__action-dropdown:hover,
.admin__action-dropdown:focus {
    border: 1px solid #2E5BFF !important;
    background-color: rgba(46, 91, 255, 0.05) !important;
}

._active .admin__action-dropdown:after,
.active .admin__action-dropdown:after {
    margin-top: 0.8rem !important;
}

body .data-grid-filters-action-wrap .action-default,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default {
    min-width: 176px;
    border-radius: 20px !important;
    border: 1px solid #2E5BFF !important;
    background: #2E5BFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 0;
    line-height: normal;
    height: 40px;
    padding: 0;
}

body .data-grid-filters-action-wrap .action-default:focus,
body .wk-ui-component-container .action-default:focus {
    background: #2E5BFF !important;
    color: #ffffff !important;
}

body .data-grid-filters-action-wrap .action-default:hover,
body .wk-ui-component-container .action-default:hover {
    background: #2041BA !important;
    color: #ffffff !important;
}

body .data-grid-filters-action-wrap .action-default:before,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default:before {
    color: #ffffff;
}

body .data-grid-filters-action-wrap .action-default._active,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default._active {
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 1px solid #2041BA !important;
    background-color: #2041BA !important;
}

body .data-grid-filters-action-wrap .action-default._active:after,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default._active:after {
    content: initial !important;
    background-color: transparent !important;
}


button.wk-mp-btn,
button.wk_mp_btn {
    width: 176px;
    border-radius: 20px !important;
    border: 1px solid #2E5BFF !important;
    background-color: #2E5BFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
}

button.wk-mp-btn:hover,
button.wk-mp-btn:active,
button.wk-mp-btn:focus,
button.wk_mp_btn:hover,
button.wk_mp_btn:active,
button.wk_mp_btn:focus {
    background-color: #ffffff !important;
    color: #2E5BFF !important;
}


/* PAGER */
body .admin__data-grid-pager .action-previous,
body .admin__data-grid-pager .action-next {
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    border: 1px solid #2E5BFF;
    background-color: #E5EBFF;
}

body .admin__data-grid-pager .action-next {
    margin-left: .8rem;
}

body .admin__data-grid-pager .action-previous {
    margin-right: .8rem;
}

body .admin__data-grid-pager .admin__control-text {
    height: 4rem;
    width: 6.5rem !important;
    max-height: 4rem !important;
    border-radius: 5px;
    border: 1px solid #BFC5D2;
    background-color: #FFFFFF;
}

body .admin__control-support-text {
    margin: 8px 8px 0 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #69707F;
    padding: 0 !important;
}

body .selectmenu-toggle:before {
    top: 1px;
    border-left: none;
    background: #ffffff;
}

body .admin__data-grid-pager .action-previous:hover,
body .admin__data-grid-pager .action-next:hover {
    border-radius: 2px;
    background-color: #2E5BFF;
    border: 1px solid #2E5BFF;
}

body .admin__data-grid-pager .action-previous:hover:before,
body .admin__data-grid-pager .action-next:hover:before {
    color: #ffffff;
}

body .admin__data-grid-pager,
body .wk-ui-component-container .admin__data-grid-pager {
    margin-left: 2rem;
}

body .selectmenu,
body .wk-ui-component-container .selectmenu {
    padding: 0.3rem 1rem 0.3rem;
    border-radius: 5px;
    border: 1px solid #BFC5D2;
    background-color: #FFFFFF;
}

body .selectmenu-value,
body .wk-ui-component-container .selectmenu-value {
    background: #ffffff;
}

body .selectmenu-value input,
body .wk-ui-component-container .selectmenu-value input {
    background: #ffffff;
}

body .selectmenu-toggle,
body .wk-ui-component-container .selectmenu-toggle {
    border-radius: 0;
    margin-top: 0.3rem;
}

body .selectmenu-toggle:before,
body .wk-ui-component-container .selectmenu-toggle:before {
    border: none;
    border-radius: 5px;
    background: #ffffff;
}

body .admin__data-grid-actions-wrap .admin__action-dropdown-wrap:after,
body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap:after {
    content: initial;
    border: none;
}

body .admin__data-grid-filters-wrap._show,
body .wk-ui-component-container .admin__data-grid-filters-wrap._show {
    padding: 3.6rem 2rem 3rem;
}

body .admin__data-grid-filters-wrap._show .action-select,
body .wk-ui-component-container .admin__data-grid-filters-wrap._show .action-select {
    padding-right: 0;
}

body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap._active .admin__action-dropdown input[type="checkbox"]:checked,
body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap._active .admin__action-dropdown-menu input[type="checkbox"]:checked {
    width: initial;
    height: initial;
    border: initial;
    background: initial;
    border-color: initial;
}

/* FORM */
.wk-mp-design .wk-mp-fieldset .control.phone-control,
.wk-mp-design .wk-mp-fieldset .control.percent-control {
    display: flex;
    flex-wrap: wrap;
}

.wk-mp-design .wk-mp-fieldset .control.percent-control {
    max-width: 200px;
}

.wk-mp-design .wk-mp-fieldset .control.phone-control {
    max-width: 300px;
}

.wk-mp-design .wk-mp-fieldset .control.phone-control .phone-prefix,
.wk-mp-design .wk-mp-fieldset .control.percent-control .percent-suffix {
    width: 70px;
    padding: 0;
    text-align: center;
    color: #000;
    opacity: 0.8;
    border-radius: 4px 0 0 4px;
    flex: 1;
    max-width: 70px;
}

.wk-mp-design .wk-mp-fieldset .control.percent-control .percent-suffix {
    border-radius: 0 4px 4px 0;
    flex: 1;
}

.wk-mp-design .wk-mp-fieldset .control.phone-control .phone-prefix + input {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    flex: 1;
}

.wk-mp-design .wk-mp-fieldset .control.percent-control input:not(.percent-suffix) {
    border-radius: 4px 0 0 4px;
    border-right: 0;
    flex: 1;
}

.fieldset,
.wk-mp-fieldset {
    background: #ffffff;
}

.fieldset .wk-mp-page-title,
.wk-mp-fieldset .wk-mp-page-title {
    padding-bottom: 1.8rem;
    background-color: rgba(46, 91, 255, 0.07);
}

.wk-mp-fieldset .wk-mp-page-title.wk-mp-fixed {
    background: #ffffff;
    padding-bottom: 1.5rem !important;
    border-bottom: 1px solid #E0E7FF;
}

.fieldset .field,
.wk-mp-fieldset .field {
    padding: 3.0rem;
    margin: 0;
}

.fieldset .field .label,
.wk-mp-fieldset .field .label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B0BAC9;
    text-transform: uppercase;
}

.fieldset .legend {
    margin: 0 !important;
    padding: 3.0rem 3.0rem 0 3.0rem !important;
}

.wk-mp-columns .data-grid td .action-select {
    padding-left: 15px;
    background: #0064FF !important;
    color: #fff;
    border-color: #0064FF !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}

.wk-mp-columns .data-grid td .action-select:hover,
.data-grid td .action-select-wrap._active .action-select {
    color: #0064FF;
    background: #fff !important;
    text-decoration: none;
}

.wk-mp-columns .data-grid td .action-select:after {
    right: 12px;
    top: 10px;
    border-color: #fff transparent transparent;
}

.wk-mp-columns .data-grid td .action-select:hover:after,
.data-grid td .action-select-wrap._active .action-select:after {
    border-color: #0064FF transparent transparent;
}

.box-agreement {
    margin-bottom: 46px;
}

.box-agreement .name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2E384D;
}

.box-agreement .date,
.box-agreement .number span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #69707F;
}

.box-agreement .number a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #0064FF;
}

body .wk-associated-table input[type="text"] {
    width: 80px;
    padding: 0 5px;
    text-align: center;
}

.wk_mp_rfq_main_container {
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid rgba(46, 91, 255, 0.08);
}

.wk_mp_design.wk_mp_rfq_main_container {
    margin-top: 10px;
}

.wk_mp_design.wk_mp_rfq_main_container .page-title h1 {
    font-family: 'Roboto', sans-serif;
    color: #69707F;
}

.wk_mp_design.wk_mp_rfq_main_container .pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0 10px 15px;
}

.wk_mp_design.wk_mp_rfq_main_container .pager .limiter {
    margin-left: 20px;
}

.wk_mp_rfq_main_container select {
    padding-right: 30px;
}

.wk_mp_rfq_main_container strong {
    font-family: 'Roboto', sans-serif;
    color: #2E384D;
}

.menu-wrapper .logo .logo-img {
    height: auto;
    width: 50px;
}

.requestforquote-seller-view #form-rfq-new {
    box-shadow: none;
    border-radius: 0;
}

.requestforquote-seller-view #form-rfq-new .form-list {
    margin: 0 auto !important;
}

.requestforquote-seller-view #form-rfq-new button {
    margin-top: 15px;
}


@media screen and (min-width: 768px) {
    body .wk-mp__action-dropdown {
        padding: 2.5rem 3.5rem 2.1rem 6.5rem;
        margin-left: 20px;
    }

    .wk_mp_rfq_main_container {
        padding: 40px 30px;
        width: calc(99% - 60px) !important;
    }
}

.fieldset-professional-services, .fieldset-comercial-terms {
    display: none !important;
}


/* UPDATE  STYLES*/

.spacing_box {
    padding: 3rem;
    margin: 0;
}

.upload_button {
    cursor: pointer;
}

.image-con {
    margin: 35px 0;
}

.image-con .remove_attch{
    margin-left: 25px;
    font-size: 15px;
}


.add_more_images.btn-add_more_image {
    width: 176px;
    border-radius: 20px !important;
    border: 1px solid #2E5BFF !important;
    background-color: #2E5BFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
}

.add_more_images.btn-add_more_image:focus, .add_more_images.btn-add_more_image:hover {
    background: #fff !important;
    color: #2E5BFF !important;
}


.btn-add-file .action {
    padding: 9px 10px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.btn-add-file .upload-message{
    margin-left: 30px !important;
}
