@font-face {
  font-family: 'chilecompra';
  src:  url('../fonts/chilecompra.eot?vd4oiq');
  src:  url('../fonts/chilecompra.eot?vd4oiq#iefix') format('embedded-opentype'),
    url('../fonts/chilecompra.ttf?vd4oiq') format('truetype'),
    url('../fonts/chilecompra.woff?vd4oiq') format('woff'),
    url('../fonts/chilecompra.svg?vd4oiq#chilecompra') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ccicon-"], [class*=" ccicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chilecompra' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  word-spacing: -99999px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ccicon-mode-list:before {
  content: "\e91d";
}
.ccicon-mode-grid:before {
  content: "\e91e";
}
.ccicon-check-flat:before {
  content: "\e91a";
}
.ccicon-msg-chat:before {
  content: "\e901";
}
.ccicon-msg-alert:before {
  content: "\e902";
}
.ccicon-msg-check:before {
  content: "\e903";
}
.ccicon-stars-review:before {
  content: "\e904";
}
.ccicon-close-circle:before {
  content: "\e920";
}
.ccicon-account-store:before {
  content: "\e91b";
}
.ccicon-account-user:before {
  content: "\e91c";
}
.ccicon-trash:before {
  content: "\e919";
}
.ccicon-person:before {
  content: "\e909";
}
.ccicon-arrow-left:before {
  content: "\e900";
}
.ccicon-arrow-right:before {
  content: "\e90a";
}
.ccicon-arrow-slide-down:before {
  content: "\e90b";
}
.ccicon-arrow-slide-left:before {
  content: "\e90c";
}
.ccicon-arrow-slide-right:before {
  content: "\e90d";
}
.ccicon-burger:before {
  content: "\e90e";
}
.ccicon-cart:before {
  content: "\e90f";
}
.ccicon-chat:before {
  content: "\e910";
}
.ccicon-close:before {
  content: "\e911";
}
.ccicon-compare:before {
  content: "\e912";
}
.ccicon-reviews:before {
  content: "\e913";
}
.ccicon-price:before {
  content: "\e914";
}
.ccicon-search:before {
  content: "\e915";
}
.ccicon-secure:before {
  content: "\e916";
}
.ccicon-user:before {
  content: "\e917";
}
.ccicon-wishlist:before {
  content: "\e918";
}
.ccicon-net-ig:before {
  content: "\e91f";
}
.ccicon-net-fb:before {
  content: "\e905";
}
.ccicon-net-in:before {
  content: "\e906";
}
.ccicon-net-tw:before {
  content: "\e907";
}
.ccicon-net-yt:before {
  content: "\e908";
}
