<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());

$attrs = [
    //[ 'key' => 'wkv_dccp_id', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_rut', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_name', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_email', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_phone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_back_name', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_back_phone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_cellphone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_bcphone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_back_email', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_minterm', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_vendor_maxterm', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_replac_period', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_shop_train', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_date_of_entry', 'type' => 'date' ]
];
?>
<div class="box-regional-info">
    <div class="item">
        <table class="admin__table-secondary order-information-table">
            <tbody>
                <?php foreach($attrs as $attr):
                    if($_attr = $customer->getAttribute($attr['key'])):
                        $value = $customer->getData($attr['key']);
                        switch($attr['type']){
                            case 'percent':
                                $value = $value.'%';
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                        }
                    ?>
                    <tr>
                        <th width="50%"><?= $_attr->getStoreLabel() ?></th>
                        <td><?= $value ?></td>
                    </tr>
                <?php endif; endforeach; ?>
            </tbody>
        </table>
    </div>
</div>