<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$helperOffer = $this->helper("Formax\Offer\Helper\Data");
$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
$imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$assignId = $helper->getProductId();

$assignData = $helper->getAssignDataByAssignId($assignId);
$product = $helper->getProductByAssignId($assignId);

$helperAssembly = $this->helper('Summa\MobiliarioSetUp\Helper\Data');
$currentSeller = $this->helper('Webkul\Marketplace\Helper\Data')->getCustomerData();
$productRequiresAssembly = $helperAssembly->requiresAssembly($product);
$productAssemblyDifficulty = $helperAssembly->getAssemblyDifficulty($product);
$productAssemblyprice = $helperAssembly->getAssemblyPriceforProduct($product,$currentSeller);

$currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
$currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
$productId = $product->getId();
$imageType = 'category_page_list';
$conditionOptions = array('1' => 'New', '2' => 'Used');
$productImage = $imagehelper->init($product, $imageType)
    ->constrainOnly(FALSE)
    ->keepAspectRatio(TRUE)
    ->keepFrame(FALSE)
    ->resize(300)
    ->getUrl();

$image = $assignData->getImage();
$img = $assignData->getImage();
$flag = 1;
if ($image == "") {
    $flag = 0;
    $image = "noimage.jpg";
}
$image = $helper->getImageUrl($image);
$defaultImage = $helper->getImageUrl("noimage.jpg");
$productType = $product->getTypeId();
$basePriceArray = $helperOffer->getBasePrice($assignId, $productType);

if ($productType == "configurable") {
    $attriburtes = [];
    $options = [];
    $_attributes = $product->getTypeInstance(true)
        ->getConfigurableAttributesAsArray($product);
    foreach ($_attributes as $_attribute) {
        $attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
        foreach ($_attribute['options'] as $option) {
            $options[$_attribute['attribute_code']][$option['value']] = $option['label'];
        }
    }
}
if ($productType == "configurable") {
    $isConfig = 1;
    $price = $helper->currencyFormat($product->getFinalPrice());
} else {
    $isConfig = 0;
    $price = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($product->getFinalPrice(), true, false);
}
$imagesCollection = $helper->getImagesCollection($assignId);
$baseImageUrl = $helper->getBaseImageUrl($assignId);
?>
<?php
$addImageLabel = __("Add Image");
$baseImageLabel = __("Base Image");
$deleteImageLabel = __("Delete Showcase");
$blockHtml = '<div class="wk-showcase-block">';
$blockHtml .= '<div title= "'.$deleteImageLabel.'" class="wk-delete-item">x</div>';
$blockHtml .= '<div class="wk-default-block">'.$addImageLabel.'</div>';
$blockHtml .= '<input type="file" name="showcase[]" accept="image/*" class="wk-showcase-img wk-no-display">';
$blockHtml .= '<div class="wk-base-image-block"><input name="wk_base[]" type="checkbox" class="wk-base-image-input" value="0"><div class="wk-base-image-label">'.$baseImageLabel.'</div></div>';
$blockHtml .= '</div>';
$count = 0;
?>
<?php if ($isPartner == 1): ?>
    <fieldset class="fieldset wk-ap-fieldset">
        <div class="wk-ap-product-view">
            <div class="wk-ap-product-img"><img src="<?php echo $productImage; ?>" /></div>
            <div class="wk-ap-product-description">
                <div class="wk-ap-main-product-name"><a href="<?php echo $product->getProductUrl();?>"><?php echo $product->getName(); ?></a></div>
                <div class="wk-ap-main-product-price" style="display:none;"><?php echo $price; ?></div>
                <div class="wk-ap-main-product-description"><?php echo $product->getDescription(); ?></div>
            </div>
        </div>
    </fieldset>
    <form method="post" action="<?php echo $this->getUrl('mpassignproduct/product/save'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>">
        <input type="hidden" name="assign_id" value="<?php echo $assignId; ?>">
        <input type="hidden" name="product_condition" value="1">
        <input type="hidden" name="del" value="0" id="del">
        <fieldset class="fieldset">
            <?php echo $this->getFormKeyBlockHtml(); ?>
            <legend class="legend">
                <span><?php echo __("Assign Product"); ?></span>
            </legend>
            <?php if ($productType != "configurable"): ?>
                <div class="field required">
                    <label for="price" class="label">
                        <span><?php echo __("Price"); echo ' ('.$symbol.')' ?></span>
                    </label>
                    <div class="control">
                        <?php // MPMT-38: se agrega el valor del armado price en el precio del producto (price = base_price + assembly_price) ?>
                        <input value="<?= $assignData->getBasePrice() + $assignData->getAssemblyPrice() ? number_format($assignData->getBasePrice() + $assignData->getAssemblyPrice(), $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>"
                               type="text" data-validate="{required:true}"
                               class="input-text required-entry validate-zero-or-greater"
                               title="<?php echo __('Price'); ?>"
                               name="price"
                               id="price"
                               aria-required="true"
                               readonly>
                        <span><?php echo __("Este precio se calula automáticamente en base a los precios base y de armado, si corresponde"); ?></span>
                    </div>
                </div>

                <!-- el precio tiene una logica especial en un helper . ojo con eso -->
                <!-- la informacion de la tabal 'marketplace_assignproduct_item està en $assignData -->

                <!-- tener cuidado con los que no tienen o no requieren este campo -->
                <!-- websiteMobiliario -->
                <?php  if($product->getStore()->getCode() === \Summa\MobiliarioSetUp\Helper\Data::WEBSITE_CODE): ?>

                    <div class="field required">
                        <label for="base_price" class="label">
                            <span><?php echo __('Precio base'); echo ' ('.$symbol.')'?></span>
                        </label>
                        <div class="control">
                            <input value="<?= $assignData->getBasePrice() ? number_format($assignData->getBasePrice(), $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>"
                                   type="text" data-validate="{required:true}"
                                   class="input-text required-entry validate-zero-or-greater"
                                   title="<?php echo __('BasePrice'); ?>"
                                   name="base_price"
                                   id="base_price"
                                   aria-required="true">
                            <?php if ($productRequiresAssembly): ?>
                                <span>
                                    <?php echo __("Editing this value affects all base prices of the products associated with it."); ?>
                                </span>
                                <br>
                                <?php if (isset($product->getAttributes()['linked_products'])): ?>
                                <span>
                                    <?php echo __("Linked products %1", $product->getAttributes()['linked_products']->getFrontend()->getValue($product)); ?>
                                </span>
                                <?php endif ?>
                            <?php else: ?>
                                <span>
                                    <?php echo __("The product does not require assembly."); ?>
                                </span>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="field required">
                        <label for="assembly_price" class="label">
                            <span><?php echo __('Precio de armado'); echo ' ('.$symbol.')'?></span>
                        </label>
                        <div class="control">
                            <?php if ($productRequiresAssembly &&
                                    number_format($productAssemblyprice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group'])
                                        != number_format($assignData->getAssemblyPrice(), $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group'])): ?>
                                <span class="price-edit-alert"><?php echo __("Notice: The price of assembly is different from the previous configuration value of the offer"); ?></span>
                            <?php endif; ?>
                            <input value="<?= number_format($productAssemblyprice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']); ?>"
                                <?php echo $productRequiresAssembly ? 'type="text"' : 'type="hidden"' ?>
                                   data-validate="{required:true}"
                                   class="input-text required-entry validate-zero-or-greater"
                                   title="<?php echo __('AssemblyPrice'); ?>"
                                   title="<?php echo __('AssemblyPrice'); ?>"
                                   name="assembly_price"
                                   id="assembly_price"
                                   aria-required="true"
                                   readonly>

                            <?php if ($productRequiresAssembly): ?>
                                <span><?php echo __("It is not possible to modify this value."); ?></span>
                            <?php else: ?>
                                <span><?php echo __("The product does not require assembly."); ?></span>
                            <?php endif; ?>
                        </div>
                    </div>

                <?php endif; ?>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __("In Stock"); ?></span>
                    </label>
                    <div class="control" <?php echo $block->shouldRenderStockOptions() ? '' : 'style="display:none;"' ?> ">
                        <?php $assignQty = $assignData->getQty() ?>
                        <?php
                        $msg = '';
                        if($assignData->getDisDispersion() == '1'){
                            $assignQty = 1;
                            $msg = '<small>Bloqueado por dispersión</small>';
                        }
                        ?>
                        <label>
                            <input type="radio" data-validate="{required:true}" name="qty" class="required-entry" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999" <?php echo $assignQty > 0 ? 'checked' : '' ?>>
                            <span><?php echo __('Yes') ?></span>
                        </label>
                        <label>
                            <input type="radio" data-validate="{required:true}" name="qty" class="required-entry" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?>>
                            <span><?php echo __('No') ?></span>
                        </label>
                        <div><?= $msg ?></div>
                    </div>
                </div>
                <?php if(!$block->shouldRenderStockOptions()) { echo "<div class='field'><label>" .  $block->getStockDisableText('display_text') . "</label></div>"; } ?>
            <?php endif; ?>
            <div class="field dccp-tooltip">
                <label for="description" class="label" data-tooltip="Código interno de tu empresa">
                    <span><?php echo __("Product Code"); ?> <small>(opcional)</small></span>
                </label>
                <div class="control">
                    <input type="text" class="input-text" title="<?php echo __('Product Code'); ?>" name="description" id="description" aria-required="true" value="<?php echo $block->escapeHtml($helper->getDescription($assignData->getId())); ?>">
                </div>
            </div>
            <?php if ($block->showUploadFileField($productId) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file" title="<?php echo __('Upload Document'); ?>" name="document_<?= $productId ?>" id="document_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php $linkFile = $helper->getAssingProductFile($productId, $assignData->getSellerId()) ?>
            <?php if ($linkFile) :?>
                <div class="field">
                    <div class="control">
                        <div class="clearfix">
                            <a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($block->showUploadFileField($productId, true) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field required">
                    <label for="document" class="label">
                        <span><?php echo __('Documento Aseo'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" data-validate="{required:true}" class="input-file" title="<?php echo __('Upload Document'); ?>" name="doc_aseo_<?= $productId ?>" id="doc_aseo_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php $linkFile = $helper->getAseoProductFile($productId, $assignData->getSellerId()) ?>
            <?php if ($linkFile) :?>
                <div class="field">
                    <div class="control">
                        <div class="clearfix">
                            <a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($productType == "configurable"): ?>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __('Associated Products'); ?></span>
                    </label>
                    <div class="control">
                        <table class="data table wk-associated-table">
                            <thead>
                            <tr>
                                <th class="col check-hide"><input type="checkbox" class="wk-mass-associate"></th>
                                <th class="col"><?php echo __("Product Name"); ?></th>
                                <th class="col"><?php echo __("In Stock"); ?></th>
                                <?php foreach ($attriburtes as $code => $label): ?>
                                    <th class="col"><?php echo $label; ?></th>
                                <?php endforeach; ?>
                                <th class="col"><?php echo __("Price");echo ' ('.$symbol.')'; ?></th>
                            </tr>
                            </thead>
                            <?php
                            $productTypeInstance = $product->getTypeInstance();
                            $usedProducts = $productTypeInstance->getUsedProducts($product);
                            foreach ($usedProducts  as $childProduct) {
                                $childProduct->getName();
                                foreach ($attriburtes as $code => $label) {
                                    $val = $childProduct[$code];
                                    $options[$code][$val];
                                }
                            }
                            $associatesData = $helper->getAssociatesData($assignId);
                            ?>
                            <tbody>
                            <?php foreach ($usedProducts  as $childProduct): ?>
                                <?php
                                $childId = $childProduct->getId();
                                ?>
                                <tr>
                                    <td class="col check-hide">
                                        <?php if (array_key_exists($childId, $associatesData)): ?>
                                            <input class="wk-associate-chkbox" checked name="products[<?php echo $childId; ?>][id]" type="checkbox" value="1">
                                            <input name="products[<?php echo $childId; ?>][associate_id]" type="hidden" value="<?php echo $associatesData[$childId]['id']; ?>">
                                        <?php else: ?>
                                            <input class="wk-associate-chkbox" name="products[<?php echo $childId; ?>][id]" type="checkbox" value="1">
                                        <?php endif; ?>
                                    </td>
                                    <td class="col"><?php echo $childProduct->getName(); ?></td>
                                    <td class="col">
                                        <?php if (array_key_exists($childId, $associatesData)): ?>
                                            <?php $assignQty = $associatesData[$childId]['qty'] ?>
                                            <?php
                                            $msg = '';
                                            if($associatesData[$childId]['dis_dispersion'] == '1'){
                                                $assignQty = 1;
                                                $msg = '<small>Bloqueado por dispersión</small>';
                                            }
                                            ?>
                                            <label>
                                                <input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999" <?php echo $assignQty > 0 ? 'checked' : '' ?>>
                                                <span><?php echo __('Yes') ?></span>
                                            </label>
                                            <label>
                                                <input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?>>
                                                <span><?php echo __('No') ?></span>
                                            </label>
                                            <div><?= $msg ?></div>
                                        <?php else: ?>
                                            <label>
                                                <input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999">
                                                <span><?php echo __('Yes') ?></span>
                                            </label>
                                            <label>
                                                <input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0" checked>
                                                <span><?php echo __('No') ?></span>
                                            </label>
                                        <?php endif; ?>
                                    </td>
                                    <?php foreach ($attriburtes as $code => $label): ?>
                                        <?php $val = $childProduct[$code]; ?>
                                        <td class="col"><?php echo $options[$code][$val]; ?></td>
                                    <?php endforeach; ?>
                                    <td class="col">
                                            <input class="wk-associate-price required-entry validate-zero-or-greater"
                                                   name="products[<?php echo $childId; ?>][price]"
                                                   type="text"
                                                   value="<?= $basePriceArray[$childId]['price'] ? $basePriceArray[$childId]['price'] : ''; ?>">
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field required">
                <div class="control">
                    <button class="button wk-product-save-btn" type="submit">
                        <span><span><?php echo __("Save Product"); ?></span></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
<?php else: ?>
    <h2 class="wk-mp-error-msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
<?php endif; ?>
<?php
$data = [];
$data["defaultImage"] = $defaultImage;
$data["is_new"] = 0;
$data["msg"] = __("Please select associated product.");
$data["isConfig"] = $isConfig;
$data["count"] = $count;
$data["blockHtml"] = $blockHtml;
$data = json_encode($data);
?>
<script type="text/x-magento-init">
	{
		"body": {
			"Webkul_MpAssignProduct/js/item": <?php echo $data ?>,
            "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
		}
	}
</script>
