.tooltip {
    position: relative;
    display: inline-block;
    text-transform: none;
    background: #0064FF;
    padding: 3px 7px 15px;
    color: #FFF;
    line-height: 15px;
    height: 15px;
    width: 18px;
    border-radius: 50%;
    letter-spacing: 1.13px;
    font-size: 15px;
    font-weight: bold;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-weight: bold;
    padding: 5px;
    margin-left: -105px;
    opacity: 0;
    transition: opacity 0.3s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.th-subtitle {
    display: block;
    text-transform: lowercase;
    font-weight: normal;
}
.wk-table-product-list .wk-ap-delivery-days>span .ccicon-msg-check{
    margin-right: 5px;
    color: #3aaf35;
    font-weight: normal;
    font-size: 14px;
}

.box-regional-matrix,
.box-regional-info .item {
    margin-left: 80px;
}