.field.country,
.field.zip,
.field.city,
.field.additional {
    display: none !important;
}
.field.region {
    order:1;
}
.field-comuna {
    order:2;
}
div[name='shippingAddress.postcode'],
div[name='shippingAddress.city'],
div[name='shippingAddress.country_id'],
div[name='shippingAddress.company'],
div[name='street[1]'],
div[name='street[2]'] {
    display:none;
}
.table-checkout-shipping-method tr.row:last-child {
    display: none;
}