<?php

$helper = $this->helper("Formax\QuotesSupplier\Helper\Data");

$notifications = $helper->getNotification();

if (is_array($notifications)) {
    $count = count($notifications) > 5 ? "+5" : count($notifications);

    if ($count > 0) : ?>
        <ul class='quotenotifications'>
            <li>
                <span class='wk-mp-notification-icon'></span>
                <span class='wk-mp-notification-count'> <?= $count ?></span>
            </li>
            <?php foreach ($notifications as $key => $notification) : ?>
                <li>
                    <a class='marknotif' data-qid='<?= $notification['quote_id'] ?>' data-eid='<?= $notification['customer_id'] ?>'
                       data-link='<?= $block->escapeUrl($block->getUrl('requestforquote/account/view/', ['id' => $notification['quote_id']])) ?>'>
                        Nueva cotización # <?= $notification['quote_id'] ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php
    endif;
}
?>
<script>
//<![CDATA[
    require(['jquery'], function($){
		$(document).ready(function(){
	    	$(".quotenotifications:eq(0)").insertBefore(".cc-header-link.acc")
	    })
		$(document).on('click','.marknotif',function(event) {
			var linkh = $(this).data("link");
            event.preventDefault();
                $.ajax({
                    showLoader: true,
                    url: "<?= $block->getUrl('quotessupplier/account/marknotif')?>",
                    data: {"qid":$(this).data("qid"), "eid":$(this).data("eid")},
                    type: "POST"
                }).done(function (data) {
                    console.log("Marked notif" + linkh);
					window.location.href = linkh;
                    return true;
                });
        });
    });
//]]>
</script>
