<?php
$productId = $block->getProduct();
$productSku = $block->getProductSku();
$productName = $block->getProductName();
$helper = $this->helper('Formax\QuotesSupplier\Helper\Data');
$helperWebkul = $this->helper('Webkul\Requestforquote\Helper\Data');
$isQuoteModuleEnabled = $helperWebkul->getStatusOfModuleFromConfig();
if($helper->isLoggedIn() && !$helper->isSeller() && $isQuoteModuleEnabled){ ?>
  <div class="cc-quote-supplier" data-mage-init='{
      "quotessupplier-js": {
        "url": "<?= $this->getUrl('quotessupplier/account/post') ?>",
        "product_id": "<?= $productId ?>",
        "form": "#quoteSupplierForm"
      }
    }'>
    <?php if($block->shouldRenderRequestQuoteButton()){ ?>
        <form method="post" data-mage-init='{"validation":{}}' id="quoteSupplierForm">
          <button class="action primary quote_button disabled" type="submit">
              <span>
                  <span>
                      <?= /*@noEscape*/ __("Request for Quote"); ?>
                  </span>
              </span>
          </button>
        </form>
    <?php }; ?>
    <div id="quotessupplier-popup" style="display:none;">
      <form method="post" data-mage-init='{"validation":{}}' id="form_quotesupplier">
      <p>Recibe mejores condiciones cotizando con los proveedores que ofrecen este producto.</p>
      <div class="col_1quote">
        <span>Producto</span>
        <span class="input_disable"><?= $productName?></span>
      </div>
      <div class="col_2quote">
        <span>ID Producto</span>
        <span class="input_disable"><?= $productSku?></span>
      </div>
      <div class="col_from">
        <span>Cantidad</span>
        <span class="input"><input type="text" name="bulk_order_qty" class="input-text required-entry validate-greater-than-zero integer" data-validate="{required:true, 'validate-greater-than-zero':true}" placeholder="Cantidad"></span>
      </div>
      <div class="col_from">
        <span>Fecha de entrega</span>
        <span class="input"><input type="date" name="quotedatedelivery" class="input-text " placeholder="Fecha de entrega"></span>
      </div>
      <div class="col_from">
        <span>Dirección de entrega</span>
        <span class="input"><input type="text" name="quoteaddress" class="input-text" placeholder="Dirección de entrega"></span>
      </div>
      <div class="col_from">
        <span>Observaciones</span>
        <span class="input"><textarea type="text" name="quotecomments" class="input-text" placeholder="Observaciones"></textarea></span>
      </div>
      <div class="col_from">
        <span>Recibir cotizaciones hasta</span>
        <span class="input"><input type="date" name="quotedatereceive" class="input-text " placeholder="Recibir cotizaciones hasta"></span>
      </div>
      <div class="check_from">
        <span class="input"><input type="checkbox" name="quoteall" class="input-text"></span>
        <span>Cotizar a todos los proveedores este producto</span>
      </div>
      <?php /*
      <div class="check_from">
        <span class="input"><input type="checkbox" name="quotenotif" class="input-text"></span>
        <span>Quiero recibir notificaciones cuando reciba cotizaciones</span>
      </div>
      */?>
      <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="Cotizar">
                <span>Cotizar</span>
            </button>
        </div>
    </div>
    </form>
    </div>
  </div>
<style type="text/css">
  .modals-wrapper .modal-popup.quotessupplier-modal .modal-inner-wrap {
    width: 980px;
}

.quotessupplier-modal h1 {
    color: #000 !important;
    font-size: 40px !important;
    font-weight: 300 !important;
    margin-top: 40px !important;
}

div#quotessupplier-popup p {
    color: #000;
    font-size: 16px;
    margin-bottom: 50px;
}

.col_1quote span:first-child, .col_2quote span:first-child, .col_from span:first-child {
    text-transform: uppercase;
    color: #8798AD;
    display: block;
    font-size: 13px;
}

.col_1quote, .col_2quote {
    display: inline-block;
}

.col_1quote span.input_disable, .col_2quote span.input_disable {
    line-height: 30px;
    display: block;
    background: #F9FAFF;
    padding: 10px;
    color: #000;
    border: 1px solid #E0E7FF;
    border-radius: 4px;
    font-size: 14px;
    text-transform: none;
}

.col_1quote {
    width: 80%;
}

.col_2quote {
    width: calc(20% - 5px);
}

.col_from {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

input[type="date"].input-text {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(224,231,255,0.2);
    border-radius: 4px;
    border: 1px solid #E0E7FF;
    height: 40px;
    padding: 10px 10px;
    -webkit-transition: 0.2s;
    width: 100%;
    -o-transition: 0.2s;
    transition: 0.2s;
    box-sizing: border-box;
}


input.input-text[name="quoteaddress"] {
    width: 100%;
}

form#form_quotesupplier > :nth-child(4) {
    width: 20% !important;
}
form#form_quotesupplier > :nth-child(5) {
    width: 25% !important;
}
form#form_quotesupplier > :nth-child(6) {
    width: calc(55% - 10px) !important;
}
form#form_quotesupplier > :nth-child(7) {
    width: 75% !important;
    padding-bottom: 20px;
}
form#form_quotesupplier > :nth-child(8) {
    width: calc(25% - 10px) !important;
}

textarea.input-text[name="quotecomments"] {
    height: 130px;
}

.check_from {
    padding: 7px 0;
}

.check_from:first-child {
    padding-top: 50px !important;
}

#quotessupplier-popup .actions-toolbar {
    padding-top:20px;
    text-align:center;
}
#quotessupplier-popup .actions-toolbar > div{
    margin:auto !important;
    float: none;
    padding: 0 10px;
}

#quotessupplier-popup .actions-toolbar > div button {
    padding: 0 70px;
}
style {
    display: none !important;
}
</style>
<?php }?>
