<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<?php


// @codingStandardsIgnoreFile
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');
$isPartner= $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php 
if($isPartner){ ?>
    <li class="nav item <?php if(strpos($magentoCurrentUrl, 'mpsellerbuyercommunication/seller/history')!== false) { echo ' current '; } ?>">     
        <?php if(strpos($magentoCurrentUrl, 'mpsellerbuyercommunication/seller/history')!== false){ ?>   
            <strong><?php /* @escapeNotVerified */ echo __('My Communication History') ?></strong>        
        <?php 
        } else{ ?>    
            <a href="<?php echo $block->getUrl('mpsellerbuyercommunication/seller/history', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                <?php /* @escapeNotVerified */ echo __('My Communication History') ?>
            </a>                
        <?php 
        } ?>      
    </li>
<?php } ?>

