.par-status-pending {
  background: #FFB347 none repeat scroll 0 0;
  border: 1px solid #eb5202;
  color: #eb5202;
  display: block;
  font-weight: bold;
  line-height: 17px;
  padding: 0 3px;
  text-align: center;
  text-transform: uppercase;
}

.par-status-approved {
  background: #d0e5a9 none repeat scroll 0 0;
  border: 1px solid #5b8116;
  color: #185b00;
  display: block;
  font-weight: bold;
  line-height: 17px;
  padding: 0 3px;
  text-align: center;
  text-transform: uppercase;
}
.par-status-rejected {
  background: #f9d4d4 none repeat scroll 0 0;
  border: 1px solid #e22626;
  color: #e22626;
  display: block;
  font-weight: bold;
  line-height: 17px;
  padding: 0 3px;
  text-align: center;
  text-transform: uppercase;
}