<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());
$customerBlock = $this->getLayout()->createBlock('Summa\CustomerData\Block\CustomerData');

$attrs = [
    //[ 'key' => 'wkv_dccp_id', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_rut', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_name', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_email', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_phone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_gb_discount', 'type' => 'percent' ],
    [ 'key' => 'wkv_dccp_apc', 'type' => 'boolean' ],
    [ 'key' => 'wkv_dccp_mda', 'type' => 'boolean' ],
    [ 'key' => 'wkv_dccp_phone_help_desk', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_date_of_entry', 'type' => 'date' ]
];
?>
<div class="box-regional-info">
    <div class="item">
        <table class="admin__table-secondary order-information-table">
            <tbody>
                <?php foreach($attrs as $attr):
                    if($_attr = $customer->getAttribute($attr['key']))
                    {
                        $value = $customer->getData($attr['key']);
                        switch($attr['type'])
                        {
                            case 'percent':
                                $value = $value.'%';
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                        }
                    }
               ?>
                <tr>
                    <th width="50%">
                        <?= $_attr->getStoreLabel() ?>
                    </th>
                    <td>
                        <?php
                            $hiddenAttrb =
                                [
                                    'Rut',
                                    'Nombre del Encargado de Convenio Marco de la Empresa',
                                    'Correo Electrónico del Encargado de Convenio Marco',
                                    'Teléfono del Encargado de Convenio Marco',
                                    'Número de Teléfono de la Mesa de Ayuda'
                                ];
                            if(in_array($_attr->getStoreLabel(), $hiddenAttrb))
                            {
                                $value = $customerBlock->shouldDisplayData() ? $value : 'Información oculta';
                            }

                        ?>
                        <?= $value ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>