<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $copyrightText = $block->getCopyright(); ?>
<?php if($copyrightText != ''): ?>
<small class="copyright">
    <span><?= /* @escapeNotVerified */ $copyrightText ?></span>
</small>
<?php endif; ?>
