<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<div class="nav-header-mobile">
  <span data-action="toggle-nav"></span>
  <img src="<?= $block->getLayout()->getBlock('logo')->getLogoSrc() ?>" class="nav-logo"/>
</div>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}, "Magento_Theme/js/customMenuHook": {}}'>
        <?= /* @escapeNotVerified */ $_menu ?>
        <?= /* @escapeNotVerified */ $block->getChildHtml() ?>
    </ul>
</nav>


<script type="text/x-magento-init">
    {
        ".breadcrumbs": {
            "Magento_Theme/js/customBreadcrumbsHook":{}
        }
    }
</script>