<?php
/** @var \Formax\PublicQuote\Block\Account\Rejected\Lists $block */
$justification = $block->getRejectedJustification();
$documents = $block->getRejectedReportDocuments();

if ($justification) :
?>
<div class="wk_mp_design" style="margin-top:20px;">
    <div class="wk_mp_rfq_communication_box">
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper"><?= __('Reject information') ?></span>
            </h1>
        </div>
        <div class="rejected_quote_information">
            <div class="fieldset">
                <label class="legend">
                    <span><?= __('Reject justification') ?></span>
                </label>
                <p><?= $justification ?></p>
            </div>

            <?php if ($documents): ?>
                <div class="fieldset fieldset_files ">
                    <label class="legend label_fieldset_files ">
                        <span class="span_fieldset_files "><?= __('Reject Documents') ?></span>
                    </label>
                </div>
            <?php
                $files = $block->getAllRejectedFiles($documents);
            ?>
            <?php if (is_array($files) && count($files) > 0): ?>
                <div class="table-wrapper">
                    <table class="data-table table table-evaluation-requestforquoted">
                        <thead>
                            <tr>
                                <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Document Name') ?></span></th>
                                <th scope="col" class="col download-clip"><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($files as $key => $file): ?>
                            <tr>
                                <td data-th="<?= __('Document Name') ?>" class="document-name">
                                    <span>
                                        <?= $block->escapeHtml($file['name']) ?>
                                    </span>
                                    <p><?= __('File %1', $file['ext']) ?></p>
                                </td>
                                <td data-th="Action" class="col download">
                                    <span class="nobr label wk_action">
                                        <a href="<?= $file['url'] ?>"
                                           title="<?= $block->escapeHtml($file['name']) ?>"
                                           class="action view"
                                           target="_blank"
                                        >
                                            <span><?= /*@noEscape*/  __('Download Document') ?></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?php else: ?>
                    <div class="message info empty">
                        <span>
                            <?= /*@noEscape*/ __('No rejected documents were uploaded.'); ?>
                        </span>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <div class="message info empty">
                    <span>
                        <?= /*@noEscape*/ __('No rejected documents were uploaded.'); ?>
                    </span>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php
endif;
?>