<?php $fieldsSaved = $block->getHelper()->getRegionalConditionbySeller(); ?>
<?php $totalFieldsSaved = isset($fieldsSaved['region_id']) && is_array($fieldsSaved['region_id']) ? count($fieldsSaved['region_id']) : 0; ?>
<?php $totalFields = (int)$block->getHelper()->getPostValue('field_count') > 0
        ? (int)$block->getHelper()->getPostValue('field_count') : ($totalFieldsSaved > 0 ? $totalFieldsSaved : 1); ?>
<?php $regions = $block->getRegions(); ?>
<?php $yesNo = $block->getYesNo(); ?>
<?php $regionIdPostValue = 0 ?>
<input type="hidden" name="field_count" id="field_count" value="<?= (int)$totalFields ?>" >

<?php for ($i=0; $i<$totalFields; $i++) :?>
    <div class="content-to-clone accordeon-box <?php echo ($i==0) ? 'active' : '' ?>">
        <div class="overlay-avoidclick"></div>
        <div class="container-regional-condition-form">
            <?php if ($regions) :?>
				<?php $isFactorEditable = true; ?>
                <div class="container-regional-condition-fields">
                    <input type="hidden" name="regional_condition_id[]" id="regional_condition_id" value="<?= $i < $totalFieldsSaved ? $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'id', $i)) : '' ?>" />
                    <div class="field region-field">
                        <label class="label region-label" for="region_id_<?= $i ?>"><span><?= __('Region') ?></span></label>
                        <div class="control">
                            <select name="region_id[]" id="region_id_<?= $i ?>" class="region_id select required" <?= ($i < $totalFieldsSaved && (int)$block->getHelper()->getField($fieldsSaved, 'id', $i)) ? 'style="pointer-events:none;"' : '' ?>>
                                <?php foreach ($regions as $region) :?>
                                    <?php if ($block->escapeHtml($block->getHelper()->getPostValue('region_id', $i)) == $region['value']) :?>
                                        <?php $regionIdPostValue = $region['value']; ?>
                                        <option selected value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php elseif ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'region_id', $i)) == $region['value']) :?>
										<?php $isFactorEditable = false; ?>
                                        <?php $regionIdPostValue = $region['value']; ?>
                                        <option selected value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php else :?>
                                        <option value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <!-- Start Rows -->
                    <div class="regional-rows-box">
                      	<div class="regional-rows first-row">
                        	<div class="field required">
                            	<label class="label" for="contact_name_<?= $i ?>"><span><?= __('Contact Name') ?></span></label>
                            	<div class="control">
                                	<input type="text" name="contact_name[]" id="contact_name_<?= $i ?>" class="contact-name text validate-letter-latin-whitespace required" maxlenght="255"
										title="<?= $block->escapeHtml(__('Contact Name')) ?>"
										value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_name',  $i))
											? $block->escapeHtml($block->getHelper()->getPostValue('contact_name',  $i))
											: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_name',  $i)) ?>" />
								</div>
							</div>
							<div class="field required">
								<label class="label" for="contact_phone_<?= $i ?>"><span><?= __('Contact Phone') ?></span></label>
								<div class="control">
									<input type="text" name="contact_phone[]" id="contact_phone_<?= $i ?>" class="contact-phone text phoneCL required" maxlenght="15"
										title="<?= $block->escapeHtml(__('Contact Phone')) ?>"
										value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_phone',  $i))
										? $block->escapeHtml($block->getHelper()->getPostValue('contact_phone',  $i))
										: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_phone',  $i)) ?>" />
								</div>
							</div>
							<div class="field required">
								<label class="label" for="contact_email_<?= $i ?>"><span><?= __('Contact Email') ?></span></label>
								<div class="control">
									<input type="text" name="contact_email[]" id="contact_email_<?= $i ?>" class="contact-email text required email" maxlenght="150"
										title="<?= $block->escapeHtml(__('Contact Email')) ?>"
										value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_email',  $i))
										? $block->escapeHtml($block->getHelper()->getPostValue('contact_email',  $i))
										: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_email',  $i)) ?>" />
								</div>
							</div>
						</div>
                      	<div class="regional-rows second-row">
							<div class="field required">
								<label class="label" for="maximum_delivery_<?= $i ?>"><span><?= __('Maximum Delivery') ?></span></label>
								<div class="control">
									<input type="text" name="maximum_delivery[]" id="maximum_delivery_<?= $i ?>" class="maximum-delivery text number-unlimited format-number required" maxlenght="5"
										title="<?= $block->escapeHtml(__('Maximum Delivery')) ?>"
										value="<?= $block->escapeHtml($block->getHelper()->getPostValue('maximum_delivery',  $i))
										? $block->escapeHtml($block->getHelper()->getPostValue('maximum_delivery',  $i))
										: ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'maximum_delivery',  $i)) != ''
											? $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'maximum_delivery',  $i))
											: '0') ?>" />
								</div>
							</div>
							<div class="field required">
								<label class="label" for="food_benefit_administration<?= $i ?>"><span><?= __('Food benefit administration') ?></span></label>
								<div class="control">
									<select name="food_benefit_administration[]" id="food_benefit_administration<?= $i ?>" class="food-benefit-administration select required">
										<?php foreach ($yesNo as $key => $value) :?>
											<?php if ($block->escapeHtml($block->getHelper()->getPostValue('food_benefit_administration', $i)) == $key) :?>
												<option selected value="<?= $key ?>"><span><?= $value ?></option>
											<?php elseif ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'food_benefit_administration', $i)) == $key) :?>
												<option selected value="<?= $key ?>"><span><?= $value ?></option>
											<?php else :?>
												<option value="<?= $key ?>"><span><?= $value ?></option>
											<?php endif; ?>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
							<div class="field required">
								<label class="label" for="benefit_card<?= $i ?>"><span><?= __('Benefit Card') ?></span></label>
								<div class="control">
									<select name="benefit_card[]" id="benefit_card<?= $i ?>" class="benefit-card select required">
										<?php foreach ($yesNo as $key => $value) :?>
											<?php if ($block->escapeHtml($block->getHelper()->getPostValue('benefit_card', $i)) == $key) :?>
												<option selected value="<?= $key ?>"><span><?= $value ?></option>
											<?php elseif ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'benefit_card', $i)) == $key) :?>
												<option selected value="<?= $key ?>"><span><?= $value ?></option>
											<?php else :?>
												<option value="<?= $key ?>"><span><?= $value ?></option>
											<?php endif; ?>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
                      	</div>
                      	<div class="container-btn">
                        	<button type="button" class="delete-region hide action secondary">
								<span><?= __('Dismiss') ?></span>
                          	</button>
                      	</div>
                    </div>
                    <!-- End Rows -->
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endfor; ?>
