<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    // @codingStandardsIgnoreFile
    // updated file to add notification for seller.
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner= $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
    $allow_pro_type=$_helper->getAllowedProductType();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $productNotificationCount = $block->getProductNotificationCount();
    $orderNotificationCount = $block->getOrderNotificationCount();
    $transactionCount = $block->getTransactionNotificationCount();
?>
<nav data-mage-init='{"Webkul_Marketplace/js/sellerNavigation": {}}' class="wk-mp-menu wk-mp-main">
    <ul id="wk-mp-nav">
        <?php if ($isPartner): ?>
            <?php if ($_helper->isAllowed('marketplace/account/dashboard')): ?>
                <li class="wk-mp-item-dashboard level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/dashboard')? "current active":"";?>" id="wk-mp-menu-dashboard" >
                    <a href="<?php echo $block->getUrl('marketplace/account/dashboard', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/dashboard')? "active":"";?>">
                        <span><?php echo __('Dashboard') ?></span>
                    </a>
                </li>
            <?php endif; ?>
            <?php if ($_helper->isAllowed('marketplace/account/editprofile')): ?>
                <li class="wk-mp-item-editprofile level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/editprofile')? "current active":"";?>" id="wk-mp-menu-editprofile" >
                    <a href="<?php echo $block->getUrl('marketplace/account/editprofile', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/editprofile')? "active":"";?>">
                        <span><?php echo __('Account settings') ?></span>
                    </a>
                </li>
            <?php endif; ?>
            <?php echo $block->getChildHtml('layout2_seller_account_navigation');?>
            <?php echo $block->getChildHtml('layout2_seller_account_navigation_settings_menu'); ?>
        <?php endif; ?>
    </ul>
</nav>
