<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<?php

$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$filterText = '';$filterBy = NULL;
$paramData = $this->getRequest()->getParams();
if(isset($paramData['s'])){
    $filterText = $paramData['s'] != ""?$paramData['s']:"";
}
if(isset($paramData['filter_by'])){
    $filterBy = $paramData['filter_by'] != ""?$paramData['filter_by']:"";
}

$filterProductName = "";
if(isset($paramData['pName'])){
    $filterProductName = $paramData['pName'];
}
$messageStatus = "";
if(isset($paramData['messageStatus'])){
    $messageStatus = $paramData['messageStatus'];
}
$queryStatus = "";
if(isset($paramData['queryStatus'])){
    $queryStatus = $paramData['queryStatus'];
}

 ?>
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<div class="grid">
			<div class="hor-scroll">
				<form action="<?php echo $block->getCurrentUrl();?>" method="get">
					<table cellspacing="0" class="border wk-mp-list-table">
					    <tbody class="wk-mp-body">
					    	<tr>
					    		<td colspan="3">
                                    <table class="filters-table">
                                            <tr>
                                                <td class="label">
                                                    <label><?php echo __('Product Name')?></label>
                                                </td>
                                                <td class="label">
                                                    <label><?php echo __('Status') ?></label>
                                                </td>
                                                <td class="label">
                                                    <label><?php echo __('Motivo') ?></label>
                                                </td>
                                            </tr>

                                        <tr>
                                            <td class="filter">
                                                <input type="text" class="input-text filter_text" name="pName" placeholder = "" value="<?php echo $filterProductName; ?>"/>
                                            </td>
                                            <td class="filter">
                                                <select  name="queryStatus" class="status">
                                                    <option value="" <?php if((string)$queryStatus === "") { echo " selected"; } ?>><?php echo __('--Query Status--'); ?></option>
                                                    <?php
                                                    foreach ($_helper->getQueryStatus() as $key => $optionName) {
                                                        ?>
                                                        <option value="<?php echo $key; ?>" <?php if(strlen($queryStatus) && $queryStatus == $key) { echo " selected"; } ?>><?php echo $optionName; ?></option>
                                                        <?php
                                                    }
                                                    ?>
                                                </select>
                                            </td>
                                            <td class="filter">
                                                <select  name="messageStatus" class="status">
                                                    <?php
                                                    foreach ($_helper->getSupportTypes() as $key => $optionName) {
                                                        ?>
                                                        <option value="<?php echo $key; ?>" <?php if(strlen($messageStatus) && $messageStatus == $key) { echo " selected"; } ?>><?php echo $optionName; ?></option>
                                                        <?php
                                                    }
                                                    ?>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>

                                    <!--label><?php echo __('Filter By ') ?></label>
					    			<select  name="filter_by" class="filter_by">
					    				<?php
					    				foreach ($_helper->getCustomerFilter() as $key => $optionName) {
					    				?>
					    				<option value="<?php echo $key; ?>" <?php if($filterBy == $key) { echo " selected"; } ?>><?php echo $optionName; ?></option>
					    				<?php
					    				}
					    				?>
					    			</select>
					    			<input type="text" class="input-text filter_text" name="s" placeholder = "<?php echo __('Search')?>" value="<?php echo $filterText; ?>"/-->
					    		</td>
					    		<td class="wk-mp-td-last">
					    			<button class="button" title="Save" id="save-btn" type="submit">
										<span><span><span><?php echo __('Submit') ?></span></span></span>
									</button>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</form>
				<?php
				if($block->getAllCommunicationData()->getSize()==0){ ?>
					<div class="fieldset wk-mp-fieldset">
						<div class="wk-emptymsg">
							<?php echo __('No communication history available.') ?>
						</div>
					</div>
					<?php
				} else{ ?>
					<table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
					    <thead>
					        <tr class="wk-content">
					    		<th>
					    			<span class="label">
										<?php echo __('Supplier Name')?>
									</span>
					    		</th>
					    		<th>
					    			<span class="label">
										<?php echo __('Product Name')?>
									</span>
					    		</th>
					    		<!--th>
					    			<span class="label">
										<?php echo __('Subject')?>
									</span>
					    		</th-->
					    		<th class="wk-list-th-display2">
					    			<span class="label">
										<?php echo __('Motivo')?>
									</span>
					    		</th>
					    		<th class="wk-list-th-display1">
					    			<span class="label">
										<?php echo __('Created At')?>
									</span>
					    		</th>
                                <th class="wk-list-th-display2">
					    			<span class="label">
										<?php echo __('Status')?>
									</span>
                                </th>
					    		<th class="wk-list-th-display3">
					    			<span class="label">
										<?php echo __('Action')?>
									</span>
					    		</th>
					    	</tr>
					    </thead>
					    <tbody>
					    	<?php $i=0;
							foreach($block->getAllCommunicationData() as $res){
								$i++;?>
						    	<tr class="wk-row-view <?php echo $class = ($i == $block->getAllCommunicationData()->getSize())? 'wk-last_tr':''?>">
									<td>
										<span class="label">
											<?php
												echo $block->getCustomerNameId($res['seller_id']);
											?>
										</span>
									</td>
									<td class="wk-list-th-display">
										<span class="label">
											<?php
											if($res['product_id'])
											{ ?>
												<a href="<?php echo $block->getProductUrlById($res['product_id']); ?>">
													<?php if($productName = $block->getProductNameById($res['product_id'])) : ?>
													<?php echo  $productName ; ?>
													<?php else :?>
													<?php echo $res['product_name']?>
													<?php endif; ?>
												</a>
											<?php
											}else{
												echo __("None");
											} ?>
										</span>
									</td>
									<!--td>
										<?php
										$subject = (strlen($res['subject']) > 40) ? substr($res['subject'], 0, 40).' ..' : $res['subject'];
										?>
										<span class="label">
											<?php echo $subject?>
										</span>
									</td-->
									<td>
										<span class="label">
											<?php echo $_helper->getSupportTypeName($res['support_type'])?>
										</span>
									</td>
									<td class="wk-list-th-display1">
										<span class="label">
											<?php echo date("d M Y", strtotime($res['created_at']))?>
										</span>
									</td>
                                    <td>
										<span class="label">
											<?php echo $_helper->getQueryStatusname($res['query_status'])?>
										</span>
                                    </td>
						    		<td>
						    			<span class="label wk-action">
											<a href="<?php echo $block->getUrl('mpsellerbuyercommunication/customer/view/', ['id'=>$res['entity_id'], '_secure' => $this->getRequest()->isSecure()]); ?>"><?php echo ""; ?><?php echo __('View')?></a>
										</span>
										<?php
											if($res['attachment_status']) { ?>
												<img src = <?php echo $this->getViewFileUrl('Webkul_MpSellerBuyerCommunication::images/attachmenticon.png'); ?> />
										<?php }
										 ?>
						    		</td>
						    	</tr>
						    	<?php
						    }?>
					    </tbody>
					</table>
					<?php
				}?>
			</div>
		</div>
		<?php if ($block->getPagerHtml()): ?>
	        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
	    <?php endif ?>
	</fieldset>
</div>

<div class="buttons-set">
	<p class="back-link">
		<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
	</p>
</div>
