<?php
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
$id = $this->getRequest()->getParam("id");
$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$communicationData = $block->getSellerBuyerCommunicationById();
if(count($communicationData)){
    $collection = $this->getAllCommunicationData();
    ?>
    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back to all messages') ?></a>
        </p>
    </div>
    <form method="post" id="form1" action="<?php echo $block->getUrl('mpsellerbuyercommunication/customer/saveconversation/')?>">
    <div class="query_status">
        <div class="query-label">
            <?php echo __('Estado del mensaje') ?>
        </div>
        <input type="hidden" value="<?php echo $id; ?>" name="comm_id"/>
        <?php $supportTypes =  $_helper->getQueryStatus(); ?>
            <?php foreach ($supportTypes as $key => $value) { ?>
                <div class="radio-status"><input type="radio" name="query_status" value="<?php echo $key ?>" <?php if($communicationData['query_status']==$key){ echo "checked=checked";} ?>> <?php echo $_helper->getQueryStatusname($key) ?></div>
            <?php }
            ?>
        <div class="submit-button">
            <button class="button" title="<?php echo __('Guardar cambios') ?>" type="submit" id="save-button">
                <span><span><?php echo __('Guardar cambios') ?></span></span>
            </button>
        </div>
    </div>
    </form>

    <form method="post" action="<?php echo $block->getUrl('mpsellerbuyercommunication/customer/saveconversation/')?>" id="wk-customercommunication-save-form" data-form="wk-customercommunication-save-form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design">
        <table class="query-info">
            <tr>
                <td class="label">
                    <?php echo __('Seller Name') ?>
                </td>
                <td class="value">
                    <?php

                    if($communicationData['seller_id'])
                    {
                        echo $block->getCustomerNameId($communicationData['seller_id']);
                    }else{
                        echo __("Guest");
                    } ?>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <?php echo __('Product Name') ?>
                </td>
                <td class="value">
                    <?php
                    if($communicationData['product_id'])
                    { ?>
                        <a href="<?php echo $block->getProductUrlById($communicationData['product_id']); ?>">
                            <?php if($productName = $block->getProductNameById($communicationData['product_id'])) : ?>
                                <?php echo  $productName ; ?>
                            <?php else :?>
                                <?php echo $communicationData['product_name']?>
                            <?php endif; ?>
                        </a>
                        <?php
                    }else{
                        echo __("None");
                    } ?>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <?php echo __('Support Type') ?>
                </td>
                <td class="value">
                    <?php echo $_helper->getSupportTypeName($communicationData['support_type'])?>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <?php echo __('Created At') ?>
                </td>
                <td class="value">
                    <?php echo date("d M Y", strtotime($communicationData['created_at']))?>
                </td>
            </tr>
        </table>


        <div class="query_status">
            <div class="query-label">
                <?php echo __('Conversation with seller') ?>
            </div>

            <div class="conversation-container">
            <?php
            $currentDate = "";
            foreach ($collection as $coll): ?>
                <?php
                if ($currentDate != date("d M Y", strtotime($coll->getCreatedAt()))){
                    setlocale(LC_ALL,"es_ES");
                    $currentDate = date("d M Y", strtotime($coll->getCreatedAt()));
                ?>
                <hr />
                <div class="message-day"><?php echo date("d M Y", strtotime($coll->getCreatedAt()))?></div>
                <?php
                }
                $class = "";
                if($coll->getSenderType() == 0) {
                    $class = "my-message";
                }
                else if($coll->getSenderType() == 1) {
                    $class = "other-message";
                }
                else {
                    $class = "admin-message";
                }
                ?>
                <div class="message <?php echo $class;?>">
                    <div class="bottom-right"><?php echo date("g:ia", strtotime($coll->getCreatedAt()))?></div>
                    <?php  echo nl2br($coll->getMessage());?>
                    <div style="clear: both;"></div>
                    <?php $attachments = explode(',', $coll->getAttachments());
                    if (!empty(array_filter($attachments))) {
                        ?>
                        <div class="attachments">
                        <?php
                        foreach ($attachments as $value) { ?>
                                <div>
                            <a href="<?php echo $block->getImageUrl($value, $coll->getCommId(), $coll->getEntityId() ); ?>" target="_blank">
                                <img src = <?php echo $this->getViewFileUrl('Webkul_MpSellerBuyerCommunication::images/attachmenticon.png'); ?> />
                                <?php echo __($value) ?>
                            </a></div>
                        <?php
                        }
                        ?>
                        </div>
                    <?php
                    }
                    ?>

                </div>
                <div style="clear: both;"></div>
            <?php endforeach; ?>
            </div>


            <div class="field required">
                <div class="message-input">
                    <textarea data-validate="{required:true}" class="required-entry" name="message" placeholder="<?php echo __('Escribe un mensaje...'); ?>"></textarea>
                </div>
            </div>

            <div class="input-box">
                <div id='childDivInitial'>
                <label class="file" for="img_attachment_1">
                    <span class="upload-button action secondary">Seleccionar Archivo</span>
                    <span class="upload-message"><?php echo __('No file attached'); ?></span>
                </label>
                <input type="file" id="img_attachment_1" name="img_attachment_1" class="wk_imagevalidate"/>
                <a href="javascript:void(0)" class="remove_attch" style="display:none;"><?php echo __('Remove'); ?></a>
                </div>
                    <input type="hidden" name="attach_count" class= "attach_count"/>
                <div id="otherimages"></div>
                <a href="#" class="new_attachment"><?php echo __("Add More image"); ?></a><br />
                <span><strong><?php echo __('Allowed Files') ?>: </strong>jpeg,jpg,png,gif,zip,doc,pdf,rar</span>
            </div>

            <button class="button wk-mp-btn" title="<?php echo __('Send Message') ?>" type="submit" id="save-btn">
                <span><span><?php echo __('Send Message') ?></span></span>
            </button>
        </div>
			<fieldset class="fieldset info wk-mp-fieldset">
				<?php echo $block->getBlockHtml('formkey')?>
	    		<input type="hidden" value="<?php echo $id; ?>" name="comm_id"/>
	    		<input type="hidden" value="0" name="sender_type"/>
			</fieldset>
		</form>
	</div>
<?php
} else{ ?>
	<h2 class="wk-mp-error-msg">
		<?php echo __("You are not authorize to view this conversation."); ?>
	</h2>
<?php
} ?>
<script id="attachment-template" type="text/x-magento-template">
    <div id='childDiv<%- fields.index %>' style="margin-top:15px;margin-right:10px;justify-content: space-between;align-items: center;">
        <label class="file" for="img_attachment_<%- fields.index %>">
            <span class="upload-button action secondary">seleccionar archivo</span>
            <span class="upload-message"><?php echo __('No file attached'); ?></span>
        </label>
        <input type='file' id="img_attachment_<%- fields.index %>" name='img_attachment_<%- fields.index %>' class='wk_imagevalidate'/>
        <a href="javascript:void(0)" class="remove_attch"><?php echo __('Remove'); ?></a>
    </div>
</script>
	<?php

		$releventFormData = [
			'attachmentTemplate' => '#attachment-template',
		];

		$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
	?>

<script type="text/x-magento-init">
{
    "*": {
        "viewCustomerForm": <?php echo $serializedData; ?>
    }
}
</script>
<script type="text/javascript">
    var conversation = document.getElementsByClassName('conversation-container')[0];
    conversation.scrollTop = conversation.scrollHeight;
</script>
