<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php
    $productId = $block->getProduct()->getId();
    $helper = $this->helper("Formax\ProductData\Helper\AssignProduct");
    $collection = $helper->getAssignProductCollection($productId);
    if ($block->getProduct()->getTypeId() !== 'configurable') {
		$collection->addFieldToFilter('main_table.status',1);
	}
    $totalSellers = $collection->count();
?>
<?php if($totalSellers > 0): ?>
    <div class="wk-ap-price-block">
        <?php if($helper->showMinimumPrice()): ?>
            <?php
                $productType = $block->getProduct()->getTypeId();
                $prices = $helper->getSupplierPricesHtml($productId, $productType, true);
            ?>
            <div class="product-info-price-wk">
                <?php if($prices->minPrice): ?>
                <div class="cc-price-box">
                    <span class="minimum-price">
                        <span class="price-container">
                            <span class="price-wrapper">
                                <label class="price-label">Desde</label>
                                <span class="price"><?= number_format($prices->minPrice,1,",","") ?>%</span>
                            </span>
                        </span>
                    </span>
                    <?php if($prices->maxPrice): ?>
                    <span class="maximum-price">
                        <span class="price-container">
                            <span class="price-wrapper">
                                <label class="price-label">Hasta</label>
                                <span class="price"><?= number_format($prices->maxPrice,1,",","") ?>%</span>
                            </span>
                        </span>
                    </span>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>

<?php endif; ?>

<?= $block->getChildHtml('cc.price.history', true) ?>
<?= $block->getChildHtml('product.info.social', true) ?>

<?php
$check = true;
$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
    $originalQty = $helper->getOriginalQty($_product->getId());
if (($_product->getTypeId() == 'simple')||($_product->getTypeId() == 'virtual')) {
    if ($originalQty == 0)
        $check = false;
}
?>
<?php $buttonTitle = __('See Suppliers'); ?>
<?php if ($_product->isSaleable() && ($check)): ?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="actions">
            <?= $block->getChildHtml('requestforquote.submit.button', true) ?>
            <a href="#suppliers_list"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart nobg">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </a>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
