<?php
/**
 * @var $block \Formax\GreatBuy\Block\Index
 */
$lowerUTM = $block->getLowerUTM();
$higherUTM = $block->getHigherUTM();
$higherLimitUTM = $block->getHigherLimitUTM();
$_helperOffer = $this->helper("Formax\Offer\Helper\Data");
$utm = str_replace('$', '',  $_helperOffer->currencyFormat($higherLimitUTM)) . 'UTM' ;
$message = __("El máximo legal permitido para la compra de esta licitación es de <b> " . $utm . " </b> por lo tanto no puedes continuar a la orden de compra.");
?>

<div id="greatBuyModal" class="greatbuy-popup" style="display:none;">
  <p><?= __('For purchases <b>over %1 UTM</b> you must use the <b>Great Buy</b> mode.', $higherUTM) ?></p>
  <p>
    - <?= __('To go to Great Buy, press the "Go to Great Buy" button.') ?><br>
    - <?= __('To send the purchase order directly, press the "Continue purchase order" button.') ?>
  </p>
</div>

<div id="lowerUtmModal" class="lowerutm-popup" style="display:none;">
  <p><?= __('To continue, your cart must be higher than %1 UTM.', $lowerUTM) ?></p>
</div>


<div id="greatBuyLimitModal" class="greatbuylimit-popup" style="display:none;">
    <p><?php echo $message ?></p>
</div>

<script type="text/x-magento-init">
{
    "*": {
        "greatbuy-init": {
          "modalContainerA": "#greatBuyModal",
          "modalContainerB": "#lowerUtmModal",
          "modalContainerC": "#greatBuyLimitModal",
          "cartButton": ".checkout.mp-btn-checkout",
          "validate_url": "<?= $this->getUrl('greatbuy/validate') ?>",
          "cart_url":"<?= $this->getUrl('checkout/cart/') ?>",
          "send_url": "<?= $this->getUrl('greatbuy/send') ?>",
          "error_msg": "<?= __('We have not be able to validate your cart, please try again later.') ?>"
        }
    }
}
</script>
