/**
 * Webkul Software
 *
 * @category Marketplace
 * @package  Webkul_MpSellerBuyerCommunication
 * @author   Webkul
 * @license  https://store.webkul.com/license.html
 */
 .image-con {
    margin: 5px 0;
 }
.wk-sbcom-onereply .image-container .file_image {
    float : none!important;
    border : none;
    padding: 5px;
}
.wk-sbcom-onereply {
    margin-bottom: 10px;
}
.wk-sbcom-onereply img{
    max-width: 99%;
}
.wk-mp-design .legend span.query-heading-comm{
    font-size: 18px;
}
#wk-sbcom-history{
    font-size: 16pt;
    font-weight: bold;
    margin-top: 5px;
    padding: 0;
}
.wk-sbcom-onereply{
    box-shadow: 2px 2px 5px;
}
.wk-sbcom-onereply-head{
    height: auto;
    padding: 1%;
    display: inline-block;
    width: 98%;
}
.wk-sbcom-onereply-head-left{
    color: #000000;
    float: left;
    font-size: 10pt;
    font-weight: bold;
}
.wk-sbcom-onereply-head-right{
    color: #888888;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.wk-sbcom-onereply-cntnt{
    font-family: tahoma;
    line-height: 25px;
    padding: 10px;
}
.wk-sbcom-onereply-customer{
    background: #B9CDF8;
}
.wk-sbcom-onereply-admin{
    background: #FFE0B3;
}
.wk-sbcom-onereply-seller{
    background: #96C986;
}
#wk-sbcom-conversation-container{
    margin-top: 10px;
}
.wk-sbcom-legend{
    width: 100%;
    display: inline-block;
}
.query_status{
    float: left;
    width: 100%;
    background-color: #ffffff;
    color: #2E384D;
    margin-bottom: 10px;
}
.query_status select {
    width: 20%;
}
.query_status .query-label{
    font-weight: 600;
    margin-bottom: 10px;
    padding: 15px 15px 0px 15px;
}
.query_status .radio-status{
    width: 150px;
    vertical-align: middle;
    float: left;
    display: inline;
    padding: 0px 15px 15px 15px;
}
.query_status .radio-status input{
    margin-bottom: -3px;
}
.query_status .submit-button button{
    background: #0064FF !important;
    border-color: #0064FF;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    float: right;
    display: inline;
    margin-top: -15px;
    margin-right: 15px;
}

.image-container .image img{
    height: 100px;
}
.image-container .image{
    display: inline-block;
}

.wk-mp-design .wk-mp-body .filter_by{
    width: 20%;
}
.wk-mp-design .wk-mp-body .filter_text{
    width: 100%;
}
.wk-seller-response-container::after, .wk-seller-response-container::before {
    border: 1px solid transparent;
    bottom: -1px;
    content: " ";
    height: 0;
    margin-left: 22%;
    margin-top: -51px;
    position: absolute;
    width: 0;
}
.wk-seller-response-container{
    box-shadow: 0 2px 8px 2px #848484;
    display: none;
    padding: 10px;
    color:#999;
}
.seller-response-rate{
    color:#999;
    font-size:10px;
}
.wk-mp-profile_container .wk-seller .askque {
    width: 100%;
}
.filters-table {
    width: 100%;
}
.filters-table td.label{
    text-align: left;
    color: #8798ad;
    font-weight: 600;
    text-transform: uppercase;
    font-size:12px;
    padding:5px 7px 0px 7px;
    background-color: #e3eff1;
    border: none;
}
.filters-table td.filter{
    text-align: center;
    padding:5px 7px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background-color: #e3eff1;
    border-bottom: none;
}
.wk-list-th-display1 {
    width: 85px;
}
.wk-list-th-display2 {
    width: 75px;
}
.wk-list-th-display3 {
    width: 55px;
}
.wk-row-view td {
    padding: 15px;
    border: none;
    color: #2E384D;
    background: #fff;
    vertical-align: middle;
    font-size: 12px;
    border-bottom: 10px solid #f2f2f9;
}
.wk-content th {
    border: none;
    color: #8798ad;
    text-transform: uppercase;
    letter-spacing: 1.13px;
    line-height: 16px;
    font-size: 12px;
    padding: 20px 15px 15px;
}
span.toolbar-number{
    color: #2E384D;
}
.toolbar .pages ul.items>li.item{
    border-radius: 25%;
}
.limiter select {
    height: 30px;
    padding: 0 15px 0 15px;
}
.wk-emptymsg {
    color: #DF2111;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-top:20px;
}
.wk-mp-design .query-info{
    background-color: #fff;
    line-height: 20px;
    margin-bottom: 10px;
}
.wk-mp-design .query-info .label{
    font-weight: 600;
    width: 170px;
    padding-left: 15px;
    vertical-align: middle;
    border-bottom: 2px solid #f2f2f9;
}
.wk-mp-design .query-info .value{
    border-bottom: 2px solid #f2f2f9;
}
.conversation-container{
    margin:15px 15px;
    padding: 20px 20px 40px 20px;
    max-height: 500px;
    background-color: #f9fafb;
    overflow-x: hidden;
    overflow-y: scroll;
}
.conversation-container .message-day{
    position: relative;
    top: -28px;
    left: 40%;
    width: 150px;
    background: #fff;
    text-align: center;
    color: #8798AD;
    font-size: 10px;
}
.conversation-container .message{
    max-width: 600px;
    min-width: 250px;
    display:table;
    position: relative;
    padding: 15px;
    margin-bottom: 40px;
}
.conversation-container .my-message{
    float: right;
    background: #e6f0ff;
}
.conversation-container .other-message .attachments,
.conversation-container .admin-message .attachments{
    float: right;
}
.conversation-container .my-message .attachments{
    float: left;
}
.conversation-container .other-message{
    float: left;
    background: #eeeeee;
}
.conversation-container .admin-message{
    float: left;
    background: #FFE0B3;
}
.conversation-container .message .bottom-right{
    position: absolute;
    bottom: -20px;
    right: 5px;
    text-align: right;
    color: #8798AD;
    font-size: 10px;
}
.conversation-container .message .attachments{
    background: #f4f6fc;
    display:table;
    margin-top:5px;
    padding:10px 10px 10px 10px;
    font-size: 12px;
    vertical-align: middle;
}
.conversation-container .message .attachments img{
    margin-bottom: -2px;
}
.message-input{
    margin: 0px 15px;
}
.query_status .button{
    background: #0064FF !important;
    border-color: #0064FF;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    float: right;
    display: inline;
    margin-top: -15px;
    margin-right: 15px;
    margin-bottom:20px;
}

.input-box .upload-button{
    color: #0064ff;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #0064ff;
    margin-right: 7px;
    width: 155px;
    text-align: center;
}
.input-box .file{
    font-size: 14px;
    margin: 8px 0;
    #display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 60px);
}

.wk_imagevalidate{
    display:none;
}
.input-box{
    margin: 20px;
}
.input-box #otherimages{
    margin-bottom: 10px;
}
/* Width */
.conversation-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.conversation-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.conversation-container::-webkit-scrollbar-thumb {
    background: #717070;
    border-radius: 10px;
}


