<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$itemWidth = 95.6;
$productId = $block->getProduct()->getId();
$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$marketplaceHelper = $this->helper("Webkul\Marketplace\Helper\Data");
$_helperOffer = $this->helper("Formax\Offer\Helper\Data");
$isLoggedIn = $marketplaceHelper->isCustomerLoggedIn();
$isSeller = $marketplaceHelper->isSeller();
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
$product = $helper->getProduct($productId);
$mainProduct = $helper->getProduct($productId);
$url = $cartHelper->getAddUrl($product);
$formKey = $helper->getFormKey();
$allProducts = $block->getAssignedProducts();
$totalSellers = count($allProducts);
$dir = $block->getDirection();
$sortOrder = $block->getSortOrder();
$defaultUrl = $block->getDefaultUrl();
$sortOrders = ["price" => "Price",  "rating" => "Rating"];
$productType = $product->getTypeId();
$singleMinPriceConfigProduct = [];
$mainConfigChilds = '';
$assignProducts = $block->getProductsArray();
$offerPrices = $_helperOffer->getProductWithSpecialPriceBySeller($productType, $productId);
$regions = $block->getRegions();

if ($productType == "configurable") {
    $isConfig = 1;
    $singleMinPriceConfigProduct = $helper->getMinimumPriceConfigProductDetails($productId);
    $mainConfigChilds = $helper->getConfigProductChildrens($productId);
} else {
    $isConfig = 0;
}
$customOptions = $helper->getCustomOptions($product)->getData();
$customOptionsAvail = 0;
if (count($customOptions) > 0) {
    $customOptionsAvail = 1;
}
$jsonResult = [0];
$associatedOptions = [];
$btnHtml = "";
$minPriceToShow = "";
$symbol = $helper->getCurrentCurrencySymbol();
$showProfile = $helper->showProfile();
$minPriceProducts = false;

if ($helper->checkInStock($productId)) {
    $minPriceProducts = $helper->getMinimumPriceProductDetails($productId, $productType);
}
$showMinimumPrice = $helper->showMinimumPrice();
if($product->getPrice() > 0) {

    if ($product->getSpecialPrice()) {
        $minPriceToShow = $this->helper('Magento\Framework\Pricing\Helper\Data')
            ->currency($product->getSpecialPrice(), true, false);
    } else {
        $minPriceToShow = $this->helper('Magento\Framework\Pricing\Helper\Data')
            ->currency($product->getPrice(), true, false);
    }
}
$remainingConfigProducts = [];
if ($isConfig && $singleMinPriceConfigProduct) {
    if ($minPriceProducts) {
        $remainingConfigProducts = array_slice($minPriceProducts, count($singleMinPriceConfigProduct));
    }
}
?>
<?php if (count($allProducts) > 0): ?>
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>
    <?php
    $minPrice = $helper->getMinimumPriceHtml($productId, $productType);
    if ($minPriceProducts) {
        $minPriceToShow = $this->helper('Magento\Framework\Pricing\Helper\Data')
            ->currency($minPriceProducts[0]['price'], true, false);
    }
    if (isset($minPriceProducts[1])) {
        $minPrice = $this->helper('Magento\Framework\Pricing\Helper\Data')
            ->currency($minPriceProducts[1]['price'], true, false);
    }
    if (count($remainingConfigProducts) >0) {
        $minPrice = $this->helper('Magento\Framework\Pricing\Helper\Data')
            ->currency($remainingConfigProducts[0]['price'], true, false);
    }
    $totalSellersHtml = "<span>$totalSellers</span>";
    $minPriceHtml = "<span>$minPrice</span>";
    ?>
    <div class="wk-ap-list-header" id="wk_list_header">
        <h2 id="suppliers_list" class="multivendor-title cc-product-subtitle">Selecciona tu proveedor</h2>
        <?php if(0): ?>
            <div class="toolbar-sorter sorter">
                <label class="sorter-label" for="sorter">Sort By</label>
                <select id="list_sorter" class="sorter-options">
                    <?php foreach ($sortOrders as $code => $sOrder):?>
                        <?php if ($sortOrder == $code): ?>
                            <option selected value="<?php echo $code?>"><?php echo __($sOrder); ?></option>
                        <?php else :?>
                            <option value="<?php echo $code?>"><?php echo __($sOrder); ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
                <?php if ($dir == "asc"): ?>
                    <a id="list_dir_desc" title="<?php echo __('Set Descending Direction'); ?>" href="#" class="action sorter-action sort-asc">
                        <span><?php echo __('Set Descending Direction'); ?></span>
                    </a>
                <?php else: ?>
                    <a id="list_dir_asc" title="<?php echo __('Set Ascending Direction'); ?>" href="#" class="action sorter-action sort-desc">
                        <span><?php echo __('Set Ascending Direction'); ?></span>
                    </a>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>

    <div id="suppliers_box" class="suppliers_box">
        <div id="product_list" class="wk-ap-product-list wk-ap-fieldset">
            <table class="data table wk-table-product-list">
                <thead>
                <tr>
                    <th class="wk-ap-checkbox-col">
                        <input type="checkbox" name="suppliers_id_select_all" disabled>
                    </th>
                    <th><?= __('Supplier Name') ?></th>
                    <th class="wk-ap-th-discount"><?= __('Discount per Liter') ?></th>
                    <th><?= __('Amount') ?></th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <?php
                $assignProductData = [];
                if (isset($assignProducts['data']))
                {
                    $assignProductData = $assignProducts['data'];
                }
                $sellersArray = [];
                foreach($assignProductData as $product)
                {
                    $sellersArray[] = $product['sellerId'];
                }
                $regionalConditions = $block->getSellerConditions($sellersArray);
                $rcArray = [];
                foreach($regionalConditions as $rC)
                {
                    if(isset($rcArray[$rC->getSellerId()]) && !is_array($rcArray[$rC->getSellerId()]))
                    {
                        $rcArray[$rC->getSellerId()] = [];
                    }
                    $rcArray[$rC->getSellerId()][] = [
                        'region_id' => $rC->getRegionId(),
                        'has_storepickup' => $rC->getEnableStorepickup(),
                        'days_sp' => $rC->getMaximumDelivery()
                    ];
                }

                foreach ($assignProductData as $product):
                    $sellerId = (isset($product['sellerId'])) ? $product['sellerId'] : '';
                    $sellerData = $helper->getCustomer($sellerId);
                    $assignId = (isset($product['assignId'])) ? $product['assignId'] : '';
                    $price = (isset($product['price'])) ? $product['price'] : '';
                    $shopTitle = $sellerData->getData('wkv_dccp_business_name');

                    $shopRut=$sellerData->getData('wkv_dccp_rut');

                    if($shopTitle == '')
                    {
                        $shopTitle = $product['shopTitle'];
                    }
                    $logo = (isset($product['logo'])) ? $product['logo'] : '';

                    $shopUrl = (isset($product['shopUrl'])) ? $product['shopUrl'] : '';
                    $feedbackUrl = (isset($product['feedbackUrl'])) ? $product['feedbackUrl'] : '';
                    $baseImage = (isset($product['baseImage'])) ? $product['baseImage'] : '';

                    $sellerRating = $marketplaceHelper->getFeedTotal($sellerId);
                    $totalCount = $sellerRating['feedcount'];
                    $percent = $sellerRating['totalfeed'];

                    $showProfile = (isset($product['showProfile'])) ? $product['showProfile'] : '';
                    $rate = (isset($product['rate'])) ? $product['rate'] : '';
                    if ($showProfile)
                    {
                        if ($totalCount > 0)
                        {
                            $reviewHtml = '<div class="rating-summary">';
                            $reviewHtml .= '<div class="rating-result">';
                            $reviewHtml .= '<span style="width:'.$percent.'%"></span>';
                            $reviewHtml .= '</div>';
                            $reviewHtml .= '</div>';
                            $reviewHtml .= '<div class="wk-ap-rating-info">';
                            $reviewHtml .= '(<span>'.$rate.'</span> based on <span>'.$totalCount.' ratings</span>)';
                            $reviewHtml .= '</div>';
                            $msg = __("Write review");
                            $reviewHtml .= '<div class="wk-ap-no-review"><a target="_blank" href="'.$feedbackUrl.'">'.$msg.'</a></div>';
                        } else {
                            $msg = __("Be the first to review");
                            $reviewHtml = '<div class="wk-ap-no-review"><a target="_blank" href="'.$feedbackUrl.'">'.$msg.'</a></div>';
                        }
                    }
                    $availability = (isset($product['availability'])) ? $product['availability'] : '';
                    $availabilityClass = (isset($product['availabilityClass'])) ? $product['availabilityClass'] : '';
                    $displyAddToCart = (isset($product['displyAddToCart'])) ? $product['displyAddToCart'] : '';
                    $productType = (isset($product['productType'])) ? $product['productType'] : '';
                    if ($productType == "configurable") {
                        $btnLabel = __('Add to Cart');

                        if($isLoggedIn && !$isSeller)
                        {
                            $btnHtml = '
                            <div class="qty-container nm combustibles">
                              <button type="button" title="Disminuir Cantidad" class="qty-btns decreasing-qty">-</button>
                              <input type="number" class="wk-ap-qty input-text qty" title="'. __('Qty') .'" value="1" maxlength="12" id="qty" name="qty">
                              <button type="button" title="Aumentar Cantidad" class="qty-btns increasing-qty">+</button>
                            </div>
                            <button data-id="'.$assignId.'" class="wk-ap-add-to-cart action primary tocart" title="'.$btnLabel.'" type="button">
                                <span>'. $btnLabel .'</span>
                            </button>';
                        }

                        $jsonResult = (isset($product['jsonResult'])) ? $product['jsonResult'] : '';
                        $associatedOptions = $jsonResult;
                    }

                    $collectionUrl = (isset($product['collectionUrl'])) ? $product['collectionUrl'] : '';
                    $images = (isset($product['images'])) ? $product['images'] : [];
                    $baseImageUrl = (isset($product['baseImageUrl'])) ? $product['baseImageUrl'] : '';
                    $condition = (isset($product['condition'])) ? $product['condition'] : '';
                    $mainHtml = "";
                    $galleryHtml = "";
                    $galleryCount = 0;
                    $activeGallery = 0;
                    $tmpHtml = "";
                    foreach ($images as $image) {
                        $galleryCount++;
                        $class = "";
                        if ($galleryCount == 1) {
                            $class = "firstItem";
                            $tmpHtml .= "<img src='".$baseImageUrl.$image->getValue()."'>";
                        }
                        if ($image->getValue() == $product['baseImage']) {
                            $mainHtml .= "<img src='".$baseImageUrl.$image->getValue()."'>";
                            $galleryHtml .= "<div data-id='".$galleryCount."' class='wk-ap-product-showcase-gallery-item wk-ap-active ".$class."'><img src='".$baseImageUrl.$image->getValue()."'></div>";
                            $activeGallery = $galleryCount;
                        } else {
                            $galleryHtml .= "<div data-id='".$galleryCount."' class='wk-ap-product-showcase-gallery-item ".$class."'><img src='".$baseImageUrl.$image->getValue()."'></div>";
                        }
                    }
                    if ($mainHtml == "")
                    {
                        $mainHtml = $tmpHtml;
                        $galleryHtml = str_replace("firstItem", "wk-ap-active", $galleryHtml);
                    } else {
                        $galleryHtml = str_replace("firstItem", "", $galleryHtml);
                    }
                    $width = $galleryCount*$itemWidth;
                    if ($activeGallery > 5)
                    {
                        $left = $activeGallery - 5;
                        $left = $left*$itemWidth;
                    } else {
                        $left = 0;
                    }
                    $showNavigation = false;
                    if ($galleryCount > 5)
                    {
                        $showNavigation = true;
                    }
                    $showSellerProduct = true;
                    if ($minPriceProducts && $minPriceProducts[0]['id'] == $assignId)
                    {
                        if ($productType != "configurable")
                        {
                            if ($helper->getOriginalQty($productId) > 0)
                            {
                                $showSellerProduct = false;
                            }
                        }
                    }
                    $configProductClass = false;
                    if($singleMinPriceConfigProduct)
                    {
                        $configProductClass = ($assignId == $singleMinPriceConfigProduct[0]['parentId']) ? true : false;
                    }

                    $priceConcat = '';
                    if($productType == 'simple' || $productType == 'virtual')
                    {
                        if($sellerId && isset($offerPrices[$sellerId][$productId][$productId]))
                        {
                            $_offPrices = $offerPrices[$sellerId][$productId][$productId];
                            $_basePrice = '<span class="base-price">$'.$_offPrices['base_price'].'</span>';
                            $_specialPrice = '';
                            if($_offPrices['special_price'] != '')
                            {
                                $_specialPrice = '<span class="special-price">$'.$_offPrices['special_price'].'</span>';
                                $priceConcat .= $_specialPrice . $_basePrice;
                            }else{
                                $priceConcat .= $_basePrice;
                            }
                        }
                    }

                    ?>
                    <tr <?= ($configProductClass)? 'style="display:none"':'' ?> data-id="<?= $assignId; ?>" data-sellerid="<?= $sellerId; ?>" data-wkhqt="<?= $displyAddToCart ? 1 : 0 ?>">
                        <td class="wk-ap-checkbox-id">
                            <input type="checkbox" name="suppliers_id_selected" value="<?= $sellerId; ?>" disabled>
                        </td>
                        <td class="wk-ap-seller-name first-left-tooltip" data-name="<?= $shopTitle ?>">
                              <span class="wk-ap-shop-title">
                                  <a class="wk-ap-shop-link" title="Ir al perfil de <?php echo $shopTitle; ?>" target="_blank" href="<?php echo $shopUrl; ?>">
                                      <?php echo $shopTitle; ?>
                                  </a>
                              </span>
                            <div class="wk-seller-actions">
                                <!--a class="action toprofile" title="Ir al perfil de <?php echo $shopTitle; ?>" href="<?php echo $shopUrl; ?>" target="_blank">
                                    <i class="ccicon-person"></i>
                                </a-->
                                <?php if($isLoggedIn): ?>
                                    <a class="action send-msg-chat" title="Enviar mensaje a <?php echo $shopTitle; ?>" href="#" data-seller-id="<?= $sellerId; ?>">
                                        <i class="ccicon-msg-chat"></i>
                                    </a>
                                <?php endif; ?>
                                <span class="wk-ap-seller-rut">
                                  <span class="wk-ap-seller-rut">
                                    RUT : <?php echo $shopRut; ?>
                                 </span>

                            <?php
                            if($stampsBlock = $block->getChildBlock('cc.stamps.block')):
                                $stampsBlock->setSellerId($sellerId);
                                echo $block->getChildHtml('cc.stamps.block',false);
                            endif;
                            ?>
                            </div>
                        </td>

                        <td class="wk-ap-price" data-price="<?= $price ?>">
                              <span class="wk-ap-product-price combustibles">
                                <?php echo $priceConcat; ?>
                              </span>
                        </td>
                        <td class="wk-ap-price combustibles conteiner">
                            <label class="wk-ap-qty-label combustibles" for="amount"> <?php echo  __('Amount Charged:'); ?></label>
                            <div class="wrapper">
                                <div class="inputgroup">
                                    <span class="simbol-imput">$</span>
                                    <input type="text" class="wk-ap-qty input-text required-entry validate-greater-than-zero" title="<?= __('Amount to Buy') ?>" value=""
                                           maxlength="20" id="combustible_amount_<?= $sellerId ?>" name="amount">
                                </div>
                            </div>
                        </td>
                        <td class="wk-ap-action-col">
                            <?php if ($displyAddToCart && $isLoggedIn): ?>
                                <div class="qty-container nm combustibles">
                                    <button type="button" title="Disminuir Cantidad" class="qty-btns decreasing-qty">-</button>
                                    <input type="number" class="wk-ap-qty input-text qty" title="<?php echo __('Qty'); ?>" value="1" maxlength="12" id="qty" name="qty">
                                    <button type="button" title="Aumentar Cantidad" class="qty-btns increasing-qty">+</button>
                                </div>
                                <button data-id="<?= $assignId ?>" class="wk-ap-add-to-cart action primary tocart" title="<?php echo __('Add to Cart'); ?>" type="button">
                                    <span><?php echo __('Add to Cart'); ?></span>
                                </button>
                                <form  method="post" id="product_addtocart_form_<?= $assignId . $sellerId ?>" novalidate="novalidate">
                                    <input type="hidden" name="product" value="<?= $productId ?>">
                                    <input type="hidden" name="selected_configurable_option" value="">
                                    <input type="hidden" name="related_product" id="related-products-field" value="">
                                    <input type="hidden" name="item" value="<?= $productId ?>">
                                    <input name="form_key" type="hidden" value="<?= $formKey ?>">
                                    <input name="mpassignproduct_id" type="hidden" value="<?= $assignId ?>">
                                    <input name="sellerId" type="hidden" value="<?= $sellerId ?>">
                                    <input name="pricesymbol" type="hidden" value="<?= $symbol ?>">
                                    <input name="price" type="hidden" value="<?= $_offPrices['base_price'] ?>">
                                    <input name="addurl" type="hidden" value="<?= $url ?>">
                                    <input type="hidden" class="combustible_amount" name="combustible_amount" id="combustible_amount_hidden_<?= $sellerId ?>">
                                </form>
                                <div class="block block-requisition-list social-button" data-bind="scope: 'requisition_<?= $assignId . $sellerId ?>'">
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                </div>
                                <script type="text/x-magento-init">
                                    {
                                        "*": {
                                            "Magento_Ui/js/core/app": {
                                                "components": {
                                                    "requisition_<?= $assignId . $sellerId?>": {
                                                        "component": "Magento_RequisitionList/js/requisition/action/product/add",
                                                        "editModuleName": "requisition_<?= $assignId . $sellerId ?>.edit",
                                                        "title": "<?= /* @noEscape */ __('Add to Requisition List') ?>",
                                                        "action": "<?= /* @noEscape */ $block->getUrl('requisition_list/item/add') ?>",
                                                        "sku": "<?= $block->escapeJs($block->getProduct()->getSku()) ?>",
                                                        "productFormSelector": "#product_addtocart_form_<?= $assignId . $sellerId ?>"
                                                    },
                                                    "requisition_<?php echo $assignId . $sellerId ?>.edit": {
                                                        "component": "Magento_RequisitionList/js/requisition/list/edit",
                                                        "modal": "add_to_requisition_popup",
                                                        "saveUrl": "<?= /* @noEscape */ $block->getUrl('rest/V1/requisition_lists') ?>"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </script>
                                <script>
                                    require([
                                        "jquery", "domReady!"
                                    ], function($){
                                        "use strict";
                                        $(document).ready(function($, ko) {
                                            $(document).on("change", "input[name=amount]", function(e) {
                                                var id = $(this).attr("id").split("_");
                                                var name = "combustible_amount_hidden_" + id[2];
                                                $("#" + name).val($(this).val());
                                            });
                                        });
                                    });
                                </script>

                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach;?>
                <tr id="no-suppliers" style="display:none;">
                    <td colspan="4"><?= __("There are no suppliers with the filters you have selected") ?></td>
                </tr>
            </table>
        </div>

    </div>
    <!--END SUPPLIERS BOX -->
    <?php
    $min = [];
    $qty = [];
    $product = $mainProduct;
    if ($product->getTypeId() == "configurable") {
        foreach($associatedOptions as $key => $value) {
            foreach ($value as $id => $options) {
                if (isset($min[$id])) {
                    if ($min[$id]>$associatedOptions[$key][$id]['price']) {
                        $min[$id] = $associatedOptions[$key][$id]['price'];
                        $qty[$id] = $associatedOptions[$key][$id]['qty'];
                    }
                } else {
                    $min[$id] = $associatedOptions[$key][$id]['price'];
                    $qty[$id] = $associatedOptions[$key][$id]['qty'];
                }
            }
        }
    }
    if ($mainConfigChilds) {
        foreach ($mainConfigChilds as $key=>$value) {
            $price = $this->helper('Magento\Framework\Pricing\Helper\Data')
                ->currency($value['price'], false, false);
            $mainConfigChilds[$key]['price'] = sprintf('%01.2f', $price);
        }
    }
    if ($singleMinPriceConfigProduct) {
        foreach ($singleMinPriceConfigProduct as $key=>$value) {
            $price = $this->helper('Magento\Framework\Pricing\Helper\Data')
                ->currency($value['price'], false, false);
            $singleMinPriceConfigProduct[$key]['price'] = sprintf('%01.2f', $price);
        }
    }
    ?>

    <?php
    $data = [];
    $data["isConfig"] = $isConfig;
    $data["productId"] = $productId;
    $data["formKey"] = $formKey;
    $data["url"] = $url;
    $data["dir"] = $dir;
    $data["defaultUrl"] = $defaultUrl;
    $data["sortOrder"] = $sortOrder;
    $data["btnHtml"] = $btnHtml;
    $data["url"] = $url;
    $data["jsonResult"] = $jsonResult;
    $data["symbol"] = $symbol;
    $data["itemWidth"] = $itemWidth;
    $data['min'] = $min;
    $data['qty'] = $qty;
    $data['offerPrices'] = $offerPrices;
    $data['rcArray'] = $rcArray;
    $data['regions'] = $regions;
    $data['minPriceProduct'] = $minPriceProducts ? $minPriceProducts[0]['id'] : 0;
    $data['showMinimumPrice'] = $showMinimumPrice;
    if($showMinimumPrice)
        $data['minPriceToShow'] = $minPriceToShow;
    $data['mainConfigChilds'] = $mainConfigChilds;
    $data['singleMinPriceConfigProduct'] = $singleMinPriceConfigProduct;
    $data['customOptionsAvail'] = $customOptionsAvail;
    $data = json_encode($data);
    ?>
    <script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpAssignProduct/js/assignproduct": <?php echo $data ?>
            }
        }
    </script>

    <?php echo $block->getChildHtml('cc.supplier.actions') ?>

<?php endif; ?>
