.priceadjustmentrequest-request-index {
  input[type="checkbox"] {
    top: initial;
  }

  .data-grid {
    &._in-edit {
      .data-grid-editable-row {
        border: 0.1rem solid #adadad;
        border-bottom-color: #c2c2c2;
        background: #FFF;
        border-top: none;
        box-shadow: 0 10px 5px rgba(0, 0, 0, .15);
      }
    }

    .data-grid-editable-row-actions {
      left: 50%;
      margin-left: -12.5rem;
      margin-top: -10px;
      position: absolute;
      text-align: center;
    }

    .data-grid-bulk-edit-panel {
      display: none;
    }
  }

  .action.primary, a.action.primary, .action-primary, button {
    height: 20px;
  }
}

.wk-mp-menu {
  .wk-mp-item-price > a:before {
    content: '\e60b';
  }
}