<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMultiShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner= $_helper->isSeller();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $helper = $this->helper('Webkul\MpMultiShipping\Helper\Data');
if ($isPartner && $helper->getConfigData('active')) { ?>
    <?php if (($isSellerGroup && $_helper->isAllowedAction('multiship/shipping/view')) || !$isSellerGroup) { ?>
        <li class="level-2">
            <a href="<?php echo $block->getUrl('multiship/shipping/view', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                <span><?php echo __('Manage Multi Shipping')?></span>
            </a>
        </li>
    <?php } ?>
<?php }?>
