<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\ReviewRenderer $block */
?>
<?php if ($block->isReviewEnabled()): ?>
    <?php
    $url = $block->getReviewsUrl() . '#reviews';
    $urlForm = $block->getReviewsUrl() . '#review-form';
    ?>
    <?php $rating = $block->getRatingSummary(); ?>
    <?php $rNumber = $rating ? $rating : 0; ?>
    <?php $rCount = ($block->getReviewsCount()) ? $block->getReviewsCount() : 0 ?>
    <div class="product-reviews-summary<?= !$rating ? ' no-rating' : '' ?>" itemprop="aggregateRating" itemscope
         itemtype="http://schema.org/AggregateRating">
        <div class="rating-summary">
            <span class="label"><span><?= $block->escapeHtml(__('Rating')) ?>:</span></span>
            <div class="rating-result" title="<?= $block->escapeHtmlAttr($rNumber); ?>%">
                <span style="width:<?= $block->escapeHtmlAttr($rNumber); ?>%"></span>
            </div>
        </div>
        <div class="reviews-actions">
            <a class="action view"
               href="<?= $block->escapeUrl($url) ?>">
                <span itemprop="reviewCount"><?= $block->escapeHtml($rCount) ?></span>&nbsp;
                <span><?= ($rCount == 1) ? $block->escapeHtml(__('Review')) : $block->escapeHtml(__('Reviews')) ?></span>
            </a>
        </div>
    </div>
<?php endif; ?>