<?php
/**  @var $block \Webkul\Mpsplitcart\Block\Index */
$splitBlock = $this->getLayout()->createBlock('Webkul\Mpsplitcart\Block\Index');
$mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1);
/* @escapeNotVerified */
$block->getChildHtml('form_before');
$mpHelper = $this->helper('Webkul\Marketplace\Helper\Data');
$mpaHelper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$packagesHelper = $this->helper("Summa\ProductPackages\Helper\Data");
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
$packages = [];

if ($splitBlock->getMpsplitcartEnable())
{
    $sellerData = $splitBlock->getSellerData();
    foreach ($sellerData as $sellerId => $proIdsArray)
    {
        /**
         * In some cases, sellerId = 0 because the productId isn't present in the marketplace_product DB table
         * We are skipping such cases. See https://chilecompra.atlassian.net/browse/MCDS-70
         */
        if (!$sellerId) {
            continue;
        }

        $sellerInfo = $mpHelper->getSellerInfo($sellerId);
        $seller = $mpaHelper->getCustomer($sellerId);
        $sellerName = isset($sellerInfo['shop_title']) ? $sellerInfo['shop_title'] : $sellerInfo['shop_url'];
        $sellerFantasy = $seller->getData('wkv_dccp_fantasy_name');
        $productData = $mpHelper->getSellerProductData();
        ?>
        <div class="cc-cartblock">

            <div class="cc-cartblock-box">
                <form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
                      method="post"
                      id="form-validate"
                      data-mage-init='{"validation":{}}'
                      class="form form-cart">
                    <?= /* @escapeNotVerified */ $block->getBlockHtml('formkey'); ?>
                    <div class="wk-mpsplit-wrapper">
                        <div class="cart table-wrapper<?= /* @escapeNotVerified */ $mergedCells == 2 ? ' detailed' : ''; ?>">
                            <h2 class="supplier-name"> <?= $sellerFantasy ? $sellerFantasy.' - '.$sellerName : $sellerName ?></h2>
                            <table id="shopping-cart-table" class="cart items data table" data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear", "updateCartActionContainer": "#update_cart_action_container"}}'>
                                <caption role="heading" aria-level="2" class="table-caption">
                                    <?= /* @escapeNotVerified */ __('Shopping Cart Items') ?>
                                </caption>
                                <thead>
                                <tr>
                                    <th class="col item" scope="col">
                                    <span>
                                        <?= /* @escapeNotVerified */ __('Item') ?>
                                    </span>
                                    </th>
                                    <th class="col price" scope="col">
                                    <span>
                                        <?= /* @escapeNotVerified */ __('Price') ?>
                                    </span>
                                    </th>
                                    <th class="col qty" scope="col">
                                    <span>
                                        <?= /* @escapeNotVerified */ __('Qty') ?>
                                    </span>
                                    </th>
                                    <th class="col subtotal" scope="col">
                                    <span>
                                        <?= /* @escapeNotVerified */ __('Subtotal') ?>
                                    </span>
                                    </th>
                                </tr>
                                </thead>
                                <?php foreach ($block->getItems() as $_item) : ?>
                                    <?php if (array_key_exists($_item->getId(), $proIdsArray)) : ?>
                                        <?= /* @escapeNotVerified */ $block->getItemHtml($_item) ?>
                                        <?php
                                        $skus[$sellerId][] = $packagesHelper->getSkuByItem($_item);
                                        ?>
                                    <?php endif; ?>
                                <?php endforeach ?>
                            </table>
                        </div>
                        <div class="cart main actions">
                            <?php if ($block->getContinueShoppingUrl()) : ?>
                                <a class="action continue" href="<?= /* @escapeNotVerified */ $block->escapeUrl($block->getContinueShoppingUrl()) ?>" title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Continue Shopping')); ?>">
                            <span>
                                <?= /* @escapeNotVerified */ __('Continue Shopping') ?>
                            </span>
                                </a>
                            <?php endif; ?>
                            <button type="submit"
                                    name="update_cart_action"
                                    data-cart-empty=""
                                    value="empty_cart"
                                    title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                                    class="action clear" id="empty_cart_button">
                            <span>
                                <?= /* @escapeNotVerified */ __('Clear Shopping Cart'); ?>
                            </span>
                            </button>
                            <button type="submit"
                                    name="update_cart_action"
                                    data-cart-item-update=""
                                    value="update_qty"
                                    title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Update Shopping Cart')); ?>"
                                    class="action update">
                        <span>
                            <?= /* @escapeNotVerified */ __('Update Shopping Cart'); ?>
                        </span>
                            </button>
                            <input type="hidden"
                                   value=""
                                   id="update_cart_action_container"
                                   data-cart-item-update=""/>
                        </div>
                    </div>
                </form>

                <form action="<?= /* @escapeNotVerified */ $block->getUrl('mpsplitcart/cartover/proceedtocheckout') ?>"
                      method="post"
                      id="checkout-validate-<?php echo $sellerId ?>"
                      data-mage-init='{"validation":{}}'
                      class="form form-checkout ">
                    <?= /* @escapeNotVerified */ $block->getBlockHtml('formkey'); ?>
                    <input type="hidden" id="formKey" value="<?php echo $mpaHelper->getFormKey() ?>" >

                    <input type="hidden" id="sellerId" value="<?php echo $sellerId ?>" >
                    <input type="hidden" id="arePackagesInItems-<?php echo $sellerId ?>" value="<?php echo $packagesHelper->arePackagesInItems($block->getItems(), $sellerId) ?>">
                    <input type="hidden" id="areOnlyPackagesInItems-<?php echo $sellerId ?>" value='<?php echo $packagesHelper->areOnlyPackagesInItems($block->getItems(), $proIdsArray) ?>'>
                    <div class="cart-summary">
                        <?php
                        $subtotal = (int)$proIdsArray['total'];
                        $taxes = (int)$proIdsArray['tax'];
                        $subtax = $subtotal + $taxes;
                        ?>
                        <input type="hidden" name="wk-mp-crt-sbt" value="<?= $subtax ?>">
                        <input type="hidden" name="mpslitcart-checkout" value="<?= /* @escapeNotVerified */ $sellerId ?>"/>
                        <input type="hidden" name="wk-mp-seller-id[]" class="wk-mp-seller-id" value="<?= /* @escapeNotVerified */ $sellerId; ?>">
                        <input type="hidden" id="sellsPackages-<?php echo $sellerId ?>" value="<?= $packagesHelper->sellsPackages($sellerId) ?>" />
                        <div data-bind="scope:'giftOptionsCart'" id="gift-options-cart"></div>
                        <div class="cart-summary1">
                            <strong class="summary title"><?= /* @escapeNotVerified */ __("Summary") ?></strong>
                            <div data-bind="scope:'block-totals'" class="cart-totals" id="cart-totals">
                                <div data-bind="blockLoader: isLoading" class="table-wrapper">
                                    <table class="data table totals">
                                        <tbody>
                                        <tr class="totals sub">
                                            <th scope="row" colspan="1" class="mark">
                                                <?= /* @escapeNotVerified */ __("Subtotal") ?>:
                                            </th>
                                            <td data-th="Subtotal" class="amount">
                                                    <span class="price">
                                                        <?= /* @escapeNotVerified */ $proIdsArray['formatted_total']; ?>
                                                    </span>
                                            </td>
                                        </tr>
                                        <?php
                                        $taxBlock = $block->getChildBlock('checkout.cart.tax');
                                        $taxBlock->setData('tax_value', $proIdsArray['formatted_tax']);
                                        ?>
                                        <?= $block->getChildHtml('checkout.cart.tax', false) ?>
                                        <?= $block->getChildHtml('checkout.cart.purchaseunit', false) ?>
                                        <tr class="grand totals">
                                            <th scope="row" colspan="1" class="mark">
                                                <strong data-bind="text: title">
                                                    <?= /* @escapeNotVerified */ __("Total") ?>:
                                                </strong>
                                            </th>
                                            <td data-th="Order Total" class="amount">
                                                <strong>
                                                        <span class="price">
                                                            <?= /* @escapeNotVerified */ $proIdsArray['formatted_order_total']; ?>
                                                        </span>
                                                </strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ul class="checkout methods items checkout-methods-items">
                                <li class="item">
                                    <button class="action primary checkout mp-btn-checkout"
                                            title="Go to Checkout"
                                            data-role="proceed-to-checkout"
                                            type="button"
                                            name="mpslitcart-checkout-btn"
                                            id="<?php echo $sellerId ?>"
                                    >
                                        <span><?= /* @escapeNotVerified */ __("Go to Checkout") ?></span>
                                    </button>
                                </li>
                                <?php if($splitBlock->multicheckoutStatus()) { ?>
                                    <li class="item">
                                        <a class="action multicheckout" href="<?= /* @escapeNotVerified */ $splitBlock->getCheckoutUrl($sellerId) ?>"><span><?= /* @escapeNotVerified */ __('Check Out with Multiple Addresses') ?></span></a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="addPackages-<?php echo $sellerId ?>" class="packages" style="display: none;">
            <div>
                <?php
                $packages[$sellerId] = [];
                if(isset($skus[$sellerId])){
                    $packages[$sellerId] = $packagesHelper->getPackagesBySellerId($sellerId, $skus[$sellerId]);
                }
                if(count($packages[$sellerId]) <= 0)
                {
                ?>
                        <div>
                            <p id="packagesMessage-<?php echo $sellerId ?>">
                                No hay paquetes disponibles para este vendedor y region.
                            </p>
                        </div>
                <?php
                    }
                    else
                    {
                ?>
                        <div>
                            <p id="packagesMessage-<?php echo $sellerId ?>">
                                Por favor, indica si vas a añadir <bold>bolsas</bold> o <bold>cajas</bold> a los productos que has seleccionado, agregando
                                la cantidad que quieres solicitar. De lo contrario, solo presiona Aceptar y continuar.
                            </p>
                        </div>
                <?php
                    }
                //$packages = $packagesHelper->getPackagesBySellerId($sellerId, $skus[$sellerId]);
                foreach($packages[$sellerId] as $package)
                {
                    ?>

                    <div class="col qty centered">
                        <div class="field qty">
                            <div class="qty-container qty-container-modal form-group form-inline">
                                <div class="package-name">
                                    <?php echo $package['name'] ?>
                                </div>
                                <div class="control qty qty-input-container">
                                    <button type="button" title="Disminuir Cantidad" class="qty-btns decreasing-qty qty-decreaser">-</button>
                                    <input class="input-text qty pkg input-text-modal centered" type="number" size="2" id="<?php echo $package['product_id'] ?>" value="0"/>
                                    <button type="button" title="Aumentar Cantidad" class="qty-btns increasing-qty qty-increaser">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
        </div>
        <?php
    }
} else {
    $total = $block->getCartTotal(); ?>
    <form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
        <?= /* @escapeNotVerified */ $block->getBlockHtml('formkey'); ?>
        <div class="wk-mpsplit-wrapper">
            <div class="cart table-wrapper<?= /* @escapeNotVerified */ $mergedCells == 2 ? ' detailed' : ''; ?>">
                <table id="shopping-cart-table"
                       class="cart items data table"
                       data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
                       "updateCartActionContainer": "#update_cart_action_container"}}'>
                    <caption role="heading" aria-level="2" class="table-caption">
                        <?= /* @escapeNotVerified */ __('Shopping Cart Items') ?>
                    </caption>
                    <thead>
                    <tr>
                        <th class="col item" scope="col">
                            <span><?= /* @escapeNotVerified */ __('Item') ?></span>
                        </th>
                        <th class="col price" scope="col">
                            <span><?= /* @escapeNotVerified */ __('Price') ?></span>
                        </th>
                        <th class="col qty" scope="col">
                            <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
                        </th>
                        <th class="col subtotal" scope="col">
                            <span>
                                <?= /* @escapeNotVerified */ __('Subtotal') ?>
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <?php foreach ($block->getItems() as $_item) : ?>
                        <?= /* @escapeNotVerified */ $block->getItemHtml($_item) ?>
                    <?php endforeach ?>
                </table>
            </div>
            <div class="cart main actions">
                <?php if ($block->getContinueShoppingUrl()) : ?>
                    <a class="action continue"
                       href="<?= /* @escapeNotVerified */ $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
                       title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Continue Shopping')); ?>">
                        <span>
                            <?= /* @escapeNotVerified */ __('Continue Shopping') ?>
                        </span>
                    </a>
                <?php endif; ?>
                <button type="submit"
                        name="update_cart_action"
                        data-cart-empty=""
                        value="empty_cart"
                        title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                        class="action clear" id="empty_cart_button">
                    <span>
                        <?= /* @escapeNotVerified */ __('Clear Shopping Cart'); ?>
                    </span>
                </button>
                <button type="submit"
                        name="update_cart_action"
                        data-cart-item-update=""
                        value="update_qty"
                        title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Update Shopping Cart')); ?>"
                        class="action update">
                    <span>
                        <?= /* @escapeNotVerified */ __('Update Shopping Cart'); ?>
                    </span>
                </button>
                <input type="hidden"
                       value=""
                       id="update_cart_action_container"
                       data-cart-item-update=""/>
            </div>
        </div>
    </form>
    <form action="<?= /* @escapeNotVerified */ $block->getUrl('mpsplitcart/cartover/proceedtocheckout') ?>"
          method="post"
          id="checkout-validate-<?php echo $sellerId ?>"
          data-mage-init='{"validation":{}}'
          class="form form-checkout">
        <?= /* @escapeNotVerified */ $block->getBlockHtml('formkey'); ?>
        <input type="hidden" name="mpslitcart-disbale" value="1"/>
        <div class="cart-summary">
            <div data-bind="scope:'giftOptionsCart'" id="gift-options-cart">
            </div>
            <div class="cart-summary1">
                <strong class="summary title"><?= /* @escapeNotVerified */ __("Summary") ?></strong>
                <div data-bind="scope:'block-totals'"
                     class="cart-totals"
                     id="cart-totals">
                    <div data-bind="blockLoader: isLoading" class="table-wrapper">
                        <table class="data table totals">
                            <caption class="table-caption">Total</caption>
                            <tbody>
                            <tr class="totals sub">
                                <th scope="row" colspan="1" class="mark">
                                    <?= /* @escapeNotVerified */ __("Subtotal") ?>
                                </th>
                                <td data-th="Subtotal" class="amount">
                                        <span class="price">
                                            <?= /* @escapeNotVerified */ $total ?>
                                        </span>
                                </td>
                            </tr>
                            <!-- <tr class="totals shipping excl">
                                <th class="mark" colspan="1" scope="row">
                                    Shipping
                                </th>
                                <td class="amount">
                                    <span class="price"></span>
                                </td>
                            </tr> -->
                            <tr class="grand totals">
                                <th scope="row" colspan="1" class="mark">
                                    <strong data-bind="text: title">
                                        <?= /* @escapeNotVerified */ __("Order Total") ?>
                                    </strong>
                                </th>
                                <td data-th="Order Total" class="amount">
                                    <strong>
                                            <span class="price">
                                                <?= /* @escapeNotVerified */ $total ?>
                                            </span>
                                    </strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="checkout methods items checkout-methods-items">
                    <li class="item">
                        <button class="action primary checkout mp-btn-checkout"
                                title="Go to Checkout"
                                data-role="proceed-to-checkout"
                                type="button"
                                name="mpslitcart-disbale-btn">
                            <span><?= /* @escapeNotVerified */ __("Go to Checkout") ?></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <?php
} ?>
<?= /* @escapeNotVerified */ $block->getChildHtml('shopping.cart.table.after'); ?>
<?php
$shippingBlock = $this->getLayout()->createBlock('Magento\Checkout\Block\Cart\Shipping');
?>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/confirm',
            'jquery/ui',
            'jquery/validate',
            'mage/translate'
        ],
        function($, modal, mod1, GreatBuy)
        {
            let sellerId = '';
            let options =
                {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Antes de seguir avanzando...',
                    closeText: 'Cerrar',
                    height: '1500px',
                    width: '1500px',
                    content: 'Packages',
                    buttons: [
                        {
                            text: $.mage.__('Volver'),
                            class: 'action-secondary',
                            click: function(e)
                            {
                                $("#addPackages-" + sellerId).modal(options).modal("closeModal");
                            }
                        },
                        {
                            text: $.mage.__('Aceptar y continuar'),
                            class: 'action-primary',
                            click: function(e)
                            {
                                let packages = $('.input-text.qty.pkg').map(function()
                                {
                                    let package =
                                        {
                                            'id': this.id,
                                            'ammount': this.value,
                                        }
                                    return package;
                                }).get();

                                const formData = {};
                                for(let i=0; i<packages.length; i++)
                                {

                                    formData.isConfig = 0;
                                    formData.form_key = $("#formKey").val();
                                    formData.productId = packages[i].id;
                                    formData.product = packages[i].id;
                                    formData.item = packages[i].id;
                                    formData.sellerId = sellerId;
                                    formData.mpassignproduct_id = getAssignDataByKey('id', formData.productId, formData.sellerId);
                                    formData.symbol = <?php echo $mpaHelper->getCurrentCurrencySymbol(); ?>;
                                    formData.price = getAssignDataByKey('price', formData.productId, formData.sellerId);
                                    formData.addurl = getAssignDataByKey('addurl', formData.productId, formData.sellerId);
                                    formData.itemWidth = 95.6;
                                    formData.qty = packages[i].ammount;
                                    if(formData.qty > 0)
                                    {
                                        $.ajax
                                        ({
                                            url: formData.addurl,
                                            type: 'POST',
                                            data: formData,
                                            success: function (data)
                                            {
                                                if(data.backUrl)
                                                {
                                                    location.reload();
                                                }
                                            },
                                            error: function (jqXHR, status, error) {
                                                console.dir(error);
                                                window.console && console.log(status + ': ' + error + '\nResponse text:\n' + jqXHR.responseText);
                                            },
                                        })
                                    }
                                }

                                $("#addPackages-" + sellerId).modal('closeModal');
                                $(document).trigger('packages', sellerId);
                            }
                        }
                    ]
                };

            $(".checkout.mp-btn-checkout").on('click', function (event)
            {
                sellerId = $(this).attr('id');
                event.preventDefault();
                let arePackagesInItems = JSON.parse($("#arePackagesInItems-" + sellerId).val());
                let areOnlyPackagesInItemsObject = JSON.parse($("#areOnlyPackagesInItems-" + sellerId).val());
                let areOnlyPackagesInItems = areOnlyPackagesInItemsObject.areOnlyPackagesInItems;
                let hasSellsPackages =  JSON.parse($("#sellsPackages-" + sellerId).val());

                if(!arePackagesInItems && hasSellsPackages)
                {
                    event.preventDefault();
                    $("#addPackages-" + sellerId).modal(options).modal("openModal");
                }
                else
                {
                    if(areOnlyPackagesInItems)
                    {
                        //Solo hay paquetes, comunicar al usuario
                    }
                    else
                    {
                        $(document).trigger('packages', sellerId);
                    }
                }
            });

        }
    );
</script>

<script>
    function getAssignDataByKey(key, productId, sellerId)
    {
        const packages = <?php echo json_encode($packages); ?>;
        for(let i=0; i<packages[sellerId].length; i++)
        {
            if(packages[sellerId][i]['product_id'] == productId)
            {
                return packages[sellerId][i][key];
            }
        }
    }
</script>

<script>
    window.checkoutConfig = <?= /* @escapeNotVerified */ \Zend_Json::encode($shippingBlock->getCheckoutConfig()); ?>;
</script>

<?php
$giftOptionsBlock = $this->getLayout()->createBlock('Magento\GiftMessage\Block\Cart\GiftOptions');
?>

<script>
    window.giftOptionsConfig = <?= /* @escapeNotVerified */ $giftOptionsBlock->getGiftOptionsConfigJson(); ?>;
</script>
