<?php
/**
 * Compare suppliers button template
 *
 * @var $block \Formax\CompareSuppliers\Block\Modal
 */
?>
<?php
$title = __('Compare Suppliers');
?>
<div class="cc-compare-suppliers">
  <a data-mage-init='{"comparesuppliers-modal": {
    "url": "<?= $this->getUrl('comparesuppliers/information') ?>",
    "website": "<?= $this->getWebsiteCode()?>",
    "is_compare_enabled": "<?= $block->isFeatureEnable();?>"
  } }' id="viewSuppliersComparator" title="<?= $title ?>" class="action primary disabled"><?= $title ?></a>
  <div id="comparesuppliers-popup" style="display:none;">
    <div class="comparison-product-info">
      <div class="product-photo">
      </div>
      <div class="product-info">
        <div class="product-sku"></div>
        <div class="product-name"></div>
      </div>
    </div>
    <table class="suppliers-comparisontable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="table-actions">
      <button type="button" class="action secondary print-suppliercomparison">Imprimir</button>
    </div>
  </div>
</div>