<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>

<?php
	$helper = $this->helper("Formax\ProductData\Helper\AssignProduct");
	$queryString = htmlspecialchars($helper->getQueryString());
	$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
	$collection = $this->getAllProducts();
	$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
    $attributeSetlist = $block->listAttributeSet();
    $attributeSetId = htmlspecialchars($helper->getAttributeSetId());
    $marcaOptions = $block->getMarcaValues();
    $marcaId = htmlspecialchars($helper->getMarcaId());
    $prodId = htmlspecialchars($helper->getProdId());
    $downloadCsvUrl = $this->getUrl('exportcsv', [
        '_query' => [
            'query' => $queryString,
            'prod_id' => $prodId,
            'attribute_set_id' => $attributeSetId,
            'marca' => $marcaId,
        ]
    ]);
?>
<?php if ($isPartner == 1): ?>
    <form method="get" action="<?php echo $this->getUrl('mpassignproduct/product/view'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <?php echo $this->getFormKeyBlockHtml(); ?>
            <legend class="legend">
                <span><?php echo __("Assign Product"); ?></span>
            </legend>
            <div class="field">
                <label for="attribute_set" class="label">
                    <span><?php echo __("Search For Product"); ?></span>
                </label>
                <div class="control">
                    <input value="<?php echo $queryString; ?>" type="text" class="input-text" title="query" name="query" id="query">
                </div>
            </div>
            <div class="field">
                <label for="prod_id" class="label">
                    <span><?php echo __("PROD ID"); ?></span>
                </label>
                <div class="control">
                    <input value="<?php echo $prodId; ?>" type="text" class="input-text" title="prod_id" name="prod_id" id="prod_id">
                </div>
            </div>
            <?php if ($attributeSetlist && !empty($attributeSetlist)): ?>
                <div class="field">
                    <label for="attribute_set_id" class="label">
                        <span><?php echo __("Product type"); ?></span>
                    </label>
                    <div class="control">
                        <select id="atribute_set_id" title="atribute_set_id" name="atribute_set_id" >
                            <option value=""><?php echo __("Select Product Type"); ?></option>
                            <?php foreach ($attributeSetlist as $attributeSet): ?>
                                <option value="<?php echo $attributeSet->getAttributeSetId() ?>" <?= ($attributeSet->getAttributeSetId() == $attributeSetId) ? 'selected' : '' ?> :>
                                    <?php echo __($attributeSet->getAttributeSetName()); ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <?php if (!empty($marcaOptions)): ?>
                <div class="field">
                    <label for="marca" class="label">
                        <span><?php echo __("Marca"); ?></span>
                    </label>
                    <div class="control">
                        <select id="marca" title="marca" name="marca" >
                            <option value="">Seleccionar Marca</option>
                            <?php foreach ($marcaOptions as $marcaOption): ?>
                                <?php if (!$marcaOption['value']) { continue; } ?>
                                <option value="<?=  $marcaOption['value'] ?>" <?= ($marcaOption['value'] == $marcaId) ? 'selected' : '' ?> :>
                                    <?php echo __($marcaOption['label']); ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field">
                <div class="control">
                    <button class="button wk-ap-btn" type="submit">
                        <span><span><?php echo __("Search"); ?></span></span>
                    </button>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <a class="button wk-ap-btn action-secondary" href="<?php echo $downloadCsvUrl; ?>">
                        <span><span><?php echo __("Download CSV"); ?></span></span>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
	<?php if($collection->getSize()): ?>
		<fieldset class="fieldset wk-ap-fieldset">
			<table class="data table wk-table-product-list">
				<thead>
					<th width="180"><?php echo __("Image"); ?></th>
					<th><?php echo __("Name"); ?></th>
					<th><?php echo __("Price"); ?></th>
					<th class=" wk-ap-btn-col"><?php echo __("Action"); ?></th>
				</thead>
				<?php foreach ($collection as $product): ?>
					<?php
						$image = 'category_page_list';
						$productImage = $_imagehelper->init($product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(75)->getUrl();
						//$prices = $helper->getSupplierPricesHtml($product->getId(), $product->getTypeId());
						//$price = $prices->minPrice ? $prices->minPrice : __('New product');
						$price = $product->getCustomPrice() > 0 ? $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($product->getCustomPrice()) : __('New product');
					?>
					<tr>
						<td class="col wk-ap-img-col"><img src="<?php echo $productImage; ?>" /></td>
						<td class="col"><?php echo $product->getName(); ?></td>
						<td class="col"><?php echo $price ?></td>
						<td class="col wk-ap-btn-col">
							<a href="<?php echo $this->getUrl('mpassignproduct/product/add')."id/".$product->getId(); ?>">
								<button class="button wk-ap-btn"><span><span><?php echo __("Start selling"); ?></span></span></button>
							</a>
						</td>
					</tr>
				<?php endforeach; ?>
			</table>
		</fieldset>
	<?php elseif ($this->getRequest()->getParam('query')!= ''): ?>
		<br>
		<div class="wk-profile-alert">
			<?php echo __("No Product Found"); ?>
		</div>
<?php endif; ?>
	<?php if ($block->getPagerHtml()): ?>
		<div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
	<?php endif ?>
<?php else: ?>
	<h2 class="wk-mp-error-msg">
		<?php echo __("To Become Seller Please Contact to Admin."); ?>
	</h2>
<?php endif; ?>
