<?php
/** @var \Formax\CreateFormAttributes\Block\Render\Attributes $block */
$formFields = $block->getAttributesByEntity();
$helper = $this->helper("Formax\CreateFormAttributes\Helper\Data");
$helperOffer = $this->helper('Formax\Offer\Helper\Data');
$createFormAttributesHelper = $this->helper('Formax\CreateFormAttributes\Helper\Data');
$model = $block->getDataFromModel();
$helperSoftware = $this->helper("Formax\ConfigCmSoftware\Helper\Data");
$currentDate = new \DateTime('now +1 day');
$token = $block->getToken();
?>
<div class="custom-attributes">
    <form id="<?= $block->getData('entity') ?>" method="post" enctype="multipart/form-data"
          action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>">
        <?= $block->getBlockHtml('formkey') ?>
        <?php $k = 0; ?>
        <?php foreach ($formFields as $keyForm => $form): ?>
            <div class="<?= $block->escapeHtmlAttr($keyForm) ?>">
                <?php if (isset($form['fieldset'])): ?>
                    <?php foreach ($form['fieldset'] as $keyFieldset => $fieldset): ?>
                        <?php $fieldsetClass = isset($fieldset['class']) ? $fieldset['class'] : '' ?>
                        <div class="fieldset <?= $block->escapeHtmlAttr($keyFieldset . ' ' . $fieldsetClass) ?>">
                            <?php if (isset($fieldset['label']) && !empty($fieldset['label'])): ?>
                                <label
                                    class="legend <?= $block->escapeHtmlAttr('label_' . $keyFieldset . ' ' . $fieldsetClass) ?>">
                                    <span
                                        class="<?= $block->escapeHtmlAttr('span_' . $keyFieldset . ' ' . $fieldsetClass) ?>"><?= $block->escapeHtml(__($fieldset['label'])) ?></span>
                                </label>
                                <br>
                            <?php endif; ?>
                            <?php if (isset($fieldset['fields'])): ?>
                                <?php $p = 0; ?>
                                <?php foreach ($fieldset['fields'] as $keyField => $field): ?>
                                    <!--                                    --><?php //if ($keyField != 'deliverable_services'): ?>
                                    <?php
                                    $postValue = '';
                                    $loadValue = '';
                                    $rowsCount = 1;
                                    $jsonValue = null;
                                    $required = isset($field['validationRule']['required']) && $field['validationRule']['required'] ? true : false;
                                    $isLoad = isset($field['load']) && $field['load'] ? $field['load'] : false;
                                    $multipleFiles = isset($field['multipleFiles']) && $field['multipleFiles'] ? 'multiple' : '';
                                    $inputType = isset($field['inputFront']) && $field['inputFront'] ? $field['inputFront'] : 'text';
                                    $fieldClass = isset($field['class']) && $field['class'] ? $field['class'] : '';
                                    $id = isset($field['multiple']) && $field['multiple'] ? $block->escapeHtmlAttr($keyField . '_' . $k . '_' . $p) : $block->escapeHtmlAttr($keyField);
                                    $name = ((isset($field['multiple']) && $field['multiple']) ||
                                        ($inputType == 'file' && isset($field['multipleFiles']) && $field['multipleFiles'])) ? $block->escapeHtmlAttr($keyField . '[]') : $block->escapeHtmlAttr($keyField);
                                    $group = isset($field['group']) && $field['group'] ? ' group_' . $field['group'] : '';
                                    $label = isset($field['label']) && $field['label'] ? $field['label'] : '';
                                    $textValue = isset($field['textValue']) && $field['textValue'] ? $field['textValue'] : '';
                                    $maxlength = isset($field['length']) && (int)$field['length'] > 0 ? 'maxlength=' . $field['length'] : '';
                                    $placeholder = isset($field['placeholder']) && $field['placeholder'] ? $field['placeholder'] : '';
                                    $readOnly = isset($field['readOnly']) && $field['readOnly'] ? 'readonly' : '';
                                    $format = isset($field['format']) && $field['format'] ? $field['format'] : '';
                                    $action = isset($field['action']) && $field['action'] ? $block->escapeUrl($block->getUrl(trim($field['action']))) : '#';
                                    $note = isset($field['note']) && $field['note'] ? $block->renderNote($field['note'], $keyField, $format) : '';
                                    $inputMaskSettings = isset($field['inputMask']) && $field['inputMask'] ? $block->getSettingsForInputMask($field['inputMask'], $keyField) : '';
                                    $comment = isset($field['comment']) && $field['comment']
                                        ? '<br><span class="comment comment-' . $keyField . ' ' . $format . '">' . $block->escapeHtml(__($field['comment'])) . '</span>' : '';

                                    if ($inputType != 'file') {
                                        if ($inputType != 'table' && (!isset($field['multiple'])
                                                || (isset($field['multiple']) && !$field['multiple']))) {
                                            $postValue = $block->escapeHtmlAttr($block->getPostValue($keyField));
                                            $loadValue = $block->escapeHtmlAttr($helper->getLoadValue($block->getData('entity'), $keyField, -1, -1, $isLoad));
                                            if ($loadValue == '' && $model !== null) {
                                                $loadValue = $block->getDataValue($model, $keyField);
                                            }
                                        } else if ($inputType != 'table' && isset($field['multiple']) && $field['multiple']) {
                                            $postValue = $block->escapeHtmlAttr($block->getPostValue($keyField, 0));
                                            //$loadValue = $block->escapeHtmlAttr($helper->getLoadValue($block->getData('entity'), $keyField, -1, -1, $isLoad));
                                            $jsonValue = $model !== null && $model->getData($keyField) ? json_decode($model->getData($keyField), true) : false;
                                            $rowsCount = isset($jsonValue['data']) ? count($jsonValue['data']) : 1;
                                            if ($rowsCount < 1) {
                                                $rowsCount = 1;
                                            }
                                        }
                                    }
                                    ?>

                                    <div class="field <?= $keyField ?>">
                                        <?php switch ($inputType):
                                            case 'label': ?>
                                                <label class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <?php break;
                                            case 'pharagraph': ?>
                                                <p class="pharagraph <?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?>"><?= $block->escapeHtml($textValue) ?></p>
                                                <?php break;
                                            case 'span': ?>
                                                <span
                                                    class="span <?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?>"><?= $block->escapeHtml($textValue) ?></span>
                                                <?php break;
                                            case 'button': ?>
                                                <?php $buttonType = isset($field['buttonType']) ? $field['buttonType'] : 'secundary'; ?>
                                                <div class="div-<?= $keyField ?>">
                                                    <?php if ($buttonType == 'primary'): ?>
                                                        <a href="<?= $action ?>" class="link-<?= $keyField ?>">
                                                            <button
                                                                class="action primary <?= $block->escapeHtmlAttr($fieldClass) ?>"
                                                                type="button">
                                                                <span class="span1-<?= $keyField ?>">
                                                                    <span class="span2-<?= $keyField ?>">
                                                                        <?= $block->escapeHtml(__($label)) ?>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    <?php elseif ($buttonType == 'secundary'): ?>
                                                        <a href="<?= $action ?>" class="link-<?= $keyField ?>">
                                                            <button
                                                                class="action secundary <?= $block->escapeHtmlAttr($fieldClass) ?>"
                                                                type="button">
                                                                <span class="span1-<?= $keyField ?>">
                                                                    <span class="span2-<?= $keyField ?>">
                                                                        <?= $block->escapeHtml(__($label)) ?>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    <?php elseif ($buttonType == 'draft'): ?>
                                                        <a href="<?= $action ?>" class="link-<?= $keyField ?>">
                                                            <button
                                                                class="action draft <?= $block->escapeHtmlAttr($fieldClass) ?>"
                                                                type="submit" name="draft" value="draft">
                                                                <span class="span1-<?= $keyField ?>">
                                                                    <span class="span2-<?= $keyField ?>">
                                                                        <?= $block->escapeHtml(__($label)) ?>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    <?php elseif ($buttonType == 'submit'): ?>
                                                        <a href="<?= $action ?>" class="link-<?= $keyField ?>">
                                                            <button
                                                                class="action primary <?= $block->escapeHtmlAttr($fieldClass) ?>"
                                                                type="submit">
                                                                <span class="span1-<?= $keyField ?>">
                                                                    <span class="span2-<?= $keyField ?>">
                                                                        <?= $block->escapeHtml(__($label)) ?>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    <?php elseif ($buttonType == 'addLink'): ?>
                                                        <a href="<?= $action ?>"
                                                           class="addLink <?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?>">
                                                            <span class="span1-<?= $keyField ?>">
                                                                <span class="span2-<?= $keyField ?>">
                                                                    <?= $block->escapeHtml(__($label)) ?>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    <?php else: ?>
                                                        <a href="<?= $action ?>"
                                                           class="<?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?>">
                                                            <span class="span1-<?= $keyField ?>">
                                                                <span class="span2-<?= $keyField ?>">
                                                                    <?= $block->escapeHtml(__($label)) ?>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <?php break;
                                            case 'text': ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="text"
                                                        id="<?= $id ?>"
                                                        name="<?= $name ?>"
                                                        title="<?= $block->escapeHtmlAttr($label) ?>"
                                                        class="input-text <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $format . ' ' . $group) ?>"
                                                        placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                        value="<?= $postValue ? $postValue : $loadValue ?>"
                                                        <?= $readOnly ?>
                                                        <?= $maxlength ?>
                                                    />
                                                </div>
                                                <?php break;
                                            case 'textmask': ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="text"
                                                        id="<?= $id ?>"
                                                        name="<?= $name ?>"
                                                        title="<?= $block->escapeHtmlAttr($label) ?>"
                                                        class="input-text <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $format . ' ' . $group) ?>"
                                                        placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                        value="<?= $postValue ? $postValue : $loadValue ?>"
                                                        <?= $readOnly ?>
                                                    />
                                                    <script type="text/x-magento-init">
                                                        {
                                                            "*": {
                                                                "Formax_CreateFormAttributes/js/input-mask": {
                                                                    "input": "<?= $id ?>",
                                                                    "settings": <?= json_encode($inputMaskSettings) ?>,
                                                                    "formId": "<?= $block->getData('entity') ?>"
                                                                }
                                                            }
                                                        }






                                                    </script>
                                                </div>

                                                <?php break;
                                            case 'hidden': ?>
                                                <input
                                                    type="hidden"
                                                    id="<?= $id ?>"
                                                    name="<?= $name ?>"
                                                    value="<?= $postValue ? $postValue : $loadValue ?>"
                                                    class="<?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $group) ?>"
                                                />
                                                <?php break;
                                            case 'textarea': ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <?php
                                                $rowsCount = $jsonValue !== null && $keyField == 'minimum_offer_required' ? 1 : $rowsCount;
                                                ?>
                                                <?php for ($w = 0; $w < $rowsCount; $w++): ?>
                                                    <?php if ($loadValue === '' && $jsonValue !== null): ?>
                                                        <?php $loadValue = isset($jsonValue['data']) ? $block->getDataValue($model, $keyField, $w) : ''; ?>
                                                    <?php endif; ?>
                                                    <div class="control">
                                                        <textarea
                                                            id="<?= $id ?>"
                                                            name="<?= $name ?>"
                                                            class="input-text <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $format . ' ' . $group) ?>"
                                                            placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                            cols="5" rows="3"
                                                            <?= $readOnly ?>
                                                        ><?= $postValue ? $postValue : $loadValue ?></textarea>
                                                        <?php if ($rowsCount > 1 && $w > 0): ?>
                                                            <a href="#"
                                                               class="remove-minimum_offer_required"><?= __('Eliminar') ?></a>
                                                        <?php endif; ?>
                                                    </div>
                                                    <?php $loadValue = ''; ?>
                                                <?php endfor; ?>
                                                <?php break;
                                            case 'select': ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <select name="<?= $name ?>" id="<?= $id ?>"
                                                            class="select <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $group) ?>">
                                                        <?php if (!isset($field['validationRule']['required']) ||
                                                            (isset($field['validationRule']['required']) && !$field['validationRule']['required'])): ?>
                                                            <option
                                                                value=""><?= __('Selecccione una opción') ?></option>
                                                        <?php endif; ?>
                                                        <?php if (isset($field['options']) && $field['options']): ?>
                                                            <?php $defultValue = isset($field['optionDefault']) && $field['optionDefault'] ? $field['optionDefault'] : ''; ?>
                                                            <?php $selectedValue = $postValue ? $postValue : ($loadValue = $loadValue ? $loadValue : $defultValue); ?>

                                                            <?php foreach ($block->getOptions($field['options']) as $optionValue) : ?>
                                                                <?php if ($selectedValue == $optionValue['value']): ?>
                                                                    <option
                                                                        value="<?= $block->escapeHtmlAttr($optionValue['value']) ?>"
                                                                        selected><?= $optionValue['label'] ?></option>
                                                                <?php else: ?>
                                                                    <option
                                                                        value="<?= $block->escapeHtmlAttr($optionValue['value']) ?>"><?= $optionValue['label']->getText() ?></option>
                                                                <?php endif; ?>
                                                            <?php endforeach; ?>
                                                        <?php endif; ?>
                                                    </select>
                                                </div>
                                                <?php break;
                                            case 'table': ?>
                                                <div class="control">
                                                    <?php if (isset($field['options']) && $field['options']): ?>
                                                        <?php $tableButtonType = isset($field['buttonType']) ? $field['buttonType'] : 'none'; ?>
                                                        <?php $buttonForm = $tableButtonType == 'addLink' ? __('+ Agregar otro') : '+'; ?>
                                                        <?php

                                                        $table = $block->getOptions($field['options']);
                                                        if ($keyFieldset == 'teamwork_fields'){
                                                            //$table = array_diff($table['rows'][0],[1,2]);
                                                            unset($table['rows'][0][1],$table['rows'][0][2]);
                                                            unset($table['headers'][1],$table['headers'][2]);
                                                        }
                                                        ?>
                                                        <?php if (isset($table['headers']) && is_array($table['headers'])
                                                            && isset($table['rows']) && is_array($table['rows']) && count($table['headers']) > 0): ?>
                                                            <?php $jsonValue = $model !== null && $model->getData($keyField) ? json_decode($model->getData($keyField), true) : false; ?>
                                                            <?php $rowsCount = isset($jsonValue['data']) ? $block->getRowsCount($jsonValue['data']) : 0 ?>
                                                            <?php $rowsCount = $jsonValue !== null && $keyField == 'deliverable_services' ? 1 : $rowsCount; ?>
                                                            <?php $rowObject = new ArrayObject($table['rows']); ?>
                                                            <?php if ($rowsCount > count($table['rows'])): ?>
                                                                <?php for ($w = 0; $w < $rowsCount - 1; $w++): ?>
                                                                    <?php $rowObject[] = $table['rows'][0]; ?>
                                                                <?php endfor; ?>
                                                            <?php endif; ?>
                                                            <?php $tableRows = $rowsCount > count($table['rows']) ? $rowObject : $table['rows']; ?>

                                                            <table
                                                                class="table <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass) ?>">
                                                                <thead>
                                                                <tr>
                                                                    <?php foreach ($table['headers'] as $header): ?>
                                                                        <th><?= $header->getText() ?></th>
                                                                    <?php endforeach; ?>
                                                                    <?php if ($tableButtonType != 'none'): ?>
                                                                        <th>&nbsp;</th>
                                                                    <?php endif; ?>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <?php $j = 0; ?>
                                                                <?php foreach ($tableRows as $rows): ?>

                                                                    <tr>
                                                                        <?php foreach ($rows as $keyRowValue => $row): ?>

                                                                            <?php if (isset($row['value']) && $row['value']): ?>
                                                                                <?php $tableValue = $row['value']; ?>
                                                                                <?php $postValue = $block->escapeHtmlAttr($block->getPostValue($keyField, $j, $tableValue)); ?>
                                                                                <?php $loadValue = $block->escapeHtmlAttr($helper->getLoadValue($block->getData('entity'), $keyField, $tableValue, $j, $isLoad)); ?>
                                                                                <?php $tableInputType = isset($row['inputFront']) ? $row['inputFront'] : 'text'; ?>
                                                                                <?php $tableInputClass = isset($row['class']) ? $row['class'] : ''; ?>
                                                                                <?php $tableNote = isset($row['note']) ? '<span class="note">' . $row['note'] . '</span>' : ''; ?>
                                                                                <?php $tableMultipleFiles = isset($row['multipleFiles']) && $row['multipleFiles'] ? 'multiple' : ''; ?>
                                                                                <?php $tableLabel = isset($row['label']) ? '<label class="label"><span>' . $row['label']->getText() . '</span></label>' : ''; ?>
                                                                                <?php $tablePlaceholder = isset($row['placeholder']) && $row['placeholder'] ? 'placeholder="' . $row['placeholder'] . '"' : ''; ?>
                                                                                <?php if ($loadValue == ''): ?>
                                                                                    <?php $loadValue = $block->getDataValue($model, $keyField, $tableValue, $j); ?>
                                                                                <?php endif; ?>
                                                                                <td>
                                                                                    <?php switch ($tableInputType):
                                                                                        case 'pharagraph': ?>
                                                                                            <?= $tableLabel ?>
                                                                                            <p id="<?= $tableValue . '_' . $j ?>"
                                                                                               class="pharagraph-text <?= $tableValue . ' ' . $tableInputClass ?>"><?= $row['pharagraph']; ?></p>
                                                                                            <?php break;
                                                                                        case 'file': ?>
                                                                                            <?php $loadValue = $block->escapeHtmlAttr($helper->getLoadValue($block->getData('entity'), $keyField, $tableValue, $j, $isLoad));
                                                                                            ?>
                                                                                            <?php if ($loadValue && !is_array($loadValue)): ?>
                                                                                                <div
                                                                                                    class="field engagement_scope">
                                                                                                    <span
                                                                                                        class="file_box">
                                                                                                        <a href="/pub/media/chilecompra/files/formattributes<?= $loadValue; ?>"
                                                                                                           download><?= $loadValue; ?></a>
                                                                                                    </span>
                                                                                                    <span
                                                                                                        class="remove"
                                                                                                        style="display: none;">
                                                                                                        <input
                                                                                                            type="checkbox"
                                                                                                            id="__remove__offer_document"
                                                                                                            name="__remove__offer_document"
                                                                                                            class="checkbox __remove__ __remove__offer_document"
                                                                                                            value="">
                                                                                                        <label
                                                                                                            for="__remove__offer_document"
                                                                                                            class="label __remove__">
                                                                                                            <span><?= __('Delete file') ?></span>
                                                                                                        </label>
                                                                                                    </span>
                                                                                                </div>
                                                                                            <?php endif; ?>
                                                                                            <div
                                                                                                class="pending-files-area single-file"
                                                                                                style="display: none;">
                                                                                                <span
                                                                                                    class="pending-files"></span>
                                                                                                <span class="remove"
                                                                                                      style="display: none;">
                                                                                                        <input
                                                                                                            type="checkbox"
                                                                                                            id="__remove__pending-file"
                                                                                                            name="remove_pending_file"
                                                                                                            class="checkbox __remove__ __remove__pending-files"
                                                                                                            value="1"
                                                                                                            rel="<?= $tableValue . '_' . $j ?>"
                                                                                                        />
                                                                                                        <label
                                                                                                            for="remove_pending_file"
                                                                                                            class="label __remove__">
                                                                                                            <span><?= $block->escapeHtml(__('Delete File')) ?></span>
                                                                                                        </label>
                                                                                                    </span>
                                                                                            </div>
                                                                                            <div class="control">
                                                                                                <input
                                                                                                    type="file"
                                                                                                    id="<?= $tableValue . '_' . $j ?>"
                                                                                                    name="<?= $keyField . '[' . $tableValue . '][]' ?>"
                                                                                                    class="inputfile inputfile-quote <?= $tableValue . ' ' . $tableInputClass ?>"
                                                                                                    <?= $tableMultipleFiles ?>
                                                                                                />
                                                                                                <label
                                                                                                    for="<?= $tableValue . '_' . $j ?>">
                                                                                                    <strong><?= __('Upload file') ?></strong>
                                                                                                </label>
                                                                                            </div>
                                                                                            <?php break;
                                                                                        case 'text': ?>
                                                                                            <?= $tableLabel ?>
                                                                                            <input type="text"
                                                                                                   id="<?= $tableValue . '_' . $j ?>"
                                                                                                   value="<?= $postValue ? $postValue : $loadValue ?>"
                                                                                                   name="<?= $keyField . '[' . $j . '][' . $tableValue . ']' ?>"
                                                                                                   class="input-text <?= $tableValue . ' ' . $format . ' ' . $tableInputClass ?>" <?= $tablePlaceholder ?> />
                                                                                            <?php break;

                                                                                        case 'label': ?>
                                                                                            <?= $tableLabel ?>
                                                                                            <?php if ($tableLabel): ?>
                                                                                                <input type="hidden"
                                                                                                       value="<?= $row['label']->getText() ?>"
                                                                                                       id="<?= $tableValue . '_' . $j ?>"
                                                                                                       name="<?= $keyField . '[' . $tableValue . '][]' ?>"
                                                                                                       class="<?= $tableValue ?>"/>
                                                                                            <?php endif; ?>
                                                                                            <?php break;
                                                                                        case 'textarea': ?>
                                                                                            <?= $tableLabel ?>
                                                                                            <textarea
                                                                                                id="<?= $tableValue . '_' . $j ?>"
                                                                                                value="<?= $postValue ? $postValue : $loadValue ?>"
                                                                                                name="<?= $keyField . '[' . $tableValue . '][]' ?>"
                                                                                                class="input-text <?= $tableValue . ' ' . $format . ' ' . $tableInputClass ?>" <?= $tablePlaceholder ?>><?= $postValue ? $postValue : $loadValue ?></textarea>
                                                                                            <?php break;
                                                                                        default: ?>
                                                                                            <?= $tableLabel ?>
                                                                                            <input type="text"
                                                                                                   id="<?= $tableValue . '_' . $j ?>"
                                                                                                   value="<?= $postValue ? $postValue : $loadValue ?>"
                                                                                                   name="<?= $keyField . '[' . $tableValue . '][]' ?>"
                                                                                                   class="input-text <?= $tableValue . ' ' . $format . ' ' . $tableInputClass ?>" <?= $tablePlaceholder ?> />
                                                                                        <?php endswitch; ?>
                                                                                    <?= $tableNote ?>
                                                                                </td>
                                                                            <?php endif; ?>

                                                                        <?php endforeach; ?>

                                                                        <?php if ($tableButtonType != 'none' && $tableButtonType != 'addLink' && $j == 0): ?>
                                                                            <td>
                                                                                <a href="#"
                                                                                   class="<?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?> <?= $keyField == 'deliverable_services' ? "quote_multi_array_option" : "" ?>">
                                                                                        <span
                                                                                            class="span1-<?= $keyField ?>">
                                                                                            <span
                                                                                                class="span2-<?= $keyField ?>">
                                                                                                <?= $block->escapeHtml($buttonForm) ?>
                                                                                            </span>
                                                                                        </span>
                                                                                </a>
                                                                            </td>
                                                                        <?php endif; ?>
                                                                        <?php if ($tableButtonType != 'none' && $tableButtonType != 'addLink' && $j > 0): ?>
                                                                            <td>
                                                                                <a href="#"
                                                                                   class="remove-deliverable_services"><?= __('Eliminar') ?></a>
                                                                            </td>
                                                                        <?php endif; ?>


                                                                    </tr>
                                                                    <?php $j++; ?>
                                                                <?php endforeach; ?>
                                                                </tbody>
                                                            </table>
                                                            <?php if ($tableButtonType == 'addLink'): ?>
                                                                <a class="addLink <?= $keyField . ' ' . $block->escapeHtmlAttr($fieldClass) ?>">
                                                                        <span class="span1-<?= $keyField ?>">
                                                                            <span class="span2-<?= $keyField ?>">
                                                                                <?= $block->escapeHtml($buttonForm) ?>
                                                                            </span>
                                                                        </span>
                                                                </a>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                                <?php break;
                                            case 'file':
                                                $isLoad = isset($field['load']) && $field['load'] ? $field['load'] : false;
                                                $loadValue = $helper->getLoadValue($block->getData('entity'), $keyField, -1, -1, $isLoad);
                                                ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="file"
                                                        id="<?= $id ?>"
                                                        name="<?= $name ?>"
                                                        class="inputfile inputfile-quote <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $group) ?>"
                                                        placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                        <?= $multipleFiles ?>
                                                    />
                                                    <label for="<?= $id ?>">
                                                        <strong><?= __('Upload file') ?></strong>
                                                    </label>
                                                </div>
                                                <?php if ($loadValue): ?>
                                                <?php $files = $helperSoftware->getFilesPath($loadValue); ?>
                                                <div class="uploaded-files-area field <?= '__files__' . $id ?>">
                                                    <h4>
                                                        <span
                                                            class="name"><?= $block->escapeHtml(__('Uploaded Files')) ?></span>
                                                        <?php if (!$required): ?>
                                                            <?php $name = isset($field['multiple']) && $field['multiple'] ? $block->escapeHtmlAttr('__remove__' . $keyField . '[]') : $block->escapeHtmlAttr('__remove__' . $keyField); ?>
                                                            <span class="remove">
                                                                        <input
                                                                            type="checkbox"
                                                                            id="<?= '__remove__' . $id ?>"
                                                                            name="<?= $name ?>"
                                                                            class="checkbox __remove__ <?= $block->escapeHtmlAttr('__remove__' . $keyField) ?>"
                                                                            value="1"
                                                                        />
                                                                        <label for="<?= '__remove__' . $id ?>"
                                                                               class="label __remove__">
                                                                            <span><?= $block->escapeHtml(__('Delete File')) ?></span>
                                                                        </label>
                                                                    </span>
                                                        <?php endif; ?>
                                                    </h4>
                                                    <?php if ($files): ?>
                                                        <div class="field container-files">
                                                            <?php foreach ($files as $file): ?>
                                                                <div class="field file" rel="<?= $file['name'] ?>">
                                                                    <div class="download-file">
                                                                        <a href="<?= $file['url'] ?>"
                                                                           target="_blank">
                                                                            <span><?= $file['name'] ?></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            <?php endforeach; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                                <div class="pending-files-area" style="display: none;">
                                                    <h4>
                                                        <span
                                                            class="name"><?= $block->escapeHtml(__('Pending Files')) ?></span>
                                                        <span class="remove" style="display: none;">
                                                            <input
                                                                type="checkbox"
                                                                id="__remove__pending-files"
                                                                name="remove_pending_files"
                                                                class="checkbox __remove__ __remove__pending-files"
                                                                value="1"
                                                            />
                                                            <label for="remove_pending_files" class="label __remove__">
                                                                <span><?= $block->escapeHtml(__('Delete File')) ?></span>
                                                            </label>
                                                        </span>
                                                    </h4>
                                                    <div class="field error"
                                                         style="color: red; display: none;"><?= $block->escapeHtml(__('One file in pending is already uploaded.')) ?></div>
                                                    <div class="field pending-files"></div>
                                                </div>
                                                <?php break;
                                            case 'checkbox': ?>
                                                <?php $checked = isset($field['checked']) && $field['checked'] ? ' checked' : '' ?>
                                                <div class="control">
                                                    <input
                                                        type="checkbox"
                                                        id="<?= $id ?>"
                                                        name="<?= $name ?>"
                                                        class="checkbox <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $group) ?>"
                                                        value="1"
                                                        <?= $checked ?>
                                                    />
                                                    <label for="<?= $id ?>" class="label">
                                                        <span><?= $block->escapeHtml(__($label)) ?></span>
                                                    </label>
                                                </div>
                                                <?php break;
                                            case 'radiobox': ?>
                                                <?php if (isset($field['options']) && $field['options']): ?>
                                                    <label for="<?= $id ?>" class="label">
                                                        <span><?= $block->escapeHtml(__($label)) ?></span>
                                                    </label>
                                                    <?php foreach ($block->getOptions($field['options']) as $optionValue) : ?>

                                                        <?php if ($postValue == $optionValue['value']): ?>
                                                            <?php $checked = ' checked'; ?>
                                                        <?php elseif ($loadValue == $optionValue['value']): ?>
                                                            <?php $checked = ' checked'; ?>
                                                        <?php elseif (isset($field['optionDefault']) && $field['optionDefault'] == $optionValue['value']): ?>
                                                            <?php $checked = ' checked'; ?>
                                                        <?php else: ?>
                                                            <?php $checked = ''; ?>
                                                        <?php endif; ?>

                                                        <div class="control">
                                                            <input
                                                                type="radio"
                                                                id="<?= $keyField . '_' . $optionValue['value'] ?>"
                                                                name="<?= $name ?>"
                                                                class="radiobox <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $group) ?>"
                                                                value="<?= $optionValue['value'] ?>"
                                                                <?= $checked ?>
                                                            />
                                                            <label
                                                                for="<?= $keyField . '_' . $optionValue['value'] ?>"
                                                                class="label">
                                                                <span><?= $block->escapeHtml(__($optionValue['label'])) ?></span>
                                                            </label>
                                                        </div>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                                <?php break;
                                            case 'date': ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <?php
                                                    $dateInitEvaluation = "";
                                                    if ($postValue || $loadValue ) {
                                                        $dateInitEvaluation = $postValue ? $postValue : $loadValue;
                                                    }
                                                    ?>
                                                    <input
                                                        name="<?= $name ?>"
                                                        id="datepicker"
                                                        title="<?= $block->escapeHtmlAttr($label) ?>"
                                                        type="text"
                                                        class="input-text <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $format . ' ' . $group) ?>"
                                                        placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                        value="<?php echo  $dateInitEvaluation ? date("Y-m-d", strtotime($dateInitEvaluation)):""  ?>"
                                                    <?= $readOnly ?>
                                                    <!--                                                        --><?//= $postValue ? '' : 'disabled' ?>
                                                    <!--                                                    >-->
                                                    <!--                                                    id="-->
                                                    <?//= $id ?><!--"-->

                                                    <script type="text/x-magento-init">
                                                        {
                                                            "*": {
                                                                "Formax_Offer/js/getendbusinessdate": {
                                                                    "ajaxUrl": "<?php echo $this->getUrl('offerassignproduct/offer/getendbusinessdate'); ?>",
                                                                    "token": "<?= $token; ?>",
                                                                    "currentYear": "<?= $currentDate->format('Y'); ?>",
                                                                    "buttonImage": "<?= $helperOffer->getImageCalendar(); ?>",
                                                                    "minPublicationDays": <?= $createFormAttributesHelper->getMinValuePublication(); ?>,
                                                                    "dateFromForm":"2022-04-01"
                                                                }
                                                            }
                                                        }






                                                    </script>
                                                </div>
                                                <?php break;
                                            default: ?>
                                                <label for="<?= $id ?>" class="label">
                                                    <span><?= $block->escapeHtml(__($label)) ?></span>
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="text"
                                                        id="<?= $id ?>"
                                                        name="<?= $name ?>"
                                                        title="<?= $block->escapeHtmlAttr($label) ?>"
                                                        class="input-text <?= $block->escapeHtmlAttr($keyField . ' ' . $fieldClass . ' ' . $format . ' ' . $group) ?>"
                                                        placeholder="<?= $block->escapeHtmlAttr($placeholder) ?>"
                                                        value="<?= $postValue ? $postValue : $loadValue ?>"
                                                        <?= $readOnly ?>
                                                        <?= $maxlength ?>
                                                    />
                                                </div>
                                            <?php endswitch; ?>
                                        <?= $note ?>
                                        <?= $comment ?>
                                        <?php /* Logica carga de archivos*/ ?>
                                        <?php //if ($inputType == 'file' && $loadValue == ''): ?>
                                        <?php //$loadValue = $block->getDataValue($model, $keyField); ?>
                                        <!--<div class="wk_mp_design">
                                                <div class="filesUploaded">
                                                    <?php //$file = $block->getHelperSoftware()->getFilesPath($loadValue); ?>
                                                    <?php //if ($file): ?>
                                                        <div class="table-wrapper documents">
                                                            <table class="data-table table">
                                                                <tbody>
                                                                    <?php //foreach ($file as $it): ?>
                                                                        <tr>
                                                                            <td data-th="Nombre" class="seller-name">
                                                                                <span>
                                                                                    <a href="<?php //echo $it['url'] ?>" target="_blank" title="<?php //echo $it['name'] ?>">
                                                                                        <span><?php //echo $it['name'] ?></span>
                                                                                    </a>
                                                                                </span>
                                                                            </td>
                                                                            <td data-th="Action" class="col">
                                                                                <span class="nobr label wk_action">
                                                                                    <a href="#" title="<?php //echo __('Eliminar') ?>" class="action view">
                                                                                        <?php //echo __('Eliminar') ?>
                                                                                    </a>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    <?php //endforeach; ?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    <?php //endif; ?>
                                                </div>
                                            </div>-->
                                        <?php //endif; ?>
                                    </div>
                                    <?php $p++; ?>
                                    <!--                                    --><?php //endif; ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <?php $k++; ?>
        <?php endforeach; ?>
    </form>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "formattributes": {
          "fields": <?= $block->getSerializedFormFields() ?>
        }
    }
}






</script>


<script>
    require(['jquery'], function ($) {

        /**
         * La siguiente solución es un parche sobre lo ya realizado menos costosa en tiempo y lógica,
         * ya que el desarrollo no había considerado inputs dinámicos.
         * El script una vez que los campos en cuestión se hayan renderizados, se encagará de
         * setear los datos guardados en servidor o en el postdata en caso de que esté editando.
         */


        var loadInputsDeliverableServices = setInterval(function () {
            if (document.getElementsByClassName('quote_multi_array_option').length) {

                <?php
                $postValueArray = '';
                $postValueArray = $block->getPostValueMultiArray('deliverable_services');
                $jsonValueArray = $model !== null && $model->getData('deliverable_services') ? json_decode($model->getData('deliverable_services'), true) : false;
                $rowsCountArray = isset($jsonValueArray['data']) ? count($jsonValueArray['data']) : 1;
                if ($rowsCountArray < 1) {
                    $rowsCountArray = 1;
                }

                if ($postValueArray === '' && $rowsCountArray > 1) {
                    $postValueArray = $jsonValueArray['data'];
                };
                ?>

                <?php if($postValueArray):?>
                <?php foreach (array_slice($postValueArray, 1) as $key=> $post):?>

                var $row = $('table.deliverable_services > tbody > tr:last-child');
                var $input = $row.find('input[id^="service_name"]');
                var num = parseInt($input.prop("id").match(/\d+/g), 10) + 1;

                var $klon = $row.clone();
                $klon.find('input[id^="service_name"]').prop('id', 'service_name_' + num);
                $klon.find('input[id^="service_name_' + num + '"]').prop('name', 'deliverable_services[' + num + '][service_name]');
                $klon.find('input[id^="detail"]').prop('id', 'detail_' + num);
                $klon.find('input[id^="detail_' + num + '"]').prop('name', 'deliverable_services[' + num + '][detail]');
                $klon.find('input[id^="service_name"]').val("<?= $post['service_name']?>");
                $klon.find('input[id^="detail"]').val("<?= $post['detail']?>");
                $klon.find('td:last-child a.deliverable_services').remove();
                $klon.find('td:last-child').html('<a href="#" class="remove-deliverable_services">Eliminar</a>');

                $row.after($klon);

                <?php endforeach; ?>
                <?php endif;?>

                clearInterval(loadInputsDeliverableServices);
            }
        }, 1000);


        var loadInputsMinimumOffer = setInterval(function () {

            if (document.getElementsByClassName('minimum_offer_required').length) {

                <?php
                $postValueArray = '';
                $postValueArray = $block->getPostValueMultiArray('minimum_offer_required');
                $jsonValueArray = $model !== null && $model->getData('minimum_offer_required') ? json_decode($model->getData('minimum_offer_required'), true) : false;
                $rowsCountArray = isset($jsonValueArray['data']) ? count($jsonValueArray['data']) : 1;
                if ($rowsCountArray < 1) {
                    $rowsCountArray = 1;
                }

                if ($postValueArray === '' && $rowsCountArray > 1) {
                    $postValueArray = $jsonValueArray['data'];
                };


                ?>
                <?php if($postValueArray):?>

                var $row = $('div.minimum_offer_required > div.control:first-of-type');
                var $textarea = $row.find('textarea[id^="minimum_offer_required"]');
                var _count_name = $textarea.length;
                var $klon = $row.clone();
                $klon.append('<a href="#" class="remove-minimum_offer_required">Eliminar</a>');
                <?php foreach (array_slice($postValueArray, 1) as $key => $post):?>

                var _id = $textarea.prop("id").split("_");
                var num = parseInt(_id[_id.length - 1], 10) + 1;
                //  var $klon = $row.clone();

                var name = "";
                for (i = 0, len = _id.length; i < len; i++) {
                    name += i != len - 1 ? _id[i] + "_" : num;
                }

                $klon.find('textarea').prop('id', name);
                $klon.find('textarea[id=' + name + ']').val('<?=$post?>');
                $row.after($klon);


                $row = $('div.minimum_offer_required > div.control:last-of-type');
                $textarea = $row.find('textarea[id^="minimum_offer_required"]');
                $klon = $row.clone();
                <?php endforeach;?>

                <?php endif;?>
                clearInterval(loadInputsMinimumOffer);
            }
        }, 1000);


    });

</script>
