
@media (min-width: 768px) {
    .modals-wrapper .confirm-offer-modal.modal-popup .modal-inner-wrap {
        width: 950px;
    }

    .confirm-offer-modal.modal-popup .modal-footer button {
        border-radius: 30px;
        padding: 10px;
    }
}