<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<?php
$helperLogout = $this->helper('Formax\SellerLogout\Helper\Data');
$urlMP = $helperLogout->getLogoutUrl();
?>
<li class="link-mercado-publico">
    <a href="<?php echo $urlMP ?>"><?php echo __("Volver a Mercado Público"); ?></a>
</li>
