<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helperRegional = $this->helper('Formax\RegionalCondition\Helper\Data');
$partner=$block->getProfileDetail();
if ($partner['shop_url']) {
    if ($helper->getActiveColorPicker()) { ?>
        <style>
            .page-main{
                background-image:none;
                background-color:<?php echo $block->escapeHtml($partner['background_width']);?>;
            }
        </style>
    <?php } ?>
    <div class="wk_mp_design">
        <?php echo $block->getChildHtml("marketplace_seller_top_block")?>
        <div class="wk-mp-collection-container">
            <div class="wk-mp-profile-block" id="stamps-block">
              <div class="wk-mp-aboutus-title">
                  <?php echo __('About the provider');?>
              </div>
              <div class="wk-mp-aboutus-data seller-profile-stamps">
                  <span><?php echo __('Stamps') ?></span>
                <?php
                  if($stampsBlock = $block->getChildBlock('cc.stamps.block')):
                    $stampsBlock->setSellerId($partner->getSellerId());
                    echo $block->getChildHtml('cc.stamps.block');
                  endif;
                ?>
              </div>
            </div>
            <div class="wk-mp-profile-block wk-mp-custom-regional" id="commercial-conditions">
                <div class="wk-mp-aboutus-title">
                    <?php echo __("Commercial Conditions")?>
                </div>
                <div class="wk-mp-aboutus-data">
                    <?php echo $block->getChildHtml("marketplace_commercial_conditions")?>
                </div>
            </div>
            <div class="wk-mp-custom-regional">
                <?php
                    $matrix = $helperRegional->getMatrixbySeller($partner->getSellerId());
                    $weight = $helperRegional->getWeight();
                    $regional = $helperRegional->getRegionalConditionFormated($partner->getSellerId());
                    if ($regional || $matrix):
                ?>
                    <div class="wk-mp-profile-block" id="about-us">
                        <div class="wk-mp-aboutus-title">
                            <?php echo __("Regional Conditions")?>
                        </div>
                        <div class="wk-mp-aboutus-data">
                            <?php if ($matrix): ?>
                                <div class="box-regional-matrix">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <?php foreach ($matrix as $title => $info): ?>
                                                <th><?= $title; ?></th>
                                            <?php endforeach; ?>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($weight as $w) :?>
                                            <tr>
                                                <td><?= $w->getDimensionLabel(); ?></td>
                                                <?php foreach ($matrix as $title => $info) :?>
                                                    <?php if (isset($info[$w->getDimensionLabel()])) :?>
                                                        <td><?= $info[$w->getDimensionLabel()] ?></td>
                                                    <?php else :?>
                                                        <td></td>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                            </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                                </div>
                            <?php endif; ?>
                            <?php if ($regional): ?>
                                <div class="box-regional-info" id="box-content-regional">
                                    <div class="regional-message">
                                        <?= __("Remember that all providers offer national coverage, and the shipping price is included in the published price.");?>
                                    </div>
                                    <table class="admin__table-secondary order-information-table regional-table">
                                        <tbody>
                                        <tr>
                                            <th class="no-table-style">&nbsp;</th>
                                            <th><?= __('Contact Name') ?></th>
                                            <th><?= __('Contact Phone') ?></th>
                                            <th><?= __('Contact Email') ?></th>
                                            <?php if ($helperRegional->getWebsiteCode() == 'combustibles202110'): ?>
                                            <th><?= __('Puntaje Regional') ?></th>
                                            <?php endif; ?>
                                        </tr>
                                    <?php foreach ($regional as $region): ?>
                                        <tr>
                                            <td class="font-bold"><?= $region['region_name']; ?></td>
                                            <td><?= $region['contact_name']; ?></td>
                                            <td><?= $region['contact_phone']; ?></td>
                                            <td><?= $region['contact_email']; ?></td>
                                            <?php if ($helperRegional->getWebsiteCode() == 'combustibles202110'): ?>
                                            <td><?= $region['regional_percentage']; ?></td>
                                            <?php endif; ?>
                                        </tr>
                                    <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php }  ?>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $("#box-content-regional").accordion();
    });
</script>
