<div style="display:none;">
    <div id="product-region-restriction-invalid-address">
        <!-- ko i18n: 'Antes de continuar, asegúrate de que la región de despacho sea la misma región de la ficha, de lo contrario no se podrá hacer efectiva la compra.' --><!-- /ko -->
    </div>
    <div id="product-region-restriction-mixed">
        <!-- ko i18n: 'Antes de continuar, asegúrate de que la región de despacho sea la misma en todos los productos, de lo contrario no se podrá hacer efectiva la compra.' --><!-- /ko -->
    </div>
</div>
