<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner = $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner): ?>
    <li id="wk-mp-menu-penalty-list" class="nav item notification-link wk-mp-item-customer level-0 <?php echo strpos($magentoCurrentUrl, 'penalty/index/index')? "current":"";?>">
        <a href="<?php echo $block->getUrl('penalty/index/index', ['_secure' => $this->getRequest()->isSecure()]); ?>">
            <?php /* @escapeNotVerified */ echo __('Penalties') ?>
        </a>
    </li>
<?php endif; ?>