<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helperOrders = $this->helper('Webkul\Marketplace\Helper\Orders');
$isLoggedIn = $helper->isCustomerLoggedIn();
$partner = $block->getProfileDetail();
$seller = $helper->getSellerDataBySellerId($partner->getSellerId())->getFirstItem();
$rutId = $seller->getData('wkv_dccp_rut');
$customerBlock = $this->getLayout()->createBlock('Summa\CustomerData\Block\CustomerData');

if ($partner['shop_url'])
{
    $bannerpic = $partner->getBannerPic()!=''?$partner->getBannerPic():"banner-image.png?v=19nov";
    $bannerpic = $helper->getMediaUrl().'avatar/'.$bannerpic;
    
    $logo = $partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
    $logo = $helper->getMediaUrl().'avatar/'.$logo;

    $sizeArr = $helper->getImageSize($logo);
    if (!empty($sizeArr) && !empty($sizeArr['width']) && !empty($sizeArr['height'])) {
        $width = $sizeArr['width'];
        $height = $sizeArr['height'];
        $calculatedHeight = 120;
        $calculatedWidth = ($width / $height) * $calculatedHeight;
        $calculatedPercent = ($width / $height) * 2.5;
        if ($calculatedHeight) { ?>
            <style>
                .wk-mp-collection-seller-title-container {
                    padding-left: calc(<?php echo $calculatedPercent ?>% + <?php echo $calculatedWidth ?>px);
                }
            </style>
            <?php
        }
    }

    $shopUrl = $block->escapeHtml($partner['shop_url']);
    $shopTitle = $block->escapeHtml($partner->getShopTitle());
    if (!$shopTitle) {
        $shopTitle = $shopUrl;
    }
    $sellerId = $partner->getSellerId();
    $locsearch = $block->escapeHtml($partner['company_locality']);
    $sellerProductCount = $helper->getSellerProCount($sellerId);


    if (!$isLoggedIn || ($isLoggedIn && !$customerBlock->shouldDisplayData()))
    {
        if($customerBlock->isModuleEnable()){
            $alias = $customerBlock->getSellerAlias($sellerId);

            if ($alias){
                $shopTitle = 'Proveedor N&deg; '.$alias;
            } else {
                $shopTitle = 'Proveedor Oculto';
            }
        }
    }

    if (!$isLoggedIn)
    {
        $showRut = $customerBlock->isModuleEnable() ? false : true;
    } else {
        $showRut = $customerBlock->shouldDisplayData() ? true : false;
    }

    if($helper->getActiveColorPicker()){?> 
        <style>
            .marketplace-seller-collection .wk-mp-collection-product-count-container,
            .marketplace-seller-profile .wk-mp-collection-product-count-container,
            .marketplace-seller-feedback .wk-mp-collection-rating-count-container {
                border-bottom-color: <?php echo $block->escapeHtml($partner['background_width']);?>;
            }
        </style>
    <?php
    } ?>
    <div class="wk-mp-banner">
        <?php if ($helper->isSellerSliderModuleInstalled()) {
            echo $block->getChildHtml("marketplace_seller_slider_block");
        } ?>
        <img class="wk-mp-banner-image" src="<?php echo $bannerpic; ?>">    
    </div>
    <div class="wk-mp-collection-header-box">
        <div class="wk-mp-collection-seller-title-container">
            <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>" >
                <img class="wk-mp-collection-logo" src="<?php echo $logo;?>" />
            </a>
            <span class="wk-mp-collection-seller-title wk-mp-collection-header-css">
                <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>">
                    <?php echo $shopTitle?>
                </a>
                <?php if(isset($rutId) && $showRut):?>
                    <strong>RUT: <?=$rutId;?></strong>
                <?php endif;?>
            </span>
            <?php if ($locsearch) { ?>
                <div class="wk-mp-collection-seller-title wk-mp-collection-header-bottom">
                    <a title="<?php echo __('Search') ?>" href="<?php echo  $helper->getRewriteUrl('marketplace/seller/location/shop/'.$shopUrl)."?loc=".$locsearch?>" target="_blank">
                        <span class="wk-mp-collection-location wk-mp-collection-header-bottom-txt">
                            <?php echo __($locsearch); ?>
                        </span>
                    </a>
                </div>
            <?php } ?>
        </div>
    </div>
<?php }  ?>
