<?php
	$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
	$helperOffer = $this->helper('Formax\Offer\Helper\Data');
	$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
    $customerData = $this->helper('Webkul\Marketplace\Helper\Data')->getCustomerData();
	$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
	$imagehelper = $this->helper('Magento\Catalog\Helper\Image');
	$assignId = $helper->getProductId();
	$assignData = $helperOffer->getAssignOfferProducts($assignId);
	$nextDate = $helperOffer->getNextDay();
	$minDay = $helperOffer->showMinimumDayOffer();
	$maxDay = $helperOffer->showMaximumDayOffer();
	$classRange = 'digits-range-' . $minDay . '-' . $maxDay;
	$attributes = [];
	$options = [];
    $product = [];
	if ($assignData !== null) {
		$product = $helper->getProduct($assignData->getProductId());
		$productType = $product->getTypeId();
		$productId = $product->getId();
        $currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
        $currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
		$imageType = 'category_page_list';
		$productImage = $imagehelper->init($product, $imageType)
									->constrainOnly(FALSE)
									->keepAspectRatio(TRUE)
									->keepFrame(FALSE)
									->resize(300)
									->getUrl();
		
		if ($productType == 'configurable') {
			$_attributes = $product->getTypeInstance(true)
									->getConfigurableAttributesAsArray($product);
			foreach ($_attributes as $_attribute) {
				$attributes[$_attribute['attribute_code']] = $_attribute['store_label'];
				foreach ($_attribute['options'] as $option) {
					$options[$_attribute['attribute_code']][$option['value']] = $option['label'];
				}
			}
		}
	}
?>

<?php if ($assignData !== null) :?>
	<?php if ($isPartner == 1) : ?>
		<fieldset class="fieldset wk-ap-fieldset">
			<div class="wk-ap-product-view">
				<div class="wk-ap-product-img"><img src="<?= $productImage; ?>" /></div>
				<div class="wk-ap-product-description">
					<div class="wk-ap-main-product-name"><a href="<?= $product->getProductUrl();?>"><?= $product->getName(); ?></a></div>
				</div>
			</div>
		</fieldset>
		<form method="post" action="<?= $this->getUrl('offerassignproduct/offer/save'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
			<input type="hidden" name="form_key" value="<?= $this->getFormKey(); ?>">
			<input type="hidden" name="parent_product_id" value="<?= $productId; ?>">
			<input type="hidden" name="assign_id" value="<?= $assignId; ?>">
			<input type="hidden" name="product_type" value="<?= $productType; ?>">
			<fieldset class="fieldset">
				<?= $this->getFormKeyBlockHtml(); ?>
				<legend class="legend">
					<span><?= __('Assign Offer'); ?></span>
				</legend>
				<?php if ($productType != 'configurable'): ?>
					<input type="hidden" name="product_id" value="<?= $productId; ?>">
					<input type="hidden" name="offer_id" value="<?= (int)$assignData->getOfferId(); ?>">
					<input name="origin_special_price" type="hidden" value="<?= (float)$assignData->getSpecialPrice(); ?>">
					<input name="origin_start_date" type="hidden" value="<?= $assignData->getStartDate(); ?>">
					<input name="origin_days" type="hidden" value="<?= (int)$assignData->getDays(); ?>">

					<?php
                        $offerActive = $helperOffer->datesAreCurrent($assignData->getStartDate(), $assignData->getEndDate());
                        // MPMT-38: It was getting the price instead of the base_price that is the price - shipping_price.
                        $basePrice = $offerActive !== 1 ? $assignData->getPrice() - $assignData->getShippingPrice() : $assignData->getNewBasePrice();
                        $specialPrice = $offerActive !== 0 ? $assignData->getSpecialPrice() : '';
					?>
					
					<?php if ($offerActive !== 0) :?>
						<?php $startDate = $helperOffer->getPostValue('start_date') ? $helperOffer->getPostValue('start_date') : $assignData->getStartDate(); ?>
						<?php $endDate = $helperOffer->getPostValue('end_date') ? $helperOffer->getPostValue('end_date') : $assignData->getEndDate(); ?>
						<?php $days = $helperOffer->getPostValue('days') ? $helperOffer->getPostValue('days') : $assignData->getDays(); ?>
					<?php else :?>
						<?php $startDate = $helperOffer->getPostValue('start_date') ? $helperOffer->getPostValue('start_date') : ''; ?>
						<?php $endDate = $helperOffer->getPostValue('end_date') ? $helperOffer->getPostValue('end_date') : ''; ?>
						<?php $days = $helperOffer->getPostValue('days') ? $helperOffer->getPostValue('days') : ''; ?>
					<?php endif; ?>

					<div class="field required">
						<label for="base_price" class="label">
							<span><?= __("Base Price"); echo ' ('.$symbol.')' ?></span>
						</label>
						<div class="control">
							<input value="<?= $basePrice ? number_format($basePrice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>" type="text" data-validate="{required:true}" class="input-text required-entry validate-zero-or-greater" title="<?= __('Base Price'); ?>" name="base_price" id="base_price" aria-required="true" readonly>
						</div>
						<label for="special_price" class="label">
							<span><?= __("Special Price"); echo ' ('.$symbol.')' ?></span>
						</label>
						<div class="control">
							<input value="<?= $specialPrice ? number_format($specialPrice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>" type="text" data-validate="{required:true}" class="input-text required-entry validate-zero-or-greater" title="<?= __('Special Price'); ?>" name="special_price" id="special_price" aria-required="true">
						</div>
						<label for="start_date" class="label">
							<span><?= __("Start Date Offer"); ?></span>
						</label>
						<div class="control">
							<input value="<?= $startDate; ?>" type="text" data-validate="{required:true}" class="input-text required-entry hasDatepicker" title="<?= __('Start Date Offer'); ?>" name="start_date" id="start_date" aria-required="true">
						</div>
						<label for="days" class="label">
							<span><?= __("Days End Offer"); ?></span>
						</label>
						<div class="control">
							<input value="<?= $days; ?>" type="text" data-validate="{required:true}" class="input-text required-entry validate-digits-range <?= $classRange ?>" title="<?= __('Days End Offer'); ?>" name="days" id="days" aria-required="true">
						</div>
						<?php if (!empty($days) && !empty($endDate)) :?>
							<label for="end_date" class="label">
								<span><?= __("End Date Offer"); ?></span>
							</label>
							<div class="control">
								<input value="<?= $endDate; ?>" type="text" data-validate="{required:true}" class="input-text required-entry" title="<?= __('End Date Offer'); ?>" name="end_date" id="end_date" aria-required="true" readonly>
							</div>
						<?php endif; ?>
					</div>
				<?php endif; ?>
				<?php if ($productType == 'configurable'): ?>
					<div class="field required">
						<label for="qty" class="label">
							<span><?= __('Associated Products'); ?></span>
						</label>
                        <div class="field new-offer-text-info">
                            <p><?php echo __('<b>(*)</b> Las ofertas especiales que no se pueden editar son debido a que existe una oferta especial vigente.'); ?></p>
                        </div>
						<div class="control">
							<?php
								$showEndDate = false;
								$associatesData = $helperOffer->getAssociatesData($assignId);
								foreach ($associatesData as $key => $childProduct) {
									if (!empty($childProduct['end_date'])) {
										$showEndDate = true;
										break;
									}
								}
								
								$productTypeInstance = $product->getTypeInstance();
								$usedProducts = $productTypeInstance->getUsedProducts($product);
								foreach ($usedProducts  as $childProduct) {
									foreach ($attributes as $code => $label) {
										if (array_key_exists($childProduct->getId(), $associatesData)) {
											$val = $childProduct[$code];
											$options[$code][$val];
											$op[$code][$val] = $childProduct->getId();
										}
									}
								}
							?>
							<table class="data table wk-associated-table">
								<thead>
									<tr>
										<th class="col"><input type="hidden" class="wk-mass-associate"></th>
										<th class="col"><?= __("Product Name"); ?></th>
										<?php foreach ($attributes as $code => $label): ?>
											<th class="col"><?= $label; ?></th>
										<?php endforeach; ?>
										<th class="col"><?= __("Base Price");echo ' ('.$symbol.')'; ?></th>
										<th class="col"><?= __("Special Price");echo ' ('.$symbol.')'; ?></th>
										<th class="col"><?= __("Start Date Offer"); ?></th>
										<th class="col"><?= __("Days End Offer"); ?></th>
										<?php if ($showEndDate) :?>
										<th class="col"><?= __("End Date Offer"); ?></th>
										<?php endif; ?>
									</tr>
								</thead>
								
								<tbody>
									<?php foreach ($usedProducts as $childProduct): ?>
										<?php $childId = $childProduct->getId(); ?>
										<?php if (array_key_exists($childId, $associatesData)):
                                            // check that the $childId has a special offer not active yet
                                            $childProductHasSpecialOffer = $helperOffer->checkIfAssociateHasSpecialOffer($childId, 1);
                                            ?>
											<?php $offerActive = $helperOffer->datesAreCurrent($associatesData[$childId]['start_date'], $associatesData[$childId]['end_date']); ?>
											<?php $basePrice = $helperOffer->getPostValue('base_price', $childId) ?
												$helperOffer->getPostValue('base_price', $childId) :
												($offerActive !== 1 ? $associatesData[$childId]['price'] : $associatesData[$childId]['base_price']);
											?>
											<?php $specialPrice = $helperOffer->getPostValue('special_price', $childId) ?
												$helperOffer->getPostValue('special_price', $childId) :
												($offerActive !== 0 ? $associatesData[$childId]['special_price'] : ($childProductHasSpecialOffer['has_offer'] ? $childProductHasSpecialOffer['special_price'] : ''));
											?>
											
											<?php if ($offerActive !== 0) :?>
												<?php $startDate = $helperOffer->getPostValue('start_date', $childId) ? $helperOffer->getPostValue('start_date', $childId) : $associatesData[$childId]['start_date']; ?>
												<?php $endDate = $helperOffer->getPostValue('end_date', $childId) ? $helperOffer->getPostValue('end_date', $childId) : $associatesData[$childId]['end_date']; ?>
												<?php $days = $helperOffer->getPostValue('days', $childId) ? $helperOffer->getPostValue('days', $childId) : $associatesData[$childId]['days']; ?>
											<?php else :?>
												<?php $startDate = $helperOffer->getPostValue('start_date', $childId) ? $helperOffer->getPostValue('start_date', $childId) : ($childProductHasSpecialOffer['has_offer'] ? $childProductHasSpecialOffer['start_date'] : ''); ?>
												<?php $endDate = $helperOffer->getPostValue('end_date', $childId) ? $helperOffer->getPostValue('end_date', $childId) : ($childProductHasSpecialOffer['has_offer'] ? $childProductHasSpecialOffer['end_date'] : ''); ?>
												<?php $days = $helperOffer->getPostValue('days', $childId) ? $helperOffer->getPostValue('days', $childId) : ($childProductHasSpecialOffer['has_offer'] ? $childProductHasSpecialOffer['days'] : ''); ?>
											<?php endif; ?>
											<tr>
												<td class="col">
													<input name="products[<?= $childId; ?>][offer_id]" type="hidden" value="<?= (int)$associatesData[$childId]['offer_id']; ?>">
													<input name="products[<?= $childId; ?>][name]" type="hidden" value="<?= $associatesData[$childId]['name']; ?>">
													<input name="products[<?= $childId; ?>][origin_special_price]" type="hidden" value="<?= $associatesData[$childId]['special_price']; ?>">
													<input name="products[<?= $childId; ?>][origin_start_date]" type="hidden" value="<?= $associatesData[$childId]['start_date'] ?>">
													<input name="products[<?= $childId; ?>][origin_days]" type="hidden" value="<?= $associatesData[$childId]['days']; ?>">
												</td>
												<td class="col"><?= $associatesData[$childId]['name'] . ($offerActive ? ' (*)' : ''); ?></td>
												<?php foreach ($attributes as $code => $label): ?>
													<?php $val = $childProduct[$code]; ?>
													<td class="col"><?= $options[$code][$val]; ?></td>
												<?php endforeach; ?>
												<td class="col">
													<input class="wk-associate-base-price required-entry validate-zero-or-greater" name="products[<?= $childId; ?>][base_price]" type="text" value="<?= $basePrice ? number_format($basePrice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>" readonly>
												</td>
												<td class="col">
													<input class="wk-associate-special-price validate-zero-or-greater" name="products[<?= $childId; ?>][special_price]" type="text" value="<?= $specialPrice ? number_format($specialPrice, $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>" <?= ($specialPrice && !$childProductHasSpecialOffer['has_offer'] && $offerActive) ? 'readonly' : '' ?>>
												</td>
												<td class="col">
													<input class="wk-associate-start-date <?= ($startDate && !$childProductHasSpecialOffer['has_offer']  && $offerActive) ? '' : 'hasDatepicker' ?>" name="products[<?= $childId; ?>][start_date]" type="text" value="<?= $startDate; ?>" <?= ($startDate && !$childProductHasSpecialOffer['has_offer'] && $offerActive) ? 'readonly' : '' ?>>
												</td>
												<td class="col">
													<input class="wk-associate-days validate-digits" name="products[<?= $childId; ?>][days]" type="text" value="<?= $days; ?>" <?= ($days && !$childProductHasSpecialOffer['has_offer'] && $offerActive) ? 'readonly' : '' ?>>
												</td>
												<?php if ($showEndDate) : ?>
													<td class="col">
														<input class="wk-associate-end-date" name="products[<?= $childId; ?>][end_date]" type="text" value="<?= $endDate; ?>" readonly>
													</td>
												<?php endif; ?>
											</tr>
										<?php endif; ?>
									<?php endforeach; ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php endif; ?>
				<div class="field required">
					<div class="control">
						<button class="button wk-product-save-btn" type="submit">
							<span><span><?= __("Save Product"); ?></span></span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	<?php else: ?>
		<h2 class="wk-mp-error-msg">
			<?= __("To Become Seller Please Contact to Admin."); ?>
		</h2>
	<?php endif; ?>
    <script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
            }
        }
    </script>
	<script>
	require([
		'jquery',
		'mage/mage',
		'mage/calendar'
	], function($){
		$('.hasDatepicker').datepicker({
			minDate: new Date("<?= $nextDate->format('Y/m/d') ?>"),
			dateFormat:"yy-mm-dd",
			yearRange: "<?= $nextDate->format('Y') ?>:2050",
			buttonText: "",
			changeMonth: true,
			changeYear: true,
			showOn: "both",
			monthNames: ["Enero","Febrero","Marzo","Abril","May","Junio","Julio",
			"Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
			monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
			dayNames: ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"],
			dayNamesShort: ["Do","Lu","Ma","Mi","Ju","Vi","Sa"],
			dayNamesMin: ["Do","Lu","Ma","Mi","Ju","Vi","Sa"],
			//beforeShowDay: $.datepicker.noWeekends,
			buttonImage: "<?= $helperOffer->getImageCalendar() ?>"
		});
	});
	</script>
<?php else: ?>
	<h2 class="wk-mp-error-msg">
		<?= __('Error to obtain product information.'); ?>
	</h2>
<?php endif; ?>
