<tr class="totals purchase-unit">
  <th scope="row" colspan="1" class="mark">
    <?= __('Purchase Unit') ?>
  </th>
  <td data-th="PurchaseUnit" class="amount">
    <select name="unit_code" class="price">
      <?php foreach ($block->getUnits() as $key => $unit): ?>
        <option value="<?= $key ?>" <?= $unit['is_default'] ? "selected" : "" ?>><?= $unit['text'] ?></option>
      <?php endforeach; ?>
      <option value="asd">asd</option>
    </select>
  </td>
</tr>

<script type="text/x-magento-init">
{
    "*": {
        "Formax_PurchaseUnit/js/purchaseunit-ajax": {
          "serviceUrl": "<?= $this->getUrl("purchaseunit/checkout/apply") ?>"
        }
    }
}
</script>
