<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>
<?php
switch ($type = $block->getType()) {

    case 'upsell-rule':
        if ($exist = $block->hasItems()) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $items = $block->getAllItems();
            $limit = 2;
            $shuffle = (int) $block->isShuffled();

            $showAddTo = false;
            $showCart = true;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'upsell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $items = $block->getItemCollection()->getItems();
            $limit = 2;
            $shuffle = 0;

            $showAddTo = false;
            $showCart = true;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    default:
        $exist = null;
}

$titleEven = __('Similar product more convenient');
$subtitleEven = __('Do you want to save?');
$titleOdd = __('Wholesale card');
$subtitleOdd = __('Do you need this product in large quantities? Check your wholesale card.');
?>

<?php if ($exist):?>

  <div class="block <?= /* @escapeNotVerified */ $class ?> cc-upsell-products" data-mage-init='{"upsellProducts":{}}' data-limit="<?= /* @escapeNotVerified */ $limit ?>" data-shuffle="<?= /* @escapeNotVerified */ $shuffle ?>">

    <div class="block-content content" aria-labelledby="block-<?= /* @escapeNotVerified */ $class ?>-heading">
        <div class="products wrapper grid products-grid products-<?= /* @escapeNotVerified */ $type ?>">
            <ol class="products list items product-items">
              <?php $i = 0; foreach ($items as $_item): ?>
                <?php $available = ''; ?>
                <li class="item product product-item">
                  <div class="product-item-info <?= /* @escapeNotVerified */ $available ?>">
                    <?php $mod = $i%2 ?>
                    <h3><?= $mod ? $titleOdd : $titleEven ?></h3>
                    <h4><?= $mod ? $subtitleOdd : $subtitleEven; $i++ ?></h4>
                    <div class="cc-upsell-cols">
                      <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
                      <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
                          <?= $block->getImage($_item, $image)->toHtml() ?>
                      </a>
                      <div class="product details product-item-details">
                          <strong class="product name product-item-name"><a class="product-item-link" title="<?= $block->escapeHtml($_item->getName()) ?>" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>">
                              <?= $block->escapeHtml($_item->getName()) ?></a>
                          </strong>

                          <?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?>

                              <?php if ($templateType): ?>
                                  <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                              <?php endif; ?>

                              <?php if ($showAddTo || $showCart): ?>
                                  <div class="product actions product-item-actions">
                                      <?php if ($showCart): ?>
                                          <div class="actions-primary">
                                            <a class="action tocart primary cc-link" href="<?= /* @escapeNotVerified */ $_item->getProductUrl() ?>">
                                              <span><?= $block->escapeHtml(__('See Product')) ?></span>
                                            </a>
                                          </div>
                                      <?php endif; ?>

                                      <?php if ($showAddTo): ?>
                                          <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                              <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                  <?= $addToBlock->setProduct($_item)->getChildHtml() ?>
                                              <?php endif; ?>
                                          </div>
                                      <?php endif; ?>
                                  </div>
                              <?php endif; ?>
                          </div>
                        </div>
                    </div>
                </li>
                <?php endforeach ?>
            </ol>
        </div>
    </div>
</div>

<script>
require(['jquery'],function($){
  $(function(){
    var $block = $('.cc-upsellProducts-block');
    var height = $block.height()/2;
    $block.css('margin-bottom','-'+height+'px');
    $('.cc-multivendor-block .multivendor-title').css('margin-top',height+'px');
  });
});
</script>

<?php endif;?>
