<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner = $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
    $shouldRender = $block->shouldRenderRegionalConditionsMenu();
?>
<?php if ($isPartner && $shouldRender): ?>
    <li id="wk-mp-menu-regional-condition-view" class="nav item notification-link wk-mp-item-customer level-0 <?php echo strpos($magentoCurrentUrl, 'regionalcondition/index/index')? "current":"";?>">
        <a href="<?php echo $block->getUrl('regionalcondition/index/index', ['_secure' => $this->getRequest()->isSecure()]); ?>">
            <?php /* @escapeNotVerified */ echo __('Comercial Information') ?>
        </a>
    </li>
<?php endif; ?>
