<?php
/**
 * We don't want to show the seller details such as 'Razon Social'
 * That said, I'm adding an early return to this template file
 * See https://chilecompra.atlassian.net/browse/MU24-106
 */
return;

$mpAssignBlock = $block->getLayout()->createBlock(\Webkul\MpAssignProduct\Block\Link::class);
$_item = $block->getItem();
$options = $_item->getBuyRequest()->getData();
$mpAssignId = 0;
if (array_key_exists("mpassignproduct_id", $options)) {
    $mpAssignId = $options["mpassignproduct_id"];
}
$product = $_item->getProduct();
$helper = $mpAssignBlock->getHelperObject('marketplaceHelper');
$_product = $product;
$seller_id = '';
//TODO check if this is needed anymore
//$seller_id = $helper->getUserInfo($_product['entity_id'], $mpAssignId);
$itemId = $_item->getId();
$assignData = $mpAssignBlock->getHelperObject()->getAssignDataByItemId($itemId);
if ($assignData['assign_id'] == 0) {
    $marketplaceProduct = $helper->getSellerProductDataByProductId($_product['entity_id']);
    foreach ($marketplaceProduct as $value) {
        $seller_id = $value['seller_id'];
    }
} else {
    $seller_id = $assignData['seller_id'];
}
if ($seller_id!="") {
    $rowsocial = $helper->getSellerDataBySellerId($seller_id);
    $shoptitle = '';
    $shop_url = '';
    foreach ($rowsocial as $value) {
        $shoptitle = $value['shop_title'];
        $shop_url = $value['shop_url'];
        if (!$shoptitle) {
            $shoptitle = $value->getShopUrl();
        }
    }
    $shoptitle = $block->escapeHtml($shoptitle);
    ?>
    <div class="wk-seller-block wk-block" id="mp-wk-block">
        <div>
            <span class="wk-block-font-bold-up"><?= /* @noEscape */ __('Sold By')?></span>
            <span class="wk-block-title-css">
                    <a
                        href="<?= /* @noEscape */ $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shop_url);?>"
                        title="<?= /* @noEscape */ __('Visit Shop') ?>" id="profileconnect">
                        <?= /* @noEscape */ $shoptitle; ?>
                    </a>
                </span>
        </div>
    </div>
    <?php
} ?>
