<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductAttributesImportExport
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
// @codingStandardsIgnoreFile
/**
 *
 * @var $block \Bss\ProductAttributesImportExport\Block\AttributeSet
 */
?>
<div id="attribute-set" class="admin__field field attributes" style="display: none; margin-left: 16%;">
    <label class="label admin__field-label" for="attribute-set"><span><?php echo __('Attribute Set'); ?></span></label>
    <select
            id="select-attribute-set"
            name="select-attrbute-set"
            title="Attribute Set"
            class="select admin__control-select"
            style="margin-left: 30px"
    >
        <option value="all" selected="selected"><?php echo __('All'); ?></option>
        <?php
        $attributeSets = $block->getAllAttributeSet();
        foreach ($attributeSets as $attributeSet) {
            ?>
            <option value="<?php echo __($attributeSet['value']); ?>"><?php echo __($attributeSet['label']); ?></option>
        <?php
        }
        ?>
        <option value="no-attribute-set""><?php echo __('No Attribute Set'); ?></option>
    </select>
</div>
<div id="bss-version" style="display: none"><br><?php echo __("Version 1.1.3"); ?></div>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_ProductAttributesImportExport/js/export":{}
        }
    }
</script>
