.modal-inner-wrap
{
    width: 30% !important;
}

.centered
{
    text-align: center !important;
}

.lowerButton
{
    top: 22px !important;
}

.qty-container-modal
{
    border: 1px #ededed solid !important;
    box-shadow: 1px 2px #ededed;
    width: 70% !important;
    display: table-row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-text-modal
{
    width: 80% !important;
}

.package-name
{
    width: 60% !important;
    margin-right: 0px !important;
    float: left;
    display: table-cell;
}

.qty-input-container
{
    width: 80% !important;
    margin-left: 0px !important;
    display: table-cell;
}

.qty-decreaser
{
    left: 63% !important;
    top: 14% !important;
}

.qty-increaser
{
    right: 3% !important;
    top: 14% !important;
}