<?php 
$sellerId = $block->getSellerId();
$regions = $block->getRegions($sellerId);
$formData = $block->getNewRegionalConditionFormData();
?>
<div class="container">
    <form
        id="form-regional-condition"
        method="post" class="form"
        action="<?= $block->getPostUrl() ?>"
        data-mage-init='{"validation":{}, "customValidation":{}}'
    >
        <input type="hidden" name="seller_id" id="seller_id" value="<?= $sellerId ?>" />
        <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>" />
        <div class="content-to-clone accordeon-box">
            <div class="container-regional-condition-form">
            	<div class="container-regional-condition-fields">
	                <!-- Start Rows -->
	                <div class="regional-rows-box">
						<div class="regional-rows first-row">
							<div class="field required">
							    <label class="label" for="region_name"><span><?= __('Region') ?></span></label>
							    <div class="control">
							    	<select name="region_id" class="region_id select required">
							    		<option value=""><?= $block->escapeHtml(__('Select Region')) ?></option>
							    		<?php 
							    		foreach ($regions as $value) { ?>
											<option value="<?= $value['region_id']?>" <?php if(!empty($formData) && $formData['region_id'] == $value['region_id']){ echo "selected"; } ?>><?= $value['name']?></option>	    			
							    		<?php } ?>
							    	</select>
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="contact_name"><span><?= __('Contact Name') ?></span></label>
							    <div class="control">
							        <input type="text" name="contact_name" id="contact_name" class="contact-name text validate-letter-latin-whitespace required" maxlenght="255" title="<?= $block->escapeHtml(__('Contact Name')) ?>" value="<?php if(!empty($formData)){ echo $formData['contact_name']; } ?>"/>
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="contact_phone"><span><?= __('Contact Phone') ?></span></label>
							    <div class="control">
							        <input type="text" name="contact_phone" id="contact_phone" class="contact-phone text phoneCL required" maxlenght="15"
							            title="<?= $block->escapeHtml(__('Contact Phone')) ?>" value="<?php if(!empty($formData)){ echo $formData['contact_phone']; } ?>"/>
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="contact_email"><span><?= __('Contact Email') ?></span></label>
							    <div class="control">
							        <input type="text" name="contact_email" id="contact_email" class="contact-email text required email" maxlenght="150"
							            title="<?= $block->escapeHtml(__('Contact Email')) ?>" value="<?php if(!empty($formData)){ echo $formData['contact_email']; } ?>"/>
							    </div>
							</div>
						</div>
						<div class="regional-rows second-row">
							<div class="field required">
							    <label class="label" for="days_storepickup"><span><?= __('Delivery Time Store Pickup') ?></span></label>
							    <div class="control">
							        <input type="number" name="days_storepickup" id="days_storepickup" class="days-storepickup text validate-digits format-number required" max="10" title="<?= $block->escapeHtml(__('Delivery Time Store Pickup')) ?>" value="<?php if(!empty($formData)){ echo $formData['days_storepickup']; } ?>" />
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="products_availabilty_term_emergency_hours"><span><?= __('Products Availabilty Term Emergency Hours') ?></span></label>
							    <div class="control">
							        <input type="number" name="products_availabilty_term_emergency_hours" id="products_availabilty_term_emergency_hours" class="products-availabilty-term-emergency-hours text validate-digits format-number required" max="48" title="<?= $block->escapeHtml(__('Products Availabilty Term Emergency Hours')) ?>" value="<?php if(!empty($formData)){ echo $formData['products_availabilty_term_emergency_hours']; } ?>"/>
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="products_replacement_term_emergency_days"><span><?= __('Products Replacement Term Emergency Days') ?></span></label>
							    <div class="control">
							        <input type="number" name="products_replacement_term_emergency_days" id="products_replacement_term_emergency_days" class="products_replacement_term_emergency_days text validate-digits format-number required" max="2" title="<?= $block->escapeHtml(__('Products Replacement Term Emergency Days')) ?>" value="<?php if(!empty($formData)){ echo $formData['products_replacement_term_emergency_days']; } ?>" />
							    </div>
							</div>
						</div>
						<div class="regional-rows third-row">
							<div class="field required">
							    <label class="label" for="time_maximum_prevention_delivery"><span><?= __('Time Maximum Prevention Delivery') ?></span></label>
							    <div class="control">
							        <input type="number" name="time_maximum_prevention_delivery" id="time_maximum_prevention_delivery" class="time_maximum_prevention_delivery text validate-digits format-number required" max="10" title="<?= $block->escapeHtml(__('Time Maximum Prevention Delivery')) ?>" value="<?php if(!empty($formData)){ echo $formData['time_maximum_prevention_delivery']; } ?>" />
							    </div>
							</div>
							<div class="field required">
							    <label class="label" for="products_replacement_term_prevention_days"><span><?= __('Products Replacement Term Prevention Days') ?></span></label>
							    <div class="control">
							        <input type="number" name="products_replacement_term_prevention_days" id="products_replacement_term_prevention_days" class="products_replacement_term_prevention_days text validate-digits format-number required" max="5" title="<?= $block->escapeHtml(__('Products Replacement Term Prevention Days')) ?>" value="<?php if(!empty($formData)){ echo $formData['products_replacement_term_prevention_days']; } ?>" />
							    </div>
							</div>
						</div>
                        <div class="regional-rows fourth-row">
                            <div class="field required">
                                <label class="label" for="shop_address_takeout"><span><?= __('Shop Address Takeout') ?></span></label>
                                <div class="control">
                                    <input type="text" name="shop_address_takeout" id="shop_address_takeout" class="contact-address text required address" maxlenght="150"
                                           title="<?= $block->escapeHtml(__('Shop Address Takeout')) ?>" value="<?php if(!empty($formData)){ echo $formData['shop_address_takeout']; } ?>"/>
                                </div>
                            </div>
                        </div>
	                </div>
	                <!-- End Rows -->
            </div>
        </div>
        </div>
		<?php $block->unsetNewRegionalConditionFormData(); ?>
        <div class="container form-actions">
          <button type="submit" class="submit action primary">
            <span><?= __('Save') ?></span>
          </button>
        </div>
    </form>
</div>
