<div class="regional-condition">
    <div class="container">
        <form
            id="form-regional-condition"
            method="post" class="form"
            action="<?= $block->getPostUrl() ?>"
            data-mage-init='{"validation":{}, "customValidation":{}}'
        >
            <input type="hidden" name="seller_id" id="seller_id" value="<?= $block->getSellerId() ?>" />
            <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>" />
            <div class="container-form-matriz">
                <?= $block->getChildHtml('matriz') ?>
                <?= $block->getChildHtml('form') ?>
                </div>
            </div>
            <div class="container form-actions">
              <?php if ($block->showAddNewRegion()) :?>
                <button type="button" class="add-new-region action secondary">
                    <span><?= __('Add new region') ?></span>
                </button>
              <?php endif; ?>
              <button type="submit" class="submit action primary">
                <span><?= __('Save') ?></span>
              </button>
            </div>
        </form>
    </div>
</div>
