<?php $densities = $block->getDensities(); ?>
<?php $weight = $block->getWeight(); ?>
<?php $totalDensities = count($densities); ?>
<?php $totalWeight = count($weight); ?>
<?php $fieldsSaved = $block->getHelper()->getTableRatesbySeller(); ?>

<?php if ($totalDensities > 0 && $totalWeight > 0) :?>
    <div class="container-regional-condition-matriz">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <?php foreach ($densities as $density) :?>
                        <th><?= $density->getName() ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($weight as $w) :?>
                    <tr>
                        <td><?= $w->getDimensionLabel() ?></td>
                        <?php foreach ($densities as $density) :?>
                            <td>
                                <input type="text" name="shippingcost[<?= $density->getId()?>][<?= $w->getId() ?>]" class="text validate-digits format-price" maxlenght="12"
                                    value="<?= $block->escapeHtml($block->getHelper()->getPostValue('shippingcost', $density->getId(), $w->getId()))
                                    ? $block->escapeHtml($block->getHelper()->getPostValue('shippingcost', $density->getId(), $w->getId())) 
                                    : $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'shippingcost', $density->getId(), $w->getId())) ?>" />
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else :?>
    <p><?= __("There're no densities and/or weight configured.") ?></p>
<?php endif; ?>