.quotenotifications{
  list-style: none;
}

.wk-mp-notification-icon:after {
    display: inline-block;
    width: 22px;
    height: 24px;
    content: "";
    background: url(../images/ico_market_notification.svg) no-repeat;
    font-size: 0px !important;
}
.wk-mp-notification-counts {
    position: absolute;
    left: 53%;
    top: 16%;
    background-color: #ff6a01;
    border-radius: .3rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 .3rem;
}
.header.content .quotenotifications {
    list-style: none;
    float: left;
    display: none !important;
}
.header.content ul.quotenotifications li:not(:first-child) {
    display: none;
}

.header.content span.wk-mp-notification-count {
    position: absolute;
    top: 13px;
    padding: 1px 5px;
    background: #ff8100;
    font-size: 10px;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    right: -8px;
}

.header.content ul.quotenotifications li:first-child {
    position: relative;
}
.header.content ul.quotenotifications:hover li:not(:first-child) {
    display: block;
    position: absolute;
    padding: 15px;
    left: 0;
    width: 210px;
    background: #FFF;
    border: 1px solid #E0E7FF;
    z-index: 100;
    font-size: 12px;
    /* border-top: 0; */
}

ul.quotenotifications {}

ul.quotenotifications {
    position: relative;
}

.header.content ul.quotenotifications:hover li:not(:first-child):hover {
    background: #f0f0f0;
    cursor: pointer;
}
.header.content ul.quotenotifications:hover li:nth-child(3){
    top: 88px;
}
.header.content ul.quotenotifications:hover li:nth-child(4){
    top: 136px;
}
.header.content ul.quotenotifications:hover li:nth-child(5){
    top: 184px;
}
.header.content ul.quotenotifications:hover li:nth-child(6){
    top: 232px;
}