<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Dashboard */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$captchaEnableStatus = $helper->getCaptchaEnable();
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$getDateDetail = $block->getDateDetail();
$total_sale_coll = $block->getTotalSaleColl();
$total_sale = 0;
$total_remain_sale = 0;
foreach($total_sale_coll as $value) {
    $total_sale = $value->getAmountReceived();
    $total_remain_sale = $value->getAmountRemain();
}
$getTopSaleProducts = $block->getTopSaleProducts();
$block->getTopSaleCategories();
?>
<style type="text/css">
    .wk-dashboard-sales-value {
        color: #eb5202;
    }
    .wk-dashboard-sales-font {
        font-size: 25px;
    }
    .button {
        padding: 4px 15px;
    }
</style>
<div class="box-agreement">
    <?php $agreement = $block->getAgreementData() ?>
    <?php if ($agreement) :?>
        <p class="name"><?php echo __('Agreement') . ' ' . $agreement->getAgreementName() ?></p>
        <p class="date"><?php echo __('Validity') . ' ' . $agreement->getAggrementValidity() ?></p>
        <p class="number"><span><?php echo __('Agreement Document') ?></span> <a target="_blank" href="<?php echo $agreement->getAggrementBidSheet() ?>"><?php echo $agreement->getAggrementNumberBidding() ?></a></p>
    <?php endif; ?>
</div>