<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMultiShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helper = $this->helper('Webkul\MpMultiShipping\Helper\Data');
$isPartner = $_helper->isSeller();
$isSellerGroup = $_helper->isSellerGroupModuleInstalled();
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php
if ($isPartner && $helper->getConfigData('active')) : ?>
        <?php if (($isSellerGroup && $_helper->isAllowedAction('multiship/shipping/view')) || !$isSellerGroup) : ?>
        <li class="nav item <?php echo strpos($magentoCurrentUrl, 'multiship/shipping/view') !== false? "current":"";?>">
            <?php
            if (strpos($magentoCurrentUrl, 'multiship/shipping/view') !== false) : ?>
            <strong><?php echo __('Manage Multi Shipping') ?></strong>
                <?php
        else : ?>
            <a href="<?php echo $block->getUrl('multiship/shipping/view'); ?>">
                <?php echo __('Manage Multi Shipping') ?>
            </a>
            <?php
            endif; ?>
        </li>
        <?php endif; ?>
    <?php endif;?>
