<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());

$attrs = [
    //[ 'key' => 'wkv_dccp_id', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_rut', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_name', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_email', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_phone', 'type' => 'text' ],
    [ 'key' => 'wkv_company_direction', 'type' => 'text' ],
    [ 'key' => 'wkv_region_origen', 'type' => 'dropdown' ],
    [ 'key' => 'wkv_dccp_commune', 'type' => 'dropdown' ],
    [ 'key' => 'wkv_dccp_category_food', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_category_giftcard', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_customer_support', 'type' => 'text' ],
    [ 'key' => 'wkv_bon_replacement_max', 'type' => 'text' ],
    [ 'key' => 'wkv_bon_enable_max', 'type' => 'text' ],
];
?>
<div class="box-regional-info">
    <div class="item">
        <table class="admin__table-secondary order-information-table">
            <tbody>
            <?php ?>
                <?php foreach($attrs as $attr):
                    if($_attr = $customer->getAttribute($attr['key'])):
                        $value = $customer->getData($attr['key']);
                        switch($attr['type']){
                            case 'percent':
                                $value = $value.'%';
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                            case 'dropdown':
                                if ($_attr->usesSource()) {
                                    $value = $_attr->getSource()->getOptionText((int)$value);
                                }
                                break;
                            case 'select':
                                if ($_attr->usesSource()) {
                                    $value = $_attr->getSource()->getOptionText((int)$value);
                                }
                                break;
                        }
                    ?>
                    <tr>
                        <th width="50%"><?= $_attr->getStoreLabel() ?></th>
                        <td><?= $value ?></td>
                    </tr>
                <?php endif; endforeach; ?>
            </tbody>
        </table>
    </div>
</div>