<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="message notice"
         visible="isQuoteAddressDeleted && isQuoteAddressLocked" >
        <span>
            <translate args="'The shipping address specified on the quote was deleted from your Address Book.'" />
            <translate args="'To proceed with the checkout, go '" />
            <a attr="href: backQuoteUrl" translate="'back to the quote'" />
            <translate args="' and update the shipping address.'" />
        </span>
    </div>
    <div class="message notice"
         visible="isQuoteAddressDeleted && !isQuoteAddressLocked">
        <span>
            <translate args="'The shipping address specified on the quote was deleted from your Address Book. '" />
            <translate args="'To proceed with the checkout, update the shipping address.'" />
        </span>
    </div>
    <div class="step-title"
         data-role="title"
         translate="'Shipping Address'" />
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">
          <h2 class="step-title">Seleciona la dirección donde quieres despachar tus productos.</h2>

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" />
        <each args="getRegion('address-list')" render="" />
        <each args="getRegion('address-list-additional-addresses')" render="" />

        <a attr="href: addressUrl" class="action primary action-show-popup no-bg">
            <span translate="'Add New Address'" />
        </a>

        <!-- Address form pop up -->
        <!-- ko if: (false) -->
        <if args="!isFormInline">
            <button type="button"
                    class="action action-show-popup"
                    click="showFormPopUp"
                    visible="(!isNewAddressAdded() || isQuoteAddressDeleted) && !isQuoteAddressLocked">
                <span translate="'New Address'" />
            </button>
            <div id="opc-new-shipping-address"
                 visible="isFormPopUpVisible()"
                 render="shippingFormTemplate" />
        </if>
        <!-- /ko -->

        <each args="getRegion('before-form')" render="" />

        <!-- Inline address form -->
        <!-- ko if: (false) -->
        <render if="isFormInline && !hasQuoteShippingAddress" args="shippingFormTemplate" />
        <div class="message notice"
             visible="!isQuoteAddressDeleted && isQuoteAddressLocked">
            <span class="link-back">
                <translate args="'Your shipping address is locked. To change your shipping address, go '" />
                <a attr="href: backQuoteUrl"
                   translate="'back to the quote'" />
                <span text="'.'" />
            </span>
        </div>
        <!-- /ko -->
    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title"
             translate="'Shipping Methods'"
             data-role="title" />
        <each args="getRegion('before-shipping-method-form')" render="" />
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">

            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">
                <render args="shippingMethodListTemplate"/>
                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary"
                         visible="!(isQuoteAddressDeleted && isQuoteAddressLocked)">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Continue'" />
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'" />
        </div>
    </div>
</li>
