p.seller-disabled-reorder {
display: inline-block;
font-size: 12px;
color: #0064FF;
font-weight: bold;
letter-spacing: 1.55px;
text-transform: uppercase;
text-align: center;
width: 50%;
vertical-align: top;
white-space: initial;
}