<div class="regional-condition">    
    <div class="container">
        <?php 
        if ($block->showAddNewRegion()) { ?>
           <div class="add-new-region-btn" style="text-align: right; padding-bottom: 20px;">
                <a href="<?= $block->getAddOfferUrl() ?>" class="add-new-offer-btn action primary">
                    <span><?= __('Add new region') ?></span>
                </a>
            </div>
        <?php } ?>
        <form
            id="form-regional-condition"
            method="post" class="form"
            action="<?= $block->getPostUrl() ?>"
            data-mage-init='{"validation":{}, "customValidation":{}}'
        >
            <input type="hidden" name="seller_id" id="seller_id" value="<?= $block->getSellerId() ?>" />
            <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>" />
            <div class="container-form-matriz">
                <?= $block->getChildHtml('matriz') ?>
                <?= $block->getChildHtml('form') ?>
                </div>
            </div>
            <div class="container form-actions">
              <button type="submit" class="submit action primary">
                <span><?= __('Save') ?></span>
              </button>
            </div>
        </form>
    </div>
</div>
