<?php $fieldsSaved = $block->getHelper()->getRegionalConditionbySeller(); ?>
<?php $totalFieldsSaved = isset($fieldsSaved['region_id']) && is_array($fieldsSaved['region_id']) ? count($fieldsSaved['region_id']) : 0; ?>
<?php $totalFields = (int)$block->getHelper()->getPostValue('field_count') > 0
        ? (int)$block->getHelper()->getPostValue('field_count') : ($totalFieldsSaved > 0 ? $totalFieldsSaved : 1); ?>
<?php $regions = $block->getRegions(); ?>
<?php $yesNo = $block->getYesNo(); ?>
<?php $regionIdPostValue = 0 ?>
<input type="hidden" name="field_count" id="field_count" value="<?= (int)$totalFields ?>" >

<?php for ($i=0; $i<$totalFields; $i++) :?>
    <div class="content-to-clone accordeon-box <?php echo ($i==0) ? 'active' : '' ?>">
        <div class="overlay-avoidclick"></div>
        <div class="container-regional-condition-form">
            <?php if ($regions) :?>
				<?php $isFactorEditable = true; ?>
                <div class="container-regional-condition-fields">
                    <input type="hidden" name="regional_condition_id[]" id="regional_condition_id" value="<?= $i < $totalFieldsSaved ? $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'id', $i)) : '' ?>" />
                    <div class="field region-field">
                        <label class="label region-label" for="region_id_<?= $i ?>"><span><?= __('Region') ?></span></label>
                        <div class="control">
                            <select name="region_id[]" id="region_id_<?= $i ?>" class="region_id select required" <?= ($i < $totalFieldsSaved && (int)$block->getHelper()->getField($fieldsSaved, 'id', $i)) ? 'style="pointer-events:none;"' : '' ?>>
                                <?php foreach ($regions as $region) :?>
                                    <?php if ($block->escapeHtml($block->getHelper()->getPostValue('region_id', $i)) == $region['value']) :?>
                                        <?php $regionIdPostValue = $region['value']; ?>
                                        <option selected value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php elseif ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'region_id', $i)) == $region['value']) :?>
										<?php $isFactorEditable = false; ?>
                                        <?php $regionIdPostValue = $region['value']; ?>
                                        <option selected value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php else :?>
                                        <option value="<?= $region['value'] ?>"><span><?= $region['label'] ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <!-- Start Rows -->
                    <div class="regional-rows-box">
                      	<div class="regional-rows first-row">
                        	<div class="field">
                            	<label class="label" for="contact_name_<?= $i ?>"><span><?= __('Contact Name') ?></span></label>
                            	<div class="control">
                                	<input type="text"
                                           name="contact_name[]"
                                           id="contact_name_<?= $i ?>"
                                           class="contact-name text validate-letter-latin-whitespace isEmptyField"
                                           maxlenght="255"
                                           title="<?= $block->escapeHtml(__('Contact Name')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_name',  $i))
											? $block->escapeHtml($block->getHelper()->getPostValue('contact_name',  $i))
											: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_name',  $i)) ?>"
                                    />
								</div>
							</div>
							<div class="field">
								<label class="label" for="contact_phone_<?= $i ?>"><span><?= __('Contact Phone') ?></span></label>
								<div class="control">
									<input type="text"
                                           name="contact_phone[]"
                                           id="contact_phone_<?= $i ?>"
                                           class="contact-phone text phoneCL isEmptyField"
                                           maxlenght="15"
                                           title="<?= $block->escapeHtml(__('Contact Phone')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_phone',  $i))
										? $block->escapeHtml($block->getHelper()->getPostValue('contact_phone',  $i))
										: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_phone',  $i)) ?>"
                                    />
								</div>
							</div>
							<div class="field">
								<label class="label" for="contact_email_<?= $i ?>"><span><?= __('Contact Email') ?></span></label>
								<div class="control">
									<input type="text"
                                           name="contact_email[]"
                                           id="contact_email_<?= $i ?>"
                                           class="contact-email text isEmptyField email"
                                           maxlenght="150"
                                           title="<?= $block->escapeHtml(__('Contact Email')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('contact_email',  $i))
										? $block->escapeHtml($block->getHelper()->getPostValue('contact_email',  $i))
										: $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'contact_email',  $i)) ?>"
                                    />
								</div>
							</div>
						</div>
                      	<div class="regional-rows second-row">
                            <div class="field">
								<label class="label" for="days_storepickup_<?= $i ?>"><span><?= __('Delivery Time Store Pickup') ?></span></label>
								<div class="control">
									<input type="number"
                                           name="days_storepickup[]"
                                           id="days_storepickup_<?= $i ?>"
                                           class="days-storepickup text validate-digits format-number isEmptyField"
                                           title="<?= $block->escapeHtml(__('Delivery Time Store Pickup')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('days_storepickup',  $i))
										? (int) $block->escapeHtml($block->getHelper()->getPostValue('days_storepickup',  $i))
										: ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'days_storepickup',  $i)) != ''
											? (int) $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'days_storepickup',  $i))
											: '0') ?>"
                                    />
								</div>
							</div>
                            <div class="field">
                                <label class="label" for="products_availabilty_term_emergency_hours_<?= $i ?>"><span><?= __('Products Availabilty Term Emergency Hours') ?></span></label>
                                <div class="control">
                                    <input type="number"
                                           name="products_availabilty_term_emergency_hours[]"
                                           id="products_availabilty_term_emergency_hours_<?= $i ?>"
                                           class="products-availabilty-term-emergency-hours text validate-digits format-number isEmptyField"
                                           title="<?= $block->escapeHtml(__('Products Availabilty Term Emergency Hours')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('products_availabilty_term_emergency_hours',  $i))
                                               ? (int) $block->escapeHtml($block->getHelper()->getPostValue('products_availabilty_term_emergency_hours',  $i))
                                               : ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_availabilty_term_emergency_hours',  $i))
                                                   ? (int) $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_availabilty_term_emergency_hours',  $i))
                                                   : '0') ?>"
                                    />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="products_replacement_term_emergency_days_<?= $i ?>"><span><?= __('Products Replacement Term Emergency Days') ?></span></label>
                                <div class="control">
                                    <input type="number"
                                           name="products_replacement_term_emergency_days[]"
                                           id="products_replacement_term_emergency_days_<?= $i ?>"
                                           class="products_replacement_term_emergency_days text validate-digits format-number isEmptyField"
                                           title="<?= $block->escapeHtml(__('Products Replacement Term Emergency Days')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('products_replacement_term_emergency_days',  $i))
                                               ? (int) $block->escapeHtml($block->getHelper()->getPostValue('products_replacement_term_emergency_days',  $i))
                                               : ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_replacement_term_emergency_days',  $i))
                                                   ? (int) $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_replacement_term_emergency_days',  $i))
                                                   : '0') ?>"
                                    />
                                </div>
                            </div>
                      	</div>
                        <div class="regional-rows third-row">
                            <div class="field">
                                <label class="label" for="time_maximum_prevention_delivery_<?= $i ?>"><span><?= __('Time Maximum Prevention Delivery') ?></span></label>
                                <div class="control">
                                    <input type="number"
                                           name="time_maximum_prevention_delivery[]"
                                           id="time_maximum_prevention_delivery_<?= $i ?>"
                                           class="time_maximum_prevention_delivery text validate-digits format-number isEmptyField"
                                           title="<?= $block->escapeHtml(__('Time Maximum Prevention Delivery')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('time_maximum_prevention_delivery',  $i))
                                               ? (int) $block->escapeHtml($block->getHelper()->getPostValue('time_maximum_prevention_delivery',  $i))
                                               : ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'time_maximum_prevention_delivery',  $i))
                                                   ? (int) $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'time_maximum_prevention_delivery',  $i))
                                                   : '0') ?>"
                                    />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="products_replacement_term_prevention_days_<?= $i ?>"><span><?= __('Products Replacement Term Prevention Days') ?></span></label>
                                <div class="control">
                                    <input type="number"
                                           name="products_replacement_term_prevention_days[]"
                                           id="products_replacement_term_prevention_days_<?= $i ?>"
                                           class="products_replacement_term_prevention_days text validate-digits format-number isEmptyField"
                                           title="<?= $block->escapeHtml(__('Products Replacement Term Prevention Days')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('products_replacement_term_prevention_days',  $i))
                                               ? (int) $block->escapeHtml($block->getHelper()->getPostValue('products_replacement_term_prevention_days',  $i))
                                               : ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_replacement_term_prevention_days',  $i))
                                                   ? (int) $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'products_replacement_term_prevention_days',  $i))
                                                   : '0') ?>"
                                    />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="shop_address_takeout_<?= $i ?>"><span><?= __('Shop Address Takeout') ?></span></label>
                                <div class="control">
                                    <input type="text" name="shop_address_takeout[]" id="shop_address_takeout_<?= $i ?>"
                                           class="contact-address text isEmptyField address" maxlenght="150"
                                           title="<?= $block->escapeHtml(__('Shop Address Takeout')) ?>"
                                           value="<?= $block->escapeHtml($block->getHelper()->getPostValue('shop_address_takeout',  $i))
                                               ? (int) $block->escapeHtml($block->getHelper()->getPostValue('shop_address_takeout',  $i))
                                               : ($block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'shop_address_takeout',  $i))
                                                   ? $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'shop_address_takeout',  $i))
                                                   : '') ?>"
                                    />
                                </div>
                            </div>
                        </div>
                      	<div class="container-btn">
                        	<button type="button" class="delete-region hide action secondary">
								<span><?= __('Dismiss') ?></span>
                          	</button>
                      	</div>
                    </div>
                    <!-- End Rows -->
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endfor; ?>
