<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="opc-progress-bar">
  <li class="opc-progress-bar-item _complete" >
      <span class="opc-label">Carro de Compras</span>
      <small class="opc-step-number">Paso 1</small>
  </li>
    <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li class="opc-progress-bar-item" data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : '')">
            <span class="opc-label" data-bind="i18n: item.title, click: $parent.navigateTo"></span>
            <small class="opc-step-number" data-bind="text: 'Paso '+($index() + 2)"></small>
        </li>
    <!-- /ko -->
</ul>
