<?php $parentBlock = $this->getParentBlock(); ?>
<?php $product = $parentBlock->getProduct(); ?>
<?php $cmSofwareHelper =$parentBlock->getCmSoftwareHelper(); ?>
<?php if ($product): ?>
    <div class="quote_info">
        <span class="quote_infolabel"><?= __("ID Cotización:");?></span><span class="quote_infodata"> <?= $block->escapeHtml($parentBlock->getQuotedId()) ?></span><br>
        <span class="quote_infodata"><?= $cmSofwareHelper->getCategoryName($product) ?></span><br>
        <span class="quote_infolabel"><?= __("ID Ficha producto:");?></span><span class="quote_infodata"> <?= $block->escapeHtml($product->getSku()) ?></span>
    </div>
<?php endif; ?>