<?php $parentBlock = $this->getParentBlock(); ?>
<?php $quotes = $parentBlock->getSellers(); ?>
<?php $buttonText = $parentBlock->getButtonText(); ?>
<?php $currentStep = $parentBlock->getCurrentStep(); ?>
<?php $step = $currentStep == 1 ? true : false; ?>
<?php $urlStep2 = $parentBlock->getStep2Url(); ?>
<?php $quotedId = $parentBlock->getQuotedId(); ?>
<?php $stepClass = $currentStep; ?>
<?php $class = 'evaluation-requestforquoted-quote-' . $quotedId . '-step-' . $currentStep; ?>
<?php $idAttribute = 'evaluation-requestedquote-table_' . $quotedId . '_' . $currentStep; ?>
<?php $sellerCount = count($quotes); ?>

<?php if ($sellerCount): ?>
    <form id="rfq" action="<?= $block->escapeUrl($this->getParentBlock()->getDownloadAllUrl()) ?>" method="POST" >
        <div class="table-wrapper">
            <table class="data-table table table-evaluation-requestforquoted <?= $class ?> table-step-<?= $stepClass ?>" id="<?= $idAttribute ?>">
                <thead>
                    <tr>
                        <th scope="col" class="col select-seller"><span>&nbsp;</span></th>
                        <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Seller Name') ?></span></th>
                        <th scope="col" class="col warranty"><span><?= /*@noEscape*/ __('Warranty Month') ?></span></th>
                        <th scope="col" class="col download"><span>&nbsp;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <input type="hidden" name="bulkaction" value="true" />
                    <?php foreach ($quotes as $quote): ?>
                        <input type="hidden" name="quote_id[]" value="<?= $quote->getQuoteId() ?>" />
                        <?php $sellerId = $block->escapeHtml($quote->getSellerId()); ?>
                        <?php $idAttr = 'seller-table-' . $sellerId; ?>
                        <?php $zipName = 'ofertas_tecnicas_' . $quote->getQuoteId() . '_' . $quote->getEntityId() . '.zip'; ?>
                        <tr>
                            <td data-th="Action" class="col select-seller">
                                <input id="<?= $idAttr ?>" type="checkbox" class="seller-check" name="seller_id[]" value="<?= $sellerId ?>">
                            </td>
                            <td data-th="<?= __('Seller Name') ?>" class="seller-name">
                                <span>
                                    <?= $block->escapeHtml($quote->getSellerName()) ?>
                                </span>
                                <span>
                                    <?= __('RUT:') . ' ' . $block->escapeHtml($quote->getRut()) ?>
                                </span>
                            </td>
                            <td data-th="<?= __('Warranty') ?>" class="warranty">
                                <span>
                                    <?= __('%1 months', $block->escapeHtml($quote->getWarranty())) ?>
                                </span>
                                <span>
                                    <?= __('warranty') ?>
                                </span>
                            </td>
                            <td data-th="Action" class="col download">
                                <span class="nobr label wk_action">
                                    <a class="download-<?= $quote->getId() ?> action view"
                                        title="<?= /*@noEscape*/ __('Download technical offer') ?>">
                                        <span><?= /*@noEscape*/  __('Download technical offer') ?></span>
                                    </a>
                                    <script type="text/javascript">
                                            require([
                                                'jquery'
                                            ], function ($) {
                                                $('.download-' + <?= $quote->getId() ?>).click(function(e) {
                                                    e.preventDefault();
                                                    $('body').loader('show');
                                                    fetch(
                                                        '<?= ($this->getParentBlock()->getDownloadUrl($quote)) ?>',
                                                        {
                                                            method: 'GET'
                                                        }
                                                    ).then(
                                                        response => response.blob()
                                                    ).then(
                                                        response => {
                                                            const blob = new Blob([response], {type: 'application/zip'});
                                                            const downloadUrl = URL.createObjectURL(blob);
                                                            const a = document.createElement("a");
                                                            a.href = downloadUrl;
                                                            a.download = "<?= $zipName ?>";
                                                            document.body.appendChild(a);
                                                            a.style.display = "none";
                                                            a.click();
                                                            document.body.removeChild(a);
                                                            $('body').loader('hide');
                                                        }
                                                    );
                                                });
                                            });
	                                    </script>
                                </span>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <?php if ($parentBlock->getPagerHtml()): ?>
                <div class="toolbar bottom">
                    <div class="pager">
                        <p class="toolbar-amount">
                            <span class="toolbar-number"><?= /*@noEscape*/ $parentBlock->getPagerHtml(); ?></span>
                        </p>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <?php if ($step): ?>
            <div class="button-top">
                <div class="button-download-all">
                    <button class="action secundary download-all" title="<?= $buttonText ?>" type="submit">
                        <span><?= $buttonText ?></span>
                    </button>
                </div>
                <div class="button-steps">
                    <a href="<?= $block->escapeUrl($urlStep2) ?>">
                        <button class="action primary download-all" title="<?= __('Go step %1', '2') ?>" type="button">
                            <span><?= __('Go step %1', '2') ?></span>
                        </button>
                    </a>
                </div>
            </div>
        <?php endif; ?>
    </form>
<?php else : ?>
    <div class="message info empty">
        <span>
            <?= /*@noEscape*/ __('No provider replied.'); ?>
        </span>
    </div>
    <form action="<?= $block->escapeUrl($this->getParentBlock()->getDeclareDesertUrl()) ?>" method="POST">
        <input type="hidden" name="quote_id" value="<?= $quotedId ?>" />
        <div class="button-top">
            <div class="button-steps">
                <button class="action primary download-all" title="<?= __("Declare deserted") ?>">
                    <span><?= __("Declare deserted") ?></span>
                </button>
            </div>
        </div>
    </form>
<?php endif ?>
<script type="text/x-magento-init">
{
    "#<?= $idAttribute ?>": {
        "Formax_EvaluateRequestforquote/js/select-sellers": {}
    }
}
</script>