<?php $parentBlock = $this->getParentBlock(); ?>
<?php $quoteId = $parentBlock->getQuotedId(); ?>
<?php $quote = $parentBlock->getQuoteById($quoteId); ?>
<div class="page-title">
    <h1 class="quote-title"><?= /*@noEscape*/ __('Evaluation - %1', $block->escapeHtml($quote->getDescription())) ?></h1>
    <p class="description-title"><?= __('A continuación se presentan los 3 pasos necesarios para evaluar la oferta técnica y económica de los proveedores que ingresan sus respuesta a la cotización.') ?></p>
</div>