.header.content a.logo {
    padding-right:30px;
}

.header.content .store_dropdown {
    float: left;
    max-width: 130px;
}

.header.content .store_dropdown select, .header.content .store_dropdown select:focus {
    background-color: #fff;
    border-radius: 5px;
    height: 37px;
    padding-left: 15px;
    color: #85878a;
    border: 1px solid #EFF1FA;
    -webkit-box-shadow: 0 5px 11px 0 rgba(46,91,255,0.14);
    box-shadow: 0 5px 11px 0 rgba(46,91,255,0.14);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;  
}

.header.content .block.block-search {
    float: left;
    margin-left: 0;
    padding-left: 0;
    width:330px;
}
.header.content .block.block-search #search_autocomplete {
     margin-top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px solid #EFF1FA;
}

.header.content .block-search .minisearch input, 
.header.content .block-search .minisearch input:focus { 
    border-radius: 3px;
    border: 1px solid #EFF1FA;
    -webkit-box-shadow: 0 5px 11px 0 rgba(46,91,255,0.14);
    box-shadow: 0 5px 11px 0 rgba(46,91,255,0.14);
    height: 37px;
    padding: 0 52px 0 10px;
    background: #fff;
    position: static;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.header.content .block-search .action.search {
     right: 10px;
}
.smile-elasticsuite-autocomplete-result dl.autocomplete-list dt.autocomplete-list-title.title-term {
    display: none;
}
.search-autocomplete dl dt:hover, .search-autocomplete dl dt.selected {
    background: #3865fe;
    color: #fff;
}
.search-autocomplete dl dd:hover, .search-autocomplete dl dd.selected {
    background: #fff;
}
.smile-elasticsuite-autocomplete-result .product-shop {
    margin: 0 0px 0 0;
    width: 76%;
}
.search-autocomplete dl dd:not(:empty) {
     border: 1px solid #e6e6e6;
}
.search-autocomplete dl dt:not(:empty) {
      border: 1px solid #e5e5e5;
}
.smile-elasticsuite-autocomplete-result .product-item .price-box.price-final_price {
    margin: 5px 0;
    display: flex;
    justify-content:flex-start; 
    align-items: center;
}
.smile-elasticsuite-autocomplete-result .product-item .price-box::before {
    content: "";
}
.smile-elasticsuite-autocomplete-result .product-item .price-box .price-box.price-final_price::before {
    content: "Desde";
    display: block;
    color: #8798AD;
    line-height: 16px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
}

.smile-elasticsuite-autocomplete-result .product-item .price-box.price-final_price span.price-container.price-final_price.tax.weee {
    font-size: 14px;
    line-height: 20px;
}
.smile-elasticsuite-autocomplete-result .product-item .price-box.price-final_price .price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #8798AD;
    margin-left: 8px;
}

@media (min-width: 401px) and (max-width: 767px) {

.header.content .store_dropdown {
       clear: left;
}
.header.content .block.block-search {
    float: left;
    width:70%;
    margin: 0px 0 20px;
}


}


@media screen and (max-width:420px) {
.header.content .store_dropdown {
       clear: left;
}
.header.content .block.block-search {
    float: left;
    width: 60%;
    margin: 0px 0 20px;
}

.smile-elasticsuite-autocomplete-result .product-image-box {
    float: none;
    padding: 0 5px;
    width: 75px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.smile-elasticsuite-autocomplete-result .product-shop {
    margin: 0 0px 0 0;
    width: 100%;
    text-align: center;
}

}
