aside.modal-popup.confirmseller-modal {
    div.modal-inner-wrap {
      width: inherit;
      text-align: center;
      div#confirm-seller-popup{
        strong{
          color:#000;
        }
        p.price-diff-sellers{
          background-color: #d4f3d3;
          color: #2f791f;
          padding: 10px 30px;
          border-radius: 5px;
          margin: 20px auto;
          width: min-content;
        }
        p.text-modal{
          color: black;
          font-size: 14px;
        }
      }
      .modal-footer {
        button {
          display: flex;
          margin: 0 auto;
          width: 55%;
          font-size: 13px;
          letter-spacing: 0.5px;
          text-transform: none;
          &.no-borders{
            border: none;
            &:hover{
              background: none;
            }
          }
        }
      }
    }
}

.insumos.mpassignproduct-product-view.page-layout-seller-2columns-left {
    .field {
        width: 48%;
    }

    a.action-secondary.wk-ap-btn {
        border-radius: 20px;
        box-shadow: none;
        span {
            color: #0064FF;
            text-shadow: none;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            letter-spacing: 0.75px;
            font-weight: 600;
        }
    }
}