<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">
            <?php if ($block->hasProductUrl()) : ?>
            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                title="<?= $block->escapeHtml($block->getProductName()) ?>" tabindex="-1" class="product-item-photo">
                <?php else : ?>
                <span class="product-item-photo">
                    <?php endif; ?>
                    <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
                    <?php if ($block->hasProductUrl()) : ?>
            </a>
            <?php else : ?>
            </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()) : ?>
                    <a
                        href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else : ?>
                    <?= $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <span class="product-item-sku">
                    <?php
                    $sku = $product->getSku();
                    if ($product->getTypeId() == 'quote') {
                        $sku = explode('-', $sku);
                        unset($sku[0]);
                        $sku = implode('-', $sku);
                    }
                    echo 'ID ' . $sku;
                    ?>
                </span>
                <?php if ($messages = $block->getMessages()) : ?>
                <?php foreach ($messages as $message) : ?>
                <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>">
                    <div><?= $block->escapeHtml($message['text']) ?></div>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock) : ?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif; ?>
            </div>
        </td>

        <?php $voucherProductType = $block->getVoucherProductType($product); ?>
        <?php $voucherProductTypeMsg = $voucherProductType == \Formax\VoucherBuyFlow\Helper\Data::BONIFICATION
            ? __('Bonification Percent') : __('Discount Percent'); ?>
        <?php if ($canApplyMsrp) : ?>
        <td class="col msrp" data-th="<?= $block->escapeHtml($voucherProductTypeMsg) ?>">
            <span class="pricing msrp">
                <span
                    class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>"
                    data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                    <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                </a>
            </span>
        </td>
        <?php else : ?>
        <td class="col price" data-th="<?= $block->escapeHtml($voucherProductTypeMsg) ?>">
            <label class="cc-cartitem-titles">
                <span><?= $voucherProductTypeMsg ?></span>
            </label>

            <?php $unitPrice = $block->getUnitPrice($_item); ?>
            <?php if ($unitPrice === false) : ?>
            <?= $block->getUnitPriceHtml($_item) ?>
            <?php else : ?>
            <span class="price-excluding-tax" data-label="Excl. Tax">
                <span class="cart-price">
                    <span class="price"><?= $unitPrice ?></span>
                </span>
            </span>
            <?php endif; ?>
        </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Amount to Buy')) ?>">
            <div class="field qty">
                <label class="cc-cartitem-titles" for="amount-<?= /* @escapeNotVerified */ $_item->getId() ?>-amount">
                    <span><?= /* @escapeNotVerified */ __('Amount to Buy') ?></span>
                </label>
                <div class="qty-container">
                    <div class="control qty">
                        <input id="amount-<?= /* @escapeNotVerified */ $_item->getId() ?>-amount"
                            name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][amount]"
                            data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                            value="<?= /* @escapeNotVerified */ $block->getAmount($_item) ?>" type="number" size="6"
                            title="<?= $block->escapeHtml(__('Amount to Buy')) ?>" class="input-text qty"
                            data-validate="{required:true,'validate-greater-than-zero':true}"
                            data-role="cart-item-amount" />
                    </div>

                </div>
            </div>
        </td>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
            <div class="field qty cart-qty-container-voucher">
                <label class="cc-cartitem-titles" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
                </label>
                <div class="qty-container">
                    <div class="control qty">
                        <?php if ($product->getTypeId() !== 'quote') : ?>
                        <button type="button" title="Disminuir Cantidad" class="qty-btns decreasing-qty">-</button>
                        <?php endif; ?>
                        <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                            name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                            data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                            value="<?= /* @escapeNotVerified */ $block->getQty() ?>" type="number" size="4"
                            title="<?= $block->escapeHtml(__('Qty')) ?>" class="input-text qty"
                            data-validate="{required:true,'validate-greater-than-zero':true}"
                            data-role="cart-item-qty" />
                        <?php if ($product->getTypeId() !== 'quote') : ?>
                        <button type="button" title="Aumentar Cantidad" class="qty-btns increasing-qty">+</button>
                        <?php endif; ?>
                    </div>

                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
            <label class="cc-cartitem-titles">
                <span><?= __('Subtotal') ?></span>
            </label>
            <?php if ($canApplyMsrp) : ?>
            <span class="cart msrp subtotal">--</span>
            <?php else : ?>
            <?php $rowTotal = $block->getRowTotal($_item); ?>
            <?php if ($rowTotal === false) : ?>
            <?= $block->getRowTotalHtml($_item) ?>
            <?php else : ?>
            <span class="price-excluding-tax" data-label="Excl. Tax">
                <span class="cart-price">
                    <?= $block->getRowTotal($_item) ?>
                </span>
            </span>
            <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr class="item-actions">
        <td colspan="4">
            <div class="actions-toolbar">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>