<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
/** @var Chilecompra\WebkulMarketplace\Rewrite\Webkul\Marketplace\Block\Account\Navigation $block */
$_helper = $block->getMpHelper();
$_quoteHelper = $this->helper(\Webkul\Requestforquote\Helper\Data::class);
$isPartner = $_helper->isSeller();
$isSellerGroup = $_helper->isSellerGroupModuleInstalled();
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($_quoteHelper->getStatusOfModuleFromConfig()) : ?>
<?php if ($_helper->isSeller() && $block->shouldRenderQuoteButton() &&
( (($isSellerGroup && $_helper->isAllowedAction('requestforquote/seller/lists')) || !$isSellerGroup)
    || (($isSellerGroup && $_helper->isAllowedAction('requestforquote/seller/allquotedproduct'))
        || !$isSellerGroup))) {
?>
<li class="level-0 <?= strpos($magentoCurrentUrl, 'requestforquote/seller/lists')? "current active":"";?>">
    <a href="#" onclick="return false;" class="">
        <span><?= /*@noEscape*/  __('Request for Quote')?></span>
    </a>
    <div class="wk-mp-submenu">
        <strong class="wk-mp-submenu-title"><?= /*@noEscape*/  __('Request for Quote')?></strong>
        <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
        <ul>
            <li data-ui-id="menu-webkul-marketplace-menu" class="item-menu  parent  level-1">
                <strong class="wk-mp-submenu-group-title">
                    <span> <?php echo $block->getGenius() ?> </span>
                    <span><?= /*@noEscape*/  __('Menu')?></span>
                </strong>
                <div class="wk-mp-submenu">
                    <ul>
                        <?php if ($isPartner): ?>
                            <?php if ((
                                    $isSellerGroup &&
                                    $_helper->isAllowedAction('requestforquote/seller/lists')) || !$isSellerGroup): ?>
                                <li  class="nav item notification-link level-2
                                    <?= strpos(
                                    $magentoCurrentUrl,
                                    'requestforquote/seller/lists'
                                )? "current active":"";?>">
                                    <a href="
                                        <?= $block->escapeUrl(
                                        $block->getUrl(
                                            'requestforquote/seller/lists',
                                            ['_secure' => $block->getRequest()->isSecure()]
                                        )
                                    ); ?>">
                                        <?= /*@noEscape*/  __('All Requested Quotes') ?>
                                    </a>
                                </li>
                            <?php endif; ?>
                            <?php if ((
                                    $isSellerGroup &&
                                    $_helper->isAllowedAction('requestforquote/seller/allquotedproduct')
                                ) || !$isSellerGroup): ?>
                                <li  class="nav item notification-link level-2
                                    <?= strpos(
                                    $magentoCurrentUrl,
                                    'requestforquote/seller/allquotedproduct'
                                )? "current active":"";?>">
                                    <a href="
                                        <?= $block->escapeUrl(
                                        $block->getUrl(
                                            'requestforquote/seller/allquotedproduct',
                                            ['_secure' => $block->getRequest()->isSecure()]
                                        )
                                    ); ?>">
                                        <?= /*@noEscape*/  __('All Quoted Products') ?>
                                    </a>
                                </li>
                            <?php endif; ?>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
<li>
    <?php } ?>
<?php endif; ?>
