.catalog-product_compare-index {
  .link-container {
    margin: 15px 0;
    .go-back-link {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
    }
  }
}