<?php
/**
 * Must login popup
 *
 */
?>
<div id="cc-mustlogin-popup" style="display:none;">
  <p><?= __('For this action you must be logged in.') ?></p>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "mustlogin-modal": {
          "isLoggedIn": "<?php echo $block->isLoggedIn() ?>",
          "modalContainer": "#cc-mustlogin-popup",
          "modalRole": "cc-mlogin-action"
        }
    }
}
</script>
