<?php
/**
 * @var \Linets\PriceAdjustmentRequest\Block\Adminhtml\Request\NewAction $block
 */
?>
<!--<p><?/*= __('Please select the products to adjust the current price')*/?></p>-->
<p>Selecciona los productos en los que quieres ajustar el precio actual</p>
<?php  echo $block->getGridHtml(); ?>