<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<?php

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$product = $block->getProduct();
$sellerId = 1;
?>
<?php if ($sellerId!=""): ?>
    <?php
        $captchenable = $helper->getCaptchaEnable();
    ?> 
	<div class="ask-que">
		<div id="wk-mp-ask-data" style="display:none">
			<?php
			if($_helper->isLoggedIn()){
				$isLoggedIn = true;
				$readonly = "readonly='readonly'";
			}else{
				$isLoggedIn = false;
				$readonly = '';
			}
			?>
            <div class="subtitle">Enviale tus preguntas directamente al proveedor.</div>
			<form id="ask-form" method="post" action="#" class="fieldset" data-mage-init='{"validation":{}}' enctype="multipart/form-data" >
				<div class="form-list field required" data-bind="scope: 'customer'">
					<label class="label" style="text-transform: uppercase"><?php echo __('Elige el Tema de tu Pregunta') ?> <?php echo __('(OBLIGATORIO)') ?></label>
					<select name="support_type" class="validate-select required-entry">
						<?php foreach ($_helper->getSupportTypes() as $key => $value) { ?>
							<option value=<?php echo $key; ?>><?php echo $value; ?></option>
						<?php }  ?>
					</select>
					
					<?php 
						$canSeeEmail = ($isLoggedIn) ? 'style="display:none;"' : '' ;
					?>
					
					<label <?= $canSeeEmail;?> class="label"><?php echo __('Tu Nombre') ?> <?php echo __('(OBLIGATORIO)') ?>:</label>
					<input <?= $canSeeEmail;?> type="text" name="name" class="queryemail wk-contact_input_fields validate-no-html-tags required-entry" id="name" data-bind="value: customer().fullname" <?php echo $readonly ?>/>
					
					<label <?= $canSeeEmail;?> class="label"><?php echo __('Tu correo') ?> <?php echo __('(OBLIGATORIO)') ?>:</label>
					<input <?= $canSeeEmail;?> type="email" name="email" id="email" data-bind="value: customer().email" class="queryemail validate-no-html-tags required-entry validate-email wk-contact_input_fields" <?php echo $readonly ?>/>
					

					<!--label class="label"><?php echo __('Asunto') ?> :</label>
					<input type="text" name="subject" class="wk-contact_input_fields validate-no-html-tags"/-->

					<label class="label" style="text-transform: uppercase"><?php echo __('Mensaje') ?> <?php echo __('(OBLIGATORIO)') ?></label>
					<textarea id="queryquestion"  name="ask" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
          <script>
              require([
                  "jquery",
                  "mage/translate",
                  "mage/adminhtml/events",
                  "mage/adminhtml/wysiwyg/tiny_mce/setup"
              ], function(jQuery) {
                  wysiwygDescription = new wysiwygSetup("queryquestion1", {
                      "width" : "100%",
                      "height" : "200px",
                      "plugins" : [{"name":"image"}],
                      "tinymce4" : {
                          "toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                      }
                  });
                  wysiwygDescription.setup("exact");
              });
          </script>
					<input type="hidden" name="seller-id" value="<?php echo $sellerId;?>"/>
					<input type="hidden" name="product-id" value="<?php echo $product['entity_id'];?>" />
                    <span class="label" style="text-transform: uppercase"><?php echo __('Archivos (Opcional)') ?></span>
					<div class="input-box">
						<div class="image-con">
                            <label class="file" for="img_attachment">
                                <span class="upload-button action secondary"><?php echo __('Seleccionar Archivo') ?></span>
                                <span class="upload-message"><?php echo __('No file attached') ?></span>
                            </label>
							<input style="display: none;" type="file" id="img_attachment" name="img_attachment" class="wk_imagevalidate"/>
							<a href="javascript:void(0)" class="remove_attch" style="display:none">
								<?php echo __('Remove'); ?>
							</a>
						</div>
						<div id="otherimages"></div>
						<a href="javascript:void(0)" class="product_images" id="add-more-images"><?php echo __("Agregar Más"); ?></a><br />
					</div>
                    <?php
                    if($captchenable){?>
                        <div>
                            <span>
                                <label for="wk-mp-captcha" class="label"><span id="wk-mp-captchalable1"><?php echo rand(1,20)?> </span> + <span id="wk-mp-captchalable2"><?php echo rand(1,20)?> <?php echo __('(OBLIGATORIO)') ?></span> </label>
                            </span>
                            <input type="text" class="required-entry wk-contact_input_fields required-entry" name="wk-mp-captcha" id="wk-mp-captcha" />
                        </div>
                        <?php
                    }?>
				</div>
			</form>
		</div>
	</div>

	<script id="attachment-template" type="text/x-magento-template">
	    <div id='childDiv<%- fields.index %>' class="image-con">
            <label class="file" for="img_attachment<%- fields.index %>">
                <span class="upload-button action secondary"><?php echo __('Seleccionar Archivo') ?></span>
                <span class="upload-message"><?php echo __('No file attached') ?></span>
            </label>
	        <input type='file' name='img_attachment<%- fields.index %>' id='img_attachment<%- fields.index %>' class='wk_imagevalidate'/>
	        <a href="javascript:void(0)" class="remove_attch"><?php echo __('Remove'); ?></a>
	    </div>
	</script>

	<?php
		$releventFormData = [
			'targetAjaxUrl' => $block->getUrl("mpsellerbuyercommunication/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]),
			'captchenable'  => $captchenable,
			'varificationMsg' => __(' enable to varifiy captcha'),
			'formValidator' => '#ask-form',
			'attachmentTemplate' => '#attachment-template',
			'saveAjaxFileUrl' => $block->getUrl("mpsellerbuyercommunication/seller/saveFiles", ["_secure" => $this->getRequest()->isSecure()])
		];

	$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
	?>

	<script type="text/x-magento-init">
	    {
	        "*": {
	            "wkBlockFormplugin": <?php echo $serializedData; ?>
	        }
	    }
	</script>
	<script type="text/x-magento-init">
	{
		"*": {
			"Magento_Ui/js/core/app": {
				"components": {
					"customer": {
						"component": "Magento_Customer/js/view/customer"
					}
				}
			}
		}
	}
	</script>

<?php endif; ?>