<?php
/** @var \Cleverit\CategoryProductPrice\ViewModel\ProductPriceHistory\Details\View $viewModel */
/** @var \Magento\Framework\View\Element\Template $block */
$viewModel = $block->getData('view_model');

$productPriceHistoryData = $viewModel->getProductPriceHistory()->getData();
$assignProductIds = [];
$assignProductIdsUpdated = [];
if ($productPriceHistoryData['status'] == \Cleverit\CategoryProductPrice\Model\ProductPriceHistory::STATUS_COMPLETED) {
    $assignProductIds = $viewModel->getProductPriceHistory()->getFirstAssignProductIds();
} else {
    $assignProductIds = $viewModel->getProductPriceHistory()->getAssignProductIds();
    $firstAssignProductIds = $viewModel->getProductPriceHistory()->getFirstAssignProductIds();
    $assignProductIdsUpdated = array_diff_key($firstAssignProductIds, $assignProductIds);
}
$categories = $viewModel->getCategories();
$status = 0;
switch ($productPriceHistoryData['status']) {
    case \Cleverit\CategoryProductPrice\Model\ProductPriceHistory::STATUS_COMPLETED:
        $status = 'Completed';
        break;
    case \Cleverit\CategoryProductPrice\Model\ProductPriceHistory::STATUS_IN_PROGRESS:
        $status = 'In Progress';
        break;
    case \Cleverit\CategoryProductPrice\Model\ProductPriceHistory::STATUS_INCOMPLETED:
        $status = 'Uncompleted';
        break;
}
?>
<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="table-layout: fixed; width: 90%">
    <tbody>
    <tr>
        <td class="tg-buh4"><?= __("Status"); ?></td>
        <td class="tg-0lax"><?= __($status) ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><?= __("Created At"); ?></td>
        <td class="tg-0lax"><?= $productPriceHistoryData['created_at'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><?= __("Updated At"); ?></td>
        <td class="tg-0lax"><?= $productPriceHistoryData['updated_at'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><?= __("Price Percentage"); ?></td>
        <td class="tg-0lax"><?= $productPriceHistoryData['price_percentage'] . '%' ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><?= __("Categories"); ?></td>
        <td class="tg-0lax"><?= $categories ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><span style="font-weight:400;font-style:normal"><?= __("Product Count Total"); ?></span></td>
        <td class="tg-0lax"><?= $productPriceHistoryData['product_count_total'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><?= __("Product Count Actual"); ?></td>
        <td class="tg-0lax"><?= $productPriceHistoryData['product_count_actual'] ?></td>
    </tr>
    </tbody>
</table>
<?php
if ($productPriceHistoryData['status'] == \Cleverit\CategoryProductPrice\Model\ProductPriceHistory::STATUS_COMPLETED):
?>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that were updated by category product price'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIds as $value): ?>
            <tr>
                <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['id'];?></td>
                <?php
                $assignProductInfo = $viewModel->getAssignItemInfo($value['id']);
                if (!$value['child']):
                    ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['product_id']) ? $assignProductInfo['product_id'] : $assignProductInfo[0]['product_id'] ;?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['seller_id']) ? $assignProductInfo['seller_id'] : $assignProductInfo[0]['seller_id'];?></td>
                <?php else : ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['product_id'];?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['seller_id'];?></td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php
else:
?>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that were updated by category product price'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIdsUpdated as $value): ?>
            <tr>
                <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['id'];?></td>
                <?php
                    $assignProductInfo = $viewModel->getAssignItemInfo($value['id']);
                    if (!$value['child']):
                ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['product_id']) ? $assignProductInfo['product_id'] : $assignProductInfo[0]['product_id'];?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['seller_id']) ? $assignProductInfo['seller_id'] : $assignProductInfo[0]['seller_id'];?></td>
                <?php else : ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['product_id'];?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['seller_id'];?></td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that still need to be updated by category product price'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIds as $value): ?>
            <tr>
                <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['id'];?></td>
                <?php
                $assignProductInfo = $viewModel->getAssignItemInfo($value['id']);
                if (!$value['child']):
                    ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['product_id']) ? $assignProductInfo['product_id'] : $assignProductInfo[0]['product_id'];?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= isset($assignProductInfo['seller_id']) ? $assignProductInfo['seller_id'] : $assignProductInfo[0]['seller_id'];?></td>
                <?php else : ?>
                    <td class="tg-buh4"><?= __('Product ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['product_id'];?></td>
                    <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                    <td class="tg-0lax"><?= $assignProductInfo[0]['seller_id'];?></td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
