<?php

    $helper = $this->helper("Formax\CategoryProductPrice\Helper\Data");

    $postData = $helper->getPostData();

    if (!isset($postData['error'])) {

        $productCount = count($postData['assignProductIds']);

        $data = [
            "importUrl" => $this->getUrl('categoryproductprice/index/save'),
            "finishUrl" => $this->getUrl('categoryproductprice/index/finish'),
            "notCompletedUrl" => $this->getUrl('categoryproductprice/history/notcompleted'),
            "completeLabel" => __("Completed"),
            "notCompletedLabel" => __("Not Completed"),
            "productCount" => $productCount,
            "pricePercentage" => $postData['pricePercentage'],
            "productData" => $postData['assignProductIds'],
            "allCategories" => $postData['allCategories'],
            "productPriceHistoryId" => $postData['productPriceHistoryId'],
            "newIndex" => $postData['newIndex'],
            //"isRunning" => $postData['isRunning']
        ];
        $data = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($data);

?>
<fieldset class="fieldset">
    <div class="wk-mu-note wk-mu-box">
        <?php echo __("Starting Execution..."); ?>
    </div>
    <div class="wk-mu-notice wk-mu-box">
        <?php echo __("Please don't close or refresh the window while product prices are updating."); ?>
    </div>
    <div class="wk-mu-success wk-mu-box">
        <?php echo __("Total %1 Product(s) to update.", $productCount); ?>
    </div>
    <?php if($productCount > 0): ?>
        <div class="wk-mu-info-bar">
            <div class="wk-mu-importing-loader"></div>
            <div class="wk-mu-info-bar-content">
                <?php echo __("Updating"); ?> <span class="wk-current">1</span> <?php echo __("of"); ?> <?= $productCount;?>
            </div>
        </div>
        <div class="wk-mu-progress-bar">
            <div class="wk-mu-progress-bar-current"></div>
        </div>
    <?php else: ?>
        <div class="wk-mu-note wk-mu-box">
            <?php echo __("No Product to update."); ?>
        </div>
        <div class="wk-mu-note wk-mu-box">
            <?php echo __("Finsihed Execution."); ?>
        </div>
    <?php endif; ?>
</fieldset>
<script type="text/x-magento-init">
    {
        "body": {
            "Cleverit_CategoryProductPrice/js/category": <?php echo $data ?>
        }
    }
</script>
<?php } else { ?>
    <div class="error-message"><?= $postData['error'] ?></div>
        <style>
            .error-message {
                color: red;
                font-weight: bold;
                padding-bottom: 2px;
                border-bottom: 1px dashed red;
            }
        </style>
<?php }
