<?php $tipifications = $block->getTipification(); ?>
<?php $weight = $block->getWeight(); ?>
<?php $totalTipifications = count($tipifications); ?>
<?php $totalWeight = count($weight); ?>
<?php $fieldsSaved = $block->getHelper()->getTableRatesbySeller(); ?>

<?php if ($totalTipifications > 0 && $totalWeight > 0) :?>
    <div class="container-regional-condition-matriz">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <?php foreach ($tipifications as $tipification) :?>
                        <th><?= $tipification ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($weight as $w) :?>
                    <tr>
                        <td><?= $w->getDimensionLabel() ?></td>
                        <?php foreach ($tipifications as $key => $tipification) :?>
                            <td>
                                <input type="text" name="shippingcost[<?= $key ?>][<?= $w->getId() ?>]" class="text validate-digits format-price" maxlenght="12"
                                    value="<?= $block->escapeHtml($block->getHelper()->getPostValue('shippingcost', $key, $w->getId()))
                                    ? $block->escapeHtml($block->getHelper()->getPostValue('shippingcost', $key, $w->getId())) 
                                    : $block->escapeHtml($block->getHelper()->getField($fieldsSaved, 'shippingcost', $key, $w->getId())) ?>" />
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else :?>
    <p><?= __("There're no tipifications and/or weight configured.") ?></p>
<?php endif; ?>