#suppliers_box {
  .wk-table-product-list {
    & > tbody {
      & > tr {
        & > td.wk-ap-price {
          span#label-best-price {
            background-color: #d4f3d3;
            color: #2f791f;
            padding: 7px 10px;
            border-radius: 5px;
            margin: 0 0 0 0;
            width: min-content;
            font-size: 10px;
            vertical-align: text-bottom;
          }
        }
        & > td.wk-ap-dispatch-price{
          & > span.wk-ap-product-dispatch-price{
            display: block;
            color: #8798AD;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.tabs_best_prices {
  margin-bottom: 25px;

  label {
    font-size: 19px;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 3px solid #e4e8ec;

    &.label-all_prices {
      margin-left: -4px;
    }
  }

  input[name="table_best_price"] {
    display: none;

    &:checked + label {
      font-weight: 500;
      border-color: #2a64ff;
      transition: 0.25s cubic-bezier(0.4, 0, 1, 1);
    }
  }
}
