<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
    $regionalHelper = $this->helper("Formax\RegionalCondition\Helper\Data");
    $queryString = $helper->getQueryString();
    $isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
    $sellerId = $this->helper('Webkul\Marketplace\Helper\Data')->getCustomerId();
    $collection = $this->getAllProducts();
    $imagehelper = $this->helper('Magento\Catalog\Helper\Image');
    $productId = $helper->getProductId();
    $product = $helper->getProduct();
    $image = 'category_page_list';
    $symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
    $currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
    $currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
    $linkedProductsBasePrice = $helper->getLinkedProductBasePrice($product);
    $basePrice = $linkedProductsBasePrice['offered'] ? $linkedProductsBasePrice['base_price'] : $this->getMaxBasePrice($productId);
    $productImage = $imagehelper->init($product, $image)
                                ->constrainOnly(FALSE)
                                ->keepAspectRatio(TRUE)
                                ->keepFrame(FALSE)
                                ->resize(300)
                                ->getUrl();
    $price = $this->helper('Magento\Framework\Pricing\Helper\Data')
                    ->currency($product
                    ->getFinalPrice(), true, false);
    $productType = $product->getTypeId();

    $attriburtes = [];
    $options = [];
    if ($productType == "configurable") {
        $_attributes = $product->getTypeInstance(true)
                                ->getConfigurableAttributesAsArray($product);
        foreach ($_attributes as $_attribute) {
            $attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
            foreach ($_attribute['options'] as $option) {
                $options[$_attribute['attribute_code']][$option['value']] = $option['label'];
            }
        }
        $isConfig = 1;
    } else {
        $isConfig = 0;
    }
?>
<?php
    $addImageLabel = __("Add Image");
    $baseImageLabel = __("Base Image");
    $deleteImageLabel = __("Delete Showcase");
    $blockHtml = '<div class="wk-showcase-block">';
    $blockHtml .= '<div title= "'.$deleteImageLabel.'" class="wk-delete-item">x</div>';
    $blockHtml .= '<div class="wk-default-block">'.$addImageLabel.'</div>';
    $blockHtml .= '<input type="file" name="showcase[]" accept="image/*" class="wk-showcase-img wk-no-display">';
    $blockHtml .= '<div class="wk-base-image-block"><input name="wk_base[]" type="checkbox" class="wk-base-image-input" value="0"><div class="wk-base-image-label">'.$baseImageLabel.'</div></div>';
    $blockHtml .= '</div>';
    $count = 0;
?>
<?php if ($isPartner == 1): ?>
    <fieldset class="fieldset wk-ap-fieldset">
        <div class="wk-ap-product-view">
            <div class="wk-ap-product-img"><img src="<?php echo $productImage; ?>" /></div>
            <div class="wk-ap-product-description">
                <div class="wk-ap-main-product-name"><a href="<?php echo $product->getProductUrl();?>"><?php echo $product->getName(); ?></a></div>
                <div class="wk-ap-main-product-price" style="display:none;"><?php echo $price; ?></div>
                <div class="wk-ap-main-product-description"><?php echo $product->getDescription(); ?></div>
            </div>
        </div>
    </fieldset>
    <form method="post" action="<?php echo $this->getUrl('mpassignproduct/product/save'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>">
        <input type="hidden" name="product_condition" value="1">
        <fieldset class="fieldset">
            <?php echo $this->getFormKeyBlockHtml(); ?>
            <legend class="legend">
                <span><?php echo __('Assign Product'); ?></span>
            </legend>
            <?php if ($productType != "configurable"): ?>
                <div class="field required">
                    <label for="base_price" class="label">
                        <span><?php echo __('Price base'); echo ' ('.$symbol.')'?></span>
                    </label>
                    <div class="control">
                        <input value="<?= $linkedProductsBasePrice['offered'] ? $linkedProductsBasePrice['value'] : '' ?>"
                               type="number"
                               data-validate="{required:true}"
                               class="input-text required-entry validate-zero-or-greater"
                               title="<?php echo __('Price'); ?>"
                               name="base_price"
                               id="price"
                               aria-required="true"
                            <?= $linkedProductsBasePrice['offered'] ? 'readonly' : '' ?>
                        >
                    </div>
                    <span><?php echo __("Valor de Precio Base máximo %1", $basePrice); ?></span>
                </div>
                <div class="field required">
                    <label for="shipping_price" class="label">
                        <span><?php echo __('Precio de envío'); echo ' ('.$symbol.')'?></span>
                    </label>
                    <div class="control">
                        <input value=""
                               type="text" data-validate="{required:true}"
                               class="input-text required-entry validate-zero-or-greater"
                               title="<?php echo __('ShippingPrice'); ?>"
                               name="shipping_price"
                               id="shipping_price"
                               aria-required="true">
                        <span><?php echo __("La edición de este valor, solo tiene efecto en el precio final de este producto."); ?></span>
                        <span><?php echo __("Valor de Envio máximo %1", $this->getMaxShippingPrice($productId)); ?></span>
                    </div>
                </div>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __("In Stock"); ?></span>
                    </label>
                    <div class="control">
                        <label>
                            <input type="radio" data-validate="{required:true}" name="stock_visual" class="required-entry" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999" <?php echo $block->shouldRenderStockOptions() ? '' : 'disabled' ?> checked>
                            <span><?php echo __('Yes') ?></span>
                        </label>
                        <label>
                            <input type="radio" data-validate="{required:true}" name="stock_visual" class="required-entry" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $block->shouldRenderStockOptions() ? '' : 'disabled' ?> >
                            <span><?php echo __('No') ?></span>
                        </label>
                        <input type="hidden" name="qty" value="99999999">
                    </div>
                </div>
                <?php if(!$block->shouldRenderStockOptions()) { echo "<div class='field'><label>" .  $block->getStockDisableText('display_assign_text') . "</label></div>"; } ?>
            <?php endif; ?>
            <div class="field dccp-tooltip">
                <label for="description" class="label" data-tooltip="Código interno de tu empresa">
                    <span><?php echo __('Product Code') ?> <small>(opcional)</small></span>
                </label>
                <div class="control">
                    <input type="text" class="input-text" title="<?php echo __('Product Code'); ?>" name="description" id="description">
                </div>
            </div>
            <?php if ($block->showUploadFileField($productId, true) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document Backup Price'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file" title="<?php echo __('Upload Document Backup Price'); ?>" name="document_<?= $productId ?>" id="document_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php if ($productType == "configurable"): ?>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __('Associated Products'); ?></span>
                    </label>
                    <div class="control">
                        <table class="data table wk-associated-table">
                            <thead>
                                <tr>
                                    <th class="col check-hide"><input type="checkbox" class="wk-mass-associate"></th>
                                    <th class="col"><?php echo __("Product Name"); ?></th>
                                    <th class="col"><?php echo __("In Stock"); ?></th>
                                    <?php foreach ($attriburtes as $code => $label): ?>
                                        <th class="col"><?php echo $label; ?></th>
                                    <?php endforeach; ?>
                                    <th class="col"><?php echo __("Document Backup Price");?></th>
                                    <th class="col"><?php echo __("Price"); echo ' ('.$symbol.')'?></th>
                                </tr>
                            </thead>
                            <?php
                                $productTypeInstance = $product->getTypeInstance();
                                $usedProducts = $productTypeInstance->getUsedProducts($product);
                                foreach ($usedProducts  as $childProduct) {
                                    $childProduct->getName();
                                    foreach ($attriburtes as $code => $label) {
                                        $val = $childProduct[$code];
                                        $options[$code][$val];
                                    }
                                }
                            ?>
                            <tbody>
                                <?php foreach ($usedProducts  as $childProduct): ?>
                                <?php
                                    $childId = $childProduct->getId();
                                    $region = $childProduct->getRegion();
                                    $regionalConditions = $regionalHelper->getRegionalConditionbySeller($sellerId)['region_id'];
                                ?>
                                <?php if (in_array($region, $regionalConditions)): ?>
                                    <tr>
                                        <td class="col check-hide"><input class="wk-associate-chkbox" name="products[<?php echo $childProduct->getId(); ?>][id]" type="checkbox" value="1"></td>
                                        <td class="col"><?php echo $childProduct->getName(); ?></td>
                                        <td class="col">
                                            <label>
                                                <input type="radio" data-validate="{}" name="products[<?php echo $childProduct->getId(); ?>][qty]" class=" validate-number wk-associated-action" title="<?php echo __('Yes') ?>" aria-required="true" value="99999999">
                                                <span><?php echo __('Yes') ?></span>
                                            </label>
                                            <label>
                                                <input type="radio" data-validate="{}" name="products[<?php echo $childProduct->getId(); ?>][qty]" class=" validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0">
                                                <span><?php echo __('No') ?></span>
                                            </label>
                                        </td>
                                        <?php foreach ($attriburtes as $code => $label): ?>
                                            <?php $val = $childProduct[$code]; ?>
                                            <td class="col">
                                                <input type="hidden" name="products[<?= $childProduct->getId(); ?>][<?= $code; ?>]" value="<?php echo $options[$code][$val]; ?>">
                                                <?php echo $options[$code][$val]; ?>
                                            </td>
                                        <?php endforeach; ?>

                                        <td class="col">
                                            <?php if ($product->getStore()->getCode() === \Intellicore\EmergenciasRenewal\Constants::WEBSITE_CODE): ?>
                                                <?php if ($block->showUploadFileField($childId) &&
                                                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                                                    <div class="clearfix">
                                                        <input type="file" class="input-file" title="<?php echo __('Upload Document'); ?>" name="document_child_<?= $childProduct->getId() ?>" id="document_<?= $childProduct->getId() ?>">
                                                    </div>
                                                    <div class="clearfix">
                                                        <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                                                    </div>
                                                <?php endif; ?>
                                            <?php else:  ?>
                                                <div class="clearfix">
                                                    <input type="file" class="input-file" title="<?php echo __('Upload Document'); ?>" name="products[document_<?= $childProduct->getId() ?>]" id="document_<?= $childProduct->getId() ?>">
                                                </div>
                                                <div class="clearfix">
                                                    <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                                                </div>
                                                <input type="hidden" name="products[<?= $childProduct->getId(); ?>][has_file_attached]" value="0"/>
                                            <?php endif; ?>
                                        </td>

                                        <td class="col">
                                            <input class="wk-associate-price validate-zero-or-greater" name="products[<?php echo $childProduct->getId(); ?>][price]" type="text">
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field required">
                    <div class="control">
                        <button class="button wk-product-save-btn" type="submit">
                            <span><span><?php echo __("Save Product"); ?></span></span>
                        </button>
                    </div>
                </div>
        </fieldset>
    </form>
    <?php
        $data = [];
        $data["defaultImage"] = "";
        $data["msg"] = __("Please select associated product.");
        $data["is_new"] = 1;
        $data["isConfig"] = $isConfig;
        $data["count"] = $count;
        $data["blockHtml"] = $blockHtml;
        $data = json_encode($data);
    ?>
    <script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpAssignProduct/js/item": <?php echo $data ?>,
                "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
            }
        }
    </script>
    <script>
        require([
            'jquery'
        ], function($) {
            $("#wk_mpassignproduct_form").submit(function(event) {
                if ($(this).valid()) {
                    $(".wk-product-save-btn").prop('disabled', true);
                    $(this).unbind().submit();
                }

                return false;
            });
        });
    </script>
<?php else: ?>
    <h2 class="wk-mp-error-msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
<?php endif; ?>
