<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_WkTax
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>

<tr class="totals tax">
  <th scope="row" colspan="1" class="mark">

    <form id="apply-tax-form" class="form tax add" action="<?= $this->getUrl("wktax/checkout/apply") ?>" method="post">
        <div class="select-rule">
          <select name="rule_code">
            <?php $allowed = ['status'=>false]; $selected = ''; ?>
              <?php foreach ($block->getRules() as $key => $ruleData): ?>
                <option value="<?= $key ?>" is_comment_allow="<?= $ruleData['allow_comment'] ?>" <?= $ruleData['is_default'] ? "selected" : "" ?>><?= $ruleData['text'] ?></option>
                <?php
                  if($ruleData['is_default']){
                    $selected = $key;
                  }
                  if($ruleData['allow_comment']) {
                    $allowed['status'] = true;
                    $allowed['key'] = $key;
                    $allowed['comment'] = $block->getOrderComment();
                  }
                ?>
              <?php endforeach; ?>
          </select>
        </div>
    </form>

  </th>
  <td data-th="Tax" class="amount">
      <?php if($allowed['status']): ?>
        <div class="wk_order_comment" <?php if($selected != $allowed['key']): ?>style="display:none;"<?php endif; ?>>
          <textarea type="text" data-key="<?= $allowed['key'] ?>" name="tax_comment" value="<?= $allowed['comment'] ?>" data-validate="{'required-entry':true}" placeholder="<?= __("Why did you choose this option?") ?>" class="price wk_order_comment_inp" rows="3"><?= $allowed['comment'] ?></textarea>
          <button type="button" class="action primary apply-tax">Aplicar</button>
        </div>
      <?php endif; ?>
      <span class="price default" <?php if($selected == $allowed['key']): ?>style="display:none;"<?php endif; ?>>
        <?= $block->getData('tax_value') ?>
      </span>
  </td>
</tr>

<script type="text/x-magento-init">
{
    "*": {
        "Webkul_WkTax/js/wktax-ajax": {
          "formUrl": "<?= $this->getUrl("wktax/checkout/apply") ?>"
        }
    }
}
</script>
