<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAttributeMapping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$attributeGroups=$block->getAttributeGroups();
$attributeSetId=$block->getAttributeSetId();
$mappingId=$block->getMappingId();
$baseUrl=$block->getBaseUrl();
?>
<div class="field">
    <label class="label" for="associated_attributes"><span><?php echo __('View Attributes ') ?></span></label>
    <div class="control">
    <select multiple="multiple" id="attribute_groups" name="attribute_groups[]" size="10" class="required-entry test select multiselect admin__control-multiselect"
    data-form-part="attributemapping_mapping_mapcategoryattribute" style="width:65%">
   </select>
    </div>
</div>
<input type="hidden" name="baseUrl" class="baseUrl" value="<?php echo $baseUrl;?>"/>
