& when (@media-common = true) {
  .vehiculos {
    &.marketplace-seller-profile {
      .wk_mp_design {
        max-width: 1240px;
        background-color: #FFF;
        margin: 0 auto;
        padding: 45px 30px 0;
      }

      .wk-mp-collection-header-box {
        width: 100%;
        margin: 0;
        border-bottom: none;

        &:after {
          content: " ";
          display: block;
          bottom: -2px;
          right: 0;
          width: 100%;
          max-width: 1140px;
          padding: 5px 0;
          border-bottom: 2px solid darken(#FBFCFF, 1%);
          position: absolute;
        }

        .wk-mp-collection-seller-title-container {
          padding: 0;
          display: flex;
          justify-content: flex-start;

          .wk-mp-collection-seller-title {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: flex-end;
            padding: 10px 20px;

            .shop-rut {
              font-size: 18px;
              font-weight: 700;
              color: #7f92aa;
            }

            a {
              color: #4b5157;
              font-size: 26px;
              font-weight: 300;
              cursor: pointer;
            }
          }
        }

        .wk-mp-collection-logo {
          width: auto;
          position: initial;
          left: initial;
          border: none;
          padding: 0;
          box-sizing: initial;
          box-shadow: initial;
          height: 80px;
          min-width: 80px;
        }
      }

      .wk-mp-profile-block {
        border-bottom: none;
        padding-bottom: 0;
      }

      .box-regional-info {
        .title {
          text-transform: uppercase;
          border-bottom: 1px solid #ECEEF1;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          color: #2E384D;
        }

        th {
          font-weight: bold;
          color: #363F53;
        }

        td {
          font-weight: 100;
        }

        th, td {
          padding: 15px 20px;
        }

        tbody tr:nth-child(odd) {
          th, td {
            background-color: #F7F7F7;
          }
        }
      }

      .wk-mp-aboutus-title {
        color: #4b5157;
        font-size: 26px;
        font-weight: 300;
        text-align: right;
        margin: 0;
        padding-right: 20px;
      }

      .wk-mp-aboutus-data {
        border-left: none;
      }

      .box-regional-matrix, .box-regional-info {
        .item {
          border: none;
          padding: 0;
        }
      }

      .rc-icon-arrow {
        &:after {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 16px;
          color: #000;
          content: '\e622';
          font-family: 'luma-icons';
          vertical-align: middle;
          display: inline-block;
          font-weight: normal;
          overflow: hidden;
          speak: none;
          text-align: center;
          transform: rotate(-5deg);
          transition: transform .3s;
        }
      }

      [aria-expanded=true] {
        .rc-icon-arrow {
          &:after {
            transform: rotate(175deg);
          }
        }
      }

      .cc-seller-stamps {
        .no-stamps {
          display: block !important;
        }
      }
    }
  }

}
