<?php
use Formax\QuotesSupplier\Helper\Data as QuotesSupplierHelper;
$helper = $block->getHelperObj();
$filterQuoteName = '';
$filterQuoteId = '';
$filterStatus = '';
$filterOc = '';
$filterOrganization = '';
$filterServiceType = '';
$filterAwardedDate = '';
$filterPublicationStartDate = '';
$filterPublicationEndDate = '';
$filterEvaluationStartDate = '';
$filterEvaluationEndDate = '';
$request = $block->getRequestObj();

if ($request->getParam('quote_id') != '') {
    $filterQuoteId = trim($request->getParam('quote_id'));
}
if ($request->getParam('quote_name') != '') {
    $filterQuoteName = trim($request->getParam('quote_name'));
}
if ($request->getParam('status') != '') {
    $filterStatus = trim($request->getParam('status'));
}
if ($request->getParam('oc') != '') {
    $filterOc = trim($request->getParam('oc'));
}
if ($request->getParam('organization_name') != '') {
    $filterOrganization = trim($request->getParam('organization_name'));
}
if ($request->getParam('awarded_date') != '') {
    $filterAwardedDate = trim($request->getParam('awarded_date'));
}
if ($request->getParam('publication_start') != '') {
    $filterPublicationStartDate = trim($request->getParam('publication_start'));
}
if ($request->getParam('publication_end') != '') {
    $filterPublicationEndDate = trim($request->getParam('publication_end'));
}
if ($request->getParam('evaluation_start') != '') {
    $filterEvaluationStartDate = trim($request->getParam('evaluation_start'));
}
if ($request->getParam('evaluation_end') != '') {
    $filterEvaluationEndDate = trim($request->getParam('evaluation_end'));
}
if ($request->getParam('service_type') != '') {
    $filterServiceType = trim($request->getParam('service_type'));
}
?>
<?php $quotes = $block->getRequestedQuote(); ?>
<div class="wk_mp_design">
    <form action="<?= $block->getUrlList() ?>" method="get">
      <div class="content-wk_mp_quote_table">
        <div class="link-download">
            <a title="<?= __('Download all information') ?>" href="<?= $block->getDownloadUrl($request->getParams()) ?>"><?= __('Download all information') ?></a>
        </div>
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
                <tr id="wk_mp_tr_heading">
                    <th><span><?= /*@noEscape*/ __('Public Organization Name') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('ID/OC') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Status') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Awarded Date') ?></th>
                </tr>
            </thead>
            <tbody class="wk_mp_body">
                <tr>
                    <td>
                        <input type="text" class="input-text" name="organization_name" value="<?= $block->escapeHtml($filterOrganization)?>"/>
                    </td>
                    <td>
                        <input type="text" class="input-text" name="oc" value="<?= $block->escapeHtml($filterOc)?>"/>
                    </td>
                    <td>
                        <select name="status" class="input-text">
                            <option value="" <?php if ($filterStatus === '') { echo 'selected="selected"'; }?>><?= /*@noEscape*/ __('Select...') ?></option>
                            <option value="<?= QuotesSupplierHelper::PUBLISHED ?>" <?php if ($filterStatus == QuotesSupplierHelper::PUBLISHED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Published') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::PUBLICATION_CLOSED ?>" <?php if ($filterStatus == QuotesSupplierHelper::PUBLICATION_CLOSED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Publication Closed') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::EVALUATION ?>" <?php if ($filterStatus == QuotesSupplierHelper::EVALUATION) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('In Evaluation') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::EVALUATION_CLOSED ?>" <?php if ($filterStatus == QuotesSupplierHelper::EVALUATION_CLOSED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Evaluation Closed') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::AWARDED ?>" <?php if ($filterStatus == QuotesSupplierHelper::AWARDED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Provider Selected') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::FINISHED ?>" <?php if ($filterStatus == QuotesSupplierHelper::FINISHED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Finished') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::DESERT ?>" <?php if ($filterStatus == QuotesSupplierHelper::DESERT) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Desert') ?>
                            </option>
                            <option value="<?= QuotesSupplierHelper::REJECTED ?>" <?php if ($filterStatus == QuotesSupplierHelper::REJECTED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Rejected') ?>
                            </option>
                        </select>
                    </td>
                    <td>
                        <input name="awarded_date" id="awarded_date" class="input-text" value="<?= $block->escapeHtml($filterAwardedDate)?>" />
                    </td>
                </tr>
                <tr>
                    <td class="no-padding" colspan="4">
                        <table cellspacing="0">
                            <thead>
                            <tr id="wk_mp_tr_heading">
                                <th><span><?= /*@noEscape*/ __('Publication Start Date') ?></span></th>
                                <th><span><?= /*@noEscape*/ __('Publication End Date') ?></span></th>
                                <th><span><?= /*@noEscape*/ __('Evaluation Start Date') ?></span></th>
                                <th><span><?= /*@noEscape*/ __('Evaluation End Date') ?></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input name="publication_start" id="publication_start" class="input-text" value="<?= $block->escapeHtml($filterPublicationStartDate)?>" />
                                </td>
                                <td>
                                    <input name="publication_end" id="publication_end" class="input-text" value="<?= $block->escapeHtml($filterPublicationEndDate)?>" />
                                </td>
                                <td>
                                    <input name="evaluation_start" id="evaluation_start" class="input-text" value="<?= $block->escapeHtml($filterEvaluationStartDate)?>" />
                                </td>
                                <td>
                                    <input name="evaluation_end" id="evaluation_end" class="input-text" value="<?= $block->escapeHtml($filterEvaluationEndDate)?>" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="no-padding" colspan="4">
                        <table cellspacing="0">
                            <thead>
                                <tr id="wk_mp_tr_heading">
                                    <th><span><?= /*@noEscape*/ __('Name Quote') ?></span></th>
                                    <th><span><?= /*@noEscape*/ __('ID Quote') ?></span></th>
                                    <th><span><?= /*@noEscape*/ __('Service Type') ?></span></th>
                                    <th><span>&nbsp;</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="input-text" name="quote_name" value="<?= $block->escapeHtml($filterQuoteName)?>"/>
                                    </td>
                                    <td>
                                        <input type="text" class="input-text" name="quote_id" value="<?= $block->escapeHtml($filterQuoteId)?>"/>
                                    </td>
                                    <td>
                                        <select name="service_type" id="service_type" class="input-text">
                                            <option value="" <?php if ($filterServiceType === '') { echo 'selected="selected"'; }?>>
                                                <?= /*@noEscape*/ __('Select...') ?>
                                            </option>
                                            <?php foreach ($block->getCategoriesCmSoftware() as $category): ?>
                                                <option value="<?= $category['label'] ?>" <?php if ($filterServiceType == $category['label']) { echo 'selected="selected"'; }?>>
                                                    <?= /*@noEscape*/ $category['label'] ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="button submit-quotes" title="Save" type="submit">
                                            <span><span><span><?= /*@noEscape*/ __('Search') ?></span></span></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
    </form>
    <?php if ($quotes->getSize()) : ?>
        <div class="table-wrapper">
            <table class="data-table table mp-public-requestedquote" id="wk_mp_requestedquote_table">
                <thead>
                    <tr>
                        <th scope="col" class="col quote"><span><?= /*@noEscape*/ __('Subject') ?></span></th>
                        <th scope="col" class="col organization"><span><?= /*@noEscape*/ __('Public Organization') ?></span></th>
                        <th scope="col" class="col publication-date"><span><?= /*@noEscape*/ __('Publication Period') ?></span></th>
                        <th scope="col" class="col evaluation-date"><span><?= /*@noEscape*/ __('Evaluation Period') ?></span></th>
                        <th scope="col" class="col award-date"><span><?= /*@noEscape*/ __('Award Information') ?></span></th>
                        <th scope="col" class="col status"><span><?= /*@noEscape*/ __('Status') ?></span></th>
                        <th scope="col" class="col action"><span><?= /*@noEscape*/ __('Actions') ?></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php $_odd = ''; ?>
                    <?php  foreach ($quotes as $quote) :
                        $quoteDetails = $block->getQuoteDetail($quote->getId());
                    ?>
                        <tr>
                            <td data-th="Subject of Requested Quote" class="col quote">
                                <a href="<?= $block->escapeUrl($block->getUrlDetail($quote->getId())) ?>" title="<?= /*@noEscape*/ __('View Quote Details')?>" class="action view"><span class="name-quote"><?= $block->escapeHtml($quote->getDescription()) ?></span></a>
                                <span class="subject"><?= $block->escapeHtml($quote->getSubject()) ?></span>
                                <span class="id">ID <?= $block->escapeHtml($quote->getEntityId()) ?></span>
                            </td>
                            <td data-th="Public Organization" class="col organization">
                                <span class="nobr"><?= $block->escapeHtml($quote->getOrganization()) ?></span>
                            </td>
                            <td data-th="Publication Period" class="col publication-period">
                                <span class="created-at"><?= __('Start Date') ?> <b><?= $block->escapeHtml($block->formatDateTime($quote->getCreatedAt())) ?></b></span>
                                <?php if ($quote->getPublicationEnd()): ?>
                                    <span class="publication-end"><?= __('End Date') ?> <b><?= $block->escapeHtml($block->formatDateTime($quote->getPublicationEnd())) ?></b></span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Evaluation Period" class="col evaluation-start-date">
                                <span class="created-at"><?= __('Start Date') ?> <b><?= $block->escapeHtml($block->formatStartDateTime($quote->getEvaluationStart())) ?></b></span>
                                <?php if ($quote->getEvaluationEnd()): ?>
                                    <span class="publication-end"><?= __('End Date') ?> <b><?= $block->escapeHtml($block->formatDateTime($quote->getEvaluationEnd())) ?></b></span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Award Information" class="col award-date">
                                <?php if ($quote->getAwardDate()): ?>
                                    <span class="award-date"><?= __('Award Date') ?><br>
                                        <b><?= $block->escapeHtml($block->formatDateTime($quote->getAwardDate())) ?></b>
                                    </span>
                                <?php endif; ?>
                                <?php if ($quote->getSellerName()): ?>
                                <span class="seller-name"><?= __('Provider Name') ?><br>
                                    <a href="<?= $block->escapeUrl($block->getUrlSellerProfile($quote->getShopUrl())) ?>" title="<?= $block->escapeHtml($quote->getSellerName()) ?>" class="action view">
                                        <span class="awarded-seller"><?= $block->escapeHtml($quote->getSellerName()) ?></span>
                                    </a>
                                </span>
                                <?php endif; ?>
                                <?php if ( $quoteDetails->getOrdenDeCompra() && $quoteDetails->getUrlOrdenDeCompra() ): ?>
                                    <span class="purchase-order"><?= __('Purchase Order') ?><br>
                                        <b><?= $block->escapeHtml($quoteDetails->getOrdenDeCompra()) ?></b>
                                    </span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Status" class="col status status-<?php echo $quote->getStatus() ?>">
                                <span>
                                    <?php
                                    if ($quote->getStatus() == QuotesSupplierHelper::PUBLISHED) {
                                        /*@noEscape*/ echo __('Published');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::PUBLICATION_CLOSED) {
                                        /*@noEscape*/ echo __('Publication Closed');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::EVALUATION) {
                                        /*@noEscape*/ echo __('In Evaluation');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::EVALUATION_CLOSED) {
                                        /*@noEscape*/ echo __('Evaluation Closed');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::AWARDED) {
                                        /*@noEscape*/ echo __('Provider Selected');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::FINISHED) {
                                        /*@noEscape*/ echo __('Finished');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::DESERT) {
                                        /*@noEscape*/ echo __('Desert');
                                    } elseif ($quote->getStatus() == QuotesSupplierHelper::REJECTED) {
                                        /*@noEscape*/ echo __('Rejected');
                                    } else {
                                        /*@noEscape*/ echo __('Created');
                                    }
                                    ?>
                                </span>
                            </td>
                            <td data-th="Action" class="col action">
                                <span class="nobr label wk_action">
                                    <a href="<?= $block->escapeUrl($block->getUrlDetail($quote->getId())) ?>" target="_blank" title="<?= /*@noEscape*/ __('View Quote Detail')?>">
                                        <span><?= /*@noEscape*/ __('View Quote Detail')?></span>
                                    </a>
                                    <?php if ($quote->getUrlOrdenDeCompra()): ?>
                                        <br/>
                                        <a href="<?= $block->escapeUrl($block->getUrl('publicquotes/requestforquote/jobsteam', ['id' => $quote->getId()])); ?>" target="_blank" title="<?= /*@noEscape*/ __('Equipo de trabajo y entregables')?>">
                                            <span><?= /*@noEscape*/ __('Equipo de trabajo y entregables')?></span>
                                        </a>
                                    <?php endif; ?>

                                </span>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else : ?>
        <div class="message info empty" style="margin-top:20px;">
            <span>
                <?= /*@noEscape*/ __('No Record found.'); ?>
            </span>
        </div>
    <?php endif ?>
    <div class="toolbar bottom">
        <div class="pager">
            <p class="toolbar-amount">
                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
            </p>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        "mage/calendar"
    ], function ($) {
        $( "#awarded_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#publication_start" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#publication_end" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#evaluation_start" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#evaluation_end" ).datepicker({dateFormat: "yy-mm-dd"});
    });
</script>
