<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php

use Formax\QuotesSupplier\Helper\Data as QuotesSupplierHelper;

/** @var \Formax\PublicQuote\Block\Account\Customer\View $block */
$helper = $block->getHelperObj();
$cmSofwareHelper = $block->getCmSoftwareHelper();
$quote = $block->getQuoteDetail();
if ($quote) {
    $unitPurchase = $block->escapeHtml($cmSofwareHelper->getPurchaseUnitByCode($quote->getOrganizationUnit()));
    $requestforquoteName = $block->escapeHtml($quote->getDescription());
    $oc = $quote ? $block->escapeHtml($quote->getOrdenDeCompra()) : '';
    $urlOrdenCompra = $quote ? $block->escapeHtml($quote->getUrlOrdenDeCompra()) : '';
    $amount = $quote ? $quote->getFinalPrice() : '';
    $sellerCount = $block->getSellersCountFromQuote();
    $product = $block->getProductDetails($quote->getProductId());
    $description = $quote->getDescription();
    $organization = $block->escapeHtml($quote->getOrganization());
    $status = $quote->getStatus();
    $dates = [
        'Publication Start Date' => $block->escapeHtml($block->formatDateTime($quote->getCreatedAt())),
        'Publication End Date' => $block->escapeHtml($block->formatDateTime($quote->getPublicationEnd())),
        'Evaluation Start Date' => $block->escapeHtml($block->formatStartDateTime($quote->getEvaluationStart())),
        'Evaluation End Date' => $block->escapeHtml($block->formatDateTime($quote->getEvaluationEnd()))
    ];
}
$zipName = 'ofertas_tecnicas' . ($quote ? '_' . $quote->getEntityId() : '') . '.zip';
?>
<?php if ($quote): ?>
    <div class="wk_mp_design">
        <div class="wk_mp_rfq_communication_box">
            <div class="box-header">
                <div class="box-left">
                    <div class="head-info">
                        <div class="page-title">
                            <?= __('Cotización ID %1', $quote->getEntityId()) ?>
                        </div>
                    </div>
                    <div class="customerdata">
                        <b><?= __("Organismo"); ?>: </b><?= $organization ?><br>
                        <b><?= __("Unidad de compra"); ?>: </b><?= $organization ?><br>
                    </div>
                    <div class="quote_info">
                        <?php if ($oc): ?>
                            <div>
                                <span class="quote_infodata"><?= __('ID Orden de Compra:'); ?></span>
                                <span class="quote_infolabel"> <?= $oc ?></span><br>
                            </div>
                        <?php endif; ?>
                        <div>
                            <span class="quote_infodata"><?= __('Ficha servicio:'); ?></span>
                            <span
                                class="quote_infolabel"><?= $cmSofwareHelper->getCategoryName($product) . ' ID ' . $block->escapeHtml($product->getSku()) ?></span>
                        </div>
                        <?php if ($amount): ?>
                            <div>
                                <span class="quote_infodata"><?= __('Monto:'); ?></span>
                                <span
                                    class="quote_infolabel"><?= $cmSofwareHelper->currencyFormat($amount) ?></span><br>
                            </div>
                        <?php endif; ?>
                        <?php if ($status): ?>
                            <div>
                                <span class="quote_infodata"><?= __('Status:'); ?></span>
                                <span class="quote_infolabel"><?php
                                    switch ($status) {
                                        case QuotesSupplierHelper::PUBLISHED:
                                            /*@noEscape*/
                                            echo __('Published');
                                            break;
                                        case QuotesSupplierHelper::EVALUATION:
                                            /*@noEscape*/
                                            echo __('In Evaluation');
                                            break;
                                        case QuotesSupplierHelper::AWARDED:
                                            /*@noEscape*/
                                            echo __('Provider Selected');
                                            break;
                                        case QuotesSupplierHelper::FINISHED:
                                            /*@noEscape*/
                                            echo __('Finished');
                                            break;
                                        case QuotesSupplierHelper::DESERT:
                                            /*@noEscape*/
                                            echo __('Desert');
                                            break;
                                        case QuotesSupplierHelper::DRAFT:
                                            /*@noEscape*/
                                            echo __('Saved');
                                            break;
                                        case QuotesSupplierHelper::PUBLICATION_CLOSED:
                                            /*@noEscape*/
                                            echo __('Publication Closed');
                                            break;
                                        case QuotesSupplierHelper::EVALUATION_CLOSED:
                                            /*@noEscape*/
                                            echo __('Evaluation Closed');
                                            break;
                                        case QuotesSupplierHelper::REJECTED:
                                            /*@noEscape*/
                                            echo __('Rejected');
                                            break;
                                        default:
                                            $pending = true;
                                            /*@noEscape*/
                                            echo __('Published');
                                    }
                                    $cmSofwareHelper->currencyFormat($amount)
                                    ?>
                                </span><br>
                            </div>
                        <?php endif; ?>
                        <?php foreach ($dates as $key => $value): ?>
                            <div>
                                <span class="quote_infodata"><?= __($key) . ': '; ?></span>
                                <span class="quote_infolabel"><?= $value ?></span><br>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
                <div class="box-right">
                    <div class="container-box-right">
                        <?php if ($quote->getAwardDate()): ?>
                            <div class="quote_info-provider-responded">
                                <span class="quote_infodata-box"><?= $quote->getSellerName() ?></span><br>
                                <span class="quote_infolabel-box"><?= __('Awarded this quote') ?></span>
                                <div class="container-box-link">
                                    <a class="download-seller"
                                       href="<?= $block->escapeUrl($block->getDownloadSellerAwardedUrl($quote)) ?>"
                                       title="<?= __('Download all information') ?>">
                                        <span><?= __('Download all information') ?></span>
                                    </a>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="quote_info-provider-responded">
                            <span class="quote_infodata-box"><span class="quantity"><?= $sellerCount ?></span> <span
                                    class="seller"><?= __('Sellers') ?></span></span><br>
                            <span class="quote_infolabel-box"><?= __('Answer your requestedforquoted') ?></span>
                            <?php if ($status != QuotesSupplierHelper::PUBLISHED): ?>
                                <div class="container-box-link">
                                    <a class="view-seller" href="<?= $block->escapeUrl($block->getSellerUrl()) ?>"
                                       title="<?= __('See list of participating providers') ?>">
                                        <span><?= __('See list of participating providers') ?></span>
                                    </a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info_comprador">
                <div class="field antecedentes_generales">
                    <?= __('Antecedentes Generales') ?>
                </div>
                <div class="container-first">
                    <div class="field description">
                        <p><?= __('Nombre de la cotización') ?></p>
                        <span><?= $requestforquoteName ?></span>
                    </div>
                    <div class="field tic">
                        <p><?= __('Código comité TIC (Si tiene)') ?></p>
                        <span><?= $block->escapeHtml($quote->getTic()) ?></span>
                    </div>
                </div>
                <div class="container-second">
                    <div class="field publication_term">
                        <p><?= __('Plazo de publicación') ?></p>
                        <span><?= $block->escapeHtml($quote->getPublicationTerm()) . ' ' . __('business days') ?></span>
                    </div>
                    <div class="field evaluation_term">
                        <p><?= __('Plazo de evaluación') ?></p>
                        <span><?= $block->escapeHtml($quote->getEvaluationTerm()) . ' ' . __('business days') ?></span>
                    </div>
                    <div class="field publication_term">
                        <p><?= __('Plazo para realizar preguntas') ?></p>
                        <span><?= $block->escapeHtml($quote->getMakeQuestionTerm()) . ' ' . __('business days') ?></span>
                    </div>
                    <div class="field email">
                        <p><?= __('Correo eletrónico') ?></p>
                        <span><?= $block->escapeHtml($quote->getEmail()) ?></span>
                    </div>
                    <div class="field compliance_guarantee">
                        <p><?= __('Garantía de fiel cumplimento de acuerdo complementario') ?></p>
                        <span><?= $block->escapeHtml($cmSofwareHelper->numberFormat($quote->getComplianceGuarantee())) ?>%</span>
                    </div>
                    <div class="field beneficiary">
                        <span><?= $block->escapeHtml($quote->getBeneficiary()) ?></span>
                    </div>
                </div>
                <div class="field descripcion_requerimientos">
                    <?= __('Descripción de los requerimientos') ?>
                </div>
                <div class="field recruitment_target">
                    <p><?= __('Objeto contratación') ?></p>
                    <span><?= $block->escapeHtml($quote->getRecruitmentTarget()) ?></span>
                </div>
                <div class="field especific_requirement">
                    <p><?= __('Requerimientos específicos') ?></p>
                    <span><?= $block->escapeHtml($quote->getEspecificRequirement()) ?></span>
                </div>
                <div class="field engagement_scope">
                    <p><?= __('Alcance de la contratación') ?></p>
                    <span><?= $block->escapeHtml($quote->getEngagementScope()) ?></span>
                </div>
                <div class="field servicios_entregables">
                    <?= __('Servicios y/o productos entregrables') ?>
                </div>
                <div class="field">
                    <div class="field deliverable_services">
                        <?php $deliverableServices = json_decode($quote->getDeliverableServices()); ?>
                        <table class="evaluation_table modality_2">
                            <thead>
                            <tr>
                                <th>
                                    <?= __('Service Name') ?>
                                </th>
                                <th>
                                    <?= __('Detail') ?>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($deliverableServices->data as $key => $service): ?>
                                <tr>
                                    <td><?= $service->service_name ?></td>
                                    <td> <?= $service->detail ?> </td>
                                </tr>
                            <?php endforeach; ?>

                            </tbody>
                        </table>

                    </div>
                    <div class="field execution_services_term_number">
                        <p><?= __('Plazo máximo disponible para la ejecución de los servicios') ?></p>
                        <span>
						<?= $block->escapeHtml($quote->getExecutionServicesTermNumber()) . ' ' . $block->escapeHtml($cmSofwareHelper->getTextServiceTerm($quote->getExecutionServicesTermText())) ?>
					</span>
                    </div>
                    <div class="field execution_services_term_text">
                        <span></span>
                    </div>
                    <div class="field amount">
                        <p><?= __('Presupuesto máximo') ?></p>
                        <span><?= $block->escapeHtml($cmSofwareHelper->currencyFormat($quote->getAmount())) ?></span>
                    </div>
                </div>

                <div class="field servicios_entregables">
                    <?= __("Modalidad") ?>
                    : <?= $quote->getEvaluationModality() == 1 ? __("Cumplimiento de requerimientos técnicos") : __("Criterios de evaluación") ?>
                </div>
                <div class="container-four">
                    <?php
                    $evaluation_html = "";
                    if ($quote->getEvaluationModality() == 2) {
                        $evaluation = json_decode($quote->getTableEvaluationCriteria());
                        foreach ($evaluation->data->evaluation_label as $key => $eva_mod2) {
                            if (isset($evaluation->data->$key->weight)) {
                                $evaluation_html .= "<tr><td>" . $eva_mod2 . "</td>";
                                $evaluation_html .= "<td>" . $evaluation->data->$key->weight . "</td>";
                                $evaluation_html .= "<td>" . $evaluation->data->$key->observations . "</td></tr>";
                            }
                        }
                    } elseif ($quote->getEvaluationModality() == 1) {
                        $minimumoffers = json_decode($quote->getMinimumOfferRequired());
                        foreach ($minimumoffers->data as $min_offer) {
                            $evaluation_html .= "<tr><td>" . $min_offer . "</td></tr>";
                        }
                    }
                    ?>
                    <table class="evaluation_table modality_<?= $quote->getEvaluationModality() ?>">
                        <thead>
                        <tr>
                            <?php if ($quote->getEvaluationModality() == 2): ?>
                                <th><?= __("Criterios de evaluación") ?></th>
                                <th><?= __("Ponderación (%)") ?></th>
                                <th><?= __("Observaciones y consideraciones del criterio") ?></th>
                            <?php endif; ?>
                            <?php if ($quote->getEvaluationModality() == 1): ?>
                                <th><?= __("Requerimiento mínimo de la oferta") ?></th>
                            <?php endif; ?>
                        </tr>
                        </thead>
                        <tbody>
                        <?= $evaluation_html ?>
                        </tbody>
                    </table>
                </div>
                <?php if ($quote->getEvaluationModality() == 2): ?>
                    <div class="field servicios_entregables">
                        <?= __("Umbral de corte evaluación técnica") ?>
                    </div>
                    <div class="field score">
                        <p><?= __("Puntaje") ?></p>
                        <span><?= $block->escapeHtml($cmSofwareHelper->numberFormat($quote->getScore())) ?></span>
                    </div>
                <?php endif; ?>
                <div class="field match_criterias">
                    <p><?= __('Criterios de desempate') ?></p>
                    <span><?= $block->escapeHtml($quote->getMatchCriterias()) ?></span>
                </div>
                <?php $files = $cmSofwareHelper->getFilesPath($quote->getFile()); ?>
                <?php if ($files): ?>
                    <div class="field servicios_entregables">
                        <?= __('Documentos adjuntos') ?>
                    </div>
                    <div class="container-files">
                        <?php foreach ($files as $file): ?>
                            <div class="field file">
                                <!--<div class="check-file">
                                <input type="checkbox" name="" value="">
                                </div>-->
                                <div class="info-file">
                                    <span><?= $file['name'] ?></span>
                                    <p><?= __('Archivo %1', $file['ext']) ?></p>
                                </div>
                                <div class="download-file">
                                    <a href="<?= $file['url'] ?>" target="_blank">
                                        <span><?= __('Descargar') ?></span>
                                    </a>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="text-right" style="margin-top: 10px;">
                    <?php $linkText = __('Descargar solicitud de cotización y documentos adjuntos') ?>
                    <a class="downloadall" title="<?= $linkText ?>">
                        <span><?= $linkText ?></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="info_evaluacion">
        <?= $block->getChildHtml('evaluation') ?>
    </div>
    <?php if ($status == QuotesSupplierHelper::REJECTED): ?>
        <div class="info_evaluacion">
            <?= $block->getChildHtml('rejected') ?>
        </div>
    <?php endif; ?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                $('.wk_req_admin_defined_attribute_span_text').css('display', 'block');
                $('.wk_req_admin_defined_attribute_input').css('display', 'none');
            });

            $('.downloadall').click(function (e) {
                e.preventDefault();
                $('body').loader('show');
                fetch(
                    '<?= $block->getDownloadQuoteUrl($quote) ?>',
                    {
                        method: 'GET'
                    }
                ).then(
                    response => response.blob()
                ).then(
                    response => {
                        const blob = new Blob([response], {type: 'application/zip'});
                        const downloadUrl = URL.createObjectURL(blob);
                        const a = document.createElement("a");
                        a.href = downloadUrl;
                        a.download = "<?= $zipName ?>";
                        document.body.appendChild(a);
                        a.style.display = "none";
                        a.click();
                        document.body.removeChild(a);
                        $('body').loader('hide');
                    }
                );
            });
        });
    </script>
<?php endif; ?>
