<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php $productId = $block->getProductId(); ?>
<?php $quoteId = $block->getRequest()->getParam('quote_id'); ?>
<?php if ($productId || $quoteId): ?>
    <div class="wk_mp_rfq control">
        <div class="page-title">
            <a href="#" class="link-back back-requestedforquote" style="display:none;"><?= __('Back') ?></a>
            <p class="steps-title"><?= __('Paso 1 de 1') ?></p>
            <h1 class="quote-title"><?= /*@noEscape*/ __('Cotizador - Antecedentes generales') ?></h1>
            <p class="description-title"><?= __('Completa la presente cotización con la información relativa al proceso de compra, los antecedentes de los servicios requeridos y sus características, así como la modalidad de evaluación que considerará el proceso de contratación.') ?></p>
        </div>
        <div>
            <?php if ($quoteId): ?>
            <?= $this->getLayout()
                ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
                ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
                ->setEntity('requestforquote_quote')
                ->setLoadField([
                    'column' => 'entity_id',
                    'param' => 'quote_id',
                    'model_object' => 'Webkul\Requestforquote\Model\Quote'
                ])
                ->setUrlAction('quotessupplier/account/save/quote_id/' . $quoteId)
                ->toHtml(); ?>
            <?php else: ?>
                <?= $this->getLayout()
                    ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
                    ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
                    ->setEntity('requestforquote_quote')
                    ->setUrlAction('quotessupplier/account/save/product_id/' . $productId)
                    ->toHtml(); ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>