.admin__field.field.field-start_date,
.admin__field.field.field-penalty_days,
.admin__field.field.field-include_holidays,
.admin__field.field.field-delete_file,
td.col-id, td.col-seller-id, td.col-agreement-id,
td.col-penalty-type-id, td.col-days, td.col-holidays, td.col-file, td.col-ext-file,
th.col-id, th.col-seller-id, th.col-agreement-id,th.col-penalty-type-id,
th.col-days, th.col-holidays, th.col-file, th.col-ext-file {
    display:none;
}
th.col-start-date, th.col-end-date, td span.start_date, td span.end_date {
    width:9%;
}
.manage-files {
    display:none;
    margin-top: 38px;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}
#penaltyGrid_table tbody tr td:hover, #penaltyGrid_table tbody tr td input:hover {
    cursor:pointer;
}
.icon-file {
    margin: 0;
    height: 32px;
    width: 32px;
    padding-left: 40px;
    display: inline-block;
}
.pdf {
    background: url("../images/pdf.png") no-repeat left;
}
.doc {
    background: url("../images/doc.png") no-repeat left;
}
.file {
    background: url("../images/file.png") no-repeat left;
}