<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>

<?php
/**
 * @var $viewModel Linets\RegulatedProduct\ViewModel\RegulatedData
 */
$hasFileRegulatedProduct = false;
if ($block->getViewModel()){
    $viewModel = $block->getViewModel();
}

$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$regionalHelper = $this->helper("Formax\RegionalCondition\Helper\Data");
$helperOffer = $this->helper("Formax\Offer\Helper\Data");
$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
$imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$assignId = $helper->getProductId();
$websiteCode = $this->helper('Summa\ComputadoresSetUp\Helper\Data');
$assignData = $helper->getAssignDataByAssignId($assignId);
$product = $helper->getProductByAssignId($assignId);
$currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
$currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
/** @var Linets\SellerCentralizedDispatchCost\Helper\Data $dispatchPriceHelper */
$dispatchPriceHelper = $this->helper(Linets\SellerCentralizedDispatchCost\Helper\Data::class);
$productId = $product->getId();
$imageType = 'category_page_list';
$conditionOptions = array('1' => 'New', '2' => 'Used');
$productImage = $imagehelper->init($product, $imageType)
    ->constrainOnly(FALSE)
    ->keepAspectRatio(TRUE)
    ->keepFrame(FALSE)
    ->resize(300)
    ->getUrl();

$image = $assignData->getImage();
$img = $assignData->getImage();
$flag = 1;
if ($image == "") {
    $flag = 0;
    $image = "noimage.jpg";
}
$image = $helper->getImageUrl($image);
$defaultImage = $helper->getImageUrl("noimage.jpg");
$productType = $product->getTypeId();
$basePriceArray = $helperOffer->getBasePrice($assignId, $productType);
$dispatchPrices = $dispatchPriceHelper->getChildDistpatchPrices($productId, $assignData->getSellerId(), $block->getWebsiteId());
$websiteCodeForQty = $helper->getWebsite() == 'insumos' ? 99999999 : 90000;

if ($productType == "configurable") {
    $attriburtes = [];
    $options = [];
    $_attributes = $product->getTypeInstance(true)
        ->getConfigurableAttributesAsArray($product);
    foreach ($_attributes as $_attribute) {
        $attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
        foreach ($_attribute['options'] as $option) {
            $options[$_attribute['attribute_code']][$option['value']] = $option['label'];
        }
    }
}
if ($productType == "configurable") {
    $isConfig = 1;
    $price = $helper->currencyFormat($product->getFinalPrice());
} else {
    $isConfig = 0;
    $price = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($product->getFinalPrice(), true, false);
}
$imagesCollection = $helper->getImagesCollection($assignId);
$baseImageUrl = $helper->getBaseImageUrl($assignId);
?>
<?php
$addImageLabel = __("Add Image");
$baseImageLabel = __("Base Image");
$deleteImageLabel = __("Delete Showcase");
$blockHtml = '<div class="wk-showcase-block">';
$blockHtml .= '<div title= "'.$deleteImageLabel.'" class="wk-delete-item">x</div>';
$blockHtml .= '<div class="wk-default-block">'.$addImageLabel.'</div>';
$blockHtml .= '<input type="file" name="showcase[]" accept="image/*" class="wk-showcase-img wk-no-display">';
$blockHtml .= '<div class="wk-base-image-block"><input name="wk_base[]" type="checkbox" class="wk-base-image-input" value="0"><div class="wk-base-image-label">'.$baseImageLabel.'</div></div>';
$blockHtml .= '</div>';
$count = 0;
?>
<?php if ($isPartner == 1): ?>
    <fieldset class="fieldset wk-ap-fieldset">
        <div class="wk-ap-product-view">
            <div class="wk-ap-product-img"><img src="<?php echo $productImage; ?>" /></div>
            <div class="wk-ap-product-description">
                <div class="wk-ap-main-product-name"><a href="<?php echo $product->getProductUrl();?>"><?php echo $product->getName(); ?></a></div>
                <div class="wk-ap-main-product-price" style="display:none;"><?php echo $price; ?></div>
                <div class="wk-ap-main-product-description"><?php echo $product->getDescription(); ?></div>
            </div>
        </div>
    </fieldset>
    <form method="post" action="<?php echo $this->getUrl('mpassignproduct/product/save'); ?>" id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>">
        <input type="hidden" name="assign_id" value="<?php echo $assignId; ?>">
        <input type="hidden" name="product_condition" value="1">
        <input type="hidden" name="del" value="0" id="del">
        <fieldset class="fieldset">
            <?php echo $this->getFormKeyBlockHtml(); ?>
            <legend class="legend">
                <span><?php echo __("Assign Product"); ?></span>
            </legend>
            <?php if ($productType != "configurable"): ?>
                <div class="field required">
                    <label for="price" class="label">
                        <span><?php echo __("Price"); echo ' ('.$symbol.')' ?></span>
                    </label>
                    <div class="control">
                        <input value="<?= $basePriceArray[0] ? number_format($basePriceArray[0], $currencyFormat['precision'], $currencyFormat['decimal'], $currencyFormat['group']) : ''; ?>" type="text" data-validate="{required:true}" class="input-text required-entry validate-zero-or-greater" title="<?php echo __('Price'); ?>" name="price" id="price" aria-required="true">
                    </div>
                </div>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __("In Stock"); ?></span>
                    </label>
                    <div class="control" <?php echo $block->shouldRenderStockOptions() ? '' : 'style="display:none;"' ?>>
                        <?php $assignQty = $assignData->getQty() ?>
                        <?php
                        $msg = '';
                        if($assignData->getDisDispersion() == '1'){
                            $assignQty = 1;
                            $msg = '<small>Bloqueado por dispersión</small>';
                        }
                        ?>
                        <label>
                            <input type="radio" data-validate="{required:true}" name="qty" class="required-entry"
                                   title="<?php echo __('Yes') ?>" aria-required="true" value="<?= $websiteCodeForQty; ?>" <?php echo
                            $assignQty > 0 ? 'checked' : '' ?>>
                            <span><?php echo __('Yes') ?></span>
                        </label>
                        <label>
                            <input type="radio" data-validate="{required:true}" name="qty" class="required-entry" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?>>
                            <span><?php echo __('No') ?></span>
                        </label>
                        <div><?= $msg ?></div>
                    </div>
                </div>
                <?php if(!$block->shouldRenderStockOptions()) { echo "<div class='field'><label>" .  $block->getStockDisableText('display_text') . "</label></div>"; } ?>
            <?php endif; ?>
            <div class="field dccp-tooltip">
                <label for="description" class="label" data-tooltip="Código interno de tu empresa">
                    <span><?php echo __("Product Code"); ?> <small>(opcional)</small></span>
                </label>
                <div class="control">
                    <input type="text" class="input-text" title="<?php echo __('Product Code'); ?>" name="description" id="description" aria-required="true" value="<?php echo $block->escapeHtml($helper->getDescription($assignData->getId())); ?>">
                </div>
            </div>
			<?php $linkFile = $helper->getAssingProductFile($productId, $assignData->getSellerId()) ?>
			<?php if ($linkFile) :?>
				<div class="field">
					<div class="control">
						<div class="clearfix">
							<a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document Backup Price') ?>"><?= __('View Document Backup Price') ?></a>
						</div>
					</div>
				</div>
			<?php endif; ?>
            <?php if ($block->showUploadFileField($productId) &&
            ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <?php if ($helper->getWebsite() == $websiteCode::WEBSITE_CODE) : ?>
                    <div class="field">
                        <label for="doc_anexo" class="label">
                            <span><?php echo __('Add Anexo 5'); ?></span>
                        </label>
                        <div class="control">
                            <div class="clearfix">
                                <input type="file" class="input-file" title="<?php echo __('Upload Anexo 5'); ?>" name="doc_anexo_<?= $productId ?>" id="doc_anexo_<?= $productId ?>">
                            </div>
                            <div class="clearfix">
                                <div class="note admin__field-note" id="doc_anexo_file-note"><?= __('File must be PDF.') ?></div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                <?php $anexoFile = $helper->getAnexoProductFile($productId, $assignData->getSellerId()) ?>
                <?php if ($anexoFile) :?>
                    <div class="field">
                        <div class="control">
                            <div class="clearfix">
                                <a href="<?= $anexoFile ?>" target="blank" title="<?= __('View Anexo File') ?>"><?= __('View Anexo File') ?></a>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
            <?php
            $fileCollection = $viewModel->getAssingProductFile($productId, $assignData->getSellerId());
            if ($block->getViewModel() && !empty($fileCollection) && !empty
            ($fileCollection->getRegulatedProductFilePath())) {
                $hasFileRegulatedProduct = true;
            }
            if ($productType === 'configurable'){
                $productTypeInstance = $product->getTypeInstance();
                $usedProducts = $productTypeInstance->getUsedProducts($product);
                $associatesData = $helper->getAssociatesData($assignId);
                $pendingProduct = false;
                foreach ($usedProducts  as $childProduct){
                    $childId = $childProduct->getId();
                    $statusOfferSimpleProduct = array_key_exists($childId, $associatesData) ? $associatesData[$childId]['status']: -1;
                    // Check if offers status is disapproved (0)
                    if ( intval($statusOfferSimpleProduct) === 0 ){
                        $disapprovedProduct = true;
                    }
                    // Check if offers status is pending (2)
                    if (intval($statusOfferSimpleProduct) === 2 ) {
                        $pendingProduct = true;
                    }
                }
            }
            ?>
            <?php if ($product->getData('producto_regulado') && $productType === 'configurable' &&
                (!$hasFileRegulatedProduct || (isset($disapprovedProduct) && !empty($fileCollection) && $fileCollection->getStatus() == 0)))
                : ?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document Regulated Product'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file regulated-file"
                                   title="<?php echo __('Upload Document Backup Price'); ?>"
                                   name="document_regulated_<?= $productId ?>" id="document_regulated_<?= $productId ?>"
                                   accept="application/pdf,.pdf" disabled>
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note"
                                 id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>
                <?php $documentRegulatedRequired = true; ?>
            <?php endif; ?>
            <?php if ($hasFileRegulatedProduct && (isset($disapprovedProduct) || isset($pendingProduct))) : ?>
                <div class="field">
                    <div class="control">
                        <div class="clearfix">
                            <a href="<?= $viewModel->getMediaBaseUrl($fileCollection->getRegulatedProductFilePath()); ?>" target="blank"
                               title="<?= __('See attached Regulated Product Document')
                               ?>"><?= __('See attached Regulated Product Document'); ?></a>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php if ($block->showUploadFileField($productId, true) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                <div class="field">
                    <label for="document" class="label">
                        <span><?php echo __('Document Chemical Product Cleanness'); ?></span>
                    </label>
                    <div class="control">
                        <div class="clearfix">
                            <input type="file" class="input-file" title="<?php echo __('Upload Document Chemical Product Cleanness'); ?>" name="doc_aseo_<?= $productId ?>" id="doc_aseo_<?= $productId ?>">
                        </div>
                        <div class="clearfix">
                            <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                        </div>
                    </div>
                </div>

			<?php endif; ?>
			<?php $linkFile = $helper->getAseoProductFile($productId, $assignData->getSellerId()) ?>
			<?php if ($linkFile) :?>
				<div class="field">
					<div class="control">
						<div class="clearfix">
							<a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document Chemical Product Cleanness') ?>"><?= __('View Document Chemical Product Cleanness') ?></a>
						</div>
					</div>
				</div>
			<?php endif; ?>
            <?php
            $thDocumentField = '';
            if ($block->showUploadFileField($productId) &&
                ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :
                $thDocumentField = '<th class="col">'. __("Document Backup Price").'</th>';
            endif; ?>
            <?php if ($productType == "configurable"): ?>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __('Associated Products'); ?></span>
                    </label>
                    <div class="field new-offer-text-info">
                        <p><?php echo __('(*) Las ofertas que no se pueden editar son debido a que existe una oferta especial vigente.'); ?></p>
                        <p><?php echo __('(**) En las regiones donde usted no tenga precio asociado a la oferta debe dejar “Sin Stock” para poder avanzar'); ?></p>
                    </div>
                    <div class="control">
                        <table class="data table wk-associated-table">
                            <thead>
                            <tr>
                                <th class="col check-hide"><input type="checkbox" class="wk-mass-associate"></th>
                                <th class="col"><?php echo __("Product Name"); ?></th>
                                <th class="col"><?php echo __("Status"); ?></th>
                                <th class="col"><?php echo __("Comment"); ?></th>
                                <th class="col"><?php echo __("In Stock"); ?></th>
                                <?php foreach ($attriburtes as $code => $label): ?>
                                    <th class="col"><?php echo $label; ?></th>
                                <?php endforeach; ?>
                                <th class="col"><?php echo __("Base Price");echo ' ('.$symbol.')'; ?></th>
                                <th class="col"><?php echo __("Dispatch Price");echo ' ('.$symbol.')'; ?></th>
                                <th class="col"><?php echo __("Price");echo ' ('.$symbol.')'; ?></th>
                                <?= $thDocumentField ?>
                            </tr>
                            </thead>
                            <?php
                            foreach ($usedProducts  as $childProduct) {
                                $childProduct->getName();
                                foreach ($attriburtes as $code => $label) {
                                    $val = $childProduct[$code];
                                    $options[$code][$val];
                                }
                            }
                            ?>
                            <tbody>
                            <?php foreach ($usedProducts  as $childProduct): ?>
                                <?php
                                $childId = $childProduct->getId();
                                $region = $childProduct->getRegion();
                                $sellerId = $assignData->getSellerId();
                                $regionalConditions = $regionalHelper->getRegionalConditionbySeller($sellerId)['region_id'];
                                ?>
                                    <?php
                                $fieldDisabled = 0;
                                    if (array_key_exists($childId, $associatesData)){
                                        $assignQty = $associatesData[$childId]['qty'];
                                        $msg = '';
                                        if($associatesData[$childId]['dis_dispersion'] == '1'){
                                            $msg = '<small>Bloqueado por dispersión</small>';
                                        }
                                        $offerActive = $helperOffer->datesAreCurrent($associatesData[$childId]['start_date'], $associatesData[$childId]['end_date']);
//                                        echo $offerActive . '   ' . $associatesData[$childId]['offer_status'];
                                        if ($offerActive || $associatesData[$childId]['offer_status'] == \Formax\Offer\Model\Offer::OFFER_APPLIED) {
                                            $fieldDisabled = 1;
                                        }
                                    }
                                    ?>
                                    <tr>
                                        <td class="col check-hide">
                                            <input class="wk-associate-chkbox" name="products[<?php echo $childId; ?>][id]" type="checkbox" value="1">
                                            <?php if (array_key_exists($childId, $associatesData)): ?>
                                                <input class="wk-associate-id" name="products[<?php echo $childId; ?>][associate_id]" type="hidden" value="<?php echo $associatesData[$childId]['id']; ?>">
                                            <?php endif; ?>
                                        </td>
                                        <td class="col"><?php echo $childProduct->getName() . ($fieldDisabled ? ' (*)' : ''); ?></td>
                                        <td class="col">
                                            <span class="status_simple_product"><?= $status = array_key_exists($childId, $associatesData) ? $associatesData[$childId]['status_label'] : ""; ?></span>
                                        </td>
                                        <td class="col"><?php echo array_key_exists($childId, $associatesData) ? $associatesData[$childId]['comment'] : "" ?></td>
                                        <td class="col">
                                            <?php if (array_key_exists($childId, $associatesData)): ?>
                                                <label>
                                                    <input type="radio" data-validate="{required:true}"
                                                           name="products[<?php echo $childId; ?>][qty]"
                                                           class="required-entry validate-number
                                                           wk-associated-action" title="<?php echo __('Yes') ?>"
                                                           aria-required="true" value="<?= $websiteCodeForQty; ?>" <?php echo $assignQty >
                                                    0 ? 'checked' : '' ?> >
                                                    <span><?php echo __('Yes') ?></span>
                                                </label>
                                                <label>
                                                    <input type="radio" data-validate="{required:true}" name="products[<?php echo $childId; ?>][qty]" class="required-entry validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?> >
                                                    <span><?php echo __('No') ?></span>
                                                </label>
                                                <div><?= $msg ?></div>
                                            <?php else: ?>
                                                <label>
                                                    <input type="radio" data-validate="{}" name="products[<?php echo
                                                    $childId; ?>][qty]" class="validate-number wk-associated-action"
                                                           title="<?php echo __('Yes') ?>" aria-required="true"
                                                           value="<?= $websiteCodeForQty; ?>">
                                                    <span><?php echo __('Yes') ?></span>
                                                </label>
                                                <label>
                                                    <input type="radio" data-validate="{}" name="products[<?php echo $childId; ?>][qty]" class="validate-number wk-associated-action" title="<?php echo __('No') ?>" aria-required="true" value="0">
                                                    <span><?php echo __('No') ?></span>
                                                </label>
                                            <?php endif; ?>
                                        </td>
                                        <?php foreach ($attriburtes as $code => $label): ?>
                                            <?php $val = $childProduct[$code]; ?>
                                            <td class="col"><?php echo $options[$code][$val]; ?></td>
                                        <?php endforeach; ?>
                                        <td class="col">
                                            <?php if (array_key_exists($childId, $associatesData)): ?>
                                                <input class="wk-associate-price integer required-entry validate-zero-or-greater" name="products[<?php echo $childId; ?>][base_price]" type="text" value="<?php echo $basePriceArray[$childId]['base_price']; ?>" <?= $fieldDisabled ? 'readonly' : '' ?>>
                                            <?php else: ?>
                                                <?php
                                                $dispatchPriceNew = $dispatchPriceHelper->getNewChildDistpatchPrices($sellerId,$childProduct->getAttributeText('macrozona') , $product->getAttributeSetId(), $block->getWebsiteId());
                                                $readOnlyBasePrice = !is_null($dispatchPriceNew) ? '' : 'readonly';
                                                $abbrTextDispatchPriceNull = __('In order to incorporate the %1 offer you must have the dispatch price charged.',$childProduct->getName());
                                                $abbrDispatchPriceNull = !is_null($dispatchPrices[$childId]) ? '' : "<abbr class='informative-text' title='".$abbrTextDispatchPriceNull."'>i</abbr>";
                                                ?>
                                                <input class="wk-associate-price integer" name="products[<?php echo $childId; ?>][base_price]" type="text" <?=$readOnlyBasePrice?>>
                                            <?php endif; ?>
                                        </td>
                                        <td class="col">
                                            <?php if (array_key_exists($childId, $associatesData)): ?>
                                                <input class="wk-associate-price dispatch_prices required-entry validate-zero-or-greater" name="products[<?php echo $childId; ?>][dispatch_price]" type="text" value="<?php echo $dispatchPrices[$childId]; ?>" readonly>
                                            <?php else: ?>
                                                <input class="wk-associate-price dispatch_prices" name="products[<?php echo $childId; ?>][dispatch_price]" type="text" value="<?= $dispatchPriceNew ?>" readonly>
                                                <?=$abbrDispatchPriceNull?>
                                            <?php endif; ?>
                                        </td>
                                        <td class="col">
                                            <?php if (array_key_exists($childId, $associatesData)): ?>
                                                <input class="wk-associate-price total-prices required-entry validate-zero-or-greater" name="products[<?php echo $childId; ?>][price]" type="text" value="<?php echo $basePriceArray[$childId]['price']; ?>" readonly>
                                            <?php else: ?>
                                                <input class="wk-associate-price total-prices" name="products[<?php echo $childId; ?>][price]" type="text" readonly>
                                            <?php endif; ?>
                                        </td>
                                        <td class="col">
                                        <?php
                                        if ($block->showUploadFileField($childId) &&
                                            ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>

                                                <input type="file" class="wk-associate-document input-file" id="document_<?= $childProduct->getId(); ?>" title="<?= __('Upload Document Backup Price') ?>" name="document_child_<?= $childProduct->getId() ?>" accept="application/pdf,.pdf" >
                                                <div class="control">
                                                    <div class="clearfix">
                                                        <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                                                    </div>
                                                </div>
                                        <?php endif; ?>
                                        </td>
                                    </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field required">
                <div class="control">
                    <button class="button wk-product-save-btn" type="submit">
                        <span><span><?php echo __("Save Product"); ?></span></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
<?php else: ?>
    <h2 class="wk-mp-error-msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
<?php endif; ?>
<?php
$data = [];
$data["defaultImage"] = $defaultImage;
$data["is_new"] = 0;
$data["msg"] = __("Please edit an associated product.");
$data["isConfig"] = $isConfig;
$data["count"] = $count;
$data["blockHtml"] = $blockHtml;
$data = json_encode($data);
?>
<script type="text/x-magento-init">
	{
		"body": {
			"Webkul_MpAssignProduct/js/item": <?php echo $data ?>,
            "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
		}
	}
</script>

<script>
    requirejs(['jquery'], function ($){
        let basePrice;
        let totalPrice;
        let productsRows = $(".wk-associated-table tbody").find('tr');
        productsRows.each(function() {
            /*calculate final price*/
            let dispatchPrice = parseInt($(this).find('td.col .dispatch_prices').val()) ? parseInt($(this).find('td.col .dispatch_prices').val()) : 0;
            let inputTotals = $(this).find('.total-prices');
            $(this).find('.wk-associate-price.integer').keyup(function () {
                basePrice = parseInt($(this).val());
                totalPrice = basePrice + dispatchPrice;
                if (totalPrice != null){
                    if (isNaN(totalPrice)){
                        if (isNaN(dispatchPrice)){
                            inputTotals.val(0);
                        } else{
                            if (isNaN(basePrice)) {
                                inputTotals.val('');
                            } else {
                                inputTotals.val(dispatchPrice);
                            }
                        }
                    }else {
                        inputTotals.val(totalPrice);
                    }
                }
            });
        });
        <?php if(isset($documentRegulatedRequired)): ?>
            /*ckeck new offers when regulated file is required and not exist*/
            productsRows.each(function() {
                let status = $(this).find('td.col .status_simple_product').text().trim();
                let statusNotAllowed = ['Aprobado','Pendiente'];
                if (status == 'Desaprobado'){
                    $(this).find('[type="radio"].validate-number.wk-associated-action').prop('checked', false);
                }
                if (!(statusNotAllowed.indexOf(status) > -1)) {
                    $(this).find('[type="radio"].validate-number.wk-associated-action').change(function() {
                        $('.input-file.regulated-file').removeAttr('disabled');
                    });
                }
            });
        <?php endif; ?>
    });
</script>
