<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
	$productId = $block->getProduct()->getId();
	$productType = $block->getProduct()->getTypeId();
	$helper = $this->helper("Formax\ProductData\Helper\AssignProduct");
	$collection = $helper->getAssignProductCollection($productId);
	if ($productType !== 'configurable') {
		$collection->addFieldToFilter('main_table.status',1);
	}
	$totalSellers = $collection->count();
?>
<?php if($totalSellers > 0): ?>
	<div class="wk-ap-price-block">
		<?php if($helper->showMinimumPrice()): ?>
			<?php
				$prices = $helper->getSupplierPricesHtml($productId, $productType);
			?>
			<div class="product-info-price-wk">
				<?php if($prices->minPrice): ?>
				<div class="cc-price-box">
					<span class="minimum-price" <?php echo $productType === 'configurable' ? 'style="display:none"' : '' ?>>
						<span class="price-container">
			        		<span class="price-wrapper">
								<label class="price-label">Desde</label>
								<span class="price"><?= $prices->minPrice ?></span>
							</span>
			    		</span>
					</span>
					<?php if($prices->maxPrice): ?>
					<span class="maximum-price" <?php echo $productType === 'configurable' ? 'style="display:none"' : '' ?>>
						<span class="price-container">
			        		<span class="price-wrapper">
								<label class="price-label">Hasta</label>
								<span class="price"><?= $prices->maxPrice ?></span>
							</span>
			    		</span>
					</span>
					<?php endif; ?>
					<span class="after-label">PRECIO NETO</span>
				</div>
				<?php endif; ?>
			</div>
		<?php endif; ?>
	</div>

<?php endif; ?>
