<?php
// MageMoto\ElasticsearchStoreSwitch\Block\Store

$storeArray = $block->getSelectedStoreValue();
$currentStoreId = $block->getCurrentStoreId();
$secureBaseUrl = $block->getSecureBaseUrl();
?>

<div class="store_dropdown">
    <select name="store" id="store">
        <?php 
        foreach ($storeArray as $value) {
        	$selected = '';
        	if($value['value'] == $currentStoreId) {
        		$selected = "selected";
        	}
        	if ($value['value'] != 0) {
        		echo "<option value='".$secureBaseUrl.$value['code']."'".$selected.">".$value['label']."</option>";
        	}
        } ?>
    </select>
</div>
<script type="text/javascript">
	require(['jquery', 'jquery/ui'], function($){
		$(document).ready(function($){
			$(".store_dropdown #store").change(function(){
				var store_id = $(this).val();   
                var search_placeholder = "Buscar productos en " + $(".store_dropdown #store option:selected").text();
                var form_action = store_id + "/catalogsearch/result/";

                $(".minisearch #search").attr('placeholder', search_placeholder);
                $('.block-search #search_mini_form').attr('action', form_action);
			});
		});
	});
</script>