<?php
$productId = $block->getProduct();
$productSku = $block->getProductSku();
$productName = $block->getProductName();
$helper = $this->helper('Formax\QuotesSupplier\Helper\Data');
$buttonTitle = __('Cotizar');
$helperWebkul = $this->helper('Webkul\Requestforquote\Helper\Data');
$isQuoteModuleEnabled = $helperWebkul->getStatusOfModuleFromConfig();
if($helper->isLoggedIn() && !$helper->isSeller() && $isQuoteModuleEnabled){ ?>
  <div class="cc-quote-supplier">
            <a href="<?= $block->escapeUrl($block->getUrl('requestforquote/index/index', ['product_id' => $productId])) ?>"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart nobg">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </a>

  </div>
<?php }?>