<?php
/**
 * @var Formax\RatingSummary\Block\Summary $block
 */
?>
<?php
$partner = $block->getParentBlock()->getProfileDetail();
$sellerId = $partner->getSellerId();
$collection = $block->getRatingSummary($sellerId);
?>

<div class="certification">
  	<div class="title-certification" style="margin-bottom: 30px;">
    	<?= __('Calificación del proveedor')?>
  	</div>
  	<div class="box-provider-data">
    	<div class="item">
			<?php if ($collection): ?>
				<table class="admin__table-secondary order-information-table">
					<tbody>
						<?php foreach ($collection as $item): ?>
							<tr>
								<th><?=$item['label']; ?></th>
								<td><?= number_format($item['value'], '2', ',', '.'); ?></td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
			<?php else: ?>
				<div class="message info empty" style="margin-top:20px;">
					<span>
						<?= /*@noEscape*/ __('No calification.'); ?>
					</span>
				</div>
			<?php endif; ?>
    	</div>
	</div>
</div>
