<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $assignProduct = $block->getDetails();
    $sellerId = $assignProduct->getSellerId();
    $ownerId = $assignProduct->getOwnerId();
    $product = $block->getProduct($assignProduct->getProductId());
    $productId = $product->getId();
    $productUrl = $this->getUrl("catalog/product/edit")."id/";
    $sellerDetails = $block->getSellerDetails($sellerId);
    $ownerDetails = $block->getSellerDetails($ownerId, $productId);
    $avialableStatus = [0 => __("Disapproved"), 1 => __("Approved"), 2 => __("Pending"), 3 => __("Disabled by dispersion"), 4 => __("Disabled by price"), 5 => __("Disabled by No traded Product"), 6 => __("Disabled by Empty Stock"), 7 => __("Disabled by penalty")];
    $customerUrl = $this->getUrl("customer/index/edit")."id/";
    $currencyCode = $block->getBaseCurrencyCode();
    $type = $product->getTypeId();
    $comment = $assignProduct->getComment();
    $attriburtes = [];
    $options = [];
    if ($type == "configurable") {
        $_attributes = $product->getTypeInstance(true)
                                ->getConfigurableAttributesAsArray($product);
        foreach ($_attributes as $_attribute) {
            $attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
            foreach ($_attribute['options'] as $option) {
                $options[$_attribute['attribute_code']][$option['value']] = $option['label'];
            }
        }
    }
?>

<table class="wk-ap-table">
    <input type="hidden" name="id" value="<?php echo $assignProduct->getId(); ?>">
    <tr>
        <td><?php echo __("Product Name"); ?></td>
        <td><a href="<?php echo $productUrl.$productId; ?>" target="_blank"><?php echo $product->getName(); ?></a></td>
    </tr>
    <tr>
        <td><?php echo __("Product Owner"); ?></td>
        <td>
            <?php if ($ownerDetails['seller_id'] > 0): ?>
                <a href="<?php echo $customerUrl.$ownerDetails['seller_id']; ?>" target="_blank">
                    <?php echo $ownerDetails['shop_title']; ?>
                </a>
            <?php else: ?>
                <?php echo $ownerDetails['shop_title']; ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr>
        <td><?php echo __("Assigned By"); ?></td>
        <td>
            <?php if ($sellerDetails['seller_id'] > 0): ?>
                <a href="<?php echo $customerUrl.$sellerDetails['seller_id']; ?>" target="_blank">
                    <?php echo $sellerDetails['shop_title']; ?>
                </a>
            <?php else: ?>
                <?php echo $sellerDetails['shop_title']; ?>
            <?php endif; ?>
        </td>
    </tr>
    <?php if ($type == "configurable"): ?>
         <?php
            $assignId = $assignProduct->getId();
            $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
            $associatedProducts = $block->getHelper()->getAssignedAssociatedProducts($assignId);
            $productTypeInstance = $product->getTypeInstance();
            $usedProducts = $productTypeInstance->getUsedProducts($product);
            foreach ($usedProducts  as $childProduct) {
              $childProduct->getName();
              foreach ($attriburtes as $code => $label) {
                $val = $childProduct[$code];
                $options[$code][$val];
              }
            }
            $associatesData = $block->getHelper()->getAssociatesData($assignId);
        ?>
        <tr>
            <td><?php echo __("Associated Products"); ?></td>
            <td>
                <table class="wk-associate-table">
                    <thead>
                        <tr>
                            <th><?php echo __("Product Name"); ?></th>
                            <th><?php echo __("Status"); ?></th>
                            <th><?php echo __("Comment"); ?></th>
                            <th><?php echo __("Quantity"); ?></th>
                                            <?php foreach ($attriburtes as $code => $label): ?>
                                                <th><?php echo $label; ?></th>
                                            <?php endforeach; ?>
                            <th><?php echo __("Price"); ?></th>
                            <th class="document_file_title"><?php echo __("Document Backup Price"); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($usedProducts as $childProduct): ?>
                            <?php
                            $childId = $childProduct->getId();
                            $linkAssociatedFile = $block->getHelper()->getAssingProductFile($childProduct->getEntityId(), $sellerId);
                            if (array_key_exists($childId, $associatesData)){
                                $name = $childProduct->getName();
                                $itemStatus = $associatesData[$childId]['status'];
                                $itemComment = $associatesData[$childId]['comment'];
                                $qty = $associatesData[$childId]['qty'];
                                $price = $associatesData[$childId]['price'];
                            ?>
                            <tr>
                                <td><a href="<?php echo $productUrl.$childProduct->getId(); ?>" target="_blank"><?php echo $name; ?></a></td>
                                <td>
                                    <select name="product_status_<?php echo $childId; ?>" class="product-status-assignproduct">
                                        <?php foreach ($avialableStatus as $key => $status): ?>
                                            <?php if ($key == $itemStatus): ?>
                                                <option value="<?php echo $key; ?>" selected><?php echo $status; ?></option>
                                            <?php else: ?>
                                                <option value="<?php echo $key; ?>"><?php echo $status; ?></option>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <textarea name="comment_<?php echo $childId; ?>" class="comment-textarea-field" maxlength="140"><?= $itemComment ?></textarea>
                                </td>
                                <td><?php echo number_format($qty, 0, ',', '.'); ?></td>
                                                    <?php foreach ($attriburtes as $code => $label): ?>
                                                        <?php $val = $childProduct[$code]; ?>
                                                        <td><?php echo $options[$code][$val]; ?></td>
                                                    <?php endforeach; ?>
                                <?php $linkFile = $block->getHelper()->getAssingProductFile($childProduct->getId(), $sellerId) ?>
                                <?php $price = str_replace('$', '', $price); ?>
                                <?php $price = str_replace(',', '', $price); ?>
                                <td><?php echo "$" . number_format($price, 0, ',', '.'); ?></td>
                                <?php if($linkAssociatedFile):  ?>
                                <td class="document_file">
                                    <a href="<?= $linkAssociatedFile ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a>
                                </td>
                                <?php else: ?>
                                    <td></td>
                                <?php endif; ?>
                            </tr>
                          <?php }?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </td>
        </tr>
    <?php else: ?>
        <tr>
            <td><?php echo __("Quantity"); ?></td>
            <td><?php echo number_format($assignProduct->getQty(), 0, ',', '.'); ?></td>
        </tr>
        <tr>
            <td><?php echo __("Price"); ?> (<?php echo $currencyCode; ?>)</td>
            <td><?php echo "$" . number_format($assignProduct->getPrice(), 0, ',', '.'); ?></td>
        </tr>
    <?php endif; ?>
    <?php if ($type != "configurable"): ?>
    <tr>
        <td><?php echo __("Status"); ?></td>
        <td>
            <select name="product_status" class="product-status-assignproduct">
                <?php foreach ($avialableStatus as $key => $status): ?>
                    <?php if ($key == $assignProduct->getStatus()): ?>
                        <option value="<?php echo $key; ?>" selected><?php echo $status; ?></option>
                    <?php else: ?>
                        <option value="<?php echo $key; ?>"><?php echo $status; ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <tr class="comment-textarea" ">
        <td><?php echo __("Comment"); ?></td>
        <td>
            <textarea name="comment" class="comment-textarea-field" maxlength="140"><?= $comment ?></textarea>
        </td>
    </tr>
    <?php endif; ?>
    <?php $linkFile = $block->getHelper()->getAssingProductFile($productId, $sellerId) ?>
    <tr class="document-assignproduct" style="<?= $linkFile ? '' : 'display:none;' ?>">
        <td><?php echo __("Document Backup Price"); ?></td>
        <td><a href="<?= $linkFile ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a></td>
    </tr>
    <?php $anexoFile = $block->getHelper()->getAnexoProductFile($productId, $sellerId) ?>
    <tr class="document-anexo" style="<?= $anexoFile ? '' : 'display:none;' ?>">
        <td><?php echo __("Documento Anexo 5"); ?></td>
        <td><a href="<?= $anexoFile ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a></td>
    </tr>
    <?php $authorizedLetter = $block->getHelper()->getAuthorizedProductFile($productId, $sellerId) ?>
    <tr class="document-anexo" style="<?= $authorizedLetter ? '' : 'display:none;' ?>">
        <td><?php echo __("Carta de autorización"); ?></td>
        <td><a href="<?= $authorizedLetter ?>" target="blank" title="<?= __('View Document') ?>"><?= __('View Document') ?></a></td>
    </tr>
</table>
<!-- <script>
    require([
    "jquery",
], function ($) {
    $(document).ready(function() {
        $(".product-status-assignproduct").on("change", function () {
            $(".comment-textarea-field").val("");
        });
        if ($('.document_file').val() == null){
            $('.document_file_title').hide();
        }
    });
});
</script> -->
