<?php
/**
 * @var $block \Formax\Stamps\Block\Stamps
 */
?>
<?php $seller = $block->getSeller();
if($seller): $stamps = $block->getStamps($seller); ?>
  <div class="cc-seller-stamps">
    <?php if(count($stamps)): ?>
      <?php foreach( $stamps as $stamp ): ?>
        <?php $colon = ($stamp->name!='' ? ': ' : '') ?>
        <div class="cc-seller-stamp" data-title="<?= $stamp->name . $colon . $stamp->desc ?>">
          <img src="<?= $block->getStampsImg($stamp->id) ?>" alt="<?= $stamp->name . $colon . $stamp->desc ?>" onError="this.style.display = 'none'">
        </div>
      <?php endforeach; ?>
    <?php else: ?>
      <p class="no-stamps"><?= __("This seller doesn't have stamps.") ?></p>
    <?php endif; ?>
  </div>

  <script type="text/x-magento-init">
  {
    "*": {
      "storage-stamps": {
        "seller": <?php echo $block->getSellerId() ?>,
        "stamps": <?php echo json_encode($stamps) ?>
      }
    }
  }
  </script>
<?php endif; ?>
