<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Ship to multiple address template
 *
 * @var $block \Magento\Multishipping\Block\Checkout\Addresses
 */
?>
<?php
$helper = $this->helper('Summa\ProductRegionRestriction\Helper\Data');
?>
<form id="checkout_multishipping_form"
      data-mage-init='{
          "multiShipping":{},
          "cartUpdate": {
               "validationURL": "/multishipping/checkout/checkItems",
               "eventName": "updateMulticartItemQty"
          }}'
      action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
      method="post"
      class="multicheckout address form">
    <div class="title">
        <strong><?= $block->escapeHtml(__('Please select a shipping address for applicable items.')) ?></strong>
    </div>
    <input type="hidden" name="continue" value="0" id="can_continue_flag"/>
    <input type="hidden" name="new_address" value="0" id="add_new_address_flag"/>
    <div class="table-wrapper">
        <table class="items data table" id="multiship-addresses-table">
            <caption class="table-caption">
                <?= $block->escapeHtml(__('Please select a shipping address for applicable items.')) ?>
            </caption>
            <thead>
            <tr>
                <th class="col product" scope="col"><?= $block->escapeHtml(__('Product')) ?></th>
                <th class="col qty" scope="col"><?= $block->escapeHtml(__('Qty')) ?></th>
                <th class="col address" scope="col"><?= $block->escapeHtml(__('Send To')) ?></th>
                <th class="col actions" scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($block->getItems() as $_index => $_item): ?>
                <?php if ($_item->getQuoteItem()) : ?>
                    <tr>
                        <?php
                            $region = $_item->getQuoteItem()->getProduct()->getRegion();
                            if ($_item->getQuoteItem()->getProductType() === 'configurable') {
                                if ($option = $_item->getQuoteItem()->getOptionByCode('simple_product')) {
                                    $region = $option->getProduct()->getRegion();
                                }
                            }
                        ?>
                        <td data-region="<?= $region ?>" class="col product" data-th="<?= $block->escapeHtml(__('Product')) ?>">
                            <?= $block->getItemHtml($_item->getQuoteItem()) ?>
                        </td>
                        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                            <div class="field qty">
                                <label for="ship-<?= $block->escapeHtml($_index) ?>-<?= $block->escapeHtml($_item->getQuoteItemId()) ?>-qty"
                                       class="label">
                                    <span><?= $block->escapeHtml(__('Qty')) ?></span>
                                </label>
                                <div class="control">
                                  <div class="qty-container nm">
                                    <button type="button" title="Disminuir Cantidad" class="qty-btns decreasing-qty">-</button>
                                    <input type="number"
                                           data-multiship-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                                           id="ship-<?= $block->escapeHtml($_index) ?>-<?= $block->escapeHtml($_item->getQuoteItemId()) ?>-qty"
                                           name="ship[<?= $block->escapeHtml($_index) ?>][<?= $block->escapeHtml($_item->getQuoteItemId()) ?>][qty]"
                                           value="<?= $block->escapeHtml($_item->getQty()) ?>"
                                           size="2"
                                           class="input-text qty"
                                           data-validate="{number: true}"/>
                                     <button type="button" title="Aumentar Cantidad" class="qty-btns increasing-qty">+</button>
                                   </div>
                                </div>
                            </div>
                        </td>
                        <td class="col address" data-th="<?= $block->escapeHtml(__('Send To')) ?>">
                            <?php if ($_item->getProduct()->getIsVirtual()): ?>
                                <div class="applicable">
                                    <?= $block->escapeHtml(__('A shipping selection is not applicable.')) ?>
                                </div>
                            <?php else: ?>
                                <div class="field address">
                                    <label for="ship_<?= $block->escapeHtml($_index) ?>_<?= $block->escapeHtml($_item->getQuoteItemId()) ?>_address"
                                           class="label">
                                        <span><?= $block->escapeHtml(__('Send To')) ?></span>
                                    </label>
                                    <div class="control">
                                        <?= $block->getAddressesHtmlSelect($_item, $_index) ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </td>
                        <td class="col actions" data-th="<?= $block->escapeHtml(__('Actions')) ?>">
                            <a href="<?= $block->escapeUrl($block->getItemDeleteUrl($_item)) ?>"
                               title="<?= $block->escapeHtml(__('Remove Item')) ?>"
                               class="action delete"
                               data-multiship-item-remove="">
                                <span><?= $block->escapeHtml(__('Remove Item')) ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    id="multishipping-submit-button"
                    title="<?= $block->escapeHtml(__('Go to Shipping Information')) ?>"
                    class="action primary continue<?php if ($block->isContinueDisabled()):?> disabled<?php endif; ?>"
                    data-role="can-continue"
                    data-flag="1"
                <?php if ($block->isContinueDisabled()):?>
                    disabled="disabled"
                <?php endif; ?>>
                <span><?= $block->escapeHtml(__('Go to Shipping Information')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <button type="submit"
                    data-multiship-item-update=""
                    class="action update"
                    data-role="can-continue"
                    data-flag="0">
                <span><?= $block->escapeHtml(__('Update Qty &amp; Addresses')) ?></span>
            </button>
            <button type="button"
                    title="<?= $block->escapeHtml(__('Enter a New Address')) ?>"
                    class="action add"
                    data-role="add-new-address">
                <span><?= $block->escapeHtml(__('Add Address')) ?></span>
            </button>
            <a href="<?= $block->escapeUrl($block->getBackUrl()) ?>"
               class="action back primary nobg">
                <span><?= $block->escapeHtml(__('Back to Cart')) ?></span>
            </a>
        </div>
    </div>
</form>
<div style="display:none;">
    <div id="product-region-restriction-invalid-address">
        <?= $block->escapeHtml(__('Antes de continuar, asegúrate de que la región de despacho sea la misma región de la ficha, de lo contrario no se podrá hacer efectiva la compra.')) ?>
    </div>
</div>

<?php if ($helper->isEnabled()):?>
    <script>

    require([
        'jquery',
        'Magento_Ui/js/modal/confirm',
        'mage/url',
        'jquery/ui',
        'mage/translate'
    ], function($, modal, urlBuilder) {
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: $.mage.__('¡Advertencia!'),
            buttons: [{
                text: $.mage.__('Volver'),
                class: 'action-primary',
                click: function () {
                    var url = urlBuilder.build("checkout/cart");
                    window.location.href = url;
                }
            }]
        };

        var addresses = JSON.parse('<?= json_encode($helper->getAddressesRegionsIds()) ?>');

        $("#multishipping-submit-button").on('click', function (e) {
            var isDifferent = false;
            $("#multiship-addresses-table tbody tr").each(function() {
                var productRegion = $(this).find(".col.product").data("region");
                var selectedRegion = $(this).find("select").val();

                if (productRegion && productRegion !== addresses[selectedRegion]) {
                    isDifferent = true;
                    return false;
                }
            });

            if (isDifferent) {
                e.preventDefault();
                e.stopPropagation();

                $("#product-region-restriction-invalid-address").modal(options).modal("openModal");
            }
        });
    });

    </script>
<?php endif; ?>