<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$regionalHelper = $this->helper("Formax\RegionalCondition\Helper\Data");
$helperOffer = $this->helper("Formax\Offer\Helper\Data");
$isPartner = $this->helper('Webkul\Marketplace\Helper\Data')->isSeller();
$symbol = $this->helper('Webkul\Marketplace\Helper\Data')->getCurrencySymbol();
$imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$assignId = $helper->getProductId();
$websiteCode = $this->helper('Summa\ComputadoresSetUp\Helper\Data');
$assignData = $helper->getAssignDataByAssignId($assignId);
$product = $helper->getProductByAssignId($assignId);
$currencyCode = $this->helper('Summa\FormatCurrency\Helper\Data')->getCurrencyCodeByStore($product->getStoreId());
$currencyFormat = $this->helper('Summa\FormatCurrency\Helper\Data')->getConfigValue($currencyCode);
$productId = $product->getId();
$imageType = 'category_page_list';
$conditionOptions = array('1' => 'New', '2' => 'Used');
$productImage = $imagehelper->init($product, $imageType)
    ->constrainOnly(FALSE)
    ->keepAspectRatio(TRUE)
    ->keepFrame(FALSE)
    ->resize(300)
    ->getUrl();

$image = $assignData->getImage();
$img = $assignData->getImage();
$flag = 1;
if ($image == "") {
    $flag = 0;
    $image = "noimage.jpg";
}
$image = $helper->getImageUrl($image);
$defaultImage = $helper->getImageUrl("noimage.jpg");
$productType = $product->getTypeId();
$basePriceArray = $helperOffer->getBasePrice($assignId, $productType);

if ($productType == "configurable") {
    $attriburtes = [];
    $options = [];
    $_attributes = $product->getTypeInstance(true)
        ->getConfigurableAttributesAsArray($product);
    foreach ($_attributes as $_attribute) {
        $attriburtes[$_attribute['attribute_code']] = $_attribute['store_label'];
        foreach ($_attribute['options'] as $option) {
            $options[$_attribute['attribute_code']][$option['value']] = $option['label'];
        }
    }
}
if ($productType == "configurable") {
    $isConfig = 1;
    $price = $helper->currencyFormat($product->getFinalPrice());
} else {
    $isConfig = 0;
    $price = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($product->getFinalPrice(), true, false);
}
$imagesCollection = $helper->getImagesCollection($assignId);
$baseImageUrl = $helper->getBaseImageUrl($assignId);
?>
<?php
$addImageLabel = __("Add Image");
$baseImageLabel = __("Base Image");
$deleteImageLabel = __("Delete Showcase");
$blockHtml = '<div class="wk-showcase-block">';
$blockHtml .= '<div title= "' . $deleteImageLabel . '" class="wk-delete-item">x</div>';
$blockHtml .= '<div class="wk-default-block">' . $addImageLabel . '</div>';
$blockHtml .= '<input type="file" name="showcase[]" accept="image/*" class="wk-showcase-img wk-no-display">';
$blockHtml .= '<div class="wk-base-image-block"><input name="wk_base[]" type="checkbox" class="wk-base-image-input" value="0"><div class="wk-base-image-label">' . $baseImageLabel . '</div></div>';
$blockHtml .= '</div>';
$count = 0;
?>
<?php if ($isPartner == 1): ?>
    <fieldset class="fieldset wk-ap-fieldset">
        <div class="wk-ap-product-view">
            <div class="wk-ap-product-img"><img src="<?php echo $productImage; ?>"/></div>
            <div class="wk-ap-product-description">
                <div class="wk-ap-main-product-name"><a
                            href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a></div>
                <div class="wk-ap-main-product-price" style="display:none;"><?php echo $price; ?></div>
                <div class="wk-ap-main-product-description"><?php echo $product->getDescription(); ?></div>
            </div>
        </div>
    </fieldset>
    <form method="post" action="<?php echo $this->getUrl('mpassignproduct/product/save'); ?>"
          id="wk_mpassignproduct_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>">
        <input type="hidden" name="assign_id" value="<?php echo $assignId; ?>">
        <input type="hidden" name="product_condition" value="1">
        <input type="hidden" name="del" value="0" id="del">
        <fieldset class="fieldset">
            <?php echo $this->getFormKeyBlockHtml(); ?>
            <legend class="legend">
                <span><?php echo __("Assign Product"); ?></span>
            </legend>

            <div class="field dccp-tooltip">
                <label for="description" class="label" data-tooltip="Código interno de tu empresa">
                    <span><?php echo __("Product Code"); ?> <small>(opcional)</small></span>
                </label>
                <div class="control">
                    <input type="text" class="input-text" title="<?php echo __('Product Code'); ?>" name="description"
                           id="description" aria-required="true"
                           value="<?php echo $block->escapeHtml($helper->getDescription($assignData->getId())); ?>">
                </div>
            </div>
            <?php if ($productType == "configurable"): ?>
                <div class="field required">
                    <label for="qty" class="label">
                        <span><?php echo __('Associated Products'); ?></span>
                    </label>
                    <div class="field new-offer-text-info">
                        <p><?php echo __('(*) Las ofertas que no se pueden editar son debido a que existe una oferta especial vigente.'); ?></p>
                        <p><?php echo __('(**) En las regiones donde usted no tenga precio asociado a la oferta debe dejar “Sin Stock” para poder avanzar'); ?></p>
                    </div>
                    <div class="control">
                        <table class="data table wk-associated-table">
                            <thead>
                            <tr>
                                <th class="col check-hide"><input type="checkbox" class="wk-mass-associate"></th>
                                <th class="col"><?php echo __("Product Name"); ?></th>
                                <th class="col"><?php echo __("Status"); ?></th>
                                <th class="col"><?php echo __("In Stock"); ?></th>
                                <?php foreach ($attriburtes as $code => $label): ?>
                                    <th class="col"><?php echo $label; ?></th>
                                <?php endforeach; ?>
                                <th class="col"><?php echo __("Price");
                                    echo ' (' . $symbol . ')'; ?></th>
                                <th class="col"><?php echo __("Document Backup Price");?></th>
                            </tr>
                            </thead>
                            <?php
                            $productTypeInstance = $product->getTypeInstance();
                            $usedProducts = $productTypeInstance->getUsedProducts($product);
                            foreach ($usedProducts as $childProduct) {
                                $childProduct->getName();
                                foreach ($attriburtes as $code => $label) {
                                    $val = $childProduct[$code];
                                    $options[$code][$val];
                                }
                            }
                            $associatesData = $helper->getAssociatesData($assignId);
                            ?>
                            <tbody>
                            <?php foreach ($usedProducts as $childProduct): ?>
                                <?php
                                $childId = $childProduct->getId();
                                $region = $childProduct->getRegion();
                                $sellerId = $assignData->getSellerId();
                                $regionalConditions = $regionalHelper->getRegionalConditionbySeller($sellerId)['region_id'];
                                ?>

                                <?php
                                $fieldDisabled = 0;
                                if (array_key_exists($childId, $associatesData)) {
                                    $assignQty = $associatesData[$childId]['qty'];
                                    $msg = '';
                                    if ($associatesData[$childId]['dis_dispersion'] == '1') {
                                        $assignQty = 1;
                                        $msg = '<small>Bloqueado por dispersión</small>';
                                    }
                                    $offerActive = $helperOffer->datesAreCurrent($associatesData[$childId]['start_date'], $associatesData[$childId]['end_date']);
                                    if ($offerActive) {
                                        $fieldDisabled = 1;
                                    }
                                }
                                ?>
                                <tr>
                                    <td class="col check-hide">
                                        <input class="wk-associate-chkbox" name="products[<?php echo $childId; ?>][id]"
                                               type="checkbox" value="1">
                                        <?php if (array_key_exists($childId, $associatesData)): ?>
                                            <input class="wk-associate-id"
                                                   name="products[<?php echo $childId; ?>][associate_id]" type="hidden"
                                                   value="<?php echo $associatesData[$childId]['id']; ?>">
                                        <?php endif; ?>
                                    </td>
                                    <td class="col"><?php echo $childProduct->getName() . ($fieldDisabled ? ' (*)' : ''); ?></td>
                                    <td class="col"><?php echo array_key_exists($childId, $associatesData) ? $associatesData[$childId]['status_label'] : "" ?></td>
                                    <td class="col">
                                        <?php if (array_key_exists($childId, $associatesData)): ?>
                                            <label>
                                                <input type="radio" data-validate="{required:true}"
                                                       name="products[<?php echo $childId; ?>][qty]"
                                                       class="required-entry validate-number wk-associated-action"
                                                       title="<?php echo __('Yes') ?>" aria-required="true"
                                                       value="99999999" <?php echo $assignQty > 0 ? 'checked' : '' ?> <?= $fieldDisabled ? 'onclick="return false;"' : '' ?>>
                                                <span><?php echo __('Yes') ?></span>
                                            </label>
                                            <label>
                                                <input type="radio" data-validate="{required:true}"
                                                       name="products[<?php echo $childId; ?>][qty]"
                                                       class="required-entry validate-number wk-associated-action"
                                                       title="<?php echo __('No') ?>" aria-required="true"
                                                       value="0" <?php echo $assignQty == 0 ? 'checked' : '' ?> <?= $fieldDisabled ? 'onclick="return false;"' : '' ?>>
                                                <span><?php echo __('No') ?></span>
                                            </label>
                                            <div><?= $msg ?></div>
                                        <?php else: ?>
                                            <label>
                                                <input type="radio" data-validate="{}"
                                                       name="products[<?php echo $childId; ?>][qty]"
                                                       class="validate-number wk-associated-action"
                                                       title="<?php echo __('Yes') ?>" aria-required="true"
                                                       value="99999999">
                                                <span><?php echo __('Yes') ?></span>
                                            </label>
                                            <label>
                                                <input type="radio" data-validate="{}"
                                                       name="products[<?php echo $childId; ?>][qty]"
                                                       class="validate-number wk-associated-action"
                                                       title="<?php echo __('No') ?>" aria-required="true" value="0">
                                                <span><?php echo __('No') ?></span>
                                            </label>
                                        <?php endif; ?>
                                    </td>
                                    <?php foreach ($attriburtes as $code => $label): ?>
                                        <?php $val = $childProduct[$code]; ?>
                                        <td class="col"><?php echo $options[$code][$val]; ?></td>
                                    <?php endforeach; ?>
                                    <td class="col">
                                        <?php if (array_key_exists($childId, $associatesData)): ?>
                                            <input class="wk-associate-price required-entry validate-zero-or-greater"
                                                   name="products[<?php echo $childId; ?>][price]" type="text"
                                                   value="<?php echo $basePriceArray[$childId]['price']; ?>" readonly>
                                        <?php else: ?>
                                            <input class="wk-associate-price"
                                                   name="products[<?php echo $childId; ?>][price]" type="text">
                                        <?php endif; ?>
                                    </td>
                                    <?php $linkFile = $helper->getAssingProductFile($childProduct->getId(), $assignData->getSellerId()) ?>
                                    <td class="col">
                                        <?php if ($block->showUploadFileField($childId) && (!$linkFile) &&
                                            ($productType === 'simple' || $productType === 'configurable' || $productType === 'virtual')) :?>
                                            <div class="clearfix">
                                                <input type="file" class="input-file" title="<?php echo __('Upload Document'); ?>" name="document_child_<?= $childProduct->getId() ?>" id="document_<?= $childProduct->getId() ?>">
                                            </div>
                                            <div class="clearfix">
                                                <div class="note admin__field-note" id="document_file-note"><?= __('File must be PDF.') ?></div>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($linkFile) : ?>
                                            <div class="clearfix">
                                                <a href="<?= $linkFile ?>" target="blank"
                                                   title="<?= __('View Document Backup Price') ?>"><?= __('View Document Backup Price') ?></a>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                </tr>

                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field required">
                <div class="control">
                    <button class="button wk-product-save-btn" type="submit">
                        <span><span><?php echo __("Save Product"); ?></span></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
<?php else: ?>
    <h2 class="wk-mp-error-msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
<?php endif; ?>
<?php
$data = [];
$data["defaultImage"] = $defaultImage;
$data["is_new"] = 0;
$data["msg"] = __("Please edit an associated product.");
$data["isConfig"] = $isConfig;
$data["count"] = $count;
$data["blockHtml"] = $blockHtml;
$data = json_encode($data);
?>
<script type="text/x-magento-init">
	{
		"body": {
			"Webkul_MpAssignProduct/js/item": <?php echo $data ?>,
            "Webkul_MpAssignProduct/js/currencyFormat": <?php echo json_encode($currencyFormat) ?>
		}
	}

</script>
