<?php $technical = $block->getEvaluationTechnicalCollection(); ?>
<?php if ($technical !== false): ?>
    <?php $technical = $technical->getFirstItem(); ?>
<?php endif; ?>
<?php $economic = $block->getEvaluationEconomicCollection(); ?>
<?php if ($economic !== false): ?>
    <?php $economic = $economic->getFirstItem(); ?>
<?php endif; ?>
<?php $cmSofwareHelper = $block->getCmSoftwareHelper(); ?>
<?php $areDocuments = false; ?>

<div class="wk_mp_design" style="margin-top:20px;">
    <div class="wk_mp_rfq_communication_box">
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper"><?= __('Información sobre la evaluación') ?></span>
            </h1>
        </div>
        <div class="technical_evaluation">
            <div class="fieldset fieldset_files ">
                <label class="legend label_fieldset_files ">
                    <span class="span_fieldset_files "><?= __('Documentos de la evaluación técnica') ?></span>
                </label>
            </div>
            <?php if ($technical): ?>
                <?php
                    $files = $block->getAllEvaluationFiles(
                        $technical->getEvaluationReportDocuments(),
                        $technical->getAdmonActDocuments(),
                        $technical->getComplementaryAnnexesDocument()
                    );
                ?>
                <?php if (is_array($files) && count($files) > 0): ?>
                    <form action="<?= $block->escapeUrl($block->getDownloadAllTechnicalUrl()) ?>" method="POST">
                        <input type="hidden" name="quote_id" value="<?= $technical->getQuoteId() ?>" />
                        <?php $sellerId = $block->escapeHtml($technical->getSellerId()); ?>
                        <div class="table-wrapper">
                            <table class="data-table table table-evaluation-requestforquoted">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col select-seller"><span><?= /*@noEscape*/ __('Document Class') ?></span></th>
                                        <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Document Name') ?></span></th>
                                        <th scope="col" class="col download-clip"><span>&nbsp;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <input type="hidden" name="bulkaction" value="true" />
                                    <?php foreach ($files as $key => $file): ?>
                                        <?php if (is_array($file)): ?>
                                            <?php foreach ($file as $_file): ?>
                                                <?php $areDocuments = true; ?>
                                                <tr>
                                                    <td data-th="<?= __('Document Class') ?>" class="document-class">
                                                        <span>
                                                            <?= $block->escapeHtml($key) ?>
                                                        </span>
                                                    </td>
                                                    <td data-th="<?= __('Document Name') ?>" class="document-name">
                                                        <span>
                                                            <?= $block->escapeHtml($_file['name']) ?>
                                                        </span>
                                                        <p><?= __('File %1', $_file['ext']) ?></p>
                                                    </td>
                                                    <td data-th="Action" class="col download">
                                                        <span class="nobr label wk_action">
                                                            <a href="<?= $_file['url'] ?>"
                                                                title="<?= $block->escapeHtml($_file['name']) ?>" class="action view">
                                                                <span><?= /*@noEscape*/  __('Download Document') ?></span>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                            <?php endif; ?>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                        <?php if ($areDocuments): ?>
                            <div class="button-top">
                                <div class="button-download-all">
                                    <button class="action secundary download-all" title="<?= __('Download All') ?>" type="submit">
                                        <span><?= __('Download All Documents') ?></span>
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    </form>
                <?php else: ?>
                    <div class="message info empty">
                        <span>
                            <?= /*@noEscape*/ __('No technical documents were uploaded.'); ?>
                        </span>
                    </div>
                <?php endif; ?>
            <?php else : ?>
                <div class="message info empty">
                    <span>
                        <?= /*@noEscape*/ __('No record of technical evaluation.'); ?>
                    </span>
                </div>
            <?php endif ?>
        </div>

        <div class="economic_evaluation" style="margin-top: 50px;">
            <?php $areDocuments = false; ?>
            <?php if ($economic): ?>
                <div class="fieldset">
                    <label class="legend">
                        <span><?= __('Justificación de selección de proveedor') ?></span>
                    </label>
                    <p><?= $economic->getJustification() ?></p>
                </div>
            <?php endif; ?>
            <div class="fieldset fieldset_files ">
                <label class="legend label_fieldset_files ">
                    <span class="span_fieldset_files "><?= __('Documentos de la evaluación económica') ?></span>
                </label>
            </div>
            <?php if ($economic): ?>
                <?php
                    $files = $block->getAllEvaluationFiles(
                        $economic->getEvaluationReportDocuments(),
                        $economic->getAdmonActDocuments(),
                        $economic->getComplementaryAnnexesDocument()
                    );
                ?>
                <?php if (is_array($files) && count($files) > 0): ?>
                    <form action="<?= $block->escapeUrl($block->getDownloadAllEconomicUrl()) ?>" method="POST">
                        <div class="table-wrapper">
                            <table class="data-table table table-evaluation-requestforquoted">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col select-seller"><span><?= /*@noEscape*/ __('Document Class') ?></span></th>
                                        <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Document Name') ?></span></th>
                                        <th scope="col" class="col download-clip"><span>&nbsp;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <input type="hidden" name="bulkaction" value="true" />
                                    <input type="hidden" name="seller_quote_id" value="<?= $economic->getSellerQuoteId() ?>" />
                                    <?php foreach ($files as $key => $file): ?>
                                        <?php if (is_array($file)): ?>
                                            <?php foreach ($file as $_file): ?>
                                                <?php $areDocuments = true; ?>
                                                <tr>
                                                    <td data-th="<?= __('Document Class') ?>" class="document-class">
                                                        <span>
                                                            <?= $block->escapeHtml($key) ?>
                                                        </span>
                                                    </td>
                                                    <td data-th="<?= __('Document Name') ?>" class="document-name">
                                                        <span>
                                                            <?= $block->escapeHtml($_file['name']) ?>
                                                        </span>
                                                        <p><?= __('File %1', $_file['ext']) ?></p>
                                                    </td>
                                                    <td data-th="Action" class="col download">
                                                        <span class="nobr label wk_action">
                                                            <a href="<?= $_file['url'] ?>"
                                                                title="<?= $block->escapeHtml($_file['name']) ?>" class="action view">
                                                                <span><?= /*@noEscape*/  __('Download Document') ?></span>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                        <?php if ($areDocuments): ?>
                            <div class="button-top">
                                <div class="button-download-all">
                                    <button class="action secundary download-all" title="<?= __('Download All') ?>" type="submit">
                                        <span><?= __('Download All Documents') ?></span>
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    </form>
                <?php else: ?>
                    <div class="message info empty">
                        <span>
                            <?= /*@noEscape*/ __('No economic documents were uploaded.'); ?>
                        </span>
                    </div>
                <?php endif; ?>
            <?php else : ?>
                <div class="message info empty">
                    <span>
                        <?= /*@noEscape*/ __('No record of economic evaluation.'); ?>
                    </span>
                </div>
            <?php endif ?>
        </div>
    </div>
</div>