<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
?>
<?php $total = $block->getItems()->getSize() ?>
<?php if ($total) : ?>
<?php
    $mapping = [
        "sku" => "ID"

    ];
    ?>
<?php $mpHelper = $this->helper("Formax\ProductData\Helper\AssignProduct"); ?>
<div class="table-wrapper comparison">
    <table class="data table table-comparison" id="product-comparison" data-mage-init='{"compareList":{
                "windowPrintSelector":".action.print",
                "productsInRow":"5",
                "selectors":{
                    "productAddToCartSelector":"button.action.tocart"}
            }}'>
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('Compare Products') ?></caption>
        <thead>
            <tr>
                <?php $index = 0 ?>
                <?php foreach ($block->getItems() as $item) : ?>
                <?php if ($index++ == 0) : ?>
                <th scope="row" class="cell label remove">
                    <span><?= /* @escapeNotVerified */ __('Remove Product') ?></span>
                </th>
                <?php endif; ?>
                <td class="cell remove product hidden-print">
                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                    <a href="#" data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataRemove($item) ?>'
                        class="action delete" title="<?= /* @escapeNotVerified */ __('Remove Product') ?>">
                        <span><?= /* @escapeNotVerified */ __('Remove Product') ?></span>
                    </a>
                </td>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <tr>
                <?php $index = 0; ?>
                <?php $helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                <?php /** @var $item \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($block->getItems() as $item) : ?>
                <?php if ($index++ == 0) : ?>
                <th scope="row" class="cell label product"><span><?= /* @escapeNotVerified */ __('Product') ?></span>
                </th>
                <?php endif; ?>
                <td data-th="<?= $block->escapeHtml(__('Product')) ?>" class="cell product info">
                    <a class="product-item-photo" href="<?= /* @escapeNotVerified */ $block->getProductUrl($item) ?>"
                        title="<?= /* @escapeNotVerified */ $block->stripTags($item->getName(), null, true) ?>">
                        <?= $block->getImage($item, 'product_comparison_list')->toHtml() ?>
                    </a>
                    <strong class="product-item-name">
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($item) ?>"
                            title="<?= /* @escapeNotVerified */ $block->stripTags($item->getName(), null, true) ?>">
                            <?= /* @escapeNotVerified */ $helper->productAttribute($item, $item->getName(), 'name') ?>
                        </a>
                    </strong>
                    <?= $block->getReviewsSummaryHtml($item, 'short') ?>
                    <?php
                            $productId = $item->getId();
                            $collection = $mpHelper->getAssignProductCollection($productId);
                            if ($item->getType() !== 'configurable') {
                                $collection->addFieldToFilter('main_table.status', 1);
                            }
                            $totalSellers = $collection->count();
                            ?>
                    <?php if ($totalSellers > 0) : ?>
                    <div class="wk-ap-price-block">
                        <?php
                                    $productType = $item->getTypeId();
                                    $prices = $mpHelper->getSupplierPricesHtml($productId, $productType, true);
                                    ?>
                        <div class="product-info-price-wk">
                            <div class="price-box">
                                <span class="minimum-price">
                                    <span class="price-container">
                                        <span class="price-wrapper">
                                            <label class="price-label">Desde</label>
                                            <span
                                                class="price"><?= number_format((float)$prices->minPrice, 1, ',', '.') ?>%</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>

                </td>
                <?php endforeach; ?>
            </tr>

            <?php foreach ($block->getAttributes() as $attribute) : ?>
            <?php $index = 0; ?>
            <?php if ($block->hasAttributeValueForProducts($attribute)) : ?>
            <tr>
                <?php foreach ($block->getItems() as $item) : ?>
                <?php $attrCode = $attribute->getAttributeCode() ?>
                <?php if ($index++ == 0) : ?>
                <th scope="row" class="cell label">
                    <span class="attribute label">
                        <?php
                                            $attrLabel = $block->escapeHtml($attribute->getStoreLabel() ? __($attribute->getStoreLabel()) : __($attribute->getFrontendLabel()));
                                            $attrCodeLower = strtolower($attrCode);
                                            $attrLabel = isset($mapping[$attrCodeLower]) ? $mapping[$attrCodeLower] : $attrLabel;
                                            //echo $attrLabel;
                                            ?>
                    </span>
                </th>
                <?php endif; ?>
                <td class="cell product attribute <?= 'attr-' . $attrCode ?>">
                    <div class="attribute value">
                        <?php switch ($attrCode) {
                                            case "price": ?>
                        <?php
                                                /* @escapeNotVerified */ echo $block->getProductPrice(
                                                    $item,
                                                    '-compare-list-' . $attribute->getCode()
                                                )
                                                ?>
                        <?php break;
                                            case "small_image": ?>
                        <?php $block->getImage($item, 'product_small_image')->toHtml(); ?>
                        <?php break;
                                            default: ?>
                        <?php if (is_string($block->getProductAttributeValue($item, $attribute))) : ?>
                        <?= /* @escapeNotVerified */ $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ?>
                        <?php endif; ?>
                        <?php break;
                                        } ?>
                    </div>
                </td>
                <?php endforeach; ?>
            </tr>
            <?php endif; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
            "[data-role=tocart-form]": {
                "catalogAddToCart": {}
            }
        }
        </script>
<?php endif; ?>
<?php else : ?>
<div class="message info empty">
    <div><?= /* @escapeNotVerified */ __('You have no items to compare.') ?></div>
</div>
<?php endif; ?>