<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_helperProd = $this->helper('Formax\ProductData\Helper\IsNew');
$_helperAp = $this->helper('Formax\ProductData\Helper\AssignProduct');
$_helperOffer = $this->helper('Formax\Offer\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();

    $productIds = $_productCollection->getColumnValues('entity_id');
    $_offerPrices = $_helperOffer->getAllProductWithSpecialPrice($productIds);
    $notAvailableText = '<h4 class="nAvT">'.__('Not available').'</h4>';
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>

            <?php
                $collection = $_helperAp->getAssignProductCollection($_product->getId());
                if ($_product->getTypeId() !== 'configurable') {
                  $collection->addFieldToFilter('main_table.status',1);
                }
                $totalSellers = $collection->count();
                //Only for insumos
                if ($_product->getStore()->getData('code') == 'insumos') {
                    $totalSellers = count($_helperAp->getOnlyEnabledSeller($_product->getId()));
                }
                $suppliersText = ($totalSellers > 1) ? __('suppliers') : __('supplier');
            ?>
            <li class="item product product-item">
                <div class="product-item-info" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                    <?php
                        if($_helperProd->isNewProduct($_product)){
                            $ribbonType = "new";
                            $ribbonText = "Nuevo";
                        }
                    ?>
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php if(isset($ribbonType) && isset($ribbonText)): ?>
                      <div class="ribbon product <?= $ribbonType ?>">
                        <span><?= $ribbonText ?></span>
                      </div>
                    <?php endif; ?>
                    <?= ($viewMode == 'list') ? '<div class="product-photo-list">' : '' ?>
                      <?php if($totalSellers): ?>
                        <div class="sellers-count">
                          <?= $totalSellers.' '.$suppliersText ?>
                        </div>
                      <?php endif; ?>
                    <div class="product-id-top">
                        ID <?= /* @escapeNotVerified */ $_product->getSku() ?>
                    </div>
                      <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                          <?= $productImage->toHtml() ?>
                      </a>
                    <?= ($viewMode == 'list') ? '</div>' : '' ?>
                    <div class="product details product-item-details">
                      <?php if($viewMode == 'list'): ?>
                        <div class="plist-blocks-container">
                          <div class="plist-blocks plist-block-one">
                      <?php endif; ?>
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            </div>
                        <?php endif; ?>
                        <?php
                          if($viewMode == 'grid'){
                            if($totalSellers > 0){
                              //echo $block->getProductPrice($_product);
                              echo $_helperAp->getPricesWithOfferHtml($_offerPrices, $_product->getId());
                            }else{
                              echo $notAvailableText;
                            }
                          }
                        ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <?php if($viewMode == 'grid'): ?>
                                <div class="actions-primary">
                                  <a class="action tocart primary cc-link" href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                    <span><?= $block->escapeHtml(__('See Product')) ?></span>
                                  </a>
                                </div>
                                <?php endif; ?>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <?php if($viewMode == 'list'): ?>
                          </div>
                          <div class="plist-blocks plist-block-two">

                            <?php if($totalSellers > 0): ?>
                              <?= $_helperAp->getPricesWithOfferHtml($_offerPrices, $_product->getId()); ?>
                            <?php else: ?>
                              <?= $notAvailableText ?>
                            <?php endif; ?>

                            <div class="product actions product-item-actions">
                              <div class="actions-primary">
                                <a class="action tocart primary cc-link" href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                  <span><?= $block->escapeHtml(__('See Product')) ?></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <!-- END LIST BLOCKS -->
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
