<?php $parentBlock = $this->getParentBlock(); ?>
<?php $helper = $parentBlock->getCmSoftwareHelper(); ?>
<?php $quoteId = $parentBlock->getQuotedId(); ?>
<?php $quote = $parentBlock->getQuoteById($quoteId); ?>
<?php $amount = $quote ? $quote->getAmount() : ''; ?>
<?php $step = $parentBlock->getCurrentStep() == 2 ? false : true; ?>
<?php if ($step): ?>
    <div class="quote_info-provider">
        <span class="quote_infolabel"><span class="quantity"><?= $block->escapeHtml($helper->currencyFormat($amount)) ?></span></span><br>
        <span class="quote_infodata"><?= __('Maximum amount for hiring') ?></span>
    </div>
<?php endif; ?>