<?php
$parentBlock = $this->getParentBlock();
$quotes = $block->getSellers();
$quotedId = $parentBlock->getQuotedId();
$quoteObj= $parentBlock->getQuoteById($quotedId);
$currentStep = 3;
$step = $currentStep == 1 ? true : false;
$helper = $parentBlock->getCmSoftwareHelper();
$stepClass = $currentStep;
$class = 'evaluation-requestforquoted-quote-' . $quotedId . '-step-' . $currentStep;
$idAttribute = 'evaluation-requestedquote-table_' . $quotedId . '_' . $currentStep;
$error = $block->getErrorMessage();
?>
<?php if (!$error): ?>
    <div class="table-wrapper">
        <table class="data-table table table-evaluation-requestforquoted <?= $class ?> table-step-<?= $stepClass ?>" id="<?= $idAttribute ?>">
            <thead>
                <tr>
                    <th scope="col" class="col select-seller"><span>&nbsp;</span></th>
                    <th scope="col" class="col seller-name"><span><?= /*@noEscape*/ __('Seller Name') ?></span></th>
                    <th scope="col" class="col ranking"><span><?= /*@noEscape*/ __('Ranking') ?></span></th>
                    <th scope="col" class="col base-price"><span><?= /*@noEscape*/ __('Base Price') ?></span></th>
                    <th scope="col" class="col discount-amount"><span><?= /*@noEscape*/ __('Applied Discount') ?></span></th>
                    <th scope="col" class="col final-price"><span><?= /*@noEscape*/ __('Final Prices') ?></span></th>
                    <th scope="col" class="col exceed-amount"><span>&nbsp;</span></th>
                    <th scope="col" class="col delete"><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($quotes as $quote): ?>
                    <?php $sellerId = $block->escapeHtml($quote->getSellerId()); ?>
                    <?php $idAttr = 'seller-table-' . $sellerId; ?>
                    <?php $discount = $quote->getDiscountAmount() !== null ? '-' . $block->escapeHtml($helper->currencyFormat($quote->getDiscountAmount())) : '-'; ?>
                    <?php $finalPrice = $discount != '-' ? $quote->getFinalPrice() : $quote->getBasePrice() ?>
                    <?php $exceed = ($finalPrice > $quoteObj->getAmount()) ? 'class="exceeded"' : ''; ?>
                    <tr <?= $exceed ?>>
                        <td data-th="Action" class="col select-seller">
                            <input id="<?= $idAttr ?>" type="checkbox" class="seller-check seller-id" name="seller_quote_id" value="<?= $sellerId ?>">
                        </td>
                        <td data-th="<?= __('Seller Name') ?>" class="seller-name">
                            <span>
                                <?= $block->escapeHtml($quote->getSellerName()) ?>
                            </span>
                            <span>
                                <?= __('RUT:') . ' ' . $block->escapeHtml($quote->getRut()) ?>
                            </span>
                        </td>
                        <td data-th="<?= __('Ranking') ?>" class="ranking">
                            <span>
                                <strong><?= $block->escapeHtml($quote->getRanking()) ?></strong>
                            </span>
                        </td>
                        <td data-th="<?= __('Base Price') ?>" class="base-price">
                            <span>
                                <strong><?= $block->escapeHtml($helper->currencyFormat($quote->getBasePrice())) ?></strong>
                            </span>
                        </td>
                        <td data-th="<?= __('Applied Discount') ?>" class="discount-amount">
                            <span>
                                <strong><?= $discount ?></strong>
                            </span>
                            <?php if ($discount != '-'): ?>
                                <span class="discount-percent">
                                    <?= __('%1%% Applied', number_format((float)$quote->getDiscountPercent(), 1, ',', '.')) ?>
                                </span>
                            <?php endif; ?>
                        </td>
                        <td data-th="<?= __('Final Price') ?>" class="final-price">
                            <span>
                                <strong><?= $block->escapeHtml($helper->currencyFormat($finalPrice)) ?></strong>
                            </span>
                        </td>
                        <td data-th="<?= __('Exceed Amount') ?>">
                            <span>
                                <?php if (!empty($exceed)): ?>
                                    <strong><?= __('Exceed amount') ?></strong>
                                <?php else: ?>
                                    &nbsp;
                                <?php endif; ?>
                            </span>
                        </td>
                        <td data-th="Action" class="col delete">
                            <span class="nobr label wk_action">
                                <a href="·"
                                    title="<?= /*@noEscape*/ __('Delete') ?>" class="action view" style="display:none;">
                                    <span><?= /*@noEscape*/  __('Delete') ?></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <input type="hidden" id="evaluationQuotedId" name="quotedId" value="<?= $quotedId ?>"/>
        <?php if ($parentBlock->getPagerHtml()): ?>
            <div class="toolbar bottom">
                <div class="pager">
                    <p class="toolbar-amount">
                        <span class="toolbar-number"><?= /*@noEscape*/ $parentBlock->getPagerHtml(); ?></span>
                    </p>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php else : ?>
    <div class="message info empty">
        <span>
            <?= /*@noEscape*/ $error; ?>
        </span>
    </div>
<?php endif ?>
<script type="text/x-magento-init">
{
    "#<?= $idAttribute ?>": {
        "Formax_EvaluateRequestforquote/js/select-sellers": {}
    }
}
</script>