<div class="page-title">
    <h1 class="quote-title"><?= /*@noEscape*/ __('Paso %1 de %2 - %3', 3, 3, __('Economic evaluation and award')) ?></h1>
    <p class="description-title"><?= __('Select the seller that will be awarded, according to the economic evaluation carried out in the current step.') ?></p>
</div>