<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="cc-success-message">
    <div class="checkout-success">
        <?php if ($block->getOrderId()):?>
            <i class="ccicon-check-flat"></i>
            <h2 class="page-subtitle"><?php echo __('Thanks for your purchase!') ?></h2>
            <?php if ($block->getCanViewOrder()) :?>
                <p><?= __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
            <?php  else :?>
                <p><?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
            <?php endif;?>
                <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
            <?php if ($block->getOrderDataById($block->getOrderId())->getOrdenDeCompra()) :?>
                <p><?= __('To continue the process in MercadoPublico: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->getOrderDataById($block->getOrderId())->getUrlOrdenDeCompra(), $block->getOrderDataById($block->getOrderId())->getOrdenDeCompra())) ?></p>
            <?php endif;?>
        <?php endif;?>

        <?= $block->getAdditionalInfoHtml() ?>

        <div class="actions-toolbar">
            <div class="primary">
                <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
            </div>
        </div>
    </div>
</div>
