<?php
$quote = $block->getQuoteInfo();
$collectionTeamJob = $block->getCollectionTeamJob();
$collectionServices = $block->getCollectionServices();
$numTeamJob = $collectionTeamJob->getSize();
$numServices = $collectionServices->getSize();
$media = $block->getPathMedia();
?>
<div class="wk_mp_design">
	<div class="jobs_team">
		<?php if ($quote !== null): ?>
			<div>
		        <div class="page-title">
		    		<h1 class="quote-title"><?= $quote->getSubject() ?></h1>
		    	</div>
			    <div class="jobs_quoteinfo">
			    	<span><?= __('Proveedor adjudicado')?>: <?= $quote->getSellerName() ?></span>
			    	<span><?= __('Cotización:')?> ID <?= $quote->getEntityId() ?></span>
			    </div>
	    	</div>
		    <div class="jobsteams_container">
		    	<div class="page-title">
		    		<h1 class="quote-title"><?= __('Equipo de trabajo y entregables')?></h1>
		    	</div>
		    	<div class="team_section">
		    		<h2><?= __('Equipo de trabajo') ?></h2>
		    		<?php if ($numTeamJob > 0): ?>
			    		<table>
			    			<thead>
			    				<tr>
			    					<th>
			    						<?= __('ROL') ?>
			    					</th>
			    					<th>
			    						<?= __('NOMBRE COMPLETO') ?>
			    					</th>
			    					<th class="center-text">
			    						<?= __('HORAS') ?>
			    					</th>
			    					<th class="center-text">
			    						<?= __('ÚLTIMA MODIFICACIÓN') ?>
			    					</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<?php foreach($collectionTeamJob as $item): ?>
				    				<tr>
				    					<td><?= $item->getRol() ?></td>
				    					<td><?= $item->getName() ?></td>
				    					<td class="center-text"><?= $item->getHours() ?></td>
				    					<td class="center-text"><?= $item->getCreatedAt() ?></td>
				    				</tr>
			    				<?php endforeach; ?>
			    			</tbody>
			    		</table>
		    		<?php else: ?>
		    			<div class="message info empty">
		                    <span>
		                        <?= __('No hay equipo de trabajo registrado.') ?>
		                    </span>
		                </div>
		    		<?php endif; ?>
		    	</div>
		    	<div class="jobs_section">
		    		<h2><?= __('Entregables') ?></h2>
		    		<?php if ($numServices > 0): ?>
			    		<table>
			    			<thead>
			    				<tr>
			    					<th>
			    						<?= __('NOMBRE') ?>
			    					</th>
			    					<th>
			    						<?= __('DETALLE') ?>
			    					</th>
			    					<th class="center-text">
			    						<?= __('FECHA ENTREGA') ?>
			    					</th>
			    					<th>
			    						<?= __('INFORME') ?>
			    					</th>
		    					</tr>
			    			</thead>
			    			<tbody>
			    				<?php foreach($collectionServices as $services):
									$urlbaseinf = $block->getUrlBaseInforme();
									$additionalData = $services->getAdditionalData();
									$urlInforme = '';
									if (!empty($additionalData)):
										$unsData = $block->unSerializeData($services->getAdditionalData());
										$urlInforme = $urlbaseinf.$unsData['informe'];
									endif;
									?>
									<tr>
										<td>
											<?= $services->getName() ?>
										</td>
										<td>
											<?= $services->getDetails() ?>
										</td>
										<td class="center-text">
											<?= $services->getDeliverDate() ?>
										</td>
										<td>
											<a href="<?= $urlInforme ?>"><?= __('Ver Informe') ?></a>
										</td>
									</tr>
			    				<?php endforeach; ?>
			    			</tbody>
			    		</table>
		    		<?php else: ?>
		    			<div class="message info empty">
		                    <span>
		                        <?= __('No hay servicios y/o entregables registrados.') ?>
		                    </span>
		                </div>
		    		<?php endif; ?>
		    	</div>
		    </div>
	    <?php else: ?>
			<div class="message info empty">
                <span>
                    <?= __('No se encontró el número de cotización.') ?>
                </span>
            </div>
	    <?php endif; ?>
	</div>
</div>
<style>
	.center-text {
		text-align: center;
	}
	.jobs_team {
	    background: #FFF;
	    padding: 40px 30px;
	}
	h1.quote-title {
		font-weight: 300;
		font-size: 24px;
		margin: 0 0 5px 0;
	}
	.jobsteams_container h2 {
	    font-size: 18px;
	    padding-top: 20px;
	    font-weight: 400;
	}
	.jobs_quoteinfo span {
	    display: block;
	    font-weight: 600;
	}
	.jobs_quoteinfo {
	    padding-bottom: 20px;
	    border-bottom: 1px solid rgb(177, 177, 177);
	    margin-bottom: 15px;
	}
	.jobsteams_container th {
	    color: rgb(135, 152, 173);
	    font-size: 12px;
	}
	.jobsteams_container td {
	    font-size: 12px;
	}
	.jobsteams_container tbody tr {
	    border: 1px solid rgb(177, 177, 177);
	    margin:5px;
	}
	.jobsteams_container td:last-child, .jobsteams_container th:last-child {
	    text-align: center;
	}
</style>