<?php $fieldsSaved = $block->getRegionalConditionbySeller(); ?>
<?php $totalFieldsSaved = isset($fieldsSaved['region_id']) && is_array($fieldsSaved['region_id']) ? count($fieldsSaved['region_id']) : 0; ?>
<?php $totalFields = (int)$block->getPostValue('field_count') > 0
    ? (int)$block->getPostValue('field_count') : ($totalFieldsSaved > 0 ? $totalFieldsSaved : 1); ?>
<?php $regions = $block->getRegions(); ?>
<?php $yesNo = $block->getYesNo(); ?>
<?php $regionIdPostValue = 0 ?>

<div class="regional-condition">
    <div class="container">
        <form id="form-regional-condition" method="post" class="form" action="<?= $block->getPostUrl() ?>" data-mage-init='{"validation":{}, "customValidation":{}}'>
            <input type="hidden" name="seller_id" id="seller_id" value="<?= $block->getSellerId() ?>" />
            <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>" />
            <input type="hidden" name="field_count" id="field_count" value="<?= (int)$totalFields ?>" >
            <input type="hidden" name="website_id" id="website_id" value="<?= $block->getWebsiteId() ?>">
            <div class="container-form-matriz">
                <div class="content-to-clone active">
                    <div class="overlay-avoidclick"></div>
                    <div class="container-regional-condition-form">
                        <div class="container-regional-condition-fields">
                            <div class="field region-field">
                                <label class="label region-label" for="region"><span><?= __('Region') ?></span></label>
                                <div class="control">
                                    <select name="region" id="region" class="region_id select required">
                                        <?php
                                            foreach ($block->getNonAssignedRegions() as $region)
                                            {
                                                echo "<option value='" . $region['value'] . "'>" . $region['title'] . "</option>";
                                            }
                                        ?>
                                    </select>
                                </div>
                                <div class="regional-rows-box">
                                    <div class="regional-rows first-row">
                                        <div class="field required">
                                            <label class="label" for="contact_name?>"><span><?= __('Contact Name') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_name" id="contact_name" class="contact-name text validate-letter-latin-whitespace required" maxlenght="255"
                                                       title="<?= $block->escapeHtml(__('Contact Name')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="contact_phone_"><span><?= __('Contact Phone') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_phone" id="contact_phone" class="contact-phone text phoneCL required" maxlenght="15"
                                                       title="<?= $block->escapeHtml(__('Contact Phone')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="contact_email"><span><?= __('Contact Email') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="contact_email" id="contact_email" class="contact-email text required email" maxlenght="150"
                                                       title="<?= $block->escapeHtml(__('Contact Email')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="enable_storepickup"><span><?= __('Storepickup') ?></span></label>
                                            <div class="control">
                                                <select name="enable_storepickup" id="enable_storepickup" class="enable-storepickup select required">
                                                    <?php foreach ($yesNo as $key => $value) :?>
                                                         <option value="<?= $key ?>"><span><?= $value ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="days_storepickup"><span><?= __('Delivery Time Store Pickup') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="days_storepickup" id="days_storepickup" class="days-storepickup text validate-digits format-number required" maxlenght="5"
                                                       title="<?= $block->escapeHtml(__('Delivery Time Store Pickup')) ?>"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="maximum_delivery"><span><?= __('Maximum Delivery Time Store Pickup') ?></span></label>
                                            <div class="control">
                                                <input type="text" name="maximum_delivery" id="maximum_delivery" class="maximum-delivery text number-unlimited format-number required" maxlenght="5"
                                                       title="<?= $block->escapeHtml(__('Maximum Delivery Time Store Pickup')) ?>"
                                                       value="" />
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label class="label" for="enable_emergency_storepickup"><span><?= __('Emergency Store Pickup') ?></span></label>
                                            <div class="control">
                                                <select name="enable_emergency_storepickup" id="enable_emergency_storepickup" class="enable-emergency-storepickup select required">
                                                    <?php foreach ($yesNo as $key => $value) :?>
                                                         <option value="<?= $key ?>"><span><?= $value ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="maximum_delivery[]" id="maximum_delivery" class="maximum-delivery text number-unlimited format-number required" maxlenght="5" title="<?= $block->escapeHtml(__('Maximum Delivery Time Store Pickup')) ?>" value="readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container form-actions control">
                            <button type="submit" class="submit action primary">
                                <span><?= __('Save') ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

