<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper = $block->getHelperObj();
$imageHelper = $block->getHelperImage();
$request = $block->getRequestObj();
$paramData = $request->getParams();
$filter = '';
$filterStatus = '';
$filterDateFrom = '';
$filterDateTo = '';
if (isset($paramData['s'])) {
    $filter = $paramData['s'] != '' ? $paramData['s'] : '';
}
if (isset($paramData['status'])) {
    $filterStatus = $paramData['status'] != '' ? $paramData['status'] : '';
}
if (isset($paramData['from_date'])) {
    $filterDateFrom = $paramData['from_date'] != '' ? $paramData['from_date'] : '';
}
if (isset($paramData['to_date'])) {
    $filterDateTo = $paramData['to_date'] != '' ? $paramData['to_date'] : '';
}
$_products_coll = $block->getAllQuotedProductCollection()->getData();
?>
<div class="wk-mp-design">
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend">
            <span><?= /*@noEscape*/ __('Product List') ?></span>
        </legend>
        <div class="grid">
            <div class="hor-scroll">
                <form action="<?= $block->escapeUrl($block->getUrl('requestforquote/seller/allquotedproduct/', ['_secure' => $request->isSecure()]))?>" method="get" id="form-productlist-filter"  name="formProductlistFilter" data-mage-init='{"validation":{}}'>
                    <table cellspacing="0" class="border wk-mp-list-table">
                        <thead>
                            <tr id="wk-mp-tr-heading">
                                <th><span><?= /*@noEscape*/ __('Product Name') ?></span></th>
                                <th><span><?= /*@noEscape*/ __('Date') ?></span></th>
                                <th><span><?= /*@noEscape*/ __('Product Status') ?></span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody class="wk-mp-body" id="colender-check">
                            <tr>
                                <td>
                                    <input type="text" class="input-text" name="s" placeholder='<?= /*@noEscape*/ __('Search by product name') ?>' value="<?= $block->escapeHtml($filter)?>"/>
                                </td>
                                <td>
                                    <span class="wk-mp-td-span">
                                        <?= /*@noEscape*/ __('From: ') ?>
                                        <input name="from_date" id="special-from-date" class="input-text" value="<?= $block->escapeHtml($filterDateFrom) ?>" />
                                    </span>                                
                                    <span class="wk-mp-td-span">
                                        <?= /*@noEscape*/ __('To: ') ?>
                                        <input name="to_date" id="special-to-date" class="input-text" value="<?= $block->escapeHtml($filterDateTo) ?>" />
                                    </span>
                                </td>
                                <td>
                                    <select name="status" class="input-text">
                                        <option value="0" <?php if ($filterStatus == 1) { echo 'selected="selected"'; }?>>
                                            <?= /*@noEscape*/ __('Pending') ?></option>
                                        <option value="1" <?php if ($filterStatus == 2) { echo 'selected="selected"'; }?>>
                                            <?= /*@noEscape*/ __('Sent To Seller') ?>
                                        </option>
                                        <option value="2" <?php if ($filterStatus == 3) { echo 'selected="selected"'; }?>>
                                            <?= /*@noEscape*/ __('Complete') ?>
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button class="button" title="Save" type="submit">
                                        <span><span><span><?= /*@noEscape*/ __('Submit') ?></span></span></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div data-bind="scope: 'product-list-component'">    
                <?php if ($_products_coll && count($_products_coll)) : ?>
                    <form action="<?= $block->escapeUrl($block->getUrl('marketplace/product/massDelete', ['_secure' => $request->isSecure()])) ?>" method="post" id="form-productlist-massdelete" name="formProductlistMassdelete" data-mage-init='{"validation":{}}'>
                        <?= /*@noEscape*/ $block->getBlockHtml('seller.formkey')?>
                        <?= /*@noEscape*/ $block->getBlockHtml('formkey')?>
                        <table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
                            <thead>
                                <tr class="wk-content">
                                    <th>
                                        <span class="label pro-status">
                                            <?= /*@noEscape*/ __('Product Id')?>
                                        </span>
                                    </th>
                                    <th class="wk-first-td">
                                        <span class="label name">
                                            <?= /*@noEscape*/ __('Product')?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label pro-status">
                                            <?= /*@noEscape*/ __('Status')?>
                                        </span>
                                    </th>
                                    <th class="wk-list-th-display">
                                        <span class="label qty">
                                            <?= /*@noEscape*/ __('Bulk Order Quantity')?>
                                        </span>
                                    </th>
                                    <th class="wk-list-th-display">
                                        <span class="label qty">
                                            <?= /*@noEscape*/ __('Created At')?>
                                        </span>
                                    </th>    
                                    <th class="wk-list-th-display">
                                        <span class="label qty">
                                            <?= /*@noEscape*/ __('Updated At')?>
                                        </span>
                                    </th>                    
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                $i = 0;
                                foreach ($block->getAllQuotedProductCollection() as $product) {
                                    if ($product->getProductId()) {
                                            $productModel = $block->getProductDetails($product->getProductId());
                                            $image_url = $imageHelper->init($productModel, 'product_page_image_small')
                                                    ->setImageFile($productModel->getImage())
                                                    ->getUrl();
                                        ?>
                                    <tr class="wk-row-view">
                                        <td >
                                            <span class="label pro-status">
                                                <?= $block->escapeHtml($product->getProductId()) ?>
                                            </span>
                                        </td>
                                        <td class="wk-first_td">        
                                            <div class="label name" title="<?= $block->escapeHtml($product->getSubject()); ?>">
                                                <div class="wk-pro-divide1">
                                                    <img src="<?= $block->escapeUrl($image_url)?>" class="image" />
                                                </div>
                                                <div class="wk-pro-divide2">
                                                    <div style="width:100%;">
                                                        <?= $block->escapeHtml($product->getSubject()); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                            <td>        
                                                <span class="label pro-status">
                                                    <?php if ($product->getStatus()==0) {
                                                            /*@noEscape*/ echo __('Pending');
                                                    } elseif ($product->getStatus()==1) {
                                                           /*@noEscape*/echo __('Sent to Seller');
                                                    } else {
                                                        /*@noEscape*/ echo __('Completed');
                                                    }?>
                                                </span>
                                            </td>
                                            <td class="wk-list-th-display">
                                                <span class="label qty">
                                                    <?= $block->escapeHtml($product->getBulkOrderQty()); ?>
                                                </span>
                                            </td>
                                            <td class="wk-list-th-display">
                                                <span class="label qty">
                                                    <?= $block->escapeHtml($product->getCreatedAt()); ?>
                                                </span>    
                                            </td>
                                            <td class="wk-list-th-display1">
                                                <span class="label qty">
                                                    <?= $block->escapeHtml($product->getUpdatedAt()); ?>
                                                </span>    
                                            </td>        
                                    </tr>
                                                        <?php
                                    }}?>
                            </tbody>
                        </table>
                    </form>
                    </div>                        
                <?php else : ?>
                    <div class="wk-emptymsg">
                        <?= /*@noEscape*/ __('No Product Available') ?>
                    </div>
                <?php endif ?>                    
            </div>
        </div>
        <?php if ($block->getPagerHtml()) : ?>
            <div class="order-products-toolbar toolbar bottom"><?= /*@noEscape*/ $block->getPagerHtml(); ?></div>
        <?php endif ?>    
    </fieldset>    
</div>
<script>
    require([
        'jquery',
        "mage/calendar"
    ], function ($) {
        $( "#special-from-date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#special-to-date" ).datepicker({dateFormat: "yy-mm-dd"});
        $('button[type="submit"]').on('click', function(){
            $("body").loader('show');
        });
    });
</script>