<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper= $block->getHelperObj();
$filter = '';
$filterDateFrom = '';
$filterDateTo = '';
$request = $block->getRequestObj();
if ($quoteKeyword = $request->getParam('s')) {
    $filter = $quoteKeyword != "" ? $quoteKeyword : "";
}
if ($quoteFromDate = $request->getParam('from_date')) {
    $filterDateFrom = $quoteFromDate != "" ? $quoteFromDate : "";
}
if ($quoteToDate = $request->getParam('to_date')) {
    $filterDateTo = $quoteToDate != "" ? $quoteToDate : "";
}
$filterStatus = 1;
if ($request->getParam('status') != '') {
    $status = $request->getParam('status');
    $filterStatus = $status != '' ? $status : '';
}
$quotes = $block->getRequestedQuote();
?>
<div class="wk_mp_design">
    <form action="" method="get">
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
                <tr id="wk_mp_tr_heading">
                    <th><span><?= /*@noEscape*/ __('Subject')  ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Date')  ?></span></th>
                    <th><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody class="wk_mp_body">
                <tr>
                    <td>
                        <input type="text" class="input-text" name="s" placeholder='<?= /*@noEscape*/ __('Search by subject')  ?>' value="<?= $block->escapeHtml($filter) ?>"/>
                    </td>
                    <td>
                        <span class="wk_mp_td_span">
                            <?= /*@noEscape*/ __('From: ')  ?>
                            <input name="from_date" id="special_from_date" class="input-text" value="<?= $block->escapeHtml($filterDateFrom) ?>" />
                        </span>                             
                        <span class="wk_mp_td_span">
                            <?= /*@noEscape*/ __('To: ')  ?>
                            <input name="to_date" id="special_to_date" class="input-text" value="<?= $block->escapeHtml($filterDateTo) ?>" />
                        </span>
                    </td>
                    <td>
                        <button class="button" title="Save" type="submit">
                            <span><span><span><?= /*@noEscape*/ __('Submit')  ?></span></span></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <ul class="wk_mp_rfq_list">
        <li class="open <?php if ($filterStatus == 1) { echo "active"; }  ?>" data-url="<?= $block->escapeUrl($block->getOpenQuoteUrl())  ?>">
            <span class="name">Open</span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus(1))  ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 0) { echo "active"; }  ?>" data-url="<?= $block->escapeUrl($block->getPendingQuoteUrl())  ?>">
            <span class="name">Pending</span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus(0))  ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 2) { echo "active"; }  ?>" data-url="<?= $block->escapeUrl($block->getAnsweredQuoteUrl())  ?>">
            <span class="name">Answered</span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus(2)) ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 3) { echo "active"; }  ?>" data-url="<?= $block->escapeUrl($block->getSolvedQuoteUrl()) ?>">
            <span class="name">Resolved</span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus(3)) ?></span>
        </li>
        <li class="open last <?php if ($filterStatus == 4) { echo "active"; }  ?>" data-url="<?= $block->escapeUrl($block->getClosedQuoteUrl()) ?>">
            <span class="name">Closed</span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus(4))  ?></span>
        </li>
    </ul>
    <?php if ($quotes->getSize()) :  ?>
        <div class="table-wrapper">
            <table class="data-table table" id="wk_mp_requestedquote_table">
                <thead>
                    <tr>
                        <th scope="col" class="col quote"><span><?= /*@noEscape*/ __('Requested Quote For Product')  ?></span></th>
                        <th scope="col" class="col customerName"><span><?= /*@noEscape*/ __('Customer Name')  ?></span></th>
                        <th scope="col" class="col creationDate"><span><?= /*@noEscape*/ __('Created On')  ?></span></th>
                        <th scope="col" class="col action"><span><?= /*@noEscape*/ __('Action')  ?></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($quotes as $quote) :  ?>
                        <tr>
                            <td data-th="Requested Quote For Product" class="col quote">
                                <?= $block->escapeHtml($quote->getSubject())  ?>
                            </td>
                            <td data-th="Seller Name" class="col customerName"><?= $block->escapeHtml($quote->getCustomerName())  ?></td>
                            <td data-th="Created On" class="wk_list_date_display col creationDate">
                                <span class="nobr"><?= $block->escapeHtml($quote->getCreatedAt())  ?></span>
                            </td>
                            <td data-th="Action" class="col action">
                                <a href="<?= $block->escapeUrl($block->getViewUrl($quote->getId())) ?>" title="<?= /*@noEscape*/ __('View') ?>" class="wk-mp-store-icon"><?= /*@noEscape*/ __('View') ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach;  ?>
                </tbody>
            </table>
        </div>
    <?php else :  ?>
        <p class="wk_mp_rfq_no_record"><?= /*@noEscape*/ __('No Record found.');  ?></p>
    <?php endif  ?>
    <div class="toolbar bottom">
        <div class="pager">
            <p class="toolbar-amount">
                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
            </p>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        "mage/calendar"
    ], function ($) {
        $('.wk_mp_rfq_list').on('click','li',function() {
        var currentUrl = $(this).attr('data-url');
        window.location = currentUrl;  
        });
        $( "#special_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#special_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
    });
</script>
