<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$i = 0;
$ajaxData = [];
$helper= $block->getHelperObj();
$_helper = $block->getCatalogOpHelper();
$imageHelper = $block->getCatalogImgHelper();
$mpHelper = $block->getMpHelper();
$currencyHelper = $block->getPriceHelper();
$marginLeftCssForQtyAndPrice = 'margin-left: -5%';
if ($mpHelper->getIsSeparatePanel()) {
    $marginLeftCssForQtyAndPrice = 'margin-left: -4%';
}
$request = $block->getRequestObj();
$id = $request->getParam('id');
$sellerQuote = $block->getQuoteInfoById($id);
$ajaxData['seller_id'] = $sellerQuote['seller_id'];
$ajaxData['quote_id'] = $sellerQuote['quote_id'];
$quoteConversation = $block->getQuoteConversation();
$quoteConversationData = array_reverse($quoteConversation->getData());
$quoteId = $sellerQuote['quote_id'];
$hideResponseAreaForClosedQuote = "";
$quote = $block->getQuoteById($quoteId);
$cmSofwareHelper = $this->helper('Formax\ConfigCmSoftware\Helper\Data');
$approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']);
if ($quote['product_id']) {
    $product = $block->getProductDetails($quote['product_id']);
    if (isset($product['name'])) {
        $mediaGalleryImages = $product->getMediaGalleryImages();
        $productImage = $product->getImage();
    } else {
        $mediaGalleryImages = [];
        $productImage = '';
    }
} else {
    $mediaGalleryImages = [];
    $productImage = '';
}
$price = 0;
$productId = $sellerQuote['product_id'];
$qty =  $quote['bulk_order_qty'];
$quotedatedelivery =  $quote['quotedatedelivery'];
$quoteaddress =  $quote['quoteaddress'];
$quotecomments =  $quote['quotecomments'];
$quotedatereceive =  $quote['quotedatereceive'];
$quotedatequestion =  $quote['quotedatequestion'];
$quotenotif =  $quote['quotenotif'];
if (isset($approvedRfqInfo['entity_id'])) {
    $price = $approvedRfqInfo['quote_price'];
    $qty = $approvedRfqInfo['bulk_quote_qty'];
}
$ajaxData['quantity'] = $qty;
$ajaxData['price'] = $price;
$ajaxData['productId'] = $quote['product_id'];
$ajaxData['tax_class_id'] = $quote['tax_class_id'];
$subject =  $quote['subject'];
$description =  html_entity_decode($quote['description']);
$attributeDescription =  $quote['attribute_description'];
$sampleImages =  [];
if ($quote['sample_images']) {
    $sampleImages =  explode(',', $quote['sample_images']);
}
$sellerName =  $block->getSellerName();
$customerName =  $block->getCustomerNameById($quote['customer_id']);
$sellerLogo = $block->getSellerLogoBySellerId();
?>
<div class="wk_mp_design wk_mp_rfq_main_container" style="width:99%;">

    <div class="wk_mp_rfq_reponse_box" <?= $block->escapeHtml($hideResponseAreaForClosedQuote); ?>>
        <div class="wk_mp_rfq_reponse_right">
            <div class="container-info-title">
              <div class="page-title">
                  <strong><?= __("INGRESO DE OFERTA"); ?></strong>
                  <h1 style="word-wrap: break-word;">
                      <?= /*@noEscape*/ $description ?>
                      <br>
                      <?php $status = __("Approved By Customer"); ?>
                      <?php /*if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
                          <a href="#wk_mp_rfq_approved_box" class="wk_mp_rfq_span wk_mp_rfq_customer" style="color: inherit!important;text-decoration: none;"><?=  __("Approved By Customer") ?></a>
                          <?php if ($sellerQuote['product_created'] == 1) { ?>
                              <?php $status = __('Product Created'); ?>
                              <?php if ($sellerQuote['product_created'] == 1 && $sellerQuote['order_created']) { ?>
                                  <?php $status = __('Product has been purchased by the customer'); ?>
                              <?php } else { ?>
                                  <?php $status = __('Product has been created'); ?>
                              <?php } ?>
                          <?php } else { ?>
                              <br><button id="wk_mp_rfq_create_product"><?=  __("Create Product") ?></button>
                          <?php } ?>
                      <?php elseif ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==4) : ?>
                          <?php $hideResponseAreaForClosedQuote = 'style="display:none;"'; ?>
                          <a href="#wk_mp_rfq_approved_box" class="wk_mp_rfq_span wk_mp_rfq_customer" style="color: inherit!important;text-decoration: none;"><?=  __("Closed") ?></a>
                      <?php endif */?>
                  </h1>
              </div>
            <div class="customerdata">
              <b><?= __("Organismo");?>: <?= $block->escapeHtml($quote->getOrganization()) ?></b><br>
            </div>
              <div class="quote_info">
                  <span class="quote_infolabel"><?= __("ID Cotización");?></span><span class="quote_infodata"> <?= $sellerQuote['quote_id'];?></span><br>
                  <span class="quote_infodata"><?= $block->getCategoryByProductById($quote['product_id']) ?></span><br>
                  <span class="quote_infolabel"><?= __("ID Ficha producto");?></span><span class="quote_infodata"> <?= $quote['product_id'];?></span>
              </div>

            <div class="wk_mp_rfq_communication_box wk_mp_rfq_data_purchase_box" style="padding: 20px 3px;">
              <h4><?= /*@noEscape*/ __("Antecedentes Generales") ?></h4>
                <!--<div class="field">
                    <p><?= /*@noEscape*/ __("Customer Name: ") ?></p><span><?= $block->escapeHtml($customerName) ?></span>
                </div>-->
                <div class="field wk_mp_rfq_textarea_container">
                  <p><?= /*@noEscape*/ __("Nombre de cotización: ") ?></p><span><?= /*@noEscape*/ $description ?></span>
                </div>
                <div class="field tic">
                  <p><?= /*@noEscape*/ __("Código comité TIC (Si tiene)") ?></p>
                  <span><?= $block->escapeHtml($quote->getTic()) ?></span>
                </div>
                <!--<div class="field">
                    <p><?= /*@noEscape*/ __("Recibir cotizaciones hasta: ") ?></p><span><?= $block->escapeHtml($quotedatereceive) ?></span>
                </div>-->

                <div class="field publication_term">
                  <p><?= /*@noEscape*/ __("Plazo de publicación") ?></p>
                  <span><?= $block->escapeHtml($quote->getPublicationTerm()) . ' ' . __('business days') ?></span>
                </div>
                <div class="field evaluation_term">
                  <p><?= /*@noEscape*/ __("Plazo de evaluación") ?></p>
                  <span><?= $block->escapeHtml($quote->getEvaluationTerm()) . ' ' . __('business days') ?></span>
                </div>
                <?php
                $stardate=strtotime($quote->getPublicationTerm());
                $enddate=strtotime($quote->getEvaluationTerm());
                $count_days = $cmSofwareHelper->getPublicationDaysTerm();//$stardate - $enddate;
                //$count_days = round($count_days / (60 * 60 * 24));?>
                <span class="noteinfo"><?= /*@noEscape*/ __("Una vez publicada la cotización, se encontrará disponible durante %1 días hábiles", $count_days) ?></span>
                <div class="field publication_term">
                  <p><?= /*@noEscape*/ __("Plazo para realizar preguntas") ?></p>
                  <span><?= $block->escapeHtml($quote->getMakeQuestionTerm()) . ' ' . __('business days') ?></span>
                </div>
                <div class="field email">
                  <p><?= /*@noEscape*/ __("Correo electrónico para realizar preguntas") ?></p>
                  <span><?= $block->escapeHtml($quote->getEmail()) ?></span>
                </div>
                <div class="field email">
                  <p><?= /*@noEscape*/ __("Garantía de fiel cumplimiento de acuerdo complementario") ?></p>
                  <span><?= $block->escapeHtml($cmSofwareHelper->numberFormat($quote->getComplianceGuarantee())) ?>%</span>
                </div>
                <div class="field beneficiary">
                  <p><?= /*@noEscape*/ __("Beneficiario") ?></p>
                  <span><?= $block->escapeHtml($quote->getBeneficiary()) ?></span>
                </div>
                <?php if ($quote->getRecruitmentTarget() && !empty($quote->getRecruitmentTarget())):?>
                <h4><?= /*@noEscape*/ __("Descripción de los requerimientos") ?></h4>
                <div class="field recruitment_target">
                  <p><?= /*@noEscape*/ __("Objeto contratación") ?></p>
                  <span><?= $block->escapeHtml($quote->getRecruitmentTarget()) ?></span>
                </div>
                <div class="field engagement_scope">
                  <p><?= /*@noEscape*/ __("Alcance de la contratación") ?></p>
                  <span><?= $block->escapeHtml($quote->getEngagementScope()) ?></span>
              </div>
                <div class="field especific_requirement">
                  <p><?= /*@noEscape*/ __("Requerimientos específicos") ?></p>
                  <span><?= $block->escapeHtml($quote->getEspecificRequirement()) ?></span>
                </div>
              <?php endif;?>
                <h4><?= __("Servicios y/o productos entregrables")?></h4>

                    <?php $deliverable_services=json_decode($quote->getDeliverableServices());
                    $deliverable_services_html="";
                    if(isset($deliverable_services->data)){
                        foreach ($deliverable_services->data as $key => $ds) {
                            $deliverable_services_html .= "<div class='field'><p>" . __("Nombre del servicio") . "</p><span> " . $ds->service_name . " </span></div>";
                            $deliverable_services_html .= "<div class='field'><p>" . __("Detalle") . "</p><span>" . $ds->detail . "</span></div>";
                        }
                    }
                    ?>
                    <?= $deliverable_services_html ?>
                <div class="field">
                  <p><?= /*@noEscape*/ __("Plazo máximo disponible para la ejecución de los servicios") ?></p>
                  <?php
                  switch ($quote->getExecutionServicesTermText()) {
                    case "1":
                      $execution_term_text = __("Días corridos");
                      break;
                    case "2":
                      $execution_term_text = __("Días hábiles");
                      break;
                    case "3":
                      $execution_term_text = __("Semanas");
                      break;
                    case "4":
                      $execution_term_text = __("Meses");
                      break;
                    default:
                      $execution_term_text = __("Días corridos");
                  }?>
                  <span><?= $block->escapeHtml($quote->getExecutionServicesTermNumber()) ?> <?= $block->escapeHtml($execution_term_text) ?></span>
                </div>
                <div class="field">
                  <p><?= /*@noEscape*/ __("Presupuesto máximo") ?></p>
                  <span><?= $block->escapeHtml($cmSofwareHelper->currencyFormat($quote->getAmount())) ?></span>
                </div>
                <div class="field match-criterias">
                    <p><?= /*@noEscape*/ __("Criterios de desempate") ?></p>
                  <span><?= $block->escapeHtml($quote->getMatchCriterias()) ?></span>
                </div>
                <?php $files = $cmSofwareHelper->getFilesPath($quote->getFile()); ?>
                <div class="field">
                    <p><?= /*@noEscape*/ __("Documentos adjuntos") ?></p>
                    <?php if ($files): ?>
                        <div class="field container-files">
                            <?php foreach($files as $file): ?>
                                <div class="field file">
                                    <div class="info-file">
                                        <span><?= $file['name'] ?></span>
                                        <p>Archivo <?= $file['ext'] ?></p>
                                    </div>
                                    <div class="download-file">
                                        <a href="<?= $file['url'] ?>" target="_blank">
                                            <span><?= __("Descargar") ?></span>
                                        </a>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>
                </div>
                <?php if (!($attributeDescription == null || $attributeDescription == "")) { ?>
                    <div class="wk_mp_rfq_textarea_container"><h2><?= /*@noEscape*/ __("Quote Details: ") ?></h2><?= /*@noEscape*/ $attributeDescription ?></div>
                <?php } ?>
            </div>
<h3 class="formtitle">Formulario de cotización</h3>
                    <p><?= __("Completa el formulario con los datos para enviar tu cotización. Recuerda que todos los datos son obligatorios"); ?></p>

            </div>
            <div class="form-general-record">
                <a href="#">
                    <strong><?= $block->escapeHtml($sellerName) ?></strong>
                </a>
            </div>
            <div class="modality_<?=$quote->getEvaluationModality()?>">
                <?= $this->getLayout()
                    ->createBlock("Formax\CreateFormAttributes\Block\Render\Attributes")
                    ->setTemplate("Formax_CreateFormAttributes::form_fields.phtml")
                    ->setEntity('requestforquote_quote_conversation')
                    ->setUrlAction('requestforquote/quote/sendmessagetocustomer/seller_quote_id/'.$id)
                    ->toHtml(); ?>
            </div>
            <?php if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
        <?php $approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']) ?>

        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <div>
                <strong><?= /*@noEscape*/ __("Status: ") ?></strong><?= $block->escapeHtml($status); ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved At: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['created_at']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Quoted Bulk Quantity: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['bulk_quote_qty']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Per Unit Price: ") ?></strong><?= $block->escapeHtml($currencyHelper->currency($approvedRfqInfo['quote_price'], true, false)) ?>
            </div>
        </div>
    <?php endif ?>
    <?php if ($quoteConversation->getSize()) : ?>
        <?php foreach ($quoteConversationData as $key => $value) { ?>
            <div class="wk_mp_rfq_communication_box" style="padding: 20px 3px;">
                <div style="width: 100%;text-align: right;">
                    <?= $block->escapeHtml($helper->getDateTimeAccordingTimeZone($value['created_at'])) ?>
                </div>
                <div class="wk_mp_rfq_reponse_right">
                    <div class="wk_mp_rfq_reponse_user_container">
                        <a href="#">
                            <strong>
                                <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                                    <?= $block->escapeHtml($sellerName) ?>
                                <?php else : ?>
                                    <?= $block->escapeHtml($customerName) ?>
                                <?php endif ?>
                            </strong>
                        </a>
                        <span>
                            <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_CUSTOMER) : ?>
                                <span class="wk_mp_rfq_span wk_mp_rfq_customer">
                                    <?= /*@noEscape*/ __('Customer') ?>
                                </span>
                            <?php endif ?>
                        </span>
                    </div>
                    <div style="width:98%;" class="wk_mp_rfq_description_container <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?> <?= $block->escapeHtml('wk_mp_rfq_description_container_seller') ?> <?php else : ?><?= $block->escapeHtml('wk_mp_rfq_customer') ?><?php endif ?>">
                        <div class="wk_mp_rfq_description">
                            <?php if ($value['response']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Message") ?> : </strong><?= $block->escapeHtml($value['response']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['bulk_quote_qty']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Bulk Quoted Quantity") ?> : </strong><?= $block->escapeHtml($value['bulk_quote_qty']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ((int)$value['quote_price']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Per Unit Price") ?> : </strong><?= $block->escapeHtml($currencyHelper->currency($value['quote_price'], true, false)) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['quote_name']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Nombre de la cotización") ?> : </strong><?= $block->escapeHtml($value['quote_name']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['quote_detalis']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Detalle de la Oferta") ?> : </strong><?= $block->escapeHtml($value['quote_detalis']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['table_requirement']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Requerimientos") ?> : </strong>
                                    <?php $requerimientos=json_decode($value['table_requirement']);
                                    $requerimientos_html="";
                                    if(isset($requerimientos->data) && property_exists($requerimientos->data,'criterio_label') ){
                                        foreach ($requerimientos->data->criterio_label as $key => $req) {
                                            $requerimientos_html .= "<br><span><b> " . $req . " </b></span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->data->ponderacion[$key] . "</span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->data->observaciones[$key] . "</span>";
                                        }
                                    }elseif(isset($requerimientos->data->requirement) && property_exists($requerimientos->data,'requirement')){
                                        foreach($requerimientos->data->requirement as $requirement){
                                            $requerimientos_html .= "<br><span> " . $requirement . " </span>";
                                        }
                                    }
                                    ?>
                                    <?= $requerimientos_html ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['duracion_number']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Duración") ?> : </strong><?= $block->escapeHtml($value['duracion_number']) ?>
                                    <?= ($value['duracion_text']==1)?__("Días corridos"):""; ?>
                                    <?= ($value['duracion_text']==2)?__("Días hábiles"):""; ?>
                                    <?= ($value['duracion_text']==3)?__("Semanas"):""; ?>
                                    <?= ($value['duracion_text']==4)?__("Meses"):""; ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($value['teamwork']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Equipo de trabajo") ?> : </strong>
                                    <?php $teamwork=json_decode($value['teamwork']);
                                    $teamwork_html="";
                                   // if(isset($teamwork->data) && property_exists($teamwork->data,'rol_teamwork') ){
                                    if(isset($teamwork->data) ){
                                        foreach ($teamwork->data as $key => $team) {
                                            $teamwork_html .= "<br><span>" . $team->rol_teamwork . "</span>";
                                            //$teamwork_html .=  " - <span>" . $team->name_teamwork . "</span>";
                                            $teamwork_html .= " - <span>" . $team->duracion_teamwork . " " .  __("Horas") . "</span>";

                                        }
                                    }
                                    ?>
                                    <?= $teamwork_html ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($value['offer_document']) : ?>
                                <?php $documents = json_decode($value['offer_document'], true); ?>
                                <?php if ($documents) : ?>
                                    <?php if (sizeof($documents)) : ?>
                                        <div>
                                            <strong><?= __("Documentos adjuntos") ?></strong>
                                        </div>
                                        <ul style="flex:50%">
                                            <?php foreach ($documents['data'] as $document) :
                                                $fileSellerURL = $cmSofwareHelper->getUrlMedia() . 'chilecompra/files/formattributes' . $document;
                                                $onlyFileName = explode('/', $document);
                                                $fileNameWithExtension = explode('.', $onlyFileName[count($onlyFileName) - 1]);
                                                ?>
                                                <li><a href="<?= $fileSellerURL ?>"
                                                    target="_blank"><?= $fileNameWithExtension[0] . '.' . $fileNameWithExtension[1] ?></a>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>

                            <?php if ($value['table_requirement']) : ?>
                                <?php $documents = json_decode($value['table_requirement'], true); ?>
                                <?php if (isset($documents['data']['criterio_file']) && sizeof($documents['data']['criterio_file'])) : ?>
                                    <div>
                                        <strong><?= __("Documentos adjuntos criterios de evaluación") ?></strong>
                                    </div>
                                    <ul style="flex:50%">
                                        <?php foreach ($documents['data']['criterio_file'] as $keyDoc => $document) :
                                            $fileSellerURL = $cmSofwareHelper->getUrlMedia() . 'chilecompra/files/formattributes' . $document;
                                            $onlyFileName = explode('/', $document);
                                            $fileNameWithExtension = explode('.', $onlyFileName[count($onlyFileName) - 1]);
                                            $criteriaLabel = '[' . $documents['data']['criterio_label'][$keyDoc] . '] - ';
                                            ?>
                                            <li><a href="<?= $fileSellerURL ?>"
                                                target="_blank"><?= $criteriaLabel . $fileNameWithExtension[0] . '.' . $fileNameWithExtension[1] ?></a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                <?php endif; ?>
                            <?php endif; ?>


                            <?php if ($value['offer_price']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Oferta económica") ?> : </strong>
                                    <?= $block->escapeHtml($cmSofwareHelper->currencyFormat($value['offer_price'])) ?>
                                    </div>
                            <?php endif; ?>

                        </div>
                    </div>
                    <?php
                    $responseSampleImages =  [];
                    if ($value['sample_images']) {
                        $responseSampleImages =  explode(',', $value['sample_images']);
                    }
                    if (count($responseSampleImages)) { ?>
                        <div class="wk_mp_rfq_image_wrapper">
                            <div><strong><?= /*@noEscape*/ __("Sample Images") ?> :</strong></div>
                            <?php
                            $i = 0;
                            if (count($responseSampleImages)) {
                                foreach ($responseSampleImages as $responseSampleImage) {
                                    $ext = pathinfo($responseSampleImage, PATHINFO_EXTENSION);
                                    if (strpos($ext, 'pdf') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'doc') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } else {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    }
                                    $i++;
                                }
                            } ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <?php
        } ?>
        <?= /*@noEscape*/ $block->getPagerHtml(); ?>
    <?php endif ?>
    <?php if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
        <?php $approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']) ?>
        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <div>
                <strong><?= /*@noEscape*/ __("Status: ") ?></strong><?= $block->escapeHtml($status); ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved At: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['created_at']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Quoted Bulk Quantity: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['bulk_quote_qty']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Per Unit Price: ") ?></strong><?= $block->escapeHtml($currencyHelper->currency($approvedRfqInfo['quote_price'], true, false)) ?>
            </div>
        </div>
    <?php endif ?>
            <!--
            <form action="<?= $block->escapeUrl($block->getUrl('requestforquote/quote/sendmessagetocustomer')).'seller_quote_id/'.$id ?>" enctype="multipart/form-data" method="post" id="form-rfq-new" data-mage-init='{"validation":{}}' style="margin-top:2%">
                <input type="hidden" name="seller_quote_id" value="<?= $block->escapeHtml($id) ?>">

                <div class="wk_mp_rfq_container" style="width:99%;">
                    <div contenteditable="true" class="wk_mp_rfq_textarea_container" data-text="<?= /*@noEscape*/ __("Write your response here including all necessary details.") ?>"></div>
                    <textarea name="response" class="wk_mp_rfq_textarea required-entry" data-validate="{required:true}"></textarea>
                </div>

                <button class="button" type="submit" id="wk_mp_rfq_submit_btn">
                    <span>
                        <span>
                            <?= /*@noEscape*/ __("Send Message") ?>
                        </span>
                    </span>
                </button>
            </form>
          -->
        </div>
    </div>
</div>
<script id="requestForQuoteImageTemplate" type="text/x-magento-template">
    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<%- data.index %>">
        <img class="wk_mp_rfq_image" src="<%- data.imageUrl %>">
        <input type="hidden" name="sample_images[]" value="<%- data.imageName %>">
        <div class="actions">
            <button type="button" class="wk_mp_rfq_image_delete" title="<?= /*@noEscape*/ __("Delete file") ?>">
                <span><?= /*@noEscape*/ __("Delete file") ?></span>
            </button>
          </div>
    </div>
</script>
<script type="text/javascript">
    require([
        'jquery',
        'mage/template',
        'mage/translate',
        'Magento_Ui/js/modal/alert',
        'mage/validation',
        'mage/calendar',
    ], function ($wk_jq,template,$t,alert) {

        $wk_jq.validator.addMethod(
        'integer', function (value, element) {
        return this.optional(element) || /^-?\d+$/.test(value);
        }, $wk_jq.mage.__('A positive non-decimal number please'));

        var i = <?= $block->escapeHtml($i) ?>;
        $wk_jq(document).ready(function(){
            $wk_jq('.wk_req_admin_defined_attribute_span_text').css('display','block');
            $wk_jq('.wk_req_admin_defined_attribute_input').css('display','none');
        });
        $wk_jq(document).on('change', '#sample_images', function () {
            var thisthis = $wk_jq(this);
            var countlength = 0;
            var length = thisthis.prop("files").length;
            $wk_jq.each(thisthis.prop("files"), function (index, value) {
                thisthis.parent().find('.wk_mp_rfq_image_label').html('<div style="position:relative;top:23px;" class="cp-spinner cp-round"></div>');
                var file_data = thisthis.prop("files")[index];
                var form_data = new FormData();
                form_data.append("sample_images", file_data);
                $wk_jq.ajax({
                    url: "<?= $block->escapeUrl($block->getUrl('requestforquote/index/sampleupload'));?>",
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    success: function (content) {
                        if(content.type){
                            var templatee = "";
                            var ImageTemplate = template('#requestForQuoteImageTemplate');
                                templatee += ImageTemplate({
                                data: {
                                    index:i,
                                    imageUrl:content.fileurl,
                                    imageName:content.filename

                                }
                            });
                            $wk_jq(templatee).insertBefore(".wk_mp_rfq_image_label");
                            thisthis.val('');
                            i = i+1;
                            countlength = countlength+1;
                            if (countlength == length) {
                                thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            }
                        }else{
                            thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            thisthis.val('');
                            alert({
                                content: content.errormsg
                            });
                        }
                    },
                    error: function (content) {
                        thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                        thisthis.val('');
                        alert({
                            content: content.errormsg
                        });
                    }
                });
            });
        });
        $wk_jq('#wk_mp_rfq_create_product').on('click',function(e){
            e.preventDefault();
            $wk_jq.ajax({
                url: "<?= $block->escapeUrl($block->getUrl('requestforquote/seller/createnewproduct'));?>",
                dataType: 'json',
                showLoader: true,
                data: {
                    quoteInfoId:<?= $block->escapeHtml($id); ?>,
                    sellerId:<?= $block->escapeHtml($ajaxData['seller_id']); ?>,
                    quoteId:<?= $block->escapeHtml($ajaxData['quote_id']); ?>,
                    quantity:<?= $block->escapeHtml($ajaxData['quantity']); ?>,
                    price:<?= $block->escapeHtml($ajaxData['price']); ?>,
                    productId:<?= $block->escapeHtml($ajaxData['productId']); ?>,
                    taxClassId:<?= $block->escapeHtml($ajaxData['tax_class_id']); ?>
                },
                type: 'POST',
                success: function (content) {
                    if (content.success == true) {
                        alert({
                            content: content.message,
                                    actions: {
                                        always: function(){location.reload(true);}
                                    }
                        });
                        // window.location.href = data.Url;
                    }
                    if (content.error == true) {
                        alert({
                            content: content.message
                        });
                    }
                },
                error: function (content) {
                }
            });
        });
        $wk_jq(document).on('click', '.wk_mp_rfq_image_delete', function () {
            $wk_jq(this).parents('.wk_mp_rfq_image_box').remove();
        })

        $wk_jq(document).on('keyup', '.wk_mp_rfq_textarea_container', function() {
            $wk_jq('.wk_mp_rfq_textarea').html($wk_jq(this).html());
        });


        $wk_jq(document).on("click", ".addLink", function(event){
            event.preventDefault();
            var $row = $wk_jq(this).parent().find(".table.teamwork tbody tr:last-child");
            var $input = $row.find('input[name^="teamwork"]');
            var num = parseInt( $input.prop("id").match(/\d+/g), 10 ) +1;

            var $klon = $row.clone();
            $klon.find('input[id^="rol_teamwork"]').prop('id', 'rol_teamwork_'+num);
            $klon.find('input[id^="rol_teamwork_'+num+'"]').prop('name', 'teamwork['+num+'][rol_teamwork]');

            $klon.find('input[id^="duracion_teamwork"]').prop('id', 'duracion_teamwork_'+num);
            $klon.find('input[id^="duracion_teamwork_'+num+'"]').prop('name', 'teamwork['+num+'][duracion_teamwork]');

            $klon.find('input[id^="rol_teamwork"]').val('');
            $klon.find('input[id^="duracion_teamwork"]').val('');

            $row.after($klon);

            if ($wk_jq(".table.teamwork tbody tr").length > 1 && $wk_jq(".removeLink").length < 1) {
                $wk_jq('<a>', {
                    text: $t('- Eliminar último'),
                    class: 'removeLink'
                }).appendTo(".field.teamwork .control")
            }
        })

        var rowCount = $wk_jq(".table.teamwork tbody tr").length;
        if (rowCount > 1) {
            $wk_jq('<a>', {
                text: $t('- Eliminar último'),
                class: 'removeLink'
            }).appendTo(".field.teamwork .control")
        }

        $wk_jq(document).on("click", ".removeLink", function(event){
            event.preventDefault();
            $wk_jq(this).parent().find(".table.teamwork tbody tr:last-child").remove();
            if ($wk_jq(".table.teamwork tbody tr").length < 2) {
                $wk_jq('.removeLink').remove();
            }
        })

    });
</script>
