<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php $productId = $_product->getId(); ?>
<?= $block->getChildHtml('cc.price.history', true) ?>
<?= $block->getChildHtml('product.info.social', true) ?>
<?php
$check = true;
$helper = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$helperSoftware = $this->helper("Formax\ConfigCmSoftware\Helper\Data");
    $originalQty = $helper->getOriginalQty($_product->getId());
if (($_product->getTypeId() == 'simple')||($_product->getTypeId() == 'virtual')) {
    if ($originalQty == 0)
        $check = false;
}
?>
<?php $buttonTitle = __('Cotizar'); ?>
<?php if ($_product->isSaleable() && ($check) && $helperSoftware->getCustomerIsLoggedIn()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="actions">
            <?= $block->getChildHtml('requestforquote.submit.button', true) ?>
            <a href="<?= $block->escapeUrl($block->getUrl('requestforquote/index/index', ['product_id' => $productId, 'step' => 1])) ?>"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart nobg">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </a>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
