<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<?php

$partner = array();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$partner = $helper->getSeller();
$isPartner = $helper->isSeller();
if ($isPartner == 1) {
    $id = $this->getRequest()->getParam("id");
    $communicationData = $block->getSellerBuyerCommunicationById();
    if (count($communicationData)) { ?>
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
                <div class="grid">
                    <div class="hor-scroll">
                        <legend class="legend">

							<span class="wk-sbcom-legend query-heading-comm">
								<strong><?php echo __("Subject") ?></strong> : <?php echo $communicationData['subject']; ?>
							</span>
                            <?php
                            if ($communicationData['product_id']) { ?>
                                <span class="query-heading-comm">
									<strong><?php echo __("Query Regarding Product") ?></strong> :
										<?php if ($productName = $block->getProductNameById($communicationData['product_id'])) : ?>
                                            <?php echo $productName; ?>
                                        <?php else : ?>
                                            <?php echo $communicationData['product_name']; ?>
                                        <?php endif; ?>
									
								</span>
                                <?php
                            } ?>
                            <span class="query-heading-comm wk-sbcom-legend">
								<strong><?php echo __("Support Type") ?></strong> :
								<?php echo $_helper->getSupportTypeName($communicationData['support_type']) ?>
							</span>

                        </legend>
                        <?php
                        $collection = $this->getAllCommunicationData();
                        foreach ($collection as $coll): ?>
                            <div class="wk-sbcom-onereply">
						        <span class="wk-sbcom-onereply-head <?php if ($coll->getSenderType() == 0) echo "wk-sbcom-onereply-customer"; else if ($coll->getSenderType() == 2) echo "wk-sbcom-onereply-admin"; else echo "wk-sbcom-onereply-seller"; ?>">

						            <span class="wk-sbcom-onereply-head-left"><?php echo $_helper->formatDate($coll->getCreatedAt()); ?></span>
									<span class="wk-sbcom-onereply-head-right">
										<?php
                                        if ($coll->getSenderType() == 0) {
                                            if (!$coll->getSender()) {
                                                echo __("Guest");
                                            } else {
                                                echo __("Customer: %1", $coll->getSender());
                                            }
                                        } else if ($coll->getSenderType() == 1) {
                                            echo __("Me");
                                        } else {
                                            echo __("Administrator");
                                        }
                                        ?>
									</span>
							    </span>
                                <div class="wk-sbcom-onereply-cntnt"><?php echo nl2br($coll->getMessage()); ?>
                                </div>
                                <div class="image-container">
                                    <?php $attachments = explode(',', $coll->getAttachments());
                                    if (!empty(array_filter($attachments))) {
                                        foreach ($attachments as $value) { ?>
                                            <span class="file_image">
											<?php if ($block->isImage($value, $coll->getCommId(), $coll->getEntityId())) : ?>
                                                <a href="<?php echo $block->getImageUrl($value, $coll->getCommId(), $coll->getEntityId()); ?>"
                                                   target="_blank">
												<img src="<?php echo $block->getImageUrl($value, $coll->getCommId(), $coll->getEntityId()); ?>"/>
											</a>
                                            <?php else : ?>
                                                <a href="<?php echo $block->getImageUrl($value, $coll->getCommId(), $coll->getEntityId()); ?>"
                                                   target="_blank">
											<?php echo __($value) ?>
											</a>
                                            <?php endif; ?>
										</span>
                                        <?php }
                                    }
                                    ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </fieldset>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
            <?php endif ?>
            <form method="post"
                  action="<?php echo $block->getUrl('mpsellerbuyercommunication/seller/saveconversation/') ?>"
                  id="wk-sellercommunication-save-form" data-form="wk-sellercommunication-save-form"
                  enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset info wk-mp-fieldset">
                    <?php echo $block->getBlockHtml('formkey') ?>
                    <input type="hidden" value="<?php echo $id; ?>" name="comm_id"/>
                    <input type="hidden" value="1" name="sender_type"/>
                    <div class="field required">
                        <label class="label">
                            <?php echo __("Enter Message"); ?>
                        </label>
                        <div>
                            <textarea class="required-entry" name="message"></textarea>
                        </div>
                    </div>

                    <div class="query_status spacing_box">
                        <?php $supportTypes = $_helper->getQueryStatus(); ?>
                        <select name="query_status">
                            <?php foreach ($supportTypes as $key => $value) { ?>
                                <option value="<?php echo $key ?>"<?php if ($communicationData['query_status'] == $key) {
                                    echo "   selected=selected";
                                } ?>><?php echo $_helper->getQueryStatusname($key) ?></option>
                            <?php }
                            ?>   </select>
                    </div>

                    <div class="input-box spacing_box">

                        <p>Puede adjuntar uno o varias archivos, haciendo click en "Agregar Archivo"</p>
                        <p><b>Archivos permitidos:</b> jpeg,jpg,png,gif,zip,doc,pdf,rar</p>
                        <input type="hidden" name="attach_count" class="attach_count"/>
                        <div id="otherimages"></div>
                        <div style="    margin-top: 40px; display: block;">
                            <button type="button" href="javascript:void(0)"
                                    class="product_images add_more_images btn-add_more_image"
                                    id="add-more-images"><?php echo __("Agregar Archivo"); ?>
                            </button>
                        </div>

                    </div>


                    <button class="button wk-mp-btn" title="<?php echo __('Send Message') ?>" type="submit"
                            id="save-btn">
                        <span><span><?php echo __('Send Message') ?></span></span>
                    </button>
                </fieldset>
            </form>
        </div>

        <?php
    } else { ?>
        <h2 class="wk-mp-error-msg">
            <?php echo __("You are not authorize to view this conversation."); ?>
        </h2>
        <?php
    } ?>
    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;" onclick="javascript: window.history.back();"
               class="left">&laquo; <?php echo __('Back') ?></a>
        </p>
    </div>
    <?php
} else { ?>
    <h2 class="wk-mp-error-msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
    <?php
} ?>


<script id="attachment-template" type="text/x-magento-template">
    <div id='childDiv<%- fields.index %>' class="image-con">
        <label class="file btn-add-file" for="img_attachment_<%- fields.index %>">
            <span class="action secondary"><?php echo __('Seleccionar Archivo') ?></span>
            <span class="upload-message"><?php echo __('No file attached') ?></span>
        </label>

        <input type='file' name='img_attachment_<%- fields.index %>' id='img_attachment_<%- fields.index %>'
               class='wk_imagevalidate'/>
<!--        <a href="javascript:void(0)" class="remove_attch">X --><?php //echo __('Remove'); ?><!--</a>-->
        <a href="javascript:void(0)" class="remove_attch"><b>x</b>  </a>
    </div>
</script>
<?php

$releventFormData = [
    'attachmentTemplate' => '#attachment-template',
    'saveAjaxFileUrl' => $block->getUrl("mpsellerbuyercommunication/seller/saveFiles", ["_secure" => $this->getRequest()->isSecure()])
];

$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
?>
<script type="text/x-magento-init">
{
    "*": {
        "viewSellerForm": <?php echo $serializedData; ?>
    }
}






</script>
