/*
Theme: ChileCompra MArkeplace
Magento: 2.3
Version: 1.0
*/

@font-face{
    src:url(../fonts/Roboto-Light.ttf) format('truetype');
    font-family:Roboto;
    font-weight:100;
}
@font-face{
    src:url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-family:Roboto;
    font-weight:400;
}
@font-face{
    src:url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-family:Roboto;
    font-weight:500;
}
@font-face{
    src:url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-family:Roboto;
    font-weight:700;
}
body {
    font-family:'Roboto', sans-serif;
    color:#2E384D;
    background-color: rgba(46,91,255,0.07);
}


input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
textarea {
    font-family:'Roboto', sans-serif;
    background-color:rgba(224,231,255,0.2);
    border-radius:4px;
    border:1px solid #E0E7FF;
    height:40px;
    padding:0 20px;
    -webkit-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
textarea:not([disabled]):focus{
    -webkit-box-shadow:0 6px 11px 0 rgba(72,107,255,0.21);
            box-shadow:0 6px 11px 0 rgba(72,107,255,0.21);
    border:1px solid #B3C3FC;
    background-color:#FFFFFF;
}
textarea{
    padding:15px 20px;
    height:auto;
}
button, button:not(.primary){
    border-radius:15px;
    -webkit-box-shadow:none;
            box-shadow:none;
}
input[type="checkbox"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width:18px;
    height:18px;
    border:2px solid #8798AD;
    border-radius:4px;
    vertical-align:top;
    display:inline-block;
    margin:0 5px 0 0;
    position:relative;
    cursor:pointer;
}
input[type="checkbox"]:disabled,
input[type="checkbox"]:checked:disabled{
    background:#8798AD;
    border-color:#8798AD;
}
input[type="checkbox"]:checked{
    background:#0064FF;
    border-color:#0064FF;
}
input[type="checkbox"]:checked::before{
    content:'\e91a';
    font-family:'chilecompra';
    font-size:9px;
    font-weight:bold;
    color:#fff;
    position:absolute;
    top:3px;
    left:1px;
}
select {
    font-family:'Roboto', sans-serif;
    background-color:rgba(224,231,255,0.2);
    border-radius:4px;
    border:1px solid #E0E7FF;
    height:40px;
    padding:0 20px;
    -webkit-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
    width: 99%;
}
.account .legend {
    border-bottom: none;
}



body a, .alink,
body a:visited,
body .alink:visited{
    color: #2E5BFF;
}
body a:hover,
body .alink:hover{
    color:#8798AD;
}

/*
.wk-mp-page-main {
    padding: 0;
}
*/

body.marketplace-account-dashboard .wk-mp-page-header-hgroup > .page-title-wrapper > h1 > span{
    display:none;
}

/* MENU */
body .wk-mp-menu-wrapper {
    box-shadow: 2px 2px 10px 0 rgba(72,107,255,0.22);
}
body .wk-mp-menu-wrapper:before {
    background:#0064FF;
    background-color: #2E384D;
}
#wk-mp-nav .level-0 > .wk-mp-submenu {
    box-shadow: 2px 2px 10px 0 rgba(72,107,255,0.22);
}
#wk-mp-nav .level-0 > a{
    color:#fff;
    font-size: 1rem;
    letter-spacing: .025em;
}
#wk-mp-nav .level-0:hover > a {
    background:#424F69;
}
#wk-mp-nav .level-0.active > a {
    background:#424F69;
}
#wk-mp-nav .level-0 > .wk-mp-submenu {
    background:#69707F;
}
#wk-mp-nav [class*='level-']:not(.level-0) a:hover {
    background: #445066;
}
#wk-mp-nav .wk-mp-submenu .parent .wk-mp-submenu-group-title {
    color: #A1A5AE;
}
#wk-mp-nav .action-close::before {
    color:#fff;
    font-size: 1.7rem;
}
#wk-mp-nav .action-close:hover::before {
    color:#f1f1f1;
}
#wk-mp-nav .level-0:first-child > a:after,
#wk-mp-nav .item-partners > a:after {
    background-color:#f1f1f1;
    border-radius:50%;
}

/* HEADER */
body .wk-mp-logo-img-wrapper {
    background-color: #2E384D;
    height: 60px;
    overflow: initial;
}
body .wk-mp-logo-img-wrapper .wk-mp-logo-img {
    height: auto;
    width: 50px;
}
body .wk-mp-page-header {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
}
body .wk-mp-page-header-hgroup > .page-title-wrapper > h1 {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem !important;
    color: #69707F;
}
body .wk-mp-home > a {
    padding: 2.0rem 0;
}
body .wk-mp-home > a:after {
    display: inline-block;
    width: 24px;
    height: 23px;
    content: "";
    background: url(../images/ico_market_home.svg) no-repeat;
    font-size: 0px !important;
}
body .wk-mp-notification .wk-mp__action-dropdown {
    padding: 2.0rem 2.5rem;
}
body .wk-mp-notification .wk-mp-notification-icon:after {
    display: inline-block;
    width: 22px;
    height: 24px;
    content: "";
    background: url(../images/ico_market_notification.svg) no-repeat;
    font-size: 0px !important;
}
body .wk-mp-seller-header-logo-wrapper {
    width: 3rem;
    height: 3rem;
    top: 1.8rem;
    border-radius: 2.6rem;
    border: 1px solid #92A2B5;
}
body .wk-mp-seller-header-logo {
    width: 3rem;
    height: 3rem;
}
body span.wk-mp-user-account-text {
    font-family:'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #0064FF;
    text-transform: capitalize;
}
body .wk-mp-user .wk-mp__action-dropdown:after {
    color: #486BFF;
    font-size: 1.5rem;
}

/* TABLE OTHER */
.wk-mp-dashboard-border {
    background: #ffffff;
}
.wk-mp-dashboard-lifetimesale-container {
    background: #F4F6FC;
}
.wk-mp-dashboard-lifetimesale-title {
    color: #0064FF;
    text-transform: uppercase;
}
.wk-mp-dashboard-lifetimesale-value {
    color: #0064FF;
}

/* TABLE DASHBOARD REPORT */
.wk-mp-dashboard-report-block {
    background: #ffffff;
}
.wk-mp-dashboard-report-block .wk-mp-dashboard-border {
    border: none;
}
.wk-mp-dashboard-report-block .wk-dashboard-total-left-bottom {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #0064FF;
    background: #F4F6FC;
    text-transform: uppercase;
}
.wk-mp-dashboard-report-block .wk-dashboard-sales-font {
    padding: 1.3rem 0;
    background: #ffffff;
}
.wk-mp-dashboard-report-block .wk-dashboard-sales-font .price {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
    color: #D63649;
}
.wk-mp-dashboard-report-block .wk-mp-float-left {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
    width: calc(100% - 20%);
}
.wk-mp-dashboard-report-block .wk-mp-float-right {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
    width: 20%;
}
.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right {
    height: 175px;
}
.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right small {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
}
.wk-mp-dashboard-report-block .wk-mp-dashboard-total-right small strong {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #69707F;
}
.wk-mp-dashboard-report-block .wk-dashboard-products-top {
    border-bottom: 1px solid #DFE3E6;
}
.wk-mp-dashboard-report-block .wk-dashboard-products-top.wk-dashboard-sales-value small {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: #D63649;
}
.wk-mp-dashboard-total-progress-bar small {
    padding: 0 0 8px 0;
}
.wk-mp-dashboard-total-progress-bar small:after {
    top: 99%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #DFE3E6;

}

/* TABLE */
.wk-ui-component-container table.data-grid{
  border-collapse: separate;
  border-spacing:0 9px;
}
table.data-grid {
    border-collapse: collapse;
}
.wk-ui-component-container table.data-grid th{
  background: transparent;
  border-color: transparent;
}
table.data-grid th {
    background: #FFFFFF;
    border-color: transparent;
}
.wk-ui-component-container table.data-grid th span{
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #69707F;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
table.data-grid th span {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #b7bfcd;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}
.wk-ui-component-container table.data-grid th:first-child,
table.data-grid th:first-child {
    border-left-color: transparent;
}
.wk-ui-component-container table.data-grid .data-grid-th._sortable:focus,
.wk-ui-component-container table.data-grid .data-grid-th._sortable:hover,
table.data-grid .data-grid-th._sortable:focus,
table.data-grid .data-grid-th._sortable:hover {
    background: transparent;
}
.wk-ui-component-container table.data-grid tbody tr{
    margin-bottom: 9px;
}
table.data-grid tbody tr {
    margin-bottom: 9px;
    border: 1px solid #eff2fe;
}
.wk-ui-component-container table.data-grid tbody tr td{
    background: #ffffff;
    border: none;
}
table.data-grid tbody tr td {
    background: #ffffff;
    border: none;
    padding: 2rem 1rem;
}
.wk-ui-component-container .data-grid tbody tr._odd-row td,
.data-grid tbody tr._odd-row td {
    background: #ffffff;
}
.wk-ui-component-container table.data-grid tbody tr td:first-child,
table.data-grid tbody tr td:first-child {
    border-left-style: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.wk-ui-component-container table.data-grid tbody tr td:last-child,
table.data-grid tbody tr td:last-child {
    border-right-style: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content,
table.data-grid tbody tr td .data-grid-cell-content {
    font-family:'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #2E384D;
}
.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"],
table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"] {
    font-size: 0px;
}
.wk-ui-component-container table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"]:after,
table.data-grid tbody tr td .data-grid-cell-content a[href*=".pdf"]:after {
    font-size: 14px;
    content: "Ver Documento";
}

/* BUTTONS */
.wk-ui-component-container .admin__data-grid-actions-wrap,
.admin__data-grid-actions-wrap {
    margin-top: 0;
}
.admin__action-dropdown-wrap .admin__action-dropdown,
.data-grid-actions-wrap .admin__action-dropdown {
    min-width: 176px;
    font-size: 15px;
    border-radius: 20px;
    line-height: normal;
    vertical-align: middle;
    height: 40px;
    padding: 0 5rem 0 2rem;
    border: 1px solid #2E5BFF !important;
    background-color: rgba(46,91,255,0.05);
}
.admin__action-dropdown .admin__action-dropdown-text {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0064FF;
}
.admin__action-dropdown:before {
    color: #486BFF;
}
.wk-ui-component-container .admin__action-dropdown:after,
.admin__action-dropdown:after {
    font-family: "Admin Icons";
    content: "\e628";
    color: #486BFF;
    font-size: 1.5rem;
    border: none;
    width: initial;
    margin-top: -0.8rem !important;
}
.admin__action-dropdown:hover,
.admin__action-dropdown:focus {
    border: 1px solid #2E5BFF !important;
    background-color: rgba(46,91,255,0.05) !important;
}
._active .admin__action-dropdown:after,
.active .admin__action-dropdown:after {
    margin-top: 0.8rem !important;
}

body .data-grid-filters-action-wrap .action-default,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default {
    min-width: 176px;
    border-radius: 20px !important;
    border: 1px solid #2E5BFF !important;
    background: #2E5BFF;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 0;
    line-height: normal;
    height: 40px;
    padding: 0;
}
body .data-grid-filters-action-wrap .action-default:focus,
body .wk-ui-component-container .action-default:focus {
    background: #2E5BFF !important;
    color: #ffffff !important;
}
body .data-grid-filters-action-wrap .action-default:hover,
body .wk-ui-component-container .action-default:hover {
    background: #2041BA !important;
    color: #ffffff !important;
}
body .data-grid-filters-action-wrap .action-default:before,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default:before {
    color: #ffffff;
}
body .data-grid-filters-action-wrap .action-default._active,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default._active {
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 1px solid #2041BA !important;
    background-color: #2041BA !important;
}
body .data-grid-filters-action-wrap .action-default._active:after,
body .wk-ui-component-container .data-grid-filters-action-wrap .action-default._active:after {
    content: initial !important;
    background-color: transparent !important;
}


button.wk-mp-btn,
button.wk_mp_btn {
    width: 176px;
    border-radius: 20px !important;
    border: 1px solid #2E5BFF !important;
    background-color: #2E5BFF;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
}
button.wk-mp-btn:hover,
button.wk-mp-btn:active,
button.wk-mp-btn:focus,
button.wk_mp_btn:hover,
button.wk_mp_btn:active,
button.wk_mp_btn:focus {
    background-color: #ffffff !important;
    color: #2E5BFF !important;
}



/* PAGER */
body .admin__data-grid-pager .action-previous,
body .admin__data-grid-pager .action-next {
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    border: 1px solid #2E5BFF;
    background-color: #E5EBFF;
}
body .admin__data-grid-pager .action-next {
    margin-left: .8rem;
}
body .admin__data-grid-pager .action-previous {
    margin-right: .8rem;
}
body .admin__data-grid-pager .admin__control-text {
    height: 4rem;
    width: 6.5rem !important;
    max-height: 4rem !important;
    border-radius: 5px;
    border: 1px solid #BFC5D2;
    background-color: #FFFFFF;
}
body .admin__control-support-text {
    margin: 8px 8px 0 8px;
    font-family:'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #69707F;
    padding: 0 !important;
}
body .selectmenu-toggle:before {
    top: 1px;
    border-left: none;
    background: #ffffff;
}

body .admin__data-grid-pager .action-previous:hover,
body .admin__data-grid-pager .action-next:hover {
    border-radius: 2px;
    background-color: #2E5BFF;
    border: 1px solid #2E5BFF;
}
body .admin__data-grid-pager .action-previous:hover:before,
body .admin__data-grid-pager .action-next:hover:before {
    color: #ffffff;
}
body .admin__data-grid-pager,
body .wk-ui-component-container .admin__data-grid-pager {
    margin-left: 2rem;
}

body .selectmenu,
body .wk-ui-component-container .selectmenu {
    padding: 0.3rem 1rem 0.3rem;
    border-radius: 5px;
    border: 1px solid #BFC5D2;
    background-color: #FFFFFF;
}
body .selectmenu-value,
body .wk-ui-component-container .selectmenu-value {
    background: #ffffff;
}
body .selectmenu-value input,
body .wk-ui-component-container .selectmenu-value input {
    background: #ffffff;
}
body .selectmenu-toggle,
body .wk-ui-component-container .selectmenu-toggle {
    border-radius: 0;
    margin-top: 0.3rem;
}
body .selectmenu-toggle:before,
body .wk-ui-component-container .selectmenu-toggle:before {
    border: none;
    border-radius: 5px;
    background: #ffffff;
}
body .admin__data-grid-actions-wrap .admin__action-dropdown-wrap:after,
body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap:after {
    content: initial;
    border: none;
}
body .admin__data-grid-filters-wrap._show,
body .wk-ui-component-container .admin__data-grid-filters-wrap._show {
    padding: 3.6rem 2rem 3rem;
}
body .admin__data-grid-filters-wrap._show .action-select,
body .wk-ui-component-container .admin__data-grid-filters-wrap._show .action-select {
    padding-right: 0;
}
body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap._active .admin__action-dropdown input[type="checkbox"]:checked,
body .wk-ui-component-container .admin__data-grid-actions-wrap .admin__action-dropdown-wrap._active .admin__action-dropdown-menu input[type="checkbox"]:checked {
    width: initial;
    height: initial;
    border: initial;
    background: initial;
    border-color: initial;
}
.custom-attributes .action.primary{
  text-transform: none;
  font-size: 14px;
}
/* FORM */
.wk-mp-design .wk-mp-fieldset .control.phone-control,
.wk-mp-design .wk-mp-fieldset .control.percent-control,
.box-container-section .control,
.box-container-profesional-services .control{
    display:flex;
    flex-wrap:wrap;

}
.wk-mp-design .wk-mp-fieldset .control{
    max-width:700px;
}
.wk-mp-design .wk-mp-fieldset .control input,
.wk-mp-design .wk-mp-fieldset .control select{
    background-color: #ffffff;
}

.wk-mp-design .wk-mp-fieldset .control.phone-control .phone-prefix,
.wk-mp-design .wk-mp-fieldset .control.percent-control .percent-suffix{
    width:50px;
    padding:0 3px;
    color:#000;
    opacity:0.8;
    border-radius:4px 0 0 4px;
    flex:1;
    max-width:50px;
}
.wk-mp-design .wk-mp-fieldset .control.percent-control .percent-suffix{
    border-radius:0 4px 4px 0;
    flex:1;
    border: 0;
}
.wk-mp-design .wk-mp-fieldset .control.phone-control .phone-prefix + input{
    border-radius:0 4px 4px 0;
    border-left:0;
    flex:1;
}
.wk-mp-design .wk-mp-fieldset .control.percent-control input:not(.percent-suffix){
    border-radius:4px 0 0 4px;
    flex:1;
}
.fieldset,
.wk-mp-fieldset,
.wk-mp-design,
.wk-mp-design .wk-mp-fieldset .wk-mp-page-title {
    background-color: #ffffff;
}
.fieldset .wk-mp-page-title,
.wk-mp-fieldset .wk-mp-page-title {
    padding-bottom: 1.8rem;
    background-color: rgba(46,91,255,0.07);
}
.wk-mp-fieldset .wk-mp-page-title.wk-mp-fixed {
    background: #ffffff;
    padding-bottom: 1.5rem !important;
    border-bottom: 1px solid #E0E7FF;
}
.fieldset .field,
.wk-mp-fieldset .field {
    padding: 3.0rem;
    margin: 0;
}
.fieldset .field .label,
.wk-mp-fieldset .field .label {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    color: #B0BAC9;
    text-transform: uppercase;
}
.fieldset .legend {
    margin: 0 !important;
    padding: 3.0rem 3.0rem 0 3.0rem !important;
}
.wk-mp-columns .data-grid td .action-select{
    padding-left:15px;
    background:#0064FF !important;
    color:#fff;
    border-color:#0064FF !important;
    text-transform:uppercase;
    font-weight:600;
    font-size:12px;
    text-decoration:none;
}
.wk-mp-columns .data-grid td .action-select:hover,
.data-grid td .action-select-wrap._active .action-select{
    color:#0064FF;
    background:#fff !important;
    text-decoration:none;
}
.wk-mp-columns .data-grid td .action-select:after{
    right:12px;
    top:10px;
    border-color:#fff transparent transparent;
}
.wk-mp-columns .data-grid td .action-select:hover:after,
.data-grid td .action-select-wrap._active .action-select:after{
    border-color:#0064FF transparent transparent;
}
.box-agreement {
    margin-bottom: 46px;
}
.box-agreement .name {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: #2E384D;
}
.box-agreement .date,
.box-agreement .number span {
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    color: #69707F;
}
.box-agreement .number a {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #0064FF;
}

body .wk-associated-table input[type="text"] {
    width: 80px;
    padding: 0 5px;
    text-align: center;
}
.wk_mp_rfq_main_container,
.wk_mp_rfq_team-job {
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid rgba(46,91,255,0.08);
}
.wk_mp_design.wk_mp_rfq_main_container {
    margin-top: 10px;
}
.wk_mp_design.wk_mp_rfq_main_container .page-title h1 {
    font-family: 'Roboto', sans-serif;
    color: #69707F;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.wk_mp_design.wk_mp_rfq_main_container .page-title p{
    font-family: 'Roboto', sans-serif;
    color: #69707F;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
.wk_mp_design.wk_mp_rfq_main_container .pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0 10px 15px;
}
.wk_mp_design.wk_mp_rfq_main_container .pager .limiter {
    margin-left: 20px;
}
.wk_mp_rfq_main_container select {
    padding-right: 30px;
}
.wk_mp_rfq_main_container strong {
    font-family: 'Roboto', sans-serif;
    color: #8d9db0;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 600;
}
.menu-wrapper .logo .logo-img {
    height: auto;
    width: 50px;
}
.requestforquote-seller-view #form-rfq-new {
    box-shadow: none;
    border-radius: 0;
}
.requestforquote-seller-view #form-rfq-new .form-list {
    margin: 0 auto !important;
}
.requestforquote-seller-view #form-rfq-new button {
    margin-top: 15px;
}
.edit-info-conmercial{
  font-size: 20px;
  font-weight: 400;
}
.wk-mp-design .wk-mp-page-title .comercial-information{
  font-size: 25px;
}
.wk-mp-main .wkeditprofile{
  margin-top: 0px;
}
.wk-mp-fieldset .edit-info-business{
  padding-top: 0px;
  padding-bottom: 0px;
}
#logo-pic{
  margin-top: 20px;
}
.general-info-agreement{
  font-size: 25px;
  padding: 3rem;
  font-weight: 300;
}
.box-container-section,
.box-container-profesional-services{
  box-shadow: 0 10px 20px 0 rgba(0, 100, 255, 0.1);
  margin: 20px 30px 15px;
  padding: 30px;
}
.box-content-section,
.box-content-profesional-services{
  display: flex;
  min-height: 200px;
  margin-top: 20px;
}
.fieldset-professional-services, .fieldset-comercial-terms{
    display: block !important;
}
.fieldset-comercial-terms .box-content-section .field,
.fieldset-professional-services .box-content-profesional-services .field{
  padding: 0;
  flex: 1;
  max-width: 15%;
}
.fieldset-comercial-terms .box-content-section .control.warranty-control,
.fieldset-professional-services .box-content-profesional-services .control.slaFirstAnswer-control,
.fieldset-professional-services .box-content-profesional-services .control.slaOnSite-control{
  flex-wrap: nowrap;
}
.fieldset-comercial-terms .box-content-section .control.warranty-control input,
.fieldset-professional-services .box-content-profesional-services .control.slaFirstAnswer-control input,
.fieldset-professional-services .box-content-profesional-services .control.slaOnSite-control input{
  max-width: 50px;
  padding: 0 10px;
}
.fieldset-comercial-terms .box-content-section .control .month,
.fieldset-professional-services .box-content-profesional-services .control .sla-first,
.fieldset-professional-services .box-content-profesional-services .control .sla-on-site{
  display: flex;
  align-items: center;
  padding: 0 3px;
}
.fieldset-comercial-terms .box-content-section .field .label,
.fieldset-professional-services .box-content-profesional-services .field .label{
  font-size: 13px;
  font-weight: 600;
  color: #4f596f;
}

.fieldset-comercial-terms .box-content-section .control,
.fieldset-professional-services .box-content-profesional-services .control{
  max-width: 150px;
}
.box-container-section .software-development,
.box-container-profesional-services .profesional-services{
  font-size: 20px;
}
.box-container-section .box-content-section .discount-dev{
  min-height: 60px;
}
.box-container-profesional-services .box-content-profesional-services .discount-services{
  min-height: 40px;
}
.box-container-section .box-content-section .discount,
.box-container-profesional-services .box-content-profesional-services .discount{
  font-size: 12px;
  color: #b1bccb;
  min-height: 35px;
  border-bottom: 1px solid #f4f6fe;
  margin-bottom: 10px;
}
.wk_mp_rfq_reponse_right{
  padding-left: 0;
  width: 100%;
}
.wk_mp_rfq_reponse_box{
  padding: 0;
}
.wk_mp_rfq_reponse_right .wk_mp_rfq_description,
.wk_mp_rfq_data_purchase_box{
  display: flex;
  flex-wrap: wrap;
}
.wk_mp_rfq_reponse_right .wk_mp_rfq_description div,
.wk_mp_rfq_data_purchase_box div{
  flex: 50%;
}
.wk_mp_rfq_communication_box .match-criterias{
    flex: 100%;
  }
.wk_mp_rfq_team-job .control input{
  background: #ffffff;
}
.wk_mp_rfq_team-job .control input.duracion_teamwork.hasDatepicker{
    width: 84%;
    margin-right: 4px;
}
.info-job-header{
  display: flex;
}
.wk_mp_rfq_team-job .container-team-job-info{
  margin: 20px 10px 10px 0;
  flex: 40%;
  box-sizing: border-box;
}
.wk_mp_rfq_team-job .container-team-job-info-two{
  margin: 20px 0 10px 10px;
  flex: 60%;
  box-sizing: border-box;
}
.wk_mp_rfq_team-job .table-team-job-info thead tr th{
  padding: 5px 20px;
  color: #b6bfcd;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 13px;
}
.wk_mp_rfq_team-job .table-team-job-info tbody{
  border: 1px solid #eff2fe;
  box-shadow: 0 10px 20px 0 rgba(0, 100, 255, 0.1);
}
.wk_mp_rfq_team-job .table-team-job-info tbody tr td{
  padding: 20px;
  vertical-align: top;
}
.wk_mp_rfq_team-job .table-team-job-info tbody tr td .id-quote,
.wk_mp_rfq_team-job .table-team-job-info tbody tr td .id-order-text{
  margin-bottom: 0px;
  color: #b6bfcd;
  font-size: 12px;
  font-weight: 400;
}
.wk_mp_rfq_team-job .table-team-job-info tbody tr td .name-quote,
.wk_mp_rfq_team-job .table-team-job-info tbody tr td .id-order{
  color: #207cfa;
  font-weight: 400;
}
.wk_mp_rfq_team-job .requestforquote_quote_teamwork,
.wk_mp_rfq_team-job .requestforquote_quote_deliverable-services{
  box-shadow: 0 10px 20px 0 rgba(0, 100, 255, 0.1);
  border: 1px solid #eff2fe;
  padding: 20px;
  margin: 10px 0;
}
.wk_mp_rfq_team-job .title-team-work,
.wk_mp_rfq_team-job .title-deliverable-services{
  color: #4F5769;
  font-size: 2.3rem;
  font-weight: 400;
  margin: 10px 0 20px 0;
}
.wk_mp_rfq_team-job .button_add_another{
  margin: 10px 0;
}
.quotessupplier-team-job .wk_mp_rfq_team-job .teamwork-name{
  display: flex;
  align-items: flex-end;
}
.wk_mp_rfq_team-job .deliverable-services-name{
  display: flex;
  border-bottom: 1px solid #eff2fe;
  padding-bottom: 40px;
}
.wk_mp_rfq_team-job label span {
  font-size: 11px;
  font-weight: 700;
  color: #8d9db0;
  letter-spacing: 1.5px;
}
.wk_mp_rfq_team-job .teamwork-name .team-content,
.wk_mp_rfq_team-job .deliverable-services-name .team-content,
.wk_mp_rfq_team-job .duration-services{
  padding: 5px 10px;
}
.wk_mp_rfq_team-job .teamwork-name .team-content.duracion_teamwork select{
    width: 100%;
}
.quotessupplier-team-job .wk_mp_rfq_team-job .teamwork-name .rol_teamwork,
.wk_mp_rfq_team-job .deliverable-services-name .rol_teamwork{
  flex: 25%;
}
.quotessupplier-team-job .wk_mp_rfq_team-job .teamwork-name .name_teamwork,
.wk_mp_rfq_team-job .deliverable-services-name .name_teamwork{
  flex: 25%;
}
.quotessupplier-team-job .wk_mp_rfq_team-job .teamwork-name .duracion_teamwork,
.wk_mp_rfq_team-job .deliverable-services-name .duracion_teamwork{
  flex: 20%;
}
.wk_mp_rfq_team-job .teamwork-name .sumar_teamwork,
.wk_mp_rfq_team-job .deliverable-services-name .sumar_teamwork{
  flex: 20%
}
/*.wk_mp_rfq_team-job .teamwork-name .duracion_teamwork .control input{
  max-width: 90px;
}*/
.wk_mp_rfq_team-job .save-team-jobs {
  flex: 100%;
  display: flex;
  justify-content: flex-end;
}
.wk_mp_rfq_team-job .save-team-jobs .btn-save-team-jobs{
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #0064FF;
  padding: 10px 0;
  border: 1px solid #0064FF;
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
}
.wk_mp_rfq_team-job .wk_mp_rfq_approved_box{
  flex: 100%;
}
.wk_new-certification .new-certification{
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  border-radius: 20px;
  background: #0064FF;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
}
.offer_files .offer_document .control{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.offer_files .offer_document .control .__remove__offer_document{
  margin: 5px 5px 0 10px;
  top: 4px;
}
.modality_2 .requerimientos .table_requirement thead tr th{
  display: table-cell;
}
.modality_2 .requerimientos .table_requirement tbody tr td:nth-of-type(1){
    width: 20%;
}
.modality_2 .requerimientos .table_requirement tbody tr td:nth-of-type(2){
    width: 10%;
}
.modality_2 .requerimientos .table_requirement tbody tr td:nth-of-type(3){
    width: 30%;
}
.modality_2 .requerimientos .table_requirement tbody tr td:nth-of-type(4){
    width: 35%;
}
@media screen and (min-width:768px) {
    body .wk-mp__action-dropdown {
        padding: 2.5rem 3.5rem 2.1rem 6.5rem;
        margin-left:20px;
    }
    .wk_mp_rfq_main_container,
    .wk_mp_rfq_team-job {
        padding: 20px 30px;
        width: calc(99% - 60px) !important;
    }

}
@media (max-width:820px){
  .box-content-section,
  .box-content-profesional-services{
    flex-direction: column;
  }
}
@media (max-width:1250px){
  .fieldset-comercial-terms .box-content-section .field,
  .fieldset-professional-services .box-content-profesional-services .field{
    max-width: 100%;
  }
}
@media (max-width:767px){
  .wk_mp_rfq_main_container .container-team-job-info{
    overflow-x: scroll;
  }
  .wk_mp_rfq_main_container .teamwork-name,
  .deliverable-services-name{
    flex-direction: column;
    align-items: normal;
  }
  .wk_mp_rfq_main_container{
    padding: 10px;
  }
}
div.mage-error[generated] {
    /*margin: 55px 0 0 0;*/
    position: absolute;
    width: 19rem;
}
