<?php
$quote              = $block->getQuote();
$collectionTeamJob  = $block->getCollectionTeamJob();
$collectionServices = $block->getCollectionServices();
$numTeamJob         = count($collectionTeamJob);
$numServices        = count($collectionServices);
$media              = $block->getPathMedia();
$order              = $block->getOrderByQuote();
$organization       = $quote->getOrganization();

?>
<form action="post" id="formteamservices" enctype="multipart/form-data">
    <input type="hidden" name="quote_id" value="<?php echo $quote->getEntityId(); ?>" />
    <div class="wk_mp_design wk_mp_rfq_main_container-provider wk_mp_rfq_team-job">
        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <h2><?= __('Equipos de trabajo y entregables')?></h2>
            <p><?= __('Equipos de trabajo y entregables y el detalle del equipo de trabajo que participarán en el desarrollo del proyecto.')?> </p>
            <p><?= __('Recuerda que debes siempre mantener esta información actualizada.')?> </p>
        </div>
        <div class="info-job-header">
          <div class="container-team-job-info">
              <div class="row-xpec">
              <table class="table-team-job-info">
                  <thead>
                  <tr>
                      <th>ID COTIZACIÓN</th>
                      <th>NOMBRE COTIZACIÓN</th>
                      <th>COMPRADOR</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                      <p class="id-quote">ID cotización</p>
                      <?php echo $quote->getEntityId(); ?>
                      </td>
                      <td><p class="name-quote"><?php echo $quote->getSubject(); ?></p></td>
                      <td><p><?php echo $organization; ?></p></td>
                  </tr>
                  </tbody>
              </table>
              </div>
          </div>
          <div class="container-team-job-info-two">
              <div class="row-xpec">
              <table class="table-team-job-info">
                  <thead>
                  <tr>
                      <th>ID ORDEN DE COMPRA</th>
                      <th>MONTO ORDEN DE COMPRA</th>
                      <th>FECHA EMISIÓN ORDEN DE COMPRA</th>
                      <th>ESTADO</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                      <p class="id-order-text">ID Orden de compra</p>
                      <span class="id-order"> 
                        <?php
                        if($order!=null){
                            echo $order->getIncrementId();
                        }
                        ?>
                      </span>
                      </td>
                      <td><p>
                        <?php
                        if($order!=null){
                            echo $block->getValueNumber($order->getGrandTotal());
                        }
                        ?>
                      </p></td>
                      <td><p>
                      <?php
                        if($order!=null){
                            echo $order->getCreatedAt();
                        }
                        ?>
                      </p></td>
                      <td><p>
                      <?php
                        if($order!=null){
                            echo __($order->getStatus());
                        }
                        ?>
                      </p></td>
                  </tr>
                  </tbody>
              </table>
              </div>
          </div>
        </div>
        <div class="requestforquote_quote_teamwork">
            <h2 class="title-team-work">Equipo de trabajo</h2>
            <div class="fieldset teamwork formworkjob">
                <div class="button_add_another action_button_add_another">
                    <div class="div-button_add_another">
                        <a href="#" class="button_add_another btn_add_teamwork ">
                            <span class="span1-button_add_another">
                                <span class="span2-button_add_another">+ Agregar otro profesional</span>
                            </span>
                        </a>
                    </div>
                </div>
                <?php
                if($numTeamJob==0){
                    ?>
                        <div class="teamwork-name teamwork-group">
                            <input type="hidden" name="active_teamwork[]" value="0">
                            <div class="semaforo"><span class="inactivo_semaforo"></span></div>
<div class="team-content rol_teamwork"  >
                                <label for="rol_teamwork" class="label">
                                    <span>ROL EN EL PROYECTO</span>
                                </label>
                                <div class="control">
                                    <input type="text" idNombre completo trabajador="rol_teamwork" name="rol_teamwork[]" title="Rol en el proyecto" class="input-text rol_teamwork   " placeholder="" value="" maxlength="250" />
                                </div>
                            </div>
                            <div class="team-content name_teamwork">
                                <label for="name_teamwork" class="label">
                                    <span>NOMBRE COMPLETO</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="name_teamwork" name="name_teamwork[]" title="Nombre completo trabajador" class="input-text name_teamwork   " placeholder="" value="" maxlength="250" />
                                </div>
                            </div>
                            <div class="team-content rut_teamwork">
                                <label for="rut_teamwork" class="label">
                                    <span>RUT/DNI</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="rut_teamwork" value="" name="rut_teamwork[]" title="RUT/DNI" class="input-text rut_teamwork   " placeholder="" value="" maxlength="250">
                                </div>
                            </div>
                            <div class="team-content duracion_teamwork" >
                                <label for="duracion_teamwork" class="label">
                                    <span>HORAS TOTALES ASIGNADAS AL PROYECTO</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="duracion_teamwork" name="duracion_teamwork[]" title="Horas totales asignadas al proyecto" class="input-text duracion_teamwork   " placeholder="" value="" />
                                </div>
                            </div>
                            <div class="team-content cv_teamwork" >
                                <div class="control">
                                    <label for="duracion_teamwork" class="label">
                                        <span>&nbsp;</span>
                                    </label>
                                    <div class="control">
                                        <input id="cv-0" type="file" name="cv[]" class="inputfile inputfile-quote file" />
                                        <label for="cv-0">
                                            <span class="file-span"></span>
                                            <strong>Adjuntar CV</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content sumar_teamwork">
                                <div class="control">
                                    <button class="button btn_del_teamjob" type="submit" id="wk_mp_rfq_submit_btn">
                                        <span>
                                            <span>Eliminar Integrante</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <?php
                }else{
                    foreach($collectionTeamJob as $item){
                        $urlbaseinfcv = $block->getUrlBaseCv();
                        $additionalDataItem = $item->getAdditionalData();
                        $urlCv   = '';
                        if(!empty($additionalDataItem)){
                            $unsDatacv = $block->unSerializeData($item->getAdditionalData());
                            if(isset($unsDatacv['cv'])){
                                $urlCv = $urlbaseinfcv.$unsDatacv['cv'];
                            }
                        }
                        ?>
                        <input type="hidden" name="idproyecto[]" value="<?php echo $item->getId(); ?>" >
                        <input type="hidden" name="active_teamwork[]" value="<?php echo $item->getActive(); ?>" >
                        <div class="teamwork-name teamwork-group">
                        <div class="semaforo"><?= $item->getActive()?'<span class="activo_semaforo"></span>':'<span class="inactivo_semaforo"></span>'; ?></div>
    <div class="team-content rol_teamwork"  >
                                <label for="rol_teamwork" class="label">
                                    <span>ROL EN EL PROYECTO</span>
                                </label>
                                <div class="control">
                                    <input type="text" idNombre completo trabajador="rol_teamwork" value="<?= $item->getRol() ?>" name="rol_teamwork[]" title="Rol en el proyecto" class="input-text rol_teamwork   " placeholder="" value="" maxlength="250">
                                </div>
                            </div>
                            <div class="team-content name_teamwork">
                                <label for="name_teamwork" class="label">
                                    <span>NOMBRE COMPLETO</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="name_teamwork" value="<?= $item->getName() ?>" name="name_teamwork[]" title="Nombre completo trabajador" class="input-text name_teamwork   " placeholder="" value="" maxlength="250">
                                </div>
                            </div>
                            <div class="team-content rut_teamwork">
                                <label for="rut_teamwork" class="label">
                                    <span>RUT/DNI</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="rut_teamwork" value="<?= $item->getRut() ?>" name="rut_teamwork[]" title="RUT/DNI" class="input-text rut_teamwork   " placeholder="" value="" maxlength="250">
                                </div>
                            </div>
                            <div class="team-content duracion_teamwork" >
                                <label for="duracion_teamwork" class="label">
                                    <span>HORAS TOTALES ASIGNADAS AL PROYECTO</span>
                                </label>
                                <div class="control">
                                    <input type="text" id="duracion_teamwork" value="<?= $item->getHours() ?>" name="duracion_teamwork[]" title="Horas totales asignadas al proyecto" class="input-text duracion_teamwork   " placeholder="" value="">
                                </div>
                            </div>
                            <div class="team-content cv_teamwork" >
                                <div class="control">
                                    <a href="<?php echo $urlCv; ?>">Ver CV</a>
                                </div>
                                <div class="control">
                                    <label for="cv_teamwork" class="label">
                                        <span></span>
                                    </label>
                                    <div class="control">
                                        <input id="cv-<?php echo $item->getId() ?>" type="file" name="cv[]" class="inputfile inputfile-quote file" />
                                        <label for="cv-<?php echo $item->getId() ?>">
                                            <span class="file-span"></span>
                                            <strong>Adjuntar CV</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content sumar_teamwork">
                                <div class="control">
                                    <button class="button btn_del_teamjob" data-del="<?php echo $item->getId(); ?>" type="submit" >
                                        <span>
                                            <span>Eliminar Integrante</span>
                                        </span>
                                    </button>

                                </div>
                            </div>

                                    
                        </div>
                        <?php
                    }
                }
                ?>
            </div>

        </div>

        <div class="requestforquote_quote_deliverable-services">
            <h2 class="title-deliverable-services">Servicios y/o entregables</h2>
            <div class="button_add_another">
                <div class="div-button_add_another">
                    <a href="#" class="button_add_another btn_add_services ">
                        <span class="span1-button_add_another">
                            <span class="span2-button_add_another">+ Agregar otro entregable</span>
                        </span>
                    </a>
                </div>
            </div>
            <?php
            if($numServices==0){
                ?>
                <div class="fieldset teamwork_fields teamwork-services">
<div class="duration-services" >
                        <label for="duration-services" class="label">
                            <span>DURACIÓN DE LOS SERVICIOS</span>
                        </label>
                        <div class="control">
                            <span></span>
                        </div>
                    </div>
                    <div class="deliverable-services-name">
                    <div class="semaforo"><span class="inactivo_semaforo"></span></div>
                        <input type="hidden" name="active_services[]" value="0">
                        <div class="team-content rol_teamwork" >
                            <label for="rol_teamwork" class="label">
                                <span>NOMBRE</span>
                            </label>
                            <div class="control">
                                <input type="text" name="name_services[]" title="Nombre" class="input-text rol_teamwork   " placeholder="" value="" maxlength="250">
                            </div>
                        </div>
                        <div class="team-content name_teamwork">
                            <label for="name_teamwork" class="label">
                                <span>DETALLE</span>
                            </label>
                            <div class="control">
                                <textarea name="detail_services[]" rows="2" cols="80"></textarea>
                            </div>
                        </div>
                        <div class="team-content duracion_teamwork" >
                            <label for="deliver-date-0" class="label">
                                <span>FECHA DE ENTREGA</span>
                            </label>
                            <div class="control">
                                <input id="deliver-date-0" type="text" name="deliver_date[]" title="Fecha de entrega" class="input-text duracion_teamwork hasDatepicker" placeholder="" value="">
                            </div>
                        </div>
                        <div class="team-content sumar_teamwork" >
                            <div class="control">
                                <label for="duracion_teamwork" class="label">
                                    <span>&nbsp;</span>
                                </label>
                                <div class="control">
                                    <input id="informe-0" type="file" name="informe[]" class="inputfile inputfile-quote file" />
                                    <label for="informe-0">
                                        <span class="file-span"></span>
                                        <strong>Adjuntar Informe</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="team-content sumar_teamwork" >
                            <div class="control">
                                <button class="button btn_del_services" type="submit">
                                    <span>
                                        <span>Eliminar</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <?php
            }else{
                foreach($collectionServices as $services){
                    $urlbaseinf = $block->getUrlBaseInforme();
                    $additionalData = $services->getAdditionalData();
                    $urlInforme   = '';
                    if(!empty($additionalData)){
                        $unsData = $block->unSerializeData($services->getAdditionalData());
                        $urlInforme = $urlbaseinf.$unsData['informe'];
                    }
                    
                    ?>
                    <input type="hidden" name="idservices[]" value="<?php echo $services->getId(); ?>" >
                    <div class="fieldset teamwork_fields teamwork-services">
                        <div class="duration-services" >
                            <label for="duration-services" class="label">
                                <span>DURACIÓN DE LOS SERVICIOS</span>
                            </label>
                            <div class="control">
                                <span></span>
                            </div>
                        </div>
                        <div class="deliverable-services-name">
                            <input type="hidden" name="active_services[]" value="<?= $services->getActive(); ?>">
                            <div class="semaforo"><?= $services->getActive()?'<span class="activo_semaforo"></span>':'<span class="inactivo_semaforo"></span>'; ?></div>
    <div class="team-content rol_teamwork" >
                                <label for="rol_teamwork" class="label">
                                    <span>NOMBRE</span>
                                </label>
                                <div class="control">
                                    <input type="text" name="name_services[]" value="<?= $services->getName(); ?>" title="Nombre" class="input-text rol_teamwork   " placeholder="" maxlength="250">
                                </div>
                            </div>
                            <div class="team-content name_teamwork">
                                <label for="name_teamwork" class="label">
                                    <span>DETALLE</span>
                                </label>
                                <div class="control">
                                    <textarea name="detail_services[]" rows="2" cols="80"><?= $services->getDetails(); ?></textarea>
                                </div>
                            </div>
                            <div class="team-content duracion_teamwork" >
                                <label for="deliver-date-<?php echo $services->getId() ?>" class="label">
                                    <span>FECHA DE ENTREGA</span>
                                </label>
                                <div class="control">
                                    <input id="deliver-date-<?php echo $services->getId() ?>" type="text" name="deliver_date[]" title="Fecha de entrega" class="input-text duracion_teamwork hasDatepicker" placeholder="" value="<?= $services->getDeliverDate(); ?>">
                                </div>
                            </div>
                            <div class="team-content sumar_teamwork" >
                                <div class="control">
                                    <a href="<?php echo $urlInforme; ?>">Ver Informe</a>
                                </div>
                                <div class="control">
                                    <label for="duracion_teamwork" class="label">
                                        <span></span>
                                    </label>
                                    <div class="control">
                                        <input id="informe-<?php echo $services->getId() ?>" type="file" name="informe[]" class="inputfile inputfile-quote file" />
                                        <label for="informe-<?php echo $services->getId() ?>">
                                            <span class="file-span"></span>
                                            <strong>Adjuntar Informe</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="team-content sumar_teamwork" >
                                <div class="control">
                                    <button class="button btn_del_services" data-del="<?php echo $services->getId(); ?>" type="submit">
                                        <span>
                                            <span>Eliminar</span>
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <?php
                }
            }
            ?>


        </div>
        <div class="save-team-jobs">
            <input class="btn-save-team-jobs" type="submit" name="" value="Guardar cambios ">
        </div>
    </div>
</form>
<div class="formbankteamwork" style="display:none;">
    <div class="teamwork-name teamwork-group">
        <input type="hidden" name="active_teamwork[]" value="0">
        <div class="semaforo"><span class="inactivo_semaforo"></span></div>
        <div class="team-content rol_teamwork"  >
            <label for="rol_teamwork" class="label">
                <span>ROL EN EL PROYECTO</span>
            </label>
            <div class="control">
                <input type="text" idNombre completo trabajador="rol_teamwork" name="rol_teamwork[]" title="Rol en el proyecto" class="input-text rol_teamwork   " placeholder="" value="" maxlength="250">
            </div>
        </div>
        <div class="team-content name_teamwork">
            <label for="name_teamwork" class="label">
                <span>NOMBRE COMPLETO</span>
            </label>
            <div class="control">
                <input type="text" id="name_teamwork" name="name_teamwork[]" title="Nombre completo trabajador" class="input-text name_teamwork   " placeholder="" value="" maxlength="250">
            </div>
        </div>
        <div class="team-content rut_teamwork">
            <label for="rut_teamwork" class="label">
                <span>RUT/DNI</span>
            </label>
            <div class="control">
                <input type="text" id="rut_teamwork" value="" name="rut_teamwork[]" title="RUT/DNI" class="input-text rut_teamwork   " placeholder="" value="" maxlength="250">
            </div>
        </div>
        <div class="team-content duracion_teamwork" >
            <label for="duracion_teamwork" class="label">
                <span>HORAS TOTALES ASIGNADAS AL PROYECTO</span>
            </label>
            <div class="control">
                <input type="text" id="duracion_teamwork" name="duracion_teamwork[]" title="Horas totales asignadas al proyecto" class="input-text duracion_teamwork   " placeholder="" value="">
            </div>
        </div>
        <div class="team-content cv_teamwork" >
            <div class="control">
                <label for="duracion_teamwork" class="label">
                    <span>&nbsp;</span>
                </label>
                <div class="control">
                    <input id="cv-0" type="file" name="cv[]" class="inputfile inputfile-quote file" />
                    <label for="cv-0">
                        <span class="file-span"></span>
                        <strong>Adjuntar CV</strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="team-content sumar_teamwork">
            <div class="control">
                <button class="button btn_del_teamjob" type="submit" >
                    <span>
                        <span>Eliminar Integrante</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="formservicesblank" style="display:none;">
    <div class="fieldset teamwork_fields teamwork-services">
        <div class="duration-services" >
            <label for="duration-services" class="label">
                <span>DURACIÓN DE LOS SERVICIOS</span>
            </label>
            <div class="control">
                <span></span>
            </div>
        </div>
        <div class="deliverable-services-name">
            <input type="hidden" name="active_services[]" value="0">
            <div class="semaforo"><span class="inactivo_semaforo"></span></div>
            <div class="team-content rol_teamwork" >
                <label for="rol_teamwork" class="label">
                    <span>NOMBRE</span>
                </label>
                <div class="control">
                    <input type="text" name="name_services[]" value="" title="Nombre" class="input-text rol_teamwork   " placeholder="" maxlength="250">
                </div>
            </div>
            <div class="team-content name_teamwork">
                <label for="name_teamwork" class="label">
                    <span>DETALLE</span>
                </label>
                <div class="control">
                    <textarea name="detail_services[]" rows="2" cols="80"></textarea>
                </div>
            </div>
            <div class="team-content duracion_teamwork" >
                <label for="deliver-date-new" class="label deliver-date-new-label">
                    <span>FECHA DE ENTREGA</span>
                </label>
                <div class="control">
                    <input id="deliver-date-new" type="text" name="deliver_date[]" title="Fecha de entrega" class="input-text duracion_teamwork deliver-date-new-input hasDatepicker" placeholder="" value="">
                </div>
            </div>
            <div class="team-content sumar_teamwork" >
                <div class="control">
                    <label for="duracion_teamwork" class="label">
                        <span>&nbsp;</span>
                    </label>
                    <div class="control">
                        <input id="informe-new" type="file" name="informe[]" class="inputfile inputfile-quote file informe-new-input" />
                        <label for="informe-new" class="informe-new-label">
                            <span class="file-span"></span>
                            <strong>Adjuntar Informe</strong>
                        </label>
                    </div>
                </div>
            </div>
            <div class="team-content sumar_teamwork" >
                <div class="control">
                    <button class="button btn_del_services" type="submit">
                        <span>
                            <span>Eliminar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
button.button.btn_del_teamjob {
    display: inline-block;
}

span.activo_semaforo {
    width: 20px;
    height: 20px;
    background: #33ce00;
    border-radius: 50%;
    flex: 20%;
    display: inline-block;
}

span.inactivo_semaforo {
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 50%;
    flex: 20%;
    display: inline-block;
}

.semaforo {
    vertical-align: middle;
    top: -10px;
    position: relative;
}
.teamwork-services .semaforo {
    top: 35px;
}

.semaforo {
    flex: 3%;
    vertical-align: top;
    height: 100%;
    box-sizing: unset;
    position: static;
    padding: 35px 0 10px;
    top: 0;
}

.teamwork-services .semaforo {
    padding-top: 35px;
}

.inputfile-quote + label span {
    width: 130px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #E0E7FF;
    height: 40px;
    padding: 0 20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    box-sizing: border-box;
}
.inputfile-quote + label{
    display:flex;
}
.inputfile-quote + label strong{
    white-space:nowrap
}
button.button.btn_del_services {margin-top: 16px;}

button.button.btn_del_teamjob {
    margin-bottom: 3px;
}
span.file-span {
    line-height: 35px;
    text-overflow: ellipsis;
}
</style>
<script type="text/javascript">
	require([
		'jquery'
	], function ($) {
        $(document).on("change", ".inputfile" , function(e) {
            var $input = $(this),
                $label = $input.next("label"),
                labelVal = $label.html(),
                fileName = "";

            if (this.files && this.files.length > 1) {
                fileName = this.files.length + " archivos cargados";
            } else if (e.target.value) {
                fileName = e.target.value.split("\\").pop();
            }
            
            if (fileName) {
                $label.find("span").html(fileName);
            } else {
                $label.html(labelVal);
            }
        });

        // Firefox bug fix
        $(document).on("focus", ".inputfile" , function() {
            $(this).addClass("has-focus");
        });
        $(document).on("blur", ".inputfile" , function() {
            $(this).removeClass("has-focus");
        });
	});
</script>