.header.content .go-back-link-mp {
    display: block;
    float: left;
}

@media (max-width: @screen__xxs), (min-width: @screen__xxs) {
    .header.content .go-back-link-mp {
        float: right;
        width: 100%;
        text-align: center;
        padding: 8px 0;
    }
}

@media (min-width: @screen__s) {
    .header.content .go-back-link-mp {
        float: left;
        width: initial;
        text-align: initial;
    }
}
@media (min-width: 900px) {
    .header.content .go-back-link-mp {
        padding: 8px 10px;
    }
}

