<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper   = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner  = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());
$sellerId = $customer->getEntityId();
$collection = $block->getCertificationList($customer->getEntityId());
?>

<div class="certification">
	<div class="title-certification">
    	<?= __('Supplier Certifications') ?>
  	</div>
  	<div class="container-certification">
	  	<?php if ((!empty($collection)) && ($collection->getSize() > 0)): ?>
			<div class="developer-certification">
				<div class="developer-title-certification">
					<span><?= __('Desarrollo y mantención de software') ?></span>
				</div>
				<?php foreach ($collection as $item): ?>
					<?php if ($item->getCategory() == 1):?>
						<div class="certification-1">
							<table class="admin__table-comemercial-conditions commercial-conditions-table">
								<thead>
									<tr>
										<td>
											<?= $item->getName(); ?>
											<span><?= $item->getDetails(); ?></span>
										</td>
									</tr>
								</thead>
							</table>
						</div>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
			<div class="services-certification">
				<div class="services-title-certification">
					<span><?= __('Servicios profesionales TI') ?></span>
				</div>
				<?php foreach($collection as $item): ?>
					<?php if ($item->getCategory() == 2): ?>
						<div class="certification-1">
							<table class="admin__table-comemercial-conditions commercial-conditions-table">
								<thead>
									<tr>
										<td>
											<?= $item->getName(); ?>
											<span><?= $item->getDetails(); ?></span>
										</td>
									</tr>
								</thead>
							</table>
						</div>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
		<?php else: ?>
			<div class="message info empty" style="margin: 20px 20px 0 20px; width:100%;">
				<span>
					<?= /*@noEscape*/ __('No certification.'); ?>
				</span>
			</div>
		<?php endif; ?>
  	</div>
</div>
