<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());
$garantiaOldSoftware = '
        <td>Descuento tramo 1 <span>para compras de 30 a 100 UTM</span></td>
        <td>Descuento tramo 2 <span>para compras de 100 a 300 UTM</span></td>
        <td>Descuento tramo 3 <span>para compras de 300 a 600 UTM</span></td>
        <td>Garantía <span>del software</span></td>
';

$Developments = [
    [ 'key' => 'wkv_sw_desarrollo_tramo1', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_desarrollo_tramo2', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_desarrollo_tramo3', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_desarrollo_garantia', 'type' => 'months' ],
];
$Services = [
    [ 'key' => 'wkv_sw_profesional_tramo1', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_profesional_tramo2', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_profesional_tramo3', 'type' => 'percent' ],
    [ 'key' => 'wkv_sw_profesional_sla1', 'type' => 'working-hours' ],
    [ 'key' => 'wkv_sw_profesional_sla2', 'type' => 'working-days' ]
];
if ($helper->getWebsite() == 'software2022'){
    $AttributesSoftware2022 = [
        [ 'key' => 'wkv_sw_desarrollo_meses_garantia_tramo1', 'type' => 'monthsSoftware2022' ],
        [ 'key' => 'wkv_sw_desarrollo_meses_garantia_tramo2', 'type' => 'monthsSoftware2022' ],
        [ 'key' => 'wkv_sw_desarrollo_meses_garantia_tramo3', 'type' => 'monthsSoftware2022' ]
    ];
    array_pop($Developments);
    $Developments = array_merge($Developments,$AttributesSoftware2022);
    $Services = array_merge($Services,$AttributesSoftware2022);
    $garantiaOldSoftware = '
                <td>Tramo 1 <span>para compras de 30 a 100 UTM</span></td>
                <td>Tramo 2 <span>para compras de 100 a 300 UTM</span></td>
                <td>Tramo 3 <span>para compras de 300 a 600 UTM</span></td>';
}

?>
<div class="box-regional-info">
    <div class="item">
        <table class="admin__table-comemercial-conditions commercial-conditions-table">
            <thead>
              <tr>
                <td></td>
                <?= $garantiaOldSoftware ?>
                <td>SLA primera respuesta</td>
                <td>SLA on site</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Desarrollo y mantención de software</td>
                <?php foreach ($Developments as $Development):
                    if ($_attr = $customer->getAttribute($Development['key'])):
                        $value = $customer->getData($Development['key']);
                        switch ($Development['type']) {
                            case 'percent':
                                $value = $value . '%' . ($helper->getWebsite() == 'software2022' ? ' descuento <br>':'');
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                            case 'months':
                                $value = $value . ' meses';
                                break;
                            case 'monthsSoftware2022':
                                $tramoNumber = substr($Development['key'], -1);
                                ?>
                                <script>
                                    var tramo = document.getElementById("wkv_sw_desarrollo_tramo<?= $tramoNumber?>");
                                    var valueGuarantee = document.createTextNode("<?= $value ?> meses garantía");
                                    tramo.appendChild(valueGuarantee);
                                </script>
                                <?php
                                continue 2;
                            case 'dropdown':
                                if ($_attr->usesSource()) {
                                    $value = $_attr->getSource()->getOptionText((int)$value);
                                }
                                break;
                            case 'working-hours':
                                $value = $value . ' horas hábiles';
                                break;
                            case 'working-days':
                                $value = $value . ' días hábiles';
                                break;
                        }
                    ?>
                    <td id='<?= $Development['key'] ?>' ><?= $value ?></td>
                <?php endif; endforeach; ?>
                    <td>No aplica</td>
                    <td>No aplica</td>
              </tr>
              <tr>
                <td>Servicios profesionales TI</td>
                <?php
                $i = 0;
                foreach ($Services as $Service):
                    if ($_attr = $customer->getAttribute($Service['key'])):
                        $value = $customer->getData($Service['key']);
                        switch ($Service['type']) {
                            case 'percent':
                                $value = $value . '%' . ($helper->getWebsite() == 'software2022' ? ' descuento <br>':'');
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                            case 'months':
                                $value = $value . ' meses';
                                break;
                            case 'monthsSoftware2022':
                                $tramoNumber = substr($Service['key'], -1);
                                ?>
                                <?php
                                continue 2;
                            case 'dropdown':
                                if ($_attr->usesSource()) {
                                    $value = $_attr->getSource()->getOptionText((int)$value);
                                }
                                break;
                            case 'working-hours':
                                $value = $value . ' horas hábiles';
                                break;
                            case 'working-days':
                                $value = $value . ' días hábiles';
                                break;
                        }
                        if ($i == 3) {
                        ?>
                        <?php
                        }
                    ?>
                        <td id='<?= $Service['key'] ?>' ><?= $value ?></td>
                <?php endif; $i++; endforeach; ?>
              </tr>
            </tbody>
        </table>
    </div>
</div>

