<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helperWebsite = $this->helper("Webkul\MpAssignProduct\Helper\Data");
$helperRegional = $this->helper('Formax\RegionalCondition\Helper\Data');
$partner=$block->getProfileDetail();
if ($partner['shop_url']) {
    if ($helper->getActiveColorPicker()) { ?>
        <style>
            .page-main{
                background-image:none;
                background-color:<?php echo $block->escapeHtml($partner['background_width']);?>;
            }
        </style>
    <?php } ?>
    <div class="wk_mp_design">
        <?php echo $block->getChildHtml("marketplace_seller_top_block")?>
        <div class="wk-mp-collection-container">
            <div class="wk-mp-profile-block wk-mp-custom-regional" id="commercial-conditions">
                <div class="wk-mp-aboutus-title">
                    <?php echo __("About The Provider")?>
                </div>
                <div class="wk-mp-aboutus-data">
                    <?php echo $block->getChildHtml("marketplace_provider_data")?>
                </div>
            </div>
            <div class="wk-mp-custom-section">
              <div class="wk-mp-section-title">
                  <?php echo __("Commercial Terms")?>
              </div>
              <div class="wk-mp-section-subtitle">
                  <?php echo __("Economic and technical conditions offered by the supplier according to the category of the service.")?>
              </div>
              <div class="wk-mp-section-data">
                  <?php echo $block->getChildHtml("marketplace_commercial_conditions")?>
              </div>
            </div>

            <?php if ($helperWebsite->getWebsite() == 'software2022'){ ?>
                <div class="wk-mp-custom-regional">
                    <?php
                    $matrix = $helperRegional->getMatrixbySeller($partner->getSellerId());
                    $weight = $helperRegional->getWeight();
                    $regional = $helperRegional->getRegionalConditionFormated($partner->getSellerId());
                    if ($regional || $matrix):
                        ?>
                        <div class="wk-mp-profile-block" id="about-us">
                            <div class="wk-mp-aboutus-title">
                                <?php echo __("Regional Conditions")?>
                            </div>
                            <div class="wk-mp-aboutus-data">
                                <?php if ($matrix): ?>
                                    <div class="box-regional-matrix">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <?php foreach ($matrix as $title => $info): ?>
                                                    <th><?= $title; ?></th>
                                                <?php endforeach; ?>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php foreach ($weight as $w) :?>
                                                <tr>
                                                    <td><?= $w->getDimensionLabel(); ?></td>
                                                    <?php foreach ($matrix as $title => $info) :?>
                                                        <?php if (isset($info[$w->getDimensionLabel()])) :?>
                                                            <td><?= $info[$w->getDimensionLabel()] ?></td>
                                                        <?php else :?>
                                                            <td></td>
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>
                                                </tr>
                                            <?php endforeach; ?>
                                            </tbody>
                                        </table>
                                    </div>
                                <?php endif; ?>
                                <?php if ($regional): ?>
                                    <div class="box-regional-info" id="box-content-regional">
                                        <?php foreach ($regional as $region): ?>
                                            <div class="item">
                                                <div data-role="collapsible">
                                                    <div class="title" data-role="trigger">
                                                        <span><?= $region['region_name']; ?></span>
                                                    </div>
                                                </div>
                                                <div class="content" data-role="content">
                                                    <table class="admin__table-secondary order-information-table">
                                                        <tbody>
                                                        <tr>
                                                            <th><?= __('Contact Name') ?></th>
                                                            <td><?= $region['contact_name']; ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th><?= __('Contact Phone') ?></th>
                                                            <td><?= $region['contact_phone']; ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th><?= __('Contact Email') ?></th>
                                                            <td><?= $region['contact_email']; ?></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            <?php } ?>
            <div class="wk-mp-section-certifications">
                <?php echo $block->getChildHtml("marketplace_certification")?>
            </div>
            <?php if ($helperWebsite->getWebsite() != 'software2022'){ ?>
            <div class="wk-mp-section-certifications">
                <?php echo $block->getChildHtml("formax_seller_rating_summary")?>
            </div>
            <?php } ?>
        </div>
    </div>
<?php }  ?>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $("#box-content-regional").accordion();
    });
</script>
