<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());

$attrs = [
    //[ 'key' => 'wkv_dccp_id', 'type' => 'text' ],
    //[ 'key' => 'wkv_dccp_rut', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_name', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_phone', 'type' => 'text' ],
    [ 'key' => 'wkv_dccp_email', 'type' => 'text' ],
    [ 'key' => 'wkv_region_origen', 'type' => 'dropdown' ]
];

?>
<div class="box-provider-data">
    <div class="item">
        <table class="admin__table-secondary order-information-table">
            <tbody>
                <?php foreach($attrs as $attr):
                    if($_attr = $customer->getAttribute($attr['key'])):
                        $value = $customer->getData($attr['key']);
                        switch($attr['type']){
                            case 'percent':
                                $value = $value.'%';
                                break;
                            case 'boolean':
                                $value = $value == '1' ? __('Yes') : __('No');
                                break;
                            case 'date':
                                $value = date('d/m/Y', strtotime($value));
                                break;
                            case 'months':
                                $value = $value.' meses';
                                break;
                            case 'dropdown':
                                if ($_attr->usesSource()) {
                                    $value = $_attr->getSource()->getOptionText((int)$value);
                                }
                                break;
                            case 'working-hours':
                                $value = $value.' horas hábiles';
                                break;
                            case 'working-days':
                                $value = $value.' días hábiles';
                                break;
                        }
                    ?>
                    <tr>
                        <th max-width="55%"><?= $_attr->getStoreLabel() ?></th>
                        <td><?= $value ?></td>
                    </tr>
                <?php endif; endforeach; ?>
                <tr>
                    <th max-width="55%"><?php echo __('Stamps') ?></th>
                    <td>
                      <?php
                        if($stampsBlock = $block->getChildBlock('cc.stamps.block')):
                          $stampsBlock->setSellerId($partner->getSellerId());
                          echo $block->getChildHtml('cc.stamps.block');
                        endif;
                     ?>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
