<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper   = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner  = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());
$sellerId = $customer->getEntityId();
//print_r( $customer->getEntityId() );
$collection = $block->getCertificationList($customer->getEntityId());
?>

<div class="certification">
  <div class="title-certification">
    <?php echo __("Supplier Certifications")?>
  </div>
  <div class="container-certification">
    <div class="developer-certification">
      <div class="developer-title-certification">
        <span>Desarrollo y mantención de software</span>
      </div>
        <?php
          foreach($collection as $item){
            if($item->getCategory()==1){
              ?>
              <div class="certification-1">
              <table class="admin__table-comemercial-conditions commercial-conditions-table">
                <thead>
                  <tr>
                    <td><?php echo $item->getName(); ?><span><?php echo $item->getDetails(); ?></span></td>
                  </tr>
                </thead>
              </table>
              </div>
              <?php
            }
          }
        ?>

 

    </div>
    <div class="services-certification">
      <div class="services-title-certification">
        <span>Servicios profesionales TI</span>
      </div>
      <?php
        foreach($collection as $item){
          if($item->getCategory()==2){
            ?>
            <div class="certification-1">
            <table class="admin__table-comemercial-conditions commercial-conditions-table">
              <thead>
                <tr>
                  <td><?php echo $item->getName(); ?><span><?php echo $item->getDetails(); ?></span></td>
                </tr>
              </thead>
            </table>
            </div>
            <?php
          }
        }
      ?>


      
    </div>
  </div>
</div>
