<?php
$viewModel = $block->getData('viewModel');
$regionalCondition = $viewModel->getRegionalConditionRequestById($block->getRequest()->getParam('id'));
?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary order-shipment-table">
        <thead>
        <tr class="headings">
            <th class="col-lavel"><span><?= $block->escapeHtml(__('Informacion General')) ?></span></th>
            <th class="col-value"><span><?= $block->escapeHtml(__('')) ?></span></th>
        </tr>
        </thead>
        <?php $items = $regionalCondition->getData(); ?>
        <?php foreach ($items as $index => $item) : ?>
            <tbody class="even">
            <tr>
                <td class="col-lavel"><div><?= $block->escapeHtml($index) ?></div></td>
                <td class="col-lavel"><div><?= $block->escapeHtml($item) ?></div></td>
            </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary order-shipment-table">
        <thead>
        <tr class="headings">
            <th class="col-lavel-attr"><span><?= $block->escapeHtml(__('Atributos Propios del Convenio')) ?></span></th>
            <th class="col-value-attr"><span><?= $block->escapeHtml(__('')) ?></span></th>
        </tr>
        </thead>
        <?php $items = $regionalCondition->getRegionalAttributes(); ?>
        <?php foreach ($items as $index => $item) : ?>
            <tbody class="old">
            <tr>
                <td class="col-lavel-attr"><div><?= $block->escapeHtml($index) ?></div></td>
                <td class="col-value-attr"><div><?= $block->escapeHtml($item['value']) ?></div></td>
            </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>