<?php
/**
 * @var $block \Summa\EmergenciasCheckout\Block\Popup
 */
?>

<div id="popupInfo" class="greatbuy-popup" style="display:none;">
    <p><?php echo $block->getText() ?></p>
</div>

<?php if ($block->isActive()): ?>
<script type="text/x-magento-init">
{
    "*": {
        "popupinfo-init": {
          "modalContainer": "#popupInfo",
          "title": "<?php echo $block->getTitle() ?>"
        }
    }
}
</script>
<?php endif; ?>