<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMultiShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkoutSession = $objectManager->get(\Magento\Checkout\Model\Session::class);
$priceHelper = $objectManager->get(\Magento\Framework\Pricing\Helper\Data::class);
$helper = $objectManager->get(\Webkul\MpMultiShipping\Helper\Data::class);
$multiShippingMode = $helper->getConfigData('shipping_mode');
?>
<form action="<?= /* @escapeNotVerified */ $block->getPostActionUrl() ?>" method="post" id="shipping_method_form" class="form multicheckout shipping">
    <?php foreach ($block->getAddresses() as $_index => $_address) : ?>
    <div class="block block-shipping">
        <div class="block-title"><strong><?= /* @escapeNotVerified */ __('Address %1 <span>of %2</span>', ($_index+1), $block->getAddressCount()) ?></strong></div>
        <div class="block-content">
            <div class="box box-shipping-address">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Shipping To') ?></span>
                    <a href="<?= /* @escapeNotVerified */ $block->getAddressEditUrl($_address) ?>" class="action edit"><span><?= /* @escapeNotVerified */ __('Change') ?></span></a>
                </strong>
                <div class="box-content">
                    <address><?= /* @escapeNotVerified */ $_address->format('html') ?></address>
                </div>
            </div>
            <div class="box box-shipping-method">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
                </strong>
                <div class="box-content">
                    <?php if (!($_shippingRateGroups = $block->getShippingRates($_address))) : ?>
                        <p><?= /* @escapeNotVerified */ __('Sorry, no quotes are available for this order right now.') ?></p>
                    <?php else : ?>
                    <dl class="items methods-shipping">
                        <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates) : ?>
                            <?php if ($code == "mpmultishipping") { ?>
                                <dt class="item-title"><?= $block->escapeHtml($block->getCarrierName($code)) ?></dt>
                                <dd class="item-content">
                                    <fieldset class="fieldset">
                                        <legend class="legend">
                                            <span><?= $block->escapeHtml($block->getCarrierName($code)) ?></span>
                                        </legend><br>
                                        <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate) : ?>
                                            <input type="radio" data-addressId="<?= /* @escapeNotVerified */ $_address->getId() ?>" name="shipping_method[<?= $_address->getId() ?>]" value="<?= $_rate->getCode() ?>" id="s_method_<?= $_address->getId() ?>_<?= $_rate->getCode() ?>" class="radio multiaddress hidden" />
                                            <div class="field choice">
                                                <?php if ($_rate->getErrorMessage()) : ?>
                                                    <strong><?= $block->escapeHtml($_rate->getErrorMessage()) ?></strong>
                                                <?php else : ?>
                                                    <!-- Dev Zone Start -->
                                                    <?php
                                                    $sellerAddressMethods = $checkoutSession->getSellerMethod();
                                                    $sellerAddressMethod = $sellerAddressMethods[$_address->getCustomerAddressId()];
                                                    ?>
                                                    <div>
                                                        <table style="margin-top: 10px;background: #f5f5f5;">
                                                            <tbody class="seller-method-table">
                                                                <?php foreach ($sellerAddressMethod as $sellerMethod) { ?>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <span class="seller-name"><?= __("Seller : ").$sellerMethod['seller_name'];?></span>
                                                                            <br/>
                                                                            <span class="seller-products"><?= __("Products : ").$sellerMethod['products'];?></span>
                                                                        </td>
                                                                    </tr>
                                                                    <?php foreach ($sellerMethod['methods'] as $method => $methodData) { ?>
                                                                        <tr>
                                                                            <td style="padding-left: 10px;">
                                                                                <?php if ($multiShippingMode == "1" ) { ?>
                                                                                    <input type="radio" 
                                                                                    data-customaddressid="<?= $_address->getCustomerAddressId() ?>"
                                                                                    data-addressid="<?= /* @escapeNotVerified */ $_address->getId() ?>" 
                                                                                    data-sellerid="<?= /* @escapeNotVerified */ $sellerMethod['seller_id'] ?>" 
                                                                                    data-cost="<?= /* @escapeNotVerified */ $methodData['cost'] ?>" 
                                                                                    class="radio multiaddress-method"
                                                                                    name="multi_address_shipping[<?= /* @escapeNotVerified */ $_address->getId() ?>][<?= /* @escapeNotVerified */ $sellerMethod['seller_id'] ?>]"
                                                                                    id="<?php echo "multi_address_".$_address->getId()."_".$sellerMethod['seller_id']."_".$method; ?>"
                                                                                    value="<?= /* @escapeNotVerified */ $method ?>"/>
                                                                                <?php } elseif ($multiShippingMode == "2") { ?>
                                                                                    <input type="radio" 
                                                                                    data-customaddressid="<?= $_address->getCustomerAddressId() ?>"
                                                                                    data-addressid="<?= /* @escapeNotVerified */ $_address->getId() ?>" 
                                                                                    data-sellerid="<?= /* @escapeNotVerified */ $sellerMethod['seller_id'] ?>" 
                                                                                    data-itemid="<?= /* @escapeNotVerified */ $sellerMethod['item_ids'] ?>" 
                                                                                    data-cost="<?= /* @escapeNotVerified */ $methodData['cost'] ?>" 
                                                                                    class="radio multiaddress-method"
                                                                                    name="multi_address_shipping[<?= /* @escapeNotVerified */ $_address->getId() ?>][<?= /* @escapeNotVerified */ $sellerMethod['item_ids'] ?>]"
                                                                                    id="<?php echo "multi_address_".$_address->getId()."_".$sellerMethod['seller_id']."_".$sellerMethod['item_ids']."_".$method; ?>"
                                                                                    value="<?= /* @escapeNotVerified */ $method ?>"/>
                                                                                <?php } ?> 
                                                                                
                                                                            </td>
                                                                            <td class="col col-method">
                                                                                <?php if ($multiShippingMode == "1" ) { ?>
                                                                                <label for="<?php echo "multi_address_".$_address->getId()."_".$sellerMethod['seller_id']."_".$method; ?>">
                                                                                <?php } elseif ($multiShippingMode == "2") { ?>
                                                                                <label for="<?php echo "multi_address_".$_address->getId()."_".$sellerMethod['seller_id']."_".$sellerMethod['item_ids']."_".$method; ?>">
                                                                                <?php } ?> 
                                                                                    <?= $methodData['method'] ?>
                                                                                    <span class="price">
                                                                                        <?= $priceHelper->currency($methodData['cost']) ?>
                                                                                    </span>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                    <?php } ?>
                                                                <?php } ?>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- Dev Zone End -->
                                                <?php endif ?>
                                            </div>
                                        <?php endforeach; ?>
                                    </fieldset>
                                </dd>
                            <?php } else { ?>
                                <dt class="item-title"><?= $block->escapeHtml($block->getCarrierName($code)) ?></dt>
                                <dd class="item-content">
                                    <fieldset class="fieldset">
                                        <legend class="legend">
                                            <span><?= $block->escapeHtml($block->getCarrierName($code)) ?></span>
                                        </legend><br>
                                        <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate) : ?>
                                        <div class="field choice">
                                            <?php if ($_rate->getErrorMessage()) : ?>
                                            <strong><?= $block->escapeHtml($_rate->getCarrierTitle()) ?>: <?= $block->escapeHtml($_rate->getErrorMessage()) ?></strong>
                                        <?php else : ?>
                                            <div class="control">
                                                <?php if ($_sole) : ?>
                                                    <input type="radio" data-addressId="<?= /* @escapeNotVerified */ $_address->getId() ?>" name="shipping_method[<?= /* @escapeNotVerified */ $_address->getId() ?>]" value="<?= $block->escapeHtml($_rate->getCode()) ?>" id="s_method_<?= /* @escapeNotVerified */ $_address->getId() ?>_<?= /* @escapeNotVerified */ $_rate->getCode() ?>" class="radio solo method" checked="checked"/>
                                                <?php else : ?>
                                                    <input type="radio" data-addressId="<?= /* @escapeNotVerified */ $_address->getId() ?>" name="shipping_method[<?= /* @escapeNotVerified */ $_address->getId() ?>]" value="<?= /* @escapeNotVerified */ $_rate->getCode() ?>" id="s_method_<?= /* @escapeNotVerified */ $_address->getId() ?>_<?= /* @escapeNotVerified */ $_rate->getCode() ?>"<?php if ($_rate->getCode()===$block->getAddressShippingMethod($_address)) { echo ' checked="checked"'; } ?> class="radio" />
                                                <?php endif; ?>
                                            </div>
                                            <label for="s_method_<?= /* @escapeNotVerified */ $_address->getId() ?>_<?= /* @escapeNotVerified */ $_rate->getCode() ?>"><?= $block->escapeHtml($_rate->getMethodTitle()) ?>
                                                <?php $_excl = $block->getShippingPrice($_address, $_rate->getPrice(), $this->helper('Magento\Tax\Helper\Data')->displayShippingPriceIncludingTax()); ?>
                                                <?php $_incl = $block->getShippingPrice($_address, $_rate->getPrice(), true); ?>
                                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl) : ?>
                                                <span class="price-including-tax" data-label="<?= /* @escapeNotVerified */ __('Incl. Tax') ?>">
                                            <?php endif; ?>
                                                <?= /* @escapeNotVerified */ $_incl ?>
                                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl) : ?>
                                                </span>
                                            <?php endif; ?>
                                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl) : ?>
                                                <span class="price-excluding-tax" data-label="<?= /* @escapeNotVerified */ __('Excl. Tax') ?>"><?= /* @escapeNotVerified */ $_excl ?></span>
                                            <?php endif; ?>
                                            </label>
                                        <?php endif ?>
                                        </div>
                                        <?php endforeach; ?>
                                    </fieldset>
                                </dd>
                            <?php } ?>
                        <?php endforeach; ?>
                    </dl>
                    <?php endif; ?>
                    <?php //$block->getItemsBoxTextAfter($_address) ?>
                </div>
            </div>
            <div class="box box-items">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Items') ?></span>
                    <a href="<?= /* @escapeNotVerified */ $block->getItemsEditUrl($_address) ?>" class="action edit"><span><?= /* @escapeNotVerified */ __('Edit Items') ?></span></a>
                </strong>
                <div class="box-content">
                    <div class="table-wrapper">
                        <table class="items data table" id="shipping-table-<?= /* @escapeNotVerified */ $_address->getId() ?>">
                            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Items') ?></caption>
                            <thead>
                            <tr>
                                <th class="col item" scope="col"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
                                <th class="col qty" scope="col"><?= /* @escapeNotVerified */ __('Qty') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($block->getAddressItems($_address) as $_item) : ?>
                                <tr>
                                    <td class="col item" data-th="<?= $block->escapeHtml(__('Product Name')) ?>"><?= $block->getItemHtml($_item->getQuoteItem()) ?></td>
                                    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>"><?= /* @escapeNotVerified */ $_item->getQty() ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
    <input type="hidden" name="multi_address_cost" value=""/>
    <?= $block->getChildHtml('checkout_billing_items') ?>
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action primary continue" type="submit"><span><?= /* @escapeNotVerified */ __('Continue to Billing Information') ?></span></button>
        </div>
        <div class="secondary">
            <a href="<?= /* @escapeNotVerified */ $block->getBackUrl() ?>" class="action back"><span><?= /* @escapeNotVerified */ __('Back to Select Addresses') ?></span></a>
        </div>
    </div>
</form>

<?php
$formData = [
    "shippingMode" => $multiShippingMode
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script>
window.shippingMode = <?php echo $multiShippingMode; ?>
</script>
<script type="text/x-magento-init">
{
    "*": {
        "wkmultiaddress": <?php /* @escapeNotVerified */echo $serializedFormData; ?>
    }
}
</script>
