<p><?= __('A continuación deberás agregar las certificaciones que tengas como proveedor tanto para Desarrollo y Mantención de Software, como Servicios Profesionales TI. En el campo de Detalle deberás <strong>incluir el link directo a la acreditación de la certificación actualizada.</strong>') ?></p><br>
<span class="wk_action wk_new-certification">
    <a href="<?= $block->getUrlFormNew() ?>" title="Nueva cotización" class="action view new-certification">
        <span>Nueva certificación</span>
    </a>
</span>