<?php
$id = $block->getId();
$nombre = '';
$detalle = '';
$categoria = '';
?>
<form action="post" id="formcertification">
<?php
    if($id!=null){
        $certificaton = $block->getCertification();
        $nombre = $certificaton->getName();
        $detalle = $certificaton->getDetails();
        $categoria = $certificaton->getCategory();
        ?>
        <input type="hidden" name="id" value="<?php echo $id; ?>" />
        <?php
    }
?>
    <div class="wk_mp_design wk_mp_rfq_main_container-provider wk_mp_rfq_team-job">
        <div class="requestforquote_quote_teamwork">
            <h2 class="title-team-work"><?php if($id==null){echo 'Nuevo';}else{echo 'Editar';} ?></h2>
            <div class="teamwork formworkjob">
                <div class="teamwork-name teamwork-group">
                    <div class="fieldset team-content rol_teamwork"  >
                        <label for="rol_teamwork" class="label">
                            <span>Nombre</span>
                        </label>
                        <div class="control">
                            <input type="text" idNombre completo trabajador="rol_teamwork" name="name" title="Rol en el proyecto" class="input-text rol_teamwork" placeholder="" value="<?php echo $nombre; ?>" maxlength="250" />
                        </div>
                    </div>
                    <div class="fieldset team-content name_teamwork">
                        <label for="name_teamwork" class="label">
                            <span>Detalle</span>
                        </label>
                        <div class="control">
                            <textarea name="detail"><?php echo $detalle; ?></textarea>
                        </div>
                    </div>
                    <div class="fieldset team-content duracion_teamwork" >
                        <label for="duracion_teamwork" class="label">
                            <span>Categoria</span>
                        </label>
                        <div class="control">
                            <select name="category">
                                <option value="">Seleccione</option>
                                <option value="1" <?php if($categoria==1){ echo "selected='selected'";} ?> >SERVICIOS DE DESARROLLO Y MANTENCIÓN DE SOFTWARE</option>
                                <option value="2" <?php if($categoria==2){ echo "selected='selected'";} ?> >PROYECTOS DE SERVICIOS PROFESIONALES TI</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="save-team-jobs">
            <input class="btn-save-team-jobs btn-save-certification" type="button" name="" value="Guardar cambios ">
        </div>
    </div>
</form>
