<?php
if ( $block->customerLoggedIn() ) :  ?>
<ul class="opc-progress-bar">
    <li class="opc-progress-bar-item _active" >
        <span class="opc-label">Carro de Compras</span>
        <small class="opc-step-number">Paso 1</small>
    </li>
    <li class="opc-progress-bar-item" >
        <span class="label" > Despacho</span >
        <small class="opc-step-number" > Paso 2 </small >
    </li >
    <li class="opc-progress-bar-item" >
        <span class="opc-label">Resumen</span>
        <small class="opc-step-number">Paso 3</small>
    </li>
</ul>
<?php endif; ?>