<?php
/**
 * Price history template
 *
 * @var $block \Formax\PriceHistory\Block\Modal
 */
?>
<?php
$imgHelper = $this->helper('Magento\Catalog\Helper\Image');
$title = __('See price history');
$product = $block->getProduct();
$endpoint = $block->getEndpoint();
$dccp_id = $product->getSku();
$image_url = $imgHelper->init($product, 'product_thumbnail_image')
    ->setImageFile($product->getImage())
    ->getUrl();
?>
<div class="cc-price-history">
    <a data-mage-init='{"pricehistory-modal": {
            "dccp_productid": "<?= $dccp_id ?>",
            "endpoint": "<?= $endpoint ?>",
            "type": "<?= $product->getTypeId() ?>"}
        }'
       id="viewPriceHistory"
       title="<?= $title ?>"
       style="display:none;"><?= $title ?></a>
    <div id="pricehistory-popup" style="display:none;">
        <table class="tablehead">
            <tbody>
                <tr>
                    <td class="image" width="75" height="75" style="background-image: url(<?php echo $image_url?>);"></td>
                    <td class="product" style="text-align: top;">
                        <strong>ID PRODUCTO <?= $product->getSku(); ?></strong>
                        <?= $product->getName();?>
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="prices-list" class="cc-table">
            <thead>
                <tr>
                    <th>Orden de compra</th>
                    <th>Fecha Aceptación OC</th>
                    <th>RegiÓn de despacho</th>
                    <th>Comuna de despacho</th>
                    <th>Moneda</th>
                    <th>Precio Neto Unitario</th>
                </tr>
            </thead>
            <tbody>
                <tr id="no-records">
                    <td colspan="100%">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div class="chartArea">
            <h1>Chart</h1>
            <canvas id="chart" width="undefined" height="undefined"></canvas>
        </div>
    </div>
</div>
<style>
    .modal-popup.pricehistory-modal .modal-title {
        color: #2E384D;
    }
    #pricehistory-popup .tablehead {
        margin-bottom: 30px;
    }
    #pricehistory-popup .image {
        background-color: #d1d8e0;
        background-size: contain;
        background-position: center center;
        padding: 0;
    }
    #pricehistory-popup .product {
        font-size: 15px;
        color: #000;
        padding: 5px 10px 11px 20px;
    }
    #pricehistory-popup .product strong {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #757575;
    }
    #pricehistory-popup table#prices-list tbody>tr:not(#no-records)>td:first-child {
        font-weight: normal;
        color: #2E384D;
        text-decoration: underline;
        white-space: nowrap;
    }
    #pricehistory-popup table#prices-list a {
        color: #2E384D;
    }
    #pricehistory-popup .cc-table>thead>tr>th, .wk-table-product-list>thead>tr>th {
        color: #666;
    }
    #pricehistory-popup .cc-table > tbody > tr {
        box-shadow: none;
    }
    #pricehistory-popup .cc-table > tbody > tr td,
    #pricehistory-popup .cc-table > tbody > tr td:first-child,
    #pricehistory-popup .cc-table > tbody > tr td:last-child {
        border: 0 none;
    }
    #pricehistory-popup .cc-table > tbody > tr:nth-child(even) td {
        background: #fafafa;
    }
    #pricehistory-popup table#prices-list tbody>tr:not(#no-records)>td:nth-child(2) {
        font-weight: normal;
    }

    .chartArea {
        padding: 40px 0 25px;
    }
</style>