<?php  
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$captchenable = $helper->getCaptchaEnable();
$partner = $block->getProfileDetail();
$sellerId = $partner->getSellerId();

$partner = [];
$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$respnseRate = $_helper->getResponseRateOfSeller($sellerId);
$avgResponse = $_helper->getResponseTimeOfSeller($sellerId);
?>
<div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
    <a class="askque"><?php echo __('Contact') ?></a>
    <span class="field-tooltip-action"></span>
    <div class="field-tooltip-content">
        <span class="seller-response-rate">
            <?php echo $respnseRate .__('% response rate,') ?>
            <?php echo $avgResponse. __('-mins response time') ?>
        </span>
    </div>
    <div class="ask-que">
        <div id="wk-mp-ask-data" style="display:none">
            <?php
            if ($helper->isCustomerLoggedIn()) {
                $customerData = $_helper->getCustomerData($_helper->getCustomerId());
                $buyerName = $customerData->getName();
                $buyerEmail = $customerData->getEmail();
                $readonly = "readonly='readonly'";
            } else {
                $buyerEmail = '';
                $buyerName = '';
                $readonly = '';
            }
            ?>
            <form id="ask-form" method="post" action="#" class="fieldset" data-mage-init='{"validation":{}}' enctype="multipart/form-data">
                <div class="form-list field required">
                    <label class="label"><?php echo __('Support Type') ?> :</label>
                    <select name="support_type" class="validate-select required-entry">
                        <?php foreach ($_helper->getSupportTypes() as $key => $value) { ?>
                            <option value=<?php echo $key; ?>><?php echo $value; ?></option>
                        <?php }  ?>
                    </select>
                    <label class="label"><?php echo __('Your Name') ?> :</label>
                    <input type="text" name="name" class="queryemail wk-contact_input_fields validate-no-html-tags required-entry" value="<?php echo $buyerName?>" <?php echo $readonly?>/>
                    <label class="label"><?php echo __('Your Email') ?> :</label>
                    <input type="email" name="email" class="queryemail required-entry validate-email validate-no-html-tags wk-contact_input_fields" value="<?php echo $buyerEmail?>" <?php echo $readonly?>/>
                    <label class="label"><?php echo __('Subject') ?> :</label>
                    <input type="text" name="subject" class="wk-contact_input_fields validate-no-html-tags required-entry"/>
                    <label class="label"><?php echo __('Your Query') ?> :</label>
                    <textarea  name="ask" id="queryquestion" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
                    <input type="hidden" name="seller-id" value="<?php echo $sellerId;?>"/>
                    <?php 
                    if($captchenable){?>
                        <div>
                            <span>
                                <label for="wk-mp-captcha"><span id="wk-mp-captchalable1"><?php echo rand(1,20)?></span> + <span id="wk-mp-captchalable2"><?php echo rand(1,20)?></span> =</label>
                            </span>
                            <input type="text" class="required-entry wk-contact_input_fields" name="wk-mp-captcha" id="wk-mp-captcha" />
                        </div>
                    <?php
                    }?>
                    <label class="file" class=""><?php echo __('Add Image/File') ?> :</label>
                    <div class="input-box">
						<div class="image-con">
							<input type="file" name="img_attachment[]" class="wk_imagevalidate"/>
							<a href="javascript:void(0)" class="remove_attch" style="display:none">
								<?php echo __('Remove'); ?>
							</a>
						</div>
						<div id="otherimages" class="image-con"></div>
						<a href="javascript:void(0)" class="product_images"><?php echo __("Add More"); ?></a><br />
					</div>
                </div>
            </form>        
        </div>
    </div> 
</div>
<script id="attachment-template" type="text/x-magento-template">
	<div id='childDiv<%- fields.index %>' class="image-con">
		<input type='file' name='img_attachment[]' class='wk_imagevalidate'/>
		<a href='#' class='remove_attch'><?php echo __('Remove'); ?></a>
	</div>
</script>

<?php
	$releventFormData = [
		'targetAjaxUrl' => $block->getUrl("mpsellerbuyercommunication/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]),
		'captchenable'  => $captchenable,
		'varificationMsg' => __(' enable to varifiy captcha'),
		'formValidator' => '#ask-form',
		'attachmentTemplate' => '#attachment-template',
        'saveAjaxFileUrl' => $block->getUrl("mpsellerbuyercommunication/seller/saveFiles", ["_secure" => $this->getRequest()->isSecure()]),
        'responseRate' => $respnseRate,
		'averageResponse' => $avgResponse
	];

$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "wkSellerProfilePage": <?php echo $serializedData; ?>
        }
    }
</script>
