<div class="page-title">
    <h1 class="quote-title"><?= /*@noEscape*/ __('Paso %1 de %2 - %3', 2, 3, __('Select the providers that will pass the economic evaluation')) ?></h1>
    <p class="description-title"><?= __('Select the sellers that will pass the economic evaluation, according to the technical evaluation carried out in the current step.') ?></p>
</div>