<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Info */ ?>

<?php 
$_order = $block->getOrder();
$ocId = $_order->getOrdenDeCompra();
$ocUrl = $_order->getUrlOrdenDeCompra();
?>
<div class="negotiable-quote-order-information oc-link">
    <strong>ID Orden de Compra:</strong> 
    <?php if($ocId != '' && $ocUrl != ''): ?>
        <a href="<?= $ocUrl ?>" target="_blank" alt="Ver Orden de Compra #<?= $ocId ?>"><?= $ocId ?></a>
    <?php else: echo '-'; endif; ?>
</div>