<?php
$actionLog      = $block->getActionLog();
$dataSerialize  = $block->getDataUnserialize();
$after          = (isset($dataSerialize['after']))?$dataSerialize['after']:'';
$request        = (isset($dataSerialize['request']))?$dataSerialize['request']:'';
$result         = (isset($dataSerialize['response']))?$dataSerialize['response']:'';
$status         = (isset($dataSerialize['status']))?$dataSerialize['status']:'';
$idCotizacion   = (isset($dataSerialize['id_cotizacion']))?$dataSerialize['id_cotizacion']:'';

?>
<div class="entry-edit form-inline">
    <section class="admin__page-section">
        <div class="admin__page-section-title">
            <span class="title"><?= $block->escapeHtml(__('Información Basica')) ?></span>
        </div>
        <div id="log_details_fieldset" class="field log-details">
            <table class="admin__table-secondary">
                <colgroup>
                    <col width="25%" />
                    <col />
                </colgroup>
                <tbody>
                <tr>
                    <th><?= $block->escapeHtml(__('Id del log')) ?></th>
                    <td><?php echo $block->getLogId(); ?></td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Evento')) ?></th>
                    <td><?php echo $actionLog->getActionName(); ?></td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Nombre de Usuario')) ?></th>
                    <td>
                        <?php 
                        if(empty($actionLog->getNameUser())){
                            echo 'N/A';
                        }else{
                            echo $actionLog->getNameUser();
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Nombre de Perfil')) ?></th>
                    <td><?php echo $actionLog->getProfileName(); ?></td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Dirección Ip')) ?></th>
                    <td><?php echo $actionLog->getIp(); ?></td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Tienda')) ?></th>
                    <td>
                        <?php 
                        if(empty($actionLog->getStoreView())){
                            echo 'N/A';
                        }else{
                            echo $actionLog->getStoreView();
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <th><?= $block->escapeHtml(__('Acción')) ?></th>
                    <td>
                        <?php 
                        if(empty($dataSerialize['action'])){
                            echo 'N/A';
                        }else{
                            echo $dataSerialize['action'];
                        }
                        ?>
                    </td>
                </tr>
                <?php
                if(!empty($status)){
                    ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Estado')) ?></th>
                        <td>
                            <?php 
                            if(empty($status)){
                                echo 'N/A';
                            }else{
                                echo $status;
                            }
                            ?>
                        </td>
                    </tr>
                    <?php
                }
                if(!empty($idCotizacion)){
                    ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Id Cotización')) ?></th>
                        <td>
                            <?php 
                            if(empty($idCotizacion)){
                                echo 'N/A';
                            }else{
                                echo $idCotizacion;
                            }
                            ?>
                        </td>
                    </tr>
                    <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </section>
    <?php
    if(!empty($after)){
    ?>
        <section class="admin__page-section">
            <div class="admin__page-section-title">
                <span class="title"><?= $block->escapeHtml(__('Related Changes')) ?></span>
            </div>

            <div class="field log-details-grid">
                <table class="data-grid" id="loggingDetailsGrid_table">
                    <thead>
                        <tr>
                            <th class="data-grid-th  no-link col-source_name">
                                <span>Source Data</span>
                            </th>
                            <th class="data-grid-th  no-link col-original_data">
                                <span>Value Before Change</span>
                            </th>
                            <th class="data-grid-th  no-link col-result_data">
                                <span>Value After Change</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr title="#" class="even _clickable on-mouse">
                            <td class=" col-source_name">
                                <div class="source-data">
                                    <span class="source-name">general_settings</span>
                                </div>
                            </td>
                            <td class=" col-original_data">
                                N/A
                            </td>                            
                            <td class=" col-result_data">
                                <dl class="list-parameters">
                                    <dt class="parameter">tax_rule1</dt>
                                    <dd class="value">SINVALOR</dd>
                                    <dt class="parameter">tax_rule1_text</dt>
                                    <dd class="value">SINVALOR</dd>
                                    <dt class="parameter">default_tax_rule</dt>
                                    <dd class="value">SINVALOR</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </section>
    <?php
    }
    ?>
    <?php
    if(!empty($request)){
    ?>
        <section class="admin__page-section">
            <div class="admin__page-section-title">
                <span class="title"><?= $block->escapeHtml(__('Consumo Servicio')) ?></span>
            </div>

            <div class="field log-details-grid">
                <table class="data-grid" id="loggingDetailsGrid_table">
                    <thead>
                        <tr>
                            <th class="data-grid-th  no-link col-source_name">
                                <span>Request</span>
                            </th>
                            <th class="data-grid-th  no-link col-original_data">
                                <span>Result</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr title="#" class="even _clickable on-mouse">
                            <td class=" col-original_data">
                                <dl class="list-parameters">
                                    <?php
                                        echo $block->serializeDataHtml($request);
                                    ?>
                                </dl>
                            </td>
                            <td class=" col-result_data">
                                <dl class="list-parameters">
                                    <?php
                                        echo $block->serializeDataHtml($result);
                                    ?>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </section>
    <?php
    }
    ?>
</div>
