<form action="<?php echo $block->getUrlData(); ?>" method="GET">
    <div class="admin__field field field-show_order_statuses  with-note">
        <input type="submit" value= "<?php echo __('Export To CSV') ?>" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    </div>
</form>
