<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMultiShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$items = $block->getItems();
$productWiseShippingArray = [];
$itemQuantityArray = [];
$multishippingBlock =  $this->getLayout()->createBlock('\Webkul\MpMultiShipping\Block\ManageMultiShipping');
?>
<?php if ($multishippingBlock->enabledProductWiseShipping()) : ?>
    <?php
    foreach ($items as $item) {
        $labelAvailable = $multishippingBlock->checkLabelAvailableOnItem($item);
        $order = $item->getOrder();
        if ($item->getShippingPrice() && !(int)$item->getQtyShipped() && $labelAvailable) {
            array_push($productWiseShippingArray, 1);
        } else {
            array_push($productWiseShippingArray, 0);
        }
        $itemQuantityArray
            [$item->getId()] = [
                    "qty" => (int)$item->getQtyOrdered(),
                    "customs_value" => $item->getPrice(),
                    "price" => $item->getPrice(),
                    "name" => $item->getName(),
                    "weight" => $item->getWeight(),
                    "product_id" => $item->getProductId(),
                    "order_item_id" => $item->getId(),
                    "item_shipping_method" => $multishippingBlock->getShippingMethodFromSubMethod($item->getShippingMethod())

                ];
    }
        $data = [
            "productWiseShippingArray" => json_encode($productWiseShippingArray)
        ];
        ?>
    <div id="popup-modal" style = "display:none">
        <?php echo $block->getChildHtml('packages_generation_form');?>
    </div>
    <script>
        window.productWiseShippingArray = [];
        window.itemQuantityArray = [];
        window.getMultiShipDataLink;
        window.productWiseShippingArray = <?php /* @noEscape */ echo json_encode($productWiseShippingArray); ?>;
        window.itemQuantityArray = <?php /* @noEscape */ echo json_encode($itemQuantityArray); ?>;
        window.getMultiShipDataLink = "<?php /* @noEscape */ echo $block->getUrl('multiship/labels/getdata'); ?>";
    </script>
    <script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpMultiShipping/js/perproductshipping": <?php /* @noEscape */ echo json_encode($productWiseShippingArray);?>
            }
        }
    </script>
<?php endif; ?>