<?php
$sellerId = $block->getSellerId();
$regions = $block->getRegions($sellerId);
$formData = $block->getNewRegionalConditionFormData();
?>
<div class="container">
    <form
        id="form-regional-condition"
        method="post" class="form"
        action="<?= $block->getPostUrl() ?>"
        data-mage-init='{"validation":{}, "customValidation":{}}'
    >
        <input type="hidden" name="seller_id" id="seller_id" value="<?= $sellerId ?>"/>
        <input type="hidden" name="dccp_seller_id" id="dccp_seller_id" value="<?= $block->getDccpSellerId() ?>"/>
        <div class="content-to-clone accordeon-box">
            <div class="container-regional-condition-form">
                <div class="container-regional-condition-fields">
                    <!-- Start Rows -->
                    <div class="regional-rows-box">
                        <div class="regional-rows first-row">
                            <div class="field required">
                                <label class="label" for="region_name"><span><?= __('Region') ?></span></label>
                                <div class="control">
                                    <select name="region_id" class="region_id select required">
                                        <option value=""><?= $block->escapeHtml(__('Select Region')) ?></option>
                                        <?php
                                        foreach ($regions as $value) { ?>
                                            <option
                                                value="<?= $value['region_id'] ?>" <?php if (!empty($formData) && $formData['region_id'] == $value['region_id']) {
                                                echo "selected";
                                            } ?>><?= $value['name'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label" for="contact_name"><span><?= __('Contact Name') ?></span></label>
                                <div class="control">
                                    <input type="text" name="contact_name" id="contact_name"
                                           class="contact-name text validate-letter-latin-whitespace required"
                                           maxlenght="255" title="<?= $block->escapeHtml(__('Contact Name')) ?>"/>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label" for="contact_phone"><span><?= __('Contact Phone') ?></span></label>
                                <div class="control">
                                    <input type="text" name="contact_phone" id="contact_phone"
                                           class="contact-phone text phoneCL required" maxlenght="15"
                                           title="<?= $block->escapeHtml(__('Contact Phone')) ?>"/>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label" for="contact_email"><span><?= __('Contact Email') ?></span></label>
                                <div class="control">
                                    <input type="text" name="contact_email" id="contact_email"
                                           class="contact-email text required email" maxlenght="150"
                                           title="<?= $block->escapeHtml(__('Contact Email')) ?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="regional-rows second-row">
                            <div class="field required">
                                <label class="label"
                                       for="maximum_delivery"><span><?= __('Maximum Delivery Time Store Pickup') ?></span></label>
                                <div class="control">
                                    <input type="text" name="maximum_delivery" id="maximum_delivery"
                                           class="maximum-delivery text number-unlimited format-number required"
                                           maxlenght="5" min="1" max="30"
                                           title="<?= $block->escapeHtml(__('Maximum Delivery Time Store Pickup')) ?>"/>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label"
                                       for="enable_storepickup"><span><?= __('Storepickup') ?></span></label>
                                <div class="control">
                                    <select name="enable_storepickup" id="enable_storepickup"
                                            class="enable-storepickup select required">
                                        <option value="0"><span><?= __('No'); ?></span></option>
                                        <option value="1"><span><?= __('Yes'); ?></span></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label"
                                       for="days_storepickup"
                                       style="display:none;"><span><?= __('Delivery Time Store Pickup') ?></span></label>
                                <div class="control">
                                    <input type="number" name="days_storepickup" id="days_storepickup"
                                           class="days-storepickup text validate-digits format-number required"
                                           min="1" max="30"
                                           title="<?= $block->escapeHtml(__('Delivery Time Store Pickup')) ?>"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label"
                                       for="shop_address_takeout"
                                       style="display:none;"><span><?= __('Shop Address Takeout') ?></span></label>
                                <div class="control">
                                    <input type="text" name="shop_address_takeout" id="shop_address_takeout"
                                           class="contact-address text required address" maxlenght="150"
                                           title="<?= $block->escapeHtml(__('Shop Address Takeout')) ?>"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Rows -->
                </div>
            </div>
        </div>
        <?php $block->unsetNewRegionalConditionFormData(); ?>
        <div class="container form-actions">
            <button type="submit" class="submit action primary">
                <span><?= __('Save') ?></span>
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function (e) {
            $(document).on('click', '#enable_storepickup', function () {
                let elemDaysStorepickup = $("#days_storepickup");
                let labelDaysStorepickup = $("[for=days_storepickup");
                let elemShopAddressTakeout = $('#shop_address_takeout');
                let labelShopAddressTakeout = $("[for=shop_address_takeout");

                if ($(this).find(":selected").val() == 1) {
                    elemDaysStorepickup.show();
                    labelDaysStorepickup.show();
                    elemShopAddressTakeout.show();
                    labelShopAddressTakeout.show();
                } else {
                    elemDaysStorepickup.hide();
                    labelDaysStorepickup.hide();
                    elemShopAddressTakeout.hide();
                    labelShopAddressTakeout.hide();
                }
            });
        });
    });
</script>
