<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($block->getSearchResults() && $block->getSearchResults()->getSize()): ?>
<div class="block block-giftregistry-results">
    <div class="block-title"><strong><?= /* @escapeNotVerified */ __('Search Results') ?></strong></div>
    <div class="block-content">
        <div class="table-wrapper">
            <table class="data table" id="giftregistry-search-results">
                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Search Results') ?></caption>
                <thead>
                <tr>
                    <th class="col name" scope="col"><?= /* @escapeNotVerified */ __('Name') ?></th>
                    <th class="col location" scope="col"><?= /* @escapeNotVerified */ __('Location') ?></th>
                    <th class="col event" scope="col"><?= /* @escapeNotVerified */ __('Event') ?></th>
                    <th class="col type" scope="col"><?= /* @escapeNotVerified */ __('Type') ?></th>
                    <th class="col date" scope="col"><?= /* @escapeNotVerified */ __('Event Date') ?></th>
                    <th class="col actions" scope="col"><?= /* @escapeNotVerified */ __('Actions') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($block->getSearchResults() as $item): ?>
                    <tr>
                        <td class="col name" data-th="<?= $block->escapeHtml(__('Name')) ?>"><?= $block->escapeHtml($item->getRegistrant()) ?></td>
                        <td class="col location" data-th="<?= $block->escapeHtml(__('Location')) ?>"><?= $block->escapeHtml($item->getEventLocation()) ?></td>
                        <td class="col event" data-th="<?= $block->escapeHtml(__('Event')) ?>"><?= $block->escapeHtml($item->getTitle()) ?></td>
                        <td class="col type" data-th="<?= $block->escapeHtml(__('Type')) ?>"><?= $block->escapeHtml($item->getType()) ?></td>
                        <td class="col date" data-th="<?= $block->escapeHtml(__('Event Date')) ?>"><?= /* @escapeNotVerified */ $block->getFormattedDate($item) ?></td>
                        <td class="col actions" data-th="<?= $block->escapeHtml(__('Actions')) ?>"><a href="<?= /* @escapeNotVerified */ $block->getRegistryLink($item) ?>" title="<?= /* @escapeNotVerified */ __('View') ?>"><?= /* @escapeNotVerified */ __('View') ?></a></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php if ($block->getChildHtml('pager')): ?>
        <div class="toolbar toolbar-giftregistry-results bottom"><?= $block->getChildHtml('pager') ?></div>
        <?php endif; ?>
    </div>
</div>
<?php else: ?>
    <div class="message error"><div><?= /* @escapeNotVerified */ __('No results were found associated with your search.') ?></div></div>
<?php endif; ?>
