<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMultiShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
    $helper = $this->helper('Webkul\MpMultiShipping\Helper\Data');
    $shippingdata = $helper->getActiveCarriers();
    $allowedshipping = $block->getAllowedShipping();
?>
<?php if ($helper->getConfigData('active')) : ?>
    <form class="form" action="<?php /* @escapeNotVerified */ echo $block->getUrl('multiship/shipping', ['_secure' => $this->getRequest()->isSecure()]) ?>" method="post" id="form-validate" data-mage-init='{"validation":{}}' enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
        <div class="wk-mp-page-title page-title">
            <h2><?php echo __('Allowed Shipping') ?></h2>
            <button class="button wk-mp-btn" title="<?php echo __('Save') ?>" type="submit" id="save-btn">
                <span><span><?php echo __('Save') ?></span></span>
            </button>
        </div>
        <fieldset class="fieldset info">
            <?php echo $block->getBlockHtml('formkey')?>
            <div class="field">
            <?php foreach ($shippingdata as $shipinfo) : ?>
                <div class="control">
                    <input type="checkbox" name="shippingmethod[]" <?php echo in_array($shipinfo['value'], $allowedshipping)? "checked='checked'":"";?> value="<?php echo $shipinfo['value'];?>" />
                    <label class="label"><span><?php echo $shipinfo['label'];?></span></label>
                </div>
            <?php endforeach; ?>
            </div>
        </fieldset>
    </form>
<?php endif; ?>
