<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name --><!-- /ko -->
                <!-- /ko -->
                <span class="minicart-sku">
                  ID <!-- ko text: product_sku --><!-- /ko -->
                </span>
            </strong>

            <div class="product-item-pricing">

                <!-- ko if: canApplyMsrp -->
                <div class="cc-minicart-details details-map">
                    <span class="label" data-bind="i18n: 'Precio'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <div class="cc-minicart-details details-price">
                  <label class="label" data-bind="i18n: 'Precio'"></label>
                  <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                      <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                  <!-- /ko -->
                </div>
                <!-- /ko -->

                <div class="cc-minicart-additional">
                  <div class="product actions">
                      <div class="secondary">
                          <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                             class="action delete">
                              <span data-bind="i18n: 'Remove'"></span>
                          </a>
                      </div>
                  </div>
                </div>
                
            </div>



        </div>

    </div>
</li>
