<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\ReviewRenderer $block */
?>
<?php if ($block->isReviewEnabled()): ?>
    <?php
    $url = $block->getReviewsUrl() . '#reviews';
    $urlForm = $block->getReviewsUrl() . '#review-form';
    ?>

    <?php $rating = $block->getRatingSummary(); ?>
    <?php $rNumber = $rating ? $rating : 0; ?>
    <div class="product-reviews-summary short<?= !$rating ? ' no-rating' : '' ?>">
        <div class="rating-summary">
            <span class="label"><span><?= $block->escapeHtml(__('Rating')) ?>:</span></span>
            <div class="rating-result" title="<?= $block->escapeHtmlAttr($rNumber) ?>%">
                <span style="width:<?= $block->escapeHtmlAttr($rNumber) ?>%"><span><?= $block->escapeHtml($rNumber) ?>%</span></span>
            </div>
        </div>
    </div>
<?php endif; ?>