<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper = $block->getHelperObj();
$filter = '';
$filterStatus = "99999";
$filterDateFrom = '';
$filterDateTo = '';

$request = $block->getRequestObj();

if ($quoteKeyword = $request->getParam('s')) {
    $filter = $quoteKeyword != "" ? $quoteKeyword : "";
}
if ($request->getParam('status')!='') {
    $quoteStatus = $request->getParam('status');
    $filterStatus = $quoteStatus != "" ? $quoteStatus : "";
}
if ($quoteFromDate = $request->getParam('from_date')) {
    $filterDateFrom = $quoteFromDate != "" ? $quoteFromDate : "";
}
if ($quoteToDate = $request->getParam('to_date')) {
    $filterDateTo = $quoteToDate != "" ? $quoteToDate : "";
}
?>
<?php $quotes = $block->getRequestedQuote(); ?>
<div class="wk_mp_design">
    <form action="" method="get">
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
                <tr id="wk_mp_tr_heading">
                    <th><span><?= /*@noEscape*/ __('Subject') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Date') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Status') ?></span></th>
                    <th><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody class="wk_mp_body" style="background-image: url(<?= $block->escapeUrl($block->getViewFileUrl("Webkul_Requestforquote::images/filter_row_bg.gif")) ?>);background-repeat: repeat-x;border-collapse: collapse;">
                <tr>
                    <td>
                        <input type="text" class="input-text" name="s" placeholder='<?= /*@noEscape*/ __('Search by subject') ?>' value="<?= $block->escapeHtml($filter)?>"/>
                    </td>
                    <td>
                        <span class="wk_mp_td_span">
                            <?php __('From: ') ?>
                            <input name="from_date" id="special_from_date" class="input-text" value="<?= $block->escapeHtml($filterDateFrom)?>" />
                        </span>
                        <span class="wk_mp_td_span">
                            <?= /*@noEscape*/ __('To: ') ?>
                            <input name="to_date" id="special_to_date" class="input-text" value="<?= $block->escapeHtml($filterDateTo)?>" />
                        </span>
                    </td>
                    <td>
                        <select name="status" class="input-text">
                            <option value="" <?php if ($filterStatus == "99999") { echo 'selected="selected"'; }?>><?= /*@noEscape*/ __('All') ?></option>
                            <option value="2" <?php if ($filterStatus == 2) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Completed') ?>
                            </option>
                            <option value="1" <?php if ($filterStatus == 1) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Sent to Seller') ?>
                            </option>
                            <option value="0" <?php if ($filterStatus == 0) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Pending') ?>
                            </option>
                        </select>
                    </td>
                    <td style="border-left: 1px solid #ccc;border-bottom: 1px solid #ccc">
                        <button class="button" title="Save" type="submit">
                            <span><span><span><?= /*@noEscape*/ __('Submit') ?></span></span></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <?php if ($quotes->getSize()) : ?>
        <div class="table-wrapper">
            <table class="data-table table" id="wk_mp_requestedquote_table">
                <col width="1" />
                <col width="1" />
                <col />
                <col width="1" />
                <thead>
                    <tr>
                        <th scope="col" class="col quote" style = "border-left: 1px solid #ccc;padding: 15px;border-bottom: 1px solid #ccc;text-align:center;white-space: nowrap;background: #f4f4f4;"><span><?= /*@noEscape*/ __('Subject of Requested Quote') ?></span></th>
                        <th scope="col" class="col qty" style = "border-left: 1px solid #ccc;padding: 15px;border-bottom: 1px solid #ccc;text-align:center;white-space: nowrap;background: #f4f4f4;"><span><?= /*@noEscape*/ __('Bulk Requested Qty') ?></span></th>
                        <th scope="col" class="col status" style = "border-left: 1px solid #ccc;padding: 15px;border-bottom: 1px solid #ccc;text-align:center;white-space: nowrap;background: #f4f4f4;"><span><?= /*@noEscape*/ __('Status') ?></span></th>
                        <th scope="col" class="col creationDate" style = "border-left: 1px solid #ccc;padding: 15px;border-bottom: 1px solid #ccc;text-align:center;white-space: nowrap;background: #f4f4f4;"><span><?= /*@noEscape*/ __('Created At') ?></span></th>
                        <th scope="col" class="col action" style = "border-left: 1px solid #ccc;padding: 15px;border-bottom: 1px solid #ccc;text-align:center;white-space: nowrap;background: #f4f4f4;"><span><?= /*@noEscape*/ __('Action') ?></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php $_odd = ''; ?>
                    <?php  foreach ($quotes as $quote) : ?>
                        <tr>
                            <td data-th="Subject of Requested Quote" class="col quote" style = "border-left: 1px solid #ccc;padding: 5px;border-bottom: 1px solid #ccc;text-align:center;">
                                <?= $block->escapeHtml($quote->getSubject()) ?>
                            </td>
                            <td data-th="Bulk Requested Qty" class="col qty" style = "border-left: 1px solid #ccc;padding: 5px;border-bottom: 1px solid #ccc;text-align:center;">
                                <?= $block->escapeHtml($quote->getBulkOrderQty()) ?>
                            </td>
                            <td data-th="Status" class="col status" style = "border-left: 1px solid #ccc;padding: 5px;border-bottom: 1px solid #ccc;text-align:center;">
                                <?php if ($quote->getStatus() == 1) {
                                    /*@noEscape*/ echo __('Sent to Seller');
                                } elseif ($quote->getStatus() == 2) {
                                    /*@noEscape*/ echo __('Completed');
                                } else {
                                    /*@noEscape*/ echo __('Pending');
                                } ?>
                            </td>
                            <td data-th="Created At" class="col creationDate" style = "border-left: 1px solid #ccc;padding: 5px;border-bottom: 1px solid #ccc;text-align:center;">
                                <span class="nobr"><?= $block->escapeHtml($quote->getCreatedAt()) ?></span>
                            </td>
                            <td data-th="Action" class="col action" style ="border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;text-align:center;">
                                <span class="nobr label wk_action">
                                    <a href="<?= $block->escapeUrl($block->getUrl("requestforquote/account/view/"));
                                    echo "id/".$quote->getId();?>" title="<?= /*@noEscape*/ __('View Quote Details')?>" class="action view">
                                        <span><?= /*@noEscape*/ __('View')?></span>
                                    </a>
                                    <a href="<?= $block->escapeUrl($block->getUrl("requestforquote/account/quotelist/"));
                                    echo "id/".$quote->getId();?>" title="<?= /*@noEscape*/ __('View Quote Details Sent by Seller')?>">
                                        <span style="margin-left: 1%;border-left: 1px solid #a6a6a6;padding: 4px;"><?= /*@noEscape*/ __('Quote By Seller')?></span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else : ?>
        <p><?= /*@noEscape*/ __('No Record found.'); ?></p>
    <?php endif ?>
    <div class="toolbar bottom">
        <div class="pager">
            <p class="toolbar-amount">
                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
            </p>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        "mage/calendar"
    ], function ($) {
        $( "#special_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#special_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
    });
</script>
