<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper= $block->getHelperObj();
$imageHelper = $block->getCatalogImgHelper();
$quoteId = $block->getRequest()->getParam('id');
$sellerQuote = $block->getQuoteInfoByQuoteId($quoteId);
$quote = $block->getQuoteById($quoteId);
if ($quote['product_id']) {
    $product = $block->getProductDetails($quote['product_id']);
    if (isset($product['name'])) {
        $mediaGalleryImages = $product->getMediaGalleryImages();
        $productImage = $product->getImage();
    } else {
        $mediaGalleryImages = [];
        $productImage = '';
    }
} else {
    $mediaGalleryImages = [];
    $productImage = '';
}
$qty =  $quote['bulk_order_qty'];
$subject =  $quote['subject'];
$description =  $quote['description'];
$attributeDescription =  $quote['attribute_description'];
$sampleImages =  [];
if ($quote['sample_images']) {
    $sampleImages =  explode(',', $quote['sample_images']);
}
?>
<div class="wk_mp_design">
    <div class="page-title">
        (<a href="<?= $block->escapeUrl($block->getViewQuoteBySellerUrl($quoteId)) ?>" title="<?= /*@noEscape*/ __("Sent to %1 sellers, click here for more details.", count($sellerQuote)) ?>"><?= /*@noEscape*/ __("Sent to %1 sellers", count($sellerQuote)) ?></a>)
    </div>
    <div class="wk_mp_rfq_communication_box">
        <div>
            <strong><?= /*@noEscape*/ __("Created At: ") ?></strong><?= $block->escapeHtml($quote['created_at']) ?>
        </div></br>
        <div>
            <strong><?= /*@noEscape*/ __("Requested Product: ") ?></strong><?= $block->escapeHtml($subject)?>
        </div></br>
        <div>
            <strong><?= /*@noEscape*/ __("Requested Bulk Quantity: ") ?></strong><?= $block->escapeHtml($qty) ?>
        </div></br>
        <div class="wk_mp_rfq_textarea_container" style="word-break:break-word;">
            <strong>
                <?= /*@noEscape*/ __("Description: ") ?>
            </strong>
            <?= html_entity_decode($description) ?>
        </div></br>
        <?php if (!($attributeDescription == null || $attributeDescription == "")) { ?>
            <div class="wk_mp_rfq_textarea_container"><h2><?= /*@noEscape*/ __("Quote Details: ") ?></h2><?= /*@noEscape*/ $attributeDescription ?></div>
        <?php } ?>
        <?php if (count($mediaGalleryImages) || $productImage || count($sampleImages)) { ?>
            <div class="wk_mp_rfq_image_wrapper">
                <div><strong><?= /*@noEscape*/ __("Sample Images: ") ?></strong></div>
                <?php
                $i = 0;
                if (count($mediaGalleryImages)) {
                    foreach ($mediaGalleryImages as $image) {
                        ?>
                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                            <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($image->getFile())->resize(200, 130)->getUrl()); ?>">
                        </div>
                        <?php
                        $i++;
                    }
                } elseif ($productImage) {
                    ?>
                    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                        <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($productImage)->resize(200, 130)->getUrl()); ?>">
                    </div>
                    <?php
                    $i++;
                }
                if (count($sampleImages)) {
                    foreach ($sampleImages as $sampleImage) {
                        $ext = pathinfo($sampleImage, PATHINFO_EXTENSION);
                        if (strpos($ext, 'pdf') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'doc') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                </a>
                            </div>
                            <?php
                        } else {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" width="200" height="130" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>">
                                </a>
                            </div>
                            <?php
                        }
                        $i++;
                    }
                } ?>
            </div>
        <?php } ?>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($wk_jq) {
        $wk_jq(document).ready(function(){
            $wk_jq('.wk_req_admin_defined_attribute_span_text').css('display','block');
            $wk_jq('.wk_req_admin_defined_attribute_input').css('display','none');
        });
    });
</script>
