<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

use Formax\QuotesSupplier\Helper\Data as QuotesSupplierHelper;

?>
<?php
$helper = $block->getHelperObj();
$filter = '';
$filterStatus = "99999";
$filterDateFrom = '';
$filterDateTo = '';
$filterPurchaseUnit = "9999";

$helperOffer = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$helperConfigCmSoftware = $this->helper('Formax\ConfigCmSoftware\Helper\Data');
$currentWebsite = $helperOffer->getWebsite() == "convenio_software" ? "software" : $helperOffer->getWebsite();
$isSoftwareRenewal = \Linets\SoftwareRenewalSetup\Model\SoftwareRenewalConstants::WEBSITE_CODE ==
$helperOffer->getWebsite();

$request = $block->getRequestObj();
$purchaseUnitList = $block->getPurchaseUnitList();

if ($quoteKeyword = $request->getParam('s')) {
    $filter = $quoteKeyword != "" ? $quoteKeyword : "";
}
if ($pidKeyword = $request->getParam('pid')) {
    $filterPid = $pidKeyword != "" ? $pidKeyword : "";
} else {
    $filterPid = "";
}
if ($pnameKeyword = $request->getParam('pname')) {
    $filterPname = $pnameKeyword != "" ? $pnameKeyword : "";
} else {
    $filterPname = "";
}
if ($stypeKeyword = $request->getParam('service_type')) {
    $filterServiceType = $stypeKeyword != "" ? $stypeKeyword : "";
} else {
    $filterServiceType = "";
}
if ($request->getParam('status')!='') {
    $quoteStatus = $request->getParam('status');
    $filterStatus = $quoteStatus != "" ? $quoteStatus : "";
}

if ($quotePstartFromDate = $request->getParam('pstart_from_date')) {
    $filterPstartDateFrom = $quotePstartFromDate != "" ? $quotePstartFromDate : "";
} else {
    $filterPstartDateFrom = "";
}
if ($quotePstartToDate = $request->getParam('pstart_to_date')) {
    $filterPstartDateTo = $quotePstartToDate != "" ? $quotePstartToDate : "";
} else {
    $filterPstartDateTo = "";
}
if ($quotePendFromDate = $request->getParam('pend_from_date')) {
    $filterPendDateFrom = $quotePendFromDate != "" ? $quotePendFromDate : "";
} else {
    $filterPendDateFrom = "";
}
if ($quotePendToDate = $request->getParam('pend_to_date')) {
    $filterPendDateTo = $quotePendToDate != "" ? $quotePendToDate : "";
} else {
    $filterPendDateTo = "";
}
if ($quoteEstartFromDate = $request->getParam('estart_from_date')) {
    $filterEstartDateFrom = $quoteEstartFromDate != "" ? $quoteEstartFromDate : "";
} else {
    $filterEstartDateFrom = "";
}
if ($quoteEstartToDate = $request->getParam('estart_to_date')) {
    $filterEstartDateTo = $quoteEstartToDate != "" ? $quoteEstartToDate : "";
} else {
    $filterEstartDateTo = "";
}
if ($quoteEendFromDate = $request->getParam('eend_from_date')) {
    $filterEendDateFrom = $quoteEendFromDate != "" ? $quoteEendFromDate : "";
} else {
    $filterEendDateFrom = "";
}
if ($quoteEendToDate = $request->getParam('eend_to_date')) {
    $filterEendDateTo = $quoteEendToDate != "" ? $quoteEendToDate : "";
} else {
    $filterEendDateTo = "";
}
if ($quoteAwardFromDate = $request->getParam('award_from_date')) {
    $filterAwardDateFrom = $quoteAwardFromDate != "" ? $quoteAwardFromDate : "";
} else {
    $filterAwardDateFrom = "";
}
if ($quoteAwardToDate = $request->getParam('award_to_date')) {
    $filterAwardDateTo = $quoteAwardToDate != "" ? $quoteAwardToDate : "";
} else {
    $filterAwardDateTo = "";
}
if ($quoteAmountFrom = $request->getParam('amount_from')) {
    $filterAmountFrom = $quoteAmountFrom != "" ? $quoteAmountFrom : "";
} else {
    $filterAmountFrom = "";
}
if ($quoteAmountTo = $request->getParam('amount_to')) {
    $filterAmountTo = $quoteAmountTo != "" ? $quoteAmountTo : "";
} else {
    $filterAmountTo = "";
}
if ($request->getParam('purchase_unit')!='') {
    $quotePurchaseUnit = $request->getParam('purchase_unit');
    $filterPurchaseUnit = $quotePurchaseUnit != "" ? $quotePurchaseUnit : "";
}
?>
<?php $quotes = $block->getRequestedQuote(); ?>
<div class="wk_mp_design">
    <form action="" method="get">
      <div class="content-wk_mp_quote_table">
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
                <tr id="wk_mp_tr_heading">
                    <th><span><?= /*@noEscape*/ __('ID/Name Quote') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Product Id') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Status') ?></span></th>
                    <th><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody class="wk_mp_body">
                <tr>
                    <td class="quote-name">
                        <input type="text" class="input-text" name="s" placeholder='<?= /*@noEscape*/ __('What are you looking for?') ?>' value="<?= $block->escapeHtml($filter)?>"/>
                    </td>
                    <td>
                        <input type="number" step="1" class="input-text" name="pid" placeholder='' value="<?= $block->escapeHtml($filterPid)?>"/>
                    </td>
                    <td>
                        <select name="status" class="input-text">
                            <option value="" <?php if ($filterStatus == "99999") { echo 'selected="selected"'; }?>><?= /*@noEscape*/ __('Select...') ?></option>
                            <option value="1" <?php if ($filterStatus == QuotesSupplierHelper::PUBLISHED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Published') ?>
                            </option>
                            <option value="7" <?php if ($filterStatus == QuotesSupplierHelper::PUBLICATION_CLOSED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Publication Closed') ?>
                            </option>
                            <option value="3" <?php if ($filterStatus == QuotesSupplierHelper::EVALUATION) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('In Evaluation') ?>
                            </option>
                            <option value="8" <?php if ($filterStatus == QuotesSupplierHelper::EVALUATION_CLOSED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Evaluation Closed') ?>
                            </option>
                            <option value="4" <?php if ($filterStatus == QuotesSupplierHelper::AWARDED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Provider Selected') ?>
                            </option>
                            <option value="2" <?php if ($filterStatus == QuotesSupplierHelper::FINISHED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Finished') ?>
                            </option>
                            <option value="5" <?php if ($filterStatus == QuotesSupplierHelper::DESERT) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Desert') ?>
                            </option>
                            <option value="6" <?php if ($filterStatus == QuotesSupplierHelper::DRAFT) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Saved') ?>
                            </option>
                            <option value="9" <?php if ($filterStatus == QuotesSupplierHelper::REJECTED) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Rejected') ?>
                            </option>
                            <option value="10" <?php if ($filterStatus == 10) { echo 'selected="selected"'; }?>>
                                <?= /*@noEscape*/ __('Deleted') ?>
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="button submit-quotes" title="Save" type="submit">
                            <span><span><span><?= /*@noEscape*/ __('Search') ?></span></span></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
                <tr id="wk_mp_tr_heading">
                    <th><span><?= /*@noEscape*/ __('Purchase Unit') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Publication Period') ?></span></th>
                    <th><span><?= /*@noEscape*/ __('Evaluation Period') ?></span></th>
                </tr>
            </thead>
            <tbody class="wk_mp_body">
                <tr>
                    <td>
                        <select name="purchase_unit" class="input-text">
                            <option value=""><?= /*@noEscape*/ __('Select...') ?></option>
                            <?php if ($purchaseUnitList): ?>
                            <?php foreach ($purchaseUnitList as $key => $item): ?>
                                <?php if ($filterPurchaseUnit == $key): ?>
                                    <option value="<?= $key ?>" selected="selected"><?= $item ?></option>
                                <?php else: ?>
                                    <option value="<?= $key ?>"><?= $item ?></option>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </td>
                    <td>
                        <div class="search-my-quotes">
                            <span class="wk_mp_td_span">
                                <input name="pstart_from_date" id="pstart_from_date" class="input-text" value="<?= $block->escapeHtml($filterPstartDateFrom)?>" />
                            </span>
                            <span class="wk_mp_td_to"><?= /*@noEscape*/ __('To: ') ?></span>
                            <span class="wk_mp_td_span">
                                <input name="pstart_to_date" id="pstart_to_date" class="input-text" value="<?= $block->escapeHtml($filterPstartDateTo)?>" />
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="search-my-quotes">
                            <span class="wk_mp_td_span">
                                <input name="estart_from_date" id="estart_from_date" class="input-text" value="<?= $block->escapeHtml($filterEstartDateFrom)?>" />
                            </span>
                            <span class="wk_mp_td_to"><?= /*@noEscape*/ __('To: ') ?></span>
                            <span class="wk_mp_td_span">
                                <input name="estart_to_date" id="estart_to_date" class="input-text" value="<?= $block->escapeHtml($filterEstartDateTo)?>" />
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
              <tr id="wk_mp_tr_heading">
                  <th><span><?= /*@noEscape*/ __('Product Name') ?></span></th>
                  <th><span><?= /*@noEscape*/ __('Award Date') ?></span></th>
                  <th><span><?= /*@noEscape*/ __('Maximum Amount') ?></span></th>
              </tr>
            </thead>
            <tbody class="wk_mp_body">
              <tr>
                  <td class="product-name">
                      <input type="text" class="input-text" name="pname" placeholder='<?= /*@noEscape*/ __('What are you looking for?') ?>' value="<?= $block->escapeHtml($filterPname)?>"/>
                  </td>
                  <td>
                      <div class="search-my-quotes">
                            <span class="wk_mp_td_span">
                                <input name="award_from_date" id="award_from_date" class="input-text" value="<?= $block->escapeHtml($filterAwardDateFrom)?>" />
                            </span>
                          <span class="wk_mp_td_to"><?= /*@noEscape*/ __('To: ') ?></span>
                          <span class="wk_mp_td_span">
                                <input name="award_to_date" id="award_to_date" class="input-text" value="<?= $block->escapeHtml($filterAwardDateTo)?>" />
                            </span>
                      </div>
                  </td>
                  <td>
                      <div class="search-my-quotes">
                            <span class="wk_mp_td_span">
                                <input style="width:150px;" type="number" step="0.01" name="amount_from" class="input-text" value="<?= $block->escapeHtml($filterAmountFrom)?>" />
                            </span>
                          <span class="wk_mp_td_to"><?= /*@noEscape*/ __('To: ') ?></span>
                          <span class="wk_mp_td_span">
                                <input style="width:150px;" type="number" step="0.01" name="amount_to" class="input-text" value="<?= $block->escapeHtml($filterAmountTo)?>" />
                            </span>
                      </div>
                  </td>
              </tr>
            </tbody>
        </table>
        <table cellspacing="0" class="border wk_mp_list_table">
            <thead>
              <tr id="wk_mp_tr_heading">
                  <th><span><?= /*@noEscape*/ __('Service Type') ?></span></th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="wk_mp_body">
              <tr>
                  <td class="product-name">
                      <select name="service_type" id="service_type" class="input-text">
                          <option value="" <?php if ($filterServiceType === '') { echo 'selected="selected"'; }?>>
                              <?= /*@noEscape*/ __('Select...') ?>
                          </option>
                          <?php foreach ($block->getCategoriesCmSoftware() as $category): ?>
                              <option value="<?= $category['label'] ?>" <?php if ($filterServiceType == $category['label']) { echo 'selected="selected"'; }?>>
                                  <?= /*@noEscape*/ $category['label'] ?>
                              </option>
                          <?php endforeach; ?>
                      </select>
                  </td>
                  <td>
                      &nbsp;
                  </td>
                  <td>
                      &nbsp;
                  </td>
              </tr>
            </tbody>
        </table>
        </div>
    </form>
    <?php if ($quotes->getSize()) : ?>
        <div class="table-wrapper">
            <table class="data-table table" id="wk_mp_requestedquote_table">
                <thead>
                    <tr>
                        <th scope="col" class="col quote"><span><?= /*@noEscape*/ __('Subject') ?></span></th>
                        <th scope="col" class="col dateFrom"><span><?= /*@noEscape*/ __('Purchase Unit') ?></span></th>
                        <th scope="col" class="col dateTo"><span><?= /*@noEscape*/ __('Publication Period') ?></span></th>
                        <th scope="col" class="col dateTo"><span><?= /*@noEscape*/ __('Evaluation Period') ?></span></th>
                        <th scope="col" class="col purchase-order"><span><?= /*@noEscape*/ __('Purchase Order') ?></span></th>
                        <th scope="col" class="col status"><span><?= /*@noEscape*/ __('Status') ?></span></th>
                        <th scope="col" class="col action"><span><?= /*@noEscape*/ __('Actions') ?></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php $_odd = ''; ?>
                    <?php  foreach ($quotes as $quote) :
                        $quoteStatus = $quote->getStatus();
                        $quoteDetails = $block->getQuoteDetail($quote->getId());

                    ?>
                        <tr>
                            <td data-th="Subject of Requested Quote" class="col quote">
                                <?php $url = $quoteStatus == QuotesSupplierHelper::DRAFT
                                    ? $block->getUrl('requestforquote/index/index/', ['quote_id' => $quote->getId()])
                                    : $block->getUrl("requestforquote/account/view/");
                                $SellersOfferQuantity = $helperOffer->getSellersCountFromQuote($block->escapeHtml($quote->getEntityId()));
                                ?>
                                <?php $urlPublicQuote = str_replace("requestforquote/account","publicquotes/requestforquote",$block->escapeUrl($url)); ?>
                                <a href="<?= $urlPublicQuote . "id/" . $quote->getId();?>" title="<?= /*@noEscape*/ __('View Quote Details')?>" class="action view"><span class="name-quote"><?= $block->escapeHtml($quote->getDescription()) ?></span></a>
                                <span class="subject"><?= $block->escapeHtml($quote->getSubject()) ?></span>
                                <span class="id"><?= __('ID') ?> <?= $block->escapeHtml($quote->getEntityId()) ?></span>
                                <span class="id"><?= __('Product Id') ?> <?= $block->escapeHtml($quote->getProductId()) ?></span>
                                <?php if ($quote->getAmount()): ?>
                                    <span class="budget"><?= __('Amount') ?> <b>$<?= $block->escapeHtml($quote->getAmount()) ?></b></span>
                                <?php endif; ?>
                                <?php if ($quote->getProductName()): ?>
                                    <span class="subject"><?= __('Product Name') ?>: <?= $block->escapeHtml($quote->getProductName()) ?></span>
                                <?php endif; ?>
                                <?php if ($quote->getAwardDate()): ?>
                                    <span class="award-date"><?= __('Award Date') ?> <b><?= $block->escapeHtml($block->formatDateDb($quote->getAwardDate())) ?></b></span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Purchase Unit" class="col PublicationDate">
                                <span class="nobr"><?= $block->escapeHtml($block->getUnitPurchaseName($quote->getOrganizationUnit())) ?></span>
                            </td>
                            <td data-th="Publication Period" class="col publication-period">
                                <?php if ($quote->getPublicationStart()): ?>
                                <span class="created-at"><?= __('Start Date') ?> <b><?= $block->escapeHtml($block->formatDateDb($quote->getPublicationStart())) ?></b></span>
                                <?php endif; ?>
                                <?php if ($quote->getPublicationEnd()): ?>
                                    <span class="publication-end"><?= __('End Date') ?> <b><?= $block->escapeHtml($helperConfigCmSoftware->modifyDaysFormatDateDB($quote->getPublicationEnd(),-1)) ?></b></span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Evaluation Period" class="col evaluation-period">
                                <?php if ($quote->getEvaluationStart()): ?>
                                    <span class="evaluation-start"><?= __('Start Date') ?> <b><?= $block->escapeHtml($block->formatDateDb($quote->getEvaluationStart())) ?></b></span>
                                <?php endif; ?>
                                <?php if ($quote->getEvaluationEnd()): ?>
                                    <span class="evaluation-end"><?= __('End Date') ?> <b><?= $block->escapeHtml($helperConfigCmSoftware->modifyDaysFormatDateDB($quote->getEvaluationEnd(),-1)) ?></b></span>
                                <?php endif; ?>
                            </td>
                            <td data-th="Purchase Order" class="col purchase-order">
                                <?php
                                if (!is_null($quoteDetails)):
                                    if ( $quoteDetails->getOrdenDeCompra() && $quoteDetails->getUrlOrdenDeCompra() ): ?>
                                        <span class="purchase-order">
                                            <a href="<?= $block->escapeHtml($quoteDetails->getUrlOrdenDeCompra()) ?>" target="_blank">
                                                <b><?= $block->escapeHtml($quoteDetails->getOrdenDeCompra()) ?></b>
                                            </a>
                                        </span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </td>
                            <td data-th="Status" class="col status status-<?php echo $quoteStatus ?>">
                                <span>
                                <?php
                                $param = $block->getParams($quote->getId());

                                // Commented because is not clear what is the use of this variable
                                // $cstatus = $block->getQuoteInfoStatus($quote->getId());

                                $pending = false;
                                switch ($quoteStatus) {
                                    case QuotesSupplierHelper::PUBLISHED:
                                        /*@noEscape*/ echo __('Published');
                                        break;
                                    case QuotesSupplierHelper::EVALUATION:
                                        /*@noEscape*/ echo __('In Evaluation');
                                        break;
                                    case QuotesSupplierHelper::AWARDED:
                                        /*@noEscape*/ echo __('Provider Selected');
                                        break;
                                    case QuotesSupplierHelper::FINISHED:
                                        /*@noEscape*/ echo __('Finished');
                                        break;
                                    case QuotesSupplierHelper::DESERT:
                                        /*@noEscape*/ echo __('Desert');
                                        break;
                                    case QuotesSupplierHelper::DRAFT:
                                        /*@noEscape*/ echo __('Saved');
                                        break;
                                    case QuotesSupplierHelper::PUBLICATION_CLOSED:
                                        /*@noEscape*/ echo __('Publication Closed');
                                        break;
                                    case QuotesSupplierHelper::EVALUATION_CLOSED:
                                        /*@noEscape*/ echo __('Evaluation Closed');
                                        break;
                                    case QuotesSupplierHelper::REJECTED:
                                        /*@noEscape*/ echo __('Rejected');
                                        break;
                                    case QuotesSupplierHelper::DELETED:
                                        /*@noEscape*/ echo __('Deleted');
                                        break;
                                    default:
                                        $pending = true;
                                        /*@noEscape*/ echo __('Published');
                                }
                                ?>
                                </span>
                            </td>
                            <td data-th="Action" class="col action">
                                <span class="nobr label wk_action span-<?= $quote->getEntityId(); ?>">

                                <?php
                                if ($quoteStatus == QuotesSupplierHelper::DRAFT ||
                                    $quoteStatus == QuotesSupplierHelper::PUBLISHED ||
                                    $quoteStatus == QuotesSupplierHelper::PUBLICATION_CLOSED ||
                                    $quoteStatus == QuotesSupplierHelper::EVALUATION ||
                                    $quoteStatus == QuotesSupplierHelper::REJECTED ||
                                    ($quote->getApprovedSellerQuoteId() == 0 && $quoteStatus == QuotesSupplierHelper::EVALUATION_CLOSED)
                                ):
                                ?>
                                    <a href="<?= $block->escapeUrl($block->getUrl('evaluate/requestforquote/reject/', ['quote_id' => $quote->getId()])); ?>" title="<?= /*@noEscape*/ __('Reject')?>">
                                        <span><?= /*@noEscape*/ $quoteStatus == QuotesSupplierHelper::REJECTED ? __('Edit Reject Details') : __('Reject')?></span>
                                    </a>
                                <?php endif; ?>
                                <?php
                                if ($quoteStatus != QuotesSupplierHelper::PUBLISHED &&
                                    $quoteStatus != QuotesSupplierHelper::PUBLICATION_CLOSED &&
                                    $quoteStatus != QuotesSupplierHelper::DRAFT &&
                                    $quoteStatus != QuotesSupplierHelper::REJECTED &&
                                    $quoteStatus != QuotesSupplierHelper::DELETED &&
                                    $quoteStatus != QuotesSupplierHelper::DESERT &&
                                    ($quote->getApprovedSellerQuoteId() == 0 || $pending)):
                                ?>
                                    <a href="<?= $block->escapeUrl($block->getUrl('evaluate/requestforquote/index/', ['id' => $quote->getId(), 'step' => 1])); ?>" title="<?= /*@noEscape*/ __('Evaluate')?>">
                                        <span><?= /*@noEscape*/ __('Evaluate')?></span>
                                    </a>
                                <?php
                                else:
                                ?>
                                    <?php
                                    if ($quoteStatus == QuotesSupplierHelper::DRAFT) { ?>
                                    <a href="<?= $block->escapeUrl($block->getUrl('requestforquote/index/index/', ['quote_id' => $quote->getId()])); ?>" title="<?= /*@noEscape*/ __('Edit')?>">
                                        <span><?= /*@noEscape*/ __('Edit')?></span>
                                    </a>
                                    <?php
                                    } elseif ($quoteStatus == QuotesSupplierHelper::FINISHED && !$isSoftwareRenewal) {
                                        // || $cstatus == 1) {
                                        $allparams = $block->getAllParams($quote->getId());
                                        $isProductEvaluated = $block->isProductEvaluated($quote->getProductId());
                                        if (!$isProductEvaluated) {
                                    ?>
                                    <a class="open-evaluate-performance"
                                        data-productid="<?= $quote->getProductId(); ?>"
                                        data-sellername="<?= $block->getSellerNameById($allparams['sellerId']);?>"
                                        data-sellerid="<?= $allparams['sellerId']; ?>"
                                        data-quoteinfo="<?= $quote->getId(); ?>"
                                        data-trigger="performance"
                                        title="<?= /*@noEscape*/ __('Evaluar desempeño')?>">
                                        <span><?= /*@noEscape*/ __('Evaluar desempeño')?></span>
                                    </a>
                                    <?php }
                                    } elseif (
                                            ($quoteStatus == QuotesSupplierHelper::EVALUATION ||
                                             $quoteStatus == QuotesSupplierHelper::EVALUATION_CLOSED)
                                             && $quote->getApprovedSellerQuoteId() != 0) {
                                    ?>
                                    <a href="#" class="btn-go-checkout"
                                        data-sellerId="<?= $param['sellerId']; ?>"
                                        data-quoteInfo="<?php echo $param['quoteInfoId']; ?>"
                                        data-productId="<?php echo $quote->getProductId(); ?>"
                                        data-price="<?php echo $quote->getAmount(); ?>"
                                        title="Generar Orden de Compra" type="button">
                                        <span>Generar Orden de Compra</span>
                                    </a>

                                    <?php
                                    } elseif ($quoteStatus == QuotesSupplierHelper::AWARDED) {
                                        $allparams = $block->getAllParams($quote->getId());
                                    ?>
                                    <a href="<?= $block->escapeUrl($block->getUrl('quotessupplier/account/jobsteam/', ['id' => $quote->getId()])); ?>"
                                        title="<?= /*@noEscape*/ __('Equipo de trabajo y entregables')?>"
                                        class="team-job-and-services"
                                        data-quoteid="<?= $quote->getEntityId(); ?>">
                                        <span><?= /*@noEscape*/ __('Equipo de trabajo y entregables')?></span>
                                    </a>
                                    <a id="close_project-<?= $quote->getEntityId(); ?>" class="open-close_poject"
                                        data-productid="<?= $quote->getProductId(); ?>"
                                        data-quoteid="<?= $quote->getEntityId(); ?>"
                                        data-sellerid="<?= $allparams['sellerId']; ?>"
                                        data-sellername="<?= $block->getSellerNameById($allparams['sellerId'])?>"
                                        data-trigger="close_poject"
                                        title="Cierre de proyecto" type="button">
                                        <span>Cierre de proyecto</span>
                                    </a>
                                    <?php
                                    }
                                endif;

                                //not "Under evaluation", "Awarded", "Completed", "Deserted" or "Dismissed"
                                if ($quoteStatus != QuotesSupplierHelper::EVALUATION_CLOSED &&
                                    $quoteStatus != QuotesSupplierHelper::AWARDED &&
                                    $quoteStatus != QuotesSupplierHelper::FINISHED &&
                                    $quoteStatus != QuotesSupplierHelper::DESERT &&
                                    $quoteStatus != QuotesSupplierHelper::REJECTED &&
                                    $quoteStatus != QuotesSupplierHelper::DELETED &&
                                    $quoteStatus != QuotesSupplierHelper::EVALUATION &&
                                    ($quoteStatus = QuotesSupplierHelper::PUBLISHED && $SellersOfferQuantity == 0) &&
                                    ($quote->getApprovedSellerQuoteId() == 0 || $pending)):
                                    ?>
                                    <a href="<?= $block->escapeUrl($block->getUrl('evaluate/requestforquote/delete/', ['quote_id' => $quote->getId()])); ?>" title="<?= /*@noEscape*/ __('Delete')?>">
                                        <span><?= /*@noEscape*/ __('Delete')?></span>
                                    </a>
                                <?php endif; ?>
                                </span>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else : ?>
        <div class="message info empty" style="margin-top:20px;">
            <span>
                <?= /*@noEscape*/ __('No Record found.'); ?>
            </span>
        </div>
    <?php endif ?>
    <div class="toolbar bottom">
        <div class="pager">
            <p class="toolbar-amount">
                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
            </p>
        </div>
    </div>
</div>
<div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': '<?= __("Confirmar cierre de proyecto")?>',
            'trigger': '[data-trigger=close_poject]',
            'responsive': true,
            'modalClass':'close_project_modal',
            'buttons': [{
                text: jQuery.mage.__('Confirmar'),
                class: 'action submit'
            }, {
                text: jQuery.mage.__('Salir'),
                class: 'action closemodal',
                click: function () {
                    this.closeModal();
                }
            }]
        }}">
    <div class="content performancemodal">
        <input type="hidden" name="productId" id="closeproject_productId" value="" >
        <input type="hidden" name="quoteId" id="closeproject_quoteId" value="" >
        <input type="hidden" name="sellerId" id="closeproject_sellerId" value="" >
        <input type="hidden" name="sellerName" id="closeproject_sellerName" value="" >
        <style>
        .modals-wrapper .modal-popup.close_project_modal .modal-inner-wrap {
            width: 35%;
            text-align: center;
        }
        .modal-popup.modal-slide.modal-popup.close_project_modal .modal-footer,
        .modal-popup.close_project_modal .modal-header, .modal-popup.close_project_modal .modal-content, .modal-popup.close_project_modal .modal-footer{
            padding:0;
            text-align:center;
        }
        .modal-popup.close_project_modal .modal-header{
            padding-bottom:20px
        }
        a.open-close_poject {
            cursor: pointer;
        }
        </style>
    </div>
</div>
<div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': '<?= __("Evaluar desempeño proveedor")?>',
            'trigger': '[data-trigger=performance]',
            'responsive': true,
            'buttons': [{
                text: jQuery.mage.__('Evaluar proveedor'),
                class: 'action submit qualify-seller'
            }]
        }}">
    <div class="content performancemodal">
        <form method="post" action="<?= $block->getUrl('quotessupplier/account/evaluateperformance')?>">
            <div class="info_performance">
                <span class="nombre_proveedor"></span>
                <span class="id_cotizacion"></span></div>
            <input type="hidden" name="productId" id="performance_productId" value="" >
            <input type="hidden" name="quoteId" id="performance_quoteId" value="" >
            <input type="hidden" name="sellerId" id="performance_sellerId" value="" >
            <input type="hidden" name="swqa_evaluated" id="swqa_evaluated" value="1" >
            <?php
                $attributes = $block->getAttributeCollection();
                foreach ($attributes as $key => $attr) {
                    $attrcode=$attr->getAttributeCode();
                    if(strpos($attrcode, 'swqa_performance') !== false){
                        echo "<label class='labelmodal' for='".$attr->getAttributeCode()."'>".$attr->getFrontendLabel()."</label>";
                        echo "<div class='starcontent'>";
                        echo "<input id='".$attr->getAttributeCode()."' name='".$attr->getAttributeCode()."' type='hidden' />";
                        echo "<div class='star'><a title='1'>1</a></div><div class='star'><a title='2'>2</a></div><div class='star'><a title='3'>3</a></div><div class='star'><a title='4'>4</a></div><div class='star'><a title='5'>5</a></div><span class='info_star_bad'>".__('Mala')."</span><span class='info_star_good'>".__('Muy buena')."</span></div>";
                    }
                }
            ?>
            <label for="swqa_message" class="labelmodal"><?= __('Observaciones')?></label>
            <textarea id="swqa_message" name="swqa_message"></textarea>

        </form>
        <style type="text/css">
            .open-evaluate-performance{
                cursor: pointer;
            }
            .modals-wrapper .modal-popup .modal-inner-wrap {
                width: 80%;
                max-width: 1100px;
            }
            .modal-popup.modal-slide .modal-footer {
                text-align: left;
            }

            .modal-popup .modal-footer button {
                padding: 10px 50px;
                color: #FFF;
                text-transform: none;
                background: #0064FF;
            }
            .modal-popup .modal-footer button:hover {
                color: #0064FF;
                background: #FFF;
            }
            .performancemodal textarea {
                width: 70%;
                height: 110px;
                background: #FFF;
                border: 2px solid #ccc;
                resize: none;
            }
            .star_content {
                margin-bottom: 5px;
                float: left;
                width: 100%;
            }

            .star {
                overflow: hidden;
                float: left;
                margin: 0 1px 0 0;
                width: 16px;
                height: 18px;
                cursor: pointer;
            }

            .star a {
                display: block;
                width: 100%;
                background-position: 0 0;
            }

            .star {
                position: relative;
                top: -1px;
                float: left;
                width: 24px;
                height: 24px;
                overflow: hidden;
                cursor: pointer;
                font-size: 24px;
                font-weight: normal;
                padding-right: 10px;
            }

            .star a {
                display: block;
                position: absolute;
                text-indent: -5000px;
            }

            div.star:after {
              color: #d9e8ff;
              font-family: 'luma-icons';
              font-size: 24px;
              height: 24px;
              letter-spacing: 2px;
              line-height: 24px;
              font-style: normal;
              font-weight: normal;
              speak: none;
              vertical-align: top;
              -webkit-font-smoothing: antialiased;
              content: '\e605';
              display: block;
              position: absolute;
              z-index: 1;
            }

            div.star.star_on {
                display: block;
            }

            div.star.star_on:after {
              color: #ef8743;
            }

            div.star.star_hover:after, div.star:hover:after {
              color: #ef8743;
            }
            h1#modal-title-1 {
                color: #666;
                font-weight: lighter;
            }

            .modal-inner-wrap {
                padding: 40px 60px;
            }

            .modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {
                padding-bottom: 60px;
            }
            .performancemodal label.labelmodal {
                display: block;
                color: #444;
                padding-bottom: 20px;
                font-size: 18px;
                font-weight: bold;
            }

            .starcontent {
                height: 24px;
                padding-bottom: 60px;
                width: 200px;
            }
            span.info_star_bad {
                display: block;
                float: left;
                padding-top: 15px;
                font-size: 14px;
                font-weight: bold;
                color: #444;
            }

            span.info_star_good {
                display: block;
                float: right;
                padding: 0 15px 0 0;
                padding-top: 15px;
                font-size: 14px;
                font-weight: bold;
                color: #444;
            }
            .info_performance {
                position: absolute;
                top: 70px;
                font-size: 14px;
                right: 100px;
                font-weight: bold;
            }
            span.nombre_proveedor {
                display: block;
            }
        </style>
    </div>
</div>
<script>
    require([
        'jquery',
        "mage/calendar"
    ], function ($) {
        $( "#special_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#special_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#pstart_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#pstart_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#pend_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#pend_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#estart_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#estart_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#eend_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#eend_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#award_from_date" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#award_to_date" ).datepicker({dateFormat: "yy-mm-dd"});
    });
</script>
<script>
	require([
        'jquery',
        'Magento_Customer/js/customer-data'
	], function($,customerData){
        var base_url = window.location.origin;
        var dataForm = $('.performancemodal form');
        $(document).on('click', '.close_project_modal .submit', function(){
            event.preventDefault();
            var param = dataForm.serialize();
                $.ajax({
                    showLoader: true,
                    url: '<?= $block->getUrl('quotessupplier/account/closeproject')?>',
                    data: {'quoteId':$("input#closeproject_quoteId").val()},
                    type: "POST"
                }).done(function (data) {
                    $(".loading-mask").hide('fast');
                    /*$(".team-job-and-services[data-quoteid='"+$("input#closeproject_quoteId").val()+"']").remove();
                    $("#close_project-" + $("input#closeproject_quoteId").val()).closest("tr").find(".status").removeClass("status-4").addClass("status-2").html("<span>Finalizada</span>");

                    var link = '<a class="open-evaluate-performance" data-productid="' + $("input#closeproject_productId").val() + '" data-sellername="' + $("input#closeproject_sellerName").val() + '" data-sellerid="' + $("input#closeproject_sellerId").val() + '" data-quoteinfo="' + $("input#closeproject_quoteId").val() + '" data-trigger="performance" title="Evaluar desempeño"><span>Evaluar desempeño</span></a>';
                    $(".span-" + $("input#closeproject_quoteId").val()).append(link);
                    $("#close_project-" + $("input#closeproject_quoteId").val()).remove();*/
                    window.location.reload();
                });
        })
        $(document).on("click", ".open-close_poject", function(){
            $("input#closeproject_productId").val($(this).data("productid"));
            $("input#closeproject_quoteId").val($(this).data("quoteid"));
            $("input#closeproject_sellerId").val($(this).data("sellerid"));
            $("input#closeproject_sellerName").val($(this).data("sellername"));
        })
        $(document).on('click','.qualify-seller',function() {
            event.preventDefault();
            var param = dataForm.serialize();
                $.ajax({
                    showLoader: true,
                    url: $(".performancemodal form").attr("action"),
                    data: param,
                    type: "POST"
                }).done(function (data) {
                    $(".loading-mask").hide('fast');
                    $(".open-evaluate-performance[data-productid='"+$("input#performance_productId").val()+"']").remove();
                    return true;
                });
        });
        $(document).on("click", ".open-evaluate-performance", function(){
            $(".starcontent .star").removeClass("star_on");
            $(".starcontent input").val("");
            $("input#performance_productId").val($(this).data("productid"));
            $("input#performance_quoteId").val($(this).data("quoteinfo"));
            $("input#performance_sellerId").val($(this).data("sellerid"));
            $(".id_cotizacion").text("ID "+$(this).data("quoteinfo"));
            $(".nombre_proveedor").text($(this).data("sellername"));
        })
        $(document).on("hover", ".star", function(){
            $(this).addClass("star_hover")
            $(this).prevAll().addClass("star_hover")
            $(this).nextAll().removeClass("star_hover")
        })
        $(document).on("mouseleave", ".starcontent", function(){
            $(this).find(".star").removeClass("star_hover")
        })
        $(document).on("click", ".star", function(){
            $(this).parent().find("input").val($(this).find("a").attr("title"))
            $(this).addClass("star_on")
            $(this).prevAll().addClass("star_on")
            $(this).nextAll().removeClass("star_on")
        })
        $(".btn-go-checkout").click(function(){
            var sellerId = $(this).attr("data-sellerId");
            var quoteInfo = $(this).attr("data-quoteInfo");
            var productId = $(this).attr("data-productId");
            var price = $(this).attr("data-price");
            $.ajax({
                url: base_url+"/<?= $currentWebsite ?>/requestforquote/customer/addtocart/",
                dataType: 'json',
                showLoader: true,
                data: {
                    'quoteInfoId': quoteInfo,
                    'sellerId': sellerId,
                    'quantity': 1,
                    'productId': productId,
                    'price': price
                },
                type: 'POST',
                success: function (data) {
                    if (data.success == true) {
                        var sections = ['cart'];
                        customerData.invalidate(sections);
                        // alert({
                        //     content: data.message
                        // });
                        window.location.href = data.Url;
                    }
                    if (data.error == true) {
                        // alert({
                        //     content: data.message
                        // });
                    }
                },
                error: function (data) {
                }
            });
        });

	});
</script>
