<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $request = $block->getRequestObj();
    $quoteId = $request->getParam('id');
    $helper = $block->getHelperObj();
    $quotes = $block->getRequestedQuote();
    $requestedQuote = $block->getQuoteById();
    $filterStatus = 1;
if ($request->getParam('status') != '') {
    $status = $request->getParam('status');
    $filterStatus = $status != '' ? $status : '';
}
?>
<div class="wk_mp_design">
    <div class="page-title">
        <h1><?= /*@noEscape*/ __('Requested Quotes # %1 %2', $quoteId, $requestedQuote['subject']) ?></h1>
    </div>
    <ul class="wk_mp_rfq_list">
        <li class="open <?php if ($filterStatus == 1) { echo "active"; } ?>" data-url="<?= $block->escapeUrl($block->getOpenQuoteUrl()) ?>">
            <span class="name"><?= /*@noEscape*/ __('Open')  ?></span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus($quoteId, 1)) ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 0) { echo "active"; } ?>" data-url="<?= $block->escapeUrl($block->getPendingQuoteUrl()) ?>">
            <span class="name"><?= /*@noEscape*/ __('Pending')  ?></span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus($quoteId, 0)) ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 2) { echo "active"; } ?>" data-url="<?= $block->escapeUrl($block->getAnsweredQuoteUrl()) ?>">
            <span class="name"><?= /*@noEscape*/ __('Answered')  ?></span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus($quoteId, 2)) ?></span>
        </li>
        <li class="open <?php if ($filterStatus == 3) { echo "active"; } ?>" data-url="<?= $block->escapeUrl($block->getSolvedQuoteUrl()) ?>">
            <span class="name"><?= /*@noEscape*/ __('Resolved')  ?></span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus($quoteId, 3)) ?></span>
        </li>
        <li class="open last <?php if ($filterStatus == 4) { echo "active"; } ?>" data-url="<?= $block->escapeUrl($block->getClosedQuoteUrl()) ?>">
            <span class="name"><?= /*@noEscape*/ __('Closed')  ?></span>
            <span class="badge"><?= $block->escapeHtml($block->getRequestedQuoteCountByStatus($quoteId, 4)) ?></span>
        </li>
    </ul>
    <?php if ($quotes->getSize()) : ?>
    <div class="table-wrapper">
        <table class="data-table table" id="wk_mp_requestedquote_table">
            <thead>
                <tr>
                    <th scope="col" class="col id"><span><?= /*@noEscape*/ __('Id')  ?></span></th>
                    <th scope="col" class="col sellerName"><span><?= /*@noEscape*/ __('Seller Name')  ?></span></th>
                    <th scope="col" class="col createdAt"><span><?= /*@noEscape*/ __('Created At')  ?></span></th>
                    <th scope="col" class="col action"><span><?= /*@noEscape*/ __('Action')  ?></span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($quotes as $quote) : ?>
                    <tr>
                        <td data-th="Id" class="col id">
                            <a href="<?= $block->escapeUrl($block->getViewUrl($quote->getId()))?>" title="<?= /*@noEscape*/ __('View Informations')?>" style="cursor: pointer;"><?= $block->escapeHtml("#".$quote->getQuoteId()) ?></a>
                        </td>
                        <td data-th="Seller Name" class="col sellerName">
                            <?= $block->escapeHtml($block->getSellerName($quote['seller_id'])) ?>
                        </td>
                        <td data-th="Created At" class="col createdAt">
                            <?= $block->escapeHtml($quote['created_at']) ?>
                        </td>
                        <td data-th="Action" class="col action">
                            <span class="nobr label wk_action">
                                <a href="<?= $block->escapeUrl($block->getViewUrl($quote->getId()))?>" title="<?= /*@noEscape*/ __('View Informations')?>" style="cursor: pointer;"><?= /*@noEscape*/ __('View')?></a>
                            </span>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        </div>
    <?php else : ?>
        <p class="wk_mp_rfq_no_record"><?= /*@noEscape*/ __('No Record found.'); ?></p>
    <?php endif ?>
    <div class="toolbar bottom">
        <div class="pager">
            <p class="toolbar-amount">
                <span class="toolbar-number"><?= /*@noEscape*/ $block->getPagerHtml(); ?></span>
            </p>
        </div>
    </div>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        $('.wk_mp_rfq_list').on('click','li',function() {
        var currentUrl = $(this).attr('data-url');
        window.location = currentUrl;
        });
    });
</script>
