<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$i = 0;
$ajaxData = ['quoteInfoId'=>"", 'sellerId'=>"", 'productId'=> 0, 'price'=>0];
$helper= $block->getHelperObj();
$_helper = $block->getCatalogOpHelper();
$ajax = [];
$imageHelper = $block->getCatalogImgHelper();
$currencyHelper = $block->getPriceHelper();
$request = $block->getRequestObj();
$id = $request->getParam('id');
$sellerQuote = $block->getQuoteInfoById($id);
$ajaxData['quoteInfoId'] = $sellerQuote['entity_id'];
$ajaxData['sellerId'] = $sellerQuote['seller_id'];
$quoteConversation = $block->getQuoteConversation();
$quoteConversationData = array_reverse($quoteConversation->getData());
$quoteId = $sellerQuote['quote_id'];
$hideResponseAreaForClosedQuote = "";
$quote = $block->getQuoteById($quoteId);
$approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']);
if ($quote['product_id']) {
    $ajaxData['productId'] = $quote['product_id'];
    $product = $block->getProductDetails($quote['product_id']);
    if (isset($product['name'])) {
        $mediaGalleryImages = $product->getMediaGalleryImages();
        $productImage = $product->getImage();
    } else {
        $mediaGalleryImages = [];
        $productImage = '';
    }
} else {
    $mediaGalleryImages = [];
    $productImage = '';
}
if ($quote['approved_seller_quote_id']) {
    $collection = $block->getApprovedQuoteConversation($quote['approved_seller_quote_id']);
}
$price = 0;
$qty =  $quote['bulk_order_qty'];
if (isset($approvedRfqInfo['entity_id'])) {
    $price = $approvedRfqInfo['quote_price'];
    $qty = $approvedRfqInfo['bulk_quote_qty'];
}
$subject =  $quote['subject'];
$description =  html_entity_decode($quote['description']);
$quotedatereceive =  $quote['quotedatereceive'];
$ajaxData['quantity'] = $qty;
$ajaxData['price'] = $price;
$attributeDescription =  $quote['attribute_description'];
$sampleImages =  [];
if ($quote['sample_images']) {
    $sampleImages =  explode(',', $quote['sample_images']);
}
$sellerName =  $block->getSellerNameById($sellerQuote['seller_id']);
$customerName =  $block->getCustomerNameById($quote['customer_id']);
$sellerLogo = $block->getSellerLogoBySellerId($sellerQuote['seller_id']);
$isSellerProduct = $block->isSellerProduct($quote['product_id'], $sellerQuote['seller_id']);
$quoteConversationData_seller = array();
foreach ($quoteConversationData as $key => $value) {
    if($value['sender_type']==1){
        $quoteConversationData_seller[]=$quoteConversationData[$key];
    }
}
$quoteConversationData_seller = end($quoteConversationData_seller);
?>
<div class="wk_mp_design wk_mp_rfq_main_container" style="width:99%;">
    <div class="page-title">
        <h1><?= /*@noEscape*/ __('Requested Quote For: %1', $subject) ?></h1>
    </div>

    <div class="wk_mp_rfq_communication_box wk_mp_rfq_data_purchase_box" style="padding: 20px 3px;">


                            <?php if ($quoteConversationData_seller['quote_name']) : ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Nombre de la cotización") ?> : </p>
                                    <span><?= $block->escapeHtml($quoteConversationData_seller['quote_name']) ?></span>
                                </div>
                            <?php endif; ?>
                            <?php if ($quoteConversationData_seller['quote_detalis']) : ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Detalle de la Oferta") ?> : </p>
                                    <span><?= $block->escapeHtml($quoteConversationData_seller['quote_detalis']) ?></span>
                                </div>
                            <?php endif; ?>
                            <?php 
                            if ($quoteConversationData_seller['table_requirement']) : ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Requerimientos") ?> : </p>
                                    <span><?php $requerimientos=json_decode($quoteConversationData_seller['table_requirement']);
                                    $requerimientos_html="";
                                    if(isset($requerimientos) && property_exists($requerimientos->data,'criterio_label') && property_exists($requerimientos->data,'ponderacion')  ){
                                        foreach ($requerimientos->data->criterio_label as $key => $req) {
                                            $requerimientos_html .= "<span><b> " . $req . " </b></span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->data->ponderacion[$key] . "</span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->data->observaciones[$key] . "<br></span>";
                                        }
                                    }else{
                                        $requerimientos_customer=json_decode($quote['minimum_offer_required']);
                                        foreach ($requerimientos->data->requirement as $key => $req) {
                                            

                                           $requerimientos_html .= "<span><b> Requerimiento mínimo: </b>" . $requerimientos_customer->data[$key] . " - <b>Propuesta proveedor: </b>" . $req . "</span><br>";
                                        }
                                    }
                                    
                                    ?>
                                    <?= $requerimientos_html ?></span>
                                </div>
                            <?php endif; ?>
                            <?php if ($quoteConversationData_seller['duracion_number']) : ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Duración") ?> : </p>
                                    <span><?= $block->escapeHtml($quoteConversationData_seller['duracion_number']) ?> 
                                    <?= ($quoteConversationData_seller['duracion_text']==1)?__("Días corridos"):""; ?>
                                    <?= ($quoteConversationData_seller['duracion_text']==2)?__("Días hábiles"):""; ?>
                                    <?= ($quoteConversationData_seller['duracion_text']==3)?__("Semanas"):""; ?>
                                    <?= ($quoteConversationData_seller['duracion_text']==4)?__("Meses"):""; ?></span>
                                </div>
                            <?php endif; ?>

                            <?php if ($quoteConversationData_seller['teamwork']) : 
                                ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Equipo de trabajo") ?> : </p>
                                    <span>
                                    <?php
                                    $teamwork=json_decode($quoteConversationData_seller['teamwork']);
                                    $teamwork_html="";
                                    if(isset($teamwork->data) && property_exists($teamwork->data,'rol_teamwork') ){
                                        foreach ($teamwork->data->rol_teamwork as $key => $req) {
                                            $teamwork_html .= "<span><b> " . $req . " </b></span>";
                                            $teamwork_html .= " - <span>" . $teamwork->data->name_teamwork[$key] . "</span>";
                                            $teamwork_html .= " - <span>" . $teamwork->data->duracion_teamwork[$key] . " " . __("Horas") . "<br></span>";
                                        }
                                    }
                                    
                                    ?>
                                    <?= $teamwork_html ?></span>
                                    </div>
                            <?php endif; ?>
                            <?php if ($quoteConversationData_seller['offer_price']) : ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Oferta económica") ?> : </p>
                                    <span><?= $block->escapeHtml($quoteConversationData_seller['offer_price']) ?></span>
                                    </div>
                            <?php endif; ?>
                <?php $files = json_decode($quoteConversationData_seller['offer_document']);
                if(isset($files->data) && is_array($files->data)){?>
                    <div class="field engagement_scope">
                      <p><?= __("Archivos adjunto")?></p>
                        <?php foreach($files->data as $file){?>
                            <span class="file_box"> <a href="/pub/media/chilecompra/files/formattributes/<?= $file;?>" download><?= $file;?></a></span>

                        <?php }?>
                    </div>
                <?php } elseif(isset($quoteConversationData_seller['offer_document'])){?>
                    <div class="field engagement_scope">
                      <p><?= __("Archivos adjunto")?></p>
                            <span class="file_box"> <a href="/pub/media/chilecompra/files/formattributes/<?= $quoteConversationData_seller['offer_document'];?>" download><?= $quoteConversationData_seller['offer_document'];?></a></span>
                    </div>
                <?php }
                ?>


    </div>    
    <?php if ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==3) : ?>
        <?php $status = __('Approved By you'); ?>
        <?php if ($sellerQuote['product_created'] ==1 && $sellerQuote['order_created']) : ?>
            <?php $status = __('Product has been purchased by you'); ?>
        <?php endif ?>
        <?php $approvedRfqInfo = $block->getApprovedRfqInfo($quote['approved_seller_quote_id']) ?>
        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <div>
                <strong><?= /*@noEscape*/ __("Status: ") ?></strong><?= $block->escapeHtml($status); ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved At: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['created_at']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Quoted Bulk Quantity: ") ?></strong><?= $block->escapeHtml($approvedRfqInfo['bulk_quote_qty']) ?>
            </div>
            <div>
                <strong><?= /*@noEscape*/ __("Approved Per Unit Price: ") ?></strong><?= $block->escapeHtml($currencyHelper->currency($approvedRfqInfo['quote_price'], true, false)) ?>
            </div>
            <?php if ($sellerQuote['product_created'] && $sellerQuote['order_created']==0) : ?>
                <a href="" id="wk_rfq_addtocart"><?= /*@noEscape*/ __("Click Here to Purchase") ?></a>
            <?php endif ?>
        </div>
    <?php elseif ($quote['approved_seller_quote_id'] != 0 && $sellerQuote['status']==4) : ?>
        <?php $hideResponseAreaForClosedQuote = 'style="display:none;"'; ?>
        <div class="wk_mp_rfq_span wk_mp_rfq_customer wk_mp_rfq_approved_box" id="wk_mp_rfq_approved_box">
            <div>
                <strong><?= /*@noEscape*/ __("Status: ") ?></strong><?= /*@noEscape*/ __("Closed for this Seller") ?>
            </div>
        </div>
    <?php endif ?>
    <div class="wk_mp_rfq_communication_box" style="padding: 20px 3px;">
        <div>
            <strong><?= /*@noEscape*/ __("Created At: ") ?></strong><?= $block->escapeHtml($quote['created_at']) ?>
        </div><br>
        <div>
            <strong><?= /*@noEscape*/ __("Requested Bulk Quantity: ") ?></strong><?= $block->escapeHtml($qty) ?>
        </div><br>
        <div class="wk_mp_rfq_textarea_container" style="word-break:break-word;"><strong><?= /*@noEscape*/ __("Description: ") ?></strong><?= /*@noEscape*/ $description ?></div><br>
        <?php if (!($attributeDescription == null || $attributeDescription == "")) { ?>
            <div class="wk_mp_rfq_textarea_container"><h2><?= /*@noEscape*/ __("Quote Details: ") ?></h2><?= /*@noEscape*/ $attributeDescription ?></div>
        <?php } ?>
        <?php if (count($mediaGalleryImages) || $productImage || count($sampleImages)) { ?>
            <div class="wk_mp_rfq_image_wrapper">
                <div><strong><?= /*@noEscape*/ __("Sample Images: ") ?></strong></div>
                <?php
                $i = 0;
                if (count($mediaGalleryImages)) {
                    foreach ($mediaGalleryImages as $image) {
                        ?>
                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                            <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($image->getFile())->resize(200, 130)->getUrl()); ?>">
                        </div>
                        <?php
                        $i++;
                    }
                } elseif ($productImage) {
                    ?>
                    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                        <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($productImage)->resize(200, 130)->getUrl()); ?>">
                    </div>
                    <?php
                    $i++;
                }
                if (count($sampleImages)) {
                    foreach ($sampleImages as $sampleImage) {
                        $ext = pathinfo($sampleImage, PATHINFO_EXTENSION);
                        if (strpos($ext, 'pdf') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'doc') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                </a>
                            </div>
                            <?php
                        } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                </a>
                            </div>
                            <?php
                        } else {
                            ?>
                            <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>" target="_blank" >
                                    <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$sampleImage); ?>">
                                </a>
                            </div>
                            <?php
                        }
                        $i++;
                    }
                } ?>
            </div>
        <?php } ?>
    </div>
    <?php if ($quoteConversation->getSize()) : ?>
        <?php foreach ($quoteConversationData as $key => $value) { ?>
            <div class="wk_mp_rfq_communication_box" style="padding: 20px 3px;">
                <div style="width: 100%;text-align: right;">
                    <?= $block->escapeHtml($value['created_at'])  ?>
                </div>
                <div class="wk_mp_rfq_reponse_left">
                    <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                        <img class="border" src="<?= $block->escapeUrl($block->getUrl('pub/media/avatar/').$sellerLogo) ?>" style="width: 100%;">
                    <?php else : ?>
                        <img class="border" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/user.png')); ?>" style="width: 100%;">
                    <?php endif ?>
                </div>
                <div class="wk_mp_rfq_reponse_right">
                    <div class="wk_mp_rfq_reponse_user_container">
                        <a href="#">
                            <strong>
                                <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                                    <?= $block->escapeHtml($sellerName) ?>
                                <?php else : ?>
                                    <?= $block->escapeHtml($customerName) ?>
                                <?php endif ?>
                            </strong>
                        </a>
                        <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?>
                            <span class="wk_mp_rfq_span wk_mp_rfq_seller">
                                <?= /*@noEscape*/ __('Seller') ?>
                            </span>
                        <?php endif ?>

                    </div>
                    <div style="width:98%;" class="wk_mp_rfq_description_container <?php if ($value['sender_type'] == \Webkul\Requestforquote\Model\Conversation::SENDER_TYPE_SELLER) : ?> <?= $block->escapeHtml('wk_mp_rfq_description_container_seller') ?> <?php else : ?><?= $block->escapeHtml('wk_mp_rfq_customer') ?><?php endif ?>">
                        <div class="wk_mp_rfq_description">
                            <?php if ($value['bulk_quote_qty']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Bulk Quoted Quantity: ") ?></strong><?= $block->escapeHtml($value['bulk_quote_qty']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ((int)$value['quote_price']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Per Unit Price: ") ?></strong><?= $block->escapeHtml($currencyHelper->currency($value['quote_price'], true, false)) ?>
                                </div>
                            <?php endif; ?>
                            <?= $block->escapeHtml($value['response']) ?>
                            <?php if ($value['quote_name']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Nombre de la cotización") ?> : </strong><?= $block->escapeHtml($value['quote_name']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['quote_detalis']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Detalle de la Oferta") ?> : </strong><?= $block->escapeHtml($value['quote_detalis']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['table_requirement']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Requerimientos") ?> : </strong>
                                    <?php $requerimientos=json_decode($value['table_requirement']);
                                    $requerimientos_html="";
                                    if(isset($requerimientos) && property_exists($requerimientos,'criterio_label') ){
                                        foreach ($requerimientos->criterio_label as $key => $req) {
                                            $requerimientos_html .= "<br><span><b> " . $req . " </b></span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->ponderacion[$key] . "</span>";
                                            $requerimientos_html .= " - <span>" . $requerimientos->observaciones[$key] . "</span>";
                                        }
                                    }
                                    
                                    ?>
                                    <?= $requerimientos_html ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($value['duracion_number']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Duración") ?> : </strong><?= $block->escapeHtml($value['duracion_number']) ?> 
                                    <?= ($value['duracion_text']==1)?__("Días corridos"):""; ?>
                                    <?= ($value['duracion_text']==2)?__("Días hábiles"):""; ?>
                                    <?= ($value['duracion_text']==3)?__("Semanas"):""; ?>
                                    <?= ($value['duracion_text']==4)?__("Meses"):""; ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($value['teamwork']) : 
                                ?>
                                <div class="field">
                                    <p><?= /*@noEscape*/ __("Equipo de trabajo") ?> : </p>
                                    <span>
                                    <?php
                                    $teamwork=json_decode($value['teamwork']);
                                    $teamwork_html="";
                                    if(isset($teamwork->data) && property_exists($teamwork->data,'rol_teamwork') ){
                                        foreach ($teamwork->data->rol_teamwork as $key => $req) {
                                            $teamwork_html .= "<span><b> " . $req . " </b></span>";
                                            $teamwork_html .= " - <span>" . $teamwork->data->name_teamwork[$key] . "</span>";
                                            $teamwork_html .= " - <span>" . $teamwork->data->duracion_teamwork[$key] . " " . __("Horas") . "<br></span>";
                                        }
                                    }
                                    
                                    ?>
                                    <?= $teamwork_html ?></span>
                                    </div>
                            <?php endif; ?>
                            <?php if ($value['offer_price']) : ?>
                                <div>
                                    <strong><?= /*@noEscape*/ __("Oferta económica") ?> : </strong>
                                    <?= $block->escapeHtml($value['offer_price']) ?>
                                    </div>
                            <?php endif; ?>

                        </div>
                    </div>
                    <?php
                    $responseSampleImages =  [];
                    if ($value['sample_images']) {
                        $responseSampleImages =  explode(',', $value['sample_images']);
                    }
                    if (count($responseSampleImages)) { ?>
                        <div class="wk_mp_rfq_image_wrapper">
                            <div><strong><?= /*@noEscape*/ __("Sample Images") ?> :</strong></div>
                            <?php
                            $i = 0;
                            if (count($responseSampleImages)) {
                                foreach ($responseSampleImages as $responseSampleImage) {
                                    $ext = pathinfo($responseSampleImage, PATHINFO_EXTENSION);
                                    if (strpos($ext, 'pdf') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/pdf.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'doc') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/doc.jpeg')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } elseif (strpos($ext, 'xls') !== false || strpos($ext, 'csv') !== false) {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/excel.png')); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    } else {
                                        ?>
                                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                                            <a href="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>" target="_blank" >
                                                <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($block->getUrl('pub/media/images').'requestforquote/'.$responseSampleImage); ?>">
                                            </a>
                                        </div>
                                        <?php
                                    }
                                    $i++;
                                }
                            } ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <?php
        } ?>
        <?= /*@noEscape*/ $block->getPagerHtml(); ?>
    <?php endif ?>
    <div class="wk_mp_rfq_reponse_box" <?= $block->escapeHtml($hideResponseAreaForClosedQuote); ?>>
        <div class="wk_mp_rfq_reponse_left">
            <img class="border" src="<?= $block->escapeUrl($block->getViewFileUrl('Webkul_Requestforquote::images/user.png')); ?>" style="width: 100%;">
        </div>
        <div class="wk_mp_rfq_reponse_right">
            <div>
                <a href="#">
                    <strong><?= $block->escapeHtml($customerName) ?></strong>
                </a>
            </div>
            <form action="<?= $block->escapeUrl($block->getUrl('quotessupplier/account/sendmessagetoseller')) ?>" enctype="multipart/form-data" method="post" id="form-rfq-new">
                <input type="hidden" name="seller_quote_id" value="<?= $block->escapeHtml($id) ?>">
                <div class="wk_mp_rfq_container">
                    <div contenteditable="true" class="wk_mp_rfq_textarea_container" data-text="<?= /*@noEscape*/ __("Write your response here including all necessary details.") ?>"></div>
                    <textarea name="response" class="wk_mp_rfq_textarea required-entry"></textarea>
                </div>
                <div for="wk_mp_rfq_textarea" generated="true" class="mage-error" id="wk_mp_rfq_textarea-error" style="display:none;"><?= /*@noEscape*/ __("This is a required field.") ?></div>
                <div class="wk_mp_rfq_image_wrapper">
                    <label for="sample_images" class="wk_mp_rfq_image_label">
                        <span class="wk_mp_rfq_image_span_icon">+</span>
                        <span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>
                    </label>
                    <input type="file" id="sample_images" style="display: none;" multiple>
                </div>
                <?php if ($quote['approved_seller_quote_id'] == 0 && $sellerQuote['status'] != 4) : ?>
                <input type="hidden" id="txtapprovecotizacion" name="approve_last_quote" value="0" />
                <button class="button btnadjudicar" type="submit" >
                    <span>
                        <span>
                            <?= /*@noEscape*/ __("Adjudicar") ?>
                        </span>
                    </span>
                </button> 
                <?php endif ?>
                <button class="button btnonlymessage" type="button">
                    <span>
                        <span>
                            <?= /*@noEscape*/ __("Send Message") ?>
                        </span>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>
<script id="requestForQuoteImageTemplate" type="text/x-magento-template">
    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<%- data.index %>">
        <img class="wk_mp_rfq_image" src="<%- data.imageUrl %>">
        <input type="hidden" name="sample_images[]" value="<%- data.imageName %>">
        <div class="actions">
            <button type="button" class="wk_mp_rfq_image_delete" title="<?= /*@noEscape*/ __("Delete file") ?>">
                <span><?= /*@noEscape*/ __("Delete file") ?></span>
            </button>
          </div>
    </div>
</script>
<script type="text/javascript">
    require([
        'jquery',
        'mage/template',
        'Magento_Customer/js/customer-data',
        'Magento_Ui/js/modal/alert',
        "mage/calendar",
    ], function ($wk_jq,template,customerData,alert) {
        $wk_jq(document).ready(function(){
            $wk_jq('.wk_req_admin_defined_attribute_span_text').css('display','block');
            $wk_jq('.wk_req_admin_defined_attribute_input').css('display','none');

            var initialform = true;

            $wk_jq('#form-rfq-new').submit(function(e) { 
                if(initialform){
                    e.preventDefault();
                }
            });

            $wk_jq(".btnadjudicar").off("click");
            $wk_jq(".btnadjudicar").on("click",function(e){
                initialform = false;
                e.preventDefault();
                $wk_jq("#txtapprovecotizacion").val("on");
                $wk_jq( "#form-rfq-new" ).submit();
            });

            $wk_jq(".btnonlymessage").off("click");
            $wk_jq(".btnonlymessage").on("click",function(e){
                initialform = false;
                e.preventDefault();
                $wk_jq("#txtapprovecotizacion").val("0");
                $wk_jq( "#form-rfq-new" ).submit();
            });

        });
        var i = <?= $block->escapeHtml($i) ?>;
        $wk_jq(document).on('change', '#sample_images', function () {
            var thisthis = $wk_jq(this);
            var countlength = 0;
            var length = thisthis.prop("files").length;
            $wk_jq.each(thisthis.prop("files"), function (index, value) {
                thisthis.parent().find('.wk_mp_rfq_image_label').html('<div style="position:relative;top:23px;" class="cp-spinner cp-round"></div>');
                var file_data = thisthis.prop("files")[index];

                var form_data = new FormData();

                form_data.append("sample_images", file_data);

                $wk_jq.ajax({
                    url: "<?= $block->escapeUrl($block->getUrl('requestforquote/index/sampleupload'));?>",
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    success: function (content) {
                        if(content.type){
                            var templatee = "";
                            var ImageTemplate = template('#requestForQuoteImageTemplate');
                                templatee += ImageTemplate({
                                data: {
                                    index:i,
                                    imageUrl:content.fileurl,
                                    imageName:content.filename

                                }
                            });
                            $wk_jq(templatee).insertBefore(".wk_mp_rfq_image_label");
                            thisthis.val('');
                            i = i+1;
                            countlength = countlength+1;
                            if (countlength == length) {
                                thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            }
                        }else{
                            thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            thisthis.val('');
                            alert({
                                content: content.errormsg
                            });
                        }
                    },
                    error: function (content) {
                        thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                        thisthis.val('');
                        alert({
                            content: content.errormsg
                        });
                    }
                });
            });
        });
        $wk_jq('#wk_rfq_addtocart').on('click',function(e){
                e.preventDefault();
                $wk_jq.ajax({
                    url: "<?= $block->escapeUrl($block->getUrl('requestforquote/customer/addtocart'));?>",
                    dataType: 'json',
                    showLoader: true,
                    data: {
                        'quoteInfoId': <?= $block->escapeHtml($ajaxData['quoteInfoId']); ?>,
                        'sellerId': <?= $block->escapeHtml($ajaxData['sellerId']); ?>,
                        'quantity': <?= $block->escapeHtml($ajaxData['quantity']); ?>,
                        'productId': <?= $block->escapeHtml($ajaxData['productId']); ?>,
                        'price': <?= $block->escapeHtml($ajaxData['price']); ?>
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data.success == true) {
                            var sections = ['cart'];
                            customerData.invalidate(sections);
                            alert({
                                content: data.message
                            });
                            window.location.href = data.Url;
                        }
                        if (data.error == true) {
                            alert({
                                content: data.message
                            });
                        }
                    },
                    error: function (data) {
                    }
                });
        });
        $wk_jq(document).on('click', '.wk_mp_rfq_image_delete', function () {
            $wk_jq(this).parents('.wk_mp_rfq_image_box').remove();
        })

        $wk_jq(document).on('keyup', '.wk_mp_rfq_textarea_container', function() {
            $wk_jq('.wk_mp_rfq_textarea').html($wk_jq(this).html());
        });
        $wk_jq('.button').on('click',function(e) {
            e.preventDefault();
            var val = $wk_jq('.wk_mp_rfq_textarea').val();
            if (val == '') {
                $wk_jq('#wk_mp_rfq_textarea-error').css('display','block');
            } else {
                $wk_jq('#wk_mp_rfq_textarea-error').css('display','none');
                $wk_jq('#form-rfq-new').submit();
            }
        });
    });
</script>
