<?php
use Formax\QuotesSupplier\Helper\Data as QuotesSupplierHelper;

$helper = $block->getHelperObj();
$cmSofwareHelper = $block->getCmSoftwareHelper();
$imageHelper = $block->getCatalogImgHelper();
$quoteId = $block->getRequest()->getParam('id');
$sellerQuote = $block->getQuoteInfoByQuoteId($quoteId);
$quote = $block->getQuoteById($quoteId);
$unitPurchase = $block->escapeHtml($cmSofwareHelper->getPurchaseUnitByCode($quote->getOrganizationUnit()));
$requestforquoteName = $block->escapeHtml($quote->getDescription());
$quoteSupplierHelper = $block->getQuoteSupplierHelper();
$status = $quote->getStatus();

if ($quote['product_id']) {
    $product = $block->getProductDetails($quote['product_id']);
    if (isset($product['name'])) {
        $mediaGalleryImages = $product->getMediaGalleryImages();
        $productImage = $product->getImage();
    } else {
        $mediaGalleryImages = [];
        $productImage = '';
    }
} else {
    $mediaGalleryImages = [];
    $productImage = '';
}
$qty =  $quote['bulk_order_qty'];
$subject =  $quote['subject'];
$description =  $quote['description'];
$attributeDescription =  $quote['attribute_description'];
$sampleImages =  [];
if ($quote['sample_images']) {
    $sampleImages =  explode(',', $quote['sample_images']);
}
$quoteDetail = $quoteSupplierHelper->getQuoteDetails($quoteId);
$oc = $quoteDetail ? $block->escapeHtml($quoteDetail->getOrdenDeCompra()) : '';
$urlOrdenCompra = $quoteDetail ? $block->escapeHtml($quoteDetail->getUrlOrdenDeCompra()) : '';
$amount = $quoteDetail ? $quoteDetail->getFinalPrice() : '';
$dates = [
    'Publication Start Date' => $block->escapeHtml($cmSofwareHelper->formatDateTime($quote->getCreatedAt())),
    'Publication End Date' => $block->escapeHtml($cmSofwareHelper->formatDateTime($quote->getPublicationEnd())),
    'Evaluation Start Date' => $block->escapeHtml($cmSofwareHelper->formatStartDateTime($quote->getEvaluationStart())),
    'Evaluation End Date' => $block->escapeHtml($cmSofwareHelper->formatDateTime($quote->getEvaluationEnd()))
];
?>
<?php if ($quote): ?>
	<div class="wk_mp_design">
		<div class="wk_mp_rfq_communication_box">
			<div class="head-info">
				<div class="page-title">
					<?= $requestforquoteName ?>
				</div>
				<div class="customerdata">
					<b><?= __("Organismo");?>: <?= $quote->getOrganization() ?></b><br>
					<b><?= __("Unidad de compra");?>: <?= $unitPurchase ?></b><br>
				</div>
			</div>
            <div class="quote_info">
                <div>
                    <span class="quote_infodata"><?= __("ID Cotización:");?></span>
                    <span class="quote_infolabel"> <?= $block->escapeHtml($quote->getEntityId()) ?></span>
                </div>
                <?php if ($oc): ?>
                <div>
                    <span class="quote_infodata"><?= __('ID Orden de Compra:');?></span>
                    <span class="quote_infolabel"> <?= $oc ?></span><br>
                </div>
                <?php endif; ?>
                <div>
                    <span class="quote_infodata"><?= __('Ficha servicio:');?></span>
                    <span class="quote_infolabel"><?= $cmSofwareHelper->getCategoryName($product) . ' ID ' . $block->escapeHtml($product->getSku()) ?></span>
                </div>
                <?php if ($amount): ?>
                <div>
                    <span class="quote_infodata"><?= __('Monto:');?></span>
                    <span class="quote_infolabel"><?= $cmSofwareHelper->currencyFormat($amount) ?></span><br>
                </div>
                <?php endif; ?>
                <div>
                    <span class="quote_infodata"><?= __('Status:');?></span>
                    <span class="quote_infolabel"><?php
                        switch ($status){
                            case QuotesSupplierHelper::PUBLISHED:
                                /*@noEscape*/ echo __('Published');
                                break;
                            case QuotesSupplierHelper::EVALUATION:
                                /*@noEscape*/ echo __('In Evaluation');
                                break;
                            case QuotesSupplierHelper::AWARDED:
                                /*@noEscape*/ echo __('Provider Selected');
                                break;
                            case QuotesSupplierHelper::FINISHED:
                                /*@noEscape*/ echo __('Finished');
                                break;
                            case QuotesSupplierHelper::DESERT:
                                /*@noEscape*/ echo __('Desert');
                                break;
                            case QuotesSupplierHelper::DRAFT:
                                /*@noEscape*/ echo __('Saved');
                                break;
                            case QuotesSupplierHelper::PUBLICATION_CLOSED:
                                /*@noEscape*/ echo __('Publication Closed');
                                break;
                            case QuotesSupplierHelper::EVALUATION_CLOSED:
                                /*@noEscape*/ echo __('Evaluation Closed');
                                break;
                            case QuotesSupplierHelper::REJECTED:
                                /*@noEscape*/ echo __('Rejected');
                                break;
                            default:
                                $pending = true;
                                /*@noEscape*/ echo __('Published');
                        }
                        $cmSofwareHelper->currencyFormat($amount)
                        ?>
                            </span><br>
                </div>
                <?php foreach ($dates as $key => $value): ?>
                    <div>
                        <span class="quote_infodata"><?= __($key) . ': ';?></span>
                        <span class="quote_infolabel"><?= $value ?></span><br>
                    </div>
                <?php endforeach; ?>
            </div>
			<div class="field antecedentes_generales">
				<?= __('Antecedentes Generales') ?>
			</div>
			<div class="container-first">
				<div class="field description">
					<p><?= __('Nombre de la cotización') ?></p>
					<span><?= $requestforquoteName ?></span>
				</div>
				<div class="field tic">
					<p><?= __('Código comité TIC (Si tiene)') ?></p>
					<span><?= $block->escapeHtml($quote->getTic()) ?></span>
				</div>
			</div>
			<div class="container-second">
				<div class="field publication_term">
					<p><?= __('Plazo de publicación') ?></p>
					<span><?= $block->escapeHtml($quote->getPublicationTerm()) . ' ' . __('business days') ?></span>
				</div>
				<div class="field evaluation_term">
					<p><?= __('Plazo de evaluación') ?></p>
					<span><?= $block->escapeHtml($quote->getEvaluationTerm()) . ' ' . __('business days') ?></span>
				</div>
				<div class="field publication_term">
					<p><?= __('Plazo para realizar preguntas') ?></p>
					<span><?= $block->escapeHtml($quote->getMakeQuestionTerm()) . ' ' . __('business days') ?></span>
				</div>
				<div class="field email">
					<p><?= __('Correo eletrónico') ?></p>
					<span><?= $block->escapeHtml($quote->getEmail()) ?></span>
				</div>
				<div class="field compliance_guarantee">
					<p><?= __('Garantía de fiel cumplimento de acuerdo complementario') ?></p>
					<span><?= $block->escapeHtml($cmSofwareHelper->numberFormat($quote->getComplianceGuarantee())) ?>%</span>
				</div>
				<div class="field beneficiary">
					<span><?= $block->escapeHtml($quote->getBeneficiary()) ?></span>
				</div>
			</div>
			<div class="field descripcion_requerimientos">
				<?= __('Descripción de los requerimientos') ?>
			</div>
			<div class="field recruitment_target">
				<p><?= __('Objeto contratación') ?></p>
				<span><?= $block->escapeHtml($quote->getRecruitmentTarget()) ?></span>
			</div>
			<div class="field especific_requirement">
				<p><?= __('Requerimientos específicos') ?></p>
				<span><?= $block->escapeHtml($quote->getEspecificRequirement()) ?></span>
			</div>
			<div class="field engagement_scope">
				<p><?= __('Alcance de la contratación') ?></p>
				<span><?= $block->escapeHtml($quote->getEngagementScope()) ?></span>
			</div>
			<div class="field servicios_entregables">
				<?= __('Servicios y/o productos entregrables') ?>
			</div>
			<div class="container-three">
				<div class="field deliverable_services">
					<?php $deliverableServices = json_decode($quote->getDeliverableServices());?>
					<div class="service_name">
						<p><?= __('Nombre del servicio');?></p>
						<?php foreach($deliverableServices->data as $key => $service){
							if($key=='service_name'){
								foreach($service as $servicename){
									echo "<span>".$servicename."</span><br>";
								}
							}
						}?>
					</div>
					<div class="service_details"><p><?= __('Detalles');?></p>
						<?php foreach($deliverableServices->data as $key => $service){
							if($key=='detail'){
								foreach($service as $servicedetails){
									echo "<span>".$servicedetails."</span><br>";
								}
							}
						}?>
					</div>
				</div>
				<div class="field execution_services_term_number">
					<p><?= __('Plazo máximo disponible para la ejecución de los servicios') ?></p>
					<span>
						<?= $block->escapeHtml($quote->getExecutionServicesTermNumber()) . ' ' . $block->escapeHtml($cmSofwareHelper->getTextServiceTerm($quote->getExecutionServicesTermText())) ?>
					</span>
				</div>
				<div class="field execution_services_term_text">
					<span></span>
				</div>
				<div class="field amount">
					<p><?= __('Presupuesto máximo') ?></p>
					<span><?= $block->escapeHtml($cmSofwareHelper->currencyFormat($quote->getAmount())) ?></span>
				</div>
			</div>

			<div class="field servicios_entregables">
				<?= __("Modalidad")?>: <?= $quote->getEvaluationModality() == 1 ? __("Cumplimiento de requerimientos técnicos") : __("Criterios de evaluación")?>
			</div>
			<div class="container-four">
				<?php
				$evaluation_html = "";
				if ($quote->getEvaluationModality() == 2) {
					$evaluation = json_decode($quote->getTableEvaluationCriteria());
					foreach ($evaluation->data->evaluation_label as $key => $eva_mod2) {
						if (isset($evaluation->data->weight[$key])) {
							$evaluation_html .= "<tr><td>" . $eva_mod2 . "</td>";
							$evaluation_html .= "<td>" . $evaluation->data->weight[$key] . "</td>";
							$evaluation_html .= "<td>" . $evaluation->data->observations[$key] . "</td></tr>";
						}
					}
				} elseif ($quote->getEvaluationModality() == 1) {
					$minimumoffers = json_decode($quote->getMinimumOfferRequired());
					foreach ($minimumoffers->data as $min_offer) {
						$evaluation_html .= "<tr><td>" . $min_offer . "</td></tr>";
					}
				}
				?>
				<table class="evaluation_table modality_<?= $quote->getEvaluationModality()?>">
					<thead>
						<tr>
							<?php if ($quote->getEvaluationModality() == 2): ?>
								<th><?= __("Criterios de evaluación")?></th>
								<th><?= __("Ponderación (%)")?></th>
								<th><?= __("Observaciones y consideraciones del criterio")?></th>
							<?php endif; ?>
							<?php if ($quote->getEvaluationModality() == 1): ?>
								<th><?= __("Requerimiento mínimo de la oferta")?></th>
							<?php endif; ?>
						</tr>
					</thead>
					<tbody>
						<?= $evaluation_html ?>
					</tbody>
				</table>
			</div>
			<?php if ($quote->getEvaluationModality() == 2): ?>
				<div class="field servicios_entregables">
					<?= __("Umbral de corte evaluación técnica")?>
				</div>
				<div class="field score">
					<p><?= __("Puntaje")?></p>
					<span><?= $block->escapeHtml($cmSofwareHelper->numberFormat($quote->getScore())) ?></span>
				</div>
			<?php endif; ?>
			<div class="field match_criterias">
				<p><?= __('Criterios de desempate') ?></p>
				<span><?= $block->escapeHtml($quote->getMatchCriterias()) ?></span>
			</div>
			<?php $files = $cmSofwareHelper->getFilesPath($quote->getFile()); ?>
			<?php if ($files): ?>
				<div class="field servicios_entregables">
					<?= __('Documentos adjuntos') ?>
				</div>
				<div class="container-files">
					<?php foreach($files as $file): ?>
						<div class="field file">
							<!--<div class="check-file">
							<input type="checkbox" name="" value="">
							</div>-->
							<div class="info-file">
								<span><?= $file['name'] ?></span>
								<p><?= __('Archivo %1', $file['ext']) ?></p>
							</div>
							<div class="download-file">
								<a href="<?= $file['url'] ?>" target="_blank">
									<span><?= __('Descargar') ?></span>
								</a>
							</div>
						</div>
					<?php endforeach; ?>
			</div>
			<?php endif; ?>
		</div>
	</div>
	<script type="text/javascript">
		require([
			'jquery'
		], function ($wk_jq) {
			$wk_jq(document).ready(function(){
				$wk_jq('.wk_req_admin_defined_attribute_span_text').css('display','block');
				$wk_jq('.wk_req_admin_defined_attribute_input').css('display','none');
			});
		});
	</script>
<?php endif; ?>
