<?php $parentBlock = $this->getParentBlock(); ?>
<?php $quotes = $parentBlock->getSellers(); ?>
<?php $step = $parentBlock->getCurrentStep() == 2 ? false : true; ?>
<?php $sellerCount = count($quotes); ?>
<?php if ($step): ?>
    <div class="quote_info-provider">
        <span class="quote_infolabel"><span class="quantity"><?= $sellerCount ?></span> <span class="seller"><?= __('Sellers') ?></span></span><br>
        <span class="quote_infodata"><?= __('Answer your requestedforquoted') ?></span>
    </div>
<?php endif; ?>