<div class="page-title">
    <h1 class="quote-title"><?= /*@noEscape*/ __('Paso %1 de %2 - %3', 1, 3, __("Offers Download")) ?></h1>
    <p class="description-title"><?= __("Download the sellers' offers so that you <strong> technically evaluate the proposals. </strong> Once finished, you can go to step 2.") ?></p>
</div>