<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Editprofile */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner = $block->getPersistentData();
if (empty($partner)) {
    $partner=$helper->getSeller();
}
$profile_hint_status = $helper->getProfileHintStatus();
?>
<form action="<?php echo $block->getUrl('marketplace/account/editProfilePost', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-profile-validate" data-mage-init='{"validation":{}}'>
    <input type="hidden" name="company_description" value="">
    <div class="wk-mp-design">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend" id="wk-mp-editprofile-form">
                <span class="comercial-information"><?php echo __('Commercial Information') ?></span>
                <button class="button wk-mp-btn" title="<?php echo __('Save Profile') ?>" type="submit" id="save-btn">
                    <span><span><?php echo __('Save Profile') ?></span></span>
                </button>
            </div>
            <?php echo $block->getBlockHtml('seller.formkey')?>
            <?php echo $block->getBlockHtml('formkey')?>
            <!-- <legend class="legend"><span><?php // echo __('Profile Information') ?></span></legend> -->
            <?php
            if($helper->getActiveColorPicker()){?>
                <div class="field profile">
                    <label for="background_width"><?php echo __('Theme : Background Color') ?> </label>
                    <?php
                    if($profile_hint_status && $helper->getProfileHintBc()){?>
                        <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintBc() ?>"/>
                    <?php
                    } ?>
                    <div class="control">
                         <input type="text" id="background_width" name="background_width" value="<?php echo $partner['background_width']; ?>" title="background_width" class="input-text" />
                         <span class="color-pick" data-role="color-pick" data-mage-init='{"colorPickerFunction":{"spanBackgroundColor" : "<?php echo $partner['background_width']?>", "getActiveColorPickerStatus" : "<?php echo $helper->getActiveColorPicker()?>", "backgroundWidthSelector" : "#background_width"}}'></span>
                    </div>
                </div>
            <?php
            } ?>
            <div class="field profile edit-info-business">
                <?php
                if($profile_hint_status && $helper->getProfileHintLogo()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintLogo() ?>"/>
                <?php
                } ?>
                <div class="control">
                  <span class="edit-info-conmercial"><?php echo __('Edit The Commercial Information Of Your Company. Remember To Keep Updated') ?></span><br>
                    <input type="hidden" id="company_description" name="company_description"/>
                    <input type="file" id="logo-pic" alt="no image" name="logo_pic" title="<?php echo __('Seller Logo')?>" class="banner" size="2"/>
                    <small style="display:block; margin:20px 0;">Máximo permitido: 2mb</small>
                    <div class="logoimage-set">
                          <div class="setimage">
                            <img class="prev-img" src="<?php echo $helper->getMediaUrl().'avatar/'.$partner['logo_pic']; ?>"/>
                            <?php
                            if(!$partner['is_default_logo']){
                            ?>
                                <span class="wk-logoimagedelete" title="<?php echo __('Delete')?>">
                                      <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/deleteIcon.png'); ?>" alt="<?php echo __('Delete Image')?>" title="<?php echo __('Delete Image')?>"/>
                                </span>
                            <?php
                            }?>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
<?php
if($helper->getUrlRewrite()){ ?>
    <br/><br/>
    <form action="<?php echo $block->getUrl('marketplace/account/rewriteUrlPost', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-urlrewrite-validate" data-mage-init='{"validation":{}}'>
        <div class="page-title" style="width:100%;display:inline-block;">
            <h2 style="float:left;"><?php echo __('Manage Your Shop Url') ?></h2>
            <button class="button wk-mp-btn" title="<?php echo __('Set Your New Shop Url') ?>" type="submit" style="float:right;">
                <span><span><?php echo __('Save Url') ?></span></span>
            </button>
        </div>
        <?php echo $block->getBlockHtml('seller.formkey')?>
            <?php echo $block->getBlockHtml('formkey')?>
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
                <legend class="legend"><span><?php echo __('Edit Your Shop Url') ?></span></legend>
                <div class="field">
                    <label><?php echo __('Profile Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/profile/shop/'.$partner['shop_url'] ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Profile Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="profile_request_url" id="profile_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/profile/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Collection Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/collection/shop/'.$partner['shop_url'] ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Collection Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="collection_request_url" id="collection_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/collection/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Review Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/feedback/shop/'.$partner['shop_url']; ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Review Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="review_request_url" id="review_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/feedback/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Location Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/location/shop/'.$partner['shop_url']; ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Location Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="location_request_url" id="location_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/location/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Privacy Policy Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="policy_request_url" id="policy_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/policy/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
<?php
}
?>
<?php
$formData = [
    'countryPicSelector' => '#country-pic',
    'countryImgPrevSelector' => '.country_img_prev',
    'countryLatitudeSelector' => '#country-latitude',
    'countryLongitudeSelector' => '#country-longitude',
    'countryImgPrev' => $this->getViewFileUrl("Webkul_Marketplace::images/country/countryflags/"),
    'backgroundWidthSelector' => '#background_width',
    'logoPicSelector' => '#logo-pic',
    'bannerPicSelector' => '#banner-pic',
    'leftButtonSelector' => '.left',
    'buttonsSetLastSelector' => '.buttons-set:last',
    'inputTextSelector' => '.input-text',
    'profileimageSetSpanSelector' => '.profileimage-set span',
    'bannerSelector' => '.wk-banner',
    'bannerDeleteAjaxUrl' => $block->getUrl('marketplace/account/deleteSellerBanner', ['_secure' => $this->getRequest()->isSecure()]),
    'setimageSelector' => '.setimage',
    'profileImageDeleteSelector' => '.wk-profileimagedelete img',
    'logoImageSetSpanSelector' => '.logoimage-set span',
    'logoSelector' => '.wk-logo',
    'logoDeleteAjaxUrl' => $block->getUrl('marketplace/account/deleteSellerLogo', ['_secure' => $this->getRequest()->isSecure()]),
    'logoImageDeleteSelector' => '.wk-logoimagedelete img'
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "editSellerProfile": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>
