
<?php
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
$partner=array();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner=$block->getProfileDetail();
$sellerId=$partner['seller_id'];
$shoptitle = $partner->getShopTitle();
if(!$shoptitle){
	$shoptitle = $partner->getShopUrl();
}
$seller_product_count = $helper->getSellerProCount($sellerId);

$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$respnseRate = $_helper->getResponseRateOfSeller($sellerId);

$avgResponse = $_helper->getResponseTimeOfSeller($sellerId);

$logo=$partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
$logo=$this->getUrl('pub/media/', ['_secure' => $this->getRequest()->isSecure()]).'avatar/'.$logo;

$locsearch=$partner['company_locality'];
$countryflag=$this->getViewFileUrl('Webkul_Marketplace::images/country/countryflags/')."/".strtoupper($partner['country_pic']==""?"xx":$partner['country_pic']).".png";
$countryName = '';
$captchenable = $helper->getCaptchaEnable();		
?>
<div class="wk-mp-design">
	<div class="wk-mp-design-inner">
		<div class="wk-logo-block">
			<a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url']);?>" >
				<img class="bannerpicrs" src="<?php echo $logo;?>" />
			</a>
		</div>
		<div class="wk-mp-profile_container">
			<div id="info" class="block-content">
				<div class="wk-seller">	
					<div class="section">
						<div class="storename">
							<a class="store-name" href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url']);?>">
								<?php echo $shoptitle; ?>
							</a>
						</div>
						<div class="wefrom">
							<span class="wk-storeloc-icon wk-icon"></span>
							<a class="cont-name" title="<?php echo __('Search') ?>" href="<?php echo  $helper->getRewriteUrl('marketplace/seller/location/shop/'.$partner['shop_url'])."?loc=".$locsearch?>" target="_blank">
								<span><?php echo $locsearch.$countryName; ?></span>
								<img class="piccountry" title="<?php echo __('View Map') ?>" src="<?php echo $countryflag;  ?>" />
							</a>
						</div>
					</div>					
					<div class="section" style="background-color: rgb(232, 232, 232);">
						<?php echo __('Profile') ?>
					</div>
					<div class="section">
						<a class="store-name" href="<?php echo $helper->getRewriteUrl('marketplace/seller/feedback/shop/'.$partner['shop_url'])?>">
							<?php echo __('Reviews') ?>
						</a>
					</div>				
					<div class="section ask-que"> 
						<a class="askque"><?php echo __('Contact Seller') ?></a>
						
						<div class="ask-que">
							<div id="wk-mp-ask-data" style="display:none">
								<?php
								if($block->Session->isLoggedIn()){
									$buyer_name = $block->Session->getCustomer()->getName();
									$buyer_email = $block->Session->getCustomer()->getEmail();
									$readonly = "readonly='readonly'";
								}else{				
									$buyer_email = '';
									$buyer_name = '';
									$readonly = '';
								}
								?>
								<form id="ask-form" method="post" action="#" class="fieldset" data-mage-init='{"validation":{}}' enctype="multipart/form-data">
									<div class="form-list field required">
										<label class="label"><?php echo __('Support Type') ?> :</label>
										<select name="support_type" class="validate-select required-entry">
											<?php foreach ($_helper->getSupportTypes() as $key => $value) { ?>
												<option value=<?php echo $key; ?>><?php echo $value; ?></option>
											<?php }  ?>
										</select>
										<label class="label"><?php echo __('Your Name') ?> :</label>
										<input type="text" name="name" class="queryemail wk-contact_input_fields validate-no-html-tags required-entry" value="<?php echo $buyer_name?>" <?php echo $readonly?>/>
										<label class="label"><?php echo __('Your Email') ?> :</label>
										<input type="email" name="email" class="queryemail required-entry validate-email validate-no-html-tags wk-contact_input_fields" value="<?php echo $buyer_email?>" <?php echo $readonly?>/>
										<label class="label"><?php echo __('Subject') ?> :</label>
										<input type="text" name="subject" class="wk-contact_input_fields validate-no-html-tags required-entry"/>
										<label class="label"><?php echo __('Your Query') ?> :</label>
										<textarea  name="ask" id="queryquestion" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
										<input type="hidden" name="seller-id" value="<?php echo $sellerId;?>"/>
										<?php 
										if($captchenable){?>
											<div>
												<span>
													<label for="wk-mp-captcha"><span id="wk-mp-captchalable1"><?php echo rand(1,20)?></span> + <span id="wk-mp-captchalable2"><?php echo rand(1,20)?></span> =</label>
												</span>
												<input type="text" class="required-entry wk-contact_input_fields" name="wk-mp-captcha" id="wk-mp-captcha" />
											</div>
										<?php
										}?>
										<label class="file" class=""><?php echo __('Add Image/File') ?> :</label>
										<div class="input-box">
											<input type="file" name="img_attachment[]" class="wk_imagevalidate"/>
											<br>
											<div id="otherimages"></div>
											<a href="#" class="product_images"><?php echo __("Add More image"); ?></a><br />
											
										</div>
									</div>
								</form>        
							</div>
						</div> 
						<span class="seller-response-rate">
							<?php echo $respnseRate .__('% response rate,') ?>
							<?php echo $avgResponse. __('-mins response time') ?>
						</span>
					</div>
					
					<?php
					if($helper->getSellerPolicyApproval()){?>
						<div class="section">
							<a class="store-name" href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url']).'#return-policy';?>">
								<?php echo __('Return Policy') ?>
							</a>
						</div>
						<div class="section">
							<a class="store-name" href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url']).'#shipping-policy';?>">
								<?php echo __('Shipping Policy') ?>
							</a>
						</div>
					<?php
					}?>
				</div>
			</div>
		</div>
	</div>
	<div class="wk-mp-design-inner wk-mp-design-inner_last" style="margin-top:10px;">
		<div class="wk-mp-profile_container storename">
			<div class="store-name">
				<?php echo __("Seller's Collection") ?>
			</div>			
			<a href="<?php echo $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$partner['shop_url']); ?>">
				<div class="store-name"><?php echo __('%1 Products',$seller_product_count) ?></div>
				<button class="button" title="<?php echo __("View Seller's Collection") ?>">
					<span>
						<span>
							<?php echo __('View All'); ?>
						</span>
					</span>
				</button>
			</a>
			<div style="margin-top:5px;">
				<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=<?php echo $locsearch;?>&amp;output=embed"></iframe>
				<br />
				<small>
					<a href="//maps.google.com/maps?q=<?php echo $locsearch;?>">
							<?php echo __('View Location on Map') ?>
					</a>
				</small>
			</div>
		</div>
	</div>
</div>

<script id="attachment-template" type="text/x-magento-template">
	<div id='childDiv<%- fields.index %>'>
		<input type='file' name='img_attachment[]' class='wk_imagevalidate'/>
		<a href='#' class='remove_attch'><?php echo __('Remove'); ?></a>
	</div>
</script>

<?php
	$releventFormData = [
		'targetAjaxUrl' => $block->getUrl("mpsellerbuyercommunication/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]),
		'captchenable'  => $captchenable,
		'varificationMsg' => __(' enable to varifiy captcha'),
		'formValidator' => '#ask-form',
		'attachmentTemplate' => '#attachment-template',
		'saveAjaxFileUrl' => $block->getUrl("mpsellerbuyercommunication/seller/saveFiles", ["_secure" => $this->getRequest()->isSecure()])
	];

$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "wkSellerProfilePage": <?php echo $serializedData; ?>
        }
    }
</script>