<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<?php

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$_helper = $this->helper('Webkul\MpSellerBuyerCommunication\Helper\Data');
$product = $block->getProduct();
$sellerId = '';
$marketplaceProduct = $helper->getSellerProductDataByProductId($product['entity_id']);
foreach ($marketplaceProduct as $value) {
    $sellerId = $value['seller_id'];
}

$cardType = $helper->getDisplayCardType();
?>
<?php if ($sellerId!=""): ?>
	<?php 
		$respnseRate = $_helper->getResponseRateOfSeller($sellerId);
		$avgResponse = $_helper->getResponseTimeOfSeller($sellerId);
        $captchenable = $helper->getCaptchaEnable();
        $sellerInfo = $helper->getSellerInfo($sellerId);
        $shopTitle = $sellerInfo['shop_title'];
        $shopUrl = $sellerInfo['shop_url'];
        $logo = $sellerInfo['logo_pic'];
        $productCount = $sellerInfo['product_count'];
        $companyLocality = trim($sellerInfo['company_locality']);
        $companyLocality = $block->escapeHtml($companyLocality);
        if (!$shopTitle) {
            $shopTitle = $shopUrl;
        }

        if ($productCount > 1) {
            $productLabel = __("%1 Products", $productCount);
        } else {
            $productLabel = __("%1 Product", $productCount);
        }

        if ($logo == "") {
            $logo = "noimage.png";
        }

        $logo = $helper->getMediaUrl().'avatar/'.$logo;
        $shopTitle = $block->escapeHtml($shopTitle);
        $feeds = $helper->getFeedTotal($sellerId);
        $rating = $helper->getSelleRating($sellerId);
        $collectionPageUrl = $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);
        $profilePageUrl = $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);
    ?>
	<div class="wk-seller-block wk-block no-display" id="mp-wk-block">
        <div class="wk-seller-card-container wk-card-type<?php echo $cardType; ?>">
            <?php if ($cardType == 2): ?>
                <div class="wk-seller-card-details-block">
                    <div class="wk-seller-card-details-img-block">
                        <a href="<?php echo $profilePageUrl; ?>" title="<?php echo __('Visit Shop') ?>" target="_blank">
                            <img src="<?php echo $logo; ?>">
                        </a>
                    </div>
                    <div class="wk-seller-card-details-content-block">
                        <div class="wk-seller-card-row">
                            <div class="wk-seller-shop-title">
                                <a href="<?php echo $profilePageUrl; ?>" title="<?php echo __('Visit Shop') ?>" id="profileconnect" target="_blank">
                                    <?php echo $shopTitle; ?>
                                </a>
                            </div>
                            <?php if ($rating > 0) :?>
                                <div class="wk-seller-rating-block">
                                    <div class="wk-seller-rating-number">
                                        <?php echo number_format($rating, 1); ?>
                                    </div>
                                    <div class="wk-seller-rating-summery">
                                        <div class="wk-seller-rating wk-mp-design-inner">
                                            <div class="wk-seller-feedback-title">
                                                <span>
                                                    <?php
                                                    $review_percentage = (($rating*100)/5);
                                                    echo $review_percentage."% ".__('positive feedback')." (".__('%1 ratings',number_format($feeds['feedcount'])).") ";
                                                    ?>
                                                </span>
                                            </div>
                                            <div class="wk-mp-row">
                                                <div class="mpfeedback">
                                                    <div class="price">
                                                        <span class="wk-ordertitle-label"><?php echo __('Price') ?> </span><span>:</span>
                                                        <div class="ratingslider-box">
                                                            <div class="rating" style="width:<?php echo ceil($feeds['price']);?>%;"></div>
                                                        </div>
                                                        <span>&nbsp;(<?php echo round(($feeds['price']/20), 1, PHP_ROUND_HALF_UP) ?>/5)</span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="value">
                                                        <span class="wk-ordertitle-label"><?php echo __('Value') ?> </span><span>:</span>
                                                        <div class="ratingslider-box" >
                                                            <div class="rating" style="width:<?php echo ceil($feeds['value']);?>%;"></div>
                                                        </div>
                                                        <span>&nbsp;(<?php echo round(($feeds['value']/20), 1, PHP_ROUND_HALF_UP)?>/5)</span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="quality">
                                                        <span class="wk-ordertitle-label"><?php echo __('Quality') ?> </span><span>:</span>
                                                        <div class="ratingslider-box">
                                                            <div class="rating" style="width:<?php echo ceil($feeds['quality']);?>%;"></div>
                                                        </div>
                                                        <span>&nbsp;(<?php echo round(($feeds['quality']/20), 1, PHP_ROUND_HALF_UP)?>/5)</span>
                                                        <div class="wk-clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php if ($companyLocality != ""): ?>
                            <div class="wk-seller-card-row">
                                <a class="wk-seller-location-link" title="<?php echo __($companyLocality); ?>" href="<?php echo  $helper->getRewriteUrl('marketplace/seller/location/shop/'.$shopUrl)."?loc=".$companyLocality?>" target="_blank">
                                    <?php echo __($companyLocality); ?>
                                </a>
                            </div>
                        <?php endif; ?>

                        <div class="wk-seller-card-row">
                            <span class="wk-ask-question-link"><a id="askque"><?php echo __('Contact Seller') ?></a></span>
							<div class="wk-seller-response-container">
								<div class ="wk-seller-response">
									<span class="response">
										<?php echo $respnseRate .__('% response rate,') ?>
										<?php echo $avgResponse. __('-mins response time') ?>
									</span>
								</div>
							</div>

                            <?php echo $block->getChildHtml();?>
                        </div>

                    </div>
                </div>
                <div class="wk-seller-card-product-block">
                    <?php if ($productCount > 0): ?>
                        <div class="wk-seller-card-product-container">
                            <?php $collection = $helper->getSellerProductCollection($sellerId, $product['entity_id'], $productCount); ?>
                            <?php foreach ($collection as $_product): ?>
                                <div class="wk-seller-card-product">
                                    <a href="<?php echo $_product->getProductUrl(); ?>" target="_blank" title="<?php echo $_product->getName(); ?>">
                                        <img src="<?php echo $helper->getImageUrl($_product); ?>">
                                    </a>
                                </div>
                            <?php endforeach; ?>
                            <?php if ($productCount > 5): ?>
                                <div class="wk-seller-card-product">
                                    <a href="<?php echo $collectionPageUrl; ?>" target="_blank">
                                        <span><?php echo __("View All %1 Products", $productCount); ?></span>
                                    </a>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </div>
            <?php else: ?>
                <div class="wk-seller-card-row">
                    <span class="wk-block-font-bold-up"><?php echo __('Sold By')?></span>
                </div>
                <div class="wk-seller-card-row">
                    <span class="wk-block-title-css">
                        <a href="<?php echo $profilePageUrl; ?>" title="<?php echo __('Visit Shop') ?>" id="profileconnect" target="_blank">
                            <?php echo $shopTitle; ?>
                        </a>
                    </span>
                </div>
                <?php if ($companyLocality != ""): ?>
                    <div class="wk-seller-card-row">
                        <a class="wk-seller-location-link" title="<?php echo __($companyLocality); ?>" href="<?php echo  $helper->getRewriteUrl('marketplace/seller/location/shop/'.$shopUrl)."?loc=".$companyLocality?>" target="_blank">
                            <?php echo __($companyLocality); ?>
                        </a>
                    </div>
                <?php endif; ?>
                <div class="wk-seller-card-row">
                    <?php if ($rating > 0) :?>
                        <div class="wk-seller-card-col">
                            <div class="wk-seller-rating-block">
                                <div class="wk-seller-rating-number">
                                    <?php echo number_format($rating, 1); ?>
                                </div>
                                <div class="wk-seller-rating-summery">
                                    <div class="wk-seller-rating wk-mp-design-inner">
                                        <div class="wk-seller-feedback-title">
                                            <span>
                                                <?php
                                                $review_percentage = (($rating*100)/5);
                                                echo $review_percentage."% ".__('positive feedback')." (".__('%1 ratings',number_format($feeds['feedcount'])).") ";
                                                ?>
                                            </span>
                                        </div>
                                        <div class="wk-mp-row">
                                            <div class="mpfeedback">
                                                <div class="price">
                                                    <span class="wk-ordertitle-label"><?php echo __('Price') ?> </span><span>:</span>
                                                    <div class="ratingslider-box">
                                                        <div class="rating" style="width:<?php echo ceil($feeds['price']);?>%;"></div>
                                                    </div>
                                                    <span>&nbsp;(<?php echo round(($feeds['price']/20), 1, PHP_ROUND_HALF_UP) ?>/5)</span>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="value">
                                                    <span class="wk-ordertitle-label"><?php echo __('Value') ?> </span><span>:</span>
                                                    <div class="ratingslider-box" >
                                                        <div class="rating" style="width:<?php echo ceil($feeds['value']);?>%;"></div>
                                                    </div>
                                                    <span>&nbsp;(<?php echo round(($feeds['value']/20), 1, PHP_ROUND_HALF_UP)?>/5)</span>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="quality">
                                                    <span class="wk-ordertitle-label"><?php echo __('Quality') ?> </span><span>:</span>
                                                    <div class="ratingslider-box">
                                                        <div class="rating" style="width:<?php echo ceil($feeds['quality']);?>%;"></div>
                                                    </div>
                                                    <span>&nbsp;(<?php echo round(($feeds['quality']/20), 1, PHP_ROUND_HALF_UP)?>/5)</span>
                                                    <div class="wk-clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="wk-seller-card-col">
                        <a class="wk-seller-product-count" href="<?php echo $collectionPageUrl; ?>" target="_blank">
                            <?php echo $productLabel; ?>
                        </a>
                    </div>
                </div>

                <div class="wk-seller-card-row">
                    <span class="wk-ask-question-link"><a id="askque"><?php echo __('Contact Seller') ?></a></span>
					<div class="wk-seller-response-container">
						<div class ="wk-seller-response">
							<span class="response">
								<?php echo $respnseRate .__('% response rate,') ?>
								<?php echo $avgResponse. __('-mins response time') ?>
							</span>
						</div>
					</div>
					<?php echo $block->getChildHtml();?>
                </div>
            <?php endif; ?>
        </div>
    </div>
	<div class="ask-que">
		<div id="wk-mp-ask-data" style="display:none">
			<?php
			if($_helper->isLoggedIn()){
				$readonly = "readonly='readonly'";
			}else{
				$readonly = '';
			}
			?>
			<form id="ask-form" method="post" action="#" class="fieldset" data-mage-init='{"validation":{}}' enctype="multipart/form-data" >
				<div class="form-list field required" data-bind="scope: 'customer'">
					<label class="label"><?php echo __('Support Type') ?> :</label>
					<select name="support_type" class="validate-select required-entry">
						<?php foreach ($_helper->getSupportTypes() as $key => $value) { ?>
							<option value=<?php echo $key; ?>><?php echo $value; ?></option>
						<?php }  ?>
					</select>

					<label class="label"><?php echo __('Your Name') ?> :</label>
					<input type="text" name="name" class="queryemail wk-contact_input_fields validate-no-html-tags required-entry" id="name" data-bind="value: customer().fullname" <?php echo $readonly ?>/>

					<label class="label"><?php echo __('Your Email') ?> :</label>
					<input type="email" name="email" id="email" data-bind="value: customer().email" class="queryemail validate-no-html-tags required-entry validate-email wk-contact_input_fields" <?php echo $readonly ?>/>

					<label class="label"><?php echo __('Subject') ?> :</label>
					<input type="text" name="subject" class="wk-contact_input_fields validate-no-html-tags required-entry"/>

					<label class="label"><?php echo __('Your Query') ?> :</label>
					<textarea id="queryquestion"  name="ask" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
          <script>
              require([
                  "jquery",
                  "mage/translate",
                  "mage/adminhtml/events",
                  "mage/adminhtml/wysiwyg/tiny_mce/setup"
              ], function(jQuery) {
                  wysiwygDescription = new wysiwygSetup("queryquestion1", {
                      "width" : "100%",
                      "height" : "200px",
                      "plugins" : [{"name":"image"}],
                      "tinymce4" : {
                          "toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                      }
                  });
                  wysiwygDescription.setup("exact");
              });
          </script>
					<input type="hidden" name="seller-id" value="<?php echo $sellerId;?>"/>
					<input type="hidden" name="product-id" value="<?php echo $product['entity_id'];?>" />
					<?php
					if($captchenable){?>
						<div>
							<span>
								<label for="wk-mp-captcha"><span id="wk-mp-captchalable1"><?php echo rand(1,20)?></span> + <span id="wk-mp-captchalable2"><?php echo rand(1,20)?></span> =</label>
							</span>
							<input type="text" class="required-entry wk-contact_input_fields" name="wk-mp-captcha" id="wk-mp-captcha" />
						</div>
					<?php
					}?>
					<label class="file" class=""><?php echo __('Add Image/File') ?> :</label>
					<div class="input-box">
						<div class="image-con">
							<input type="file" name="img_attachment[]" class="wk_imagevalidate"/>
							<a href="javascript:void(0)" class="remove_attch" style="display:none">
								<?php echo __('Remove'); ?>
							</a>
						</div>
						<div id="otherimages" class="image-con"></div>
						<a href="javascript:void(0)" class="product_images" id="add-more-images"><?php echo __("Add More"); ?></a><br />
					</div>
				</div>
			</form>
		</div>
	</div>

	<script id="attachment-template" type="text/x-magento-template">
	    <div id='childDiv<%- fields.index %>' class="image-con">
	        <input type='file' name='img_attachment[]' class='wk_imagevalidate'/>
	        <a href="javascript:void(0)" class="remove_attch"><?php echo __('Remove'); ?></a>
	    </div>
	</script>

	<?php
		$releventFormData = [
			'targetAjaxUrl' => $block->getUrl("mpsellerbuyercommunication/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]),
			'captchenable'  => $captchenable,
			'varificationMsg' => __(' enable to varifiy captcha'),
			'formValidator' => '#ask-form',
			'attachmentTemplate' => '#attachment-template',
			'saveAjaxFileUrl' => $block->getUrl("mpsellerbuyercommunication/seller/saveFiles", ["_secure" => $this->getRequest()->isSecure()])
		];

	$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventFormData);
	?>

	<script type="text/x-magento-init">
	    {
	        "*": {
	            "wkBlockFormplugin": <?php echo $serializedData; ?>
	        }
	    }
	</script>
	<script type="text/x-magento-init">
	{
		"*": {
			"Magento_Ui/js/core/app": {
				"components": {
					"customer": {
						"component": "Magento_Customer/js/view/customer"
					}
				}
			}
		}
	}
	</script>

<?php endif; ?>