<?php
$info               = $block->getInfoQuote();
$quote              = $block->getQuote();
$sellerName         = $block->getSellerNameById($block->getSellerId());
$collectionTeamJob  = $block->getCollectionTeamJob();
$collectionServices = $block->getCollectionServices();
$numTeamJob         = count($collectionTeamJob);
$numServices        = count($collectionServices);
$media              = $block->getPathMedia();
$order              = $block->getOrderByQuote();

$organization       = $quote->getOrganization();


?>
<div class="wk_mp_design">
	<div class="jobs_team">
		<div class="">
	        <div class="page-title">
	    		<h1 class="quote-title"><?php echo $quote->getSubject(); ?></h1>
	    	</div>
	    <div class="jobs_quoteinfo">
	    	<span><?= __("Proveedor adjudicado")?>: <?php echo $sellerName?></span>
	    	<span><?= __("Cotización:")?> ID <?php echo $quote->getEntityId(); ?></span>
	    </div>
	    </div>
	    <div class="jobsteams_container">
	    	<div class="page-title">
	    		<h1 class="quote-title"><?= __("Equipo de trabajo y entregables")?></h1>
	    	</div>
	    	<div class="page-description">En esta sección tendrás la posibilidad de monitorear el equipo de trabajo contratado, aceptar o rechazar cambios en los integrantes y ver el historial. Del mismo modo, podrás tener acceso al registro de entregables que garantizan la ejecución de los servicios.</div>
	    	<div class="team_section">
	    		<h2>Equipo de trabajo</h2>
	    		<p>Desliza el botón de Activación hacia la derecha (color verde) para dejar activos los integrantes del equipo.</p>
	    		<table>
	    			<thead>
	    				<tr>
	    					<th>
	    						ROL
	    					</th>
	    					<th>
	    						RUT/DNI
	    					</th>
	    					<th>
	    						NOMBRE COMPLETO
							</th>	    					
							<th>
	    						CV
	    					</th>
	    					<th class="center-text">
	    						HORAS
	    					</th>
	    					<th class="center-text">
	    						ÚLTIMA MODIFICACIÓN
	    					</th>
	    					<th>
	    						ACTIVACIÓN
	    					</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<?php foreach($collectionTeamJob as $item){
							$urlbasecv = $block->getUrlBaseCv();
							$additionalDataCv = $item->getAdditionalData();
							$urlCv   = '';
							if(!empty($additionalDataCv)){
								$unsData = $block->unSerializeData($item->getAdditionalData());
								$urlCv = ($unsData['cv'])?($urlbasecv.$unsData['cv']):'';
							}
                        ?>
	    				<tr>
	    					<td><?= $item->getRol() ?></td>
	    					<td><?= $item->getRut() ?></td>
							<td><?= $item->getName() ?></td>
							<td>
	    						<?= $urlCv?'<a href="'.$urlCv.'">Ver CV</a>':'';?>
	    					</td>
	    					<td class="center-text"><?= $item->getHours() ?></td>
	    					<td class="center-text"><?= $item->getCreatedAt() ?></td>
	    					<td>
	    						<label class="switch">
								  <input class="" type="checkbox" data-teamid="<?php echo $item->getId(); ?>" <?= $item->getActive()?'checked="checked" disabled="disabled"':'';?> >
								  <span class="slider round updateteam"></span>
								</label>
							</td>
	    				</tr>
	    			<?php }?>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div class="jobs_section">
	    		<h2>Entregables</h2>
	    		<p>Desliza el botón de Activación hacia la derecha (color verde) para aceptar el entregable acordado según el contrato.</p>
	    		<table>
	    			<thead>
	    					<th>
	    						NOMBRE
	    					</th>
	    					<th>
	    						DETALLE
	    					</th>
	    					<th class="center-text">
	    						FECHA ENTREGA
	    					</th>
	    					<th>
	    						INFORME
	    					</th>
	    					<th>
	    						ACTIVACIÓN
	    					</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<?php foreach($collectionServices as $services){
                    $urlbaseinf = $block->getUrlBaseInforme();
                    $additionalData = $services->getAdditionalData();
                    $urlInforme   = '';
                    if(!empty($additionalData)){
                        $unsData = $block->unSerializeData($services->getAdditionalData());
                        $urlInforme = $urlbaseinf.$unsData['informe'];
                    }
                    
                    ?>
	    				<tr>
	    					<td>
	    						<?= $services->getName(); ?>
	    					</td>
	    					<td>
	    						<?= $services->getDetails(); ?>
	    					</td>
	    					<td class="center-text">
	    						<?= $services->getDeliverDate(); ?>
	    					</td>
	    					<td>
	    						<a href="<?php echo $urlInforme; ?>">Ver Informe</a>
	    					</td>
	    					<td>
	    						<label class="switch">
								  <input class="" type="checkbox" data-serviceid="<?php echo $services->getId(); ?>" <?= $services->getActive()?'checked="checked" disabled="disabled"':'';?>>
								  <span class="slider round updateservice"></span>
								</label>
	    					</td>
	    				</tr>
	    			<?php }?>
	    			</tbody>
	    		</table>
	    	</div>

	    </div>
	</div>
</div>
<style>
	.center-text{
		text-align: center;
	}
.jobs_team {
    background: #FFF;
    padding: 40px 30px;
}

h1.quote-title {font-weight: 300;font-size: 24px;margin: 0 0 5px 0;}
.jobsteams_container h2 {
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
}
.jobs_quoteinfo span {
    display: block;
    font-weight: 600;
}

.jobs_quoteinfo {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(177, 177, 177);
    margin-bottom: 15px;
}

.jobsteams_container th {
    color: rgb(135, 152, 173);
    font-size: 12px;
}

.jobsteams_container td {
    font-size: 12px;
}

.jobsteams_container tbody tr {
    border:1px solid rgb(177, 177, 177);
    margin:5px;
}

.jobsteams_container td:last-child, .jobsteams_container th:last-child {
    text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(51, 172, 46);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(51, 172, 46);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<script>
	require([
        'jquery',
        'Magento_Customer/js/customer-data'
	], function($,customerData){
        $(document).on('click','.slider.updateteam',function() {
        		var activeT = 0;
        		if($(this).parent().find("input").is(":checked")){
	        		activeT = 0;
        		}else{
	        		activeT = 1;
        		}
                $.ajax({
                    showLoader: false,
                    url: "<?= $block->getUrl('quotessupplier/account/updateteam')?>",
                    data: {"id" : $(this).parent().find("input").data("teamid"), "isTeam" : 1, "active":activeT},
                    type: "POST"
                }).done(function (data) {
                	console.log(data);
                    return true;
                });
        });
        $(document).on('click','.slider.updateservice',function() {
        		var activeS = 0;
        		if($(this).parent().find("input").is(":checked")){
	        		activeS = 0;
        		}else{
	        		activeS = 1;
        		}
                $.ajax({
                    showLoader: false,
                    url: "<?= $block->getUrl('quotessupplier/account/updateteam')?>",
                    data: {"id" : $(this).parent().find("input").data("serviceid"), "isService" : 1, "active":activeS},
                    type: "POST"
                }).done(function (data) {
                	console.log(data);
                    return true;
                });
        });

	});
</script>