<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAttributeMapping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/** @var $block \Webkul\Marketplace\Block\Product\Create */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$mappingHelper = $this->helper('Webkul\MpAttributeMapping\Helper\Data');
$firstLevelCategory=$mappingHelper->getRootCategoriesOfStore();
$partner=$helper->getSeller();
if(($partner['twitter_id']=='')||($partner['facebook_id']=='')||($partner['banner_pic']=='')||($partner['logo_pic']=='')||($partner['company_locality']=='')||($partner['country_pic']=='')||($partner['company_description']=='')){?>
		<div class="wk-profile-alert">
			<strong><?php echo __('Warning')?>! </strong><?php echo __('Please Complete')?>
			<a href="<?php echo $block->getUrl('marketplace/account/editprofile', ['_secure' => $this->getRequest()->isSecure()])?>" style="color: inherit;"><?php echo __('Your Profile')?></a>
			<span class="wk-close">X</span>
		</div>
<?php 
} ?>
<style>
.hidden{display:none !important;}
</style>
<form action="<?php echo $block->getUrl('marketplace/product/create', ['_secure' => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new" data-mage-init='{"validation":{}}'>
	<div class="wk-mp-design">
		<fieldset class="fieldset info wk-mp-fieldset">
			<legend class="legend">
				<span><?php echo __('Add New Product') ?></span>
				<button class="button wk-mp-btn" title="Continue" type="submit">
					<span><span><?php echo __('Continue') ?></span></span>
				</button>
			</legend>
			<?php echo $block->getBlockHtml('formkey')?>
			<?php echo $block->getBlockHtml('seller.formkey')?>
			<?php if($mappingHelper->getModuleEnabled()):
				if($firstLevelCategory->getSize()>0):
				?>
				<form action="<?php echo $block->getUrl('multiselect/manage/save', ['_secure' => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post"  data-mage-init='{"validation":{}}'>
					<fieldset class="fieldset wk_mapping-fieldset">
						<div class="field required">
							<label class="label"><?php echo __('Select Category') ?>:</label>
							<div data-bind="scope: 'customCategory'">
								<!-- ko template: getTemplate() --><!-- /ko -->
							</div>
							<script type="text/x-magento-init">
								{
									"*": {
										"Magento_Ui/js/core/app": {
											"components": {
												"customCategory": {
													"component": "Magento_Ui/js/form/element/ui-select",
													"template" : "Webkul_MpAttributeMapping/ui-select",
													"filterOptions": true,
													"levelsVisibility": "1",
													"multiple": false,
													"showCheckbox": true,
													"options": <?php echo $block->getCategoriesTree()?>
												}
											}
										}
									}
								}
							</script>
						</div>
					</fieldset>
				</form>
				<?php endif;
				endif; ?>
			
			<?php if (count($helper->getAllowedProductTypes()) > 1) { ?>
				<div class="field required">
					<label class="label"><?php echo __('Product Type') ?>:</label>
					<div class="control">
						<select name="type" class="required-entry">
						<?php 
						foreach($helper->getAllowedProductTypes() as $type) {?>
							<option value="<?php echo $type['value'] ?>"><?php echo $type['label']?></option>
						<?php } ?>
						</select>
					</div>
				</div>
			<?php 
			} else { 
				$allowedProducts = $helper->getAllowedProductTypes();
				?>
				<input type="hidden" name="type" value="<?php echo $allowedProducts[0]['value'] ?>" />
				<?php 
			} ?>
			<?php echo $block->getChildHtml(); ?>
		</fieldset>
	</div>		
</form>
<div class="buttons-set">
	<p class="required">* <?php echo __('Required Fields') ?></p>		
	<p class="back-link">
		<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
	</p>
</div>
