<?php
/**
 * @var Webkul\Marketplace\Block\Account\Navigation $block
 */
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');
$isSeller = $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isSeller && $this->getViewModel()->isAllowed()): ?>
    <li id="wk-mp-menu-price-adjustment-request"
        class="nav item notification-link wk-mp-item-price level-0 <?php echo strpos($magentoCurrentUrl, 'priceadjustmentrequest/request/index') ? "current" : ""; ?>">
        <a href="<?php echo $block->getUrl('priceadjustmentrequest/request/index', ['_secure' => $this->getRequest()->isSecure()]); ?>">
            <?php /* @escapeNotVerified */
            echo __('Request Price Adjustment') ?>
        </a>
    </li>
    <li id="wk-mp-menu-price-adjustment-request-list"
        class="nav item notification-link level-0 <?php echo strpos($magentoCurrentUrl, 'priceadjustmentrequest/request/history') ? "current" : ""; ?>">
        <a href="<?php echo $block->getUrl('priceadjustmentrequest/request/history', ['_secure' => $this->getRequest()->isSecure()]); ?>">
            <?php /* @escapeNotVerified */
            echo __('Request Price Adjustment History') ?>
        </a>
    </li>
<?php endif; ?>