/* STAMPS STYLES */
.admin__field.field[class*="field-wkv_dccp_stamp_"]{
    display:none;
}
.cc-seller-stamps .cc-seller-stamp{
    margin:5px 3px 0 0;
    display:inline-block;
    max-width:35px;
    position:relative;
}
.seller-profile-stamps .cc-seller-stamps .cc-seller-stamp{
    max-width:70px;
    margin:5px 7px 0 0;
}
.cc-seller-stamps .cc-seller-stamp::before{
    content:attr(data-title);
    position:absolute;
    bottom:calc(100% + 5px);
    left:-105px;
    right:0;
    width:270px;
    background:rgba(46, 56, 77, 0.9);
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
    color:#fff;
    padding:5px 10px;
    border-radius:5px;
    margin:0 auto -5px;
    opacity:0;
    visibility:hidden;
    z-index:1;
    transition:cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    font-size:13px;
}
.cc-seller-stamps .cc-seller-stamp::after{
    content:"";
    border-top:7px solid rgba(46, 56, 77, 0.85);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    position:absolute;
    bottom:100%;
    right:0;
    left:0;
    margin:0 auto -5px;
    width:0px;
    opacity:0;
    visibility:hidden;
    z-index:2;
    transition:cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.seller-profile-stamps .cc-seller-stamps .cc-seller-stamp::before{
    left:-70px;
}
.first-left-tooltip .cc-seller-stamps .cc-seller-stamp:nth-of-type(1)::before{
    left:0;
}
.last-right-tooltip .cc-seller-stamps .cc-seller-stamp:last-of-type::before{
    left:auto;
    right:0;
}
.cc-seller-stamps .cc-seller-stamp:hover::before,
.cc-seller-stamps .cc-seller-stamp:hover::after{
    opacity:1;
    visibility:visible;
    margin-bottom:0;
}
.cc-seller-stamps .no-stamps{
    margin:5px 0;
    display:none;
}
.seller-profile-stamps .cc-seller-stamps .no-stamps{
    display:block;
}
@media screen and (max-width:767px){
  .cc-seller-stamps{
      margin:10px 0 20px;
  }
}
