<?php
/**
 * @var Webkul\Marketplace\Block\Profile $block
 */
?>
<?php
$helper = $this->helper('Webkul\MpAssignProduct\Helper\Data');
$partner = $block->getProfileDetail();
$customer = $helper->getCustomer($partner->getSellerId());

$attrs =
    [
        [ 'key' => 'wkv_dccp_business_name', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_fantasy_name', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_rut', 'type' => 'text' ],
        [ 'key' => 'wkv_dccp_lega_rep_name', 'type' => 'text'],
        [ 'key' => 'wkv_replegal_phone', 'type' => 'text'],
        [ 'key' => 'wkv_replegal_mail', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_address', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_commune', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_region', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_name', 'type' => 'text' ],
        [ 'key' => 'wkv_dccp_email', 'type' => 'text' ],
        [ 'key' => 'wkv_dccp_phone', 'type' => 'text' ],
        [ 'key' => 'wkv_dccp_years_experience', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_limit_of_offers', 'type' => 'text'],
        [ 'key' => 'wkv_dccp_sell_boxes_bags', 'type' => 'boolean'],
    ];
?>
<div class="box-regional-info">
    <div class="item">
        <table class="admin__table-secondary order-information-table">
            <tbody>
            <?php foreach($attrs as $attr):
                if($_attr = $customer->getAttribute($attr['key'])):
                    $value = $customer->getData($attr['key']);
                    switch($attr['type']){
                        case 'percent':
                            $value = $value.'%';
                            break;
                        case 'boolean':
                            $value = $value == '1' ? __('Yes') : __('No');
                            break;
                        case 'date':
                            $value = date('d/m/Y', strtotime($value));
                            break;
                    }
                    ?>
                    <tr>
                        <th width="50%"><?= $_attr->getStoreLabel() ?></th>
                        <td><?= $value ?></td>
                    </tr>
                <?php endif; endforeach; ?>
            </tbody>
        </table>
    </div>
</div>