<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$productId = $block->getProduct();
?>
<a data-ccrole="cc-mlogin-action" href="<?= $block->escapeUrl($block->getUrl('requestforquote/index/index', ['product_id' => $productId])) ?>"  class="action primary toquote">
	<span><?php echo __('Get a Quote'); ?></span>
</a>
