<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Requestforquote
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$productId = $block->getProductId();
$helper = $block->getRfqHelper();
$helper->clearCache();
$helpermp = $block->getMpHelper();
$product = $block->getProductDetails($productId);
$attributeDescription = "";
$adminDefinedAttributes = $block->getAdminDefinedAttributeData();
if (isset($product['name'])) {
    $productName =  $product['name'];
    $mediaGalleryImages = $product->getMediaGalleryImages();
    $productImage = $product->getImage();
    $productDescription = $product->getShortDescription();
    $productDescription = $productDescription . "<br/>".$product->getDescription();
    $_helper = $block->getCatalogOutputHelper();
    $imageHelper = $block->getCatalogImageHelper();
    if ($_additional = $block->getAdditionalData()) :
        $productDescription = $productDescription . '<h2>'.('Additional Information').'</h2><table class="data-table"><col width="25%" /><col /><tbody>';
        foreach ($_additional as $_data) :
            $productDescription = $productDescription . '<tr><th class="label">' . $block->escapeHtml($_data['label']) . '</th><td class="data">' . $_helper->productAttribute($product, $_data['value'], $_data['code']) . '</td></tr>';
           endforeach;
        $productDescription = $productDescription . '</tbody></table><br/>';
    endif;
    if (!empty($adminDefinedAttributes)) {
            $attributeDescription = $attributeDescription . '<table class="data-table"><col width="25%" /><col /><tbody>';
        foreach ($adminDefinedAttributes as $adminDefinedAttribute) :
            $requiredClass = '';
            $astrikOnLabel = '';
            $isRequired = 'not required';
            if ($adminDefinedAttribute['is_required']) {
                $requiredClass = 'required-entry';
                $astrikOnLabel = ' webkul-rfq-req';
                $isRequired = 'required';
            }
            if ($adminDefinedAttribute['status']) {
                $attributeDescription = $attributeDescription . '<tr><th class="label'.$astrikOnLabel.'">' .$adminDefinedAttribute['label']. '</th><td class="data"><input class="wk_req_admin_defined_attribute_input '.$requiredClass.'" name="'.'atr['.$adminDefinedAttribute['code'].'_'.$adminDefinedAttribute['type'].']" type="'.$adminDefinedAttribute['type'].'" value="'.$adminDefinedAttribute['value'].'"><span class="wk_req_admin_defined_attribute_span_text">'.$adminDefinedAttribute['value'].'</span></td></tr>';
                $attributeDescription = $attributeDescription . '<input type="hidden" name="'.$adminDefinedAttribute['code'].'_'.$adminDefinedAttribute['type'].'_hidden" value="'.$isRequired.'">';
            }
            endforeach;
            $attributeDescription = $attributeDescription . '</tbody></table><br/>';
    }
} else {
    if (!empty($adminDefinedAttributes)) {
        $attributeDescription = $attributeDescription . '<table class="data-table"><col width="25%" /><col /><tbody>';
        foreach ($adminDefinedAttributes as $adminDefinedAttribute) :
                $requiredClass = '';
                $astrikOnLabel = '';
                $isRequired = 'not required';
            if ($adminDefinedAttribute['is_required']) {
                $requiredClass = 'required-entry';
                $astrikOnLabel = ' webkul-rfq-req';
                $isRequired = 'required';
            }
            if ($adminDefinedAttribute['status']) {
                $attributeDescription = $attributeDescription . '<tr><th class="label'.$astrikOnLabel.'">' .$adminDefinedAttribute['label']. '</th><td class="data"><input class="wk_req_admin_defined_attribute_input '.$requiredClass.'" name="'.'atr['.$adminDefinedAttribute['code'].'_'.$adminDefinedAttribute['type'].']" type="'.$adminDefinedAttribute['type'].'" value="'.$adminDefinedAttribute['value'].'"><span class="wk_req_admin_defined_attribute_span_text">'.$adminDefinedAttribute['value'].'</span></td></tr>';
                $attributeDescription = $attributeDescription . '<input type="hidden" name="'.$adminDefinedAttribute['code'].'_'.$adminDefinedAttribute['type'].'_hidden" value="'.$isRequired.'">';

            }
        endforeach;
        $attributeDescription = $attributeDescription . '</tbody></table><br/>';
    }
    $productName =  '';
    $mediaGalleryImages = [];
    $productImage = '';
    $productDescription = '';
}
?>
<div class="wk_mp_rfq control">
    <div class="page-title">
        <h1><?= /*@noEscape*/ __('Quote a better price') ?></h1>
    </div>
    <form action="<?= $block->escapeUrl($block->getUrl('requestforquote/index/post')) ?>" enctype="multipart/form-data" method="post" id="form-rfq-new" data-mage-init='{"validation":{}}'>
        <input type="hidden" name="product_id" value="<?= $block->escapeHtml($productId) ?>">
        <div class="wk_mp_rfq_first_container">
            <div class="wk_mp_rfq_subject">
                <label class="label"><?= /*@noEscape*/ __('Product Name'); ?></label>
                <input type="text" name="subject" class="input-text required-entry validate-no-html-tags" placeholder="<?= /*@noEscape*/ __("Product name you are looking for") ?>" value="<?= $block->escapeHtml($productName) ?>">
            </div>
               <div class="wk_mp_rfq_qty">
                    <label class="label"><?= /*@noEscape*/ __('Quantity'); ?></label>
                   <input type="text" name="bulk_order_qty" min="<?= $block->escapeHtml($helper->getMinQtyForRfq());?>" class="input-text required-entry validate-greater-than-zero integer" placeholder="<?= /*@noEscape*/ __("Quantity") ?>" value="<?= $block->escapeHtml($helper->getMinQtyForRfq()) ?>">
                   <input type="hidden" name="bulk_order_qty_hidden"  value="<?= $block->escapeHtml($helper->getMinQtyForRfq()) ?>">
               </div>
        </div>
        <div class="field required custom-hide">
            <label class="label"><?= /*@noEscape*/ __('Tax Class') ?>:</label>
            <div class="control">
                <select id="tax-class-id" class=" required-entry required-entry select" name="tax_class_id">
                    <option value="0" selected><?= /*@noEscape*/ __('None')?></option>
                    <?php
                    $taxes=$helpermp->getTaxClassModel();
                    foreach ($taxes as $tax) {
                        ?>
                        <option value="<?= $block->escapeHtml($tax->getId()) ?>"><?= $block->escapeHtml($tax->getClassName())?></option>
                        <?php
                    } ?>
                </select>
            </div>
        </div>
        <div class="wk_mp_rfq_second_container" style="height:100%;padding-bottom:4%">
            <div class="wk_mp_rfq_image_wrapper">
                <?php
                $i = 1;
                if (count($mediaGalleryImages)) {
                    foreach ($mediaGalleryImages as $image) {
                        $imageName = $block->copyImageToFolder($image);
                        ?>
                        <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                            <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($image->getFile())->resize(200, 130)->getUrl()); ?>">
                            <?php if ($imageName !='') { ?>
                                <input type="hidden" name="sample_images[]" value="<?= $block->escapeHtml($imageName); ?>">
                            <?php } ?>
                        </div>
                        <?php
                        $i++;
                    }
                } elseif ($productImage) {
                    ?>
                    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<?= $block->escapeHtml($i) ?>">
                        <img class="wk_mp_rfq_image" src="<?= $block->escapeUrl($imageHelper->init($product, 'product_thumbnail_image')->setImageFile($productImage)->resize(200, 130)->getUrl()); ?>">
                    </div>
                    <?php
                    $i++;
                }?>
                <label for="sample_images" class="wk_mp_rfq_image_label">
                    <span class="wk_mp_rfq_image_span_icon">+</span>
                    <span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>
                </label>
                <input type="file" id="sample_images" style="display: none;" multiple>
            </div>

            <div class="textarea-wrapper">
					<label class="label"><?= /*@noEscape*/ __('Description'); ?></label>
            <div contenteditable="false" class="wk_mp_rfq_textarea_container " data-text="<?= /*@noEscape*/ __('Write your product description here including all necessary details.') ?>"><?= $productDescription ?></div>
            <textarea name="description" style="display:block;visibility:hidden;height:0px;" class="wk_mp_rfq_textarea validate-script-tags" ><?= $block->escapeHtml($productDescription); ?></textarea>
            <textarea name="attribute_description" style="display:none;" class="wk_mp_rfq_admin_defined_attribute_textarea" ><?= $block->escapeHtml($attributeDescription); ?></textarea>
            </div>

            <?php if ($attributeDescription!="") {?>
            <span><h2 style="padding:10px;"><?= /*@noEscape*/ __('Admin Attribute Information') ?></h2></span>
                <div style="overflow:auto;width:100% !important;height:181px;padding:10px;" class="wk_mp_rfq_admin_defined_attribute_textarea_container">
                    <?= $block->escapeHtml($attributeDescription); ?>
                </div>
            <?php } ?>
        </div>
        <button class="button" type="submit">
            <span>
                <span>
                    <?= /*@noEscape*/ __("Request for Quote") ?>
                </span>
            </span>
        </button>
    </form>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'mage/template',
        'mage/validation',
        'mage/calendar'
    ], function ($wk_jq,template) {
        var i = <?= $block->escapeHtml($i) ?>;

        $wk_jq.validator.addMethod(
        'integer', function (value, element) {
        return this.optional(element) || /^-?\d+$/.test(value);
        }, $wk_jq.mage.__('A positive non-decimal number please'));

        $wk_jq.validator.addMethod(
        'validate-script-tags', function (value, element) {
            return !/<script\b[^>]*>([\s\S]*?)<\/script>/.test(value);
        }, $wk_jq.mage.__('SCRIPT tags are not allowed.'));

        $wk_jq(document).on('change', '#sample_images', function () {
            var thisthis = $wk_jq(this);
            var countlength = 0;
            var length = thisthis.prop("files").length;
            $wk_jq.each(thisthis.prop("files"), function (index, value) {
                thisthis.parent().find('.wk_mp_rfq_image_label').html('<div style="position:relative;top:23px;" class="cp-spinner cp-round"></div>');
                var file_data = thisthis.prop("files")[index];

                var form_data = new FormData();

                form_data.append("sample_images", file_data);

                $wk_jq.ajax({
                    url: "<?= $block->escapeUrl($block->getUrl('requestforquote/index/sampleupload'));?>",
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    success: function (content) {
                        if(content.type){
                            var templatee = "";
                            var ImageTemplate = template('#requestForQuoteImageTemplate');
                                templatee += ImageTemplate({
                                data: {
                                    index:i,
                                    imageUrl:content.fileurl,
                                    imageName:content.filename

                                }
                            });
                            $wk_jq(templatee).insertBefore(".wk_mp_rfq_image_label");
                            thisthis.val('');
                            i = i+1;
                            countlength = countlength+1;
                            if (countlength == length) {
                                thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            }
                        }else{
                            thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                            thisthis.val('');
                            alert(content.errormsg);
                        }
                    },
                    error: function (content) {
                        thisthis.parent().find('.wk_mp_rfq_image_label').html('<span class="wk_mp_rfq_image_span_icon">+</span><span class="wk_mp_rfq_image_span_text"><?= /*@noEscape*/ __("Click here to add sample files") ?>...</span>');
                        thisthis.val('');
                        alert(content.errormsg);
                    }
                });
            });
        });
        $wk_jq('#form-rfq-new').on('submit',function(e){
            if ($wk_jq('#form-rfq-new').validation('isValid') == true) {
                $wk_jq('#form-rfq-new button[type="submit"]').attr('disabled','true');
                return;
            }
            e.preventDefault();
        });
        $wk_jq(document).on('click', '.wk_mp_rfq_image_delete', function () {
            $wk_jq(this).parents('.wk_mp_rfq_image_box').remove();
        })

        $wk_jq(document).on('keyup', '.wk_mp_rfq_textarea_container', function() {
            $wk_jq('.wk_mp_rfq_textarea').html($wk_jq(this).html());
        });

        $wk_jq(document).on('keyup', '.wk_mp_rfq_admin_defined_attribute_textarea_container', function() {
            $wk_jq('.wk_mp_rfq_admin_defined_attribute_textarea').html($wk_jq(this).html());
        });
    });
</script>
<script id="requestForQuoteImageTemplate" type="text/x-magento-template">
    <div class="wk_mp_rfq_image_box" id="wk_mp_rfq_image<%- data.index %>">
        <img class="wk_mp_rfq_image" src="<%- data.imageUrl %>">
        <input type="hidden" name="sample_images[]" value="<%- data.imageName %>">
        <div class="actions">
            <button type="button" class="wk_mp_rfq_image_delete" title="<?= /*@noEscape*/ __("Delete file") ?>">
                <span><?= /*@noEscape*/ __("Delete file") ?></span>
            </button>
          </div>
    </div>
</script>
