<div class="payment-option _collapsible opc-payment-additional tax-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Apply Tax Rule'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-tax" id="wktax-form">
            <div class="payment-option-inner">
                <div class="field" data-bind="foreach: rules">
                    <div class="control">
                        <input class="input-text wk_tax_rules"
                               type="radio"
                               name="rule_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: code, checked: $parent.checkStatus(allow_comment, checked),
                               attr: {
                                 id: 's_method_' + code
                               }"/>
                               <label class="label" data-bind="attr: {
                                   for: 's_method_' + code
                                 }">
                                   <span data-bind="text: text"></span>
                               </label>
                    </div>
                    <!--ko if: allow_comment == true  -->
                    <div class="field wk_order_comment" data-bind="visible: $parent.isVisible">
                        <div class="control">
                            <input class="input-text" type="text" id="rule-text" name="tax_comment"
                                   data-validate="{'required-entry':true}" data-bind="value: comment, placeholder: $t('Add Order Note')" />
                        </div>
                    </div>
                  <!-- /ko -->
                </div>
                <input type="hidden" data-bind="text:applyautoselection()" />
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Tax Rule'), click: apply">
                        <span><!-- ko i18n: 'Apply Tax Rule'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
