<div id="categories-list" data-bind="scope: 'sellerCategory'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "sellerCategory": {
                        "component": "Formax_PriceDispersion/js/product/seller-category-tree",
                        "template" : "Formax_PriceDispersion/seller-category-tree",
                        "filterOptions": true,
                        "levelsVisibility": "1",
                        "options": <?php echo $block->getCategoriesTree()?>
                    }
                }
            }
        }
    }
</script>
<script>
    require(['jquery', 'Magento_Ui/js/modal/confirm'], function($, confirmation) {        
        window.confirmFunction = function () {
            confirmation({
                title: $.mage.__('Are you sure you want to do this?'),
                actions: {
                    confirm: function(){
                        $("#edit_form").submit();
                    },
                    cancel: function(){
                        return false;
                    }
                }
            });
        }
    });
</script>
