<?php
/** @var \Formax\PriceDispersion\ViewModel\DispersionHistory\Details\View $viewModel */
/** @var \Magento\Framework\View\Element\Template $block */
$viewModel = $block->getData('view_model');

$dispersionHistoryData = $viewModel->getDispersionHistory()->getData();
$assignProductIds = [];
$assignProductIdsDisabled = [];
if ($dispersionHistoryData['status']) {
    $assignProductIds = $viewModel->getDispersionHistory()->getFirstAssignProductIds();
} else {
    $assignProductIds = $viewModel->getDispersionHistory()->getAssignProductIds();
    $firstAssignProductIds = $viewModel->getDispersionHistory()->getFirstAssignProductIds();
    $assignProductIdsDisabled = array_diff_key($firstAssignProductIds, $assignProductIds);
}
$categories = $viewModel->getCategories();
?>
<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="table-layout: fixed; width: 90%">
    <tbody>
    <tr>
        <td class="tg-buh4">Status</td>
        <td class="tg-0lax"><?= $dispersionHistoryData['status'] ? 'Completed' : 'Incomplete'; ?></td>
    </tr>
    <tr>
        <td class="tg-buh4">Created At</td>
        <td class="tg-0lax"><?= $dispersionHistoryData['created_at'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4">Updated At</td>
        <td class="tg-0lax"><?= $dispersionHistoryData['updated_at'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4">Price Percentage</td>
        <td class="tg-0lax"><?= $dispersionHistoryData['price_percentage'] . '%' ?></td>
    </tr>
    <tr>
        <td class="tg-buh4">Categories</td>
        <td class="tg-0lax"><?= $categories ?></td>
    </tr>
    <tr>
        <td class="tg-buh4"><span style="font-weight:400;font-style:normal">Product Count Total</span></td>
        <td class="tg-0lax"><?= $dispersionHistoryData['product_count_total'] ?></td>
    </tr>
    <tr>
        <td class="tg-buh4">Product Count Actual</td>
        <td class="tg-0lax"><?= $dispersionHistoryData['product_count_actual'] ?></td>
    </tr>
    </tbody>
</table>
<?php if ($dispersionHistoryData['status']): ?>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that were disabled by dispersion'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIds as $value): ?>
        <tr>
            <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
            <td class="tg-0lax"><?= $value['id'];?></td>
            <td class="tg-buh4"><?= __('Product ID'); ?></td>
            <td class="tg-0lax"><?= $value['product_id'];?></td>
            <td class="tg-buh4"><?= __('Seller ID'); ?></td>
            <td class="tg-0lax"><?= $value['seller_id'];?></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that were disabled by dispersion'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIdsDisabled as $value): ?>
            <tr>
                <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['id'];?></td>
                <td class="tg-buh4"><?= __('Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['product_id'];?></td>
                <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                <td class="tg-0lax"><?= $value['seller_id'];?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <br/>
    <table class="tg" style="table-layout: fixed; width: 90%">
        <thead>
        <tr>
            <th class="tg-buh4" colspan="6" style="text-align: center;"><?= __('List of assign product items that still need to be disabled by dispersion'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($assignProductIds as $value): ?>
            <tr>
                <td class="tg-buh4"><?= __('Assign Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['id'];?></td>
                <td class="tg-buh4"><?= __('Product ID'); ?></td>
                <td class="tg-0lax"><?= $value['product_id'];?></td>
                <td class="tg-buh4"><?= __('Seller ID'); ?></td>
                <td class="tg-0lax"><?= $value['seller_id'];?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
