<?php
    $helper = $this->helper("Formax\PriceDispersion\Helper\Data");
    
    $postData = $helper->getPostData();
    
    $productCount = count($postData['assignProductIds']);

    $data = [
            "importUrl" => $this->getUrl('pricedispersion/index/save'),
            "finishUrl" => $this->getUrl('pricedispersion/index/finish'),
            "notCompletedUrl" => $this->getUrl('pricedispersion/history/notcompleted'),
            "completeLabel" => __("Completed"),
            "notCompletedLabel" => __("Not Completed"),
            "productCount" => $productCount,
            "pricePercentage" => $postData['pricePercentage'],
            "productData" => $postData['assignProductIds'],
            "allCategories" => $postData['allCategories'],
            "dispersionHistoryId" => $postData['dispersionHistoryId'],
            "newIndex" => $postData['newIndex']
        ];
    $data = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($data);
    
?>
<fieldset class="fieldset">
    <div class="wk-mu-note wk-mu-box">
        <?php echo __("Starting Execution..."); ?>
    </div>
    <div class="wk-mu-notice wk-mu-box">
        <?php echo __("Please don't close or refresh the window while product prices are updating."); ?>
    </div>
    <div class="wk-mu-success wk-mu-box">
        <?php echo __("Total %1 Product(s) to update.", $productCount); ?>
    </div>
    <?php if($productCount > 0): ?>
        <div class="wk-mu-info-bar">
            <div class="wk-mu-importing-loader"></div>
            <div class="wk-mu-info-bar-content">
                <?php echo __("Updating"); ?> <span class="wk-current">1</span> <?php echo __("of"); ?> <?= $productCount;?>
            </div>
        </div>
        <div class="wk-mu-progress-bar">
            <div class="wk-mu-progress-bar-current"></div>
        </div>
    <?php else: ?>
        <div class="wk-mu-note wk-mu-box">
            <?php echo __("No Product to update."); ?>
        </div>
        <div class="wk-mu-note wk-mu-box">
            <?php echo __("Finsihed Execution."); ?>
        </div>
    <?php endif; ?>
</fieldset>
<script type="text/x-magento-init">
    {
        "body": {
            "Formax_PriceDispersion/js/category": <?php echo $data ?>
        }
    }
</script>
